<ng-container *ngIf="items.changes | async"></ng-container>
<div
    class="t-scroller"
    (tuiCarouselScroll)="onScroll($event)"
>
    <div class="t-wrapper">
        <div
            waIntersectionObserver
            waIntersectionThreshold="0,1"
            waIntersectionRootMargin="100px 100000px 100px -51%"
            class="t-items"
            [style.transform]="transform"
            (tuiPan)="onPan($event[0])"
            (tuiSwipe)="onSwipe($event.direction)"
            (tuiCarouselAutoscroll)="onAutoscroll()"
        >
            <fieldset
                *ngFor="let item of items; let i = index"
                class="t-item"
                [disabled]="isDisabled(i)"
                [ngStyle]="getStyle(itemsCount)"
                (waIntersectionObservee)="onIntersection($event[0], i)"
            >
                <ng-container [ngTemplateOutlet]="item"></ng-container>
            </fieldset>
        </div>
    </div>
</div>
