@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: relative;
    display: block;
    overflow: hidden;

    &._draggable {
        user-select: none;

        &:hover {
            cursor: grab;
        }

        &:active {
            cursor: grabbing;
        }
    }
}

.t-items {
    display: flex;

    :host._transitioned & {
        .transition(transform);
    }
}

.t-item {
    display: flex;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: var(--tui-carousel-padding, 0 1.25rem);
    border: none;
    margin: 0;
}

.t-wrapper {
    position: sticky;
    right: 0;
    left: 0;
    overflow: hidden;
    min-width: 100%;
}

.t-scroller {
    .scrollbar-hidden();

    display: flex;
    overflow: auto;
    overscroll-behavior-x: none;

    &:before,
    &:after {
        display: block;
        min-width: 1rem;
        content: '';
    }
}
