@import 'taiga-ui-local';

:host {
    position: relative;
    display: block;
    overflow: hidden;

    &._draggable {
        user-select: none;

        &:hover {
            cursor: grab;
        }

        &:active {
            cursor: grabbing;
        }
    }
}

.t-items {
    display: flex;

    :host._transitioned & {
        .transition(transform);
    }
}

.t-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.25rem;
    flex: 1;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: none;
    margin: 0;
}

.t-wrapper {
    position: sticky;
    left: 0;
    right: 0;
    min-width: 100%;
    overflow: hidden;
}

.t-scroller {
    .scrollbar-hidden();
    display: flex;
    overflow: auto;
    overscroll-behavior-x: none;
    padding-bottom: 2rem;
    margin-bottom: -2rem;

    &:before,
    &:after {
        content: '';
        display: block;
        min-width: 1rem;
    }
}
