<tui-doc-page
    header="InputNumber"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <div class="tui-space_bottom-3">A component to input numbers. Control value is also of number type.</div>

        <section>
            <h3>There are also other components to input numbers:</h3>
            <ul class="tui-list tui-list_small">
                <li class="tui-list__item">
                    <a
                        tuiLink
                        [routerLink]="docPages.Slider"
                    >
                        <strong>Slider</strong>
                    </a>
                </li>
                <li class="tui-list__item">
                    <a
                        tuiLink
                        [routerLink]="docPages.InputSlider"
                    >
                        <strong>InputSlider</strong>
                    </a>
                    (it uses
                    <code>InputNumber</code>
                    inside)
                </li>
                <li class="tui-list__item">
                    <a
                        tuiLink
                        [routerLink]="docPages.InputRange"
                    >
                        <strong>InputRange</strong>
                    </a>
                    (it uses
                    <code>InputNumber</code>
                    inside)
                </li>
            </ul>
        </section>

        <p>
            Number formatting can be customized with
            <a
                fragment="number-format"
                tuiLink
                [routerLink]="docRoutes.Tokens"
            >
                TUI_NUMBER_FORMAT
            </a>
            token.
        </p>

        <tui-doc-example
            id="currency"
            heading="Currency"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
            [description]="currencyPipeDescription"
        >
            <ng-template #currencyPipeDescription>
                <p>
                    To input money use properties
                    <code>[postfix]</code>
                    or
                    <code>[prefix]</code>
                    . To get currency symbol use pipe
                    <a
                        tuiLink
                        [routerLink]="docRoutes.Currency"
                    >
                        tuiCurrency
                    </a>
                    .
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            heading="sizes"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
            [description]="textFieldControllerDescription"
        >
            <ng-template #textFieldControllerDescription>
                Customize input via
                <a
                    tuiLink
                    [routerLink]="docRoutes.TextfieldController"
                >
                    TextfieldControllers
                </a>
                .
            </ng-template>

            <tui-notification class="tui-space_bottom-4">
                If you need to set some attributes or listen to events on native
                <code>input</code>
                , you can put it inside with
                <code>Textfield</code>
                directive as shown below
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="precision"
            heading="8 digits after comma"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'html,ts'"
            [description]="precisionDescription"
        >
            <ng-template #precisionDescription>
                Use property
                <code>[precision]</code>
                to configure a number of digits after comma.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="align"
            description="With currency symbol as prefix and custom format"
            heading="Align to the right"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="prefix-postfix"
            heading="Prefix and postfix"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="options"
            heading="Default options override"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="dynamic"
            heading="Dynamic formatting change"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-number
                    [focusable]="focusable"
                    [formControl]="control"
                    [max]="max"
                    [min]="min"
                    [pseudoActive]="pseudoPressed"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [step]="step"
                    [style.text-align]="textAlign"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiNumberFormat]="{
                        precision,
                        decimalMode: decimalMode,
                        rounding,
                        thousandSeparator,
                        decimalSeparator,
                    }"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldCustomContent]="customContent"
                    [tuiTextfieldFiller]="filler"
                    [tuiTextfieldIconLeft]="iconLeft"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldPostfix]="postfix"
                    [tuiTextfieldPrefix]="prefix"
                    [tuiTextfieldSize]="size"
                >
                    Type a sum
                </tui-input-number>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="number | null"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="number | null"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="step"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="step"
            >
                Step to increase/decrease value with keyboard and buttons on the side
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation />
        <tui-doc-documentation heading="CSS customization">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.text-align"
                documentationPropertyType="string"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Custom align content by text-align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
