<tui-doc-page
    header="InputNumber"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <div class="tui-space_bottom-3">A component to input numbers. Control value is also of number type.</div>

        <section>
            <h3>There are also other components to input numbers:</h3>
            <ul class="tui-list tui-list_small">
                <li class="tui-list__item">
                    <a
                        routerLink="/components/slider"
                        tuiLink
                    >
                        <strong>Slider</strong>
                    </a>
                </li>
                <li class="tui-list__item">
                    <a
                        routerLink="/components/input-slider"
                        tuiLink
                    >
                        <strong>InputSlider</strong>
                    </a>
                    (it uses
                    <code>InputNumber</code>
                    inside)
                </li>
                <li class="tui-list__item">
                    <a
                        routerLink="/components/input-range"
                        tuiLink
                    >
                        <strong>InputRange</strong>
                    </a>
                    (it uses
                    <code>InputNumber</code>
                    inside)
                </li>
            </ul>
        </section>

        <p>
            Number formatting can be customized with
            <a
                fragment="number-format"
                routerLink="/utils/tokens"
                tuiLink
            >
                TUI_NUMBER_FORMAT
            </a>
            token.
        </p>

        <tui-doc-example
            id="currency"
            heading="Currency"
            [content]="example1"
            [description]="currencyPipeDescription"
        >
            <ng-template #currencyPipeDescription>
                <p>
                    To input money use properties
                    <code>[postfix]</code>
                    or
                    <code>[prefix]</code>
                    . To get currency symbol use pipe
                    <a
                        routerLink="/pipes/currency"
                        tuiLink
                    >
                        tuiCurrency
                    </a>
                    .
                </p>
            </ng-template>
            <tui-input-number-example-1></tui-input-number-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            heading="sizes"
            [content]="example2"
            [description]="textFieldControllerDescription"
        >
            <ng-template #textFieldControllerDescription>
                Customize input via
                <a
                    routerLink="/directives/textfield-controller"
                    tuiLink
                >
                    TextfieldControllers
                </a>
                .
            </ng-template>

            <tui-notification class="tui-space_bottom-4 b-form">
                If you need to set some attributes or listen to events on native
                <code>input</code>
                , you can put it inside with
                <code>Textfield</code>
                directive as shown below
            </tui-notification>
            <tui-input-number-example-2></tui-input-number-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="precision"
            heading="8 digits after comma"
            [content]="example3"
            [description]="precisionDescription"
        >
            <ng-template #precisionDescription>
                Use property
                <code>[precision]</code>
                to configure a number of digits after comma.
            </ng-template>
            <tui-input-number-example-3></tui-input-number-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="align"
            description="With currency symbol as prefix and custom format"
            heading="Align to the right"
            [content]="example4"
        >
            <tui-input-number-example-4></tui-input-number-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="prefix-postfix"
            heading="Prefix and postfix"
            [content]="example5"
        >
            <tui-input-number-example-5></tui-input-number-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="options"
            heading="Default options override"
            [content]="example6"
        >
            <tui-input-number-example-6></tui-input-number-example-6>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-number
                    [decimal]="decimal"
                    [focusable]="focusable"
                    [formControl]="control"
                    [max]="max"
                    [min]="min"
                    [postfix]="postfix"
                    [precision]="precision"
                    [prefix]="prefix"
                    [pseudoActive]="pseudoPressed"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [step]="step"
                    [style.text-align]="textAlign"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldCustomContent]="customContent"
                    [tuiTextfieldFiller]="filler"
                    [tuiTextfieldIconLeft]="iconLeft"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldPostfix]="postfix"
                    [tuiTextfieldPrefix]="prefix"
                    [tuiTextfieldSize]="size"
                >
                    Type a sum
                </tui-input-number>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="number | null"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="number | null"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="prefix"
                documentationPropertyType="string"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="prefixVariants"
                [(documentationPropertyValue)]="prefix"
            >
                A prefix symbol, like currency. Use
                <code>tuiTextfieldPrefix</code>
                instead
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="postfix"
                documentationPropertyType="string"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="prefixVariants"
                [(documentationPropertyValue)]="postfix"
            >
                A postfix symbol, like currency. Use
                <code>tuiTextfieldPostfix</code>
                instead
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="precision"
                documentationPropertyType="number"
                [documentationPropertyValues]="precisionVariants"
                [(documentationPropertyValue)]="precision"
            >
                A number of digits after comma (
                <code>Infinity</code>
                for an untouched decimal part)
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="decimal"
                documentationPropertyType="TuiDecimal"
                [documentationPropertyValues]="decimalVariants"
                [(documentationPropertyValue)]="decimal"
            >
                Show/hide decimal
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="step"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="step"
            >
                Step to increase/decrease value with keyboard and buttons on the side
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
        <tui-doc-documentation heading="CSS customization">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.text-align"
                documentationPropertyType="string"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Custom align content by text-align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import an Angular module for forms and
                    <code>TuiInputNumberModule</code>
                    in the same module where you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>
                    Declare a form (
                    <code>FormGroup</code>
                    ) or a control (
                    <code>FormControl</code>
                    ) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleForm"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
