.bars {
    height: 6.25rem;
    width: 3.75rem;
    margin-bottom: 3.125rem;
    box-shadow: 0 1px var(--tui-border-normal);

    --tui-chart-categorical-00: var(--tui-background-accent-1);
    --tui-chart-categorical-01: var(--tui-background-accent-1);
}
