<tui-doc-page
    header="Floating"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>
            <code>Floating</code>
            is a special container for creating sticky footers
        </p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <p>
                <label tuiLabel>
                    <input
                        tuiSwitch
                        type="checkbox"
                        [(ngModel)]="floating"
                    />
                    Floating visibility
                </label>
            </p>

            <div class="content">
                <div
                    *tuiRepeatTimes="let i of 30"
                    tuiCell
                >
                    <tui-avatar
                        appearance="primary"
                        src="@tui.star"
                    />
                    <div tuiTitle>
                        Title
                        <div tuiSubtitle>Description</div>
                    </div>
                </div>

                <footer
                    *ngIf="floating"
                    @tuiSlideInTop
                    [tuiFloating]="color"
                    [tuiSubstrate]="substrate"
                >
                    <button
                        tuiButton
                        type="button"
                    >
                        Main action
                    </button>
                </footer>
            </div>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[tuiFloating]"
                tuiDocAPIItem
                type="string"
                [items]="colors"
                [(value)]="color"
            >
                Substrate color
            </tr>
            <tr
                name="[tuiSubstrate]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="substrate"
            >
                Substrate visibility
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
