<label class="wrapper">
    <tui-radio
        [focusable]="focusable"
        [identityMatcher]="identityMatcher"
        [name]="computedName || ''"
        [nativeId]="nativeId"
        [readOnly]="readOnly"
        [pseudoDisabled]="computedDisabled"
        [pseudoInvalid]="computedInvalid"
        [pseudoFocused]="pseudoFocused"
        [pseudoHovered]="pseudoHovered"
        [pseudoPressed]="pseudoPressed"
        [size]="size"
        [item]="item"
        [ngModel]="value"
        (ngModelChange)="onModelChange($event)"
        (focusedChange)="onFocused($event)"
    ></tui-radio>
    <div class="content">
        <ng-content></ng-content>
    </div>
</label>
