.content-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

.description {
    margin: 0 0 1.5rem;
    min-height: 4rem;
    position: relative;
    line-height: 1.5;
    
    &_empty {
        color: var(--tui-text-tertiary);
    }
}

.text-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.edit-button {
    margin-left: 0.5rem;
    vertical-align: top;
}

tui-input-inline-textarea {
    font: inherit;
    color: inherit;
    width: 100%;
    
    textarea {
        font: inherit;
        line-height: inherit;
        min-height: 4rem;
    }
}