tui-badge {
    margin: 0.5rem;
}

@iterations: 20;

.loop (@i) when (@i > 0) {
    .support-@{i} {
        background-color: ~'var(--tui-support-@{i}, var(--tui-support-0@{i}))';
    }
    .loop(@i - 1);
}
.loop (@iterations);
