@import 'taiga-ui-local';

:host:before {
    display: none;
}

.t-wrapper {
    display: flex;
    align-items: flex-start;
}

.t-label {
    flex: 1;
    padding: 0.75rem 1rem 0.25rem;
}

.t-button {
    margin: 0.75rem 1rem 0 auto;
    line-height: 1rem;
}
