@import '@taiga-ui/core/styles/taiga-ui-local';

:host._label::before {
    display: none;
}

:host:not(:first-of-type) .t-label:not(:empty) {
    padding-block-start: 1.25rem;
}

:host:not(:first-of-type) .t-button {
    margin-block-start: 1.25rem;
}

.t-wrapper {
    display: flex;
    align-items: flex-start;

    &:last-child {
        display: none;
    }
}

.t-label:not(:empty) {
    flex: 1;
    padding: 0.75rem 1rem 0.25rem 0.625rem;

    :host-context(tui-sheet-dialog) & {
        font: var(--tui-font-heading-h6);
        padding: 0.5rem 0;
    }
}

.t-button {
    margin: 0.75rem 1rem 0 auto;
    font-weight: normal;

    :host-context(tui-sheet-dialog) & {
        margin-inline-end: 0;
    }
}
