<button class="t-prevent-parent-label-behavior">
    <!-- @note: this is a html huck to avoid autofocus, if the parent element is a label  -->
</button>
<ng-container *ngIf="editor.stateChange$ | async"></ng-container>
<div
    [tuiFocusable]="focusable"
    (focus)="onTopFocus()"
></div>
<div
    [tuiFocusable]="focusable"
    (focus)="onBottomFocus()"
></div>

<section
    *ngIf="texts$ | async as texts"
    tuiToolbarNavigationManager
    class="t-tools-wrapper"
>
    <div
        *ngIf="enabled(TuiEditorTool.Undo)"
        class="t-block"
    >
        <button
            #undoBtn
            tuiToolbarTool
            tuiIconButton
            type="button"
            size="s"
            icon="tuiIconUndoLarge"
            appearance="icon"
            tuiHintDirection="top-left"
            class="t-tool t-tool_margin"
            [tuiHint]="texts.undo"
            [tuiHintId]="undoBtn.id"
            [tuiDescribedBy]="undoBtn.id"
            [disabled]="undoDisabled"
            [focusable]="false"
            (click)="undo()"
        ></button>
        <button
            #redoBtn
            tuiIconButton
            tuiToolbarTool
            type="button"
            size="s"
            icon="tuiIconRedoLarge"
            appearance="icon"
            tuiHintDirection="top-left"
            class="t-tool t-tool_margin"
            [tuiHint]="texts.redo"
            [tuiHintId]="redoBtn.id"
            [tuiDescribedBy]="redoBtn.id"
            [disabled]="redoDisabled"
            [focusable]="false"
            (click)="redo()"
        ></button>
    </div>
    <div
        *ngIf="enabled(TuiEditorTool.Size)"
        class="t-block"
    >
        <tui-font-size
            tuiToolbarTool
            class="t-tool t-wrapper"
        ></tui-font-size>
    </div>
    <div
        *ngIf="firstBigBlockEnabled"
        class="t-block"
    >
        <tui-font-style
            *ngIf="formatEnabled"
            tuiToolbarTool
            class="t-tool t-wrapper"
            [enabledTools]="toolsSet"
        ></tui-font-style>

        <tui-align-content
            *ngIf="enabled(TuiEditorTool.Align)"
            tuiToolbarTool
            class="t-tool t-wrapper"
        ></tui-align-content>

        <tui-list-configs
            *ngIf="enabled(TuiEditorTool.List)"
            tuiToolbarTool
            class="t-tool t-wrapper"
        ></tui-list-configs>

        <button
            *ngIf="enabled(TuiEditorTool.Quote)"
            #button
            #quoteBtn
            tuiIconButton
            tuiToolbarTool
            type="button"
            size="s"
            icon="tuiIconQuoteLarge"
            appearance="icon"
            tuiHintDirection="top-left"
            class="t-tool t-tool_margin"
            [tuiHint]="texts.quote"
            [tuiHintId]="quoteBtn.id"
            [tuiDescribedBy]="quoteBtn.id"
            [pseudoPressed]="blockquote"
            [disabled]="unorderedList || orderedList"
            [focusable]="false"
            (click)="toggleQuote()"
        ></button>
        <tui-hosted-dropdown
            *ngIf="enabled(TuiEditorTool.Link)"
            #link
            tuiToolbarTool
            class="t-wrapper"
            [canOpen]="!a"
            [content]="linkDropdown"
        >
            <button
                #button
                #linkBtn
                tuiIconButton
                type="button"
                size="s"
                icon="tuiIconLinkLarge"
                appearance="icon"
                tuiHintDirection="top-left"
                class="t-tool"
                [tuiHint]="texts.link"
                [tuiHintId]="linkBtn.id"
                [tuiDescribedBy]="linkBtn.id"
                [pseudoPressed]="link.open || a"
                [focusable]="link.open"
            ></button>
            <ng-template #linkDropdown>
                <tui-edit-link
                    #dropdown
                    (addLink)="onLink(link, $event)"
                    (removeLink)="onLink(link)"
                ></tui-edit-link>
            </ng-template>
        </tui-hosted-dropdown>
        <button
            *ngIf="enabled(TuiEditorTool.Attach)"
            #button
            #attachBtn
            tuiIconButton
            tuiToolbarTool
            type="button"
            size="s"
            icon="tuiIconAttachLarge"
            appearance="icon"
            tuiHintDirection="top-left"
            class="t-tool t-tool_margin"
            [tuiHint]="texts.attach"
            [tuiHintId]="attachBtn.id"
            [tuiDescribedBy]="attachBtn.id"
            [focusable]="false"
            (click)="onAttach()"
        ></button>
    </div>
    <div
        *ngIf="enabled(TuiEditorTool.Sub) || enabled(TuiEditorTool.Sup)"
        class="t-block"
    >
        <button
            *ngIf="enabled(TuiEditorTool.Sub)"
            #button
            #subBtn
            tuiIconButton
            tuiToolbarTool
            type="button"
            size="s"
            icon="tuiIconSubscriptLarge"
            appearance="icon"
            tuiHintDirection="top-left"
            class="t-tool t-tool_margin"
            [tuiHint]="texts.subscript"
            [tuiHintId]="subBtn.id"
            [tuiDescribedBy]="subBtn.id"
            [pseudoPressed]="subscript"
            [focusable]="false"
            (click)="toggleSubscript()"
        ></button>
        <button
            *ngIf="enabled(TuiEditorTool.Sup)"
            #button
            #supBtn
            tuiIconButton
            tuiToolbarTool
            type="button"
            size="s"
            icon="tuiIconSuperscriptLarge"
            appearance="icon"
            tuiHintDirection="top-left"
            class="t-tool t-tool_margin"
            [tuiHint]="texts.superscript"
            [tuiHintId]="supBtn.id"
            [tuiDescribedBy]="supBtn.id"
            [pseudoPressed]="superscript"
            [focusable]="false"
            (click)="toggleSuperscript()"
        ></button>
    </div>
    <div
        *ngIf="enabled(TuiEditorTool.Color) || enabled(TuiEditorTool.Hilite)"
        class="t-block"
    >
        <tui-text-color
            *ngIf="enabled(TuiEditorTool.Color)"
            tuiToolbarTool
            class="t-tool t-wrapper"
            [colors]="colors"
        ></tui-text-color>

        <tui-highlight-color
            *ngIf="enabled(TuiEditorTool.Hilite)"
            tuiToolbarTool
            class="t-tool t-wrapper"
            [colors]="colors"
        ></tui-highlight-color>
    </div>
    <div
        *ngIf="secondBigBlockEnabled"
        class="t-block"
    >
        <tui-code
            *ngIf="enabled(TuiEditorTool.Code)"
            tuiToolbarTool
            class="t-tool t-wrapper"
        ></tui-code>

        <button
            *ngIf="enabled(TuiEditorTool.Tex)"
            #button
            #texBtn
            tuiIconButton
            tuiToolbarTool
            type="button"
            size="s"
            icon="tuiIconTeXLarge"
            appearance="icon"
            tuiHintDirection="top-left"
            class="t-tool"
            [tuiHint]="texts.tex"
            [tuiHintId]="texBtn.id"
            [tuiDescribedBy]="texBtn.id"
            [focusable]="false"
            (click)="onTeX()"
        ></button>
        <div
            *ngIf="enabled(TuiEditorTool.Img)"
            tuiToolbarTool
            class="t-wrapper"
        >
            <button
                #button
                tuiIconButton
                type="button"
                size="s"
                icon="tuiIconImgLarge"
                appearance="icon"
                tuiHintDirection="top-left"
                class="t-tool"
                [tuiHint]="texts.image"
                [id]="button.id"
                [tuiHintId]="button.id"
                [focusable]="false"
                (click)="image.click()"
            ></button>

            <input
                #image
                type="file"
                accept="image/*"
                class="t-image"
                [tuiFocusable]="false"
                (change)="onImage(image)"
            />
        </div>
        <button
            *ngIf="enabled(TuiEditorTool.HR)"
            #button
            #hrBtn
            tuiIconButton
            tuiToolbarTool
            type="button"
            size="s"
            icon="tuiIconHrLarge"
            appearance="icon"
            tuiHintDirection="top-left"
            class="t-tool t-tool_margin"
            [tuiHint]="texts.insertHorizontalRule"
            [tuiHintId]="hrBtn.id"
            [tuiDescribedBy]="hrBtn.id"
            [focusable]="false"
            (click)="insertHorizontalRule()"
        ></button>
    </div>
    <div
        *ngIf="enabled(TuiEditorTool.Clear)"
        class="t-block"
    >
        <button
            #button
            #clearBtn
            tuiIconButton
            tuiToolbarTool
            type="button"
            size="s"
            icon="tuiIconClearFormatLarge"
            appearance="icon"
            tuiHintDirection="top-left"
            class="t-tool t-tool_margin"
            [tuiHint]="texts.clear"
            [tuiHintId]="clearBtn.id"
            [tuiDescribedBy]="clearBtn.id"
            [focusable]="false"
            (click)="removeFormat()"
        ></button>
    </div>
    <div
        *ngIf="enabled(TuiEditorTool.Details)"
        class="t-block"
    >
        <tui-details
            tuiToolbarTool
            class="t-tool t-tool_margin"
        ></tui-details>

        <tui-details-remove
            tuiToolbarTool
            class="t-tool t-tool_margin"
        ></tui-details-remove>
    </div>
    <div
        *ngIf="enabled(TuiEditorTool.Table)"
        class="t-block"
    >
        <tui-table-create
            tuiToolbarTool
            class="t-tool t-tool_margin"
        ></tui-table-create>

        <tui-table-row-column-manager
            tuiToolbarTool
            class="t-tool t-tool_margin"
        ></tui-table-row-column-manager>

        <tui-table-merge-cells
            tuiToolbarTool
            class="t-tool t-tool_margin"
        ></tui-table-merge-cells>

        <tui-table-cell-color
            tuiToolbarTool
            class="t-tool t-wrapper"
            [colors]="colors"
        ></tui-table-cell-color>
    </div>
    <div class="t-block">
        <ng-content></ng-content>
    </div>
</section>
