table {
    width: 100%;

    tr {
        height: 45px;
    }

    td {
        &:first-child {
            width: 10rem;
            font-weight: bold;
        }

        &:last-child {
            width: 3rem;
        }
    }
}

.viewport {
    height: 250px;
}
