<tui-primitive-textfield
    class="t-textfield"
    [disabled]="computedDisabled"
    [focusable]="focusable"
    [invalid]="computedInvalid"
    [nativeId]="nativeId"
    [pseudoActive]="pseudoActive"
    [pseudoFocus]="pseudoFocus"
    [pseudoHover]="pseudoHover"
    [readOnly]="readOnly"
    [tuiTextfieldIcon]="!disabled ? iconContent : ''"
    [(value)]="value"
    (focusedChange)="onFocused($event)"
>
    <ng-content />
    <ng-content
        ngProjectAs="input"
        select="input"
    />
</tui-primitive-textfield>

<ng-template #iconContent>
    <tui-icon
        *polymorpheusOutlet="icon as src; context: {$implicit: size}"
        automation-id="tui-copy__icon"
        tuiAppearance="icon"
        class="t-icon"
        [class.t-icon_small]="size === 's'"
        [icon]="src.toString()"
        [tuiAppearanceState]="!value ? 'disabled' : null"
        [tuiHint]="hint"
        [tuiHintAppearance]="messageAppearance"
        [tuiHintDirection]="messageDirection"
        (click)="copy()"
    />
</ng-template>

<ng-template #hint>
    <ng-container *polymorpheusOutlet="hintText$ | async as text">
        {{ text }}
    </ng-container>
</ng-template>
