@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: start;

    :host-context(*:disabled) {
        pointer-events: none;
    }
}

.t-icon {
    position: relative;
    cursor: pointer;
    pointer-events: auto;

    &_small {
        border-width: 0.25rem;
    }
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}
