@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: left;
}

.t-icon {
    position: relative;
    cursor: pointer;
    pointer-events: auto;

    &_small {
        border: 0.25rem solid transparent;
    }
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}
