@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiCard] {
    .clearbtn();
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--tui-base-02);
    border-radius: 0.75rem;
    box-sizing: border-box;
    padding: 0.75rem;
    gap: 0.75rem;
    flex-shrink: 0;
    flex-direction: column;
    text-decoration: none;
    width: var(--t-size);
    height: var(--t-size);
    overscroll-behavior: contain;

    &,
    & > * {
        .scrollbar-hidden();
    }

    &[data-size='m'] {
        --t-size: 8.75rem;
    }

    [tuiTitle] {
        font-weight: bold;
    }

    &[tuiCell] {
        box-sizing: border-box;
    }

    [tuiSubtitle] {
        color: var(--tui-text-01);
    }

    [tuiTitle],
    [tuiSubtitle] {
        max-width: 100%;
    }

    &[data-size='l'] {
        --t-size: 100%;
        height: auto;
        font-size: 1rem;

        & > * {
            width: 100%;
        }

        [tuiCell] {
            padding: 0.5rem;
            margin: 0 -0.5rem;
        }

        &[data-space='normal'] {
            border-radius: 1.5rem;
            padding: 1.5rem;
            gap: 1.5rem;
        }

        &[data-space='compact'] {
            border-radius: 1rem;
            padding: 1.25rem;
            gap: 1.25rem;
        }
    }
}
