<tui-doc-page
    header="Slider"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <dl>
            <dt>
                <code>tuiSlider</code>
            </dt>
            <dd>
                attribute component for native html tag
                <code tuiDocText='<input type="range" />'></code>
                to choose a value from a limited range.
            </dd>
        </dl>
        <p>
            Read more about current input's type in
            <a
                href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/range"
                rel="noreferrer"
                target="_blank"
                tuiLink
            >
                MDN Docs
            </a>
            .
        </p>
        <p>
            <strong>Usage:</strong>
            <code tuiDocText='<input tuiSlider type="range" min="0" max="100" step="1" />'></code>
            .
        </p>

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="colors"
            heading="Colors"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="segments"
            heading="With visual segments"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        >
            <tui-notification class="tui-space_bottom-8">
                <div>
                    <p class="tui-space_top-0">
                        Use mixin
                        <code>tui-slider-ticks-labels</code>
                        to arrange ticks' labels (it places them strictly below ticks).
                    </p>
                    <div>
                        The mixin accepts only a single argument – size of the slider (
                        <code>m</code>
                        or
                        <code>s</code>
                        ).
                    </div>
                </div>
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="disabled"
            heading="Disabled"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="key-steps"
            heading="With key steps"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
        >
            <dl class="tui-space_bottom-8 tui-space_top-0">
                <dt>
                    <strong>Key steps</strong>
                </dt>
                <dd>anchor points of non-uniform format between value and position</dd>
            </dl>
        </tui-doc-example>

        <tui-doc-example
            id="complex"
            heading="Complex"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
            [description]="tuiSliderThumbLabelDescription"
        >
            <ng-template #tuiSliderThumbLabelDescription>
                Use
                <code>tuiSliderThumbLabel</code>
                for positioning any content so it slides alongside the thumb.
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <input
                    tuiSlider
                    type="range"
                    [formControl]="control"
                    [max]="max"
                    [min]="min"
                    [segments]="segments"
                    [size]="size"
                    [step]="step"
                />
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="max"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range#max"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    max
                </a>
                of
                <code tuiDocText='<input type="range" />'></code>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="min"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range#min"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    min
                </a>
                of
                <code tuiDocText='<input type="range" />'></code>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="step"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="step"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range#step"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    step
                </a>
                of
                <code tuiDocText='<input type="range" />'></code>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeS"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="segments"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="segments"
            >
                <p>A number of visual segments</p>
                (use
                <code>1</code>
                for no ticks)
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
