<tui-doc-page header="Slider" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>Component allows to choose a value from a limited range</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-slider-example-1></tui-slider-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="segments"
            i18n-heading
            heading="With separators"
            [content]="example2"
        >
            <tui-slider-example-2></tui-slider-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-slider
                    [formControl]="control"
                    [min]="min"
                    [max]="max"
                    [steps]="steps"
                    [segments]="segments"
                    [pluralize]="pluralize"
                    [keySteps]="keySteps"
                    [quantum]="quantum"
                    [size]="size"
                ></tui-slider>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pluralize"
                documentationPropertyMode="input"
                documentationPropertyType="TuiPluralize | Record<string, string>"
                [documentationPropertyValues]="pluralizeVariants"
                [(documentationPropertyValue)]="pluralize"
            >
                Plural forms for labels. TuiPluralize array is deprecated. Use
                object that mimics the
                <a
                    tuiLink
                    href="https://unicode-org.github.io/icu/userguide/format_parse/messages/"
                >
                    ICU format
                </a>
                for i18nPlural
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="segments"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="segmentsVariants"
                [(documentationPropertyValue)]="segments"
            >
                A number of visual segments
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="steps"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="stepsVariants"
                [(documentationPropertyValue)]="steps"
            >
                Number of actual discrete slider steps
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="keySteps"
                documentationPropertyMode="input"
                documentationPropertyType="TuiKeySteps"
                [documentationPropertyValues]="keyStepsVariants"
                [(documentationPropertyValue)]="keySteps"
            >
                Anchor points of non-uniform format between value and position
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeS"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="quantum"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="quantumVariants"
                [(documentationPropertyValue)]="quantum"
            >
                Quantum
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                Import an Angular module for forms and
                <code>TuiSliderModule</code>
                in the same module where you want to use our component:

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (
                    <code>FormGroup</code>
                    ) or a control (
                    <code>FormControl</code>
                    ) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
