<tui-doc-page
    header="Slider"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <dl>
            <dt>
                <code>tuiSlider</code>
            </dt>
            <dd>
                attribute component for native html tag
                <code tuiText='<input type="range" />'></code>
                to choose a value from a limited range.
            </dd>
        </dl>
        <p>
            Read more about current input's type in
            <a
                href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/range"
                rel="noreferrer"
                target="_blank"
                tuiLink
            >
                MDN Docs
            </a>
            .
        </p>
        <p>
            <strong>Usage:</strong>
            <code tuiText='<input tuiSlider type="range" min="0" max="100" step="1" />'></code>
            .
        </p>

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [content]="example1"
        >
            <tui-slider-example-1></tui-slider-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="colors"
            heading="Colors"
            [content]="example2"
        >
            <tui-slider-example-2></tui-slider-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="segments"
            heading="With visual segments"
            [content]="example3"
        >
            <tui-notification class="tui-space_bottom-8">
                <p class="tui-space_top-0">
                    Use mixin
                    <code>tui-slider-ticks-labels</code>
                    to arrange ticks' labels (it places them strictly below ticks).
                </p>
                <p>
                    The mixin accepts only a single argument – size of the slider (
                    <code>m</code>
                    or
                    <code>s</code>
                    ).
                </p>
            </tui-notification>
            <tui-slider-example-3></tui-slider-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="disabled"
            heading="Disabled"
            [content]="example4"
        >
            <tui-slider-example-4></tui-slider-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="key-steps"
            heading="With key steps"
            [content]="example5"
        >
            <dl class="tui-space_bottom-8 tui-space_top-0">
                <dt>
                    <strong>Key steps</strong>
                </dt>
                <dd>anchor points of non-uniform format between value and position</dd>
            </dl>
            <tui-slider-example-5></tui-slider-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="complex"
            heading="Complex"
            [content]="example6"
            [description]="tuiSliderThumbLabelDescription"
        >
            <ng-template #tuiSliderThumbLabelDescription>
                Use
                <code>tuiSliderThumbLabel</code>
                for positioning any content so it slides alongside the thumb.
            </ng-template>
            <tui-slider-example-6></tui-slider-example-6>
        </tui-doc-example>
    </ng-template>

    <ng-template
        documentationApiHost
        pageTab
    >
        <tui-doc-demo [control]="control">
            <ng-template>
                <input
                    documentationTemplateTagName="input"
                    tuiSlider
                    type="range"
                    [documentationTemplateBaseProperties]="sliderBaseProperties"
                    [formControl]="control"
                    [max]="max"
                    [min]="min"
                    [segments]="segments"
                    [size]="size"
                    [step]="step"
                />
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="max"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range#max"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    max
                </a>
                of
                <code tuiText='<input type="range" />'></code>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="min"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range#min"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    min
                </a>
                of
                <code tuiText='<input type="range" />'></code>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="step"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="step"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range#step"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    step
                </a>
                of
                <code tuiText='<input type="range" />'></code>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeS"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="segments"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="segments"
            >
                <p>A number of visual segments</p>
                (use
                <code>1</code>
                for no ticks)
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                Import an Angular module for forms and
                <code>TuiSliderModule</code>
                in the same module where you want to use our component:

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>
                    Declare a form (
                    <code>FormGroup</code>
                    ) or a control (
                    <code>FormControl</code>
                    ) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
