<tr>
    <td colspan="3">
        <span tuiTitle>
            <strong>ItemsHandlers</strong>
            <span tuiSubtitle>Applied as a host directive</span>
        </span>
    </td>
</tr>

@if (!hiddenOptions().includes('stringify')) {
    <tr
        name="[stringify]"
        tuiDocAPIItem
        type="TuiStringHandler"
        [items]="stringifyVariants"
        [(value)]="stringify"
    >
        A function that transforms datalist's items into a string.
        <code>String(value)</code>
        by default.
        <p>
            <strong>Must be a pure function!</strong>
        </p>
    </tr>
}

@if (!hiddenOptions().includes('identityMatcher')) {
    <tr
        name="[identityMatcher]"
        tuiDocAPIItem
        type="TuiIdentityMatcher"
        [items]="identityMatcherVariants"
        [(value)]="identityMatcher"
    >
        Function that matches form control value and datalist's items, e.g. if objects are copied. Uses
        <code>===</code>
        by default.
        <p>
            <strong>Must be a pure function!</strong>
        </p>
    </tr>
}

@if (!hiddenOptions().includes('disabledItemHandler')) {
    <tr
        name="[disabledItemHandler]"
        tuiDocAPIItem
        type="TuiBooleanHandler"
        [items]="[falseHandler, providedDisabledItemHandler()]"
        [(value)]="disabledItemHandler"
    >
        <div>A handler that gets a datalist's items and returns true if it is disabled.</div>
        <p>
            <strong>Must be a pure function!</strong>
        </p>
    </tr>
}

<ng-content />
