<tui-doc-page
    header="Block"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>
            <code>Block</code>
            is a special presentation of a checkbox/radiobutton which can display actual control or be a control itself
        </p>

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [content]="1 | tuiExample: 'html'"
        >
            <tui-block-example-1 />
        </tui-doc-example>

        <tui-doc-example
            id="groups"
            heading="Groups"
            [content]="2 | tuiExample: 'html'"
        >
            <tui-block-example-2 />
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            heading="Custom"
            [content]="3 | tuiExample: 'html'"
        >
            <tui-block-example-3 />
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                <p>Add an import:</p>

                <tui-doc-code
                    filename="my.module.ts"
                    [code]="exampleModule"
                />
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="my.component.html"
                    [code]="exampleHtml"
                />
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
