:host {
    display: flex;
    align-items: center;
}

.switch {
    block-size: 1rem;
    inline-size: 20%;
    border-radius: 1rem 0 0 1rem;
}

.plasma {
    inline-size: 80%;
    block-size: 0.5rem;
    border-radius: 0 0.75rem 0.75rem 0;
    background: linear-gradient(
        to bottom,
        var(--tui-chart-categorical-03) 0%,
        #fff 50%,
        #fff 70%,
        var(--tui-chart-categorical-03) 100%
    );
    filter: blur(1px);
}
