<tui-primitive-checkbox
    [size]="size"
    [disabled]="disabled"
    [focused]="computedFocusVisible"
    [hovered]="pseudoHover"
    [pressed]="pseudoActive"
    [invalid]="computedInvalid"
    [value]="value"
>
    <input
        #focusableElement
        type="checkbox"
        automation-id="tui-checkbox__native"
        class="t-native"
        [disabled]="disabled"
        [id]="id"
        [tuiChecked]="value"
        [tuiFocusable]="computedFocusable"
        (tuiFocusedChange)="onFocused($event)"
        (tuiCheckedChange)="onChecked($event)"
        (tuiFocusVisibleChange)="onFocusVisible($event)"
    />
</tui-primitive-checkbox>
