@import 'taiga-ui-local';

@sizeM: 1rem;
@sizeL: 1.5rem;

:host {
    .text-basic();
    position: relative;
    display: block;
    flex-shrink: 0;

    &[data-size='m'] {
        width: @sizeM;
        height: @sizeM;
    }

    &[data-size='l'] {
        width: @sizeL;
        height: @sizeL;
    }

    &._disabled,
    &._readonly {
        pointer-events: none;
    }
}

.t-native {
    .clearinput();
    .fullsize();
    opacity: 0;
    cursor: pointer;
}
