@import 'taiga-ui-local';

:host {
    .text-basic();
    position: relative;
    display: block;
    flex-shrink: 0;

    &[data-tui-host-size='s'] {
        width: calc(var(--tui-height-s) / 2);
        height: calc(var(--tui-height-s) / 2);
    }

    &[data-tui-host-size='m'] {
        width: calc(var(--tui-height-m) / 2);
        height: calc(var(--tui-height-m) / 2);
    }

    &[data-tui-host-size='l'] {
        width: calc(var(--tui-height-l) / 2);
        height: calc(var(--tui-height-l) / 2);
    }
}

.native {
    .clearinput();
    .fullsize();
    opacity: 0;
    cursor: pointer;

    :host._disabled &,
    :host._readonly & {
        pointer-events: none;
    }
}
