<tui-tree-item
    *tuiLet="children$ | async as children"
    #view
    [tuiTreeNode]="value"
>
    <div
        *ngIf="$any(value) !== children"
        polymorpheus-outlet
        [content]="content"
        [context]="{$implicit: value, node: view}"
    ></div>
    <ng-container
        *ngIf="view.isExpanded"
        ngProjectAs="tui-tree"
    >
        <tui-tree
            *ngFor="let child of children"
            [value]="child"
            [content]="content"
        ></tui-tree>
    </ng-container>
</tui-tree-item>
