<tui-textfield
    [content]="showValueContent ? valueContent : ''"
    [filler]="controller.filler"
    [iconStart]="$any(controller.iconStart)"
    [tuiTextfieldCleaner]="controller.cleaner"
    [tuiTextfieldSize]="controller.size"
>
    <label
        *ngIf="!controller.labelOutside"
        tuiLabel
    >
        <ng-content />
    </label>

    <input
        tuiInputNumber
        [disabled]="computedDisabled"
        [focused]="computedFocused"
        [invalid]="pseudoInvalid"
        [max]="max"
        [min]="min"
        [ngModelOptions]="{standalone: true}"
        [postfix]="postfix && ' ' + postfix"
        [prefix]="prefix"
        [readOnly]="readOnly"
        [state]="state"
        [tuiNumberFormat]="{precision}"
        [(ngModel)]="textfieldValue"
        (focusin)="onFocused(true)"
        (focusout)="onFocused(false)"
        (keydown.arrowDown.prevent)="onVerticalArrowKeyDown(-1)"
        (keydown.arrowUp.prevent)="onVerticalArrowKeyDown(1)"
        (ngModelChange)="safelyUpdateValue($event)"
    />

    <ng-container
        *ngIf="controller.customContent"
        ngProjectAs="tui-icon"
    >
        <tui-icon
            *polymorpheusOutlet="controller.customContent as src"
            [icon]="src"
        />
    </ng-container>

    <tui-icon
        *ngIf="!computedDisabled && hint && hint.content"
        [tuiHintAppearance]="hint.appearance"
        [tuiHintDirection]="hint.direction"
        [tuiHintHideDelay]="hint.hideDelay"
        [tuiHintShowDelay]="hint.showDelay"
        [tuiTooltip]="hint.content"
    />
</tui-textfield>

<input
    tabIndex="-1"
    tuiSlider
    type="range"
    [disabled]="readOnly || computedDisabled"
    [keySteps]="computeKeySteps(keySteps, min, max)"
    [max]="computedSteps"
    [ngModel]="value"
    [ngModelOptions]="{standalone: true}"
    [segments]="segments"
    (click)="focusTextInput()"
    (ngModelChange)="onSliderChange($event)"
/>
