.changelog-styles() {
    &::ng-deep {
        & h3:not([id^='feat']):not([id^='bug']):not([id^='deprecations']) {
            font-size: 1.75rem;
            padding-bottom: 0.5em;
            margin: 2rem 0 0;
            border-bottom: 1px solid var(--tui-border-normal);
        }

        & h3[id^='breaking'] {
            margin-left: 1.25rem;
            color: var(--tui-status-negative);
        }

        & h3[id^='feat']:before {
            content: '🚀';
        }

        & h3[id^='bug']:before {
            content: '🐞';
        }

        & h3[id^='deprecations']:before {
            content: '⚠️';
        }

        & h3[id^='feat']:before,
        & h3[id^='bug']:before,
        & h3[id^='deprecations']:before {
            margin-right: 0.5rem;
        }
    }
}
