.sticky-example::ng-deep .t-demo {
    block-size: 30rem;
    padding: 0 !important;

    .custom-portal {
        position: sticky;
        height: 30rem;
        margin-block-end: -30rem;
        z-index: 10;
        transform: translate3d(0, 0, 0);
        pointer-events: none;
    }
}
