<tui-doc-page
    header="Navigation"
    package="LAYOUT"
    type="components"
>
    <ng-template pageTab>
        A set of basic layout components for global navigation

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            class="sticky-example"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [fullsize]="true"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
