<ng-container *tuiTextfieldContent>
    <section
        *ngIf="step()"
        class="t-input-number-buttons"
    >
        <button
            tabindex="-1"
            tuiIconButton
            type="button"
            class="t-button"
            [appearance]="textfieldOptions.appearance()"
            [disabled]="!interactive() || value()! >= max()"
            [iconStart]="options.icons.increase"
            [size]="textfieldOptions.size() === 'l' ? 'm' : 's'"
            (click.prevent)="onStep(step())"
            (mousedown.prevent)="element.focus()"
        >
            +
        </button>

        <button
            tabindex="-1"
            tuiIconButton
            type="button"
            class="t-button"
            [appearance]="textfieldOptions.appearance()"
            [disabled]="!interactive() || value()! <= min()"
            [iconStart]="options.icons.decrease"
            [size]="textfieldOptions.size() === 'l' ? 'm' : 's'"
            (click.prevent)="onStep(-step())"
            (mousedown.prevent)="element.focus()"
        >
            -
        </button>
    </section>
</ng-container>
