<tui-primitive-textfield
    #textfield
    tuiValueAccessor
    class="t-textfield"
    [pseudoHover]="pseudoHover"
    [pseudoFocus]="computedFocused"
    [pseudoActive]="pseudoActive"
    [invalid]="computedInvalid"
    [readOnly]="readOnly"
    [disabled]="computedDisabled"
    [maskito]="mask"
    [value]="computedValue"
    [prefix]="prefix"
    [postfix]="postfix"
    [focusable]="focusable"
    (valueChange)="onValueChange($event)"
    (focusedChange)="onFocused($event)"
    (keydown)="onKeyDown($event)"
>
    <ng-content></ng-content>
    <ng-content
        select="input"
        ngProjectAs="input"
    ></ng-content>
    <div
        *ngIf="polymorpheusValueContent.length"
        ngProjectAs="tuiContent"
        class="t-value-content"
    >
        <ng-container *polymorpheusOutlet="valueContent as text">
            {{ text }}
        </ng-container>
    </div>
</tui-primitive-textfield>

<section
    *ngIf="step"
    class="t-buttons"
>
    <button
        tuiIconButton
        type="button"
        size="s"
        class="t-button"
        [icon]="options.icons.up"
        [appearance]="textfield.appearance"
        [disabled]="!canIncrement"
        [focusable]="false"
        (mousedown.prevent)="nativeFocusableElement?.focus()"
        (click.prevent)="onArrow(step)"
    >
        +
    </button>
    <button
        tuiIconButton
        type="button"
        size="s"
        class="t-button"
        [icon]="options.icons.down"
        [appearance]="textfield.appearance"
        [disabled]="!canDecrement"
        [focusable]="false"
        (mousedown.prevent)="nativeFocusableElement?.focus()"
        (click.prevent)="onArrow(-step)"
    >
        -
    </button>
</section>

<ng-container *ngIf="polymorpheusValueContent.changes | async"></ng-container>

<ng-template #valueContent>
    <ng-content select="tuiContent"></ng-content>
</ng-template>
