@import '@taiga-ui/core/styles/taiga-ui-local';

tui-tabs[tuiMobileTabs],
[tuiTabs][tuiMobileTabs],
[tuiMobileTabs] tui-tabs,
[tuiMobileTabs] [tuiTabs] {
    &[data-platform='android'] {
        height: auto;

        tui-underline {
            box-shadow: inset 0 -0.1875rem var(--tui-link);
        }

        [tuiTab] {
            .transition(opacity);

            height: 3rem;
            flex: 1;
            flex-shrink: 0;
            justify-content: center;
            color: var(--tui-base-09);
            font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
            font-size: 0.875rem;
            font-weight: 500;
            letter-spacing: -0.008125rem;
            opacity: 0.5;
            text-transform: uppercase;

            &:hover {
                box-shadow: none;
            }

            &._active {
                color: var(--tui-base-09);
                opacity: 1;
            }
        }
    }

    &[data-platform='ios'] {
        overflow: visible;
        height: auto;
        border: 2px solid transparent;
        border-radius: 0.5625rem;
        background: var(--tui-clear);
        box-shadow: none;

        tui-underline {
            border-radius: 0.4375rem;
            background: var(--tui-base-01);
            box-shadow:
                0 0.1875rem 0.0625rem rgba(0, 0, 0, 0.04),
                0 0.1875rem 0.5rem rgba(0, 0, 0, 0.12);
        }

        [tuiTab] {
            height: 1.75rem;
            flex: 1;
            flex-shrink: 0;
            justify-content: center;
            color: var(--tui-text-01);
            font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
            font-size: 0.8125rem;
            font-weight: 600;
            letter-spacing: -0.005rem;
            opacity: 1;

            &:hover {
                box-shadow: none;
            }
        }
    }
}
