:host {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.t-input {
    position: fixed;
    inset: 0;
    margin: 0;
    appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
    cursor: ew-resize;

    --drag: 1rem;

    :host-context(tui-timeline[data-orientation='vertical']) &:not(.t-input_drag) {
        cursor: ns-resize;
    }

    &_drag {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }

    &::-webkit-slider-runnable-track {
        block-size: 100%;
    }

    &::-webkit-slider-thumb {
        block-size: 100%;
        inline-size: var(--drag);
        appearance: none;
        background: none;
        border: none;
        pointer-events: auto;
        border-radius: var(--tui-radius-xs);
    }

    &::-moz-range-thumb {
        block-size: 100%;
        inline-size: var(--drag);
        appearance: none;
        background: none;
        border: none;
        pointer-events: auto;
        border-radius: var(--tui-radius-xs);
    }

    &:focus-visible::-webkit-slider-thumb {
        outline: 0.125rem solid var(--tui-border-focus);
    }
}
