<tui-doc-page
    header="ElasticContainer"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>A wrapper component that changes its height with transition, depending on the content</p>

        <tui-doc-example
            id="more"
            heading="Show more"
            [content]="example1"
        >
            <tui-elastic-container-example-1></tui-elastic-container-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="contenteditable"
            heading="contenteditable"
            [content]="example2"
        >
            <tui-elastic-container-example-2></tui-elastic-container-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="dynamic"
            heading="Add and remove content"
            [content]="example3"
        >
            <tui-elastic-container-example-3></tui-elastic-container-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import
                    <code>TuiElasticContainerModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
