<tui-doc-page
    header="ElasticContainer"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>A wrapper component that changes its height with transition, depending on the content</p>

        <tui-doc-example
            id="more"
            heading="Show more"
            [content]="example1"
        >
            <tui-elastic-container-example-1 />
        </tui-doc-example>

        <tui-doc-example
            id="contenteditable"
            heading="contenteditable"
            [content]="example2"
        >
            <tui-elastic-container-example-2 />
        </tui-doc-example>

        <tui-doc-example
            id="dynamic"
            heading="Add and remove content"
            [content]="example3"
        >
            <tui-elastic-container-example-3 />
        </tui-doc-example>

        <tui-doc-example
            id="expand"
            heading="With animations inside"
            [content]="example4"
        >
            <tui-elastic-container-example-4 />
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Setup">
        <tui-setup
            [import]="exampleModule"
            [template]="exampleHtml"
        />
    </ng-template>
</tui-doc-page>
