<tui-doc-page
    deprecated
    header="InputDateLegacy"
    package="LEGACY"
    path="legacy/components/input-date"
    type="components"
>
    <ng-template pageTab>
        <tui-notification appearance="negative">
            This version of the component is deprecated and will be removed in the next major version. Use
            <a
                tuiLink
                [routerLink]="routes.InputDate"
            >
                <strong>new version of InputDate</strong>
            </a>
            instead!
        </tui-notification>

        <div class="tui-space_bottom-9">
            <code>InputDate</code>
            – input with a calendar.
        </div>

        <p>
            Date formatting can be customized with
            <a
                fragment="date-format"
                tuiLink
                [routerLink]="routes.Tokens"
            >
                TUI_DATE_FORMAT
            </a>
            token.
        </p>

        <p class="tui-space_bottom-9">
            <a
                fragment="date-localization"
                routerLink="."
                tuiLink
            >
                See example
            </a>
            with the usage of these tokens.
        </p>

        <h3>DI-tokens for input-configurations:</h3>
        <dl>
            <dt>
                <code>TUI_DATE_VALUE_TRANSFORMER</code>
            </dt>
            <dd>
                custom format of control output (
                <a
                    href="https://github.com/taiga-family/taiga-ui/blob/main/projects/cdk/date-time/day.ts"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    TuiDay
                </a>
                is default).
                <p>
                    <a
                        fragment="native-date-output"
                        routerLink="."
                        tuiLink
                    >
                        See example
                    </a>
                    with built-in
                    <a
                        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date"
                        rel="noreferrer"
                        target="_blank"
                        tuiLink
                    >
                        Date
                    </a>
                    object as control's output.
                </p>
            </dd>
        </dl>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="sizes"
            heading="sizes"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="named"
            heading="With named dates"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="date-localization"
            heading="Date localization"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="native-date-output"
            heading="With native Date output"
            [component]="5 | tuiComponent"
            [content]="example5"
        />

        <tui-doc-example
            id="native-input-date"
            heading="Native input date"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
        />

        <tui-doc-example
            id="dynamic-date-format"
            heading="Dynamic date format"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-date
                    [disabledItemHandler]="disabledItemHandler"
                    [focusable]="focusable"
                    [formControl]="control"
                    [items]="items"
                    [markerHandler]="markerHandler"
                    [max]="max"
                    [min]="min"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [style.text-align]="textAlign"
                    [tuiDropdownOpen]="!!(dropdownOpen | async)"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldIconLeft]="iconStart"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    (tuiDropdownOpenChange)="dropdownOpen.next($event)"
                >
                    Choose a date
                </tui-input-date>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[disabled]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </tr>
            <tr
                name="[disabledItemHandler]"
                tuiDocAPIItem
                [items]="disabledItemHandlerVariants"
                [(value)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </tr>
            <tr
                name="[items]"
                tuiDocAPIItem
                type="TuiNamedDay[]"
                [items]="itemsVariants"
                [(value)]="items"
            >
                A list of preset dates for dropdown
            </tr>
            <tr
                name="[markerHandler]"
                tuiDocAPIItem
                type="TuiMarkerHandler | null"
                [items]="markerHandlerVariants"
                [(value)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with circled marker colors
            </tr>
            <tr
                name="[min]"
                tuiDocAPIItem
                type="TuiDay | null"
                [items]="minVariants"
                [(value)]="min"
            >
                Minimum date
            </tr>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="TuiDay | null"
                [items]="maxVariants"
                [(value)]="max"
            >
                Maximum date
            </tr>
            <tr
                name="[style.text-align]"
                tuiDocAPIItem
                type="string"
                [items]="textAlignVariants"
                [(value)]="textAlign"
            >
                Custom align content by text-align
            </tr>
        </table>
        <inherited-documentation [dropdown]="true" />
    </ng-template>

    <ng-template pageTab>
        <p>
            If you want to use
            <a
                tuiLink
                [routerLink]="routes.MobileCalendar"
            >
                MobileCalendar
            </a>
            with your controls add
            <code>tuiProvideMobileCalendar()</code>
            to the providers
        </p>
        <tui-setup />
    </ng-template>
</tui-doc-page>
