@import '@taiga-ui/core/styles/taiga-ui-local';

tui-pdf-viewer {
    display: block;
    inline-size: 100%;
    block-size: 100vh;
    box-sizing: border-box;
    color: var(--tui-text-primary);
    padding-block-start: env(safe-area-inset-top);
    padding-block-end: env(safe-area-inset-bottom);

    --t-header: 4rem;

    tui-root:not(._mobile) & {
        background: var(--tui-background-accent-on-light, rgba(0, 0, 0, 1));
    }

    tui-root._mobile tui-dialog & {
        --t-header: 2.5rem;

        tui-app-bar[data-size] {
            margin: calc(-1 * env(safe-area-inset-top)) 0 0;
        }
    }

    tui-sheet-dialog & {
        --t-header: 4.5rem;

        tui-app-bar {
            margin: -1rem -1rem 0;
        }

        .t-content {
            margin: 0 -1rem;
            inline-size: 100vw;
        }
    }

    .t-header {
        display: flex;
        align-items: center;
        block-size: 4rem;
        padding: 0 3rem 0 1rem;
    }

    .t-title {
        margin: 0;
        font: var(--tui-font-text-m);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .t-actions {
        display: flex;
        gap: 0.5rem;
        margin-inline-start: auto;
        margin-inline-end: 0.5rem;
    }

    .t-content {
        display: flex;
        block-size: calc(100% - var(--t-header));
        overflow: hidden;
        justify-content: center;
    }

    tui-loader,
    tui-block-status {
        inline-size: 100%;
        margin-block-start: calc(-1 * var(--t-header));
    }

    iframe {
        inline-size: 100%;
        block-size: 100%;
    }
}
