.settings {
    margin: 1rem;
}

.dropdown-marker {
    width: 0.625rem;
    height: 0.625rem;
    background: #ee7776;
    margin: 0 0.3125rem;
    border-radius: 50%;

    &.opened {
        background: #b9c86f;
    }
}
