@import 'taiga-ui-local';

.wrapper {
    margin-top: 1.875rem;
}

.text {
    font: var(--tui-font-text-s);
    margin-top: @space;
    color: var(--tui-text-02);
}

.inner {
    margin: 1rem 0;
    white-space: normal;

    &_flex {
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 31.25rem;
    }
}
