@import 'taiga-ui-local';

@padding: 0.75rem;

:host {
    .transition(background-color);

    --left-content-color: currentColor;
    position: relative;
    display: inline-flex;
    font: var(--tui-font-text-s);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: var(--tui-base-01);
    border-radius: 6.25rem;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    max-width: 100%;

    &:after {
        .transition(background);
        .fullsize();
        content: '';
        box-sizing: border-box;
        border-radius: inherit;
        pointer-events: none;
    }

    &._hoverable:hover,
    &._hoverable:active {
        &[data-tui-host-status='custom']:after {
            background-color: var(--tui-clear);
        }
    }

    &[data-tui-host-status='primary'] {
        background-color: var(--tui-primary);
        color: var(--tui-primary-text);

        &._hoverable:hover {
            background-color: var(--tui-primary-hover);
        }

        &._hoverable:active {
            background-color: var(--tui-primary-active);
        }
    }

    &[data-tui-host-status='error'] {
        --left-content-color: var(--tui-error-fill);
        background-color: var(--tui-error-bg);
        color: var(--tui-text-01);

        &._hoverable:hover,
        &._hoverable:active {
            background-color: var(--tui-error-bg-hover);
        }

        &[data-mode='onDark'] {
            background-color: var(--tui-error-bg-night);
            color: var(--tui-text-01-night);

            &._hoverable:hover,
            &._hoverable:active {
                background-color: var(--tui-error-bg-night-hover);
            }
        }
    }

    &[data-tui-host-status='success'] {
        --left-content-color: var(--tui-success-fill);
        background-color: var(--tui-success-bg);
        color: var(--tui-text-01);

        &._hoverable:hover,
        &._hoverable:active {
            background-color: var(--tui-success-bg-hover);
        }

        &[data-mode='onDark'] {
            background-color: var(--tui-success-bg-night);
            color: var(--tui-text-01-night);

            &._hoverable:hover,
            &._hoverable:active {
                background-color: var(--tui-success-bg-night-hover);
            }
        }
    }

    &[data-tui-host-status='warning'] {
        --left-content-color: var(--tui-warning-fill);
        background-color: var(--tui-warning-bg);
        color: var(--tui-text-01);

        &._hoverable:hover,
        &._hoverable:active {
            background-color: var(--tui-warning-bg-hover);
        }

        &[data-mode='onDark'] {
            background-color: var(--tui-warning-bg-night);
            color: var(--tui-text-01-night);

            &._hoverable:hover,
            &._hoverable:active {
                background-color: var(--tui-warning-bg-night-hover);
            }
        }
    }

    &[data-tui-host-status='info'] {
        --left-content-color: var(--tui-info-fill);
        background-color: var(--tui-info-bg);
        color: var(--tui-text-01);

        &._hoverable:hover,
        &._hoverable:active {
            background-color: var(--tui-info-bg-hover);
        }

        &[data-mode='onDark'] {
            background-color: var(--tui-info-bg-night);
            color: var(--tui-text-01-night);

            &._hoverable:hover,
            &._hoverable:active {
                background-color: var(--tui-info-bg-night-hover);
            }
        }
    }

    &[data-tui-host-status='neutral'] {
        --left-content-color: var(--tui-neutral-fill);
        background-color: var(--tui-neutral-bg);
        color: var(--tui-text-01);

        &._hoverable:hover,
        &._hoverable:active {
            background-color: var(--tui-neutral-bg-hover);
        }

        &[data-mode='onDark'] {
            background-color: var(--tui-neutral-bg-night);
            color: var(--tui-text-01-night);

            &._hoverable:hover,
            &._hoverable:active {
                background-color: var(--tui-neutral-bg-night-hover);
            }
        }
    }

    &[data-tui-host-status='default'] {
        background-color: var(--tui-base-06);

        &:not([data-mode]) {
            &._hoverable:hover {
                background-color: var(--tui-base-07);
            }

            &._hoverable:active {
                background-color: var(--tui-base-08);
            }
        }

        &[data-mode='onDark'] {
            background-color: var(--tui-clear-inverse-hover);

            &._hoverable:hover {
                background-color: var(--tui-clear-inverse-active);
            }

            &._hoverable:active {
                background-color: var(--tui-clear-inverse-active);
            }

            &:focus:after {
                border: 2px solid var(--tui-base-01);
            }
        }

        &[data-mode='onLight'] {
            background-color: var(--tui-clear);
            color: var(--tui-text-01);

            &._hoverable:hover {
                background-color: var(--tui-clear-hover);
            }

            &._hoverable:active {
                background-color: var(--tui-clear-active);
            }
        }
    }

    &._hoverable {
        cursor: pointer;
    }

    &[data-tui-host-padding='m'] {
        padding: 0 @padding - 0.25rem;

        &[data-size='xs'] {
            padding: 0 @padding - 0.5rem;
        }

        &[data-size='s'] {
            padding: 0 @padding - 0.375rem;
        }

        &[data-size='l'] {
            padding: 0 @padding - 0.125rem;
        }
    }

    &[data-tui-host-padding='l'] {
        padding: 0 @padding - 0.125rem;

        &[data-size='xs'] {
            padding: 0 @padding - 0.375rem;
        }

        &[data-size='s'] {
            padding: 0 @padding - 0.25rem;
        }

        &[data-size='l'] {
            padding: 0 @padding;
        }
    }

    &[data-size='xs'] {
        font: var(--tui-font-text-xs);
        height: 1rem;
        min-width: 1rem;

        .t-left-content:before {
            width: 0.34375rem;
            height: 0.34375rem;
        }
    }

    &[data-size='s'] {
        font: var(--tui-font-text-xs);
        height: 1.25rem;
        min-width: 1.25rem;

        .t-left-content:before {
            width: 0.25rem;
            height: 0.25rem;
        }
    }

    &[data-size='m'] {
        height: var(--tui-height-xs);
        line-height: var(--tui-height-xs);
        min-width: var(--tui-height-xs);
    }

    &[data-size='l'] {
        height: var(--tui-height-s);
        line-height: var(--tui-height-s);
        min-width: var(--tui-height-s);

        .t-left-content:before {
            margin: 0 0.5rem 0 0;
            width: 0.5rem;
            height: 0.5rem;
        }
    }

    &._empty-value {
        .t-left-content {
            margin: 0 -0.25rem;

            &:before {
                margin: 0;
            }
        }
    }
}

.t-left-content {
    display: none;
    color: var(--left-content-color);
    line-height: 0;

    &:not(:empty) {
        display: block;
        margin-left: -0.25rem;

        &:before {
            content: none;
        }
    }

    :host[data-tui-host-status='error'] &,
    :host[data-tui-host-status='success'] &,
    :host[data-tui-host-status='warning'] &,
    :host[data-tui-host-status='info'] &,
    :host[data-tui-host-status='neutral'] & {
        display: block;
    }

    &:before {
        content: '';
        display: block;
        background: currentColor;
        margin: 0 0.375rem 0 0;
        width: 0.375rem;
        height: 0.375rem;
        border-radius: 100%;
    }
}

.t-text {
    .text-overflow();
}
