tui-doc-page section:not(:last-child) {
    margin-bottom: 5rem;
}

.wrap {
    white-space: normal;
}

tui-accordion-item p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
