[tuiAccordion] {
    white-space: normal;
    block-size: fit-content;
    padding-block: 1rem;
    font-weight: normal;
}

[tuiCardLarge] {
    margin-block-start: 1rem;

    &[data-appearance='custom'] {
        border: 0.25rem solid var(--tui-background-base-alt);
        border-radius: var(--tui-radius-m);
    }
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: flex;
    gap: 0.5rem;
}

tui-accordion {
    border-radius: 0;

    [tuiButton] {
        box-shadow: none;
        padding-inline-start: 0;
        padding-block-start: 0;

        [tuiBadge] {
            align-self: flex-start;
            margin-block-start: 0.0625rem;
            margin-inline-start: 0.0625rem;
        }

        &:active {
            background: none !important;
        }
    }

    tui-expand {
        padding: 0;
        box-shadow: none;
    }
}
