tui-doc-page section:not(:last-child) {
    margin-block-end: 5rem;
}

.wrap {
    white-space: normal;
}

tui-accordion:not(:last-child) {
    margin-block-end: 1rem;
}

tui-accordion-item p {
    &:first-child {
        margin-block-start: 0;
    }

    &:last-child {
        margin-block-end: 0;
    }
}
