.example {
    min-height: 15rem;
    max-height: 15rem;
}

.line-clamp-box {
    height: 5.75rem;
    min-height: 1.5rem;
    resize: both;
    overflow: auto;
    padding: 0.5rem;
    border-radius: var(--tui-radius-l);
    /* stylelint-disable-next-line */
    border: 1px solid var(--tui-base-03);
}
