@import 'taiga-ui-local';

:host {
    display: block;
}

.t-header {
    font-size: 0.6875rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: var(--tui-text-02);
    margin: 0 0 @space * 2;
    white-space: nowrap;
}
