:host {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    inline-size: 23.25rem;
}

.badge {
    background: #aff218;
    color: #333;
}

[tuiSubtitle][tuiSubtitle] {
    color: #fff;
}

.poster {
    background: #4158d0 linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    padding: 0.75rem;
    color: #fff;
    inline-size: 13.9375rem;
    block-size: 8rem;
}

.fly {
    background: #0093e9 linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    padding: 0.75rem;
    color: #fff;
    inline-size: 8rem;
    block-size: 8rem;
}

.one-line {
    background: #00dbde linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    inline-size: 100%;
}

.two-line {
    background: #fbab7e linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    inline-size: 15.9375rem;
}

[tuiCardLarge] [tuiCell],
[tuiCardLarge] tui-icon {
    color: #fff;
}

[tuiTruncate] {
    flex-direction: row; // reset tuiTitle flex-direction
}
