<tui-doc-page
    header="Breadcrumbs"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Navigation element that shows a path from root page to the current</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-breadcrumbs
                [itemsLimit]="itemsLimit"
                [size]="size"
            >
                <ng-container *ngFor="let item of items">
                    <button
                        *tuiItem
                        tuiLink
                        type="button"
                    >
                        {{ item }}
                    </button>
                </ng-container>
            </tui-breadcrumbs>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[itemsLimit]"
                tuiDocAPIItem
                type="number"
                [(value)]="itemsLimit"
            >
                Limit on visible items
            </tr>
            <tr
                name="[size]"
                tuiDocAPIItem
                type="TuiSizeL"
                [items]="sizeVariants"
                [(value)]="size"
            >
                Text size
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
