<tui-doc-page
    header="Breadcrumbs"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Navigation element that shows a path from root page to the current</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [description]="example.description"
            [heading]="example.name"
            [id]="example.name | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-breadcrumbs [size]="size">
                <ng-container *ngFor="let item of items">
                    <a
                        *tuiItem
                        tuiLink
                        [routerLink]="item.routerLink"
                    >
                        {{ item.caption }}
                    </a>
                </ng-container>
            </tui-breadcrumbs>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Text size
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
