@import '@taiga-ui/core/styles/taiga-ui-local';

.ticks-labels {
    .tui-slider-ticks-labels(l);

    color: var(--tui-text-secondary);
    align-items: center;
    margin-block-start: 0.25rem;
}

tui-icon {
    border-block-width: 0.25rem;
}
