@import '@taiga-ui/core/styles/taiga-ui-local.less';

span {
    display: inline-block;
    max-inline-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}
