@import '@taiga-ui/core/styles/taiga-ui-local';

/*
*** Thumb – this is an element on the track that the user can move around to select varying range values.
*** Track – this is the part of the slider that the thumb runs along.
*** Ticks - tick marks along the length of the track.
*/

@track-height: 0.125rem;
@ticks-thickness: 0.25rem;

@track-color: var(--tui-slider-track-color);
@thumb-color: currentColor;

@hitbox: 1rem;

@transform-noop: scale(1);

@active-thumb-scale-factor: {
    @s: 1.5;
    @m: 1.333;
};

.customize-track(@progress-filling, @thumb-width) {
    height: @track-height;
    border-radius: inherit;

    /*
    The most left point of the track is the most left point of the thumb (at the zero-position).
    The first tick should start at the center of thumb to set correct position for all other ticks.
    */
    @first-tick-offset: ((@thumb-width - @ticks-thickness) / 2);
    @ticks-background-size: calc(100% - @thumb-width);

    @hide-first-tick: linear-gradient(
        to right,
        @thumb-color 0px (@first-tick-offset + @ticks-thickness),
        transparent @ticks-thickness
    );
    @ticks-gradient: repeating-linear-gradient(
        to right,
        var(--tui-text-tertiary) 0 @ticks-thickness,
        transparent 0 var(--tui-slider-segment-width)
    );
    @filling-progress-gradient: linear-gradient(
        to right,
        @thumb-color calc(100% * var(--tui-slider-fill-ratio)),
        transparent calc(100% * var(--tui-slider-fill-ratio))
    );

    background-repeat: no-repeat;
    background-color: @track-color;

    & when (@progress-filling = true) {
        background-image: @hide-first-tick, @ticks-gradient, @filling-progress-gradient;
        background-position-x: 0, @first-tick-offset, 0;
        background-size: @ticks-background-size, @ticks-background-size, auto;
    }

    & when (@progress-filling = false) {
        background-image: @hide-first-tick, @ticks-gradient;
        background-position-x: 0, @first-tick-offset;
        background-size: @ticks-background-size;
    }
}

.customize-thumb(@size) {
    .transition(transform);

    isolation: isolate;
    appearance: none;
    background-color: @thumb-color;
    box-shadow: none;
    border-radius: 50%;
    height: @thumb-diameters[@@size];
    width: @thumb-diameters[@@size];

    /* Increase vertical hitbox by trasparent borders */
    box-sizing: content-box;
    background-clip: content-box;
    border: ((@hitbox - @thumb-diameters[@@size]) / 2) solid transparent;
    border-left: 0;
    border-right: 0;
    transform: var(--tui-slider-thumb-transform, @transform-noop);

    :not(:disabled)& {
        cursor: ew-resize;

        &:hover,
        :active& {
            transform: var(--tui-slider-thumb-transform, @transform-noop) scale(@active-thumb-scale-factor[@@size]);
        }
    }

    :focus-visible& {
        box-shadow: 0 0 0 2px inset var(--tui-border-focus);
    }
}

/* Vertically centers thumb on the track (webkit only) */
.vertically-align-thumb() {
    margin-top: (@track-height / 2) - (@hitbox / 2);
}

.thumb-ghost(@size) {
    position: absolute;
    top: ((@hitbox - @thumb-diameters[@@size]) / 2);
    left: calc(var(--tui-slider-fill-ratio) * 100% - var(--tui-slider-fill-ratio) * @thumb-diameters[@@size]);
    width: @thumb-diameters[@@size];
    height: @thumb-diameters[@@size];
    border-radius: 50%;
    transform: var(--tui-slider-thumb-transform, @transform-noop);
}

.thumb-overlay(@size) {
    &:not(:disabled)::before {
        .transition(~'transform, opacity');
        .thumb-ghost(@size);

        content: '';
        cursor: ew-resize;
        background: @thumb-color;
        opacity: 0;
    }

    &:active::before {
        opacity: 0.2;
        transform: var(--tui-slider-thumb-transform, @transform-noop) scale(2.33);
    }
}

:host {
    position: relative;
    display: block;
    width: 100%;
    color: var(--tui-background-accent-1); /* See currentColor inside this file */
    cursor: pointer;
    appearance: none;
    height: @track-height;
    padding: ((@hitbox - @track-height) / 2) 0; /* To catch click events nearby THIN input's track */
    background-color: transparent;
    background-clip: content-box; /* To clip filling of paddings */
    outline: none;
    border-radius: var(--tui-radius-m);

    &:active {
        cursor: ew-resize;
    }

    &:disabled {
        opacity: var(--tui-disabled-opacity);
        cursor: auto;
    }

    &[data-size='s'] {
        .thumb-overlay(s);
    }

    &[data-size='m'] {
        .thumb-overlay(m);
    }

    &::-webkit-slider-container {
        border-radius: inherit;
    }

    &[data-size='m']::-webkit-slider-runnable-track {
        .customize-track(true, @thumb-diameters[@m]);
    }

    &[data-size='s']::-webkit-slider-runnable-track {
        .customize-track(true, @thumb-diameters[@s]);
    }

    &[data-size='m']::-moz-range-track {
        .customize-track(false, @thumb-diameters[@m]);
    }

    &[data-size='s']::-moz-range-track {
        .customize-track(false, @thumb-diameters[@s]);
    }

    &[data-size='m']::-webkit-slider-thumb {
        .customize-thumb(m);
        .vertically-align-thumb();
    }

    &[data-size='s']::-webkit-slider-thumb {
        .customize-thumb(s);
        .vertically-align-thumb();
    }

    &[data-size='m']::-moz-range-thumb {
        .customize-thumb(m);
    }

    &[data-size='s']::-moz-range-thumb {
        .customize-thumb(s);
    }

    &::-moz-range-progress {
        /**
        Don't join this line with other ones from the same selector!
        Angular optimizer mistakenly transforms all lines with `border-**-radius` into the single one:
        ```
        border-radius: inherit 0 0 inherit;
        ```
        It is not valid for Firefox.
        Read more: https://github.com/taiga-family/taiga-ui/issues/3489#issuecomment-1401820320
        */
        border-radius: inherit;
    }

    /* stylelint-disable-next-line no-duplicate-selectors */
    &::-moz-range-progress {
        height: @track-height;
        background: @thumb-color;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
