:host {
    width: 20rem;
}

.blur {
    background-image: url('/assets/images/restaurant-2.jpg');
    border-radius: 1rem;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 1;

    &:before {
        backdrop-filter: blur(1rem);
    }
}
