@import '@taiga-ui/styles/utils';

.range {
    z-index: 1;

    /* (Optionally) expand clickable area as you wish */
    &::after {
        top: -0.5rem;
        bottom: -1.5rem;
    }
}

.ticks-labels {
    .tui-slider-ticks-labels();
}

tui-icon::before {
    font-size: 1rem;
}
