@import '@taiga-ui/core/styles/taiga-ui-local';

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.gstatic.com/s/materialsymbolsoutlined/v257/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2')
        format('woff2');
}

:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    inline-size: 21.5625rem;

    --t-font-icon: 'Material Symbols Outlined';

    @media @tui-mobile {
        inline-size: 100%;
    }
}

.custom {
    color: var(--tui-status-warning);

    &::before {
        color: var(--tui-text-action);
    }
}
