@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    inline-size: 18rem;
    margin: 2rem 0;
}

.fallback {
    .center-top();

    right: 2rem;
}

[tuiCardLarge] {
    margin: 3rem 1.5rem;
}

tui-swipe-actions {
    margin: -3rem -1.5rem;
}

button[tuiSwipeAction] {
    border-radius: 100%;

    &:last-child {
        margin-inline-end: 0.5rem;
    }
}

@media @tui-touch {
    .fallback {
        display: none;
    }
}
