<ng-container *tuiTextfieldContent>
    <input
        #input
        tabindex="-1"
        type="color"
        class="tui-input-color_picker"
        [attr.list]="list"
        [class.tui-input-color_start]="align() === 'start'"
        [disabled]="!interactive()"
        [style.--t-opacity]="filled() ? opacity() / 255 : 0"
        [value]="value().length > 6 ? value().slice(0, 7) : ''"
        (input)="onInput(input.value)"
    />
    @if (format() === 'hexa' && interactive()) {
        <input
            max="255"
            tuiSlider
            type="range"
            [ngModel]="opacity()"
            [ngModelOptions]="{standalone: true}"
            (ngModelChange)="onOpacity($event)"
            (pointerdown.stop)="el.focus()"
        />
    }
</ng-container>
