@import '@taiga-ui/styles/utils';

.tui-input-color_picker {
    && {
        position: relative;
        font-size: 1rem;
        inline-size: calc(var(--t-height) / 2);
        block-size: calc(var(--t-height) / 2);
        border: none;
        border-radius: 100%;
        padding: 0 !important;
        overflow: hidden;
        cursor: pointer;
        order: 100;
        background: repeating-conic-gradient(var(--tui-border-normal) 0% 25%, transparent 0% 50%);
        box-shadow: 0 0 0 1px var(--tui-border-normal);

        &:disabled {
            cursor: default;
        }
    }

    tui-textfield[data-size='s'] & {
        margin-inline-end: 0.25rem;
    }

    tui-textfield[data-size='l'] & {
        margin-inline-end: -0.25rem;
    }

    &.tui-input-color_start {
        position: absolute;
        top: 50%;
        inset-inline-start: calc(var(--t-height) / 4);
        transform: translateY(-50%);
    }

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: none;
        opacity: var(--t-opacity);
    }

    &::-moz-color-swatch {
        border: none;
        opacity: var(--t-opacity);
    }
}
