@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    min-height: 2.75rem;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.t-label {
    overflow: inherit;
    max-width: 100%;
    align-self: inherit;
    font: var(--tui-font-text-s);
    pointer-events: auto;

    :host._control & {
        margin-bottom: 0.25rem;
    }
}

.t-text {
    display: block;
    overflow: inherit;
    text-overflow: ellipsis;

    :host:not(._control) & {
        color: var(--tui-text-02);
    }

    :host([data-mode='onDark']) & {
        color: var(--tui-text-02-night);
    }
}

.t-content {
    overflow: inherit;
    line-height: 1.5rem;
    pointer-events: auto;
    text-overflow: ellipsis;
}
