@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiLabel] {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    font: var(--tui-font-text-s);
    color: var(--tui-text-primary);

    &:not(._textfield) {
        flex-direction: row;
        width: fit-content;
        font: var(--tui-font-text-m);
    }

    //TODO: Remove after legacy inputs are dropped
    &:has(tui-primitive-textfield),
    &:has(tui-textarea) {
        flex-direction: column !important;
        width: auto !important;
        font: var(--tui-font-text-s) !important;
    }

    input[type='checkbox'],
    input[type='radio'] {
        margin-inline-end: 0.5rem;

        &[data-size='s'] {
            margin-inline-end: 0.25rem;
            margin-top: 0.125rem;
        }
    }

    small {
        font: var(--tui-font-text-s);
    }

    [tuiTitle] {
        margin-top: 0.125rem;
    }

    [tuiSubtitle] {
        color: var(--tui-text-secondary);
    }
}
