:host {
    display: block;
    background: url('/assets/images/big-wallpaper.jpg');
    background-size: cover;
    padding: 2rem;
}

.blur {
    backdrop-filter: blur(1rem);
    background: var(--tui-clear-inverse);
    color: var(--tui-text-01-night);
    padding: 1rem 1.25rem;
}

.title {
    margin: 0;
    font: var(--tui-font-heading-6);
}
