.button {
    display: flex;
    width: 20rem;
    text-align: left;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1.25rem;
    font: var(--tui-font-text-m);
}

.title {
    display: block;
    font: var(--tui-font-heading-6);
    margin-bottom: 0.25rem;
}

.bad {
    margin-top: 1rem;
    padding: 1.25rem;
}
