<!-- @bad TODO: Keyboard navigation-->
<tui-hosted-dropdown
    #hilite
    [content]="hiliteDropdown"
    [tuiDropdownMaxHeight]="999"
    (openChange)="autoSave($event)"
>
    <button
        tuiIconButton
        type="button"
        size="s"
        tuiHintDirection="top-left"
        appearance="icon"
        icon="tuiIconHiliteLarge"
        automation-id="toolbar__hilite-button"
        class="t-tool"
        [tuiHint]="backColorText$ | async"
        [tuiHintDescribe]="''"
        [pseudoActive]="hilite.open"
        [focusable]="hilite.open"
    ></button>
    <ng-container *tuiLet="backgroundColor$ | async as currentColor">
        <div
            *ngIf="!isBlankColor(currentColor || '')"
            class="t-plate"
            [style.background]="currentColor"
        ></div>
    </ng-container>
    <ng-template
        #hiliteDropdown
        let-activeZone
    >
        <tui-color-selector
            [colors]="colors"
            [color]="selectedColor"
            [tuiActiveZoneParent]="activeZone"
            (colorChange)="onValueChange($event)"
        ></tui-color-selector>

        <button
            tuiButton
            size="m"
            type="button"
            appearance="flat"
            class="t-color-save"
            (click)="setColor()"
        >
            {{ (texts$ | async)?.colorSaveAction }}
        </button>
    </ng-template>
</tui-hosted-dropdown>
