<div
    tuiDropdownOpenMonitor
    class="t-hosted"
    [tuiDropdown]="dropdown"
    [tuiDropdownEnabled]="interactive && !nativePicker"
    [tuiDropdownOpen]="open && interactive && !nativePicker"
    (tuiDropdownOpenChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        *tuiLet="filler$ | async as filler"
        automation-id="tui-input-date-range__textfield"
        tuiValueAccessor
        class="t-textfield"
        [disabled]="computedDisabled"
        [focusable]="computedFocusable"
        [invalid]="computedInvalid"
        [maskito]="computedMask"
        [nativeId]="nativeId"
        [pseudoFocus]="pseudoFocus"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldFiller]="getComputedFiller(filler || '')"
        [tuiTextfieldIcon]="calendarIcon && iconContent"
        [value]="computedValue"
        (focusedChange)="onFocused($event)"
        (valueChange)="onValueChange($event)"
    >
        <ng-content />
        <ng-content
            ngProjectAs="input"
            select="input"
        />
    </tui-primitive-textfield>

    <ng-template #iconContent>
        <tui-icon
            *polymorpheusOutlet="calendarIcon as src; context: {$implicit: size}"
            automation-id="tui-input-date-range__icon"
            tuiAppearance="icon"
            [class.t-icon_small]="size === 's'"
            [class.t-icon]="!computedDisabled"
            [icon]="src.toString()"
            (click)="onIconClick()"
        />
        <input
            *ngIf="nativePicker"
            tuiDate
            class="t-native-input"
        />
    </ng-template>

    <ng-template
        #dropdown="polymorpheus"
        [polymorpheus]="type"
    >
        <tui-calendar
            automation-id="tui-input-date__calendar"
            [disabledItemHandler]="disabledItemHandler"
            [markerHandler]="markerHandler"
            [max]="computedMax"
            [min]="computedMin"
            [month]="computedActiveYearMonth"
            [value]="value"
            (dayClick)="onDayClick($event)"
            (monthChange)="onMonthChange($event)"
            (mousedown.prevent.silent)="(0)"
        />
        <div
            *ngIf="items.length === 1"
            class="t-button"
            (mousedown.prevent.silent)="(0)"
        >
            <button
                tuiLink
                type="button"
                (click)="onDayClick(items[0].day)"
            >
                {{ items[0] }}
            </button>
        </div>
    </ng-template>
</div>
