@import 'taiga-ui-local';

.label-wrapper {
    width: 50%;

    @media @mobile-m {
        width: 100%;
    }
}

.progress {
    &:nth-child(1) {
        color: #a3ecb3;
    }
    &:nth-child(2) {
        color: #39b54a;
    }
}
