<div
    tuiWrapper
    appearance="textfield"
    class="t-outline"
    [readOnly]="readOnly"
    [disabled]="disabled"
    [focused]="computedFocused"
    [hover]="computedHovered"
    [invalid]="computedInvalid"
>
    <div
        *tuiLet="editorLoaded$ | async as editorLoaded"
        class="t-wrapper"
        [class.t-wrapper_disabled]="disabled"
        (tuiHoveredChange)="onHovered($event)"
        (tuiActiveZoneChange)="onActiveZone($event)"
    >
        <div class="t-toolbar-wrapper">
            <tui-toolbar
                *ngIf="editorLoaded"
                [tools]="tools"
                [disabled]="!interactive"
            >
                <ng-content select="tools"></ng-content>
            </tui-toolbar>
            <div
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
            >
                <ng-content></ng-content>
            </div>
            <div
                *ngIf="hasExampleText"
                class="t-example-text"
            >
                {{ exampleText }}
            </div>
        </div>

        <tui-scrollbar
            tuiEditorPortal
            class="t-scrollbar"
        >
            <div
                *ngIf="editorLoaded"
                tuiDropdownLimitWidth="auto"
                tuiDropdownSelectionPosition="tag"
                [tuiDropdownSelection]="dropdownSelectionHandler"
                [tuiDropdownContent]="dropdown"
            >
                <tui-editor-socket
                    tuiTiptapEditor
                    spellcheck="false"
                    class="tui-editor-socket"
                    [value]="value"
                    [editable]="interactive"
                    (valueChange)="onModelChange($event)"
                    (stateChange)="(0)"
                    (click)="selectLinkIfClosest()"
                ></tui-editor-socket>
            </div>

            <ng-template #dropdown>
                <tui-edit-link
                    (addLink)="addLink($event)"
                    (removeLink)="removeLink()"
                ></tui-edit-link>
            </ng-template>

            <tui-editor-portal-host></tui-editor-portal-host>
        </tui-scrollbar>
    </div>
</div>
