<ng-container *ngIf="hintOptions?.change$ | async" />
<div
    automation-id="tui-text-area__wrapper"
    tuiWrapper
    class="t-outline"
    [appearance]="appearance"
    [disabled]="disabled"
    [focus]="computedFocused"
    [hover]="pseudoHover"
    [invalid]="computedInvalid"
    [readOnly]="readOnly"
>
    <div
        *ngIf="hasCounter"
        automation-id="tui-text-area__counter"
        class="t-counter"
    >
        {{ value.length }}/{{ maxLength }}
    </div>

    <label
        class="t-content"
        (mousedown)="onMouseDown($event)"
    >
        <div class="t-wrapper">
            <div
                *ngIf="hasPlaceholder"
                automation-id="tui-text-area__placeholder"
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
            >
                <ng-content />
            </div>
            <tui-scrollbar
                automation-id="tui-text-area__scrollbar"
                class="t-box"
                [style.maxHeight.px]="computeMaxHeight"
            >
                <div class="t-input-wrapper">
                    <div class="t-relative">
                        <div
                            aria-hidden="true"
                            class="t-pseudo-content"
                        >
                            <span [textContent]="fittedContent || nativeFocusableElement?.placeholder"></span>
                            <span
                                class="t-pseudo-content__extra"
                                [textContent]="extraContent"
                            ></span>
                            <span class="t-caret"></span>
                        </div>
                        <textarea
                            #focusableElement
                            automation-id="tui-text-area__native"
                            class="t-input"
                            [disabled]="computedDisabled"
                            [id]="id"
                            [readOnly]="readOnly"
                            [tabIndex]="computedFocusable ? 0 : -1"
                            [(ngModel)]="value"
                        ></textarea>
                        <ng-content select="textarea" />
                    </div>
                </div>
            </tui-scrollbar>
        </div>
        <div class="t-icons">
            <div
                *ngIf="iconLeftContent"
                class="t-icon t-icon_left t-textfield-icon"
            >
                <tui-icon
                    *polymorpheusOutlet="iconLeftContent as src; context: {$implicit: size}"
                    tuiAppearance="icon"
                    [icon]="src.toString()"
                />
            </div>
            <ng-container *ngIf="hasCustomContent">
                <tui-icon
                    *polymorpheusOutlet="controller.customContent as src"
                    [icon]="src"
                />
            </ng-container>
            <ng-container *ngIf="hasCleaner">
                <tui-icon
                    *polymorpheusOutlet="iconCleaner as src; context: {$implicit: size}"
                    tuiAppearance="icon"
                    class="t-cleaner"
                    [icon]="src.toString()"
                    (click.stop)="onValueChange('')"
                />
            </ng-container>
            <tui-tooltip
                *ngIf="hasTooltip"
                automation-id="tui-text-area__tooltip"
                [content]="hintOptions?.content"
                [describeId]="id"
            />
            <div
                *ngIf="iconContent"
                class="t-icon t-textfield-icon"
            >
                <tui-icon
                    *polymorpheusOutlet="iconContent as src; context: {$implicit: size}"
                    tuiAppearance="icon"
                    [icon]="src.toString()"
                />
            </div>
        </div>
    </label>
</div>
