<tui-data-list-wrapper
    *tuiDataList
    [disabledItemHandler]="disabledItemHandler || itemsHandlers.disabledItemHandler"
    [itemContent]="stringify | tuiStringifyContent"
    [items]="items"
    [labels]="labels"
/>
@if (control.control?.valueChanges | async) {}
@if (emptyOption) {
    <option
        disabled
        selected
        value=""
    >
        {{ placeholder }}
    </option>
}
@for (group of items; track group) {
    <optgroup [label]="labels[$index]">
        @for (option of group; track option; let i = $index) {
            <option
                [disabled]="
                    disabledItemHandler ? disabledItemHandler(option) : itemsHandlers.disabledItemHandler(option)
                "
                [selected]="selected(option)"
                [value]="stringify(option)"
            >
                {{ stringify(option) }}
            </option>
        }
    </optgroup>
}
