<tui-doc-page
    header="Customization"
    type="components/icons"
>
    <ng-template pageTab>
        <tui-doc-example
            id="base"
            description="You can customize the path to your icons and inherit color"
            heading="Custom names"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="styles"
            heading="Custom styles"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />
    </ng-template>
</tui-doc-page>
