@import '@taiga-ui/styles/utils';

.fade {
    .scrollbar-hidden();

    inline-size: 20rem;
    block-size: 2rem;
    font: var(--tui-typography-heading-h6);
    white-space: nowrap;
    overflow: auto;
}
