@import '../../../styles/taiga-ui-local.less';

:host {
    .textfield-input();

    &::placeholder {
        color: var(--tui-text-03);
        opacity: 0;
    }

    :host-context(tui-primitive-textfield[data-mode='onDark'])::placeholder,
    :host-context(tui-text-area[data-mode='onDark'])::placeholder {
        color: var(--tui-text-03-night);
    }

    :host-context(tui-primitive-textfield._focused:not(._readonly))::placeholder,
    :host-context(tui-text-area._focused:not(._readonly))::placeholder {
        opacity: 1;
    }

    //noinspection ALL
    &::-webkit-caps-lock-indicator,
    &::-webkit-contacts-auto-fill-button,
    &::-webkit-credit-card-auto-fill-button,
    &::-webkit-credentials-auto-fill-button,
    &::-webkit-strong-password-auto-fill-button {
        .webkit-auto-fill-button-hidden();
    }
}

textarea:host {
    white-space: normal;

    :host-context(tui-text-area._ios) {
        padding-left: 0.8125rem; // compensation of unkillable padding in mobile safari
    }
}
