@if (control()?.control?.valueChanges | async) {}
@if (rows() > 1) {
    <tui-scroll-controls class="t-scrollbar" />
}

<div
    class="t-items"
    [class.t-items_horizontal]="rows() === 1"
    (click)="focusInput()"
    (pointerdown.self.zoneless.prevent)="(0)"
    (waResizeObserver)="$event[0] && onItems($event[0])"
>
    <ng-content select="label" />
    @for (item of control()?.value; track item) {
        <ng-template
            [polymorpheusOutlet]="component"
            [polymorpheusOutletContext]="{$implicit: {item, index: $index}}"
        />
    }
    <span
        class="t-input"
        (focus.capture)="onFocus()"
        (keydown.arrowLeft)="onLeft($event)"
    >
        <ng-content select="input" />
        <ng-content select="select" />
        <span class="t-ghost">{{ placeholder }}</span>
        <input
            aria-hidden="true"
            disabled
            class="t-filler"
            [class.t-filler_hidden]="!showFiller()"
            [value]="computedFiller()"
        />
    </span>
</div>

<span
    class="t-content"
    (click.stop)="input()?.nativeElement?.focus()"
    (pointerdown.zoneless.prevent)="(0)"
    (waResizeObserver)="$event[0] && onResize($event[0])"
>
    <ng-content />
    @if (options.cleaner()) {
        <button
            tuiButtonX
            (click)="accessor()?.setValue([])"
        >
            {{ clear() }}
        </button>
    }
    <ng-container #vcr />
    <ng-content select="tui-icon" />
</span>

@if (control()?.value != null) {
    <span
        class="t-template"
        [tuiCell]="options.size()"
    >
        <ng-container *polymorpheusOutlet="content() as text; context: {$implicit: control()?.value}">
            {{ text }}
        </ng-container>
    </span>
}
