@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '@taiga-ui/core/styles/components/textfield.less';

@keyframes horizontal {
    from {
        clip-path: inset(
            0 calc(100% - var(--t-width) + var(--t-right, 0rem) + var(--t-side) + 2 * var(--t-padding)) 0 0
        );
    }

    to {
        clip-path: inset(0);
    }
}

tui-textfield[multi] {
    flex-wrap: nowrap;
    overflow: scroll;
    align-items: stretch;
    cursor: text;
    scroll-behavior: var(--tui-scroll-behavior);

    &::before,
    &::after {
        block-size: var(--t-height);
    }

    .t-content {
        position: sticky;
        top: 0;
        right: 0;
    }

    .t-container {
        display: flex;
        flex: 1;
        align-items: center;
        //clip-path: inset(0 var(--t-clip-right, 0) 0 0);

        animation-name: horizontal;
        animation-timeline: scroll(x);
        animation-duration: 1ms;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    .t-clear {
        display: flex;
    }

    &[data-mode~='readonly'],
    &._disabled,
    &._empty {
        .t-clear {
            display: none;
        }
    }

    .t-container input:not(:focus)::placeholder {
        opacity: 0;
    }

    &._empty .t-container,
    &[data-focus='true']:not(:focus-within) .t-container {
        input::placeholder {
            opacity: 1;
        }
    }

    .t-input_wrapper {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1;
        max-inline-size: 100%;
        margin-inline-start: 0.125rem;

        .t-ghost {
            visibility: hidden;
            white-space: pre;
            text-overflow: clip;
            padding-inline-end: 0.125rem;
            min-block-size: 1.75rem;
        }

        input:defined {
            position: absolute;
            left: 0;
            inline-size: 100%;
            padding: 0;
        }
    }

    .t-filler:defined {
        position: absolute;
        left: 0;
    }

    &[data-size='l'] {
        --t-padding: 0.75rem;

        .t-input_wrapper:first-child {
            border-inline-start: 0.125rem solid transparent;
        }

        .t-container {
            padding: 0.625rem 0;
        }

        .t-ghost {
            min-block-size: 2.25rem;
        }
    }

    &[data-size='m'] {
        --t-padding: 0.625rem;

        .t-container {
            padding: 0.5rem 0;
        }
    }

    &[data-size='s'] {
        --t-padding: 0.25rem;

        padding-inline-end: 0.625rem;

        .t-input_wrapper:first-child {
            border-inline-start: 0.25rem solid transparent;
        }

        .t-container {
            padding: 0.125rem 0;
        }
    }

    &._text .t-input_wrapper {
        margin-inline-start: 0;

        .t-ghost {
            min-block-size: 1em;
        }
    }
}
