@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    width: 100%;
    color: var(--tui-text-primary);
    background: var(--tui-background-base);

    tr:not(:first-child) {
        border-top: 1px solid var(--tui-border-normal);
    }

    td {
        padding: 1.5rem;

        &:last-child {
            color: var(--tui-text-secondary);
            padding-right: 0;
        }
    }
}

.demo {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    overflow: hidden;
}

.name {
    .transition(color);
    position: relative;
    display: inline-block;
    height: 2rem;
    background: var(--tui-background-base-alt);
    border-radius: var(--tui-radius-m);
    padding: 0.25rem 0.75rem;
    box-sizing: border-box;

    &:hover {
        color: transparent;

        .copy {
            opacity: 1;
        }
    }

    .copy {
        min-width: 100%;
    }
}

.value {
    position: relative;
    width: 11.25rem;

    .copy {
        top: -0.25rem;
    }
}

.copy {
    .transition(opacity);
    position: absolute;
    top: 0;
    left: 0;
    background: var(--tui-background-base-alt);
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}
