[tuiTitle] {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    font: var(--tui-font-text-m-2);
    gap: 0.25rem;
    text-align: left;

    &[data-size='s'] {
        font: var(--tui-font-text-s);
        gap: 0.125rem;

        [tuiSubtitle] {
            font: var(--tui-font-text-xs);
        }
    }

    &[data-size='m'] {
        font: var(--tui-font-heading-5);
        gap: 0.125rem;

        [tuiSubtitle] {
            font: var(--tui-font-text-m);
        }
    }

    &[data-size='l'] {
        font: var(--tui-font-heading-3);
        gap: 0.5rem;

        [tuiSubtitle] {
            font: var(--tui-font-text-m);
        }
    }
}

[tuiSubtitle] {
    font: var(--tui-font-text-s-2);
}
