@import '@taiga-ui/core/styles/taiga-ui-local';
@import '@taiga-ui/legacy/styles/taiga-ui-local';

:host {
    position: relative;
    display: block;
    padding-top: 3.5rem;
    clear: inline-end;

    &:target {
        animation: 1s tuiShaking;
    }

    @media @tui-mobile {
        padding-top: 2rem;
    }
}

.t-title-block {
    display: flex;
    flex-direction: row-reverse;
}

.t-title {
    font: var(--tui-font-heading-5);
    margin: 0 auto 0.5rem 0;

    @media @tui-mobile {
        font: var(--tui-font-heading-6);
    }

    &:hover + .t-link {
        opacity: 1;
    }
}

.t-link {
    font: var(--tui-font-heading-6);
    padding-right: 0.1rem;

    @media not @tui-mobile {
        font: var(--tui-font-heading-5);
        margin-left: -1.6rem;

        &:not(:hover):not(.t-link-active) {
            opacity: 0;
        }
    }
}

.t-description {
    font: var(--tui-font-text-m);
    font-weight: normal;
    margin: 0;
}

.t-title::first-letter,
.t-description::first-letter {
    text-transform: capitalize;
}

.t-example {
    position: relative;
    margin-top: 1.5rem;
    border: 1px solid var(--tui-border-normal);
    border-radius: var(--tui-radius-m);
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @media @tui-mobile {
        margin-top: 0.75rem;
    }
}

.t-tabs-wrapper {
    display: flex;
    padding: 0 0.875rem 0 2rem;
    box-shadow: inset 0 -1px var(--tui-border-normal);
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    @media @tui-mobile {
        padding: 0 0.875rem 0 1rem;
    }
}

.t-tabs {
    flex-grow: 1;
    box-shadow: none;
}

.t-code-editor {
    flex-shrink: 0;
}

.t-demo {
    .customize-scroll();

    position: relative;
    padding: 2rem;
    max-inline-size: 100%;
    box-sizing: border-box;
    overflow-x: auto;

    @media @tui-mobile {
        padding: 1rem;
    }

    :host:not(._fullsize) & {
        inline-size: min-content;
        min-inline-size: 20rem;
    }
}

tui-doc-code {
    overflow: hidden;
}
