@import '@taiga-ui/styles/utils';

:host {
    position: relative;
    display: block;
    padding-block-start: 2rem;
    scroll-margin-top: 4rem;

    :host-context(tui-doc-toc +) {
        padding-block-start: 0;
    }

    :host-context(tui-doc-toc ~) {
        inline-size: calc(100% - 20rem);

        @media @tui-desktop {
            inline-size: 100%;
        }
    }

    :host-context(tui-doc-toc:empty ~) {
        inline-size: 100%;
    }

    ::ng-deep :fullscreen .t-header {
        padding: 0.25rem;
    }
}

.t-link {
    text-decoration: none !important;
    font: inherit;

    &::after {
        .transition(color);

        color: transparent;
    }

    &:hover,
    &:hover::after {
        color: var(--tui-text-secondary);
    }
}

.t-example {
    position: relative;
    border: 0.25rem solid var(--tui-background-base-alt);
    border-radius: var(--tui-radius-m);
    overflow: hidden;

    :host-context([tuiTheme='dark']) & {
        border: 0.25rem solid var(--tui-background-elevation-2);
    }

    &:not(:first-child) {
        margin-block-start: 1.25rem;

        @media @tui-mobile {
            margin-block-start: 0.75rem;
        }
    }
}

.t-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    gap: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-end: 0.125rem;
    background: var(--tui-background-base-alt);

    :host-context([tuiTheme='dark']) & {
        background: var(--tui-background-elevation-2);
    }

    --tui-stroke-width: 0.09375rem;
}

.t-tabs {
    flex-grow: 1;
    background: none;
    margin: -0.125rem;

    &::before {
        filter: none;
    }
}

.t-content {
    border-radius: var(--tui-radius-m);
    box-shadow:
        -1rem -1rem var(--tui-background-base-alt),
        1rem -1rem var(--tui-background-base-alt);

    :host-context([tuiTheme='dark']) & {
        box-shadow:
            -1rem -1rem var(--tui-background-elevation-2),
            1rem -1rem var(--tui-background-elevation-2);
    }

    &:first-child {
        box-shadow: none;
    }
}

.t-code-editor {
    flex-shrink: 0;
    block-size: auto;

    @media @tui-mobile {
        font-size: 0;
        inline-size: 1.5rem;
    }
}

.t-demo {
    position: relative;
    padding: 2rem;
    max-inline-size: 100%;
    box-sizing: border-box;
    overflow-x: auto;

    :host:not(._fullsize) & {
        inline-size: min-content;
        min-inline-size: 21rem;
    }

    @media @tui-mobile {
        min-inline-size: 100% !important;
        padding: 1rem;
    }
}

tui-doc-code {
    overflow: hidden;
}
