@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: relative;
    display: block;
    padding-block-start: 2rem;
    scroll-margin-top: 6rem;

    :host-context(tui-doc-toc +),
    &:first-child {
        padding-block-start: 0;
    }

    :host-context(tui-doc-toc ~) {
        inline-size: calc(100% - 20rem);

        @media @tui-desktop {
            inline-size: 100%;
        }
    }

    &:target {
        animation: 1s tuiShaking;
    }
}

.t-link {
    text-decoration: none !important;
    font: inherit;

    &::after {
        .transition(color);

        color: transparent;
    }

    &:hover,
    &:hover::after {
        color: var(--tui-text-secondary);
    }
}

.t-example {
    position: relative;
    margin-block-start: 1.25rem;
    border: 1px solid var(--tui-border-normal);
    border-radius: var(--tui-radius-m);
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @media @tui-mobile {
        margin-block-start: 0.75rem;
    }
}

.t-tabs-wrapper {
    display: flex;
    padding: 0 0.875rem 0 2rem;
    box-shadow: inset 0 -1px var(--tui-border-normal);
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    @media @tui-mobile {
        padding: 0 0.875rem 0 1rem;
    }
}

.t-tabs {
    flex-grow: 1;
    box-shadow: none;
}

.t-code-editor {
    flex-shrink: 0;
    block-size: auto;

    @media @tui-mobile {
        font-size: 0;
        inline-size: 1.5rem;
    }
}

.t-demo {
    position: relative;
    padding: 2rem;
    max-inline-size: 100%;
    box-sizing: border-box;
    overflow-x: auto;

    @media @tui-mobile {
        padding: 1rem;
    }

    :host:not(._fullsize) & {
        inline-size: min-content;
        min-inline-size: 21rem;
    }
}

tui-doc-code {
    overflow: hidden;
}
