@import '@taiga-ui/core/styles/taiga-ui-local.less';

/**
 * @name Floating
 * @selector [tuiFloating]
 *
 * @description
 * Container for creating sticky footers
 *
 * @example
 * <footer tuiFloating>
 *   <button
        type="button"
        tuiButton
    >
        Close
    </button>
 * </footer>
 *
 * @see-also
 * Block, SheetDialog
 */
[tuiFloating] {
    position: sticky;
    bottom: max(calc(100 * var(--tui-viewport-vh) - var(--tui-viewport-height) - var(--tui-viewport-y)), 0);
    z-index: 1;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    text-align: center;
    font: var(--tui-font-text-ui-s);
    color: var(--tui-text-secondary);

    &,
    & > tui-elastic-container > .t-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    // elements with playing :leave animation are absolute positioning, therefore they need to be fullwidth stretched
    & > *,
    & > tui-elastic-container > .t-wrapper > * {
        inline-size: 100%;
    }

    // when only button in container margin differs - (24px vs 16px), therefore need some workaround to correctly works when it's animating
    &:has(> *:only-child:not(tui-elastic-container)),
    &:has(*.ng-animating:first-child ~ .ng-animating:last-child) {
        padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));
    }

    &::before {
        .fullsize(absolute, inset);
        .transition(opacity);

        content: '';
        position: absolute;
        left: -1rem;
        right: -1rem;
        z-index: -1;
        background: linear-gradient(180deg, transparent, var(--t-background, var(--tui-background-elevation-1)) 2.5rem);
        opacity: 0;
    }

    &._substrate::before {
        opacity: 1;
    }
}
