<tui-doc-page
    header="InputChip"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <code>InputChip</code>
        =
        <code>Textfield multi</code>
        +
        <code>Chip</code>
        + ❤️

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    multi
                    [rows]="textfieldDoc.rows"
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                >
                    <input
                        placeholder="Enter"
                        tuiInputChip
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [readOnly]="controlDoc.readonly"
                        [separator]="separator"
                        [tuiDisabled]="controlDoc.disabled"
                        [unique]="unique"
                    />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tbody>
                <tr
                    name="[unique]"
                    tuiDocAPIItem
                    type="boolean"
                    [(value)]="unique"
                >
                    Ability to enter unique or non-unique tags
                </tr>
                <tr
                    name="[separator]"
                    tuiDocAPIItem
                    type="string"
                    [(value)]="separator"
                >
                    String or RegExp to separate tags
                </tr>
            </tbody>

            <tbody
                #textfieldDoc
                tuiDocTextfield
                [hiddenOptions]="[]"
            ></tbody>

            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
