<tui-doc-page
    header="InputChip"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>
            <code>InputChip</code>
            =
            <code>Textfield multi</code>
            +
            <code>Chip</code>
            + ❤️
        </p>

        <tui-doc-example
            id="basic"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
            [description]="basic"
        >
            <ng-template #basic>
                <code>Textfield[multi]</code>
                is used to display array of items. By default they are presented as plain strings.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="chips"
            heading="Chips"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
            [description]="chips"
        >
            <ng-template #chips>
                Use
                <code>*tuiItem</code>
                directive to provide custom representation. You can use
                <code>tui-input-chip</code>
                out of the box or implement your own. The context is
                <code>TuiContext&lt;&#123; item: T, index: number &#125;&gt;</code>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="customization"
            heading="Customization"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
            [description]="customization"
        >
            <ng-template #customization>
                You can customize many aspects of the component, from standard textfield options like icons and tooltips
                to changing the appearance of each individual chip.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="disabled-items"
            heading="Disabled items"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
            [description]="disabled"
        >
            <ng-template #disabled>
                Individual tags can be disabled using
                <code>disabledItemHandler</code>
                , this would prevent them from being edited, removed or added.
                <strong>Note:</strong>
                keep in mind cleaner would still empty the control. If you want a different behavior, you can disable
                built-in cleaner and provide your own.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="dropdown"
            heading="Dropdown"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
            [description]="dropdown"
        >
            <ng-template #dropdown>
                <code>InputChip</code>
                can act as multiple value input with suggestions or as multi-select. With
                <code>disabledItemHandler</code>
                you can force the component to only accept suggested values.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="mask"
            heading="Mask"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
            [description]="mask"
        >
            <ng-template #mask>
                Component can be used with
                <a
                    href="https://maskito.dev"
                    rel="noreferrer noopener"
                    target="_blank"
                    tuiLink
                >
                    Maskito
                </a>
                to facilitate input masking.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="direction"
            heading="Direction"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample"
            [description]="direction"
        >
            <ng-template #direction>Component can be used together with RTL direction.</ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    multi
                    [rows]="textfieldDoc.rows"
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                >
                    <input
                        placeholder="Enter"
                        tuiInputChip
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [readOnly]="controlDoc.readonly"
                        [separator]="separator"
                        [tuiDisabled]="controlDoc.disabled"
                        [unique]="unique"
                    />
                    <tui-input-chip *tuiItem />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tbody>
                <tr
                    name="[unique]"
                    tuiDocAPIItem
                    type="boolean"
                    [(value)]="unique"
                >
                    Ability to enter unique or non-unique tags
                </tr>
                <tr
                    name="[separator]"
                    tuiDocAPIItem
                    type="string"
                    [(value)]="separator"
                >
                    String or RegExp to separate tags
                </tr>
            </tbody>

            <tbody
                #textfieldDoc
                tuiDocTextfield
                [hiddenOptions]="[]"
            ></tbody>

            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
