<tui-doc-page
    header="InputChip"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <code>InputChip</code>
        =
        <code>Textfield multi</code>
        +
        <code>Chip</code>
        + ❤️

        <tui-doc-example
            id="basic"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="customization"
            heading="Customization"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="validation"
            heading="Validation"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="more-customization"
            heading="Text chip"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    multi
                    [rows]="rows"
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                >
                    <input
                        placeholder="Enter"
                        tuiInputChip
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [readOnly]="controlDoc.readonly"
                        [tuiDisabled]="controlDoc.disabled"
                    />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tbody>
                <tr
                    name="[unique]"
                    tuiDocAPIItem
                    type="boolean"
                    [(value)]="unique"
                >
                    Ability to enter unique or non-unique tags
                </tr>
                <tr
                    name="[rows]"
                    tuiDocAPIItem
                    type="number"
                    [(value)]="rows"
                >
                    Maximum number of rows
                </tr>
            </tbody>

            <tbody
                #textfieldDoc
                tuiDocTextfield
            ></tbody>

            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
