:host {
    margin: 0.125rem 0.25rem 0.125rem 0;

    input {
        padding: 0 0 0 0.25rem;
        transition: none;
        color: transparent;
    }

    tui-textfield([data-size='s']) & {
        margin: 0.0625rem 0.125rem 0.0625rem 0;
    }

    &._edit {
        background: transparent;

        input {
            color: var(--tui-text-primary);
        }

        &::before {
            color: transparent;
            transition: none;
        }
    }
}
