:host {
    cursor: pointer;

    .t-input {
        padding: inherit;
        transition: none;
        color: var(--tui-text-primary);
        cursor: text;
        outline: none;

        &:disabled {
            visibility: hidden;
        }
    }

    &._edit {
        background: transparent;

        .t-text {
            pointer-events: none;
            visibility: hidden;
        }

        &::before {
            color: transparent;
            transition: none;
        }
    }
}

:host-context(tui-textfield[data-size='s']) {
    left: -0.375rem;
    margin: 0.0625rem 0.125rem 0.0625rem 0;
}

:host-context(tui-textfield[data-size='m']) {
    left: -0.125rem;
    margin: 0.125rem 0.25rem 0.125rem 0;
}

:host-context(tui-textfield[data-size='l']) {
    left: -0.25rem;
    margin: 0.125rem 0.25rem 0.125rem 0;
}
