<input
    appearance=""
    enterkeyhint="enter"
    tuiChip
    class="t-input"
    [disabled]="!editing()"
    [ngModel]="internal()"
    [ngModelOptions]="{standalone: true}"
    (blur)="cancel()"
    (keydown.enter)="save()"
    (keydown.esc)="cancel()"
    (keydown.stop)="(0)"
    (ngModelChange)="internal.set($event)"
/>
<div
    tuiFade
    tuiFadeOffset="0.5rem"
    class="t-text"
    [tuiHintOverflow]="hint?.content() ? null : handlers.stringify()(internal())"
    (mousedown.prevent.zoneless)="(0)"
>
    {{ handlers.stringify()(internal()) }}
</div>
@if (textfield.cva?.interactive() && !editing() && !disabled()) {
    <button
        tabIndex="-1"
        tuiIconButton
        type="button"
        [iconStart]="icons.close"
        (click.stop)="delete()"
        (pointerdown.prevent.stop.zoneless)="(0)"
    >
        Remove
    </button>
}
