.heading {
    height: 12rem;
    top: -8rem;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: var(--tui-chart-categorical-03);
}

.image {
    position: absolute;
    height: 8rem;
    width: 100%;
    top: 1rem;
    left: 0;
    transform-origin: bottom;
    pointer-events: none;
}
