<tui-tiles
    class="t-wrapper"
    [(order)]="order"
>
    <tui-tile
        *ngFor="let item of unsortedItems; let index = index"
        [style.order]="order.get(index)"
    >
        <div class="t-item">
            <div
                tuiTileHandle
                class="t-draggable"
            >
                <tui-icon
                    class="t-icon"
                    [icon]="options.icons.drag"
                />
                <ng-container *polymorpheusOutlet="content as template; context: {$implicit: item, index: index}">
                    {{ template }}
                </ng-container>
            </div>
            <button
                appearance="icon"
                size="xs"
                tuiIconButton
                type="button"
                class="t-button"
                [class.t-button_hidden]="!isEnabled(item)"
                [iconLeft]="getIcon(item)"
                (click)="toggle(item)"
                (keydown.arrowDown.prevent)="move(index, 1)"
                (keydown.arrowUp.prevent)="move(index, -1)"
            >
                {{ showHideText$ | async }}
            </button>
        </div>
    </tui-tile>
</tui-tiles>
