<div cdkDropList class="wrapper" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of items" class="item" cdkDrag>
        <tui-svg src="tuiIconDrag" class="icon"></tui-svg>
        {{item}}
        <button
            type="button"
            tuiIconButton
            appearance="icon"
            class="button"
            size="xs"
            [title]="showHideText$ | async"
            [icon]="getIcon(item)"
            (click)="toggle(item)"
        ></button>
    </div>
</div>
