<ng-content select="input" />
<ng-content select="select" />
<ng-content select="label" />
<span
    class="t-content"
    (mousedown.prevent)="input?.nativeElement?.focus()"
    (waResizeObserver)="$event[0] && onResize($event[0])"
>
    <ng-content />
    <button
        *ngIf="options.cleaner()"
        appearance="icon"
        size="xs"
        tabindex="-1"
        tuiIconButton
        type="button"
        class="t-clear"
        [iconStart]="icons.close"
        (click)="directive?.setValue(null)"
        (pointerdown.silent.prevent)="input?.nativeElement?.focus()"
    >
        {{ clear() }}
    </button>
    <ng-container #vcr />
    <ng-content select="tui-icon" />
</span>
<span class="t-template">
    <ng-container *polymorpheusOutlet="content as text; context: {$implicit: control?.value}">
        {{ text }}
    </ng-container>
</span>
<input
    *ngIf="showFiller()"
    aria-hidden="true"
    disabled
    class="t-filler"
    [value]="computedFiller()"
/>
