@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper {
    position: relative;

    --tui-chart-0: var(--tui-support-03);
}

.stacked {
    .fullsize();

    --tui-secondary: transparent;
    --tui-chart-0: var(--tui-support-04);
}
