<tui-doc-page
    header="InputSlider"
    package="KIT"
    type="components"
>
    <ng-template pageTab>Coming soon, stay tuned ...</ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    #textfield
                    tuiInputSlider
                    [content]="textfield.focused() ? '' : textfieldContent"
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                >
                    <input
                        tuiInputNumber
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [max]="max()"
                        [min]="min()"
                        [postfix]="postfix"
                        [prefix]="prefix"
                        [readOnly]="controlDoc.readonly"
                        [tuiDisabled]="controlDoc.disabled"
                        [tuiNumberFormat]="{
                            thousandSeparator: numberFormatDoc.thousandSeparator(),
                            decimalSeparator: numberFormatDoc.decimalSeparator(),
                            precision: numberFormatDoc.precision(),
                            decimalMode: numberFormatDoc.decimalMode(),
                            rounding: numberFormatDoc.rounding(),
                        }"
                    />
                    <input
                        tuiSlider
                        type="range"
                        [keySteps]="keySteps"
                        [segments]="segments"
                        [step]="step"
                    />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>

        <table tuiDocAPI>
            <tbody>
                <tr>
                    <td colspan="3">
                        <span tuiTitle>
                            <a
                                target="_blank"
                                tuiLink
                                [routerLink]="routes.InputNumber"
                            >
                                <strong>InputNumber</strong>
                            </a>
                        </span>
                    </td>
                </tr>

                <tr
                    name="[min]"
                    tuiDocAPIItem
                    type="number"
                    [value]="min()"
                    (valueChange)="min.set($event)"
                >
                    The lowest value in the range of permitted values
                </tr>

                <tr
                    name="[max]"
                    tuiDocAPIItem
                    type="number"
                    [value]="max()"
                    (valueChange)="max.set($event)"
                >
                    The greatest value in the range of permitted values
                </tr>

                <tr
                    name="[prefix]"
                    tuiDocAPIItem
                    type="string"
                    [(value)]="prefix"
                >
                    Uneditable text
                    <strong>before</strong>
                    number
                </tr>

                <tr
                    name="[postfix]"
                    tuiDocAPIItem
                    type="string"
                    [(value)]="postfix"
                >
                    Uneditable text
                    <strong>after</strong>
                    number
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <td colspan="3">
                        <span tuiTitle>
                            <a
                                target="_blank"
                                tuiLink
                                [routerLink]="routes.Slider"
                            >
                                <strong>TuiSlider</strong>
                            </a>
                        </span>
                    </td>
                </tr>

                <tr
                    name="[step]"
                    tuiDocAPIItem
                    type="number"
                    [(value)]="step"
                >
                    Granularity of each discrete slider step and value of increase/decrease on keyboard arrows

                    <p>
                        For non-linear slider (
                        <code>[keySteps]</code>
                        property is enabled)
                        <code>[step]</code>
                        means percentage of total track length.
                    </p>
                </tr>

                <tr
                    name="[segments]"
                    tuiDocAPIItem
                    type="number"
                    [(value)]="segments"
                >
                    A number of visual segments (use
                    <code>1</code>
                    for no ticks)
                </tr>

                <tr
                    name="[keySteps]"
                    tuiDocAPIItem
                    type="TuiKeySteps | null"
                    [items]="keyStepsVariants()"
                    [(value)]="keySteps"
                >
                    Anchor points of non-uniform format between value and position
                </tr>
            </tbody>

            <tbody
                #numberFormatDoc
                tuiDocNumberFormat
            ></tbody>

            <tbody
                #textfieldDoc
                tuiDocTextfield
            >
                <!--TODO: create the inherited documentation for Textfield ([content] + [filler] props)-->
                <tr
                    name="[content]"
                    tuiDocAPIItem
                    type="PolymorpheusContent"
                    [items]="textfieldContentVariants()"
                    [(value)]="textfieldContent"
                >
                    A template for custom view of textfield value.
                </tr>
            </tbody>

            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>
</tui-doc-page>
