<tui-doc-page
    header="InputSlider"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component to input a limited range</p>

        <p>
            Number formatting can be customized by using
            <a
                fragment="number-format"
                tuiLink
                [routerLink]="routes.Tokens"
            >
                TUI_NUMBER_FORMAT
            </a>
        </p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
            [description]="stepQuantumDescription"
        >
            <ng-template #stepQuantumDescription>
                <p>
                    Look into this example to understand difference between input-props
                    <code>[steps]</code>
                    and
                    <code>[quantum]</code>
                    .
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="slider-segments"
            heading="With slider segments + ticks labels"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        >
            <tui-notification class="tui-space_bottom-8">
                Use mixin
                <code>tui-slider-ticks-labels</code>
                to arrange ticks' labels (it places them strictly below ticks).
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="key-steps"
            heading="KeySteps"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        >
            <dl class="tui-space_bottom-8 tui-space_top-0">
                <dt>
                    <strong>Key steps</strong>
                </dt>
                <dd>anchor points of non-uniform format between value and position</dd>
            </dl>
        </tui-doc-example>

        <tui-doc-example
            id="right-label"
            heading="With right label"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="min-max-labels"
            heading="With min and max labels"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
            [description]="valueContentDescription"
        >
            <ng-template #valueContentDescription>
                <p>
                    Pass
                    <a
                        href="https://github.com/taiga-family/ng-polymorpheus"
                        tuiLink
                    >
                        PolymorpheusContent
                    </a>
                    into property
                    <code>[valueContent]</code>
                    to create custom label for selected value.
                </p>
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-slider
                    [focusable]="focusable"
                    [formControl]="control"
                    [keySteps]="keySteps"
                    [max]="max"
                    [min]="min"
                    [pseudoActive]="pseudoPressed"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [quantum]="quantum"
                    [readOnly]="readOnly"
                    [segments]="segments"
                    [steps]="steps"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiNumberFormat]="{decimalMode: decimalMode, rounding, thousandSeparator, decimalSeparator}"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldCustomContent]="customContentSelected"
                    [tuiTextfieldIconLeft]="iconLeft"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldPostfix]="postfix"
                    [tuiTextfieldPrefix]="prefix"
                    [tuiTextfieldSize]="size"
                    [valueContent]="valueContent"
                >
                    Range
                </tui-input-slider>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="number"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="number"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="quantum"
                documentationPropertyType="number"
                [documentationPropertyValues]="quantumVariants"
                [(documentationPropertyValue)]="quantum"
            >
                Minimum indivisible value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="steps"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="steps"
            >
                Number of actual discrete slider steps

                <p>
                    If property is not set (i.e. equals to default value
                    <strong>0</strong>
                    ), number of steps equals
                    <code>(max&nbsp;-&nbsp;min)&nbsp;/&nbsp;quantum</code>
                </p>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="segments"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="segments"
            >
                A number of visual segments (use
                <code>1</code>
                for no ticks)
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="keySteps"
                documentationPropertyType="TuiKeySteps"
                [documentationPropertyValues]="keyStepsVariants"
                [(documentationPropertyValue)]="keySteps"
            >
                Key steps to bind slider position and value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="valueContent"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="valueContentVariants"
                [(documentationPropertyValue)]="valueContent"
            >
                A template for custom view of selected value.
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation />
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
