<tui-doc-page
    header="InputSlider"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p i18n>Component to input a limited range</p>

        <p i18n>
            Number formatting can be customized by using
            <a
                tuiLink
                routerLink="/utils/tokens"
                fragment="number-format"
            >
                TUI_NUMBER_FORMAT
            </a>
        </p>

        <tui-notification status="warning">
            <p
                i18n
                class="tui-space_top-0"
            >
                This component is being refactored.
                Soon&nbsp;(next&nbsp;major&nbsp;release) you will see the fresh
                version of it!
            </p>
            <p i18n>
                Of course, we keep backward compatibility in mind (for 2.x.x).
                You can still use old version of
                <code>InputSlider</code>
                .
            </p>

            <p i18n>
                However, if you are going to use this component, we recommend to
                use new version. To enable the "new version"-mode, add
                <code>new</code>
                directive. Example:&nbsp;
                <code>
                    &lt;tui&#8209;input&#8209;slider&nbsp;new&nbsp;...&gt;
                </code>
            </p>
        </tui-notification>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
            [description]="stepQuantumDescription"
        >
            <ng-template #stepQuantumDescription>
                <p>
                    Look into this example to understand difference between
                    input-props
                    <code>[steps]</code>
                    and
                    <code>[quantum]</code>
                    .
                </p>
            </ng-template>
            <tui-input-slider-example-1></tui-input-slider-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="slider-segments"
            i18n-heading
            heading="With slider segments + ticks labels"
            [content]="example2"
        >
            <tui-notification
                i18n
                class="tui-space_bottom-8"
            >
                Use mixin
                <code>tui-slider-ticks-labels</code>
                to arrange ticks' labels (it places them strictly below ticks).
            </tui-notification>
            <tui-input-slider-example-2></tui-input-slider-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="key-steps"
            i18n-heading
            heading="KeySteps"
            [content]="example3"
        >
            <dl
                i18n
                class="tui-space_bottom-8 tui-space_top-0"
            >
                <dt><strong>Key steps</strong></dt>
                <dd>
                    anchor points of non-uniform format between value and
                    position
                </dd>
            </dl>
            <tui-input-slider-example-3></tui-input-slider-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="right-label"
            i18n-heading
            heading="With right label"
            [content]="example4"
        >
            <tui-input-slider-example-4></tui-input-slider-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="min-max-labels"
            i18n-heading
            heading="With min and max labels"
            [content]="example5"
            [description]="valueContentDescription"
        >
            <ng-template #valueContentDescription>
                <p>
                    Pass
                    <a
                        tuiLink
                        href="https://github.com/tinkoff/ng-polymorpheus"
                    >
                        PolymorpheusContent
                    </a>
                    into property
                    <code>[valueContent]</code>
                    to create custom label for selected value.
                </p>
            </ng-template>
            <tui-input-slider-example-5></tui-input-slider-example-5>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-slider
                    new
                    [formControl]="control"
                    [min]="min"
                    [max]="max"
                    [quantum]="quantum"
                    [steps]="steps"
                    [segments]="segments"
                    [keySteps]="keySteps"
                    [valueContent]="valueContent"
                    [prefix]="prefix"
                    [postfix]="postfix"
                    [focusable]="focusable"
                    [readOnly]="readOnly"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [tuiTextfieldAutocomplete]="autocomplete"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldCustomContent]="customContentSelected"
                    [tuiTextfieldExampleText]="exampleText"
                    [tuiTextfieldSize]="size"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintMode]="hintMode"
                    [size]="size"
                    [pluralize]="pluralize"
                    [segmentsPluralize]="segmentsPluralize"
                    [minLabel]="minLabel"
                    [maxLabel]="maxLabel"
                    [secondary]="secondary"
                >
                    Range
                </tui-input-slider>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="quantum"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="quantumVariants"
                [(documentationPropertyValue)]="quantum"
            >
                Minimum indivisible value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="steps"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="steps"
            >
                Number of actual discrete slider steps

                <p>
                    If property is not set (i.e. equals to default value
                    <strong>0</strong>
                    ), number of steps equals
                    <code>(max&nbsp;-&nbsp;min)&nbsp;/&nbsp;quantum</code>
                </p>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="segments"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="segments"
            >
                A number of visual segments (use
                <code>1</code>
                for no ticks)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="keySteps"
                documentationPropertyMode="input"
                documentationPropertyType="TuiKeySteps"
                [documentationPropertyValues]="keyStepsVariants"
                [(documentationPropertyValue)]="keySteps"
            >
                Key steps to bind slider position and value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="valueContent"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="valueContentVariants"
                [(documentationPropertyValue)]="valueContent"
            >
                A template for custom view of selected value.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="prefix"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="prefix"
            >
                A prefix symbol, like currency
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="postfix"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="postfix"
            >
                A postfix symbol, like currency
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="minLabel"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="minLabelVariants"
                [(documentationPropertyValue)]="minLabel"
            >
                Label for min value.

                <p>
                    Use
                    <code>valueContent</code>
                    instead.
                </p>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="maxLabel"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="maxLabelVariants"
                [(documentationPropertyValue)]="maxLabel"
            >
                Label for max value.

                <p>
                    Use
                    <code>valueContent</code>
                    instead.
                </p>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
                <p>
                    Use
                    <code>tuiTextfieldSize</code>
                    instead.
                </p>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="secondary"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="secondaryVariants"
                [(documentationPropertyValue)]="secondarySelected"
            >
                Right label.
                <p>
                    Use
                    <code>tuiTextfieldCustomContent</code>
                    instead.
                </p>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pluralize"
                documentationPropertyMode="input"
                documentationPropertyType="TuiPluralize | Record<string, string>"
                [documentationPropertyDeprecated]="true"
                [documentationPropertyValues]="pluralizeVariants"
                [(documentationPropertyValue)]="pluralize"
            >
                Plural forms for labels. TuiPluralize array is deprecated. Use
                object that mimics the
                <a
                    tuiLink
                    href="https://unicode-org.github.io/icu/userguide/format_parse/messages/"
                >
                    ICU format
                </a>
                for i18nPlural.

                <p>
                    Use
                    <code>postfix</code>
                    instead.
                </p>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="segmentsPluralize"
                documentationPropertyMode="input"
                documentationPropertyType="TuiPluralize"
                [documentationPropertyValues]="pluralizeVariants"
                [documentationPropertyDeprecated]="true"
                [(documentationPropertyValue)]="segmentsPluralize"
            >
                Plural forms for
                <code>segments</code>

                <p>
                    See examples how create ticks without this property (outside
                    of the component).
                </p>
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiInputSliderModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
