@if (control.control?.valueChanges | async) {}

<tui-data-list-wrapper
    *tuiDataList
    tuiMultiSelectGroup
    [disabledItemHandler]="disabledItemHandler || host.disableItemHandler"
    [itemContent]="stringify | tuiStringifyContent"
    [items]="items"
/>
@for (option of items; track option) {
    <option
        [disabled]="disabledItemHandler ? disabledItemHandler(option) : host.disableItemHandler(option)"
        [selected]="option | tuiMapper: selectedMapper : control.value"
        [value]="stringify(option)"
    >
        {{ stringify(option) }}
    </option>
}
