@import '@taiga-ui/styles/utils';

:host {
    position: relative;
    display: block;
    inline-size: calc(20rem * var(--tui-font-scale) * var(--t-months));
    min-inline-size: calc(20rem * var(--tui-font-scale) * var(--t-months));
    flex: 1;
    box-sizing: content-box;
}

:host-context(tui-dropdown) {
    padding: 0.5rem;

    &:not(:only-child) {
        box-shadow: 0 0 0 1px var(--tui-border-normal);
    }
}

.t-header {
    position: relative;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.25rem 1rem;
    font: var(--tui-typography-ui-l);
    font-weight: bold;
}

.t-chevron {
    transform: scaleX(var(--tui-inline));
}

.t-slides {
    margin: 0 -0.5rem;
}

.t-calendar {
    inline-size: 100%;
    align-self: flex-start;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 0 0.5rem;
}

.t-buttons {
    position: absolute;
    inset: 0 0 auto;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.25rem;

    &:focus-within {
        visibility: hidden;
    }
}
