@import 'taiga-ui-local';

.progress {
    width: 70%;
    margin-bottom: 1rem;
    color: var(--tui-support-09);

    @media @mobile-m {
        width: 100%;
    }
}

.description {
    font: var(--tui-font-heading-6);
    margin-bottom: 1rem;

    &:first-child {
        margin-top: 0;
    }
}
