@import '@taiga-ui/styles/utils';

:host {
    position: fixed;
    top: ~'max(3rem, env(safe-area-inset-top))';
    bottom: 0;
    inline-size: 36.25rem;
    max-inline-size: calc(100vw - 3rem);
    background: var(--tui-background-elevation-1);
    box-shadow: var(--tui-shadow-medium);
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiFade, tuiSlide;
    }

    &._overlay {
        top: 0;
        border-radius: 0;

        > .t-aside {
            padding-block-start: env(safe-area-inset-top);
        }

        &::before {
            .transition(opacity);

            content: '';
            position: fixed;
            top: -100vh;
            left: -100vw;
            right: -100vw;
            bottom: -100vh;
            background: var(--tui-service-backdrop);
            transition-timing-function: ease-out;

            tui-root:has(tui-dialogs .t-overlay_visible) & {
                opacity: 0;
                transition-timing-function: ease-in;
            }
        }
    }

    &[data-direction='start'] {
        border-start-start-radius: 0;
        inset-inline-start: 0;

        --tui-from: translateX(calc(-100% * var(--tui-inline)));
    }

    &[data-direction='end'] {
        border-start-end-radius: 0;
        inset-inline-end: 0;

        --tui-from: translateX(calc(100% * var(--tui-inline)));
    }
}

.t-aside {
    position: relative;
    display: flex;
    block-size: 100%;
    flex-direction: column;
    border-radius: inherit;
    overflow: hidden;
    background: inherit;
    box-sizing: border-box;
    padding-block-end: env(safe-area-inset-bottom);

    ::ng-deep > footer {
        .scrollbar-hidden();

        display: flex;
        overflow: auto;
        gap: 0.75rem;
        padding: 0.5rem 1.5rem;
        box-shadow: inset 0 1px var(--tui-border-normal);
        background: var(--tui-background-elevation-1);

        &::before {
            content: '';
            flex: 1;
            margin-inline-end: -0.75rem;
        }
    }
}

.t-scrollbar {
    flex: 1;
    overscroll-behavior: contain;

    ::ng-deep > .t-content > header {
        top: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1.5rem 1.5rem 0.75rem;
        box-shadow: inset 0 -1px var(--tui-border-normal);
        background: var(--tui-background-elevation-1);

        > * {
            display: flex;
            gap: 0.5rem;
        }

        > [tuiHeader] {
            [tuiSubtitle] {
                color: var(--tui-text-primary);
            }

            [tuiAccessories] {
                gap: 0.5rem;

                [tuiIconButton][data-appearance='icon']:last-child {
                    margin-inline-start: 0.25rem;

                    &::before {
                        font-size: 1rem;
                    }
                }
            }
        }

        > [tuiNavigationNav] {
            min-block-size: var(--tui-height-m);
            margin-block-end: -0.75rem;
            padding: 0;
            border-image: none;
        }
    }
}

.t-content {
    padding: 1.25rem 1.5rem;
}
