.t-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    gap: 0.5rem;
    color: var(--tui-text-primary);

    .t-icon {
        inline-size: 1rem;
        block-size: 1rem;
    }
}
