@import '../../../styles/taiga-ui-local.scss';

:host {
    @include shadow(2);
    display: block;
    border-radius: var(--tui-radius);
}

.heading {
    @include text-body-m-bold(2);
    margin: 0;
}

.content {
    color: var(--tui-text-01);
    word-wrap: break-word;

    &:empty {
        display: none;
    }
}
