@import '@taiga-ui/styles/utils';

:host {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    background: #000;
    color: #fff;
    transform-style: preserve-3d;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px var(--tui-background-neutral-1);

    --t-logo-height: 0.8125rem;

    &::before {
        .fullsize();

        content: '';
        border-radius: inherit;
    }

    // card backface
    &::after {
        .fullsize();

        content: '';
        backface-visibility: hidden;
        transform: rotateY(180deg) translate3d(0, 0, 1px);
        color: #b0b0b0;
        border-radius: inherit;
        background: linear-gradient(to bottom, currentColor 0 20%, #959595 20% 40%, currentColor 40%);
    }

    &[data-size='xs'],
    &[data-size='s'] {
        font-size: 0;
        border-radius: 0.25rem;
    }

    &[data-size='xs'] {
        inline-size: 2rem;
        block-size: 1.375rem;
    }

    &[data-size='s'] {
        inline-size: 2.5rem;
        block-size: 1.625rem;
    }

    &[data-size='m'] {
        inline-size: 3rem;
        block-size: 2rem;
        border-radius: 0.3125rem;
        font: normal 0.5625rem / var(--t-logo-height) var(--tui-typography-family-text);
    }

    &[data-size='l'] {
        inline-size: 3.375rem;
        block-size: 2.25rem;
        border-radius: 0.375rem;
        font: normal 0.6875rem / var(--t-logo-height) var(--tui-typography-family-text);
    }
}

.t-left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transform-origin: top left;

    :host[data-size='xs'] &,
    :host[data-size='s'] & {
        transform: translate(0.125rem, 0.125rem) scale(0.625);
    }

    :host[data-size='m'] & {
        transform: translate(0.1875rem, 0.1875rem) scale(0.75);
    }

    :host[data-size='l'] & {
        transform: translate(0.1875rem, 0.1875rem);
    }
}

.t-right {
    position: absolute;
    top: 0.1875rem;
    right: 0.1875rem;

    :host[data-size='xs'] &,
    :host[data-size='s'] & {
        display: none;
    }

    :host[data-size='m'] & {
        font-size: 0.875rem;

        &::before {
            transform: scale(0.5);
        }
    }

    :host[data-size='l'] &::before {
        transform: scale(0.625);
    }

    &::after {
        --tui-icon-size: 100%;

        .fullsize(absolute, inset);

        content: '';
        z-index: -1;
        display: block;
        transform: none;
        border-radius: 100%;
        background: currentColor;
        opacity: 0.35;
    }

    &::before {
        color: #fff;
    }
}

.t-logo {
    position: absolute;
    right: 0.25rem;
    bottom: 0;
    block-size: var(--t-logo-height);
    transform-origin: right;

    :host[data-size='xs'] & {
        right: 0.125rem;
    }

    :host[data-size='m'] &,
    :host[data-size='l'] & {
        bottom: 0.0625rem;
    }

    &::before {
        block-size: 100%;
        background-position: right;
        background-size: contain;
        mask-position: right;
        mask-size: contain;
    }
}

.t-content {
    position: absolute;

    :host[data-size='m'] & {
        left: 0.1875rem;
        bottom: 0.0625rem;
    }

    :host[data-size='l'] & {
        left: 0.25rem;
        bottom: 0.0625rem;
    }
}

.t-icon {
    inline-size: 1em;
    block-size: 1em;
    font-size: 1rem;
}
