<!-- TODO: use this icon as a fallback for <ng-content select="img" /> (Angular 18)  -->
@if (iconStart) {
    <tui-icon
        class="t-icon t-left"
        [icon]="iconStart"
    />
}

<div class="t-left t-icon">
    <ng-content select="img" />
</div>

@if (iconEnd) {
    <tui-icon
        class="t-right t-icon"
        [icon]="iconEnd"
    />
}

<div class="t-content">
    <ng-content />
</div>

@if (paymentSystem) {
    @if (monoHandler(paymentSystem)) {
        <tui-icon
            class="t-logo"
            [icon]="options.icons[paymentSystem]"
        />
    } @else {
        <img
            class="t-logo"
            [alt]="paymentSystem"
            [src]="options.icons[paymentSystem] | tuiIcon"
        />
    }
}
