<div class="t-front">
    <div
        *ngIf="iconStart"
        class="t-left"
    >
        <tui-icon
            class="t-icon"
            [icon]="iconStart"
        />
    </div>
    <div
        *ngIf="iconEnd"
        class="t-right"
    >
        <tui-icon
            class="t-icon"
            [icon]="iconEnd"
        />
    </div>
    <ng-content />
    <ng-container *ngIf="paymentSystem">
        <tui-icon
            *ngIf="monoHandler(paymentSystem); else colored"
            class="t-logo"
            [icon]="options.icons[paymentSystem]"
        />
        <ng-template #colored>
            <img
                class="t-logo"
                [alt]="paymentSystem"
                [src]="options.icons[paymentSystem] | tuiIcon"
            />
        </ng-template>
    </ng-container>
</div>
<div class="t-back"></div>
