.description {
    display: flex;
    justify-content: space-between;

    & > *:first-child {
        text-align: left;
    }

    & > *:last-child {
        text-align: right;
    }

    [tuiSubtitle] {
        color: var(--tui-text-02);
    }
}
