:host {
    display: flex;
    inline-size: 100%;
    flex-direction: column;
    gap: 1rem;
}

[tuiCardLarge] {
    margin: 3rem 1.5rem;
}

tui-swipe-actions {
    margin: -3rem -1.5rem;
}

button[tuiSwipeAction] {
    border-radius: 100%;
}
