.container {
    display: flex;
    gap: 1rem;

    :host-context(tui-root._mobile) & {
        flex-direction: column;
    }
}

.card {
    background-color: var(--tui-background-base-alt);
    height: auto;
}

.avatar[tuiSlot='top'] {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}
