@use 'taiga-ui-local' as *;

:host {
    max-width: 550px;
}

.title {
    //@include text-h5();
    margin: 0 0 $space * 3;
}

.filters {
    display: inline;
}

.tag {
    margin: 0 $space $space 0;
}
