@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: relative;
    display: inline-block;
    border-radius: var(--tui-radius-m);
    vertical-align: middle;
}

.t-copy {
    .transition(background);

    overflow: hidden;
    width: 100%;
    background: var(--tui-base-01);
    color: var(--tui-text-01);

    &:hover {
        background: var(--tui-base-02);
    }
}

.t-initial {
    white-space: nowrap;

    &:empty:before {
        content: attr(data-text);
    }
}

.t-content {
    .transition(transform);

    display: flex;
    flex-direction: column;
    line-height: 2rem;
    text-align: center;
    transform: translateY(1rem);

    &_moved {
        transform: translateY(-1rem);
    }
}
