@import '../../utils.less';

[tuiAppearance][data-appearance='table'] {
    min-block-size: calc(100% + 1px);
    border-radius: 0 !important;
    background: transparent;
    color: var(--tui-text-primary);
    border: none;
    outline: none;
    margin: -1px -1px 0;
    overflow: hidden;

    &:not(tui-textfield[multi], tui-input-card-group) [tuiInput]:not(textarea) {
        block-size: var(--t-height);
        border-block-end: 100rem solid transparent;
        box-sizing: content-box;
    }

    &::before,
    &::after {
        color: var(--tui-text-tertiary);
    }

    &:not([data-mode~='readonly']) {
        .appearance-hover({
            &[data-focus='false'] {
                background-color: var(--tui-background-neutral-1);
            }

            &::before,
            &::after {
                color: var(--tui-text-secondary);
            }
        });
    }

    .appearance-focus({
        border-image: conic-gradient(var(--tui-border-focus) 0 0) 1 / 0.125rem / 0 0 1px;
    });

    .appearance-invalid({
        background:
            linear-gradient(to top right, transparent 0% 50%, var(--tui-status-negative) 50% 100%)
            top right / 0.5rem 0.5rem
            no-repeat
            border-box;

        &[data-focus='false'] {
            background-color: var(--tui-status-negative-pale);
        }

        .appearance-hover({
            &[data-focus='false'] {
                background-color: var(--tui-status-negative-pale-hover);
            }
        });

        .appearance-disabled({
            background: transparent;
            outline: none;
        });

        .appearance-focus({
            background-color: transparent;
            border-image: conic-gradient(var(--tui-status-negative) 0 0) 1 / 1px / 0 0 1px;
        });
    });
}
