:host {
    position: relative;
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.t-wrapper {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: flex-end;

    &:first-of-type {
        margin-left: 25%;
    }

    &:last-of-type {
        margin-right: 25%;
    }
}

.t-bar {
    transform-origin: bottom center;

    &_negative {
        opacity: var(--tui-disabled-opacity);
        transform: rotate(180deg);
    }

    &&_flexible {
        width: 75%;
        max-width: none;
        margin: 0 auto;
    }
}

.t-label {
    position: absolute;
    top: -1.5rem;
    color: var(--tui-text-02);
    font: var(--tui-font-text-xs);
}
