<ng-container *ngIf="size; else flexible">
    <ng-container *ngFor="let item of computedValue; let index = index">
        <ng-container *ngTemplateOutlet="bar; context: {$implicit: item, index: index, flexible: false}"></ng-container>
    </ng-container>
</ng-container>
<ng-template #flexible>
    <div
        *ngFor="let item of computedValue; let index = index"
        class="t-wrapper"
    >
        <ng-container *ngTemplateOutlet="bar; context: {$implicit: item, index: index, flexible: true}"></ng-container>
    </div>
</ng-template>
<ng-template
    #bar
    let-item
    let-index="index"
    let-flexible="flexible"
>
    <tui-bar
        automation-id="tui-bar-set__bar"
        class="t-bar"
        [class.t-bar_flexible]="flexible"
        [class.t-bar_negative]="item < 0"
        [style.height.%]="getHeight(item)"
        [style.background]="getColor(index)"
        [value]="computedSegments"
        [size]="computedSize"
        [colorHandler]="colorHandler"
    ></tui-bar>
</ng-template>
