<tui-doc-page
    header="Pagination"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Pagination component enables the user to select a specific page from a range of pages</p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="around"
            heading="Visible pages around active"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="edges"
            heading="Visible edge pages"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="custom"
            heading="Custom"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-pagination
                [activePadding]="activePadding"
                [focusable]="focusable"
                [length]="length"
                [sidePadding]="sidePadding"
                [size]="size"
                [(index)]="index"
            />
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="focusable"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="focusable"
            >
                Accepts focus with keyboard
            </ng-template>
            <ng-template
                documentationPropertyMode="input-output"
                documentationPropertyName="index"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="index"
            >
                Active page index
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="length"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="length"
            >
                Total pages count
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeS | TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="activePadding"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="activePadding"
            >
                Amount of visible pages around active page
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="sidePadding"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="sidePadding"
            >
                Amount of visible pages at the edges
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
