<tui-doc-page header="Pagination" package="KIT" type="components">
    <ng-template pageTab>
        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-pagination-example-1></tui-pagination-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="around"
            i18n-heading
            heading="Visible pages around active"
            [content]="example2"
        >
            <tui-pagination-example-2></tui-pagination-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="edges"
            i18n-heading
            heading="Visible edge pages"
            [content]="example3"
        >
            <tui-pagination-example-3></tui-pagination-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            i18n-heading
            heading="Custom"
            [content]="example4"
        >
            <tui-pagination-example-4></tui-pagination-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-pagination
                [focusable]="focusable"
                [length]="length"
                [size]="size"
                [(index)]="index"
            ></tui-pagination>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="focusable"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="focusable"
            >
                Accepts focus with keyboard
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="index"
                documentationPropertyMode="input-output"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="index"
            >
                Active page index
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="length"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="length"
            >
                Total pages count
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeS"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
    </ng-template>
    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiPaginationModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
