<tui-doc-page
    header="Pagination"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Pagination component enables the user to select a specific page from a range of pages</p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="example1"
        >
            <tui-pagination-example-1></tui-pagination-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="around"
            heading="Visible pages around active"
            [content]="example2"
        >
            <tui-pagination-example-2></tui-pagination-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="edges"
            heading="Visible edge pages"
            [content]="example3"
        >
            <tui-pagination-example-3></tui-pagination-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            heading="Custom"
            [content]="example4"
        >
            <tui-pagination-example-4></tui-pagination-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-pagination
                [activePadding]="activePadding"
                [focusable]="focusable"
                [length]="length"
                [sidePadding]="sidePadding"
                [size]="size"
                [(index)]="index"
            ></tui-pagination>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="focusable"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="focusable"
            >
                Accepts focus with keyboard
            </ng-template>
            <ng-template
                documentationPropertyMode="input-output"
                documentationPropertyName="index"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="index"
            >
                Active page index
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="length"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="length"
            >
                Total pages count
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeS | TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="activePadding"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="activePadding"
            >
                Amount of visible pages around active page
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="sidePadding"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="sidePadding"
            >
                Amount of visible pages at the edges
            </ng-template>
        </tui-doc-documentation>
    </ng-template>
    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import
                    <code>TuiPaginationModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
