.dark {
    width: 18.75rem;
    padding: 0.625rem 1.25rem 1.25rem;
    background: #454e58;
    border-radius: 0.25rem;
}

.light {
    padding: 0.625rem 1.25rem;
    background: var(--tui-base-01);
    border-radius: 0.25rem;
    color: var(--tui-text-01);
}
