@import 'taiga-ui-local';

.control {
    width: 50%;

    @media @tui-mobile {
        width: 100%;
    }
}

.success {
    color: var(--tui-success-fill);
}

.error {
    color: var(--tui-error-fill);
}
