:host {
    z-index: 1;
    inline-size: 100%;
    order: 2;
    text-align: end;
    pointer-events: none;
    padding-bottom: 0.75rem;
    font: var(--tui-font-text-ui-xs);
    color: var(--tui-text-secondary);
}
