<tui-doc-page header="InputFile" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            An input for upload one or several files. It uses native input file
            abilities.
        </p>

        <tui-doc-example
            id="single"
            i18n-heading
            heading="Single file"
            [content]="example1"
        >
            <tui-input-file-example-1></tui-input-file-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="multiple"
            i18n-heading
            heading="Several files"
            [content]="example2"
        >
            <tui-input-file-example-2></tui-input-file-example-2>
        </tui-doc-example>

        <tui-doc-example id="model" heading="ngModel" [content]="example3">
            <tui-input-file-example-3></tui-input-file-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="size"
            i18n-heading
            heading="Big size"
            [content]="example4"
        >
            <tui-input-file-example-4></tui-input-file-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-input-file
                [formControl]="control"
                [accept]="accept"
                [link]="link"
                [label]="label"
                [maxFileSize]="maxFileSize"
                [multiple]="multiple"
                [rejectedFiles]="rejectedFiles"
                [readOnly]="readOnly"
                [size]="size"
                [showSize]="showSize"
                [focusable]="focusable"
                [pseudoFocused]="pseudoFocused"
                [pseudoHovered]="pseudoHovered"
                [pseudoPressed]="pseudoPressed"
            >
            </tui-input-file>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="accept"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="acceptVariants"
                [(documentationPropertyValue)]="accept"
            >
                Allowed formats (for native attribute
                <code>accept</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="label"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="label"
            >
                Label text
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="link"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="link"
            >
                Link text
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="loadingFiles"
                documentationPropertyMode="input"
                documentationPropertyType="ReadonlyArray<TuiFileLike>"
            >
                Files in loading process
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="maxFileSize"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="maxFileSizeVariants"
                [(documentationPropertyValue)]="maxFileSize"
            >
                Max file size in bytes (30 MB by default — 30 * 1000 * 1000)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="multiple"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="multiple"
            >
                Allows to upload several files
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="rejectedFiles"
                documentationPropertyMode="input-output"
                documentationPropertyType="ReadonlyArray<TuiFileLike>"
                [documentationPropertyValues]="rejectedFilesVariants"
                [(documentationPropertyValue)]="rejectedFiles"
            >
                Array of files that not passed check
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="showSize"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showSize"
            >
                Show file size
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Files list size
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiInputFileModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
