@for (row of keys(); track $index) {
    <div class="t-row">
        @for (key of row; track $index) {
            @if (key === null) {
                <div></div>
            } @else {
                <button
                    type="button"
                    class="t-key"
                    [attr.data-key]="key"
                    [class.t-key_active]="activeKey() === key"
                    [disabled]="isKeyDisabled(key)"
                    (click)="onKeyClick(key)"
                    (longtap)="onLongTap(key)"
                    (pointerdown.zoneless.prevent)="(0)"
                >
                    @if (templateMap().get(key); as tpl) {
                        <ng-container *ngTemplateOutlet="tpl; context: {$implicit: key, key: key}" />
                    } @else {
                        @let label = content(key);
                        @if (label.startsWith('@tui.')) {
                            <tui-icon [icon]="label" />
                        } @else {
                            {{ label }}
                        }
                    }
                </button>
            }
        }
    </div>
}
