@import '@taiga-ui/core/styles/taiga-ui-local';

@circle-diameter: {
    xs: 0.75em;
    s: 1em;
    m: 1.5em;
    l: 2.5em;
    xl: 3.5em;
    xxl: 5em;
};
@circumference: calc(pi() * var(--t-diameter));

:host {
    position: relative;
    display: flex;
    min-width: 1.5rem;

    &._loading {
        overflow: hidden;
    }

    // Use native CSS max function instead LESS one
    stroke-width: ~'max(calc(var(--t-diameter) / 12), 1.5px)';

    &[data-size='xs'] {
        --t-diameter: @circle-diameter[xs];
    }

    &[data-size='s'] {
        --t-diameter: @circle-diameter[s];
    }

    &[data-size='m'] {
        --t-diameter: @circle-diameter[m];
    }

    &[data-size='l'] {
        --t-diameter: @circle-diameter[l];
    }

    &[data-size='xl'] {
        --t-diameter: @circle-diameter[xl];
    }

    &[data-size='xxl'] {
        --t-diameter: @circle-diameter[xxl];
    }
}

.t-content {
    z-index: 0;
    min-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;

    &_has-overlay {
        opacity: 0.3;
    }

    &_loading {
        pointer-events: none;
    }
}

.t-loader {
    position: relative;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: var(--t-diameter);
    flex-shrink: 0;
    align-self: center;
    color: var(--tui-text-01);
    stroke: var(--tui-primary);
    animation: tuiFadeIn var(--tui-duration);
    font-size: 1rem; // to use em units inside svg (Safari doesn't fully support rem units inside svg)

    &&_horizontal {
        flex-direction: row;
    }

    &&_inherit-color {
        color: inherit;
        stroke: currentColor;
    }
}

.t-text {
    .text-basic();
    .text-overflow();
    margin-top: 1rem;
    color: inherit;
    max-width: 100%;
    text-align: center;
    stroke-width: 0; // for Safari 11

    &_horizontal {
        margin: 0 0 0 @space * 4;
    }
}

@keyframes tuiLoaderRotate {
    @initial-shift: rotate(-90deg);

    0% {
        transform: @initial-shift;
    }

    50% {
        transform: @initial-shift rotate(1turn);
    }

    100% {
        transform: @initial-shift rotate(3turn);
    }
}

.t-icon {
    .safari-only({
        & {
            overflow: visible;
        }
    });
    display: block;
    min-width: var(--t-diameter);
    max-width: var(--t-diameter);
    min-height: var(--t-diameter);
    max-height: var(--t-diameter);
    margin: @space calc(-1 * (var(--t-diameter) / 2));
    border-radius: 100%;
    overflow: hidden;
    animation: tuiLoaderRotate 4s linear infinite;
}

@radius: 3.125em; // don't use rem units (Safari doesn't support rem units inside <circle />)
@circumference: 2 * pi() * @radius;

@keyframes tuiLoaderDashOffset {
    0% {
        stroke-dashoffset: @circumference;
    }

    50% {
        stroke-dashoffset: 0.05 * @circumference;
    }

    100% {
        stroke-dashoffset: @circumference;
    }
}

.t-circle {
    font-size: 1rem; // to use em units as rem ones interchangeably (Safari)
    r: calc(var(--t-diameter) / 2);
    stroke-dasharray: @circumference;
    fill: none;
    stroke: inherit;
    stroke-width: inherit;
    animation: tuiLoaderDashOffset 4s linear infinite;
}
