<fieldset
    class="t-content"
    [class.t-content_has-overlay]="hasOverlay"
    [class.t-content_loading]="loading"
    [disabled]="loading && !isApple"
>
    <ng-content></ng-content>
</fieldset>

<div
    *ngIf="loading"
    class="t-loader"
    [class.t-loader_horizontal]="isHorizontal"
    [class.t-loader_inherit-color]="inheritColor"
    [attr.data-tui-element-size]="size"
>
    <svg
        automation-id="tui-loader__loader"
        focusable="false"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        class="t-icon"
    >
        <circle
            cx="50"
            cy="50"
            r="50"
            stroke-dasharray="314"
            class="t-circle"
        ></circle>
    </svg>

    <div
        *ngIf="hasText"
        automation-id="tui-loader__text"
        class="t-text"
        [class.t-text_horizontal]="isHorizontal"
    >
        <ng-container *polymorpheusOutlet="textContent as text">
            {{ text }}
        </ng-container>
    </div>
</div>
