<fieldset
    class="t-content"
    [attr.inert]="loading() || null"
    [disabled]="loading() && !isApple"
    [style.opacity]="overlay() && loading() ? 0.3 : null"
    [style.pointer-events]="loading() ? 'none' : null"
>
    <ng-content />
</fieldset>

@if (loading()) {
    <div
        class="t-loader"
        [class.t-loader_inherit-color]="inheritColor()"
    >
        <svg
            height="100%"
            width="100%"
            class="t-icon"
        >
            <circle class="t-circle" />
        </svg>
        @if (textContent()) {
            <div class="t-text">
                <ng-container *polymorpheusOutlet="textContent() as text">
                    {{ text }}
                </ng-container>
            </div>
        }
    </div>
}
