<fieldset
    class="content"
    [class.content_has-overlay]="hasOverlay"
    [class.content_loading]="loading"
    [disabled]="loading && !isApple"
>
    <ng-content></ng-content>
</fieldset>

<div
    *ngIf="loading"
    class="loader"
    [attr.data-tui-element-size]="size"
    [class.loader_horizontal]="isHorizontal"
    [class.loader_inherit-color]="inheritColor"
>
    <svg
        automation-id="tui-loader__loader"
        focusable="false"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        class="icon"
    >
        <circle
            cx="50"
            cy="50"
            r="50"
            stroke-dasharray="314"
            class="circle"
        ></circle>
    </svg>

    <div
        *ngIf="hasText"
        polymorpheus-outlet
        automation-id="tui-loader__text"
        class="text"
        [class.text_horizontal]="isHorizontal"
        [content]="textContent"
    ></div>
</div>
