@import '@taiga-ui/core/styles/taiga-ui-local';

@keyframes backdrop {
    from {
        backdrop-filter: none;
    }

    to {
        backdrop-filter: brightness(0.25);
    }
}

:host {
    .transition(backdrop-filter);
    .scrollbar-hidden();

    position: fixed;
    display: grid;
    inset: 0;
    grid-template-rows: 0;
    place-items: center;
    outline: none;
    overflow: auto;
    overscroll-behavior: none contain;
    transition-timing-function: linear;
    animation-timing-function: cubic-bezier(0.14, 0.52, 0.35, 0.84);
    perspective: 10rem;
    transform: translateY(var(--t-root-top));

    &:last-of-type {
        &:not(.tui-leave) {
            backdrop-filter: brightness(0.25);
        }

        &.tui-enter,
        &.tui-leave {
            animation-name: backdrop;
        }
    }

    &:not(.tui-leave):has(+ ::ng-deep tui-modal.tui-leave) {
        backdrop-filter: brightness(0.25);
    }

    ::ng-deep > .tui-enter + .t-scrollbars .t-bar_vertical,
    ::ng-deep > .tui-leave + .t-scrollbars .t-bar_vertical {
        display: none;
    }

    &::before {
        content: '';
        block-size: 1px;
        inline-size: calc(100% + 1px);
    }
}

// For Safari until we get :has() support
::ng-deep tui-modal:nth-last-child(1 of tui-modal:not(.tui-leave)) {
    backdrop-filter: brightness(0.25);
}

.t-scrollbars {
    position: fixed;
    inset: 0;
    margin: 0;
    color: #747474;

    ::ng-deep .t-bar_horizontal,
    ::ng-deep .t-bar_vertical .t-thumb[style*='height: 100%'] {
        display: none;
    }
}
