@import '@taiga-ui/core/styles/taiga-ui-local';

@keyframes backdrop {
    from {
        backdrop-filter: none;
    }

    to {
        backdrop-filter: brightness(0.25);
    }
}

:host {
    .transition(backdrop-filter);
    .scrollbar-hidden();

    position: fixed;
    display: grid;
    inset: 0;
    grid-template-rows: 0;
    place-items: center;
    outline: none;
    overflow: auto;
    overscroll-behavior: none contain;
    transition-timing-function: linear;
    animation-timing-function: cubic-bezier(0.14, 0.52, 0.35, 0.84);
    perspective: 10rem;
    transform: translateY(var(--t-root-top));

    // Safari < 15.4 and Chromium < 111
    @supports not (selector(:has(*))) or not (selector(:nth-child(1 of *))) {
        &:last-of-type {
            &:not(.tui-leave) {
                backdrop-filter: brightness(0.25);
            }

            &.tui-enter,
            &.tui-leave {
                animation-name: backdrop;
            }
        }
    }

    @supports (selector(:has(*))) and (selector(:nth-child(1 of *))) {
        &:nth-last-child(1 of *:not(.tui-leave):not(:has(.tui-backdrop-hidden))) {
            backdrop-filter: brightness(0.25);
        }

        // For some reason without second dual :not Angular adds [_ngcontent] attribute to selector
        // https://github.com/angular/angular/issues/64913
        &:nth-last-child(1 of *:not(._wtf):not(:has(.tui-backdrop-hidden))):is(.tui-enter, .tui-leave) {
            animation-name: backdrop;
        }
    }

    ::ng-deep > .tui-enter + .t-scrollbars .t-bar_vertical,
    ::ng-deep > .tui-leave + .t-scrollbars .t-bar_vertical {
        display: none;
    }

    &::before {
        content: '';
        block-size: 1px;
        inline-size: calc(100% + 1px);
    }
}

.t-scrollbars {
    position: fixed;
    inset: 0;
    margin: 0;
    color: #747474;

    ::ng-deep .t-bar_horizontal,
    ::ng-deep .t-bar_vertical .t-thumb[style*='height: 100%'] {
        display: none;
    }
}
