@import 'taiga-ui-local';

.t-tools-wrapper {
    .scrollbar-hidden();
    display: flex;
    padding: 0.25rem 0.75rem;
    overflow: auto;
    flex-wrap: wrap;
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);

    &._disabled {
        pointer-events: none;
        opacity: var(--tui-disabled-opacity);
    }
}

.t-block {
    display: flex;
    padding: 0.25rem 0;

    &:not(:last-child):after {
        content: '';
        display: block;
        margin: 0 @space;
        width: 1px;
        background: var(--tui-secondary-active);
    }
}

.t-tool {
    .transition(background);

    button&:hover,
    & ::ng-deep button:hover {
        background: var(--tui-secondary-hover);
    }

    &_margin {
        margin: 0 @space;
    }
}

.t-dropdown {
    padding: 0.75rem;
}

.t-wrapper {
    position: relative;
    margin: 0 0.25rem;
}

.t-plate {
    position: absolute;
    top: 1.375rem;
    left: 0.25rem;
    width: 1.5rem;
    height: 0.25rem;
    pointer-events: none;

    &_paint {
        left: 0.375rem;
        width: 1.25rem;
    }
}

.t-font {
    padding: 0.3em 0;
    outline: none;
    width: 100%;
    pointer-events: none;
}

.t-image {
    .fullsize();
    font-size: 0;
    opacity: 0;
    cursor: pointer;

    &::-webkit-file-upload-button {
        display: none;
    }
}

.t-file-upload {
    display: none;
}

// TODO: remove when color picker is customizable
.t-color-picker {
    ::ng-deep > {
        & tui-hosted-dropdown,
        & tui-color-picker,
        & tui-color-edit {
            display: none;
        }
    }
}

.t-prevent-parent-label-behavior {
    display: none;
}
