<div class="t-content">
    <ng-container *ngIf="size !== 's'; else smallButtons">
        <ng-container *ngIf="texts$ | async as texts">
            <button
                appearance="flat"
                tabIndex="-1"
                tuiIconButton
                type="button"
                class="t-button"
                [disabled]="arrowIsDisabledLeft"
                [iconStart]="icons.decrement"
                [size]="buttonSize"
                (click)="onArrowClick('left')"
                (mousedown.silent.prevent)="(0)"
            >
                {{ texts[0] }}
            </button>
            <ng-container *tuiRepeatTimes="let elementIndex of elementsLength">
                <ng-container *tuiLet="getItemIndexByElementIndex(elementIndex) as index">
                    <button
                        *ngIf="index !== null; else dotsTemplate"
                        #element
                        automation-id="tui-pagination__element"
                        tuiButton
                        type="button"
                        class="t-button"
                        [appearance]="getElementMode(index)"
                        [disabled]="disabled"
                        [size]="buttonSize"
                        [tabIndex]="elementIsFocusable(index) ? 0 : -1"
                        (click)="onElementClick(index)"
                        (keydown.arrowLeft.prevent)="onElementKeyDownArrowLeft(element)"
                        (keydown.arrowRight.prevent)="onElementKeyDownArrowRight(element)"
                    >
                        <ng-container *polymorpheusOutlet="content || index + 1 as text; context: {$implicit: index}">
                            {{ text }}
                        </ng-container>
                    </button>
                </ng-container>
            </ng-container>
            <button
                appearance="flat"
                tabIndex="-1"
                tuiIconButton
                type="button"
                class="t-button"
                [disabled]="arrowIsDisabledRight"
                [iconStart]="icons.increment"
                [size]="buttonSize"
                (click)="onArrowClick('right')"
                (mousedown.silent.prevent)="(0)"
            >
                {{ texts[1] }}
            </button>
        </ng-container>
    </ng-container>
    <ng-template #smallButtons>
        <button
            *tuiRepeatTimes="let indexItem of length"
            #element
            tuiButton
            type="button"
            class="t-button t-button_small"
            [appearance]="getElementMode(indexItem)"
            [disabled]="disabled"
            [tabIndex]="elementIsFocusable(indexItem) ? 0 : -1"
            (click)="onElementClick(indexItem)"
            (keydown.arrowLeft.prevent)="onElementKeyDownArrowLeft(element)"
            (keydown.arrowRight.prevent)="onElementKeyDownArrowRight(element)"
        ></button>
    </ng-template>
    <ng-template #dotsTemplate>
        <div
            automation-id="tui-pagination__element"
            class="t-dots"
        ></div>
    </ng-template>
</div>
