<div
    class="t-content"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <ng-container *ngIf="size !== 's'; else smallButtons">
        <ng-container *ngIf="texts$ | async as texts">
            <button
                appearance="flat"
                tuiIconButton
                type="button"
                class="t-button"
                [disabled]="arrowIsDisabledLeft"
                [focusable]="false"
                [icon]="icons.decrement"
                [size]="buttonSize"
                [title]="texts[0]"
                (click)="onArrowClick('left')"
                (mousedown.silent.prevent)="(0)"
            ></button>
            <ng-container *tuiRepeatTimes="let elementIndex of elementsLength">
                <ng-container *tuiLet="getItemIndexByElementIndex(elementIndex) as index">
                    <button
                        *ngIf="index !== null; else dotsTemplate"
                        #element
                        automation-id="tui-pagination__element"
                        shape="square"
                        tuiButton
                        type="button"
                        class="t-button"
                        [appearance]="getElementMode(index)"
                        [disabled]="disabled"
                        [focusable]="elementIsFocusable(index)"
                        [size]="buttonSize"
                        (click)="onElementClick(index)"
                        (keydown.arrowLeft.prevent)="onElementKeyDownArrowLeft(element)"
                        (keydown.arrowRight.prevent)="onElementKeyDownArrowRight(element)"
                    >
                        <ng-container *polymorpheusOutlet="content || index + 1 as text; context: {$implicit: index}">
                            {{ text }}
                        </ng-container>
                    </button>
                </ng-container>
            </ng-container>
            <button
                appearance="flat"
                tuiIconButton
                type="button"
                class="t-button"
                [disabled]="arrowIsDisabledRight"
                [focusable]="false"
                [icon]="icons.increment"
                [size]="buttonSize"
                [title]="texts[1]"
                (click)="onArrowClick('right')"
                (mousedown.silent.prevent)="(0)"
            ></button>
        </ng-container>
    </ng-container>
    <ng-template #smallButtons>
        <button
            *tuiRepeatTimes="let indexItem of length"
            #element
            shape="square"
            tuiButton
            type="button"
            class="t-button t-button_small"
            [appearance]="getSmallElementMode(indexItem, mode$ | async)"
            [class.t-button_active]="indexItem === index"
            [disabled]="disabled"
            [focusable]="elementIsFocusable(indexItem)"
            (click)="onElementClick(indexItem)"
            (keydown.arrowLeft.prevent)="onElementKeyDownArrowLeft(element)"
            (keydown.arrowRight.prevent)="onElementKeyDownArrowRight(element)"
        ></button>
    </ng-template>
    <ng-template #dotsTemplate>
        <div
            automation-id="tui-pagination__element"
            class="t-dots"
        ></div>
    </ng-template>
</div>
