<tui-doc-page header="Error" package="CORE" type="components">
    <ng-template pageTab>
        <p i18n>
            <code>Error</code> allows to show an error. If you work with a form,
            see
            <a tuiLink [routerLink]="['/components/field-error']"
                ><code>TuiFieldError</code></a
            >.
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-error-example-1></tui-error-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-error [error]="error"></tui-error>
        </tui-doc-demo>

        <ng-template #errorContent>
            Error with <em><strong>HTML</strong></em>
        </ng-template>

        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="error"
                documentationPropertyMode="input"
                documentationPropertyType="TuiValidationError | null"
                [documentationPropertyValues]="errorVariants"
                [(documentationPropertyValue)]="selectedError"
            >
                Active state for
                <code>routerLinkActive</code>, for example
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiErrorModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
