<!-- TODO: refactor colors -->
<!-- @bad TODO: Keyboard navigation-->
<tui-hosted-dropdown
    #color
    [content]="colorDropdown"
    [tuiDropdownMaxHeight]="999"
    (openChange)="autoSave($event)"
>
    <button
        tuiIconButton
        type="button"
        size="s"
        icon="tuiIconColorLarge"
        appearance="icon"
        tuiHintDirection="top-left"
        automation-id="toolbar__color-button"
        [tuiHint]="foreColorText$ | async"
        [tuiHintDescribe]="''"
        [focusable]="color.open"
    ></button>
    <div
        class="t-plate"
        [style.background]="fontColor$ | async"
    ></div>
    <ng-template
        #colorDropdown
        let-activeZone
    >
        <tui-color-selector
            [colors]="colors"
            [color]="selectedColor"
            [tuiActiveZoneParent]="activeZone"
            (colorChange)="onValueChange($event)"
        ></tui-color-selector>

        <button
            tuiButton
            size="m"
            type="button"
            appearance="flat"
            class="t-color-save"
            (click)="setColor()"
        >
            {{ (texts$ | async)?.colorSaveAction }}
        </button>
    </ng-template>
</tui-hosted-dropdown>
