@import '@taiga-ui/styles/utils';

:host {
    display: inline-block;
    white-space: nowrap;
}

.t-copy-page {
    display: inline-flex;
    align-items: stretch;
    border: 1px solid var(--tui-border-normal);
    border-radius: var(--tui-radius-m);
    background: var(--tui-background-base);
    overflow: hidden;
}

.t-action,
.t-toggle {
    border-radius: 0;
}

.t-divider {
    inline-size: 1px;
    background: var(--tui-border-normal);
}
