@import '@taiga-ui/styles/utils';

:host {
    display: inline-block;
    white-space: nowrap;
}

.t-copy-page > * {
    flex: 0 0 auto;
}

a[tuiOption] {
    color: inherit;
    text-decoration: none;
}
