@import '@taiga-ui/core/styles/taiga-ui-local';

.form {
    display: flex;
    flex-wrap: wrap;
}

.control {
    flex: 1;
    margin-bottom: 0.25rem;

    &:not(:last-child) {
        margin-right: 1.25rem;
    }
}

.error {
    min-width: 100%;
}

.title {
    font: var(--tui-font-heading-5);
}

.card {
    background: #87ceeb;
}
