<tui-doc-page
    header="InputCardGrouped"
    package="ADDON-COMMERCE"
    type="components"
>
    <ng-template pageTab>
        <p>
            <code>InputCardGrouped</code>
            is used to input a card as a separated control
        </p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample: 'html,ts'"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-card-grouped
                    [autocompleteEnabled]="autocompleteEnabled"
                    [cardSrc]="cardSrc"
                    [codeLength]="codeLength"
                    [exampleText]="exampleText"
                    [focusable]="focusable"
                    [formControl]="control"
                    [pseudoActive]="pseudoPressed"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    (binChange)="documentationPropertyBinChange.emitEvent($event)"
                />
            </ng-template>
        </tui-doc-demo>
        <div class="tui-space_bottom-6">
            <p>
                Add
                <code>tuiCreateLuhnValidator(customMessage?)</code>
                to control validators to validate it with Luhn algorithm
            </p>
        </div>

        <ng-template #template>
            <tui-thumbnail-card
                paymentSystem="maestro"
                size="s"
                class="card"
            >
                1234
            </tui-thumbnail-card>
        </ng-template>

        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="autocompleteEnabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="autocompleteEnabled"
            >
                Browser autocomplete of card
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="cardSrc"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="getContentVariants(template)"
                [(documentationPropertyValue)]="cardSrcSelected"
            >
                SVG card icon
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="exampleText"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="exampleText"
            >
                An example of input
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="codeLength"
                documentationPropertyType="3 | 4"
                [documentationPropertyValues]="codeLengthVariants"
                [(documentationPropertyValue)]="codeLength"
            >
                Code length
            </ng-template>
            <ng-template
                #documentationPropertyBinChange="documentationProperty"
                documentationPropertyMode="output"
                documentationPropertyName="binChange"
                documentationPropertyType="string | null"
            >
                BIN value (card first 6 symbols)
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation />
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
