<tui-doc-page
    header="InputCardGrouped"
    package="ADDON-COMMERCE"
    type="components"
>
    <ng-template pageTab>
        <p>
            <code>InputCardGrouped</code> is used to input a card as a separated
            control
        </p>

        <tui-doc-example
            id="validation"
            i18n-heading
            heading="With validation"
            [content]="example1"
        >
            <tui-input-card-grouped-example-1></tui-input-card-grouped-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-card-grouped
                    [formControl]="control"
                    [autocompleteEnabled]="autocompleteEnabled"
                    [cardSrc]="cardSrc"
                    [codeLength]="codeLength"
                    [exampleText]="exampleText"
                    [readOnly]="readOnly"
                    [focusable]="focusable"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    (binChange)="onBinChange($event)"
                ></tui-input-card-grouped>
            </ng-template>
        </tui-doc-demo>
        <div class="b-full-width tui-space_bottom-6">
            <p i18n>
                Add <code>tuiCreateLuhnValidator(customMessage?)</code> to
                control validators to validate it with Luhn algorithm
            </p>
        </div>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="autocompleteEnabled"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="autocompleteEnabled"
            >
                Browser autocomplete of card
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="cardSrc"
                documentationPropertyMode="input"
                documentationPropertyType="string | null"
                [documentationPropertyValues]="cardSrcVariants"
                [(documentationPropertyValue)]="cardSrcSelected"
            >
                SVG card icon
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="exampleText"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="exampleText"
            >
                An example of input
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="codeLength"
                documentationPropertyMode="input"
                documentationPropertyType="3 | 4"
                [documentationPropertyValues]="codeLengthVariants"
                [(documentationPropertyValue)]="codeLength"
            >
                Code length
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="binChange"
                documentationPropertyMode="output"
                documentationPropertyType="string | null"
            >
                BIN value (card first 6 symbols)
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiInputCardGroupedModule</code> into a module
                    where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
