@import 'mixins.scss';

@mixin appearance-hover {
    @include interactive {
        @media (hover: hover) {
            &:hover:not([data-state]) {
                @content;
            }
        }
    }

    &[data-state='hover'] {
        @content;
    }
}

@mixin appearance-active {
    @include interactive {
        &:active:not([data-state]) {
            @content;
        }
    }

    &[data-state='active'] {
        @content;
    }
}

@mixin appearance-disabled {
    &:disabled:not([data-state]),
    &[data-state='disabled'] {
        @content;
    }
}

@mixin appearance-focus {
    &:focus-visible:not([data-focus='false']),
    &[data-focus='true'] {
        @content;
    }
}
