$thumb-diameters: (
    's': 0.5rem,
    'm': 0.75rem,
    'l': 0.75rem,
);

$track-inset: (
    's': 0.625rem,
    'm': 0.75rem,
    'l': 1rem,
);

// TODO(v5): use `l` by default (default size for new textfields)
@mixin tui-slider-ticks-labels($input-size: m) {
    $thumb: map-get($thumb-diameters, $input-size);

    --t-offset: calc($thumb / 2);

    display: flex;
    font: var(--tui-font-body-s);
    color: var(--tui-text-secondary);
    margin: 0.25rem var(--t-offset) 0;

    & > * {
        position: relative;
        flex: 2;
        text-align: center;

        &:first-child {
            inset-inline-start: calc(-1 * var(--t-offset));
            flex: 1;
            text-align: start;
        }

        &:last-child {
            inset-inline-end: calc(-1 * var(--t-offset));
            flex: 1;
            text-align: end;
        }
    }

    tui-range + & {
        --t-offset: $thumb;
    }

    /* TODO: add :has([tuiInputSlider]) */
    tui-textfield[data-size='l'] + & {
        --t-offset: calc(map-get($track-inset, 'l') + $thumb / 2);
    }

    /* TODO: add :has([tuiInputSlider]) */
    tui-textfield[data-size='m'] + & {
        --t-offset: calc(map-get($track-inset, 'm') + $thumb / 2);
    }

    /* TODO: add :has([tuiInputSlider]) */
    tui-textfield[data-size='s'] + & {
        --t-offset: calc(map-get($track-inset, 's') + $thumb / 2);
    }

    tui-input-range[data-size='l'] + & {
        --t-offset: calc(map-get($track-inset, 'l') + $thumb);
    }

    tui-input-range[data-size='m'] + & {
        --t-offset: calc(map-get($track-inset, 'm') + $thumb);
    }

    tui-input-range[data-size='s'] + & {
        --t-offset: calc(map-get($track-inset, 's') + $thumb);
    }
}
