@thumb-diameters: {
    @s: 0.5rem;
    @m: 0.75rem;
};

.tui-slider-ticks-labels(@input-size: m) {
    @first-tick-center: (@thumb-diameters[@@input-size] / 2);
    display: flex;
    margin: 0 @first-tick-center;
    font: var(--tui-font-text-s);

    & > * {
        position: relative;
        flex: 2;
        text-align: center;

        &:first-child {
            left: -@first-tick-center;
            flex: 1;
            text-align: left;
        }

        &:last-child {
            right: -@first-tick-center;
            flex: 1;
            text-align: right;
        }
    }

    tui-input-slider + & {
        margin-left: calc(var(--tui-radius-m) / 2 + @first-tick-center);
    }

    tui-input-range + &,
    tui-range + & {
        @thumb: @thumb-diameters[@@input-size];
        margin-left: @thumb;
        margin-right: @thumb;

        & > * {
            &:first-child {
                left: -@thumb;
            }

            &:last-child {
                right: -@thumb;
            }
        }
    }
}
