.text-basic() {
    .text-body-s();
    color: var(--tui-text-01);
}

// headings

.text-h1() {
    font: var(--tui-font-heading-1);
}

.text-h2() {
    font: var(--tui-font-heading-2);
}

.text-h3() {
    font: var(--tui-font-heading-3);
}

.text-h4() {
    font: var(--tui-font-heading-4);
}

.text-h5() {
    font: var(--tui-font-heading-5);
}

.text-h6() {
    font: var(--tui-font-heading-6);
}

// typed text

.text-body-xl() {
    font: var(--tui-font-text-xl);
}

.text-body-l() {
    font: var(--tui-font-text-l);
}

.text-body-m() {
    font: var(--tui-font-text-m);
}

.text-body-s() {
    font: var(--tui-font-text-s);
}

.text-body-xs() {
    font: var(--tui-font-text-xs);
}

// tabs, tags, category

.text-caption-l() {
    font: var(--tui-font-caption-l);
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.text-caption() {
    font: var(--tui-font-caption-m);
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

// mixins for font properties
// deprecated

.font(@size, @line-height: 'none', @weight: normal, @color: 'none') {
    font-weight: @weight;
    font-size: @size;
    font-family: var(--tui-font-text);
}

.font(@size, @line-height: 'none', @weight: normal, @color: 'none') when not (@line-height = 'none') {
    line-height: @line-height;
}

.font(@size, @line-height: 'none', @weight: normal, @color: 'none') when not (@color = 'none') {
    color: @color;
}
