@mixin text-basic() {
    @include text-body-s();
    color: var(--tui-text-01);
}

// headings

@mixin text-h1() {
    font: var(--tui-font-heading-1);
}

@mixin text-h2() {
    font: var(--tui-font-heading-2);
}

@mixin text-h3() {
    font: var(--tui-font-heading-3);
}

@mixin text-h4() {
    font: var(--tui-font-heading-4);
}

@mixin text-h5() {
    font: var(--tui-font-heading-5);
}

@mixin text-h6() {
    font: var(--tui-font-heading-6);
}

// typed text

@mixin text-body-xl() {
    font: var(--tui-font-text-xl);
}

@mixin text-body-l() {
    font: var(--tui-font-text-l);
}

@mixin text-body-m() {
    font: var(--tui-font-text-m);
}

@mixin text-body-s() {
    font: var(--tui-font-text-s);
}

@mixin text-body-xs() {
    font: var(--tui-font-text-xs);
}

// tabs, tags, category

@mixin text-caption-l() {
    font: var(--tui-font-caption-l);
    text-transform: uppercase;
}

@mixin text-caption() {
    font: var(--tui-font-caption-m);
    text-transform: uppercase;
}

// mixins for font properties
// deprecated

@mixin font($size, $line-height: 'none', $weight: normal, $color: 'none') {
    font-weight: $weight;
    font-size: $size;
    font-family: var(--tui-text-font);

    @if ($line-height != 'none') {
        line-height: $line-height;
    }

    @if ($color != 'none') {
        color: $color;
    }

    @if ($line-height != 'none') {
        line-height: $line-height;
    }
}
