.tui-skeleton {
    position: relative;
    color: transparent !important;
    background: transparent !important;
    pointer-events: none;
    user-select: none;

    &:after {
        @include fullsize();
        content: '';
        background-color: fade(#000, 8%);
        animation: tuiSkeletonBackgroundVibe ease-in-out 1s infinite alternate;
    }

    &_light:after {
        background-color: fade(#000, 16%);
        animation-name: tuiSkeletonLightBackgroundVibe;
    }

    &_rounded:after {
        border-radius: inherit;
    }

    &_short:after {
        width: 40%;
    }

    &_center:after {
        @include center-left();
        width: 40%;
    }

    &_text:before {
        content: '\a0';
    }

    & * {
        opacity: 0;
        visibility: hidden;
    }
}
