// width - conscious choice
/* stylelint-disable order/order */
.tui-container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

    &.tui-container_adaptive {
        @media @desktop-lg-min {
            width: 1104px;
        }

        @media @desktop {
            width: 824px;
        }

        @media @tablet-lg {
            width: 608px;
        }

        @media @tablet-s {
            width: 512px;
        }

        @media @mobile {
            width: 100%;
            padding: 0 16px;
        }
    }

    @media @desktop-lg-min {
        width: 1104px;
    }

    @media @desktop {
        width: 824px;
    }

    &_menu {
        @media @desktop-lg-min {
            width: 1104px;
        }

        @media @desktop-interval {
            width: 824px;
        }

        @media @tablet {
            width: auto;
            padding: 0 16px;
        }
    }

    &_fullwidth {
        width: auto;
        padding: 0 24px;

        @media @tablet {
            padding: 0 16px;
        }
    }

    &_fixed {
        @media @desktop {
            width: 1104px;
        }
    }
}
/* stylelint-enable order/order */
