$space-small: 8px;
$space-normal: 20px;
$space-large: 24px;

/* stylelint-disable order/order */
@mixin generate-columns($infix, $total, $padding, $start: 1) {
    @for $i from $start through $total {
        &_#{infix}-#{$i} {
            width: ($i * 100% / $total);
            padding-left: $padding;
            padding-right: $padding;
            box-sizing: border-box;
        }
    }
}

@mixin generate-offset-columns($infix, $total, $start: 1) {
    @for $i from $start through $total {
        &_#{$infix}-#{$i} {
            margin-left: ($i * 100% / $total);
        }
    }
}

@mixin generate-sme-columns($total, $padding, $start: 1) {
    @for $i from $start through $total {
        &_#{$i} {
            width: ($start * 100% / $total);
            padding-left: $padding;
            padding-right: $padding;
            box-sizing: border-box;
        }
    }
}

@mixin generate-sme-offset-columns($total, $start: 1) {
    @for $i from $start through $total {
        &_#{$i} {
            margin-left: ($start * 100% / $total);
        }
    }
}
/* stylelint-enable order/order */

.tui-row {
    display: flex;
    flex-wrap: wrap;

    &_align_center {
        align-items: center;
    }

    &_align_start {
        align-items: flex-start;
    }

    &_align_end {
        align-items: flex-end;
    }

    &_adaptive.tui-row {
        @media #{$desktop-lg-min} {
            margin-left: -$space-large;
            margin-right: -$space-large;
        }

        @media #{$desktop} {
            margin-left: -$space-normal;
            margin-right: -$space-normal;
        }

        @media #{$tablet} {
            margin-left: -$space-small;
            margin-right: -$space-small;
        }

        @media #{$mobile} {
            margin-left: -$space-small;
            margin-right: -$space-small;
        }
    }

    &_temporary.tui-row {
        margin-left: -$space-normal;
        margin-right: -$space-normal;
    }

    @media #{$desktop-lg-min} {
        margin-left: -$space-large;
        margin-right: -$space-large;
    }

    @media #{$desktop} {
        margin-left: -$space-normal;
        margin-right: -$space-normal;
    }
}

.tui-col {
    @include generate-sme-columns(12, $space-normal);
    @include generate-columns(md, 12, $space-normal);

    &_stretch {
        display: flex;
    }

    .tui-row_adaptive & {
        @media #{$desktop-lg-min} {
            @include generate-columns(lg, 12, $space-large);
        }

        @media #{$desktop} {
            @include generate-columns(md, 12, $space-normal);
        }

        @media #{$tablet} {
            @include generate-columns(sm, 12, $space-small);
        }

        @media #{$tablet-s} {
            @include generate-columns(s, 12, $space-small);
        }

        @media #{$mobile} {
            @include generate-columns(xs, 12, $space-small);
        }
    }

    .tui-row_temporary & {
        @include generate-sme-columns(12, $space-normal);
    }

    @media #{$desktop-lg-min} {
        @include generate-sme-columns(12, $space-large);
    }
}

.tui-col-offset {
    @include generate-sme-offset-columns(12);

    @media #{$mobile-interval} {
        @include generate-offset-columns(xs, 12);
    }

    @media #{$tablet-interval} {
        @include generate-offset-columns(sm, 12);
        @include generate-offset-columns(s, 12);
    }

    @media #{$desktop-interval} {
        @include generate-offset-columns(md, 12);
    }

    @media #{$desktop-lg-min} {
        @include generate-offset-columns(lg, 12);
    }
}
