<tui-doc-page
    header="InputDateMulti"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="example1"
        >
            <tui-input-date-multi-example-1></tui-input-date-multi-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template
        documentationApiHost
        documentationTemplateContent="Choose a date"
        documentationTemplateTagName="tui-input-date"
        pageTab
        [documentationTemplateBaseProperties]="inputBaseProperties"
    >
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-date
                    multiple
                    [disabledItemHandler]="disabledItemHandler"
                    [expandable]="expandable"
                    [focusable]="focusable"
                    [formControl]="control"
                    [markerHandler]="markerHandler"
                    [max]="max"
                    [min]="min"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [rows]="rows"
                    [tuiDropdownOpen]="!!(dropdownOpen | async)"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldIconLeft]="iconLeft"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    (tuiDropdownOpenChange)="dropdownOpen.next($event)"
                >
                    Choose a date
                </tui-input-date>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyName="expandable"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="expandable"
            >
                Expandable
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabledItemHandler"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="markerHandler"
                documentationPropertyType="TuiMarkerHandler"
                [documentationPropertyValues]="markerHandlerVariants"
                [(documentationPropertyValue)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with circled marker colors
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Minimum date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Maximum date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="rows"
                documentationPropertyType="number"
                [documentationPropertyValues]="rowsVariants"
                [(documentationPropertyValue)]="rows"
            >
                A number of visible rows in
                <code>expandable</code>
                mode
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation [dropdown]="true"></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <p>
            Mobile calendar does not use the same dropdown with calendar as desktop uses. It uses digital keyboard. If
            you want to open
            <a
                routerLink="/components/mobile-calendar"
                tuiLink
            >
                mobile calendar
            </a>
            , add imports of
            <code>TuiMobileCalendarDialogModule</code>
            and
            <code>TuiDialogModule</code>
            into your root module. Also, check that you did not forget about
            <a
                routerLink="/getting-started"
                tuiLink
            >
                tui-root
            </a>
        </p>

        <ol class="b-demo-steps">
            <li>
                <p>
                    Import an Angular module for forms and
                    <code>TuiInputDateMultiModule</code>
                    in the same module where you want to use our component:
                </p>

                <tui-doc-code
                    filename="my.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>
                    Declare a form (
                    <code>FormGroup</code>
                    ) or a control (
                    <code>FormControl</code>
                    ) in your component:
                </p>

                <tui-doc-code
                    filename="my.component.ts"
                    [code]="exampleForm"
                ></tui-doc-code>
            </li>

            <li>
                Use
                <code>tui-input-date[multiple]</code>
                in template:

                <tui-doc-code
                    filename="my.component.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
