:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

tui-svg:last-child {
    display: flex;
    align-self: center;
    width: 1rem;
    height: 1rem;
    margin: 0 0 0 0.75rem;
    color: var(--tui-text-01);
    opacity: 0.5;
    float: right;
}
