<ng-container *ngIf="zoomTexts$ | async as texts">
    <section class="t-zoom">
        <button
            tuiIconButton
            tuiPreviewAction
            type="button"
            class="t-sign_minus"
            [disabled]="leftButtonDisabled"
            [iconStart]="icons.zoomOut"
            (click)="onMinus()"
        >
            {{ texts.zoomOut }}
        </button>
        <label
            *tuiLet="(valueChange | async) || (value | percent) as sliderValueText"
            tuiSliderThumbLabel
        >
            <div
                [tuiHint]="sliderValueText"
                [tuiHintManual]="!!(hintShow$ | async)"
            ></div>

            <input
                step="any"
                tuiSlider
                tuiTheme="dark"
                type="range"
                class="t-slider"
                [attr.aria-label]="sliderLabel$ | async"
                [attr.aria-valuetext]="sliderValueText"
                [max]="max"
                [min]="min"
                [ngModel]="value"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onModelChange($event)"
            />
        </label>
        <button
            tuiIconButton
            tuiPreviewAction
            type="button"
            class="t-sign_plus"
            [disabled]="rightButtonDisabled"
            [iconStart]="icons.zoomIn"
            (click)="onPlus()"
        >
            {{ texts.zoomIn }}
        </button>
    </section>

    <button
        tuiHintAppearance="dark"
        tuiHintDescribe
        tuiHintDirection="top-right"
        tuiIconButton
        tuiPreviewAction
        type="button"
        class="t-reset-button"
        [class.t-invisible]="!collapseVisible"
        [iconStart]="icons.zoomReset"
        [tuiHint]="texts.reset"
        (click)="onReset()"
    >
        {{ texts.reset }}
    </button>
</ng-container>
