<section class="t-zoom">
    <button
        tuiIconButton
        tuiPreviewAction
        type="button"
        class="t-sign_minus"
        [disabled]="value() === min()"
        [iconStart]="icons.zoomOut"
        (click)="clamp(value() - 0.5)"
    >
        {{ texts().zoomOut }}
    </button>
    <label tuiSliderThumbLabel>
        <div
            [tuiHint]="value() | percent"
            [tuiHintManual]="hint()"
        ></div>
        <input
            step="any"
            tuiSlider
            tuiTheme="dark"
            type="range"
            class="t-slider"
            [attr.aria-label]="sliderLabel()"
            [attr.aria-valuetext]="value() | percent"
            [max]="max()"
            [min]="min()"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="value"
        />
    </label>
    <button
        tuiIconButton
        tuiPreviewAction
        type="button"
        class="t-sign_plus"
        [disabled]="value() === max()"
        [iconStart]="icons.zoomIn"
        (click)="clamp(value() + 0.5)"
    >
        {{ texts().zoomIn }}
    </button>
</section>
<button
    tuiHintAppearance="floating"
    tuiHintDescribe
    tuiHintDirection="top-right"
    tuiIconButton
    tuiPreviewAction
    type="button"
    class="t-reset-button"
    [class.t-invisible]="value() === this.min()"
    [iconStart]="icons.zoomReset"
    [tuiHint]="texts().reset"
    (click)="reset.emit()"
>
    {{ texts().reset }}
</button>
