<span
    automation-id="tui-money__sign"
    [textContent]="value | tuiSignSymbol: sign"
></span>
<span
    automation-id="tui-money__integer-part"
    [textContent]="value | tuiIntegerPart"
></span>
<span class="t-lighter">
    <span
        automation-id="tui-money__fraction-part"
        [textContent]="value | tuiFractionPart: decimal:precision"
    ></span>
    <span
        automation-id="tui-money__currency"
        class="t-currency"
        [textContent]="currency | tuiCurrency"
    ></span>
</span>
