<span
    automation-id="tui-money__sign"
    [textContent]="value | tuiSignSymbol : sign"
></span>

<span
    *tuiLet="currency | tuiCurrency as currencySymbol"
    class="t-container"
    [class.t-container_reverse]="!alignRight"
>
    <span>
        <span
            automation-id="tui-money__integer-part"
            [textContent]="value | tuiIntegerPart : precision"
        ></span>
        <span
            automation-id="tui-money__fraction-part"
            class="t-lighter"
            [textContent]="value | tuiFractionPart : decimal : precision"
        ></span>
    </span>
    <span *ngIf="alignRight || currencySymbol.length > 1">&nbsp;</span>
    <span
        automation-id="tui-money__currency"
        class="t-lighter"
        [textContent]="currencySymbol"
    ></span>
</span>
