:host {
    display: flex;

    & > * {
        margin-right: 1rem;
    }
}

.progress {
    &[data-size='l'] {
        color: var(--tui-support-01);
    }

    &[data-size='m'] {
        color: var(--tui-support-03);
    }

    &[data-size='s'] {
        color: var(--tui-support-09);
    }
}
