@import 'taiga-ui-local';

.example {
    .tui-space(bottom, 2);
    min-width: 20.25rem;
}

.form {
    min-width: 300px;
    overflow: hidden;
}

.exchange {
    margin: 25px;
}

.group {
    max-width: 30.25rem;
}
