@import '@taiga-ui/styles/utils';

:host {
    position: fixed;
    z-index: 1;
    display: flex;
    inset: 0 0 auto;
    block-size: 4.125rem;
    align-items: center;
    padding: 0 1.5rem;
    background: var(--tui-background-base-alt);

    :host-context([tuiTheme='dark']) {
        background: var(--tui-background-elevation-2);
    }

    --tui-stroke-width: 0.09375rem;

    &::after {
        content: '';
        position: fixed;
        inset: 3.625rem 0 auto;
        block-size: calc(100% - 3.625rem);
        box-sizing: border-box;
        pointer-events: none;
        border-radius: var(--tui-radius-xl);
        border: 0.5rem solid var(--tui-background-base-alt);
        box-shadow:
            -5rem 0 var(--tui-background-base-alt),
            5rem 0 var(--tui-background-base-alt);

        :host-context([tuiTheme='dark']) & {
            border: 0.5rem solid var(--tui-background-elevation-2);
            box-shadow:
                -5rem 0 var(--tui-background-elevation-2),
                5rem 0 var(--tui-background-elevation-2);
        }
    }
}

.t-logo {
    margin-inline-end: auto;
    font: var(--tui-typography-heading-h6);
}

.t-img {
    display: block;
}

.t-menu {
    margin-inline-start: -1.25rem;
}

.t-drawer {
    inline-size: 17.25rem;
}
