@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // fix for Safari to prevent tabs underline above sidebar
    z-index: 1;
    display: flex;
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
    block-size: 4.125rem;
    align-items: center;
    padding: 0 1.25rem;
    background: var(--tui-background-base);
    background: color-mix(in srgb, var(--tui-background-base) 70%, var(--tui-background-base) 0%);
    backdrop-filter: blur(0.625rem);
    border-radius: 0.9375rem;
    border: 1px solid var(--tui-border-normal);
    margin: 0.4375rem 1rem;
}

.t-logo {
    margin-inline-end: auto;
    font: var(--tui-font-heading-h5);
}

.t-img {
    display: block;
}

.t-menu {
    margin-inline-start: -1.25rem;

    @media @tui-tablet-min {
        display: none;
    }
}

.t-drawer {
    inline-size: 17.25rem;
}
