@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: fixed;
    // fix for Safari to prevent tabs underline above sidebar
    z-index: 1;
    display: flex;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    box-shadow: var(--tui-shadow-small);
    block-size: 4.125rem;
    align-items: center;
    padding: 0 1.25rem;
    background: var(--tui-background-base);
    border-block-end: 1px solid var(--tui-border-normal);

    @supports (background: color-mix(in srgb, var(--tui-background-base), transparent 50%)) {
        background: color-mix(in srgb, var(--tui-background-base), transparent 50%);
        backdrop-filter: blur(1.25rem);
    }
}

.t-logo {
    margin-inline-end: auto;
    font: var(--tui-font-heading-5);
}

.t-img {
    display: block;
}

.t-menu {
    margin-inline-start: -1.25rem;

    @media @tui-tablet-min {
        display: none;
    }
}

.t-drawer {
    inline-size: 17.25rem;
}
