*.log
lib-cov
coverage
build/Release
**/node_modules/
npm-debug.log
/npm-debug.log.*
/coverage/
*/dist
/src/*/__build__/
/__build__/**
/public/dist/
/src/*/dist/
/dist/**
.webpack.json
/compiled/
dll/
tmp/
*.ngfactory.ts
*.css.shim.ts
*.ngsummary.json
*.shim.ngstyle.ts
.idea
*.iml
*/tmp
.rpt2_cache
.vscode
quality-check
.DS_Store
dist
**/cypress/screenshots
**/cypress/snapshots
.ssl
RELEASE_BODY.md
*tsbuildinfo
taiga-ui-olds/
