@import 'taiga-ui-local';

:host {
    display: flex;
    flex-wrap: wrap;
    padding: 0.875rem;
}

.t-button {
    .clearbtn();
    width: 1.5625rem;
    height: 1.5625rem;
    box-sizing: border-box;
    margin: 0.375rem;
    border-radius: var(--tui-radius-m);
    border: 1px solid rgba(0, 0, 0, 0.08);
}
