@use 'taiga-ui-local' as *;

$itemSize: 63px;

//@include picker($itemSize);

:host {
    width: $itemSize * 4;
}

.row {
    margin: 14px 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
