<div
    *tuiRepeatTimes="let rowIndex of rows"
    automation-id="tui-primitive-year-picker__row"
    class="t-row"
>
    <ng-container *tuiRepeatTimes="let colIndex of 4">
        <div
            *tuiLet="getItem(rowIndex, colIndex) as item"
            automation-id="tui-primitive-year-picker__cell"
            class="t-cell"
            [class.t-cell_today]="itemIsToday(item)"
            [class.t-cell_interval]="itemIsInterval(item)"
            [attr.data-range]="getItemRange(item)"
            [attr.data-state]="getItemState(item)"
            [tuiScrollIntoView]="scrollItemIntoView(item)"
            (tuiHoveredChange)="onItemHovered($event, item)"
            (tuiPressedChange)="onItemPressed($event, item)"
            (click)="onItemClick(item)"
        >
            <div class="t-item">{{ item }}</div>
        </div>
    </ng-container>
</div>
