<div
    *tuiRepeatTimes="let rowIndex of rows"
    automation-id="tui-primitive-year-picker__row"
    class="t-row"
>
    <ng-container *tuiRepeatTimes="let colIndex of 4">
        <div
            *tuiLet="getItem(rowIndex, colIndex) as item"
            automation-id="tui-primitive-year-picker__cell"
            class="t-cell"
            [class.t-cell_today]="item | tuiItemIsToday"
            [class.t-cell_interval]="item | tuiItemIsInterval : value : hoveredItem"
            [attr.data-range]="item | tuiGetItemRange : value : hoveredItem"
            [attr.data-state]="item | tuiGetItemState : disabledItemHandler : max : pressedItem : hoveredItem"
            [tuiScrollIntoView]="initialItem.year === item"
            (tuiHoveredChange)="onItemHovered($event, item)"
            (tuiPressedChange)="onItemPressed($event, item)"
            (click)="onItemClick(item)"
        >
            <div class="t-item">{{ item }}</div>
        </div>
    </ng-container>
</div>
