@import '@taiga-ui/core/styles/taiga-ui-local';

@itemSize: 3.9375rem;

.picker(@itemSize);

:host {
    width: @itemSize * 4;
}

.t-row {
    margin: 0.875rem 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
