<tui-doc-page
    header="BlockStatus"
    package="LAYOUT"
    type="components"
>
    <ng-template pageTab>
        <p>Component for status screens, result screens and zero screens</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [fullsize]="true"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-block-status [card]="card">
                <img
                    alt="hidden content"
                    src="./assets/images/camping.svg"
                    tuiSlot="top"
                />
                <h4>Title</h4>
                Description
                <button
                    appearance="secondary"
                    tuiButton
                >
                    Action
                </button>
            </tui-block-status>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="card"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="card"
            >
                Enable border radius and padding for card view
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
