<tui-doc-page
    header="Editor"
    package="ADDON-EDITOR"
    type="components"
>
    <p i18n>
        Rich Text Editor based on
        <a
            tuiLink
            href="https://www.tiptap.dev/"
        >
            TipTap Editor
        </a>
        for using with Angular forms. For safety reasons use a
        <a
            tuiLink
            routerLink="/icon-set"
            fragment="sanitizer"
        >
            sanitizer
        </a>
        with this component.
    </p>

    <tui-doc-example
        id="anchors"
        i18n-heading
        heading="Anchors"
        description="The anchor element defines a hyperlink, which is used to link to part of section"
        [content]="example1"
    >
        <tui-editor-anchors-example-1></tui-editor-anchors-example-1>
    </tui-doc-example>
</tui-doc-page>
