<tui-scrollbar
    *ngIf="isYearPickerShown; else monthSelect"
    class="t-scrollbar"
>
    <tui-calendar-year
        [initialItem]="year.year"
        [max]="max().year"
        [min]="min().year"
        [value]="value()"
        (yearClick)="onPickerYearClick($event)"
    />
</tui-scrollbar>
<ng-template #monthSelect>
    <tui-spin-button
        class="t-spin"
        [focusable]="false"
        [leftDisabled]="year.yearSameOrBefore(min())"
        [rightDisabled]="year.yearSameOrAfter(max())"
        (leftClick)="onPreviousYear()"
        (rightClick)="onNextYear()"
    >
        <button
            automation-id="tui-calendar-month__active-year"
            tabIndex="-1"
            tuiLink
            type="button"
            (click)="onYearClick()"
        >
            {{ year.formattedYear }}
        </button>
    </tui-spin-button>
    <div
        *tuiRepeatTimes="let row of 3"
        class="t-row"
    >
        <ng-container *tuiRepeatTimes="let column of 4">
            <div
                *tuiLet="getTuiMonth(row * 4 + column, year.year) as item"
                class="t-cell"
                [attr.data-range]="getItemRange(item)"
                [class.t-cell_disabled]="disabledItemHandlerWithMinMax(item)"
                [class.t-cell_today]="isItemToday(item)"
                (click)="onItemClick(item)"
                (tuiHoveredChange)="onItemHovered($event, item)"
            >
                {{ months()?.[row * 4 + column] }}
            </div>
        </ng-container>
    </div>
</ng-template>
