<tui-scrollbar
    *ngIf="isYearPickerShown; else monthSelect"
    class="t-scrollbar"
>
    <tui-calendar-year
        [initialItem]="year.year"
        [max]="computedMax.year"
        [min]="computedMin.year"
        [value]="value"
        (yearClick)="onPickerYearClick($event)"
    />
</tui-scrollbar>
<ng-template #monthSelect>
    <tui-spin-button
        [focusable]="false"
        [leftDisabled]="previousYearDisabled"
        [rightDisabled]="nextYearDisabled"
        (leftClick)="onPreviousYear()"
        (rightClick)="onNextYear()"
    >
        <button
            automation-id="tui-calendar-month__active-year"
            tabIndex="-1"
            tuiLink
            type="button"
            (click)="onYearClick()"
        >
            {{ year.formattedYear }}
        </button>
    </tui-spin-button>
    <div class="t-row">
        <ng-container *ngFor="let month of months$ | async; let index = index">
            <div
                *tuiLet="getTuiMonth(index, year.year) as item"
                class="t-cell"
                [attr.data-range]="getItemRange(item)"
                [class.t-cell_disabled]="disabledItemHandlerWithMinMax(item)"
                [class.t-cell_interval]="isItemInsideRange(item)"
                [class.t-cell_today]="isItemToday(item)"
                (click)="onItemClick(item)"
                (tuiHoveredChange)="onItemHovered($event, item)"
            >
                <div class="t-item">{{ month }}</div>
            </div>
        </ng-container>
    </div>
</ng-template>
