<tui-scrollbar *ngIf="isYearPickerShown; else monthSelect" class="scrollbar">
    <tui-primitive-year-picker
        [min]="min"
        [max]="max"
        [initialItem]="year"
        [value]="value"
        (yearClick)="onPickerYearClick($event)"
    ></tui-primitive-year-picker>
</tui-scrollbar>
<ng-template #monthSelect>
    <tui-primitive-spin-button
        [focusable]="false"
        [leftDisabled]="previousYearDisabled"
        [rightDisabled]="nextYearDisabled"
        (leftClick)="onPreviousYear()"
        (rightClick)="onNextYear()"
    >
        <button tuiLink [tuiFocusable]="false" (click)="onYearClick()">
            {{year.formattedYear}}
        </button>
    </tui-primitive-spin-button>
    <div class="row">
        <ng-container
            *ngFor="let month of (months$ | async); let index = index"
        >
            <div
                *tuiLet="getTuiMonth(index, year.year) as item"
                class="cell"
                [class.cell_today]="isItemToday(item)"
                [class.cell_interval]="isItemInsideRange(item)"
                [attr.data-tui-element-range]="getItemRange(item)"
                [attr.data-tui-element-state]="getItemState(item)"
                (tuiHoveredChange)="onItemHovered($event, item)"
                (tuiPressedChange)="onItemHovered($event, item)"
                (click)="onItemClick(item)"
            >
                <div class="item">{{month}}</div>
            </div>
        </ng-container>
    </div>
</ng-template>
