@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: start;

    :host-context(*:disabled) {
        pointer-events: none;
    }
}

.t-hosted {
    display: block;
    border-radius: inherit;
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}

.t-value {
    display: flex;
    inline-size: 100%;
    align-items: center;
}

.t-icon {
    pointer-events: auto;
}
