<tui-doc-page
    header="Textarea"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        A string input for multi line text

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    [iconEnd]="icons.iconEnd"
                    [iconStart]="icons.iconStart"
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                >
                    <label
                        *ngIf="textfieldDoc.size !== 's'"
                        tuiLabel
                    >
                        Label
                    </label>
                    <textarea
                        placeholder="Placeholder"
                        tuiTextarea
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [max]="max"
                        [min]="min"
                        [readOnly]="controlDoc.readonly"
                        [tuiDisabled]="controlDoc.disabled"
                    ></textarea>
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tbody>
                <tr
                    name="[min]"
                    tuiDocAPIItem
                    type="number"
                    [(value)]="min"
                >
                    Minimum number of rows in height
                </tr>
                <tr
                    name="[max]"
                    tuiDocAPIItem
                    type="number"
                    [(value)]="max"
                >
                    Maximum number of rows before scroll appears
                </tr>
            </tbody>
            <tbody
                #textfieldDoc
                tuiDocTextfield
            ></tbody>
            <tbody
                #icons
                tuiDocIcons
            ></tbody>
            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
