<tui-doc-page
    deprecated
    header="InputDateRangeLegacy"
    package="LEGACY"
    type="components"
>
    <ng-template pageTab>
        <tui-notification appearance="negative">
            This version of the component is deprecated and will be removed in the next major version. Use
            <a
                tuiLink
                [routerLink]="routes.InputDateRange"
            >
                <strong>new version of InputDateRange</strong>
            </a>
            instead!
        </tui-notification>

        <p class="tui-space_bottom-9">
            <code>InputDate</code>
            is a field to input a range of dates.
        </p>

        <p>
            Date formatting can be customized with
            <a
                fragment="date-format"
                tuiLink
                [routerLink]="routes.Tokens"
            >
                TUI_DATE_FORMAT
            </a>
            token.
        </p>
        <p class="tui-space_bottom-9">
            <a
                fragment="date-localization"
                routerLink="."
                tuiLink
            >
                See an example
            </a>
            with the usage of these tokens.
        </p>

        <h3>DI-tokens for input-configurations:</h3>
        <dl>
            <dt>
                <code>TUI_DATE_RANGE_VALUE_TRANSFORMER</code>
            </dt>
            <dd>
                custom format of control output (
                <a
                    href="https://github.com/taiga-family/taiga-ui/blob/main/projects/cdk/date-time/day-range.ts"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    TuiDayRange
                </a>
                is default).
                <p>
                    <a
                        fragment="native-date-output"
                        routerLink="."
                        tuiLink
                    >
                        See an example
                    </a>
                    of how to provide transformers for
                    <code>InputDate</code>
                    and
                    <code>InputDateRange</code>
                    to work with native
                    <a
                        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date"
                        rel="noreferrer"
                        target="_blank"
                        tuiLink
                    >
                        Date
                    </a>
                    objects.
                </p>
            </dd>
        </dl>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        >
            <tui-notification class="tui-space_bottom-4">
                If you need to set some attributes or listen to events on native
                <code>input</code>
                , you can put it inside with
                <code>Textfield</code>
                directive as shown below
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="large"
            heading="Big size"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="date-localization"
            heading="Date localization"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="native-date-output"
            heading="With native Date output"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="custom-period"
            heading="Custom period"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-date-range
                    class="b-demo-control"
                    [defaultViewedMonth]="defaultViewedMonth"
                    [disabledItemHandler]="disabledItemHandler"
                    [focusable]="focusable"
                    [formControl]="control"
                    [items]="items"
                    [markerHandler]="markerHandler"
                    [max]="max"
                    [maxLength]="maxLength"
                    [min]="min"
                    [minLength]="minLength"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [style.text-align]="textAlign"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldIconLeft]="iconStart"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                >
                    Choose dates
                </tui-input-date-range>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[disabled]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </tr>
            <tr
                name="[defaultViewedMonth]"
                tuiDocAPIItem
                type="TuiMonth"
                [items]="defaultViewedMonthVariants"
                [(value)]="defaultViewedMonth"
            >
                Default month to show
            </tr>
            <tr
                name="[disabledItemHandler]"
                tuiDocAPIItem
                type="TuiBooleanHandler<TuiDay>"
                [items]="disabledItemHandlerVariants"
                [(value)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </tr>
            <tr
                name="[items]"
                tuiDocAPIItem
                type="TuiDayRangePeriod[]"
                [items]="itemsVariants"
                [(value)]="items"
            >
                Fixed intervals (shows 2 calendars with empty array)
            </tr>
            <tr
                name="[markerHandler]"
                tuiDocAPIItem
                type="TuiMarkerHandler | null"
                [items]="markerHandlerVariants"
                [(value)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with circled marker colors
            </tr>
            <tr
                name="[min]"
                tuiDocAPIItem
                type="TuiDay | null"
                [items]="dayVariants"
                [(value)]="min"
            >
                Min date
            </tr>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="TuiDay | null"
                [items]="dayVariants"
                [(value)]="max"
            >
                Max date
            </tr>
            <tr
                name="[minLength]"
                tuiDocAPIItem
                type="TuiDayLike | null"
                [items]="minLengthVariants"
                [(value)]="minLength"
            >
                Minimal length of range
            </tr>
            <tr
                name="[maxLength]"
                tuiDocAPIItem
                type="TuiDayLike | null"
                [items]="maxLengthVariants"
                [(value)]="maxLength"
            >
                Maximal length of range
            </tr>
        </table>
        <inherited-documentation />
        <h3>CSS customization</h3>
        <table tuiDocAPI>
            <tr
                name="[style.text-align]"
                tuiDocAPIItem
                type="string"
                [items]="textAlignVariants"
                [(value)]="textAlign"
            >
                Custom align content by text-align
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
