@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: absolute;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid var(--tui-base-04);
    border-radius: var(--tui-radius-m);
    background: var(--tui-elevation-02);
    box-shadow: var(--tui-shadow-dropdown);
    /* stylelint-disable-next-line */
    max-width: calc(100% - 8px); // Comes from JS so in pixels
    isolation: isolate;
    pointer-events: auto; // if custom portal host has pointer events none

    &.ng-animating {
        pointer-events: none;
    }

    &:not([style*='top']) {
        visibility: hidden;
    }

    &[data-mode='onDark'] {
        --tui-text-01: var(--tui-text-01-night);
        --tui-clear: var(--tui-clear-inverse);

        border: 1px solid #808080;
        background: #222;
    }
}

.t-scroll {
    max-width: 100%;
    flex-grow: 1;
}

.t-primitive {
    padding: 1rem;
}
