<button
    *tuiLet="texts$ | async as texts"
    #tableMergeSplitBtn
    tuiIconButton
    type="button"
    size="s"
    [icon]="canMergeCells ? 'tuiIconTableMergeLarge' : 'tuiIconTableSplitLarge'"
    class="t-button t-button_margin"
    appearance="icon"
    tuiHintDirection="top-left"
    [tuiHint]="canMergeCells ? texts.mergeCells : texts.splitCells"
    [tuiHintId]="tableMergeSplitBtn.id"
    [tuiDescribedBy]="tableMergeSplitBtn.id"
    [focusable]="false"
    [disabled]="!canMergeCells && !canSplitCells"
    (click)="canMergeCells ? mergeCells() : splitCell()"
></button>
