<button
    *tuiLet="texts$ | async as texts"
    #tableMergeSplitBtn
    tuiIconButton
    type="button"
    size="s"
    [icon]="editor.canMergeCells() ? 'tuiIconTableMergeLarge' : 'tuiIconTableSplitLarge'"
    class="t-button t-button_margin"
    appearance="icon"
    tuiHintDirection="top-left"
    [tuiHint]="editor.canMergeCells() ? texts.mergeCells : texts.splitCells"
    [tuiHintId]="tableMergeSplitBtn.id"
    [tuiDescribedBy]="tableMergeSplitBtn.id"
    [focusable]="false"
    [disabled]="!editor.canMergeCells() && !editor.canSplitCells()"
    (click)="editor.canMergeCells() ? mergeCells() : splitCell()"
></button>
