:host {
    --tui-padding: 1.25rem;
}

[tuiButton][data-size='m'] {
    --tui-padding: 1rem;
}

[tuiButton][data-size='s'] {
    --tui-padding: 0.75rem;
}

[tuiButton][data-size='xs'] {
    --tui-padding: 0.5rem;
}
