@import '@taiga-ui/styles/utils';

:host {
    --t-gap: 0.25rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--t-gap);

    &[data-size='l'] {
        --t-gap: 0.5rem;
    }
}

.t-item {
    max-inline-size: 11rem;
}

.t-text {
    .text-overflow();
}
