<label
    *ngFor="let item of items"
    appearance=""
    class="t-item"
    [tuiBlock]="size"
>
    <span
        *polymorpheusOutlet="content as text; context: {$implicit: item}"
        tuiHintOverflow
        class="t-text"
    >
        {{ text }}
    </span>
    <tui-badge
        *ngIf="badgeHandler(item) as badgeValue"
        appearance="neutral"
        [size]="size"
    >
        {{ badgeValue }}
    </tui-badge>
    <input
        tuiBlock
        type="checkbox"
        [disabled]="disabledItemHandler(item)"
        [ngModel]="isCheckboxEnabled(item)"
        (ngModelChange)="onCheckbox($event, item)"
    />
</label>
