@for (item of items(); track $index) {
    <label
        appearance=""
        class="t-item"
        [tuiBlock]="size()"
    >
        <span
            *polymorpheusOutlet="content() as text; context: {$implicit: item}"
            tuiHintOverflow
            class="t-text"
        >
            {{ text }}
        </span>
        @if (badgeHandler()(item); as badgeValue) {
            <div
                appearance="neutral"
                tuiBadge
                [size]="size()"
            >
                {{ badgeValue }}
            </div>
        }
        <input
            tuiBlock
            type="checkbox"
            [disabled]="handlers.disabledItemHandler()(item)"
            [ngModel]="isCheckboxEnabled(item)"
            [ngModelOptions]="{standalone: true}"
            (ngModelChange)="onCheckbox($event, item)"
        />
    </label>
}
