@import '@taiga-ui/styles/utils';

:host {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 11rem));
    gap: var(--t-gap, 0.25rem);

    &[data-size='l'] {
        --t-gap: 0.5rem;
    }
}

.t-item {
    max-inline-size: 11rem;
}

.t-text {
    .text-overflow();
}
