:host {
    display: block;
    margin-bottom: calc(-1 * var(--t-gap));

    --t-gap: 0.25rem;

    &[data-size='l'] {
        --t-gap: 0.5rem;
    }
}

.t-item {
    margin: 0 var(--t-gap) var(--t-gap) 0;

    &:last-child {
        margin-right: 0;
    }
}
