<ng-container *ngFor="let item of items">
    <tui-checkbox-block
        automation-id="tui-filter__checkbox"
        class="t-item"
        [disabled]="disabledItemHandler(item)"
        [hideCheckbox]="true"
        [ngModel]="isCheckboxEnabled(item)"
        [size]="size"
        (ngModelChange)="onCheckbox($event, item)"
    >
        <div
            automation-id="tui-filter__content"
            class="t-content"
        >
            <div
                polymorpheus-outlet
                [content]="content"
                [context]="getItemContentContext(item)"
            ></div>
            <tui-badge
                *ngIf="badgeHandler(item) as badgeValue"
                automation-id="tui-filter__badge"
                tuiMode="onLight"
                class="t-badge"
                [class.t-badge_disabled]="disabledItemHandler(item)"
                [size]="size"
                [value]="badgeValue"
            ></tui-badge>
        </div>
    </tui-checkbox-block>
</ng-container>
