@import 'taiga-ui-local';

:host {
    display: block;
    margin: -2rem;
    background: #454e58;
    color: #fff;
}

.wrapper {
    .inset-border(bottom, light);
    display: flex;
    align-items: center;
    padding: 2rem 2rem 0;
}

.content {
    padding: 2rem 2rem 4rem;
}

.title {
    min-width: 15.625rem;
    margin: 0;
}

.tabs {
    width: ~'calc(100% - 15.625rem)';
    justify-content: flex-end;
    box-shadow: none;
}

.icon {
    .transition(transform);
    margin-left: 0.25rem;

    &_rotated {
        transform: rotate(180deg);
    }
}
