@import '@taiga-ui/core/styles/taiga-ui-local';

.horizontal {
    width: 31.25rem;
}

.vertical {
    width: 12.5rem;
    height: 12.5rem;
}

.input {
    width: 12.5rem;
}

.vertical,
.horizontal {
    .scroll-behavior();
    .transition(~'box-shadow, background');
    position: relative;
    background: var(--tui-background-base);
    color: var(--tui-text-primary);
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
    border: 1px solid var(--tui-border-normal);
}

.title {
    font: var(--tui-font-heading-5);
    margin: 0 0 1rem;
}
