@import 'taiga-ui-local';

// TODO: Change to [tuiButton] in 4.0
[tuiButtonNew]._loading {
    --tui-disabled-opacity: 1;
    -webkit-text-fill-color: transparent;

    > * {
        opacity: 0;
    }

    .t-loader {
        .fullsize();
        opacity: 1;
    }
}
