@space-small: 0.5rem;
@space-normal: 1.25rem;
@space-large: 1.5rem;

/* stylelint-disable order/order */
.generate-columns(@infix, @n, @padding, @i: 1) when (@i =< @n) {
    &_@{infix}-@{i} {
        width: (@i * 100% / @n);
        padding-left: @padding;
        padding-right: @padding;
        box-sizing: border-box;
    }

    .generate-columns(@infix, @n, @padding, (@i + 1));
}

.generate-offset-columns(@infix, @n, @i: 1) when (@i =< @n) {
    &_@{infix}-@{i} {
        margin-left: (@i * 100% / @n);
    }

    .generate-offset-columns(@infix, @n, (@i + 1));
}

.generate-sme-columns(@n, @padding, @i: 1) when (@i =< @n) {
    &_@{i} {
        width: (@i * 100% / @n);
        padding-left: @padding;
        padding-right: @padding;
        box-sizing: border-box;
    }

    .generate-sme-columns(@n, @padding, (@i + 1));
}

.generate-sme-offset-columns(@n, @i: 1) when (@i =< @n) {
    &_@{i} {
        margin-left: (@i * 100% / @n);
    }

    .generate-sme-offset-columns(@n, (@i + 1));
}
/* stylelint-enable order/order */

.tui-row {
    display: flex;
    flex-wrap: wrap;

    &_align_center {
        align-items: center;
    }

    &_align_start {
        align-items: flex-start;
    }

    &_align_end {
        align-items: flex-end;
    }

    &_adaptive.tui-row {
        @media @desktop-lg-min {
            margin-left: -@space-large;
            margin-right: -@space-large;
        }

        @media @desktop {
            margin-left: -@space-normal;
            margin-right: -@space-normal;
        }

        @media @tablet {
            margin-left: -@space-small;
            margin-right: -@space-small;
        }

        @media @mobile {
            margin-left: -@space-small;
            margin-right: -@space-small;
        }
    }

    &_temporary.tui-row {
        margin-left: -@space-normal;
        margin-right: -@space-normal;
    }

    @media @desktop-lg-min {
        margin-left: -@space-large;
        margin-right: -@space-large;
    }

    @media @desktop {
        margin-left: -@space-normal;
        margin-right: -@space-normal;
    }
}

.tui-col {
    .generate-sme-columns(12, @space-normal);
    .generate-columns(md, 12, @space-normal);

    &_stretch {
        display: flex;
    }

    .tui-row_adaptive & {
        @media @desktop-lg-min {
            .generate-columns(lg, 12, @space-large);
        }

        @media @desktop {
            .generate-columns(md, 12, @space-normal);
        }

        @media @tablet {
            .generate-columns(sm, 12, @space-small);
        }

        @media @tablet-s {
            .generate-columns(s, 12, @space-small);
        }

        @media @mobile {
            .generate-columns(xs, 12, @space-small);
        }
    }

    .tui-row_temporary & {
        .generate-sme-columns(12, @space-normal);
    }

    @media @desktop-lg-min {
        .generate-sme-columns(12, @space-large);
    }
}

.tui-col-offset {
    .generate-sme-offset-columns(12);

    @media @mobile-interval {
        .generate-offset-columns(xs, 12);
    }

    @media @tablet-interval {
        .generate-offset-columns(sm, 12);
        .generate-offset-columns(s, 12);
    }

    @media @desktop-interval {
        .generate-offset-columns(md, 12);
    }

    @media @desktop-lg-min {
        .generate-offset-columns(lg, 12);
    }
}
