@height-cell-large: 5rem;

.tui-table {
    width: 100%;

    &_layout_fixed {
        table-layout: fixed;
    }

    &__tr {
        .transition(background);
        outline: none;

        &:not(&_hover_disabled):hover {
            background: var(--tui-base-02);
        }

        &:not(&_border_none) {
            border-bottom: 1px solid var(--tui-base-03);
        }

        &_border_top {
            border-top: 1px solid var(--tui-base-03);
        }

        &_cursor_pointer {
            cursor: pointer;
        }
    }

    &__th {
        .text-overflow();
        font: var(--tui-font-text-s);
        padding: 0.5rem 1rem;
        vertical-align: middle;
        height: 2.5rem;
        color: var(--tui-text-02);
        background: inherit;

        &_font-size_l,
        .tui-table_font-size_l & {
            font: var(--tui-font-text-m);
        }
    }

    &__td {
        font: var(--tui-font-text-m);
        padding: 1rem 1rem 0.875rem;
        vertical-align: top;
        word-wrap: break-word;
        height: 3.4375rem;
        color: var(--tui-text-01);
        background: inherit;

        &_size_l,
        .tui-table_size_l & {
            height: @height-cell-large - 0.0625rem;
        }

        &_font-size_l,
        .tui-table_font-size_l & {
            font: var(--tui-font-text-l);
        }

        &_font-size_s,
        .tui-table_font-size_s & {
            font: var(--tui-font-text-s);
        }

        &_align_center {
            vertical-align: middle;
        }
    }

    &__td,
    &__th {
        box-sizing: border-box;
        text-align: left;

        .tui-table_size_l &:before {
            width: 1rem;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }

        &_first:before,
        &_last:before {
            content: '';
            position: absolute;
            top: 0;
            width: 0.75rem;
            height: 100%;
            background: inherit;
            border-top-left-radius: 0.75rem;
            border-bottom-left-radius: 0.75rem;
        }

        &_first {
            position: relative;
            padding-left: 0;
            overflow: visible;

            &:before {
                right: 100%;
            }
        }

        &_last {
            position: relative;
            padding-right: 0;
            overflow: visible;

            &:before {
                left: 100%;
                transform: scaleX(-1);
            }
        }

        &_text_center {
            text-align: center;
        }

        &_text_right {
            text-align: right;
        }

        &_text_overflow {
            .text-overflow();
        }
    }

    &__subtext {
        font: var(--tui-font-text-s);
        margin: @space 0 0 0;
        color: var(--tui-text-03);
    }

    &__sort {
        .clearbtn();
        .transition(color);
        position: relative;
        display: inline-flex;
        align-items: center;
        outline: none;
        cursor: pointer;

        &:hover {
            color: var(--tui-text-01);
        }

        &_active {
            color: var(--tui-link);

            &:hover {
                color: var(--tui-link-hover);
            }
        }
    }

    &__sort-icon {
        .center-top();
        left: 100%;
        margin-left: (@space / 2);
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        opacity: 0;

        .tui-table__sort_active &,
        .tui-table__sort:hover & {
            .transition(transform);
            opacity: 1;
        }

        .tui-table__sort_active.tui-table__sort_up & {
            transform: rotate(180deg) translateY(50%);
        }
    }
}
