@fields-space: 1.25rem;
@fields-space-mobile: 1rem;
@fields-space-large: 2rem;
@fields-space-large-mobile: 1.5rem;

.tui-form {
    /* stylelint-disable */
    &__header {
        font: var(--tui-font-heading-5);
        margin-top: @fields-space-large;
        margin-bottom: @fields-space;

        @media @tui-mobile {
            font: var(--tui-font-text-l);
            font-weight: bold;
            margin-bottom: @fields-space-mobile;
        }

        &_margin-top_none {
            margin-top: 0;
        }

        &_margin-bottom_none {
            margin-bottom: 0;
        }

        &_margin-bottom_small {
            margin-bottom: @fields-space - 0.25rem;

            @media @tui-mobile {
                margin-bottom: @fields-space-mobile - 0.25rem;
            }
        }
    }
    /* stylelint-enable */

    &__row {
        margin-top: @fields-space;

        &:first-child {
            margin-top: 0;
        }

        &_multi-fields {
            display: flex;

            @media @tui-mobile {
                flex-wrap: wrap;
            }
        }

        &_half-width {
            width: ~'calc(50% - (@{fields-space} / 2))';

            @media @tui-mobile {
                width: 100%;
            }
        }

        &_checkboxes {
            display: flex;
            flex-wrap: wrap;
        }

        @media @tui-mobile {
            margin-top: @fields-space-mobile;
        }
    }

    &__multi-field {
        flex: 1 1 0;
        min-width: 0;
        margin-left: @fields-space;

        &:first-child {
            margin-left: 0;
        }

        @media @tui-mobile {
            flex-basis: 100%;
            margin-top: @fields-space-mobile;
            margin-left: 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__field-note {
        font: var(--tui-font-text-s);
        margin-top: 0.25rem;
        color: var(--tui-text-secondary);
    }

    &__field-checkbox {
        margin-top: 0.5rem;
    }

    &__checkbox {
        flex: ~'1 1 calc(50% - 0.625rem)';

        &:nth-child(even) {
            margin-left: 1.25rem;
        }

        &:nth-child(n + 3) {
            margin-top: 1rem;
        }
    }

    &__buttons {
        display: flex;
        margin-top: @fields-space-large;

        &_align_end {
            justify-content: flex-end;
        }

        &_align_center {
            justify-content: center;
        }

        @media @tui-mobile {
            flex-direction: column;
            margin-top: @fields-space-large-mobile;
        }
    }

    &__button {
        margin-left: 0.75rem;

        &:first-child {
            margin-left: 0;
        }

        @media @tui-mobile {
            margin-top: 0.5rem;
            margin-left: 0;
        }
    }
}
