@padding: 1rem;
@padding-large: 1.25rem;

.tui-island {
    position: relative;
    box-sizing: content-box;
    border-radius: var(--tui-radius-xl);
    background-color: var(--tui-base-01);
    color: var(--tui-text-01);
    outline: none;
    text-decoration: none;
    word-wrap: break-word;

    &:not(&_hoverable):before {
        .fullsize();

        box-sizing: border-box;
        border: 1px solid var(--tui-base-03);
        border-radius: inherit;
        content: '';
        pointer-events: none;
    }

    &:focus,
    &:hover:focus {
        &:before {
            border-color: var(--tui-focus);
        }
    }

    &_hoverable {
        .hoverable-with-shadow();

        background: var(--tui-elevation-02);
    }

    &_transparent {
        background-color: transparent;
    }

    &_size_s {
        --tui-radius-xl: calc(4 * var(--tui-radius-l) / 3);

        padding: @padding;
        font: var(--tui-font-text-s);
    }

    &_size_m {
        --tui-radius-xl: calc(5 * var(--tui-radius-l) / 3);

        padding: @padding;
        font: var(--tui-font-text-m);
    }

    &_size_l {
        padding: @padding-large;
        font: var(--tui-font-text-m);
    }

    &_text-align_left {
        text-align: left;
    }

    &_text-align_center {
        text-align: center;
    }

    &_text-align_right {
        text-align: right;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        .tui-island_text-align_center & {
            display: block;
        }

        & > * {
            min-width: 0;
        }
    }

    &__category {
        margin: 0 0 @space * 2;
        color: var(--tui-text-02);
        font-size: 0.6875rem;
        letter-spacing: 0.075em;
        line-height: 1rem;
        text-transform: uppercase;

        .tui-island_size_l & {
            margin: 0 0 @space * 3;
        }
    }

    &__title {
        margin: 0 0 @space * 2;
        font: var(--tui-font-text-m);

        .tui-island_size_m & {
            margin: 0 0 @space * 3;
            font: var(--tui-font-heading-6);
        }

        .tui-island_size_l & {
            font: var(--tui-font-heading-6);
        }
    }

    &__paragraph {
        margin: 0;
        color: var(--tui-text-02);

        &_link.tui-island__paragraph {
            margin-top: @space * 4;

            .tui-island_size_l & {
                margin: @space * 4 0 0;
            }
        }

        &_button.tui-island__paragraph {
            margin-top: @space * 5;

            .tui-island_size_l & {
                margin: @space * 5 0 0;
            }
        }
    }

    &__figure {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        order: 1;
        margin: 0 0 0 @space * 4;

        .tui-island_size_l & {
            margin-left: @space * 9;
        }

        .tui-island_text-align_center & {
            margin: 0 0 @space * 3 0;
        }
    }

    &__carousel-controls {
        display: flex;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--tui-base-03);
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    &__carousel-pages {
        margin-left: auto;
        color: var(--tui-text-02);
    }

    &__carousel-button {
        margin-right: @space * 2;
    }

    .tui-island &__footer-button {
        display: block;
        width: ~'calc(100% + 1.875rem);'; // margin compensation
        border-radius: 0 0 var(--tui-radius-xl) var(--tui-radius-xl);
        border-top: 1px solid var(--tui-base-03);
        margin: @padding calc(-1rem + 1px) calc(-1rem + 1px); // 1px is compensations of border
    }

    .tui-island_size_l &__footer-button {
        width: ~'calc(100% + 2.375rem);'; // margin compensation
        margin: @padding-large calc(-1.25rem + 1px) calc(-1.25rem + 1px); // 1px is compensations of border
    }

    &__marker {
        &:first-child:not(:only-child) {
            margin-right: 1.25rem;
        }

        &:not(:first-child),
        &:only-child {
            margin-left: 1.25rem;
        }
    }
}
