// width - conscious choice
/* stylelint-disable order/order */
.tui-container {
    margin-right: auto;
    margin-left: auto;

    &.tui-container_adaptive {
        @media @tui-desktop-lg-min {
            inline-size: 69rem;
        }

        @media @tui-desktop {
            inline-size: 51.5rem;
        }

        @media @tui-mobile {
            inline-size: 100%;
            padding: 0 1rem;
            box-sizing: border-box;
        }
    }

    @media @tui-desktop-lg-min {
        inline-size: 69rem;
    }

    @media @tui-desktop {
        inline-size: 51.5rem;
        padding: 0 3rem;
    }

    &_menu {
        @media @tui-desktop-lg-min {
            inline-size: 69rem;
        }

        @media @tui-desktop-interval {
            inline-size: 51.5rem;
        }

        @media @tui-mobile {
            inline-size: auto;
            padding: 0 1rem;
            box-sizing: border-box;
        }
    }

    &_fullwidth {
        inline-size: auto;
        padding: 0 1.5rem;

        @media @tui-mobile {
            padding: 0 1rem;
            box-sizing: border-box;
        }
    }

    &_fixed {
        @media @tui-desktop {
            inline-size: 69rem;
        }
    }
}
/* stylelint-enable order/order */
