@import '@taiga-ui/core/styles/taiga-ui-local';

tui-app-bar {
    box-shadow: var(--tui-shadow-navigation);
    width: 20rem;
    margin-bottom: 1rem;
}

.bar {
    width: 8.75rem;
}

.gray {
    box-shadow: none;
    background: var(--tui-base-02);

    button {
        color: var(--tui-text-01);
    }
}

.black {
    color: var(--tui-base-01);
    background: var(--tui-text-01);

    button {
        color: var(--tui-warning-fill-night);
    }
}

section tui-app-bar [tuiTitle] {
    .center-all();
    text-align: center;
}
