<tui-hosted-dropdown
    class="hosted"
    [canOpen]="canOpen"
    [content]="dropdown"
    [open]="open && canOpen"
    (openChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        automation-id="tui-input-date-time__textfield"
        tuiValueAccessor
        tuiTextfieldInputMode="numeric"
        class="textfield"
        [pseudoFocused]="pseudoFocused"
        [pseudoHovered]="pseudoHovered"
        [invalid]="computedInvalid"
        [filler]="filler$ | async"
        [nativeId]="nativeId"
        [readOnly]="readOnly"
        [iconContent]="iconContent"
        [disabled]="disabled"
        [textMask]="textMaskOptions"
        [value]="computedValue"
        (valueChange)="onValueChange($event)"
        (hoveredChange)="onHovered($event)"
        (focusedChange)="onFocused($event)"
    >
        <ng-content></ng-content>
    </tui-primitive-textfield>

    <ng-template #iconContent>
        <tui-svg
            [class.icon]="!computedDisabled"
            [src]="calendarIcon"
        ></tui-svg>
    </ng-template>

    <ng-template #dropdown="polymorpheus" polymorpheus>
        <tui-calendar
            tuiPreventDefault="mousedown"
            automation-id="tui-input-date-time__calendar"
            [min]="calendarMinDay"
            [max]="calendarMaxDay"
            [disabledItemHandler]="disabledItemHandler"
            [month]="computedActiveYearMonth"
            [value]="calendarValue"
            (dayClick)="onDayClick($event)"
            (monthChange)="onMonthChange($event)"
        ></tui-calendar>
    </ng-template>
</tui-hosted-dropdown>
