@import '@taiga-ui/styles/utils';

// TODO: replace with `tui-textfield:has([tuiInputDateTime]) input[type='datetime-local']` (when all browsers supports :has())
tui-textfield input[tuiInputDateTime] ~ .t-content input[type='datetime-local'] {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    inline-size: 2.5rem;
    padding: 0;
    opacity: 0;

    &::-webkit-calendar-picker-indicator {
        .fullsize(); // Extends clickable area for icon to open native calendar
    }
}
