<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="interactive && !showNativePicker"
    [content]="dropdown"
    [open]="open && interactive"
    (openChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        automation-id="tui-input-date-time__textfield"
        tuiValueAccessor
        class="t-textfield"
        [disabled]="computedDisabled"
        [invalid]="computedInvalid"
        [maskito]="maskOptions"
        [nativeId]="nativeId"
        [pseudoFocus]="pseudoFocus"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldFiller]="(filler$ | async) || ''"
        [tuiTextfieldIcon]="calendarIcon && iconContent"
        [value]="computedValue"
        (focusedChange)="onFocused($event)"
        (valueChange)="onValueChange($event)"
    >
        <ng-content></ng-content>
        <ng-content
            ngProjectAs="input"
            select="input"
        ></ng-content>
    </tui-primitive-textfield>

    <ng-template #iconContent>
        <tui-svg
            *polymorpheusOutlet="calendarIcon as src; context: {$implicit: size}"
            appearance="icon"
            tuiWrapper
            [class.t-icon]="!computedDisabled"
            [src]="src"
        ></tui-svg>
        <input
            *ngIf="showNativePicker"
            tuiDateTime
            class="t-native-input"
        />
    </ng-template>

    <ng-template
        #dropdown="polymorpheus"
        [polymorpheus]="type"
    >
        <tui-calendar
            automation-id="tui-input-date-time__calendar"
            tuiPreventDefault="mousedown"
            [disabledItemHandler]="disabledItemHandler"
            [max]="calendarMaxDay"
            [min]="calendarMinDay"
            [month]="computedActiveYearMonth"
            [value]="calendarValue"
            (dayClick)="onDayClick($event)"
            (monthChange)="onMonthChange($event)"
        ></tui-calendar>
    </ng-template>
</tui-hosted-dropdown>
