<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="interactive"
    [content]="dropdown"
    [open]="open && interactive"
    (openChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        automation-id="tui-input-date-time__textfield"
        tuiValueAccessor
        tuiTextfieldInputMode="numeric"
        class="t-textfield"
        [tuiTextfieldIcon]="iconContent"
        [pseudoFocus]="pseudoFocus"
        [pseudoHover]="pseudoHover"
        [invalid]="computedInvalid"
        [filler]="(filler$ | async) || ''"
        [nativeId]="nativeId"
        [readOnly]="readOnly"
        [disabled]="computedDisabled"
        [textMask]="textMaskOptions"
        [value]="computedValue"
        (valueChange)="onValueChange($event)"
        (focusedChange)="onFocused($event)"
    >
        <ng-content></ng-content>
        <ng-content
            select="input"
            ngProjectAs="input"
        ></ng-content>
    </tui-primitive-textfield>

    <ng-template #iconContent>
        <tui-svg
            [class.t-icon]="!computedDisabled"
            [src]="calendarIcon"
        ></tui-svg>
    </ng-template>

    <ng-template
        #dropdown="polymorpheus"
        [polymorpheus]="type"
    >
        <tui-calendar
            tuiPreventDefault="mousedown"
            automation-id="tui-input-date-time__calendar"
            [min]="calendarMinDay"
            [max]="calendarMaxDay"
            [disabledItemHandler]="disabledItemHandler"
            [month]="computedActiveYearMonth"
            [value]="calendarValue"
            (dayClick)="onDayClick($event)"
            (monthChange)="onMonthChange($event)"
        ></tui-calendar>
    </ng-template>
</tui-hosted-dropdown>
