@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: start;

    :host-context(*:disabled) {
        pointer-events: none;
    }
}

.t-container {
    inline-size: 15.75rem;
    padding: 1rem 1.125rem;
}

.t-scrollbar {
    max-block-size: 18.25rem;
    inline-size: 16.875rem;
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}
