@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: left;
}

.t-container {
    width: 15.75rem;
    padding: 1rem 1.125rem;
}

.t-scrollbar {
    max-height: 18.25rem;
    width: 16.875rem;
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}
