<tui-primitive-textfield
    class="t-textfield"
    [disabled]="computedDisabled"
    [invalid]="computedInvalid"
    [maskito]="getMaskOptions(computedMin, computedMax)"
    [nativeId]="nativeId"
    [pseudoFocus]="pseudoFocus"
    [pseudoHover]="pseudoHover"
    [readOnly]="readOnly"
    [tuiDropdown]="dropdown"
    [tuiDropdownEnabled]="interactive"
    [tuiDropdownOpen]="open && interactive"
    [tuiTextfieldIcon]="calendarIcon"
    [(value)]="nativeValue"
    (click)="toggle()"
    (focusedChange)="onFocused($event)"
    (tuiDropdownOpenChange)="onOpenChange($event)"
    (valueChange)="onValueChange($event)"
>
    <ng-content />
    <ng-content
        ngProjectAs="input"
        select="input"
    />
</tui-primitive-textfield>

<ng-template #dropdown>
    <div class="t-container">
        <tui-scrollbar class="t-scrollbar">
            <tui-calendar-year
                [disabledItemHandler]="disabledItemHandler"
                [initialItem]="value || initialItem | tuiToYear"
                [max]="computedMax | tuiToYear"
                [min]="computedMin | tuiToYear"
                [value]="value === null ? null : (value | tuiToYear)"
                (mousedown.prevent.silent)="(0)"
                (yearClick)="onYearClick($event)"
            />
        </tui-scrollbar>
    </div>
</ng-template>
