:host {
    position: relative;
    display: block;
    block-size: 30rem;
}

.item {
    position: absolute;
    display: flex;
    background: #87ceeb;
    align-items: center;
    text-align: center;
    justify-content: center;
    inline-size: 5rem;
    block-size: 5rem;
}

.handle {
    position: absolute;
    background: #ffc0cb;
    inline-size: 1.25rem;
    block-size: 1.25rem;
    transform: inherit;
}

.left-top {
    inset-block-start: 0;
    inset-inline-start: 0;
}

.right-bottom-handle {
    inset-block-end: 0;
    inset-inline-end: 0;
}

.top-middle {
    inset-block-start: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
}

.top-middle-handle {
    inset-block-end: 0;
    inset-inline-start: 50%;
}

.top-right {
    inset-block-start: 0;
    inset-inline-end: 0;
}

.top-right-handle {
    inset-block-end: 0;
    inset-inline-start: 0;
}

.middle-right {
    inset-block-start: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%);
}

.middle-right-handle {
    inset-block-start: 50%;
    inset-inline-start: 0;
}

.bottom-right {
    inset-block-end: 0;
    inset-inline-end: 0;
}

.bottom-right-handle {
    inset-block-start: 0;
    inset-inline-start: 0;
}

.middle-bottom {
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
}

.middle-bottom-handle {
    inset-block-start: 0;
    inset-inline-start: 50%;
}

.bottom-left {
    inset-block-end: 0;
    inset-inline-start: 0;
}

.bottom-left-handle {
    inset-block-start: 0;
    inset-inline-end: 0;
}

.left-middle {
    top: 50%;
    inset-inline-start: 0;
    transform: translateY(-50%);
}

.left-middle-handle {
    top: 50%;
    inset-inline-end: 0;
}

.middle-middle {
    top: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
}

.middle-middle-top-handle {
    top: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
}

.middle-middle-right-handle {
    top: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%);
}

.middle-middle-bottom-handle {
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
}

.middle-middle-left-handle {
    top: 50%;
    inset-inline-start: 0;
    transform: translateY(-50%);
}
