<section
    *ngFor="let item of dialogs"
    aria-modal="true"
    role="dialog"
    tuiFocusTrap
    tuiOverscroll="all"
    tuiScrollRef
    class="t-dialog"
    @tuiParentAnimation
    [attr.aria-labelledby]="item.id"
>
    <ng-container *polymorpheusOutlet="item.component; context: item"></ng-container>
</section>
<div
    *tuiLet="isDialogClosesOnBack$ | async as isDialogClosesOnBack"
    class="t-overlay"
    [class.t-overlay_visible]="dialogs.length"
    (transitionend)="onDialog($event, !!dialogs.length, !!isDialogClosesOnBack)"
    (window:popstate)="closeLast(dialogs, !!isDialogClosesOnBack)"
></div>
