:host {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
}

.t-overlay,
.t-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    outline: none;
    overflow: auto;

    &.ng-animating {
        overflow: clip;
    }

    /* stylelint-disable*/
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* stylelint-enable*/

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        background: transparent;
        width: 0;
        height: 0;
    }
}

.t-dialog {
    bottom: auto;
    height: 100%;
}

.t-overlay {
    height: 100%;
    pointer-events: none;
    touch-action: none;
    opacity: 0;
    letter-spacing: normal;

    /* change of useless property 'letter-spacing' to ensure that transitionend event will fire */
    transition:
        opacity var(--tui-duration, 300ms),
        letter-spacing 0.01s;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: var(--tui-backdrop, none);

    &_visible {
        opacity: 1;
        letter-spacing: 1px;
    }
}

.t-dialog:last-of-type {
    z-index: 1;
}

.t-scrollbars {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #747474;
}
