<ng-container *ngIf="dialogs$ | async as dialogs">
    <section
        *ngFor="let item of dialogs"
        tuiFocusTrap
        tuiScrollRef
        tuiOverscroll="all"
        role="dialog"
        aria-modal="true"
        class="t-dialog"
        @tuiParentAnimation
        [attr.aria-labelledby]="item.id"
    >
        <ng-container *polymorpheusOutlet="item.component; context: item"></ng-container>
    </section>
    <div
        *tuiLet="isDialogClosesOnBack$ | async as isDialogClosesOnBack"
        class="t-overlay"
        [class.t-overlay_visible]="dialogs.length"
        (window:popstate)="closeLast(dialogs, isDialogClosesOnBack)"
        (transitionend)="onDialog($event, !!dialogs.length, isDialogClosesOnBack)"
    ></div>
</ng-container>
