<ng-container *ngIf="dialogs$ | async as dialogs">
    <section
        *ngFor="let item of dialogs"
        polymorpheus-outlet
        tuiFocusTrap
        tuiOverscroll="all"
        class="dialog"
        role="dialog"
        aria-modal="true"
        [attr.aria-labelledby]="item.id"
        [content]="item.component"
        [context]="item"
        [@tuiParentAnimation]
    ></section>
    <div
        *tuiLet="isBackNavClosesDialog$ | async as isBackNavClosesDialog"
        class="overlay"
        (window:popstate)="closeLast(dialogs, isBackNavClosesDialog)"
        (transitionend)="onDialog($event, !!dialogs.length, isBackNavClosesDialog)"
        [class.overlay_visible]="dialogs.length"
    ></div>
</ng-container>
