@import '@taiga-ui/core/styles/taiga-ui-local';

@sizeM: 1rem;
@sizeL: 1.5rem;
@dotSizeM: 0.5rem;
@dotSizeL: 0.625rem;

:host {
    .text-basic();

    position: relative;
    display: block;
    flex-shrink: 0;
    border-radius: 100%;

    &[data-size='m'] {
        width: @sizeM;
        height: @sizeM;
    }

    &[data-size='l'] {
        width: @sizeL;
        height: @sizeL;
    }

    &._readonly {
        pointer-events: none;
    }
}

.t-mark {
    .transition(transform);

    position: absolute;
    border-radius: 100%;
    background-color: currentColor;
    transform: scale(0);

    &_visible {
        transform: scale(1);
    }

    :host[data-size='m'] & {
        width: @dotSizeM;
        height: @dotSizeM;
        margin: 0.25rem;
    }

    :host[data-size='l'] & {
        width: @dotSizeL;
        height: @dotSizeL;
        margin: 0.4375rem;
    }
}

.t-native {
    .clearinput();
    .fullsize();

    cursor: pointer;
    opacity: 0;

    :host._disabled & {
        cursor: default;
    }
}
