@import 'taiga-ui-local';

@sizeM: 1rem;
@sizeL: 1.5rem;
@dotSizeM: 0.5rem;
@dotSizeL: 0.625rem;

:host {
    .text-basic();
    position: relative;
    display: block;
    flex-shrink: 0;
    border-radius: 100%;

    &[data-size='m'] {
        width: @sizeM;
        height: @sizeM;
    }

    &[data-size='l'] {
        width: @sizeL;
        height: @sizeL;
    }

    &._readonly {
        pointer-events: none;
    }
}

.t-mark {
    position: absolute;
    background-color: currentColor;
    border-radius: 100%;

    :host[data-size='m'] & {
        margin: 0.25rem;
        width: @dotSizeM;
        height: @dotSizeM;
    }

    :host[data-size='l'] & {
        margin: 0.4375rem;
        width: @dotSizeL;
        height: @dotSizeL;
    }
}

.t-native {
    .clearinput();
    .fullsize();
    opacity: 0;
    cursor: pointer;

    :host._disabled & {
        cursor: default;
    }
}
