<div
    tuiWrapper
    [active]="pseudoActive"
    [appearance]="appearance"
    [disabled]="computedDisabled"
    [focus]="computedFocusVisible"
    [hover]="pseudoHover"
    [invalid]="computedInvalid"
>
    <div
        *ngIf="checked"
        class="t-mark"
        [@tuiScaleIn]="animation"
    ></div>
    <input
        #focusableElement
        type="radio"
        class="t-native"
        [attr.name]="computedName"
        [disabled]="computedDisabled"
        [id]="id"
        [tuiChecked]="checked"
        [tuiFocusable]="isFocusable"
        (tuiCheckedChange)="onChecked($event)"
        (tuiFocusedChange)="onFocused($event)"
        (tuiFocusVisibleChange)="onFocusVisible($event)"
    />
</div>
