@import '@taiga-ui/core/styles/taiga-ui-local';

.range {
    z-index: 1;

    /* (Optionally) expand clickable area as you wish */
    &::after {
        content: '';
        position: absolute;
        inset-block-start: -0.5rem;
        inset-block-end: -1.5rem;
        inline-size: 100%;
    }
}

.ticks-labels {
    // Mixin accepts slider size as the first argument
    .tui-slider-ticks-labels(m);
}

tui-icon::before {
    font-size: 1rem;
}
