<tui-doc-page
    header="Icons"
    type="components"
>
    <ng-template
        *ngFor="let key of keys"
        [pageTab]="key"
    >
        <tui-notification>
            Open source theme for Taiga UI uses processed
            <a
                href="https://lucide.dev/"
                rel="noreferrer"
                target="_blank"
                tuiLink
            >
                Lucide Icons
            </a>
            as its icon pack with some custom made icons.
        </tui-notification>

        <icons-group
            waIntersectionObserver
            waIntersectionThreshold="0.5"
            [icons]="icons[key]"
        >
            <ng-template
                iconGroup
                let-copyPath="copyPath"
                let-entry="entry"
                let-icon="icon"
            >
                <div
                    class="icon-place"
                    (waIntersectionObservee)="entry.isIntersecting = entry.isIntersecting || onIntersection($event)"
                >
                    <tui-icon
                        *ngIf="entry.isIntersecting"
                        class="icon"
                        [icon]="icon"
                        (click)="copyPath(icon)"
                    />
                </div>
            </ng-template>
        </icons-group>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
