<tui-doc-page
    header="Icons"
    type="components"
>
    <ng-template pageTab="Overview">
        <h2 class="title">Default icons pack</h2>

        <p>
            Open source theme for Taiga UI uses processed
            <a
                href="https://lucide.dev/"
                rel="noreferrer"
                target="_blank"
                tuiLink
            >
                Lucide Icons
            </a>
            . You can browse all the icons from this pack and find the one that suits you
            <a
                href="https://lucide.dev/icons/"
                rel="noreferrer"
                target="_blank"
                tuiLink
            >
                here
            </a>
            .
        </p>
        <p>
            In addition to the main icon pack Taiga has several custom icons related to payment systems. You can see
            them below:
        </p>

        <icons-group [icons]="icons">
            Custom icons
            <ng-template
                iconGroup
                let-copyPath="copyPath"
                let-group="group"
                let-icon="icon"
            >
                <div class="icon-place">
                    <tui-icon
                        *ngIf="group === 'Mono'"
                        class="icon"
                        [icon]="icon"
                        (click)="copyPath(icon)"
                    />
                    <img
                        *ngIf="group === 'Colored'"
                        class="icon"
                        [src]="icon | tuiIcon"
                        (click)="copyPath(icon)"
                    />
                </div>
            </ng-template>
        </icons-group>
    </ng-template>
</tui-doc-page>
