@import '@taiga-ui/styles/utils.less';

:host {
    display: flex;
    gap: 0.75rem;
}

.custom-1 {
    .gradient(#0094cf, #24c0ff);

    box-shadow: var(--tui-shadow-small);
}

.custom-2 {
    .gradient(#c86dd7, #3023ae);
}
