[tuiBlockDetails] {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--tui-typography-heading-h3);
    min-block-size: 2rem;

    [tuiTitle] {
        text-align: center;
        font: var(--tui-typography-body-l);
        gap: 0;
    }

    [tuiSubtitle],
    [tuiDetailsStatus] {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font: var(--tui-typography-body-m);
        color: var(--tui-text-secondary);
        margin-block-start: 0.25rem;

        :host-context(tui-root._mobile) & {
            font: var(--tui-typography-body-s);
        }
    }

    [tuiSubtitle] + [tuiSubtitle],
    [tuiDetailsStatus] {
        margin-block-start: 1rem;
    }

    [tuiComment] {
        margin-block-start: 1.0625rem;
    }

    [tuiAccessory] {
        display: flex;
        gap: 0.5rem;
        margin-block-start: 1.25rem;
    }

    [tuiAccessories],
    > [tuiBadge] {
        margin-block-start: 1.25rem;
    }

    [tuiAccessories] {
        display: flex;
        gap: 0.5rem;
    }

    [tuiAvatar],
    [tuiTitle] {
        margin-block-end: 1rem;
    }
}
