<tui-doc-page header="CalendarRange" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>Component for choosing date range in calendar</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-range-example-1></tui-range-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="with-value"
            i18n-heading
            heading="with value"
            [content]="example2"
        >
            <tui-range-example-2></tui-range-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="periods"
            i18n-heading
            heading="with ranges"
            [content]="example3"
        >
            <tui-range-example-3></tui-range-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-calendar-range
                [defaultViewedMonth]="defaultViewedMonth"
                [disabledItemHandler]="disabledItemHandler"
                [items]="items"
                [markerHandler]="markerHandler"
                [min]="min"
                [max]="max"
                [minLength]="minLength"
                [maxLength]="maxLength"
            ></tui-calendar-range>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="defaultViewedMonth"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="defaultViewedMonthVariants"
                [(documentationPropertyValue)]="defaultViewedMonth"
            >
                Default month to show
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>
                    A handler that gets a date and returns true if it is
                    disabled.
                </div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="items"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDayRangePeriod[]"
                [documentationPropertyValues]="itemsVariants"
                [(documentationPropertyValue)]="items"
            >
                Fixed intervals (shows 2 calendars with empty array)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="markerHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMarkerHandler"
                [documentationPropertyValues]="markerHandlerVariants"
                [(documentationPropertyValue)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with
                circled marker colors
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min date
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max date
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="minLength"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDayLike | null"
                [documentationPropertyValues]="minLengthVariants"
                [(documentationPropertyValue)]="minLength"
            >
                Minimal length of range
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="maxLength"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDayLike | null"
                [documentationPropertyValues]="maxLengthVariants"
                [(documentationPropertyValue)]="maxLength"
            >
                Maximal length of range
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="rangeChange"
                documentationPropertyMode="output"
                documentationPropertyType="TuiDayRange"
            >
                Selected date range
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiCalendarRangeModule</code> into a module
                    where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
