<tui-doc-page
    header="CalendarRange"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component for choosing date range in calendar</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample: 'html,ts'"
            [description]="description"
            [heading]="example"
            [id]="example | tuiKebab"
        >
            <ng-template
                #description
                [ngSwitch]="index + 1"
            >
                <div *ngSwitchCase="4">
                    Use
                    <a
                        fragment="first-day-of-week"
                        tuiLink
                        [routerLink]="routes.Tokens"
                    >
                        TUI_FIRST_DAY_OF_WEEK
                    </a>
                    token to change start day of the week (Monday by default).
                </div>
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-calendar-range
                [defaultViewedMonth]="defaultViewedMonth"
                [disabledItemHandler]="disabledItemHandler"
                [items]="items"
                [markerHandler]="markerHandler"
                [max]="max"
                [maxLength]="maxLength"
                [min]="min"
                [minLength]="minLength"
                (valueChange)="documentationPropertyRangeChange.emitEvent($event)"
            />
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="defaultViewedMonth"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="defaultViewedMonthVariants"
                [(documentationPropertyValue)]="defaultViewedMonth"
            >
                Default month to show
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabledItemHandler"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="items"
                documentationPropertyType="TuiDayRangePeriod[]"
                [documentationPropertyValues]="itemsVariants"
                [(documentationPropertyValue)]="items"
            >
                Fixed intervals (shows 2 calendars with empty array)
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="markerHandler"
                documentationPropertyType="TuiMarkerHandler | null"
                [documentationPropertyValues]="markerHandlerVariants"
                [(documentationPropertyValue)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with circled marker colors
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="minLength"
                documentationPropertyType="TuiDayLike | null"
                [documentationPropertyValues]="minLengthVariants"
                [(documentationPropertyValue)]="minLength"
            >
                Minimal length of range
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="maxLength"
                documentationPropertyType="TuiDayLike | null"
                [documentationPropertyValues]="maxLengthVariants"
                [(documentationPropertyValue)]="maxLength"
            >
                Maximal length of range
            </ng-template>
            <ng-template
                #documentationPropertyRangeChange="documentationProperty"
                documentationPropertyMode="output"
                documentationPropertyName="rangeChange"
                documentationPropertyType="TuiDayRange"
            >
                Selected date range
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
