@import 'taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: left;

    /* stylelint-disable */
    &:not(._readonly) ::ng-deep input:not(:disabled) {
        cursor: pointer;
    }

    &._readonly ::ng-deep input {
        cursor: default;
    }
    /* stylelint-enable */
}

.t-hosted {
    display: block;
    border-radius: inherit;
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}

.t-value {
    display: flex;
    width: 100%;
    align-items: center;
}

.t-primitive-value {
    .text-overflow();
}
