:host {
    display: block;
}

table {
    width: 100%;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    border: 1px solid var(--tui-base-03);
    height: 3.375rem;
    padding: 0 1rem;
    vertical-align: middle;
}
