:host {
    display: block;
}

table {
    width: 100%;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    border: 1px solid var(--tui-base-03);
    height: 54px;
    padding: 0 16px;
    vertical-align: middle;
}
