<tui-hosted-dropdown
    class="wrapper"
    [canOpen]="interactive && !!filtered.length"
    [content]="dropdownContent"
    [open]="open && !!filtered.length"
    (openChange)="onOpen($event)"
    (focusedChange)="onFocused($event)"
>
    <tui-primitive-textfield
        class="textfield"
        [filler]="getFiller$(mode) | async"
        [nativeId]="nativeId"
        [pseudoFocused]="innerPseudoFocused"
        [pseudoHovered]="pseudoHovered"
        [pseudoPressed]="pseudoPressed"
        [invalid]="computedInvalid"
        [focusable]="focusable"
        [disabled]="disabled"
        [readOnly]="readOnly"
        [textMask]="textMaskOptions"
        [iconContent]="icon"
        [value]="computedValue"
        (valueChange)="onValueChange($event)"
        (hoveredChange)="onHovered($event)"
        (keydown.arrowUp)="onArrowUp($event)"
        (keydown.arrowDown)="onArrowDown($event)"
    >
        <ng-content></ng-content>
    </tui-primitive-textfield>
</tui-hosted-dropdown>
<ng-template #dropdownContent>
    <tui-data-list automation-id="tui-input-time__dropdown">
        <button
            *ngFor="let item of filtered"
            tuiOption
            automation-id="tui-input-time__item"
            [size]="itemSize"
            [disabled]="disabledItemHandler(item)"
            (click)="onMenuClick(item)"
        >
            {{item}}
        </button>
    </tui-data-list>
</ng-template>
