<tui-hosted-dropdown
    class="t-wrapper"
    [canOpen]="canOpen && !nativeDatalist"
    [content]="dropdownContent"
    [open]="canOpen && open"
    (focusedChange)="onFocused($event)"
    (openChange)="onOpen($event)"
>
    <tui-primitive-textfield
        tuiValueAccessor
        class="t-textfield"
        [disabled]="disabled"
        [focusable]="focusable"
        [invalid]="computedInvalid"
        [maskito]="maskOptions"
        [nativeId]="nativeId"
        [postfix]="postfix"
        [pseudoActive]="pseudoActive"
        [pseudoFocus]="innerPseudoFocused"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldFiller]="(getFiller$(mode) | async) || ''"
        [tuiTextfieldIcon]="iconContent"
        [value]="computedValue"
        (keydown.arrowDown)="onArrowDown($event)"
        (keydown.arrowUp)="onArrowUp($event)"
        (valueChange)="onValueChange($event)"
    >
        <ng-content></ng-content>
        <input
            inputmode="numeric"
            tuiTextfield
        />
    </tui-primitive-textfield>
</tui-hosted-dropdown>
<ng-template #dropdownContent>
    <tui-data-list
        automation-id="tui-input-time__dropdown"
        [size]="itemSize"
    >
        <button
            *ngFor="let item of filtered"
            automation-id="tui-input-time__item"
            tuiOption
            [disabled]="disabledItemHandler(item)"
            [value]="item"
        >
            {{ item }}
        </button>
    </tui-data-list>
</ng-template>

<ng-template #iconContent>
    <tui-svg
        *polymorpheusOutlet="icon as src; context: {$implicit: size}"
        appearance="icon"
        tuiWrapper
        [src]="src"
    ></tui-svg>
    <input
        *ngIf="showNativePicker"
        tuiTime
    />
</ng-template>
