@width: 15rem;

.button {
    width: @width;
    border-radius: 1rem 1rem 0 0;
}

.container {
    height: 6rem;
    width: @width;
    background: var(--tui-background-neutral-1);
    overflow: hidden;
    background: #222;
    color: var(--tui-status-warning);
}
