<tui-doc-page
    header="AppBar"
    package="LAYOUT"
    type="components"
>
    <ng-template pageTab>
        Component for the main app header

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [attr.data-platform]="index > 4 ? 'ios' : null"
            [class.tui-liquid-glass]="index > 4"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [description]="
                index === 1
                    ? sizeDescription
                    : index === 5
                      ? liquidGlassDescription
                      : index === 7
                        ? blurDescription
                        : null
            "
            [heading]="example"
            [id]="example | tuiKebab"
        />

        <ng-template #sizeDescription>
            The size can be left to the
            <code>tuiAppBarSize</code>
            directive — it picks
            <code>l</code>
            on desktop and
            <code>m</code>
            on mobile screens — or set explicitly through
            <code>size="l"</code>
        </ng-template>

        <ng-template #liquidGlassDescription>
            To enable the liquid-glass mode on iOS devices, provide
            <code>TUI_LIQUID_GLASS</code>
            token with
            <code>true</code>
            value
        </ng-template>

        <ng-template #blurDescription>
            On iOS, a progressive blur effect should be enabled when the container is scrolled. To activate it, apply
            the
            <code>tui-liquid-glass_blur</code>
            class to the
            <code>tui-app-bar</code>
            component. Additionally, if the background is colored, you must provide it via the
            <code>--tui-progressive-blur-background</code>
            CSS variable to ensure correct fading and a proper "liquid glass" effect simulation.
        </ng-template>
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
