tui-dialog[data-appearance='ios-style'][data-size] {
    margin: 1.25rem auto;
    border: none;
    border-radius: 0;

    .t-content {
        padding: 0;
    }

    .t-wrapper,
    .t-buttons {
        display: none;
    }

    .pulldown-menu {
        padding-left: 0;
        transition: all 0.2s ease-in-out;
        overflow: hidden;

        .button {
            appearance: none;
            border: none;
            border-bottom: 0.0625rem solid #ccc;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: transparent;
            margin: 0;
            height: 2.75rem;
            padding: 0.5rem 0.8rem 0.5rem 1rem;

            &:first-of-type {
                padding-top: 0.4375rem;
            }

            &:hover {
                background: rgb(67, 130, 247);
                color: #fff;
            }

            &:last-child {
                border: none;
            }
        }

        .cancel {
            color: red;
        }
    }
}
