[data-appearance='ios-style'][data-size='m'] {
    width: 100% !important;
    height: 100%;
    border: none;

    .t-wrapper,
    .t-filler {
        display: none;
    }

    .t-content {
        background: none;
        border: none;
        padding: 0;
        height: 100%;
    }
}
