<tui-doc-page header="Radio" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            Radio button without a label. If use want to have a label, see
            <a tuiLink routerLink="/components/radio-labeled"
                ><code>RadioLabeled</code></a
            >, and inside button
            <a tuiLink routerLink="/components/radio-block"
                ><code>RadioBlock</code></a
            >.
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-radio-example-1></tui-radio-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="large"
            i18n-heading
            heading="Big size"
            [content]="example2"
        >
            <tui-radio-example-2></tui-radio-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-radio
                    class="tui-space_bottom-3"
                    [formControl]="control"
                    [item]="null"
                    [identityMatcher]="identityMatcher"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [pseudoDisabled]="pseudoDisabled"
                    [size]="size"
                    [focusable]="focusable"
                    [readOnly]="readOnly"
                ></tui-radio>
                <tui-radio
                    class="tui-space_bottom-3"
                    [formControl]="control"
                    [item]="items[1]"
                    [identityMatcher]="identityMatcher"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [pseudoDisabled]="pseudoDisabled"
                    [size]="size"
                    [focusable]="focusable"
                    [readOnly]="readOnly"
                ></tui-radio>
                <tui-radio
                    class="tui-space_bottom-3"
                    [formControl]="control"
                    [item]="items[2]"
                    [identityMatcher]="identityMatcher"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [pseudoDisabled]="pseudoDisabled"
                    [size]="size"
                    [focusable]="focusable"
                    [readOnly]="readOnly"
                ></tui-radio>
            </ng-template>
        </tui-doc-demo>
        <button i18n tuiButton type="button" size="m" (click)="onClick()">
            Set a value with a copy
        </button>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="identityMatcher"
                documentationPropertyMode="input"
                documentationPropertyType="TuiIdentityMatcher"
                [documentationPropertyValues]="identityMatcherVariants"
                [(documentationPropertyValue)]="identityMatcher"
            >
                Function that matches value and items, e.g. if objects are
                copied. Uses <code>===</code> by default.

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pseudoDisabled"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="pseudoDisabled"
            >
                Emulates disabled state without disabling a form
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>
    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                Import an Angular module for forms and
                <code>TuiRadioModule</code> in the same module where you want to
                use our component:

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                Optionally use the
                <code>TUI_RADIO_OPTIONS </code> injection token to override the
                default options for the component.

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleDefineOptions"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
