<tui-doc-page header="InputInline" package="KIT">
    <ng-template pageTab>
        <p i18n>Inline field</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-input-inline-example-1></tui-input-inline-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="in-heading"
            i18n-heading
            heading="In heading"
            [content]="example2"
        >
            <tui-input-inline-example-2></tui-input-inline-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-inline
                    class="input"
                    [formControl]="control"
                    [maxLength]="maxLength"
                >
                    Placeholder
                </tui-input-inline>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="maxLength"
                documentationPropertyMode="input"
                documentationPropertyType="number | null"
                [documentationPropertyValues]="maxLengthVariants"
                [(documentationPropertyValue)]="maxLength"
            >
                Maximum number of symbols
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiInputInlineModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
