@import '@taiga-ui/styles/utils';

:host {
    position: relative;
    display: inline-block;
    color: var(--tui-text-primary);
}

.t-label {
    position: absolute;
    display: flex;
    inset: 0;
    font: var(--tui-typography-body-s);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
