@import 'taiga-ui-local';

:host {
    position: relative;
    display: block;
}

.label {
    .fullsize();
    font: var(--tui-font-text-s);
    color: var(--tui-text-01);
    display: flex;
    justify-content: center;
    align-items: center;
}
