@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiCell] {
    --tui-height: calc(var(--tui-height-s) - 0.5rem);
    --t-padding: 0.125rem 1rem;

    .button-clear();

    position: relative;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    isolation: isolate;
    color: var(--tui-text-primary);
    padding: var(--t-padding);
    min-height: var(--t-height);

    &:disabled {
        pointer-events: none;
    }

    [tuiAccessories] {
        position: relative;
        display: flex;
        max-height: var(--t-height);
        align-items: center;
        align-self: stretch;
    }

    [tuiCellActions] {
        position: absolute;
        right: 0;
        z-index: 1;
        padding-right: inherit;

        & ~ * {
            .transition(opacity);
        }

        & button,
        & a {
            .transition(opacity);

            opacity: 0;

            &:focus-visible {
                opacity: 1;
            }
        }
    }

    [tuiSubtitle] {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        color: var(--tui-text-secondary);
    }

    [tuiTitle] {
        flex-shrink: 7;
        margin-inline-end: auto;
        align-items: normal;
        text-align: left;
    }

    [tuiTitle] ~ [tuiTitle] {
        flex-shrink: 3;
        margin-inline-end: 0;
        text-align: right;
        align-items: flex-end;

        &[tuiFade] {
            align-items: flex-start;
        }
    }

    tui-badge-notification[data-size='xs'] {
        .center-top();

        left: -0.625rem;
    }

    &[data-size='s'] {
        --t-height: calc(var(--tui-height-s) - 0.5rem);
        --t-padding: 0.125rem 1rem;

        [tuiTitle] {
            max-height: 100%;
            font: var(--tui-font-text-ui-s);
            gap: 0;
        }

        [tuiSubtitle] {
            font: var(--tui-font-text-ui-xs);
        }

        & > *:not(:first-child),
        & > [tuiAccessories] > *:not(:first-child) {
            margin-inline-start: 0.5rem;
        }

        & > tui-avatar,
        & > tui-avatar-stack tui-avatar,
        & > [tuiAccessories] tui-avatar,
        & > [tuiAccessories] tui-avatar-stack tui-avatar {
            --t-size: 1.5rem;

            font: var(--tui-font-text-m);
            font-size: 0.5625rem;
        }
    }

    &[data-size='m'] {
        --t-height: calc(var(--tui-height-m) - 0.75rem);
        --t-padding: 0.375rem 1rem;

        [tuiTitle] {
            font: var(--tui-font-text-ui-s);
            gap: 0.125rem;
        }

        [tuiSubtitle] {
            font: var(--tui-font-text-ui-xs);
        }

        & > *:not(:first-child),
        & > [tuiAccessories] > *:not(:first-child) {
            margin-inline-start: 0.75rem;
        }

        & > tui-avatar,
        & > tui-avatar-stack tui-avatar,
        & > [tuiAccessories] tui-avatar,
        & > [tuiAccessories] tui-avatar-stack tui-avatar {
            --t-size: 2rem;
        }
    }

    &[data-size='l'] {
        --t-height: calc(var(--tui-height-l) - 1rem);
        --t-padding: 0.5rem 1rem;

        & > *:not(:first-child),
        & > [tuiAccessories] > *:not(:first-child) {
            margin-inline-start: 1rem;
        }

        & > tui-avatar,
        & > tui-avatar-stack tui-avatar,
        & > [tuiAccessories] tui-avatar,
        & > [tuiAccessories] tui-avatar-stack tui-avatar {
            --t-size: 2.5rem;

            font: var(--tui-font-text-m);
            font-weight: bold;
        }
    }

    &:hover [tuiCellActions] ~ * {
        opacity: 0;
    }

    &:hover [tuiCellActions] button,
    &:hover [tuiCellActions] a {
        opacity: 1;
    }

    [tuiOption] &,
    tui-primitive-textfield & {
        padding: 0;
    }
}

@media (hover: hover) and (pointer: fine) {
    a[tuiCell]:not([tuiSurface]):hover,
    button[tuiCell]:not([tuiSurface]):hover {
        background: var(--tui-background-neutral-1);
        cursor: pointer;
    }
}
