@import '@taiga-ui/styles/utils';

tui-searchbar:where(*&) {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    inline-size: 100%;
    block-size: var(--tui-height-m);
    gap: 0.5rem;
}
