.box {
    width: 100%;
    border: 1px solid var(--tui-base-09);
    padding: 0 10%;
    box-sizing: border-box;
}

.line {
    padding: 0 0.6875rem;
    white-space: nowrap;
}

.line:last-child {
    margin-bottom: 1rem;
}

.content {
    margin: 2rem 0;
}

td {
    white-space: nowrap;
}
