tui-textfield .t-payment-system:not(:first-child) {
    display: none;
}

tui-textfield .t-payment-system {
    inline-size: 1.5rem;
}

tui-textfield[data-size='l'] .t-payment-system {
    inline-size: 2rem;
}
