<tui-primitive-textfield
    tuiValueAccessor
    tuiTextfieldInputMode="numeric"
    class="t-input"
    [tuiTextfieldAutocomplete]="autocomplete"
    [tuiTextfieldCustomContent]="icon"
    [readOnly]="readOnly"
    [disabled]="disabled"
    [focusable]="focusable"
    [nativeId]="nativeId"
    [invalid]="computedInvalid"
    [pseudoHovered]="pseudoHovered"
    [pseudoPressed]="pseudoPressed"
    [pseudoFocused]="pseudoFocused"
    [textMask]="textMaskOptions"
    [value]="formattedCard"
    (valueChange)="onValueChange($event)"
    (focusedChange)="onFocused($event)"
>
    <ng-content></ng-content>
</tui-primitive-textfield>
