@import '@taiga-ui/core/styles/taiga-ui-local';

@keyframes tuiToastIn {
    from {
        transform: translate(0, -200%);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes tuiToastOut {
    from {
        transform: translate(0, -200%);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes tuiFadeOut {
    from {
        opacity: 0;
    }
}

:host {
    margin: 0.25rem auto 0;
    animation-duration: var(--tui-duration-moderate, 300ms);
    animation-timing-function: var(--tui-curve-productive-entrance, cubic-bezier(0, 0, 0.4, 0.9));

    &:first-child:not(._mobile) {
        margin-block-start: 2rem;
    }

    &._mobile:has(a[tuiToast]),
    &._mobile:has(button[tuiToast]) {
        animation-duration: var(--tui-duration-fast, 150ms);
        animation-timing-function: var(--tui-curve-productive-standard, cubic-bezier(0.2, 0, 0.4, 0.9));
    }

    &.tui-enter {
        animation-name: tuiFadeIn;
    }

    &:first-child.tui-enter {
        animation-name: tuiToastIn;
    }

    &.tui-leave {
        animation-name: tuiFadeOut;
    }

    &.tui-leave._mobile {
        animation-name: tuiToastOut;
        animation-timing-function: var(--tui-curve-productive-exit, cubic-bezier(0.2, 0, 1, 1));
    }
}
