<div (tuiSwipe)="swipe($event)">
    <div
        *polymorpheusOutlet="item.content as text; context: item"
        tuiToast
        [iconEnd]="item.iconEnd"
        [iconStart]="item.iconStart"
    >
        {{ text }}
        <button
            *ngIf="item.closable && !isMobile"
            appearance="icon"
            size="xs"
            tuiIconButton
            type="button"
            [iconStart]="icons.close"
            (click)="item.$implicit.complete()"
        >
            Close
        </button>
    </div>
</div>
