@import 'taiga-ui-angular-local';

:host {
    display: block;
}

.stepper {
    margin-bottom: 32px;
}

.uppercase-name {
    text-transform: uppercase;
}

.account {
    display: flex;
    flex: 1;
    justify-content: space-between;
}
