@import 'taiga-ui-local';

:host {
    display: block;
}

.stepper {
    margin-bottom: 2rem;
}

.uppercase-name {
    text-transform: uppercase;
}

.account {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.ticks-labels {
    .tui-slider-ticks-labels();

    color: var(--tui-text-02);
    margin-top: 0.25rem;
}
