<tui-doc-page
    header="Tokens"
    package="CDK"
    path="cdk/tokens"
    type="components/utils"
>
    <ng-template pageTab>
        <tui-doc-example
            id="dialog"
            heading="TUI_DIALOGS"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'ts'"
            [fullsize]="true"
        />

        <tui-doc-example
            id="focusable-item-accessor"
            heading="TUI_FOCUSABLE_ITEM_ACCESSOR"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'ts'"
            [fullsize]="true"
        />

        <tui-doc-example
            id="is-android"
            heading="TUI_IS_ANDROID"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'ts'"
            [fullsize]="true"
        />

        <tui-doc-example
            id="is-ios"
            heading="TUI_IS_IOS"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample: 'ts'"
            [fullsize]="true"
        />

        <tui-doc-example
            id="is-mobile"
            heading="TUI_IS_MOBILE"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample: 'ts'"
            [fullsize]="true"
        />

        <tui-doc-example
            id="number-format"
            heading="TUI_NUMBER_FORMAT"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample: 'ts'"
            [fullsize]="true"
        />

        <tui-doc-example
            id="date-format"
            heading="TUI_DATE_FORMAT"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample: 'ts'"
            [fullsize]="true"
        />

        <tui-doc-example
            id="first-day-of-week"
            heading="TUI_FIRST_DAY_OF_WEEK"
            [component]="8 | tuiComponent"
            [content]="8 | tuiExample: 'ts'"
            [fullsize]="true"
        />
    </ng-template>
</tui-doc-page>
