[tuiProgressBar]._segmented {
    --tui-segment-gap: 0.25rem;
    border-radius: 0;
    mask-image: linear-gradient(to left, transparent 0 var(--tui-segment-gap), #999 var(--tui-segment-gap) 100%);
}
