<tui-doc-page
    header="InputCopy"
    package="LEGACY"
    type="components"
>
    <ng-template pageTab>
        <p>InputCopy allows user to copy a text of textfield</p>

        <tui-doc-example
            id="example-size"
            heading="sizes"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        >
            <tui-notification class="tui-space_bottom-4">
                <div>
                    If you need to set some attributes or listen to events on native
                    <code>input</code>
                    , you can put it inside with
                    <code>Textfield</code>
                    directive as shown below
                </div>
            </tui-notification>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-input-copy
                [focusable]="focusable"
                [formControl]="control"
                [messageAppearance]="hintAppearance"
                [messageDirection]="hintDirection"
                [pseudoFocus]="pseudoFocused"
                [pseudoHover]="pseudoHovered"
                [pseudoInvalid]="pseudoInvalid"
                [readOnly]="readOnly"
                [style.text-align]="textAlign"
                [successMessage]="notificationTemplate"
                [tuiTextfieldCleaner]="cleaner"
                [tuiTextfieldCustomContent]="customContent"
                [tuiTextfieldFiller]="filler"
                [tuiTextfieldIconLeft]="iconStart"
                [tuiTextfieldLabelOutside]="labelOutside"
                [tuiTextfieldSize]="size"
            >
                Type a text
            </tui-input-copy>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="successMessage"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="successMessageVariants"
                [(documentationPropertyValue)]="successMessage"
            >
                Tooltip message after successful copy
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="messageDirection"
                documentationPropertyType="TuiDirection"
                [documentationPropertyValues]="hintDirectionVariants"
                [(documentationPropertyValue)]="messageDirection"
            >
                Message tooltip direction
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="messageMode"
                documentationPropertyType="TuiHintModeT | null"
                [documentationPropertyValues]="hintAppearanceVariants"
                [(documentationPropertyValue)]="messageMode"
            >
                Message tooltip mode
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation />
        <tui-doc-documentation heading="CSS customization">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.text-align"
                documentationPropertyType="string"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Custom align content by text-align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>
    <ng-template #customTemplate>
        <i>Some custom content</i>
        , that says that content is copied
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
