<tui-doc-page header="InputCopy" package="KIT">
    <ng-template pageTab>
        <p i18n>InputCopy alows user to copy a text of textfield</p>

        <tui-doc-example
            id="example-size"
            i18n-heading
            heading="sizes"
            [content]="example1"
        >
            <tui-input-copy-example-1></tui-input-copy-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-input-copy
                [formControl]="control"
                [focusable]="focusable"
                [tuiTextfieldAutocomplete]="autocomplete"
                [tuiTextfieldExampleText]="exampleText"
                [tuiTextfieldLabelOutside]="labelOutside"
                [tuiTextfieldSize]="size"
                [tuiTextfieldMaxLength]="maxLength"
                [successMessage]="notificationTemplate"
                [messageDirection]="hintDirection"
                [messageMode]="hintMode"
                [readOnly]="readOnly"
                [pseudoInvalid]="pseudoInvalid"
                [pseudoFocused]="pseudoFocused"
                [pseudoHovered]="pseudoHovered"
            >
                Type a text
            </tui-input-copy>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="successMessage"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="successMessageVariants"
                [(documentationPropertyValue)]="successMessage"
            >
                Tooltip message after successfull copy
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="messageDirection"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDirection"
                [documentationPropertyValues]="hintDirectionVariants"
                [(documentationPropertyValue)]="messageDirection"
            >
                Message tooltip direction
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="messageMode"
                documentationPropertyMode="input"
                documentationPropertyType="TuiHintMode | null"
                [documentationPropertyValues]="hintModeVariants"
                [(documentationPropertyValue)]="messageMode"
            >
                Message tooltip mode
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>
    <ng-template #customTemplate>
        <i>Some custom content</i>, that says that content is copied
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiInputCopyModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
