section {
    display: flex;
    gap: 0.75rem;
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
    overflow: scroll;
}

.plus {
    background: var(--tui-primary);
    border-radius: 0.25rem;
    color: #fff;
}
