<tui-svg
    *ngIf="hasIcon"
    automation-id="tui-notification__icon"
    class="t-icon"
    [src]="icon"
></tui-svg>
<div class="t-content">
    <ng-content></ng-content>
</div>
<ng-container *ngIf="hasClose">
    <button
        *polymorpheusOutlet="textfieldOptions.iconCleaner as src"
        tuiIconButton
        type="button"
        automation-id="tui-notification__close"
        size="xs"
        appearance="icon"
        class="t-close"
        [icon]="src"
        [title]="closeWord$ | async"
        (click)="close.emit()"
    ></button>
</ng-container>
