<ng-container *ngIf="isIconExists">
    <!-- FIX: types of status input -->
    <tui-svg
        *polymorpheusOutlet="icon as iconName; context: {$implicit: $any(status)}"
        [src]="iconName"
        automation-id="tui-notification__icon"
        class="t-icon"
    ></tui-svg>
</ng-container>

<div class="t-content">
    <ng-content></ng-content>
</div>
<button
    (click)="close.emit()"
    *ngIf="hasClose"
    [title]="closeWord$ | async"
    appearance="icon"
    automation-id="tui-notification__close"
    class="t-close"
    icon="tuiIconCloseLarge"
    size="xs"
    tuiIconButton
    type="button"
></button>
