@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: relative;
    display: flex;
    font: var(--tui-font-text-s);
    color: var(--tui-text-primary);
    padding: 0.75rem 1rem;
    border-radius: var(--tui-radius-m);
    background: #fff; // fallback for IE
    background: var(--tui-background-base);
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;

    .t-more {
        display: none;
    }

    &button,
    &a {
        border: none;
        cursor: pointer;

        .t-more {
            display: inline-flex;
            width: 1rem;
            color: var(--tui-text-primary);
            opacity: 0.5;
        }
    }

    &[data-size='s'] {
        padding: 0.375rem 0.625rem;

        .t-icon {
            width: 1rem;
            height: 1.25rem;
            margin: 0 0.375rem 0 -0.125rem;
        }

        .t-close {
            margin: -0.125rem -0.375rem -0.125rem 0.75rem;
        }

        .t-more {
            margin: -0.125rem -0.375rem -0.125rem 0;
        }
    }

    &[data-size='m'] {
        padding: 0.75rem;

        .t-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-right: 0.5rem;
        }

        .t-close {
            margin: -0.125rem -0.125rem -0.125rem 1rem;
        }

        .t-more {
            margin: -0.125rem -0.375rem -0.125rem 0;
        }
    }

    &[data-size='l'] {
        padding: 1rem;
        font: var(--tui-font-text-m);
        border-radius: var(--tui-radius-l);

        .t-icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }

        .t-more {
            margin-right: -0.5rem;
        }
    }

    &[data-status='info'] {
        color: var(--tui-status-info);
        background: linear-gradient(var(--tui-status-info-pale), var(--tui-status-info-pale)),
            var(--tui-background-base);
    }

    &[data-status='success'] {
        color: var(--tui-status-positive);
        background: linear-gradient(var(--tui-status-positive-pale), var(--tui-status-positive-pale)),
            var(--tui-background-base);
    }

    &[data-status='error'] {
        color: var(--tui-status-negative);
        background: linear-gradient(var(--tui-status-negative-pale), var(--tui-status-negative-pale)),
            var(--tui-background-base);
    }

    &[data-status='warning'] {
        color: var(--tui-status-warning);
        background: linear-gradient(var(--tui-status-warning-pale), var(--tui-status-warning-pale)),
            var(--tui-background-base);
    }

    &[data-status='neutral'] {
        color: var(--tui-status-neutral);
        background: linear-gradient(var(--tui-background-neutral-1), var(--tui-background-neutral-1)),
            var(--tui-background-base);
    }
}

:host-context([tuiTheme='dark']) {
    --tui-background-base: #000;
}

.t-content {
    flex: 1;
    word-break: break-word;
    color: var(--tui-text-primary);
    text-align: inherit;
    align-self: center;
}
