<ng-container *ngIf="icon">
    <tui-icon
        *polymorpheusOutlet="icon as iconName; context: {$implicit: status}"
        automation-id="tui-notification__icon"
        class="t-icon"
        [icon]="iconName.toString()"
    />
</ng-container>
<div class="t-content">
    <ng-content />
</div>
<button
    *ngIf="hasClose"
    appearance="icon"
    automation-id="tui-notification__close"
    size="xs"
    tuiIconButton
    type="button"
    class="t-close"
    [iconLeft]="icons.close"
    (click)="close.emit()"
>
    {{ closeWord$ | async }}
</button>
<tui-icon
    automation-id="tui-notification__more"
    class="t-more"
    [icon]="icons.more"
/>
