@import '@taiga-ui/styles/utils';

:host {
    inline-size: 18rem;
    margin: 1.625rem 3rem;
    word-break: break-word;
    transform: translate3d(0, 0, 0);

    :host-context(tui-root._mobile) {
        margin: 0.625rem 1rem;
    }
}

.t-wrapper {
    background: var(--tui-background-base);
}

[tuiNotification] {
    box-shadow: var(--tui-shadow-medium);
}

.t-closable[data-size] {
    padding-inline-end: 2.5rem;
}
