<ng-container *ngIf="texts$ | async as texts">
    <section
        #contentWrapper
        subtree
        childList
        characterData
        attributeFilter="src"
        class="t-wrapper"
        [class.t-not-interactive-content]="zoomable"
        [class.t-transitive]="transitioned$ | async"
        [style.transform]="wrapperTransform$ | async"
        [style.cursor]="cursor$ | async"
        (tuiPan)="onPan($event)"
        (tuiZoom)="onZoom($event)"
        (tuiResize)="onResize($event)"
        (waMutationObserver)="onMutation(contentWrapper)"
    >
        <ng-content></ng-content>
    </section>

    <header class="t-header">
        <div class="t-title">
            <ng-content select="tui-preview-title"></ng-content>
        </div>

        <ng-content select="tui-preview-pagination"></ng-content>

        <div class="t-actions">
            <ng-content select="[tuiPreviewAction]"></ng-content>
        </div>
    </header>

    <footer class="t-footer">
        <button
            *ngIf="rotatable"
            tuiIconButton
            tuiPreviewAction
            icon="tuiIconRotate"
            tuiHintDirection="top-right"
            tuiHintAppearance="onDark"
            class="t-rotate-button"
            [tuiHint]="texts.rotate"
            [tuiHintDescribe]="''"
            (click)="rotate()"
        ></button>

        <tui-preview-zoom
            *ngIf="zoomable"
            [min]="minZoom"
            [value]="(zoom$ | async) || 1"
            (valueChange)="zoom$.next($event)"
            (reset)="reset()"
        ></tui-preview-zoom>
    </footer>
</ng-container>
