@import 'taiga-ui-local';

:host {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

.t-header {
    position: fixed;
    top: 1rem;
    display: flex;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.t-footer {
    position: absolute;
    bottom: 1rem;
    display: flex;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    justify-content: center;
}

.t-actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    ::ng-deep > * {
        margin-left: 0.625rem;
    }
}

.t-rotate-button {
    margin-right: 0.3125rem;
}

.t-title {
    flex: 1;

    :host-context(tui-root._mobile) & {
        display: none;
    }
}

.t-not-interactive-content {
    /* stylelint-disable */
    ::ng-deep > * {
        pointer-events: none;
    }
    /* stylelint-enable */
}

.t-wrapper {
    will-change: transform;
}

.t-transitive {
    transition-duration: 0.3s;
}
