<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="canOpen"
    [content]="dropdown"
    [open]="open && canOpen"
    (openChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        *tuiLet="filler$ | async as filler"
        automation-id="tui-input-date-range__textfield"
        tuiValueAccessor
        class="t-textfield"
        [disabled]="computedDisabled"
        [focusable]="computedFocusable"
        [invalid]="computedInvalid"
        [maskito]="computedMask"
        [nativeId]="nativeId"
        [pseudoFocus]="pseudoFocus"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldFiller]="getComputedFiller(filler || '')"
        [tuiTextfieldIcon]="calendarIcon && iconContent"
        [value]="computedValue"
        (focusedChange)="onFocused($event)"
        (valueChange)="onValueChange($event)"
    >
        <ng-content></ng-content>
        <ng-content
            ngProjectAs="input"
            select="input"
        ></ng-content>
    </tui-primitive-textfield>

    <ng-template #iconContent>
        <tui-svg
            *polymorpheusOutlet="calendarIcon as src; context: {$implicit: size}"
            appearance="icon"
            automation-id="tui-input-date-range__icon"
            tuiWrapper
            [class.t-icon]="!computedDisabled"
            [src]="src"
            (click)="onIconClick()"
        ></tui-svg>
        <input
            *ngIf="isMobile && nativePicker"
            tuiDate
            class="t-native-input"
        />
    </ng-template>

    <ng-template
        #dropdown="polymorpheus"
        [polymorpheus]="type"
    >
        <tui-calendar
            automation-id="tui-input-date__calendar"
            tuiPreventDefault="mousedown"
            [disabledItemHandler]="disabledItemHandler"
            [markerHandler]="markerHandler"
            [max]="computedMax"
            [min]="computedMin"
            [month]="computedActiveYearMonth"
            [value]="value"
            (dayClick)="onDayClick($event)"
            (monthChange)="onMonthChange($event)"
        ></tui-calendar>
        <div
            *ngIf="items.length === 1"
            tuiPreventDefault="mousedown"
            class="t-button"
        >
            <button
                tuiLink
                type="button"
                (click)="onDayClick(items[0].day)"
            >
                {{ items[0] }}
            </button>
        </div>
    </ng-template>
</tui-hosted-dropdown>
