<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="canOpen"
    [open]="open && canOpen"
    [content]="dropdown"
    (openChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        *tuiLet="filler$ | async as filler"
        automation-id="tui-input-date-range__textfield"
        tuiValueAccessor
        class="t-textfield"
        [tuiTextfieldIcon]="computedMobile ? mobileIconContent : iconContent"
        [pseudoFocus]="pseudoFocus"
        [pseudoHover]="pseudoHover"
        [invalid]="computedInvalid"
        [filler]="getComputedFiller(filler)"
        [nativeId]="nativeId"
        [readOnly]="readOnly"
        [focusable]="computedFocusable"
        [disabled]="computedDisabled"
        [textMask]="computedMask"
        [value]="computedValue"
        (valueChange)="onValueChange($event)"
        (focusedChange)="onFocused($event)"
    >
        <ng-content></ng-content>
        <ng-content
            select="input"
            ngProjectAs="input"
        ></ng-content>
    </tui-primitive-textfield>

    <ng-template #mobileIconContent>
        <tui-svg
            automation-id="tui-input-date-range__icon"
            [class.t-icon]="!computedDisabled"
            [src]="calendarIcon"
            (click)="onMobileClick()"
        ></tui-svg>
    </ng-template>

    <ng-template #iconContent>
        <tui-svg
            [class.t-icon]="!computedDisabled"
            [src]="calendarIcon"
        ></tui-svg>
    </ng-template>

    <ng-template
        #dropdown="polymorpheus"
        [polymorpheus]="type"
    >
        <tui-calendar
            tuiPreventDefault="mousedown"
            automation-id="tui-input-date__calendar"
            [min]="min"
            [max]="max"
            [markerHandler]="markerHandler"
            [disabledItemHandler]="disabledItemHandler"
            [month]="computedActiveYearMonth"
            [value]="value"
            (dayClick)="onDayClick($event)"
            (monthChange)="onMonthChange($event)"
        ></tui-calendar>
        <div
            *ngIf="items.length === 1"
            tuiPreventDefault="mousedown"
            class="t-button"
        >
            <button
                tuiLink
                type="button"
                (click)="onDayClick(items[0].day)"
            >
                {{ items[0] }}
            </button>
        </div>
    </ng-template>
</tui-hosted-dropdown>
