.input {
    width: 15.625rem;
}

.dropdown {
    padding: 1.25rem;
}

.buttons {
    display: flex;
    margin-bottom: 0;
}

.button {
    flex: 1;

    &:first-child {
        margin-right: 0.75rem;
    }
}
