<tui-doc-page header="HostedDropdown" package="CORE">
    <ng-template pageTab>
        <p i18n>
            <code>tui-hosted-dropdown</code> is a wrapper for focusable elements
            to attach to them a dropdown. Working with keyboard is also
            included.
        </p>

        <p>
            If a wrapped element is input, arrow down press opens a dropdown.
            The next press focuses the first item from the list.
        </p>

        <p i18n>
            If it is not, mouseclick opens and closes a dropdown. A component
            uses the first focusable item inside component as a host for opening
            a dropdown. If you want another element to be host, use
            <code>tuiHostedDropdownHost</code> directive.
        </p>

        <tui-doc-example id="menu" heading="Menu" [content]="example1">
            <tui-hosted-dropdown-example-1></tui-hosted-dropdown-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="tuiDropdownHost"
            i18n-heading
            heading="With custom host"
            [content]="example2"
        >
            <tui-hosted-dropdown-example-2></tui-hosted-dropdown-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="native"
            i18n-heading
            heading="With link"
            [content]="example3"
        >
            <tui-hosted-dropdown-example-3></tui-hosted-dropdown-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-hosted-dropdown
                [content]="template ? dropdown : content"
                [tuiDropdownAlign]="align"
                [canOpen]="canOpen"
                [tuiDropdownDirection]="direction"
                [tuiDropdownLimitWidth]="limitWidth"
                [tuiDropdownMinHeight]="minHeight"
                [tuiDropdownMaxHeight]="maxHeight"
                [(open)]="open"
            >
                <tui-input
                    class="input"
                    [ngModel]="input"
                    (ngModelChange)="onInput($event)"
                >
                    Start typing
                </tui-input>
            </tui-hosted-dropdown>
        </tui-doc-demo>
        <ng-template #dropdown="polymorpheus" polymorpheus>
            <div class="dropdown">
                <div i18n>Do you like using Taiga UI?</div>
                <p class="buttons">
                    <button
                        i18n
                        tuiButton
                        type="button"
                        class="button"
                        size="m"
                        (click)="onClick()"
                    >
                        Yes
                    </button>
                    <button
                        i18n
                        tuiButton
                        type="button"
                        class="button"
                        appearance="secondary"
                        size="m"
                        (click)="onClick()"
                    >
                        Yes
                    </button>
                </p>
            </div>
        </ng-template>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="open"
                documentationPropertyMode="input-output"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="open"
            >
                Open/close state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="canOpen"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [documentationPropertyValues]="canOpenVariants"
                [(documentationPropertyValue)]="canOpenSelected"
            >
                A handler to enable/disable opening
            </ng-template>
            <ng-template
                documentationPropertyName="content"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="contentVariants"
                [(documentationPropertyValue)]="content"
            >
                Content inside a dropdown
            </ng-template>
        </tui-doc-documentation>
        <dropdown-controller-documentation></dropdown-controller-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiHostedDropdownModule</code> into a module
                    where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
