.t-wrapper {
    position: relative;
}

.t-left {
    inline-size: 100%;
}

.t-right {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    inline-size: 50%;
    block-size: 100%;
    text-align: end;
}

:host {
    display: block;
    border-radius: var(--tui-radius-m);

    :host-context(*:disabled) {
        pointer-events: none;
    }
}

.t-range {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    margin: -0.125rem 0 0;
}
