@import 'taiga-ui-local';

:host {
    position: relative;
    display: block;
    padding-top: 3.5rem;
    clear: right;

    :host-context(tui-root._mobile) {
        padding-top: 2rem;
    }
}

.t-title {
    font: var(--tui-font-heading-5);
    margin: 0 0 0.5rem;

    :host-context(tui-root._mobile) & {
        font: var(--tui-font-heading-6);
    }
}

.t-description {
    font: var(--tui-font-text-m);
    font-weight: normal;
    margin: 0;
}

.t-example {
    position: relative;
    margin-top: 1.5rem;
    border: 1px solid var(--tui-base-03);
    border-radius: var(--tui-radius-m);
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);

    :host-context(tui-root._mobile) & {
        margin-top: 0.75rem;
    }
}

.t-tabs-wrapper {
    display: flex;
    padding: 0 2rem;
    box-shadow: inset 0 -1px var(--tui-base-03);
    justify-content: space-between;
    align-items: center;

    :host-context(tui-root._mobile) & {
        padding: 0 1rem;
    }
}

.t-tabs {
    flex-grow: 1;
}

.t-demo {
    .customize-scroll();
    padding: 2rem;
    overflow-x: auto;

    :host-context(tui-root._mobile) & {
        padding: 1rem;
    }
}

.t-code-actions {
    position: absolute;
    top: 4.375rem;
    right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
        margin-left: 0.5rem;
    }
}

.t-link-icon {
    margin-left: 0.3rem;
    vertical-align: baseline;
}

.t-content {
    will-change: opacity;
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.t-content_animated {
    transition: opacity 300ms ease-in-out;
}

.t-content_visible {
    height: auto;
    visibility: visible;
    opacity: 1;
}
