@import '@taiga-ui/core/styles/taiga-ui-local';

.table {
    width: 100%;
}

.th {
    font-size: 0.6875rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    border-bottom: 1px solid var(--tui-base-03);
    padding: 0.625rem 1.875rem;
    white-space: nowrap;

    &:first-child {
        min-width: 12.5rem;
        padding-left: 0;
        text-align: left;
    }
}

.td {
    padding: 1.875rem;
    vertical-align: baseline;
    white-space: nowrap;

    &:first-child {
        padding-left: 0;
        white-space: normal;
    }
}
