&.tui-liquid-glass {
    tui-app-bar {
        --t-padding: 1rem;

        background: transparent;
        backdrop-filter: none;
        block-size: calc(3.375rem + var(--t-padding));
        padding-block-start: var(--t-padding);
        padding-block-end: 0.625rem;
    }
}
