input[tuiCheckbox],
input[tuiRadio] {
    --t-size: 1.375rem;

    border-radius: 100%;
    color: var(--tui-text-primary-on-accent-2) !important;
    outline: 1px solid var(--tui-background-neutral-2);
    outline-offset: -1px;
    transition: none;
    box-shadow: none !important;
    background: var(--t-background) !important;

    &:checked,
    &:not([tuiRadio]):indeterminate {
        --t-background: var(--tui-background-accent-2);

        outline: none;

        &:disabled:not(._readonly) {
            --t-background: var(--tui-background-neutral-2);
        }

        &::before {
            display: block;
            transform: none;
            mask: var(--t-icon) center/100%;
        }

        &:invalid {
            --t-background: var(--tui-status-negative);
        }
    }

    &::before {
        --t-icon: url('data:image/svg+xml,<svg viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><path d="M6.75 11.25L9.8 15.2L15.2 7" fill="none" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/></svg>');

        display: none;
    }

    &:not([tuiRadio]):indeterminate::before {
        --t-icon: url('data:image/svg+xml,<svg viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg"><path d="M6 11H16" fill="none" stroke="black" stroke-width="1.75" stroke-linecap="round"/></svg>');
    }

    &:invalid {
        outline-color: var(--tui-status-negative-pale-hover);
    }
}
