@import '@taiga-ui/styles/utils.less';

input[tuiSwitch]._native {
    block-size: 1.9375rem;
    inline-size: 3.1875rem;
    appearance: auto;
    accent-color: var(--tui-background-accent-2);

    &:invalid {
        accent-color: var(--tui-status-negative);
    }

    &::before,
    &::after {
        display: none;
    }

    @supports (anchor-name: --ios26) {
        inline-size: 4rem;
        block-size: 1.75rem;

        &::before {
            .transition(background);

            position: absolute;
            display: block;
            inset: 0;
            border-radius: 10rem;
            inline-size: 100%;
            background-color: transparent;
            mix-blend-mode: color;
            transform: none;
        }

        &:invalid:not(:checked)::before {
            background-color: var(--tui-status-negative);
        }

        [data-theme='dark'] & {
            &:invalid:not(:checked)::before {
                background-color: var(--tui-status-negative-pale);
            }

            &:disabled:not(:checked)::before {
                background-color: rgba(255, 255, 255, 0.2);
                mix-blend-mode: lighten;
            }
        }
    }
}

input[tuiSwitch]:not(._native) {
    block-size: 1.9375rem;
    inline-size: 3.1875rem;
    border-radius: 2rem;
    color: #fff;
    background: var(--tui-background-neutral-2);
    overflow: visible;

    &::before {
        opacity: 0;
    }

    &::after {
        right: auto;
        transition-property: transform, inline-size;
        inline-size: 1.9375rem;
        block-size: 1.9375rem;
        border-radius: 2rem;
        background: currentColor;
        transform: scale(0.871);
        outline: none;
        box-shadow:
            0 0.25rem 0.125rem rgba(0, 0, 0, 0.06),
            0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
    }

    &:active::after {
        inline-size: 2.3rem;
    }

    &:checked,
    &:checked:hover,
    &:checked:active {
        background: var(--tui-background-accent-2);

        &:invalid {
            background: var(--tui-status-negative);
        }

        &::after {
            transform: scale(0.871) translateX(calc(1.44rem * var(--tui-inline)));
        }

        &:active::after {
            transform: scale(0.871) translateX(calc(1.0775rem * var(--tui-inline)));
        }
    }
}
