.wrapper {
    display: flex;
    align-items: center;
}

.carousel {
    width: 25rem;
    flex-shrink: 0;
}

.item {
    padding: 1rem;
    border: 1px solid var(--tui-base-03);
    border-radius: 1rem;
}

.title {
    margin: 0 0 1rem;
}
