@import '@taiga-ui/core/styles/taiga-ui-local';

section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @media @tui-tablet {
        flex-direction: column;
    }
}

[tuiCardLarge] {
    flex: 1;
    min-inline-size: 0;
    margin-block-start: 1rem;

    &[data-appearance='custom'] {
        border: 0.25rem solid var(--tui-background-base-alt);
        border-radius: var(--tui-radius-m);
    }
}
