.t-field {
    max-inline-size: 20rem;
}

.t-panel {
    inline-size: 20rem;
}

.t-tabs {
    box-shadow: none;
    margin-block-start: 0.5rem;
}

.list {
    padding: 0 0.75rem;
    margin: -0.25rem;

    --tui-icon-list-sticky-offset: 6.5rem;
}

.nav-block {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.75rem;
    padding-block-end: 0.5rem;
    background: var(--tui-background-elevation-3);
}
