[tuiTooltip] {
    border-width: 0.25rem;
    border-radius: 100%;
    cursor: pointer;
    pointer-events: auto;
}

@media (hover: hover) {
    tui-textfield:hover [tuiTooltip][data-appearance='icon']::after {
        color: var(--tui-text-secondary);
    }
}
