@import '@taiga-ui/core/styles/taiga-ui-local';
@import '@taiga-ui/legacy/styles/taiga-ui-local';

.wrapper {
    .customize-scroll();

    inline-size: 31.25rem;
    block-size: 31.25rem;
    overflow: auto;
    padding: 1.25rem;
    background-color: var(--tui-background-neutral-1);
}

.bottom {
    position: absolute;
    bottom: 0;
}

.content {
    position: relative;
    inline-size: 62.5rem;
    block-size: 62.5rem;
}
