@if (value().length) {
    <tui-line-chart
        class="t-chart"
        [dots]="dots()"
        [height]="height()"
        [smoothingFactor]="smoothingFactor()"
        [style.z-index]="zIndex"
        [tuiHintContent]="hintContent() ? hint : ''"
        [value]="points()"
        [width]="width()"
        [xStringify]="xStringify() ? daysStringify : null"
        [y]="y()"
        [yStringify]="yStringify()"
    />
}
<ng-template
    #hint
    let-point
>
    <ng-container *polymorpheusOutlet="hintContent() as text; context: {$implicit: getHintContext(point[0])}">
        {{ text }}
    </ng-container>
</ng-template>
