<ng-container [ngSwitch]="type">
    <img
        *ngSwitchCase="'img'"
        alt=""
        tuiLoading="lazy"
        [src]="value"
    />
    <tui-icon
        *ngSwitchCase="'icon'"
        [icon]="value.toString()"
    />
    <ng-container *ngSwitchCase="'text'">{{ value }}</ng-container>
    <ng-container *ngSwitchCase="'template'">
        <ng-container *polymorpheusOutlet="value as text">{{ text }}</ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <ng-content />
    </ng-container>
</ng-container>
