/* stylelint-disable */
// prettier-ignore
tui-avatar-stack {
    display: flex;
    --t-gap: 0.125rem;

    [tuiAvatar] {
        --t-offset: 2.5rem;

        &[data-size='xl'] {
            --t-offset: 2.125rem;
        }

        &[data-size='l'] {
            --t-offset: 1.5rem;
        }

        &[data-size='m'] {
            --t-offset: 0.75rem;
        }

        &[data-size='s'] {
            --t-offset: 0.575rem;
        }

        &[data-size='xs'] {
            --t-offset: 0.375rem;
        }
    }


    [tuiAvatar]._round {
        mask-image: radial-gradient(circle at calc(50% - calc(var(--tui-inline) * (var(--t-size) - var(--t-offset)))) 50%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px));
    }

    &[data-direction='end'] [tuiAvatar]._round {
        --tui-inline: -1;

        [dir='rtl'] & {
            --tui-inline: 1;
        }

        &:last-child {
            mask-image: none;
        }
    }

    &[data-direction='start'] [tuiAvatar]._round {
        &:first-child {
            mask-image: none;
        }
    }

    &[data-direction='start'] [tuiAvatar]:not(._round):not(:first-child),
    [dir='rtl'] &[data-direction='end'] [tuiAvatar]:not(._round):not(:last-child) {
        mask-image:
            radial-gradient(circle at 0% 100%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px)),
            radial-gradient(circle at 0% 0%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px)),
            linear-gradient(to right, transparent calc(var(--t-offset) + var(--t-gap)), #000 calc(var(--t-offset) + var(--t-gap)));
        mask-position:
            calc(var(--t-offset) - var(--t-radius)) calc(-1 * (var(--t-size) - var(--t-radius))),
            calc(var(--t-offset) - var(--t-radius)) calc(var(--t-size) - var(--t-radius)),
            bottom;
    }

    &[data-direction='end'] [tuiAvatar]:not(._round):not(:last-child),
    [dir='rtl'] &[data-direction='start'] [tuiAvatar]:not(._round):not(:first-child) {
        mask-image:
            radial-gradient(circle at 150% 100%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px)),
            radial-gradient(circle at 150% 0%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px)),
            linear-gradient(to left, transparent calc(var(--t-offset) + var(--t-gap)), #000 calc(var(--t-offset) + var(--t-gap)));
        mask-position:
            calc((var(--t-offset) - var(--t-size) + var(--t-radius) / 2 + var(--t-gap) + 1px) * -1) calc(-1 * var(--t-gap)),
            calc((var(--t-offset) - var(--t-size) + var(--t-radius) / 2 + var(--t-gap) + 1px) * -1) calc(100% + var(--t-gap)),
            bottom;
    }

    [tuiAvatar]:not(._round) {
        mask-repeat: no-repeat;
    }

    [dir='rtl'] &[data-direction='start'] [tuiAvatar]:not(._round),
    &[data-direction='end'] [tuiAvatar]:not(._round){
        mask-size:
            calc(var(--t-radius) + var(--t-gap)) calc(var(--t-radius) + var(--t-gap)),
            calc(var(--t-radius) + var(--t-gap)) calc(var(--t-radius) + var(--t-gap)),
            100%;
    }

    [dir='rtl'] &[data-direction='end'] [tuiAvatar]:not(._round) {
        mask-size: unset;
    }

    [tuiAvatar]:not(:last-child) {
        margin-inline-end: calc(-1 * var(--t-offset));
    }
}
