@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    --t-size: 3.5rem;
    --t-radius: 0.75rem;

    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    width: var(--t-size);
    height: var(--t-size);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: var(--t-radius);
    border: none;
    background: var(--tui-secondary);
    color: var(--tui-text-02);
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0.25rem;
    opacity: 0.999; // Kick in hardware rendering layer to avoid artifacts on the edges

    &:before {
        .fullsize();

        background: currentColor;
        mask: var(--t-mask) no-repeat center/60%;
    }

    &[data-size='xs'] {
        --t-size: var(--tui-height-xs);
        --t-radius: 0.5rem;

        font: var(--tui-font-text-xs);
        font-weight: bold;

        &[data-type='content'] {
            font: var(--tui-font-text-m);
            font-size: 0.5625rem;
        }
    }

    &[data-size='s'] {
        --t-size: var(--tui-height-s);
        --t-radius: 0.5rem;

        font: var(--tui-font-text-s);
        font-weight: bold;

        &[data-type='content'] {
            font: var(--tui-font-text-xs);
            font-weight: bold;
        }
    }

    &[data-size='m'] {
        --t-size: calc(var(--tui-height-m) - 0.25rem);
        --t-radius: 0.75rem;

        font: var(--tui-font-text-l);
        font-weight: bold;

        &[data-type='content'] {
            font: var(--tui-font-text-m);
            font-weight: bold;
        }
    }

    &[data-size='l'] {
        --t-size: var(--tui-height-l);
        --t-radius: 0.75rem;

        font: var(--tui-font-heading-5);

        &[data-type='content'] {
            font: var(--tui-font-text-l);
            font-weight: bold;
        }
    }

    &[data-size='xl'] {
        --t-size: 5rem;
        --t-radius: 0.75rem;

        font: var(--tui-font-heading-3);

        &[data-type='content'] {
            font: var(--tui-font-heading-4);
        }
    }

    &[data-size='xxl'] {
        --t-size: 6rem;
        --t-radius: 1rem;

        font: var(--tui-font-heading-3);

        &[data-type='content'] {
            font: var(--tui-font-heading-3);
        }
    }

    &[data-size='xxxl'] {
        --t-size: 8rem;
        --t-radius: 1.25rem;

        font: var(--tui-font-heading-2);

        &[data-type='content'] {
            font: var(--tui-font-heading-3);
        }
    }

    &[data-type='img'] {
        background: transparent;
    }

    &[data-type='icon']:before {
        content: '';
    }

    &._round {
        --t-radius: calc(var(--t-size) / 2);
    }

    ::ng-deep img,
    ::ng-deep picture,
    ::ng-deep video {
        .fullsize();

        object-fit: cover;
    }
}
