<div
    class="t-preview"
    [class.t-preview_big]="isBig"
>
    <ng-container *polymorpheusOutlet="leftContent() || defaultLeftContent as text">
        {{ text }}
    </ng-container>
</div>
<div class="t-wrapper">
    <div class="t-text">
        <div
            tuiHintOverflow
            class="t-name"
        >
            {{ name }}
        </div>
        <div class="t-type">{{ type }}</div>
        @if (showSize() && (fileSize$ | async); as fileSize) {
            <div class="t-size">
                {{ fileSize }}
            </div>
        }
    </div>
    @if (content$ | async; as content) {
        <div class="t-content">
            <ng-container *polymorpheusOutlet="content as text">
                {{ text }}
            </ng-container>
        </div>
    }
    <ng-content />
</div>
@if (allowDelete) {
    @if (fileTexts$ | async; as texts) {
        <button
            appearance="icon"
            size="xs"
            tuiIconButton
            type="button"
            class="t-remove"
            [iconStart]="icons.close"
            (click.prevent)="remove.emit()"
            (mousedown.prevent.zoneless)="(0)"
        >
            {{ texts.remove }}
        </button>
    }
}

<ng-template #defaultLeftContent>
    @if (preview) {
        <img
            alt="file preview"
            class="t-image"
            [src]="preview"
        />
    } @else {
        @if (isLoading) {
            <tui-loader
                class="t-loader"
                [inheritColor]="isBig"
            />
        } @else {
            <tui-icon
                *polymorpheusOutlet="icon as src; context: {$implicit: size()}"
                class="t-icon"
                [class.t-icon_blank]="isBig || isDeleted"
                [class.t-icon_error]="isError"
                [icon]="src.toString()"
            />
        }
    }
</ng-template>
