@import '@taiga-ui/core/styles/taiga-ui-local.less';

/* Reuse for proprietary demo */
html,
body {
    .scroll-behavior();
    font: var(--tui-font-text-m);

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}

.b-demo-steps {
    list-style-type: decimal;
    padding-left: 0.9375rem;
    margin: 1rem 0;

    & li {
        margin-bottom: 1.25rem;
    }
}
