@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/addon-mobile/styles/taiga-ui-mobile.less';
@import '@taiga-ui/styles/taiga-ui-global.less';
@import '@docsearch/css/dist/style.css';

html,
body {
    scroll-behavior: smooth;
    font: var(--tui-font-text-m);
    padding: 0;
    margin: 0;

    &:has(tui-root[tuiTheme='dark']) {
        background: #222;
    }

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}
