@import '@taiga-ui/styles/utils.less';
@import '@taiga-ui/styles/taiga-ui-theme.less';
@import '@taiga-ui/styles/taiga-ui-fonts.less';
@import '@taiga-ui/addon-mobile/styles/taiga-ui-mobile.less';
@import '@docsearch/css/dist/style.css';
@import 'global.less';

html,
body {
    scroll-behavior: smooth;
    font: var(--tui-typography-body-m);
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:has(tui-root[tuiTheme='dark']) {
        background: #222;
    }

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}
