@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;

    @media @tui-tablet {
        flex-direction: column;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
}
