@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiIconButton][tuiButtonClose] {
    border-radius: 100%;

    &[data-size='s'] {
        --t-size: var(1.875rem);

        &:before {
            width: 1rem;
            height: 1rem;
        }
    }

    &[data-size='xs'] {
        --t-size: var(--tui-height-xs);

        &:before {
            width: 0.875rem;
            height: 0.875rem;
        }
    }
}
