@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;

    @media @tui-mobile {
        flex-direction: column;
        margin-bottom: 1rem;
    }
}
