<tui-doc-page
    header="Copy"
    package="KIT"
    path="kit/directives/copy"
    type="components"
>
    <ng-template pageTab>
        This component provides an easy way to copy text content to the clipboard. It displays the content normally and
        shows a copy button on hover, with visual feedback when content is copied.

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [description]="description"
            [heading]="example"
            [id]="example | tuiKebab"
        >
            <ng-template
                #description
                [ngSwitch]="index"
            >
                <ng-container *ngSwitchCase="0">Using component in various scenarios.</ng-container>
                <ng-container *ngSwitchCase="1">Using size option for various font size cases.</ng-container>
                <ng-container *ngSwitchCase="2">
                    Using
                    <code>tui-icon[tuiCopy]</code>
                    inside a textfield
                </ng-container>
                <ng-container *ngSwitchCase="3">
                    Demonstrates
                    <code>[tuiCopyProcessor]</code>
                    padding text with spaces on both sides before copy.
                </ng-container>
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
