<div
    #focusableElement
    automation-id="tui-accordion__item-wrapper"
    class="wrapper"
    [tuiFocusable]="computedFocusable"
    (tuiFocusVisibleChange)="onFocusVisible($event)"
    (tuiFocusedChange)="onFocused($event)"
    (keydown.space)="onItemKeyDownSpace($event)"
    (keydown.enter)="onItemKeyDownSpace($event)"
    (keydown.esc)="onItemKeyDownEsc($event)"
>
    <div
        automation-id="tui-accordion__item-header"
        class="header"
        [class.header_open]="open"
        [class.header_hoverable]="!disableHover"
        (tuiHoveredChange)="onHovered($event)"
        (click)="onRowToggle()"
    >
        <div
            automation-id="tui-accordion__item-title"
            class="title"
        >
            <ng-content></ng-content>
        </div>
        <tui-svg
            *ngIf="showArrow"
            automation-id="tui-accordion__item-arrow"
            src="tuiIconChevronDownLarge"
            class="icon"
            [class.icon_open]="open"
        ></tui-svg>
    </div>
    <tui-expand
        [async]="async"
        [expanded]="open"
    >
        <div
            *ngIf="eagerContent"
            class="content"
        >
            <ng-content select="[tuiAccordionItemContent]"></ng-content>
        </div>
        <ng-template tuiExpandContent>
            <div
                *ngIf="lazyContent"
                polymorpheus-outlet
                automation-id="tui-accordion__item-content"
                class="content"
                [content]="lazyContent"
            ></div>
        </ng-template>
    </tui-expand>
</div>
