<div
    automation-id="tui-accordion__item-wrapper"
    class="t-wrapper"
>
    <button
        #focusableElement
        automation-id="tui-accordion__item-header"
        class="t-header"
        [disabled]="computedDisabled"
        [class.t-header_open]="open"
        [class.t-header_hoverable]="!disableHover"
        [tuiFocusable]="computedFocusable"
        (tuiFocusVisibleChange)="onFocusVisible($event)"
        (tuiFocusedChange)="onFocused($event)"
        (keydown.esc)="onItemKeyDownEsc($event)"
        (click)="onRowToggle()"
    >
        <span
            automation-id="tui-accordion__item-title"
            class="t-title"
        >
            <ng-content></ng-content>
        </span>
        <tui-svg
            *ngIf="showArrow"
            automation-id="tui-accordion__item-arrow"
            src="tuiIconChevronDownLarge"
            class="t-icon"
            [class.t-icon_open]="open"
        ></tui-svg>
    </button>
    <tui-expand
        [async]="async"
        [expanded]="open"
    >
        <ng-template tuiExpandContent>
            <div
                *ngIf="lazyContent"
                automation-id="tui-accordion__item-content"
                class="t-content"
            >
                <ng-container *polymorpheusOutlet="lazyContent as text">
                    {{ text }}
                </ng-container>
            </div>
        </ng-template>
        <div
            *ngIf="eagerContent"
            class="t-content"
        >
            <ng-content select="[tuiAccordionItemContent]"></ng-content>
        </div>
    </tui-expand>
</div>
