.popout {
    min-block-size: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    background: var(--tui-base-02);
}

.popout__content {
    display: grid;
    gap: 1rem;
    max-inline-size: 28rem;
}

.popout__title {
    margin: 0;
}

.popout__text {
    margin: 0;
    color: var(--tui-text-02);
}

.popout__button {
    inline-size: fit-content;
}

.popout__hover {
    inline-size: fit-content;
    cursor: pointer;
    color: var(--tui-text-01);
}

.popout__dropdown {
    padding: 0.5rem 0.75rem;
}
