.popout {
    min-block-size: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    background: var(--tui-base-02);
}

.content {
    display: grid;
    gap: 1rem;
    max-inline-size: 28rem;
}

.title {
    margin: 0;
}

.text {
    margin: 0;
    color: var(--tui-text-02);
}

.button {
    inline-size: fit-content;
}

.hover {
    inline-size: fit-content;
    cursor: pointer;
    color: var(--tui-text-01);
}

.dropdown {
    padding: 0.5rem 0.75rem;
}
