<tui-doc-page
    header="ArcChart"
    package="ADDON-CHARTS"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-arc-chart
                class="chart"
                [max]="max"
                [maxLabel]="maxLabel"
                [minLabel]="minLabel"
                [size]="size"
                [value]="value"
                [(activeItemIndex)]="activeItemIndex"
            />
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="number"
                [items]="maxVariants"
                [(value)]="max"
            >
                Maximum value
            </tr>
            <tr
                name="[maxLabel]"
                tuiDocAPIItem
                type="string"
                [(value)]="maxLabel"
            >
                Label for maximum value
            </tr>
            <tr
                name="[minLabel]"
                tuiDocAPIItem
                type="string"
                [(value)]="minLabel"
            >
                Label for minimum value
            </tr>
            <tr
                name="[size]"
                tuiDocAPIItem
                type="TuiSizeXL"
                [items]="sizeVariants"
                [(value)]="size"
            >
                Size
            </tr>
            <tr
                name="[value]"
                tuiDocAPIItem
                type="readonly number[]"
                [items]="valueVariants"
                [(value)]="value"
            >
                Value
            </tr>
            <tr
                name="[(activeItemIndex)]"
                tuiDocAPIItem
                type="number"
                [(value)]="activeItemIndex"
            >
                Index of selected arc
            </tr>
        </table>
    </ng-template>
    <tui-setup *pageTab />
</tui-doc-page>
