:host {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.with-border {
    background: var(--tui-base-01);
    color: var(--tui-primary);
    border: 2px solid var(--tui-primary);
}
