@import 'taiga-ui-local';

.white {
    display: inline-block;
    padding: 0.625rem;
    background-color: var(--tui-base-02);
}

.custom {
    color: var(--tui-base-01);
    background: linear-gradient(45deg, #c86dd7 0%, #3023ae 100%);
}
