<tui-doc-page
    header="InputMonthRange"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p i18n>Component to input a range of months</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-notification class="tui-space_bottom-4 b-form">
                If you need to set some attributes or listen to events on native
                <code>input</code>
                , you can put it inside with
                <code>Textfield</code>
                directive as shown below
            </tui-notification>
            <tui-input-month-range-example-1></tui-input-month-range-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            i18n-heading
            heading="sizes"
            [content]="example2"
        >
            <tui-input-month-range-example-2></tui-input-month-range-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="context"
            i18n-heading
            heading="With a context usage in disabledItemHandler"
            [content]="example3"
        >
            <tui-input-month-range-example-3></tui-input-month-range-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-month-range
                    [formControl]="control"
                    [min]="min"
                    [max]="max"
                    [focusable]="focusable"
                    [tuiTextfieldIconLeft]="iconLeft"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [tuiTextfieldCleaner]="cleaner"
                    [readOnly]="readOnly"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoActive]="pseudoPressed"
                    [disabledItemHandler]="disabledItemHandler"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintAppearance]="hintAppearance"
                    [style.text-align]="textAlign"
                >
                    Months
                </tui-input-month-range>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyMode="input"
                documentationPropertyType="string"
                documentationPropertyName="style.text-align"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Custom align content by text-align
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandlerWithContext<TuiMonth, TuiMonthContext>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Minimum date
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Maximum date
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiInputMonthRangeModule</code>
                    in the same module where you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (
                    <code>FormGroup</code>
                    ) or a control (
                    <code>FormControl</code>
                    ) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleForm"
                ></tui-doc-code>
            </li>

            <li>
                Use
                <code>TuiInputMonthComponent</code>
                in template:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
