<tui-doc-page
    header="Confirm"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>
            Confirm is a ready to use
            <a
                tuiLink
                [routerLink]="routes.Dialog"
            >
                Dialog
            </a>
            to ask user to confirm an action
        </p>

        <tui-notification>
            See
            <a
                fragment="confirm"
                tuiLink
                [routerLink]="routes.Dialog"
            >
                this example
            </a>
            to learn how to use confirm to prevent data loss on forms inside other modals
        </tui-notification>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample: 'html,ts'"
            [description]="null"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <button
                tuiButton
                (click)="onClick()"
            >
                Show
            </button>
        </tui-doc-demo>
        <p>
            You can pass
            <code>data: TuiConfirmData</code>
            when opening a dialog to customize it
        </p>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="content"
                documentationPropertyType="PolymorpheusContent"
            >
                Content of the confirm
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="appearance"
                documentationPropertyType="string"
                [documentationPropertyValues]="appearances"
                [(documentationPropertyValue)]="appearance"
            >
                Appearance of the confirming button
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="no"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="no"
            >
                Text on
                <code>false</code>
                button
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="yes"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="yes"
            >
                Text on
                <code>true</code>
                button
            </ng-template>
        </tui-doc-documentation>
    </ng-template>
    <ng-template pageTab>
        <ol class="tui-list tui-list_ordered">
            <li class="tui-list__item">
                <p>
                    Open with
                    <code>DialogService</code>
                </p>

                <tui-doc-code
                    filename="my.component.ts"
                    [code]="exampleService"
                />
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
