:host {
    color: var(--tui-text-02);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.015rem;
    line-height: 0.75rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
