[tuiAction] {
    max-width: 26rem;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.icon {
    color: var(--tui-support-10);
}

.header,
.description {
    margin: 0;
}

.header {
    font-weight: bold;
}

.description {
    color: var(--tui-text-02);
}
