@import '@taiga-ui/styles/utils';

:host {
    display: block;
    max-inline-size: 70rem;
    font: var(--tui-typography-body-m);
    padding: 3rem;
    margin: 0 auto;

    @media @tui-mobile {
        padding: 1rem 1.5rem;
    }
}

.t-header {
    margin-block-end: 2rem;
}

.t-navigation {
    .scrollbar-hidden();

    display: flex;
    gap: 0.625rem;
    margin-block-start: 1rem;
    overflow: auto;

    @media @tui-mobile {
        margin: 0.5rem 0 1rem;
    }
}

.t-badge {
    vertical-align: middle;
    text-transform: uppercase;
    margin-inline-end: 0.5rem;
    color: #000;
}

.t-content {
    padding: 1rem 2rem;

    @media @tui-mobile {
        padding: 1rem 1.5rem;
    }
}

.t-source-code {
    display: flex;
}
