@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    flex-direction: column;
    min-block-size: 0;
    flex-basis: 0;
    flex-grow: 1;
    font: var(--tui-font-text-m);
}

.t-header {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: center;
    column-gap: 1rem;
    padding-block-start: 3.75rem;
    font: var(--tui-font-heading-3);
    color: var(--tui-text-primary);
    box-shadow: inset 0 -1px 0 0 var(--tui-border-normal);
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0 ~'min(10vw, 8.75rem)';

    @media @tui-mobile {
        grid-template-columns: minmax(0, 1fr);
        padding-block-start: 1.25rem;
        font: var(--tui-font-heading-4);
        margin: 0;
    }
}

.t-header:not(:empty) {
    @media @tui-mobile {
        min-block-size: 4.5rem;
        padding: 1.25rem 1.25rem 0;
    }
}

.t-title {
    grid-area: 1 / 1;
    font-size: inherit;
    margin: 0;
}

.t-tag {
    vertical-align: middle;
    text-transform: uppercase;
    margin-inline-end: 0.5rem;

    &_deprecated {
        background-color: var(--tui-status-negative);
        color: #fff;
    }

    &&_package {
        color: #000;
    }
}

.t-version {
    text-transform: none;
}

.t-tabs {
    grid-area: 2 / 1;
    margin: 1.125rem 0.3125rem 0 0;
    box-shadow: none;

    @media @tui-mobile {
        grid-area: auto;
        margin-block-start: 0.75rem;
    }
}

.t-content {
    padding: 2rem 0;
    margin: 0 ~'min(10vw, 8.75rem)';

    @media @tui-mobile {
        padding: 2rem 1.25rem;
        margin: 0;
    }
}

.t-see-also {
    min-inline-size: 18.75rem;
    inline-size: 30%;
    float: right;
    margin: 0 0 1rem;
    margin-inline-start: 1.5rem;

    // Safari 15+
    @supports (float: inline-end) {
        float: inline-end;
    }

    @media @tui-mobile {
        float: none;
        inline-size: 100%;
        margin: 0 0 1.5rem;
    }
}

.t-right-side {
    grid-area: 2 / 2;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: end;

    @media @tui-mobile {
        grid-area: auto;
        justify-self: start;
        margin-block-start: 0.75rem;
    }
}

.t-actions {
    grid-area: 1 / 2;
    justify-self: end;

    @media @tui-mobile {
        grid-area: auto;
        justify-self: start;
        margin-block-start: 0.75rem;
    }
}

.t-source-code {
    block-size: 3.125rem;
}
