@import '@taiga-ui/core/styles/taiga-ui-local';

.slider-ticks-labels {
    .tui-slider-ticks-labels();

    color: var(--tui-text-secondary);
    align-items: center;
    margin-top: 0.25rem;

    & > [tuiIconButton]:first-child {
        justify-content: start;
    }

    & > [tuiIconButton]:last-child {
        justify-content: end;
    }

    & > [tuiIconButton]::before {
        margin: 0;
    }
}
