.content {
    background-color: rgb(245, 241, 241);
    width: 25rem;
    height: 37.5rem;
    padding: 2.5rem;
    border-radius: 0.75rem;
}

.t-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tui-text-secondary);
}

.t-icon {
    margin-bottom: 0.75rem;
    width: 5rem;
    height: 5rem;
}

.t-loader {
    width: 4rem;
}
