@import 'taiga-ui-local';

:host {
    position: relative;
    display: flex;
    font: var(--tui-font-text-m);
    height: var(--tui-height-l);
    box-sizing: border-box;
    color: var(--tui-text-02);
    box-shadow: inset 0 -1px var(--tui-base-03);
    overflow: hidden;
}

.t-wrapper {
    position: relative;
    display: flex;
}

.t-tabs {
    height: inherit;
    font-size: inherit;
    font-weight: inherit;
    overflow: visible;
    box-shadow: none;
    color: inherit;
}

.t-overflown {
    display: flex;
    margin: 0;
    width: 0;
    max-width: 0;
    overflow: hidden;
    visibility: hidden;
}

.t-more_wrapper {
    height: 100%;
    pointer-events: none;

    button {
        pointer-events: auto;
    }
}

.t-icon {
    .transition(transform);
    margin-right: -0.25rem;
    vertical-align: bottom;

    &_rotated {
        transform: rotate(180deg);
    }
}

.t-dropdown {
    padding: 0.5rem 0;

    /* stylelint-disable */
    ::ng-deep *[tuiTab] {
        width: 100%;
        height: 2.75rem;
        justify-content: flex-start;
        margin: 0;
        padding: 0 1rem;
        color: var(--tui-text-02);

        &:before {
            display: none;
        }

        &:hover,
        &:focus,
        &._active {
            box-shadow: none;
            color: var(--tui-base-08);
            background: var(--tui-base-02);
        }
    }
    /* stylelint-enable */
}

.t-no-margin {
    margin-left: 0;
}
