<ng-container *ngIf="items.changes | async"></ng-container>
<div class="t-wrapper">
    <tui-tabs
        class="t-tabs"
        [underline]="false"
        [activeItemIndex]="activeItemIndex"
        (activeItemIndexChange)="onActiveItemIndexChange($event)"
        (keydown.arrowRight)="onArrowRight($event)"
    >
        <ng-container *ngFor="let item of items; let index = index">
            <ng-container
                *ngIf="index <= lastVisibleIndex; else hidden"
                [ngTemplateOutlet]="item"
            ></ng-container>
            <ng-template #hidden>
                <div [class.t-overflown]="index !== activeItemIndex">
                    <ng-container *ngTemplateOutlet="item"></ng-container>
                </div>
            </ng-template>
        </ng-container>
    </tui-tabs>
    <tui-hosted-dropdown
        class="t-more_wrapper"
        [class.t-overflown]="!isMoreVisible"
        [content]="dropdownContent || dropdown"
        [(open)]="open"
    >
        <button
            tuiTab
            class="t-more"
            [class._active]="open"
            [tuiFocusable]="isMoreFocusable"
            (keydown.arrowLeft.prevent)="onArrowLeft()"
        >
            <span
                polymorpheus-outlet
                [content]="moreContent || more"
            ></span>
        </button>
        <ng-template #more>
            {{ moreWord$ | async }}
            <tui-svg
                src="tuiIconChevronDown"
                class="t-icon"
                [class.t-icon_rotated]="open"
            ></tui-svg>
        </ng-template>
    </tui-hosted-dropdown>
    <ng-template #dropdown>
        <div
            #element
            class="t-dropdown"
            (keydown.arrowUp.prevent)="onWrapperArrow($event, element, true)"
            (keydown.arrowDown.prevent)="onWrapperArrow($event, element, false)"
        >
            <div
                *ngFor="let item of items; let index = index"
                (tui-tab-activate)="onClick(index)"
            >
                <ng-container
                    *ngIf="index > lastVisibleIndex && index !== activeItemIndex"
                    [ngTemplateOutlet]="item"
                ></ng-container>
            </div>
        </div>
    </ng-template>
    <tui-underline
        *ngIf="underline"
        [element]="activeElement"
    ></tui-underline>
</div>
