<ng-container *ngIf="items.changes | async"></ng-container>
<div class="wrapper">
    <tui-tabs
        class="tabs"
        [underline]="false"
        [activeItemIndex]="activeItemIndex"
        (activeItemIndexChange)="onActiveItemIndexChange($event)"
        (keydown.arrowRight)="onArrowRight($event.target)"
    >
        <ng-container *ngFor="let item of items; let index = index">
            <ng-container
                *ngIf="index <= lastVisibleIndex; else hidden"
                [ngTemplateOutlet]="item"
            ></ng-container>
            <ng-template #hidden>
                <div
                    class="overflown"
                    [class.overflown_hidden]="index !== activeItemIndex"
                >
                    <ng-container *ngTemplateOutlet="item"></ng-container>
                </div>
            </ng-template>
        </ng-container>
    </tui-tabs>
    <tui-hosted-dropdown
        class="more_wrapper"
        [class.overflown_hidden]="!isMoreVisible"
        [content]="dropdown"
        [(open)]="open"
    >
        <button
            tuiTab
            class="more"
            [class._active]="open"
            [tuiFocusable]="isMoreFocusable"
            (keydown.arrowLeft.prevent)="onArrowLeft()"
        >
            <span polymorpheus-outlet [content]="moreContent || more"></span>
        </button>
        <ng-template #more>
            {{moreWord$ | async}}
            <tui-svg
                src="tuiIconChevronDown"
                class="icon"
                [class.icon_rotated]="open"
            ></tui-svg>
        </ng-template>
    </tui-hosted-dropdown>
    <ng-template #dropdown>
        <div
            #element
            class="dropdown"
            (keydown.arrowUp.prevent)="onWrapperArrow($event.target, element, true)"
            (keydown.arrowDown.prevent)="onWrapperArrow($event.target, element, false)"
        >
            <div
                *ngFor="let item of items; let index = index"
                (tui-tab-activate)="onClick(index)"
            >
                <ng-container
                    *ngIf="index > lastVisibleIndex && index !== activeItemIndex"
                    [ngTemplateOutlet]="item"
                ></ng-container>
            </div>
        </div>
    </ng-template>
    <tui-underline *ngIf="underline" [element]="activeElement"></tui-underline>
</div>
