<tui-doc-page
    header="Editor"
    package="ADDON-EDITOR"
    type="components"
>
    <p>
        Rich Text Editor based on
        <a
            tuiLink
            href="https://www.tiptap.dev/"
        >
            TipTap Editor
        </a>
        for using with Angular forms. For safety reasons use a
        <a
            tuiLink
            routerLink="/icon-set"
            fragment="sanitizer"
        >
            sanitizer
        </a>
        with this component.
    </p>

    <tui-doc-example
        id="highlight"
        heading="Highlight"
        description="Use this extension to render highlighted text with <mark>. You can use only default <mark> HTML tag, which has a yellow background color by default, or apply different colors."
        [content]="example1"
    >
        <tui-editor-mark-text-example-1></tui-editor-mark-text-example-1>
    </tui-doc-example>
</tui-doc-page>
