@tui-duration-slowest: ~'calc(var(--tui-duration) / 0.429)';
@tui-duration-slow: ~'calc(var(--tui-duration) / 0.6)';
@tui-duration-fast: ~'calc(var(--tui-duration) / 2)';
@tui-duration-fastest: ~'calc(var(--tui-duration) / 4)';
