/** @deprecated TODO remove in v5 */
@keyframes tuiSkeletonVibe {
    to {
        opacity: 0.5;
    }
}

@keyframes tuiPresent {
    to {
        opacity: 0.99999; // https://bugs.webkit.org/show_bug.cgi?id=302153
    }
}

@keyframes tuiFade {
    from {
        opacity: 0;
    }
}

@keyframes tuiSlide {
    from {
        transform: var(--tui-from, translateY(100%));
    }
}

@keyframes tuiScale {
    from {
        transform: scale(var(--tui-scale, 0));
    }
}

@keyframes tuiCollapse {
    from {
        grid-template-rows: 0fr;
    }

    to {
        grid-template-rows: 1fr;
    }
}

.tui-enter,
.tui-leave {
    animation-duration: var(--tui-duration);
    animation-timing-function: ease-in-out;
    pointer-events: none;
}

.tui-leave {
    animation-direction: reverse;
}
