<tui-scroll-controls
    *ngIf="scrollbars$ | async"
    class="scrollbar"
></tui-scroll-controls>
<tui-svg-defs-host></tui-svg-defs-host>
<tui-dropdown-host>
    <div class="content">
        <ng-content></ng-content>
    </div>
    <ng-content select="tuiOverContent"></ng-content>
    <tui-dialog-host></tui-dialog-host>
    <ng-content select="tuiOverDialogs"></ng-content>
    <tui-alert-host></tui-alert-host>
    <ng-content select="tuiOverAlerts"></ng-content>
    <!-- TODO: 3.0 Remove-->
    <ng-content select="tuiOverNotifications"></ng-content>
</tui-dropdown-host>
<ng-content select="tuiOverPortals"></ng-content>
<tui-hints-host></tui-hints-host>
<ng-content select="tuiOverHints"></ng-content>
