@import '../../styles/mixins/mixins.less';

// Required by some Taiga UI components
@keyframes tuiPresent {
    to {
        content: '1';
    }
}

:host {
    position: relative;
    display: block;
    flex: 1;
}

.scrollbar {
    .fullsize(fixed, inset);
    margin: 0;
}

.content {
    .createStackingContext();
    height: 100%;
}
