<ng-container *tuiLet="hovered$ | async as hovered">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        focusable="false"
        preserveAspectRatio="none"
        width="100%"
        height="100%"
        class="t-svg"
        [attr.viewBox]="viewBox"
    >
        <defs>
            <linearGradient
                x1="0"
                x2="0"
                y1="1"
                y2="0"
                [attr.id]="fillId"
            >
                <stop
                    stop-color="currentColor"
                    offset="0%"
                    stop-opacity="0.5"
                />
                <stop
                    stop-color="currentColor"
                    offset="100%"
                    stop-opacity="0"
                />
            </linearGradient>
        </defs>
        <path
            stroke="none"
            [attr.fill]="fill"
            [attr.d]="fillD"
        />
        <path
            fill="none"
            stroke="currentColor"
            vector-effect="non-scaling-stroke"
            stroke-width="2"
            [attr.d]="d"
        />
    </svg>
    <ng-container *ngIf="dots">
        <div
            *ngFor="let point of value"
            class="t-dot"
            [style.left.%]="getLeft(point[0])"
            [style.bottom.%]="getBottom(point[1])"
        ></div>
    </ng-container>
    <ng-container *ngIf="hasHints">
        <ng-container *ngFor="let point of value; let index = index">
            <div
                *ngIf="value.length > 1 || dots"
                tuiHintDirection="top"
                class="t-column"
                [class.t-column_hovered]="hovered === index"
                [class.t-column_hint_hovered]="drivers.get(index) | async"
                [tuiHintHost]="hintHost"
                [tuiHint]="hintDirective || hintContent ? hint : ''"
                [tuiHintId]="getHintId(index)"
                [style.left.%]="getLeft(getX(index))"
                [style.width.%]="getWidth(index)"
                (mouseenter)="onMouseEnter(index)"
            >
                <div
                    class="t-line t-line_vertical"
                    [style.left.%]="getOffset(index)"
                ></div>
                <div
                    #hintHost
                    class="t-host"
                    [style.left.%]="getOffset(index)"
                    [style.bottom.%]="getBottom(point[1])"
                    [tuiFocusable]="isFocusable"
                    [tuiDescribedBy]="getHintId(index)"
                ></div>
            </div>
            <div
                *ngIf="isFocusable"
                class="t-line t-line_horizontal"
                [style.bottom.%]="getBottom(point[1])"
            ></div>
            <ng-template #hint>
                <!-- TODO: Consider adding context to Hint directive -->
                <ng-container *ngIf="hintDirective; else single">
                    <ng-container
                        *polymorpheusOutlet="hintDirective.hint as text; context: getContentContext(point, index)"
                    >
                        {{ text }}
                    </ng-container>
                </ng-container>
                <ng-template #single>
                    <!-- TODO: Polymorpheus fix type -->
                    <ng-container
                        *polymorpheusOutlet="$any(hintContent) as text; context: {$implicit: point, index: index}"
                    >
                        {{ text }}
                    </ng-container>
                </ng-template>
            </ng-template>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="getHovered(hovered) as point">
        <div
            *ngIf="xStringify"
            class="t-hint t-hint_x"
            [style.left.%]="getLeft(point[0])"
        >
            {{ xStringify(point[0]) }}
        </div>
        <div
            *ngIf="yStringify"
            class="t-hint t-hint_y"
            [style.bottom.%]="getBottom(point[1])"
        >
            {{ yStringify(point[1]) }}
        </div>
    </ng-container>
</ng-container>
