<ng-container *tuiLet="hovered$ | async as hovered">
    <svg
        focusable="false"
        height="100%"
        preserveAspectRatio="none"
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
        class="t-svg"
        [attr.viewBox]="viewBox"
    >
        <defs>
            <linearGradient
                x1="0"
                x2="0"
                y1="1"
                y2="0"
                [attr.id]="fillId"
            >
                <stop
                    offset="0%"
                    stop-color="currentColor"
                    stop-opacity="0.5"
                />
                <stop
                    offset="100%"
                    stop-color="currentColor"
                    stop-opacity="0"
                />
            </linearGradient>
        </defs>
        <path
            stroke="none"
            [attr.d]="fillD"
            [attr.fill]="fill"
        />
        <path
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            vector-effect="non-scaling-stroke"
            [attr.d]="d"
        />
    </svg>
    <ng-container *ngIf="dots">
        <div
            *ngFor="let point of value"
            class="t-dot"
            [style.bottom.%]="getBottom(point[1])"
            [style.left.%]="getLeft(point[0])"
        ></div>
    </ng-container>
    <ng-container *ngIf="hasHints">
        <ng-container *ngFor="let point of value; let index = index">
            <!-- TODO: Fix hint type -->
            <div
                *ngIf="value.length > 1 || dots"
                class="t-column"
                [class.t-column_hint_hovered]="drivers.get(index) | async"
                [class.t-column_hovered]="hovered === index"
                [style.left.%]="getLeft(getX(index))"
                [style.width.%]="getWidth(index)"
                [tuiHint]="$any(hintDirective?.hint || hintContent)"
                [tuiHintContext]="getContentContext(point, index)"
                [tuiHintDescribe]="getHintId(index)"
                [tuiHintHost]="hintHost"
                (mouseenter)="onMouseEnter(index)"
            >
                <div
                    class="t-line t-line_vertical"
                    [style.left.%]="getOffset(index)"
                ></div>
                <div
                    #hintHost
                    class="t-host"
                    [id]="getHintId(index)"
                    [style.bottom.%]="getBottom(point[1])"
                    [style.left.%]="getOffset(index)"
                    [tuiFocusable]="isFocusable"
                ></div>
            </div>
            <div
                *ngIf="isFocusable"
                class="t-line t-line_horizontal"
                [style.bottom.%]="getBottom(point[1])"
            ></div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="getHovered(hovered) as point">
        <div
            *ngIf="xStringify"
            class="t-hint t-hint_x"
            [style.left.%]="getLeft(point[0])"
        >
            {{ xStringify(point[0]) }}
        </div>
        <div
            *ngIf="yStringify"
            class="t-hint t-hint_y"
            [style.bottom.%]="getBottom(point[1])"
        >
            {{ yStringify(point[1]) }}
        </div>
    </ng-container>
</ng-container>
