@import 'taiga-ui-local';

:host {
    display: flex;
    font: var(--tui-font-text-s);
    border-radius: var(--tui-radius-m);
    height: var(--tui-height-m);
    color: var(--tui-text-01);
    text-align: left;

    &._disabled {
        pointer-events: none;
    }

    &[data-size='l'] {
        font: var(--tui-font-text-m);
        height: var(--tui-height-l);
    }
}

.t-textfield {
    position: relative;
    border-radius: inherit;
    text-align: inherit;
    flex-grow: 1;
    min-width: 0;

    :host:not(._hide-buttons) & {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.t-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 0.125rem;
    height: 100%;
}

.t-buttons .t-button {
    display: flex;
    width: calc(var(--tui-height-m) * 0.75);
    height: calc(50% - 0.0625rem);

    &_plus {
        margin-bottom: 0.125rem;
        border-radius: 0 var(--tui-radius-m) 0 0;
    }

    &_minus {
        border-radius: 0 0 var(--tui-radius-m);
    }

    :host[data-size='l'] & {
        width: calc(var(--tui-height-l) * 0.75);
    }
}
