<tui-primitive-textfield
    tuiValueAccessor
    tuiTextfieldAutocomplete="off"
    tuiTextfieldInputMode="numeric"
    class="t-textfield"
    [tuiTextfieldMaxLength]="18"
    [pseudoFocused]="pseudoFocused"
    [pseudoHovered]="pseudoHovered"
    [pseudoPressed]="pseudoPressed"
    [focusable]="focusable"
    [nativeId]="nativeId"
    [prefix]="prefix"
    [postfix]="postfix"
    [disabled]="computedDisabled"
    [readOnly]="readOnly"
    [textMask]="getMask(min < 0)"
    [invalid]="computedInvalid"
    [value]="computedValue"
    (valueChange)="onValueChange()"
    (keydown)="onKeydown($event)"
    (focusedChange)="onFocused($event)"
    (hoveredChange)="onHovered($event)"
    (pressedChange)="onPressed($event)"
>
    <ng-content></ng-content>
    <ng-content
        select="input"
        ngProjectAs="input"
    ></ng-content>
</tui-primitive-textfield>
<ng-container *ngIf="!buttonsHidden">
    <ng-container *ngIf="minusTexts$ | async as texts">
        <section class="t-buttons">
            <button
                tuiIconButton
                type="button"
                automation-id="tui-input-count__plus-button"
                size="s"
                class="t-button t-button_plus"
                [icon]="iconUp"
                [appearance]="options.appearance"
                [title]="texts[0]"
                [disabled]="plusButtonDisabled"
                [focusable]="false"
                (mousedown)="onButtonMouseDown($event, plusButtonDisabled)"
                (click)="increaseValue()"
            ></button>
            <button
                tuiIconButton
                type="button"
                automation-id="tui-input-count__minus-button"
                size="s"
                class="t-button t-button_minus"
                [icon]="iconDown"
                [appearance]="options.appearance"
                [disabled]="minusButtonDisabled"
                [focusable]="false"
                [title]="texts[1]"
                (mousedown)="onButtonMouseDown($event, minusButtonDisabled)"
                (click)="decreaseValue()"
            ></button>
        </section>
    </ng-container>
</ng-container>
