<tui-input-number
    decimal="never"
    class="t-textfield"
    [disabled]="computedDisabled"
    [focusable]="focusable"
    [max]="computedMax"
    [min]="computedMin"
    [nativeId]="nativeId"
    [postfix]="postfix"
    [prefix]="prefix"
    [pseudoActive]="pseudoActive"
    [pseudoFocus]="pseudoFocus"
    [pseudoHover]="pseudoHover"
    [pseudoInvalid]="pseudoInvalid"
    [readOnly]="readOnly"
    [(ngModel)]="value"
    (focusedChange)="onFocused($event)"
    (keydown)="onKeydown($event)"
>
    <ng-content></ng-content>
    <ng-content
        ngProjectAs="input"
        select="input"
    ></ng-content>
</tui-input-number>
<ng-container *ngIf="!buttonsHidden">
    <ng-container *ngIf="minusTexts$ | async as texts">
        <section class="t-buttons">
            <button
                automation-id="tui-input-count__plus-button"
                size="s"
                tuiIconButton
                type="button"
                class="t-button t-button_plus"
                [appearance]="options.appearance"
                [disabled]="plusButtonDisabled"
                [focusable]="false"
                [icon]="iconUp"
                [title]="texts[0]"
                (click)="increaseValue()"
                (mousedown)="onButtonMouseDown($event, plusButtonDisabled)"
            ></button>
            <button
                automation-id="tui-input-count__minus-button"
                size="s"
                tuiIconButton
                type="button"
                class="t-button t-button_minus"
                [appearance]="options.appearance"
                [disabled]="minusButtonDisabled"
                [focusable]="false"
                [icon]="iconDown"
                [title]="texts[1]"
                (click)="decreaseValue()"
                (mousedown)="onButtonMouseDown($event, minusButtonDisabled)"
            ></button>
        </section>
    </ng-container>
</ng-container>
