@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    gap: 1rem;
}

.red {
    color: var(--tui-text-negative);
}

.hover {
    .transition(color);
    color: var(--tui-background-accent-1);

    &:hover {
        color: var(--tui-background-accent-1-hover);
    }
}

.text {
    color: var(--tui-text-secondary);
}
