<div
    *ngIf="service.bar$ | async as item"
    class="t-wrapper"
    @tuiParentAnimation
>
    <div
        automation-id="tui-table-bar__bar"
        class="t-bar"
        [@tuiSlideInTop]="animation"
        [class.t-bar_light]="item.mode === 'onDark'"
    >
        <div
            class="t-container"
            [class.t-container_adaptive]="item.adaptive"
        >
            <div class="t-inner">
                <div
                    polymorpheus-outlet
                    class="t-content"
                    [content]="item.content"
                    [context]="getItemContext(item)"
                ></div>

                <button
                    *ngIf="item.hasCloseButton"
                    tuiIconButton
                    type="button"
                    automation-id="tui-table-bar__close-button"
                    size="xs"
                    appearance="icon"
                    class="t-close-button"
                    [icon]="closeIcon"
                    [tuiMode]="getMode(item.mode)"
                    [title]="closeWord$ | async"
                    (click)="onCloseClick(item)"
                ></button>
            </div>
        </div>
    </div>
</div>
