<tui-doc-page
    header="PrimitiveTextfield"
    package="LEGACY"
    type="components"
>
    <ng-template pageTab>
        <tui-notification appearance="error">
            <div>
                This component is deprecated, use new
                <a
                    tuiLink
                    [routerLink]="routes.Textfield"
                >
                    Textfield
                </a>
                instead to build your custom textfield controls
            </div>
        </tui-notification>
        <p>
            PrimitiveTextfield is a flexible string input that can be used as a base for complex inputs. Use it as a
            basis for other components.

            <strong>Does not work with Angular forms</strong>
        </p>

        <tui-doc-example
            id="example-size"
            heading="sizes"
            [content]="1 | tuiExample"
        >
            <tui-primitive-textfield-example-1 [(ngModel)]="password">
                Type a password
            </tui-primitive-textfield-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="options"
            heading="Options"
            [content]="2 | tuiExample: 'html,ts'"
        >
            <tui-notification class="tui-space_bottom-4">
                <div>
                    If you need to set some attributes or listen to events on native
                    <code>input</code>
                    , you can put it inside with
                    <code>Textfield</code>
                    directive as shown below
                </div>
            </tui-notification>
            <tui-primitive-textfield-example-2 [(ngModel)]="example2Value" />
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-primitive-textfield
                [disabled]="disabled"
                [editable]="editable"
                [focusable]="focusable"
                [invalid]="invalid"
                [pseudoActive]="pseudoPressed"
                [pseudoFocus]="pseudoFocused"
                [pseudoHover]="pseudoHovered"
                [readOnly]="readOnly"
                [style.text-align]="textAlign"
                [tuiHintAppearance]="hintAppearance"
                [tuiHintContent]="hintContent"
                [tuiHintDirection]="hintDirection"
                [tuiTextfieldCleaner]="cleaner"
                [tuiTextfieldCustomContent]="customContent"
                [tuiTextfieldFiller]="filler"
                [tuiTextfieldIcon]="iconContent"
                [tuiTextfieldIconLeft]="iconStart"
                [tuiTextfieldLabelOutside]="labelOutside"
                [tuiTextfieldPostfix]="postfix"
                [tuiTextfieldPrefix]="prefix"
                [tuiTextfieldSize]="size"
                [(value)]="value"
            >
                Component label
            </tui-primitive-textfield>
        </tui-doc-demo>
        <ng-template
            #template
            let-item
        >
            <tui-avatar
                size="xs"
                class="avatar"
            >
                {{ item }}
            </tui-avatar>
            {{ item }}
        </ng-template>
        <ng-template #interactiveContent>
            <tui-icon
                icon="@tui.calendar"
                class="icon-button"
                (click)="onClick()"
            />
        </ng-template>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="editable"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="editable"
            >
                Native input allows inputting
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="filler"
                documentationPropertyType="string"
                [documentationPropertyDeprecated]="true"
                [(documentationPropertyValue)]="filler"
            >
                Pale text suggestion for input (e.g. HH:MM:SS for time). Use
                <code>tuiTextfieldFiller</code>
                instead
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="tuiTextfieldIcon"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="selectedIcon"
            >
                Icon content. If content is a string, it is used as stringified svg.
                <p>
                    Requires you to import
                    <code>TuiTextfieldControllerModule</code>
                </p>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="readOnly"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="readOnly"
            >
                Component is read only
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="invalid"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="invalid"
            >
                Invalid state
            </ng-template>
            <ng-template
                documentationPropertyMode="input-output"
                documentationPropertyName="value"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="value"
            >
                Value
            </ng-template>
        </tui-doc-documentation>
        <hint-controller-documentation />
        <textfield-controller-documentation />
        <inherited-documentation />
        <tui-doc-documentation heading="CSS customization">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.text-align"
                documentationPropertyType="string"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Custom align content by text-align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
