<tui-doc-page
    deprecated
    header="PrimitiveTextfield"
    package="LEGACY"
    type="components"
>
    <ng-template pageTab>
        <tui-notification appearance="negative">
            This component is deprecated, use new
            <a
                tuiLink
                [routerLink]="routes.Textfield"
            >
                Textfield
            </a>
            instead to build your custom textfield controls
        </tui-notification>
        <p>
            PrimitiveTextfield is a flexible string input that can be used as a base for complex inputs. Use it as a
            basis for other components.

            <strong>Does not work with Angular forms</strong>
        </p>

        <tui-doc-example
            id="example-size"
            heading="sizes"
            [content]="1 | tuiExample"
        >
            <tui-primitive-textfield-example-1 [(ngModel)]="password">
                Type a password
            </tui-primitive-textfield-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="options"
            heading="Options"
            [content]="2 | tuiExample"
        >
            <tui-notification class="tui-space_bottom-4">
                If you need to set some attributes or listen to events on native
                <code>input</code>
                , you can put it inside with
                <code>Textfield</code>
                directive as shown below
            </tui-notification>
            <tui-primitive-textfield-example-2 [(ngModel)]="example2Value" />
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-primitive-textfield
                [disabled]="disabled"
                [editable]="editable"
                [focusable]="focusable"
                [invalid]="invalid"
                [pseudoActive]="pseudoPressed"
                [pseudoFocus]="pseudoFocused"
                [pseudoHover]="pseudoHovered"
                [readOnly]="readOnly"
                [style.text-align]="textAlign"
                [tuiHintAppearance]="hintAppearance"
                [tuiHintContent]="hintContent"
                [tuiHintDirection]="hintDirection"
                [tuiTextfieldCleaner]="cleaner"
                [tuiTextfieldCustomContent]="customContent"
                [tuiTextfieldFiller]="filler"
                [tuiTextfieldIcon]="iconContent"
                [tuiTextfieldIconLeft]="iconStart"
                [tuiTextfieldLabelOutside]="labelOutside"
                [tuiTextfieldPostfix]="postfix"
                [tuiTextfieldPrefix]="prefix"
                [tuiTextfieldSize]="size"
                [(value)]="value"
            >
                Component label
            </tui-primitive-textfield>
        </tui-doc-demo>
        <ng-template
            #template
            let-item
        >
            <tui-avatar
                size="xs"
                class="avatar"
            >
                {{ item }}
            </tui-avatar>
            {{ item }}
        </ng-template>
        <ng-template #interactiveContent>
            <tui-icon
                icon="@tui.calendar"
                class="icon-button"
                (click)="onClick()"
            />
        </ng-template>
        <table tuiDocAPI>
            <tr
                name="[disabled]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="disabled"
            >
                Disabled state
            </tr>
            <tr
                name="[editable]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="editable"
            >
                Native input allows inputting
            </tr>
            <tr
                deprecated
                name="[filler]"
                tuiDocAPIItem
                type="string"
                [(value)]="filler"
            >
                Pale text suggestion for input (e.g. HH:MM:SS for time). Use
                <code>tuiTextfieldFiller</code>
                instead
            </tr>
            <tr
                name="[tuiTextfieldIcon]"
                tuiDocAPIItem
                type="PolymorpheusContent"
                [items]="iconVariants"
                [(value)]="selectedIcon"
            >
                Icon content. If content is a string, it is used as stringified svg.
                <p>
                    Requires you to import
                    <code>TuiTextfieldControllerModule</code>
                </p>
            </tr>
            <tr
                name="[readOnly]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="readOnly"
            >
                Component is read only
            </tr>
            <tr
                name="[invalid]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="invalid"
            >
                Invalid state
            </tr>
            <tr
                name="[(value)]"
                tuiDocAPIItem
                type="string"
                [(value)]="value"
            >
                Value
            </tr>
        </table>
        <hint-controller-documentation />
        <textfield-controller-documentation />
        <inherited-documentation />
        <h3>CSS customization</h3>
        <table tuiDocAPI>
            <tr
                name="[style.text-align]"
                tuiDocAPIItem
                type="string"
                [items]="textAlignVariants"
                [(value)]="textAlign"
            >
                Custom align content by text-align
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
