@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
}

.icon-button {
    position: relative;
}

.avatar {
    margin-right: 0.5rem;
}

.label {
    inline-size: 22.5rem;
}

.input {
    margin-top: 0.25rem;
}
