@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
}

.icon-button {
    position: relative;
}

.avatar {
    margin-inline-end: 0.5rem;
}

.label {
    inline-size: 22.5rem;
}

.input {
    margin-block-start: 0.25rem;
}
