@import 'taiga-ui-angular-local';

:host {
    display: block;
}

.icon-button {
    position: relative;
}

.avatar {
    margin-right: 8px;
}

.label {
    width: 360px;
}

.input {
    margin-top: 4px;
}
