<tui-doc-page header="PrimitiveTextfield" package="CORE" type="components">
    <ng-template pageTab>
        <p i18n>
            PrimitiveTextfield is a flexible string input that can be used as a
            base for complex inputs. Use it as a basis for other components.

            <strong>Does not work with Angular forms</strong>
        </p>

        <tui-doc-example
            id="example-size"
            i18n-heading
            heading="sizes"
            [content]="example1"
        >
            <p>
                Simplified version of
                <a tuiLink routerLink="/tui-input-password"
                    ><code>InputPassword</code></a
                >:
            </p>
            <tui-primitive-textfield-example-1
                hintContent="Additional information"
                [(ngModel)]="password"
            >
                Type a password
            </tui-primitive-textfield-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-primitive-textfield
                [focusable]="focusable"
                [tuiTextfieldAutocomplete]="autocomplete"
                [tuiTextfieldCleaner]="cleaner"
                [tuiTextfieldCustomContent]="customContent"
                [tuiTextfieldInputMode]="inputMode"
                [tuiTextfieldMaxLength]="maxLength"
                [tuiTextfieldExampleText]="exampleText"
                [tuiTextfieldLabelOutside]="labelOutside"
                [tuiTextfieldSize]="size"
                [tuiTextfieldType]="type"
                [pseudoPressed]="pseudoPressed"
                [pseudoFocused]="pseudoFocused"
                [pseudoHovered]="pseudoHovered"
                [disabled]="disabled"
                [editable]="editable"
                [filler]="filler"
                [iconAlign]="iconAlign"
                [iconContent]="iconContent"
                [readOnly]="readOnly"
                [postfix]="postfix"
                [invalid]="invalid"
                [tuiHintContent]="hintContent"
                [tuiHintDirection]="hintDirection"
                [tuiHintMode]="hintMode"
                [(value)]="value"
            >
                Component label
            </tui-primitive-textfield>
        </tui-doc-demo>
        <ng-template #template="polymorpheus" polymorpheus let-item>
            <tui-avatar class="avatar" size="xs" [text]="item"></tui-avatar>
            {{item}}
        </ng-template>
        <ng-template #tuiIconInteractiveContent="polymorpheus" polymorpheus>
            <tui-svg
                class="icon-button"
                src="tuiIconCalendarLarge"
                (click)="onClick()"
            ></tui-svg>
        </ng-template>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="disabled"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="editable"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="editable"
            >
                Native input allows inputing
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="filler"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="filler"
            >
                Gray background text as a hint (e.g. HH:MM:SS for time)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="iconContent"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent | null"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="selectedIcon"
            >
                Icon content. If content is a string, it is used as stringified
                svg or a name of icon registered in
                <a tuiLink routerLink="/tui-svg-service"
                    ><code>SvgService</code></a
                >
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="iconAlign"
                documentationPropertyMode="input"
                documentationPropertyType="TuiHorizontalDirection"
                [documentationPropertyValues]="iconAlignVariants"
                [(documentationPropertyValue)]="iconAlign"
            >
                Icon align
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="postfix"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="postfix"
            >
                Unfocusable text after value. For example, currency symbol in
                <a tuiLink routerLink="/bui-input-number"
                    ><code>InputNumber</code></a
                >.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="readOnly"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="readOnly"
            >
                Component is read only
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="invalid"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="invalid"
            >
                Invalid state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="value"
                documentationPropertyMode="input-output"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="value"
            >
                Value
            </ng-template>
        </tui-doc-documentation>
        <hint-controller-documentation></hint-controller-documentation>
        <textfield-controller-documentation></textfield-controller-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiPrimitiveTextfieldModule</code> into a
                    module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>

    <ng-template i18n-pageTab pageTab="Theming">
        <tui-customization>
            <bootstrap *ngIf="isBootstrap"></bootstrap>
            <material *ngIf="isMaterial"></material>
            <tui-radio-list
                class="tui-space_bottom-4"
                size="l"
                orientation="horizontal"
                [items]="themes"
                [(ngModel)]="theme"
            ></tui-radio-list>
            <ng-template i18n #label="polymorpheus" polymorpheus>
                Theming sample
            </ng-template>
            <label
                tuiLabel
                class="theme-wrapper label"
                [label]="isBootstrap ? label : ''"
            >
                <tui-primitive-textfield
                    class="input"
                    value="Value"
                    tuiTextfieldExampleText="Example text"
                    [tuiTextfieldCleaner]="!isBootstrap"
                    [tuiTextfieldLabelOutside]="isBootstrap"
                    [tuiTextfieldSize]="customizationSize"
                >
                    {{placeholder}}
                </tui-primitive-textfield>
            </label>
        </tui-customization>
    </ng-template>
</tui-doc-page>
