<tui-doc-page header="PrimitiveTextfield" package="CORE">
    <ng-template pageTab>
        PrimitiveTextfield&nbsp;&mdash; базовый гибкий строковый инпут, лежащий
        в основе более сложных компонентов. Используйте для создания собственных
        пресетов, но не как самостоятельный компонент.
        <strong>Не поддерживает формы Angular</strong>

        <tui-doc-example
            id="example-size"
            heading="Размеры"
            [content]="example1"
        >
            <p>
                Упрощённый вариант
                <a tuiLink routerLink="/tui-input-password"
                    ><code>InputPassword</code></a
                >:
            </p>
            <tui-primitive-textfield-example-1
                hintContent="Additional information"
                [(ngModel)]="password"
            >
                Введите пароль
            </tui-primitive-textfield-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-primitive-textfield
                [focusable]="focusable"
                [tuiTextfieldAutocomplete]="autocomplete"
                [tuiTextfieldCleaner]="cleaner"
                [tuiTextfieldCustomContent]="customContent"
                [tuiTextfieldInputMode]="inputMode"
                [tuiTextfieldMaxLength]="maxLength"
                [tuiTextfieldExampleText]="exampleText"
                [tuiTextfieldLabelOutside]="labelOutside"
                [tuiTextfieldSize]="size"
                [tuiTextfieldType]="type"
                [pseudoPressed]="pseudoPressed"
                [pseudoFocused]="pseudoFocused"
                [pseudoHovered]="pseudoHovered"
                [disabled]="disabled"
                [editable]="editable"
                [filler]="filler"
                [iconAlign]="iconAlign"
                [iconContent]="iconContent"
                [readOnly]="readOnly"
                [postfix]="postfix"
                [invalid]="invalid"
                [tuiHintContent]="hintContent"
                [tuiHintDirection]="hintDirection"
                [tuiHintMode]="hintMode"
                [(value)]="value"
            >
                Лейбл внутри поля
            </tui-primitive-textfield>
        </tui-doc-demo>
        <ng-template #template="polymorpheus" polymorpheus let-item>
            <tui-avatar class="avatar" size="xs" [text]="item"></tui-avatar>
            {{item}}
        </ng-template>
        <ng-template #tuiIconInteractiveContent="polymorpheus" polymorpheus>
            <tui-svg
                class="icon-button"
                src="tuiIconCalendarLarge"
                (click)="onClick()"
            ></tui-svg>
        </ng-template>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Компонент заблокирован
            </ng-template>
            <ng-template
                documentationPropertyName="editable"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="editable"
            >
                Внутренний инпут позволяет ввод
            </ng-template>
            <ng-template
                documentationPropertyName="filler"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="filler"
            >
                Серый текст-подложка для ввода (например дд.мм.гггг для ввода
                даты)
            </ng-template>
            <ng-template
                documentationPropertyName="iconContent"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent | null"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="selectedIcon"
            >
                Произвольный контент иконки. В случае строки — вставляется как
                <code>src</code> или имя иконки в <code>tui-svg</code>. Для
                интерактивной иконки передавайте шаблон.
            </ng-template>
            <ng-template
                documentationPropertyName="iconAlign"
                documentationPropertyMode="input"
                documentationPropertyType="TuiHorizontalDirection"
                [documentationPropertyValues]="iconAlignVariants"
                [(documentationPropertyValue)]="iconAlign"
            >
                Положение иконки
            </ng-template>
            <ng-template
                documentationPropertyName="postfix"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="postfix"
            >
                Нефокусируемый текст, который будет добавлен после значения.
                Например, значок валюты в
                <a tuiLink routerLink="/bui-input-number"
                    ><code>InputNumber</code></a
                >.
            </ng-template>
            <ng-template
                documentationPropertyName="readOnly"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="readOnly"
            >
                Компонент доступен только для чтения
            </ng-template>
            <ng-template
                documentationPropertyName="invalid"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="invalid"
            >
                Невалидность поля
            </ng-template>
            <ng-template
                documentationPropertyName="value"
                documentationPropertyMode="input-output"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="value"
            >
                Значение поля
            </ng-template>
        </tui-doc-documentation>
        <hint-controller-documentation></hint-controller-documentation>
        <textfield-controller-documentation></textfield-controller-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                Для использования импортировать модули для работы с формами из
                Angular и модуль <code>TuiPrimitiveTextfieldModule</code> в
                модуль вашего пресета:

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                Добавить в шаблон:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>

    <ng-template pageTab="Темизация">
        <tui-customization>
            <bootstrap *ngIf="isBootstrap"></bootstrap>
            <material *ngIf="isMaterial"></material>
            <tui-radio-list
                class="tui-space_bottom-4"
                size="l"
                orientation="horizontal"
                [items]="themes"
                [(ngModel)]="theme"
            ></tui-radio-list>
            <ng-template #label="polymorpheus" polymorpheus>
                Пример для темизации
            </ng-template>
            <label
                tuiLabel
                class="theme-wrapper label"
                [label]="isBootstrap ? label : ''"
            >
                <tui-primitive-textfield
                    class="input"
                    value="Введённое значение"
                    tuiTextfieldExampleText="Пример ввода"
                    [tuiTextfieldCleaner]="!isBootstrap"
                    [tuiTextfieldLabelOutside]="isBootstrap"
                    [tuiTextfieldSize]="customizationSize"
                >
                    {{placeholder}}
                </tui-primitive-textfield>
            </label>
        </tui-customization>
    </ng-template>
</tui-doc-page>
