@import '@taiga-ui/core/styles/taiga-ui-local';

.scrollbar {
    width: 20rem;
}

.fade {
    .scrollbar-hidden();
    width: 100%;
    height: 2rem;
    font: var(--tui-font-heading-6);
    white-space: nowrap;
    overflow: auto;
}
