:host {
    display: flex;
    min-width: 2rem;
    min-height: 2rem;
    max-height: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 0 2px var(--tui-base-02);
    background: var(--tui-primary);
    align-items: center;
    justify-content: center;
    color: var(--tui-accent-text);
    box-sizing: border-box;
}
