:host {
    display: block;
    background: url('/assets/images/big-wallpaper.jpg');
    padding: 2rem;
    background-size: cover;
}

.blur {
    flex-direction: column;
    background: var(--tui-clear-inverse);
    color: var(--tui-text-01-night);
    backdrop-filter: blur(1rem);
}

.title {
    margin: -0.25rem 0 0;
    font: var(--tui-font-heading-6);
}

.text {
    margin-bottom: -0.125rem;
}
