.accordion {
    inline-size: 20rem;
    border-radius: 0;

    [tuiAccordion] {
        border-top: 1px solid var(--tui-border-normal);
        background: transparent !important;
        mask: none;
    }

    tui-expand,
    [tuiCell] {
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;
    }
}
