@import '@taiga-ui/core/styles/taiga-ui-local';

.icon-place {
    min-width: 4.25rem;
    min-height: 4.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.125rem;
}

.icon {
    transition: all 0.5s ease-in;
    box-shadow: 0 0.05rem 0.5rem #3333;
    will-change: transform, box-shadow;
    border-radius: 0.625rem;
    width: var(--tui-height-m);
    height: var(--tui-height-m);
    border: 0.5rem solid transparent;
    cursor: pointer;

    &:hover {
        transform: scale(1.5);
        background: var(--tui-background-base);
        z-index: 1;
    }

    &,
    &:hover {
        transition: 0.5s;
    }

    &:not(.t-appearance) {
        ::ng-deep [tuiWrapper][data-appearance='icon'] {
            opacity: 1 !important;
        }
    }
}
