<tui-doc-page
    header="PdfViewer"
    package="KIT"
>
    <ng-template pageTab>
        <p>Custom dialog to preview PDF</p>

        <tui-notification status="warning">
            Keep in mind mobile devices do not support displaying PDFs in iframe, so you need to rely on
            <code>TUI_IS_MOBILE</code>
            token to provide suitable alternative behavior. For example, you can use third-party service
            <code>https://drive.google.com/viewerng/viewer?embedded=true&url=$YOUR_PUBLIC_PATH_TO_PDF</code>
            or your own service to render PDF in mobile iframe with
            <code>pdf.js</code>
            .
        </tui-notification>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="example1"
        >
            <tui-pdf-viewer-example-1></tui-pdf-viewer-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="component"
            heading="Component"
            [content]="example2"
        >
            <tui-pdf-viewer-example-2></tui-pdf-viewer-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="directive"
            heading="Directive"
            [content]="example3"
        >
            <tui-pdf-viewer-example-3></tui-pdf-viewer-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                Import
                <code>TuiPdfViewerModule</code>
                to your main app module:

                <tui-doc-code
                    filename="app.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                Show preview with a service:

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleService"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
