@import 'taiga-ui-local';

:host {
    --tui-chart-0: #c779d0;
    --tui-chart-1: #feac5e;
    --tui-chart-2: #ff5f6d;
    --tui-chart-3: #4bc0c8;
    --tui-chart-4: #9795cd;
}

.chart {
    pointer-events: none;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    @media @mobile-m {
        flex-direction: column;
    }
}

.disable {
    .transition(~'transform, color');
    margin-left: 0.25rem;
    will-change: transform;
    color: var(--tui-text-02);
    pointer-events: auto;

    &:hover {
        color: var(--tui-text-01);
    }

    &_rotated {
        transform: rotate(45deg);
    }
}

.legend {
    margin: 0 0 0 2rem;
    justify-content: center;

    @media @mobile-m {
        margin: 2rem 0 0;
    }
}

.item {
    margin: 0 0.5rem 0.75rem 0;
}
