:host {
    position: relative;
    display: block;
    block-size: 1rem;
    box-sizing: border-box;
}

.t-circle {
    position: absolute;
    inline-size: 1rem;
    block-size: 1rem;
    border-radius: 100%;
    outline: 1px solid var(--tui-background-base);
    margin: 0 -0.5rem;
    box-shadow:
        inset 0 0 0 2px var(--tui-base-01),
        0 0 0 1px var(--tui-base-03);
}
