tui-app-bar {
    inline-size: 20rem;
    margin-block-end: 1rem;
    box-shadow: var(--tui-shadow-small);

    :host-context([data-platform='ios']._liquid-glass) & {
        box-shadow: none;
    }
}
