<div
    tuiDropdownOpenMonitor
    class="t-hosted"
    [tuiDropdown]="datalist || ''"
    [tuiDropdownEnabled]="canOpen"
    [(tuiDropdownOpen)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <tui-primitive-textfield
        tuiValueAccessor
        class="t-textfield"
        [disabled]="computedDisabled"
        [focusable]="focusable"
        [invalid]="computedInvalid"
        [maskito]="maskOptions"
        [nativeId]="nativeId"
        [pseudoFocus]="computedFocused"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldCleaner]="canClean"
        [(value)]="nativeValue"
        (valueChange)="onValueChange($event)"
    >
        <ng-content />
        <ng-content
            ngProjectAs="input"
            select="input"
        />
    </tui-primitive-textfield>
</div>
