:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: start;

    &._disabled,
    :host-context(*:disabled) {
        pointer-events: none;
    }
}

.t-hosted {
    display: block;
    border-radius: inherit;
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}
