<tui-doc-page i18n-header header="TextArea" package="KIT">
    <ng-template pageTab>
        <p i18n>
            Textfield for multiline input. It can be expanded from its content.
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="A simple field and expandable"
            [content]="example1"
        >
            <tui-text-area-example-1></tui-text-area-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="large"
            i18n-heading
            heading="Custom size"
            [content]="example2"
        >
            <tui-text-area-example-2></tui-text-area-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="large"
            i18n-heading
            heading="With label outside"
            [content]="example3"
        >
            <tui-text-area-example-3></tui-text-area-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-text-area
                class="b-form"
                [formControl]="control"
                [focusable]="focusable"
                [tuiTextfieldExampleText]="exampleText"
                [tuiTextfieldLabelOutside]="labelOutside"
                [tuiTextfieldMaxLength]="maxLength"
                [tuiTextfieldSize]="size"
                [expandable]="expandable"
                [pseudoInvalid]="pseudoInvalid"
                [pseudoFocused]="pseudoFocused"
                [pseudoHovered]="pseudoHovered"
                [readOnly]="readOnly"
                [rows]="rows"
                [tuiHintContent]="hintContent"
                [tuiHintDirection]="hintDirection"
                [tuiHintMode]="hintMode"
            >
                placeholder
                <strong>strong text</strong>
            </tui-text-area>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="disabled"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (formControl.disable())
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="expandable"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="expandable"
            >
                Control height can be expanded to show all content
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="rows"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="rowsVariants"
                [(documentationPropertyValue)]="rows"
            >
                A number of visible rows in
                <code>expandable</code> mode
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiTextAreaModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
