@if (options.showWeek) {
    <span>#</span>
}
@for (day of week(); track $index) {
    <span [attr.data-type]="getType(day)">{{ day.slice(0, 2) | uppercase }}</span>
}
@for (week of month() | tuiCalendarSheet: true; track week) {
    @for (day of week; track day) {
        @if (day.month <= month().month || options.showAdjacent) {
            @if (options.showWeek && $first) {
                <button
                    disabled
                    tabindex="-1"
                    type="button"
                    class="t-day"
                >
                    {{ day | tuiWeek }}
                </button>
            }
            <button
                tabindex="-1"
                type="button"
                class="t-day"
                [attr.data-range]="getRange(day)"
                [attr.data-type]="day | tuiMapper: options.dayType"
                [class.t-day_adjacent]="day.month !== month().month"
                [class.t-day_end]="$last"
                [class.t-day_hidden]="day.month < month().month && !options.showAdjacent"
                [class.t-day_start]="$first"
                [class.t-day_today]="day.daySame(today)"
                [disabled]="disabledItemHandler()(day)"
                (click)="pick.emit(day)"
                (mouseenter)="hovered.set(day)"
                (pointerdown.prevent.zoneless)="(0)"
            >
                {{ day.day }}
            </button>
        }
    }
}
