@import '@taiga-ui/styles/utils';

:host {
    display: grid;
    inline-size: 100%;
    color: var(--tui-text-secondary);
    font: var(--tui-typography-ui-s);
    grid-template: 2rem / repeat(7, 1fr);
    grid-auto-rows: 2.25rem;
    place-items: center;
}

.t-day {
    .transition(background);

    inline-size: 2rem;
    block-size: 2rem;
    padding: 0;
    border: 0;
    border-radius: 100%;
    background: transparent;
    font: var(--tui-typography-ui-m);
    color: var(--tui-text-primary);

    &:disabled {
        opacity: var(--tui-disabled-opacity);
    }

    &_adjacent {
        opacity: var(--tui-disabled-opacity);
    }

    &_active {
        background: var(--tui-background-accent-2);
        color: var(--tui-text-primary-on-accent-2);
    }

    @media @tui-mouse {
        &:not(:disabled):hover {
            background: var(--tui-background-neutral-1-hover);
            cursor: pointer;
        }

        &_active:not(:disabled):hover {
            background: var(--tui-background-accent-2-hover);
        }
    }
}
