<div
    *ngIf="hasYLabels"
    class="t-side"
    [class.t-side_padding]="hasXLabels"
>
    <div
        *ngIf="axisYName"
        automation-id="tui-axex__axis-y-name"
        class="t-name t-name_primary"
    >
        {{ axisYName }}
    </div>
    <div
        *ngIf="!axisYInset"
        class="t-labels-y t-labels-y_primary"
    >
        <div
            *ngFor="let label of axisYLabels"
            automation-id="tui-axex__axis-y-label"
            class="t-label-y"
        >
            {{ fallback(label) }}
        </div>
    </div>
</div>
<div class="t-wrapper">
    <div
        class="t-grid"
        [style.borderLeftStyle]="axisY"
        [style.borderBottomStyle]="axisX"
    >
        <div class="t-vertical">
            <div
                *tuiRepeatTimes="let index of verticalLines"
                automation-id="tui-axex__vertical-line"
                class="t-line t-line_vertical"
                [style.borderRightStyle]="verticalLinesHandler(index, verticalLines)"
            ></div>
        </div>
        <div class="t-horizontal">
            <div
                *tuiRepeatTimes="let index of horizontalLines"
                automation-id="tui-axex__horizontal-line"
                class="t-line"
                [style.borderTopStyle]="horizontalLinesHandler(index, horizontalLines)"
            ></div>
        </div>
        <div
            *ngIf="axisYInset"
            class="t-labels-y t-labels-y_inset"
        >
            <div
                *ngFor="let label of axisYLabels"
                automation-id="tui-axex__axis-y-label"
                class="t-label-y"
            >
                {{ fallback(label) }}
            </div>
        </div>
        <div
            *ngIf="axisYSecondaryInset"
            class="t-labels-y t-labels-y_inset t-labels-y_inset_secondary"
        >
            <div
                *ngFor="let label of axisYSecondaryLabels"
                automation-id="tui-axex__axis-y-secondary-label"
                class="t-label-y"
            >
                {{ fallback(label) }}
            </div>
        </div>
        <div class="t-content">
            <ng-content></ng-content>
        </div>
    </div>
    <div
        *ngIf="hasXLabels"
        class="t-labels-x"
    >
        <div
            *ngFor="let label of axisXLabels"
            automation-id="tui-axex__axis-x-label"
            class="t-label-x"
            [class.t-label-x_transparent]="label === null"
        >
            {{ fallback(label) }}
        </div>
    </div>
</div>
<div
    *ngIf="hasYSecondaryLabels"
    class="t-side"
    [class.t-side_padding]="hasXLabels"
>
    <div
        *ngIf="!axisYSecondaryInset"
        class="t-labels-y t-labels-y_secondary"
    >
        <div
            *ngFor="let label of axisYSecondaryLabels"
            automation-id="tui-axex__axis-y-secondary-label"
            class="t-label-y"
        >
            {{ fallback(label) }}
        </div>
    </div>
    <div
        *ngIf="axisYSecondaryName"
        automation-id="tui-axex__axis-y-secondary-name"
        class="t-name"
    >
        {{ axisYSecondaryName }}
    </div>
</div>
