@let ySecLabels = axisYSecondaryLabels();
@let ySecInset = axisYSecondaryInset();
@let yLabels = axisYLabels();
@let yInset = axisYInset();
@let hasXs = hasXLabels();

@if (hasYLabels()) {
    <div
        class="t-side"
        [class.t-side_padding]="hasXs"
    >
        @let yName = axisYName();
        @if (yName) {
            <div
                automation-id="tui-axex__axis-y-name"
                class="t-name t-name_primary"
            >
                {{ yName }}
            </div>
        }
        @if (!yInset) {
            <div class="t-labels-y t-labels-y_primary">
                @for (label of yLabels; track label) {
                    <div
                        automation-id="tui-axex__axis-y-label"
                        class="t-label-y"
                    >
                        {{ label || fallbackLabel }}
                    </div>
                }
            </div>
        }
    </div>
}
<div class="t-wrapper">
    <div
        class="t-grid"
        [style.borderBottomStyle]="axisX()"
        [style.borderLeftStyle]="axisY()"
    >
        <div class="t-vertical">
            @let vLineFn = verticalLinesHandler();
            @let vLines = verticalLines();
            @for (_ of '-'.repeat(vLines); track $index) {
                <div
                    automation-id="tui-axex__vertical-line"
                    class="t-line t-line_vertical"
                    [style.border-right-style]="vLineFn($index, vLines)"
                ></div>
            }
        </div>
        <div class="t-horizontal">
            @let hLineFn = horizontalLinesHandler();
            @let hLines = horizontalLines();
            @for (_ of '-'.repeat(hLines); track $index) {
                <div
                    automation-id="tui-axex__horizontal-line"
                    class="t-line"
                    [style.border-top-style]="hLineFn($index, hLines)"
                ></div>
            }
        </div>
        @if (yInset) {
            <div class="t-labels-y t-labels-y_inset">
                @for (label of yLabels; track label) {
                    <div
                        automation-id="tui-axex__axis-y-label"
                        class="t-label-y"
                    >
                        {{ label || fallbackLabel }}
                    </div>
                }
            </div>
        }
        @if (ySecInset) {
            <div class="t-labels-y t-labels-y_inset t-labels-y_inset_secondary">
                @for (label of ySecLabels; track label) {
                    <div
                        automation-id="tui-axex__axis-y-secondary-label"
                        class="t-label-y"
                    >
                        {{ label || fallbackLabel }}
                    </div>
                }
            </div>
        }
        <div class="t-content">
            <ng-content />
        </div>
    </div>
    @if (hasXs) {
        <div class="t-labels-x">
            @for (label of axisXLabels(); track label) {
                <div
                    automation-id="tui-axex__axis-x-label"
                    class="t-label-x"
                    [class.t-label-x_transparent]="label === null"
                >
                    {{ label || fallbackLabel }}
                </div>
            }
        </div>
    }
</div>
@if (hasYSecondaryLabels()) {
    <div
        class="t-side"
        [class.t-side_padding]="hasXs"
    >
        @if (!ySecInset) {
            <div class="t-labels-y t-labels-y_secondary">
                @for (label of ySecLabels; track label) {
                    <div
                        automation-id="tui-axex__axis-y-secondary-label"
                        class="t-label-y"
                    >
                        {{ label || fallbackLabel }}
                    </div>
                }
            </div>
        }
        @let axisYSec = axisYSecondaryName();
        @if (axisYSec) {
            <div
                automation-id="tui-axex__axis-y-secondary-name"
                class="t-name"
            >
                {{ axisYSec }}
            </div>
        }
    </div>
}
