@import '@taiga-ui/styles/utils';

:host {
    .transition(~'grid-template-rows, padding');

    position: relative;
    display: grid;
    grid-template-rows: 0fr;
    transition-delay: 1ms;

    &:not(._expanded) {
        padding-block: 0;
    }

    &._expanded {
        grid-template-rows: 1fr;

        > .t-wrapper {
            opacity: 1;
            visibility: visible;
        }

        &._open > .t-wrapper {
            overflow: visible;
        }
    }
}

.t-wrapper {
    .transition(all);

    grid-row: 1 / span 2;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}
