.container {
    inline-size: 12.5rem;
    block-size: 12.5rem;
}

.sidebar {
    inline-size: 100%;
    block-size: 100%;
}

.container,
.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
}
