<tui-doc-page
    header="Tree"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component to display tree-like data structure</p>

        <tui-doc-example
            id="manual"
            heading="Manual"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="array"
            heading="Array"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="template"
            heading="Template"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="programmatic"
            heading="Programmatic control"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="custom"
            heading="Custom"
            [component]="5 | tuiComponent"
            [content]="example5"
        />

        <tui-doc-example
            id="checkbox"
            heading="Checkbox"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="async"
            heading="Asynchronous"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-documentation
            heading="TreeItem"
            [showValues]="false"
        >
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="tuiTreeController"
                documentationPropertyType="boolean"
            >
                Directive used to enable opening/closing of nodes with children.
                <code>Boolean</code>
                input is the default state.
            </ng-template>
        </tui-doc-documentation>

        <tui-doc-documentation
            heading="Tree"
            [showValues]="false"
        >
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="childrenHandler"
                documentationPropertyType="TuiHandler<T, readonly T[]>"
            />
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="content"
                documentationPropertyType="PolymorpheusContent<TuiTreeContext>"
            />
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="data"
                documentationPropertyType="T"
            />
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="tuiTreeController"
                documentationPropertyType="boolean"
            >
                Directive used to enable opening/closing of nodes with children.
                <code>Boolean</code>
                input is the default state.
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="map"
                documentationPropertyType="Map<T, boolean>"
            >
                A map used with controller directive for manual programmatic toggling.
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="trackBy"
                documentationPropertyType="TrackByFunction<T>"
            >
                Function used by
                <code>*ngFor</code>
                directive to render nested tree items.
            </ng-template>
        </tui-doc-documentation>

        <tui-doc-documentation
            heading="Tokens"
            [showValues]="false"
        >
            <ng-template
                documentationPropertyName="TUI_TREE_CONTENT"
                documentationPropertyType="PolymorpheusContent<TuiTreeItemContext>"
            >
                Provide your own component used internally to display node content (see
                <a
                    fragment="custom"
                    tuiLink
                    [routerLink]="docRoutes.Tree"
                >
                    this example
                </a>
                )
            </ng-template>
            <ng-template
                documentationPropertyName="TUI_TREE_CONTROLLER"
                documentationPropertyType="TuiTreeController"
            >
                Provide your own open/closed controlling mechanism
            </ng-template>
            <ng-template
                documentationPropertyName="TUI_TREE_ACCESSOR"
                documentationPropertyType="TuiTreeAccessor<T>"
            >
                Provide your own tracker for value/node pairs (so you can match
                <code>TreeItem</code>
                instances to their corresponding
                <code>data: T</code>
                when using
                <code>Tree</code>
                component with custom open/closed controller)
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
