<tui-doc-page
    header="Tree"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p i18n>Component to display tree-like data structure</p>

        <tui-doc-example
            id="manual"
            i18n-heading
            heading="Manual"
            [content]="example1"
        >
            <tui-tree-example-1></tui-tree-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="array"
            i18n-heading
            heading="Array"
            [content]="example2"
        >
            <tui-tree-example-2></tui-tree-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="template"
            i18n-heading
            heading="Template"
            [content]="example3"
        >
            <tui-tree-example-3></tui-tree-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="programmatic"
            i18n-heading
            heading="Programmatic control"
            [content]="example4"
        >
            <tui-tree-example-4></tui-tree-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            i18n-heading
            heading="Custom"
            [content]="example5"
        >
            <tui-tree-example-5></tui-tree-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="checkbox"
            i18n-heading
            heading="Checkbox"
            [content]="example6"
        >
            <tui-tree-example-6></tui-tree-example-6>
        </tui-doc-example>

        <tui-doc-example
            id="async"
            i18n-heading
            heading="Asynchronous"
            [content]="example7"
        >
            <tui-tree-example-7></tui-tree-example-7>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-documentation
            heading="TreeItem"
            [showValues]="false"
        >
            <ng-template
                documentationPropertyName="tuiTreeController"
                documentationPropertyType="boolean"
                documentationPropertyMode="input"
            >
                Directive used to enable opening/closing of nodes with children.
                <code>Boolean</code>
                input is the default state.
            </ng-template>
        </tui-doc-documentation>

        <tui-doc-documentation
            heading="Tree"
            [showValues]="false"
        >
            <ng-template
                documentationPropertyName="childrenHandler"
                documentationPropertyType="TuiHandler<T, readonly T[]>"
                documentationPropertyMode="input"
            ></ng-template>
            <ng-template
                documentationPropertyName="content"
                documentationPropertyType="PolymorpheusContent<TuiTreeContext>"
                documentationPropertyMode="input"
            ></ng-template>
            <ng-template
                documentationPropertyName="data"
                documentationPropertyType="T"
                documentationPropertyMode="input"
            ></ng-template>
            <ng-template
                documentationPropertyName="tuiTreeController"
                documentationPropertyType="boolean"
                documentationPropertyMode="input"
            >
                Directive used to enable opening/closing of nodes with children.
                <code>Boolean</code>
                input is the default state.
            </ng-template>
            <ng-template
                documentationPropertyName="map"
                documentationPropertyType="Map<T, boolean>"
                documentationPropertyMode="input"
            >
                A map used with controller directive for manual programmatic toggling.
            </ng-template>
        </tui-doc-documentation>

        <tui-doc-documentation
            heading="Tokens"
            [showValues]="false"
        >
            <ng-template
                documentationPropertyName="TUI_TREE_CONTENT"
                documentationPropertyType="PolymorpheusContent<TuiTreeItemContext>"
            >
                Provide your own component used internally to display node content (see
                <a
                    tuiLink
                    routerLink="/components/tree"
                    fragment="custom"
                >
                    this example
                </a>
                )
            </ng-template>
            <ng-template
                documentationPropertyName="TUI_TREE_CONTROLLER"
                documentationPropertyType="TuiTreeController"
            >
                Provide your own open/closed controlling mechanism
            </ng-template>
            <ng-template
                documentationPropertyName="TUI_TREE_ACCESSOR"
                documentationPropertyType="TuiTreeAccessor<T>"
            >
                Provide your own tracker for value/node pairs (so you can match
                <code>TreeItem</code>
                instances to their corresponding
                <code>data: T</code>
                when using
                <code>Tree</code>
                component with custom open/closed controller)
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiTreeModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
