<label class="wrapper">
    <tui-checkbox
        [disabled]="computedDisabled"
        [readOnly]="readOnly"
        [focusable]="focusable"
        [nativeId]="nativeId"
        [pseudoInvalid]="computedInvalid"
        [pseudoFocused]="pseudoFocused"
        [pseudoHovered]="pseudoHovered"
        [pseudoPressed]="pseudoPressed"
        [size]="size"
        [ngModel]="value"
        (ngModelChange)="onModelChange($event)"
        (focusedChange)="onFocused($event)"
    ></tui-checkbox>
    <div
        class="content"
        [class.content_disabled]="computedDisabled"
    >
        <ng-content></ng-content>
    </div>
</label>
