@import 'taiga-ui-local';

:host {
    display: block;
}

.t-header {
    font: var(--tui-font-text-s);
    font-weight: bold;
}

.t-code {
    margin: 0;
}

.t-code + .t-code {
    margin-top: 1rem;
}

// highlightjs added class
.hljs:not(:empty) {
    .customize-scroll();
    font: var(--tui-font-text-m);
    padding: 1.5rem 2rem;
    font-family: monospace;
    background: var(--tui-clear);
    word-wrap: break-word;
    white-space: pre-wrap;

    :host._has-filename & {
        border-radius: 0.75rem;
    }

    :host-context(tui-root._mobile) & {
        padding: 1rem;
    }
}
