@use 'taiga-ui-local' as *;

:host {
    display: block;
}

.header {
    //@include text-body-s-bold();
}

.code {
    margin: 0;
}

// highlightjs added class
.hljs:not(:empty) {
    //@include text-body-m();
    //@include customize-scroll();
    padding: 24px 32px;
    font-family: monospace;
    background-color: var(--tui-base-02);
    word-wrap: break-word;
    white-space: pre-wrap;

    :host._has-filename & {
        border-radius: 12px;
    }

    @media #{$mobile} {
        padding: 16px;
    }
}
