@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    align-items: center;
}

.tag {
    .gradient(#2d96ff, #ff5011, 60deg);
    color: var(--tui-text-01-night);
    margin: 0.25rem;
}
