@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper {
    width: 12.5rem;
    text-align: right;
}

.link {
    font-size: 1.0625rem;
}

.item {
    min-width: 12.5rem;
}

.arrow {
    .transition(transform);

    &_open {
        transform: rotate(180deg);
    }
}
