.example {
    font-family: Georgia, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    width: 6.25rem;
    height: 6.25rem;
    position: relative;

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
