@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    flex-direction: column;
    box-shadow: inset -1px 0 var(--tui-base-03);
    color: var(--tui-text-02);
    font: var(--tui-font-text-m);

    &[data-vertical='right'] {
        box-shadow: inset 1px 0 var(--tui-base-03);
    }
}
