@import '../mixins/theme/palette.less';

@media screen {
    [tuiTheme='dark'] {
        color-scheme: dark;

        .tui-theme-dark();
    }

    [tuiTheme='light'] {
        color-scheme: light;
    }

    &:root,
    :host,
    [tuiTheme='light'] {
        .tui-theme-light();
    }
}

@media print {
    &:root,
    :host,
    [tuiTheme] {
        color-scheme: light;

        .tui-theme-light();
    }
}
