@import '@taiga-ui/styles/utils';

:host {
    display: flex;
    align-items: center;

    :host-context(tui-tree-item._expandable):not(._expandable) {
        padding-inline-start: 2rem;
    }
}

.t-button {
    .transition(transform);

    margin-inline-end: 0.5rem;

    &_expanded {
        transform: rotate(90deg);
    }
}
