@import '@taiga-ui/styles/utils';

:host {
    .scrollbar-hidden();

    display: flex;
    max-inline-size: 100%;
    overscroll-behavior: none;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    &:active .t-item {
        padding-block-start: 1px;
        margin-block-start: -1px;
    }
}

.t-item {
    position: relative;
    display: flex;
    min-inline-size: 100%;
    block-size: 100%;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
