<tui-doc-page
    header="InputDate"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <div class="tui-space_bottom-9">
            <code>InputDate</code>
            – input with a calendar.
        </div>

        <p>
            Date formatting can be customized with
            <a
                fragment="date-format"
                tuiLink
                [routerLink]="docRoutes.Tokens"
            >
                TUI_DATE_FORMAT
            </a>
            token.
        </p>

        <p class="tui-space_bottom-9">
            <a
                fragment="date-localization"
                routerLink="."
                tuiLink
            >
                See example
            </a>
            with the usage of these tokens.
        </p>

        <h3>DI-tokens for input-configurations:</h3>
        <dl>
            <dt>
                <code>TUI_DATE_VALUE_TRANSFORMER</code>
            </dt>
            <dd>
                custom format of control output (
                <a
                    href="https://github.com/taiga-family/taiga-ui/blob/main/projects/cdk/date-time/day.ts"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    TuiDay
                </a>
                is default).
                <p>
                    <a
                        fragment="native-date-output"
                        routerLink="."
                        tuiLink
                    >
                        See example
                    </a>
                    with built-in
                    <a
                        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date"
                        rel="noreferrer"
                        target="_blank"
                        tuiLink
                    >
                        Date
                    </a>
                    object as control's output.
                </p>
            </dd>
        </dl>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="sizes"
            heading="sizes"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="named"
            heading="With named dates"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="date-localization"
            heading="Date localization"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="native-date-output"
            heading="With native Date output"
            [component]="5 | tuiComponent"
            [content]="example5"
        />

        <tui-doc-example
            id="native-input-date"
            heading="Native input date"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="dynamic-date-format"
            heading="Dynamic date format"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-date
                    [disabledItemHandler]="disabledItemHandler"
                    [focusable]="focusable"
                    [formControl]="control"
                    [items]="items"
                    [markerHandler]="markerHandler"
                    [max]="max"
                    [min]="min"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [style.text-align]="textAlign"
                    [tuiDropdownOpen]="!!(dropdownOpen | async)"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldIconLeft]="iconLeft"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    (tuiDropdownOpenChange)="dropdownOpen.next($event)"
                >
                    Choose a date
                </tui-input-date>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabledItemHandler"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="items"
                documentationPropertyType="TuiNamedDay[]"
                [documentationPropertyValues]="itemsVariants"
                [(documentationPropertyValue)]="items"
            >
                A list of preset dates for dropdown
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="markerHandler"
                documentationPropertyType="TuiMarkerHandler | null"
                [documentationPropertyValues]="markerHandlerVariants"
                [(documentationPropertyValue)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with circled marker colors
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Minimum date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Maximum date
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation [dropdown]="true" />
        <tui-doc-documentation heading="CSS customization">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.text-align"
                documentationPropertyType="string"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Custom align content by text-align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <p>
            If you want to use
            <a
                tuiLink
                [routerLink]="docRoutes.MobileCalendar"
            >
                MobileCalendar
            </a>
            with your controls add
            <code>tuiProvideMobileCalendar()</code>
            to the providers
        </p>
        <tui-setup />
    </ng-template>
</tui-doc-page>
