<tui-doc-page
    header="InputDate"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <div
            i18n
            class="tui-space_bottom-9"
        >
            <code>InputDate</code>
            – input with a calendar.
        </div>

        <h3 i18n>DI-tokens for date localization:</h3>
        <dl i18n>
            <dt><code>TUI_DATE_FORMAT</code></dt>
            <dd class="tui-space_bottom-5">
                active date format (
                <code>'DMY' | 'MDY' | 'YMD'</code>
                ).
            </dd>
            <dt><code>TUI_DATE_SEPARATOR</code></dt>
            <dd>single-character date's separator (dot, slash etc.).</dd>
        </dl>
        <p class="tui-space_bottom-9">
            <a
                tuiLink
                routerLink="."
                fragment="date-localization"
            >
                See example
            </a>
            with the usage of these tokens.
        </p>

        <h3 i18n>DI-tokens for input-configurations:</h3>
        <dl i18n>
            <dt><code>TUI_DATE_VALUE_TRANSFORMER</code></dt>
            <dd>
                custom format of control output (
                <a
                    tuiLink
                    target="_blank"
                    href="https://github.com/Tinkoff/taiga-ui/blob/main/projects/cdk/date-time/day.ts"
                >
                    TuiDay
                </a>
                is default).
                <p>
                    <a
                        tuiLink
                        routerLink="."
                        fragment="native-date-output"
                    >
                        See example
                    </a>
                    with built-in
                    <a
                        tuiLink
                        target="_blank"
                        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date"
                    >
                        Date
                    </a>
                    object as control's output.
                </p>
            </dd>
        </dl>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-input-date-example-1></tui-input-date-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            i18n-heading
            heading="sizes"
            [content]="example2"
        >
            <tui-input-date-example-2></tui-input-date-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="named"
            i18n-heading
            heading="With named dates"
            [content]="example3"
        >
            <tui-input-date-example-3></tui-input-date-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="date-localization"
            i18n-heading
            heading="Date localization"
            [content]="example4"
        >
            <tui-input-date-example-4></tui-input-date-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="native-date-output"
            i18n-heading
            heading="With native Date output"
            [content]="example5"
        >
            <tui-input-date-example-5></tui-input-date-example-5>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-date
                    [formControl]="control"
                    [focusable]="focusable"
                    [min]="min"
                    [max]="max"
                    [markerHandler]="markerHandler"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [disabledItemHandler]="disabledItemHandler"
                    [items]="items"
                    [tuiTextfieldAutocomplete]="autocomplete"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldExampleText]="exampleText"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintMode]="hintMode"
                >
                    Choose a date
                </tui-input-date>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>
                    A handler that gets a date and returns true if it is
                    disabled.
                </div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="items"
                documentationPropertyMode="input"
                documentationPropertyType="TuiNamedDay[]"
                [documentationPropertyValues]="itemsVariants"
                [(documentationPropertyValue)]="items"
            >
                A list of preset dates for dropdown
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="markerHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMarkerHandler"
                [documentationPropertyValues]="markerHandlerVariants"
                [(documentationPropertyValue)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with
                circled marker colors
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Minimum date
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Maximum date
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation [dropdown]="true"></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <p i18n>
            Mobile calendar does not use the same dropdown with calendar as
            desktop uses. It uses digital keyboard. If you want to open
            <a
                tuiLink
                routerLink="/components/mobile-calendar"
            >
                mobile calendar
            </a>
            , add imports of
            <code>TuiMobileCalendarDialogModule</code>
            and
            <code>TuiDialogModule</code>
            into your root module. Also, check that you did not forget about
            <a
                tuiLink
                routerLink="/getting-started"
            >
                tui-root
            </a>
        </p>

        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiInputDateModule</code>
                    in the same module where you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (
                    <code>FormGroup</code>
                    ) or a control (
                    <code>FormControl</code>
                    ) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleForm"
                ></tui-doc-code>
            </li>

            <li>
                Use
                <code>TuiInputDate</code>
                in template:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
