@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: sticky;
    bottom: 0;
    display: block;
    block-size: 0;
}

.t-overlay {
    .transition(opacity);
    .fullsize(fixed);

    z-index: -1;
    block-size: 100%;
    background: #000;
    opacity: 0.1%; // Safari stops scroll if transitioning from 0
    pointer-events: none;

    .t-wrapper_overlay ~ & {
        opacity: 80%;
        pointer-events: auto;
        touch-action: none;
    }
}

.t-wrapper {
    position: absolute;
    bottom: 0;
    z-index: 0;
    inline-size: 100%;
    /* stylelint-disable-next-line */
    block-size: 100vh;
    overflow: hidden;

    &_visible {
        overflow: visible;
    }
}
