<tui-doc-page
    header="Label"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        <p>Component binds a label and a content, e.g., a textfield</p>

        <tui-doc-example
            id="basic"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="multiline"
            heading="Multiline"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="text"
            heading="Text"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <label [tuiLabel]="getLabel(template)">Content inside label</label>
        </tui-doc-demo>
        <ng-template #template>
            Label is a template
            <tui-tooltip content="This way you can use components or any HTML" />
        </ng-template>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="label"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="labelVariants"
                [(documentationPropertyValue)]="label"
            >
                Label
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
