@import 'taiga-ui-local';

:host {
    position: relative;
    height: var(--tui-height-m);
    font: var(--tui-font-text-s);
    text-align: left;
    padding: 0 0.75rem;
    background: var(--tui-base-01);
    border: 1px solid var(--tui-base-04);
    border-top: none;
    box-sizing: border-box;
    // Create new viewport for fixed positioning
    transform: translate3d(0, 0, 0);

    &:first-child {
        left: 0;
    }

    &:not(:first-child) {
        border-left: none;
    }

    &._editable:focus-within {
        z-index: 1;
    }

    &._editable {
        padding: 0;
        vertical-align: top;
    }
}

:host(th) {
    position: sticky;
    z-index: 1;

    &:after {
        .transition(opacity);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 0.3125rem;
        pointer-events: none;
        background: rgba(237, 237, 237, 0.7);
        opacity: 0;
    }

    &:focus-within:not(:disabled) {
        z-index: 11;
    }
}

:host-context(table[data-mode='onDark']):after {
    background: rgba(60, 60, 60, 0.9);
}

:host-context(table._stuck) {
    z-index: 10;
}

:host-context(table._stuck):last-of-type:after {
    opacity: 1;
}

:host-context(table[data-size='l']) {
    font: var(--tui-font-text-m);
    height: var(--tui-height-l);
    // Don't affect vertical padding for easier override
    padding-left: 1rem;
    padding-right: 1rem;

    &._editable {
        padding: 0;
    }
}

:host(td) {
    &:focus-within {
        z-index: 1;
    }

    &:not(:focus-within) {
        z-index: 0;
    }
}
