@import '@taiga-ui/core/styles/taiga-ui-local';

.box {
    width: 16rem;
    height: 16rem;
    background: var(--tui-base-02);
}

.content {
    padding: 0 0.6875rem;
}

p {
    color: fade(#fff, 72%);
    white-space: nowrap;
}
