@import 'taiga-ui-local';

.box {
    width: 256px;
    height: 256px;
    background: var(--tui-base-07);
}

.content {
    padding: 0 11px;
}

p {
    color: fade(#fff, 72%);
    white-space: nowrap;
}
