@import 'taiga-ui-local';

:host {
    display: block;
}

.wrapper {
    .shadow();
    width: 22.5rem;
    border-radius: var(--tui-radius-l);
    margin-bottom: 1rem;
}

.push {
    box-shadow: none;
}

.human {
    color: var(--tui-positive);
}
