.container {
    max-block-size: 30rem;
    inline-size: 20rem;
    overflow: scroll;
    overscroll-behavior: none;
}

tui-segmented {
    inline-size: 6rem;
    margin-block-end: 1rem;
}

.default {
    display: block;
}

.liquid-glass {
    display: none;
}

:host-context(._liquid-glass) {
    .default {
        display: none;
    }

    .liquid-glass {
        display: block;
    }
}
