<ng-container *ngIf="content?.changes | async" />
<ng-container *ngIf="hintOptions?.change$ | async" />
<div
    automation-id="tui-primitive-textfield__wrapper"
    tuiWrapper
    [active]="pseudoActive"
    [appearance]="appearance"
    [disabled]="disabled"
    [focus]="computedFocused"
    [hover]="pseudoHover"
    [invalid]="computedInvalid"
    [readOnly]="readOnly"
    [style.--text-indent.px]="decor.pre$ | async"
    (click.prevent.silent)="detectRetargetFromLabel($event)"
    (mousedown)="onMouseDown($event)"
>
    <ng-content select="input" />
    <ng-content select="select" />
    <input
        #focusableElement
        automation-id="tui-primitive-textfield__native-input"
        class="t-input"
        [attr.aria-invalid]="computedInvalid"
        [attr.name]="name"
        [disabled]="computedDisabled"
        [id]="id"
        [ngModel]="value"
        [readOnly]="readOnly || !editable"
        [tabIndex]="computedFocusable ? 0 : -1"
        (ngModelChange)="onModelChange($event)"
    />
    <div
        *ngIf="inputHidden"
        automation-id="tui-primitive-textfield__value"
        class="t-input t-input_template"
    >
        <ng-content select="tuiContent" />
    </div>
    <div class="t-content">
        <div
            *ngIf="iconLeftContent"
            class="t-icon t-icon_left t-textfield-icon"
        >
            <tui-icon
                *polymorpheusOutlet="iconLeftContent as src; context: {$implicit: size}"
                tuiAppearance="icon"
                [icon]="src.toString()"
            />
        </div>
        <div class="t-wrapper">
            <label
                *ngIf="hasPlaceholder"
                automation-id="tui-primitive-textfield__placeholder"
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
                [for]="computedId"
            >
                <ng-content />
            </label>
            <div class="t-wrapper-value-decoration">
                <tui-value-decoration
                    #decor
                    aria-hidden="true"
                    automation-id="tui-primitive-textfield__value-decoration"
                    class="t-value-decoration"
                    [class.t-has-value]="value"
                    [style.textIndent.px]="getIndent$(focusableElement) | async"
                />
            </div>
        </div>
        <div class="t-icons">
            <div
                *ngIf="hasCustomContent"
                automation-id="tui-primitive-textfield__custom-content"
                class="t-custom-content"
            >
                <tui-icon
                    *polymorpheusOutlet="controller.customContent as src"
                    class="t-custom-icon"
                    [icon]="src"
                />
            </div>
            <span
                *ngIf="hasCleaner"
                appearance="icon"
                automation-id="tui-primitive-textfield__cleaner"
                tuiWrapper
                class="t-cleaner"
                (click.stop)="clear()"
            >
                <tui-icon
                    *polymorpheusOutlet="
                        iconCleaner || controller.options.iconCleaner as src;
                        context: {$implicit: size}
                    "
                    [icon]="src.toString()"
                    [style.border]="'0.25rem solid transparent'"
                />
            </span>
            <tui-tooltip
                *ngIf="showHint"
                automation-id="tui-primitive-textfield__tooltip"
                class="t-tooltip"
                [content]="hintOptions?.content"
                [describeId]="computedId"
            />
            <div
                *ngIf="iconContent"
                class="t-icon t-textfield-icon"
            >
                <tui-icon
                    *polymorpheusOutlet="iconContent as src; context: {$implicit: size}"
                    tuiAppearance="icon"
                    [icon]="src.toString()"
                />
            </div>
        </div>
    </div>
</div>
