@import '@taiga-ui/core/styles/taiga-ui-local';
@import '@taiga-ui/legacy/styles/taiga-ui-local';

.textfield();

:host {
    &._autofilled {
        &[data-size='s'] .t-placeholder,
        &._label-outside .t-placeholder,
        .t-value-decoration:not(.t-has-value) {
            visibility: hidden;
        }
    }

    &[data-size='s'] tui-icon {
        border: 0.25rem solid transparent;
    }
}

.t-custom-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    height: 2rem;
    pointer-events: none;
}

.t-custom-icon {
    width: 2rem;
    height: 100%;
}

.t-input {
    &:not(:first-child) {
        display: none;
    }

    :host[data-size] &_template {
        display: flex;
        width: calc(100% - 1rem);
        max-width: calc(100% - 1rem);
        align-items: center;
        pointer-events: none;
        padding-inline-end: 0;
    }
}

.t-text-template {
    .text-overflow();
}

.t-wrapper-value-decoration {
    position: relative;
    pointer-events: none;
}
