<div
    *ngFor="let set of transposed; let index = index"
    tuiHintDirection="top-left"
    class="t-wrapper"
    [class.t-wrapper_hoverable]="hasHint"
    [class.t-wrapper_hovered]="drivers.get(index) | async"
    [tuiHintHost]="hintHost"
    [tuiHintId]="getHintId(index)"
    [tuiHint]="getHint(hint)"
    [tuiHintAppearance]="hintAppearance"
>
    <div
        class="t-container"
        [style.height.%]="set | tuiMapper: percentMapper:collapsed:computedMax"
    >
        <div
            #hintHost
            class="t-host"
        ></div>
        <tui-bar-set
            class="t-set"
            [tuiDescribedBy]="getHintId(index)"
            [tuiFocusable]="hasHint"
            [value]="set"
            [size]="size"
            [collapsed]="collapsed"
        ></tui-bar-set>
    </div>
    <ng-template
        #hint="polymorpheus"
        polymorpheus
    >
        <!-- TODO: Consider adding context to Hint directive -->
        <ng-container *polymorpheusOutlet="hintContent as text; context: {$implicit: index}">
            {{ text }}
        </ng-container>
    </ng-template>
</div>
