<div
    *ngFor="let set of transposed; let index = index"
    tuiHintDirection="top-left"
    class="wrapper"
    [class.wrapper_hoverable]="hasHint"
    [tuiHintHost]="hintHost"
    [tuiHintId]="getHintId(index)"
    [tuiHint]="getHint(hint)"
    [tuiHintMode]="hintMode"
>
    <div
        class="container"
        [style.height.%]="set | tuiMapper : percentMapper : collapsed : computedMax"
    >
        <div #hintHost class="host"></div>
        <tui-bar-set
            class="set"
            [tuiDescribedBy]="getHintId(index)"
            [tuiFocusable]="hasHint"
            [value]="set"
            [size]="size"
            [collapsed]="collapsed"
            [colorHandler]="colorHandler"
        ></tui-bar-set>
    </div>
    <ng-template #hint="polymorpheus" polymorpheus>
        <div
            polymorpheus-outlet
            class="text"
            [content]="hintContent"
            [context]="getContentContext(index)"
        ></div>
    </ng-template>
</div>
