<div
    *ngFor="let set of transposed; let index = index"
    tuiHintDirection="top-left"
    class="t-wrapper"
    [class.t-wrapper_hoverable]="hasHint"
    [tuiHintHost]="hintHost"
    [tuiHintId]="getHintId(index)"
    [tuiHint]="getHint(hint)"
    [tuiHintMode]="hintMode"
>
    <div
        class="t-container"
        [style.height.%]="set | tuiMapper: percentMapper:collapsed:computedMax"
    >
        <div
            #hintHost
            class="t-host"
        ></div>
        <tui-bar-set
            class="t-set"
            [tuiDescribedBy]="getHintId(index)"
            [tuiFocusable]="hasHint"
            [value]="set"
            [size]="size"
            [collapsed]="collapsed"
            [colorHandler]="colorHandler"
        ></tui-bar-set>
    </div>
    <ng-template
        #hint="polymorpheus"
        polymorpheus
    >
        <div
            *polymorpheusOutlet="hintContent as text; context: getContentContext(index)"
            class="t-text"
            [textContent]="text"
        ></div>
    </ng-template>
</div>
