<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="canOpen"
    [content]="datalist || ''"
    [(open)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <tui-primitive-textfield
        automation-id="tui-input__textfield"
        class="t-textfield"
        [disabled]="computedDisabled"
        [focusable]="computedFocusable"
        [invalid]="computedInvalid"
        [nativeId]="nativeId"
        [pseudoFocus]="computedFocused"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [value]="value"
        (valueChange)="onValueChange($event)"
    >
        <ng-content></ng-content>
        <ng-content
            ngProjectAs="input"
            select="input"
        ></ng-content>
    </tui-primitive-textfield>
</tui-hosted-dropdown>
