<tui-hosted-dropdown
    class="hosted"
    [canOpen]="canOpen"
    [content]="datalist || ''"
    [(open)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <tui-primitive-textfield
        automation-id="tui-input__textfield"
        class="textfield"
        [pseudoFocused]="computedFocused"
        [pseudoHovered]="computedHovered"
        [invalid]="computedInvalid"
        [nativeId]="nativeId"
        [readOnly]="readOnly"
        [disabled]="computedDisabled"
        [focusable]="computedFocusable"
        [value]="value"
        (valueChange)="onValueChange($event)"
        (hoveredChange)="onHovered($event)"
    >
        <ng-content></ng-content>
        <ng-content
            select="input"
            ngProjectAs="input"
        ></ng-content>
    </tui-primitive-textfield>
</tui-hosted-dropdown>
