@media-retina: ~'(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
@media-retina-mobile: ~'(-webkit-min-device-pixel-ratio: 2) and (max-width: 37.4375rem), (min-resolution: 192dpi) and (max-width: 37.4375rem)';
@media-retina-tablet: ~'(-webkit-min-device-pixel-ratio: 2) and (max-width: 63.9375rem), (min-resolution: 192dpi) and (max-width: 63.9375rem)';
@media-retina-desktop: ~'(-webkit-min-device-pixel-ratio: 2) and (max-width: 84.9375rem), (min-resolution: 192dpi) and (max-width: 84.9375rem)';

@mobile: ~'screen and (max-width: 37.4375rem)';
@mobile-min: ~'screen and (min-width: 20rem)';
@mobile-interval: ~'(min-width: 20rem) and (max-width: 37.4375rem)';

@tablet-s: ~'screen and (max-width: 47.9375rem)';
@tablet-s-min: ~'screen and (min-width: 37.5rem)';
@tablet-s-interval: ~'(min-width: 37.5rem) and (max-width: 47.9375rem)';

@tablet-lg: ~'screen and (max-width: 63.9375rem)';
@tablet-lg-min: ~'screen and (min-width: 48rem)';
@tablet-lg-interval: ~'(min-width: 48rem) and (max-width: 63.9375rem)';

@tablet: ~'screen and (max-width: 63.9375rem)';
@tablet-min: ~'screen and (min-width: 37.5rem)';
@tablet-interval: ~'(min-width: 37.5rem) and (max-width: 63.9375rem)';

@desktop: ~'screen and (max-width: 84.9375rem)';
@desktop-min: ~'screen and (min-width: 64rem)';
@desktop-interval: ~'(min-width: 64rem) and (max-width: 84.9375rem)';

@desktop-lg-min: ~'screen and (min-width: 85rem)';
