$tui-media-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
$tui-media-retina-mobile: '(-webkit-min-device-pixel-ratio: 2) and (max-width: 37.4625em), (min-resolution: 192dpi) and (max-width: 37.4625em)';
$tui-media-retina-tablet: '(-webkit-min-device-pixel-ratio: 2) and (max-width: 63.9625em), (min-resolution: 192dpi) and (max-width: 63.9625em)';
$tui-media-retina-desktop: '(-webkit-min-device-pixel-ratio: 2) and (max-width: 84.9625em), (min-resolution: 192dpi) and (max-width: 84.9625em)';

$tui-mobile: 'screen and (max-width: 47.9625em)';
$tui-mobile-min: 'screen and (min-width: 22.5em)';
$tui-mobile-interval: '(min-width: 22.5em) and (max-width: 47.9625em)';

$tui-tablet: 'screen and (max-width: 63.9625em)';
$tui-tablet-min: 'screen and (min-width: 48em)';
$tui-tablet-interval: '(min-width: 48em) and (max-width: 63.9625em)';

$tui-desktop: 'screen and (max-width: 79.9625em)';
$tui-desktop-min: 'screen and (min-width: 64em)';
$tui-desktop-interval: '(min-width: 64em) and (max-width: 79.9625em)';

$tui-desktop-lg-min: 'screen and (min-width: 80em)';

// TODO: 4.0 delete all deprecations below
// deprecated
$media-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
$media-retina-mobile: '(-webkit-min-device-pixel-ratio: 2) and (max-width: 599px), (min-resolution: 192dpi) and (max-width: 599px)';
$media-retina-tablet: '(-webkit-min-device-pixel-ratio: 2) and (max-width: 1023px), (min-resolution: 192dpi) and (max-width: 1023px)';
$media-retina-desktop: '(-webkit-min-device-pixel-ratio: 2) and (max-width: 1359px), (min-resolution: 192dpi) and (max-width: 1359px)';

$mobile-m: 'screen and (max-width: 47.9625em)';
$mobile-m-min: 'screen and (min-width: 20em)';
$mobile-m-interval: '(min-width: 20em) and (max-width: 47.9625em)';

$tablet-lg: 'screen and (max-width: 63.9625em)';
$tablet-lg-min: 'screen and (min-width: 48em)';
$tablet-lg-interval: '(min-width: 48em) and (max-width: 63.9625em)';

$desktop-s: 'screen and (max-width: 79.9625em)';
$desktop-s-min: 'screen and (min-width: 64em)';
$desktop-s-interval: '(min-width: 64em) and (max-width: 79.9625em)';

$desktop-m-min: 'screen and (min-width: 80em)';
