@import 'taiga-ui-local';

.dummy {
    height: 200px;
    background-color: rgba(208, 2, 27, 0.3);

    &:not(&_fixed) {
        @media @mobile {
            margin-bottom: 12px;
            height: 20px;
        }
    }
}

.tui-container {
    &_example {
        background-color: rgba(204, 228, 255, 0.3);
    }
}
