@import 'taiga-ui-local';

tui-app-bar {
    .shadow(6);
    width: 20rem;
    margin-bottom: 1rem;
}

.color {
    color: var(--tui-link);
}

.gray {
    box-shadow: none;
    background: var(--tui-base-02);
}

.black {
    background: var(--tui-text-01);
    color: var(--tui-warning-fill-night);
}

.white {
    color: var(--tui-base-01);
}

.reversed {
    flex-direction: column-reverse;
}

.bar {
    width: 8.75rem;
}
