/* You can add global styles to this file, and also import other style files */
@use 'taiga-ui-global';
@use 'taiga-ui-theme';

$sidebar-width: 248px;

body {
    @include text-body-m();
    overflow-x: hidden;
}

.b-demo-steps {
    list-style-type: decimal;
    padding-left: 15px;
    margin: 16px 0;

    & li {
        margin-bottom: 20px;
    }
}

.b-form {
    max-width: 320px;
}

.b-full-width {
    width: 100%;
}

/* stylelint-disable */
sandbox .demo > * {
    display: block;
}

/* stylelint-disable selector-type-no-unknown */
markdown {
    display: block;
    max-width: 932px;

    h1 {
        @include text-h1();
    }

    h2 {
        @include text-h2();
    }

    h3 {
        @include text-h3();
    }

    h4 {
        @include text-h4();
    }

    h5 {
        @include text-h5();
    }

    h6 {
        @include text-h6();
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 48px 0 16px;
    }

    img {
        margin: 10px 48px 24px 0;
        max-width: 440px;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    ul {
        @extend .tui-list;
    }

    li {
        position: relative;
        padding-left: $space * 6;
        word-wrap: break-word;
        margin-top: $space * 3;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: var(--tui-primary);
        }
    }

    & a {
        text-decoration: none;
        color: var(--tui-link);

        &:hover,
        &:active {
            color: var(--tui-link-hover);
        }
    }
}
