/* You can add global styles to this file, and also import other style files */
@sidebar-width: 15.5rem;

body {
    font: var(--tui-font-text-m);
    overflow-x: hidden;
}

.b-demo-steps {
    list-style-type: decimal;
    padding-left: 0.9375rem;
    margin: 1rem 0;

    & li {
        margin-bottom: 1.25rem;
    }
}

.b-form {
    max-width: 20rem;
}

.b-full-width {
    width: 100%;
}

/* stylelint-disable selector-type-no-unknown */
markdown {
    display: block;
    max-width: 58.25rem;

    h1 {
        font: var(--tui-font-heading-1);
    }

    h2 {
        font: var(--tui-font-heading-2);
    }

    h3 {
        font: var(--tui-font-heading-3);
    }

    h4 {
        font: var(--tui-font-heading-4);
    }

    h5 {
        font: var(--tui-font-heading-5);
    }

    h6 {
        font: var(--tui-font-heading-6);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 3rem 0 1rem;
    }

    img {
        margin: 0.625rem 3rem 1.5rem 0;
        max-width: 27.5rem;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    ul {
        &:extend(.tui-list);
    }

    li {
        position: relative;
        padding-left: 1.5rem;
        word-wrap: break-word;
        margin-top: 0.75rem;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0.5rem;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 100%;
            background-color: var(--tui-primary);
        }
    }

    & a {
        text-decoration: none;
        color: var(--tui-link);

        &:hover,
        &:active {
            color: var(--tui-link-hover);
        }
    }
}
