@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/addon-mobile/styles/taiga-ui-mobile.less';
@import '@taiga-ui/styles/taiga-ui-global.less';

html,
body {
    .scroll-behavior();
    font: var(--tui-font-text-m);

    @media (prefers-reduced-motion) {
        scroll-behavior: auto;
    }
}

.b-demo-steps {
    list-style-type: decimal;
    padding-left: 0.9375rem;
    margin: 1rem 0;

    & li {
        margin-bottom: 1.25rem;
    }
}
