@import '@taiga-ui/styles/utils';

@keyframes tuiPulse {
    to {
        opacity: 0;
        transform: scale(2.5);
    }
}

:host {
    position: relative;
    color: var(--tui-background-accent-1);

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiScale;
    }

    &::before,
    &::after {
        .transition(box-shadow);

        content: '';
        position: absolute;
        inline-size: 0.5rem;
        block-size: 0.5rem;
        border-radius: 100%;
        margin: -0.25rem;
        background: currentColor;
    }

    &::before {
        opacity: 1;
        transform: scale(0);
    }

    &._playing {
        &::before {
            animation: tuiPulse 1s 1s ease-in-out infinite;
        }

        &::after {
            box-shadow: 0 0 0.5rem;
        }
    }
}
