<div
    class="t-tag"
    [style.backgroundColor]="backgroundColor"
    (dblclick)="edit($event)"
>
    @if (leftContent) {
        <div class="t-content">
            <ng-container *polymorpheusOutlet="leftContent as text">
                {{ text }}
            </ng-container>
        </div>
    }
    <span
        automation-id="tui-tag__text"
        class="t-text"
        [textContent]="displayText"
    ></span>
    @if (showLoader) {
        <tui-loader
            class="t-content"
            [inheritColor]="true"
            [size]="loaderSize"
        />
    }
    @if (canRemove) {
        <tui-icon
            automation-id="tui-tag__remove"
            class="t-icon"
            [icon]="icons.close"
            (click)="remove($event)"
            (mousedown.stop.prevent.zoneless)="(0)"
        />
    }
</div>
@if (editing) {
    <input
        #input
        automation-id="tui-tag__edit"
        type="text"
        class="t-edit"
        [attr.maxLength]="maxLength"
        [ngModel]="editedText"
        [ngModelOptions]="{standalone: true}"
        (blur)="onBlur()"
        (keydown)="onKeyDown($event)"
        (ngModelChange)="onInput($event)"
    />
}
