@import 'taiga-ui-local';

.item {
    .transition(~'box-shadow, transform');
    display: block;
    max-height: 100px;
    margin: 2rem auto;
    border-radius: 100%;

    &_active {
        .shadow(2);
        transform: scale(1.2);
    }
}
