@import 'taiga-ui-local';

td,
th {
    white-space: nowrap;
    border-color: transparent;
    border-right-color: var(--tui-base-04);

    &:last-child {
        border-right-color: transparent;
    }
}

tbody {
    border-color: transparent;
}

tr:nth-child(even) td {
    background: var(--tui-base-02);
}

.alive,
.deceased {
    display: flex;
    align-items: center;
    text-transform: capitalize;

    &:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 100%;
        margin-right: 8px;
        background: var(--tui-base-04);
    }
}

.alive:before {
    background: var(--tui-success-fill);
}

.remove {
    .transition(opacity);
    opacity: 0;

    tr:hover &,
    tr:focus-within & {
        opacity: 1;
    }
}
