@import 'taiga-ui-local';

.image {
    .transition(~'transform, opacity');
    width: 100%;
    display: block;
    margin: 1rem 0;
    transform: translate3d(-5rem, 0, 0);
    opacity: 0;

    &._visible {
        transform: none;
        opacity: 1;
    }
}
