@import '@taiga-ui/core/styles/taiga-ui-local';

.image {
    .transition(~'transform, opacity');

    display: block;
    inline-size: 100%;
    margin: 1rem 0;
    transform: translate3d(-5rem, 0, 0);
    opacity: 0;

    &._visible {
        transform: none;
        opacity: 1;
    }
}
