@import '@taiga-ui/styles/utils';

:host {
    box-shadow: inset 0 -1px var(--tui-border-normal);
}

.t-td {
    padding: 1.5rem 2rem 1.5rem 0;
    vertical-align: top;

    &:last-child {
        padding-inline-end: 0;
        text-align: end;
        min-inline-size: 10rem;
    }

    .t-name,
    .t-type {
        outline: none;
        font-weight: bold;
        margin: 0;
    }
}

.t-name {
    display: flex !important;
    min-block-size: 1.5rem;
    inline-size: fit-content;
    -webkit-text-fill-color: var(--tui-background-accent-2-pressed);

    &_input {
        -webkit-text-fill-color: var(--tui-text-negative);
    }

    &_banana {
        -webkit-text-fill-color: var(--tui-text-action);
    }

    &_output {
        -webkit-text-fill-color: var(--tui-status-info);
    }
}

.t-type {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    min-block-size: 1.5rem;
}

.t-reference {
    display: inline-flex;
    color: var(--tui-text-action);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: 0.1875rem;
}

.t-input {
    min-inline-size: 10rem;
    margin-block: -0.625rem;

    code {
        overflow: hidden;
        white-space: nowrap;
    }
}

.t-description {
    display: none;
}

@media @tui-mobile {
    :host {
        gap: 1rem;
        padding: 1rem 0;
    }

    .t-td {
        padding: 0;

        &:last-child {
            text-align: start;
        }
    }

    .t-input {
        margin: 0;
    }

    .t-name {
        pointer-events: none;
    }

    .t-description {
        display: block;
        margin-block-start: 1rem;
    }
}
