@import '@taiga-ui/styles/utils';

[tuiDocAPI] {
    inline-size: 100%;

    tbody [tuiTitle] {
        align-items: flex-start;
        padding: 1rem;
        box-shadow: 0 1px var(--tui-border-normal);
        background: var(--tui-background-base-alt);

        [tuiTheme='dark'] & {
            background: var(--tui-background-elevation-2);
        }

        [tuiSubtitle] {
            color: var(--tui-text-secondary);
        }
    }

    th {
        padding: 0.5rem 0;
        color: var(--tui-text-secondary);
        font: var(--tui-typography-body-s);
        text-align: start;
        box-shadow: inset 0 -1px var(--tui-border-normal);

        &:last-child {
            text-align: end;
        }
    }
}

@media @tui-mobile {
    [tuiDocAPI],
    [tuiDocAPI] tbody,
    [tuiDocAPI] tr {
        display: flex;
        flex-direction: column;

        th {
            display: none;
        }
    }
}
