:host {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    [tuiCard][data-size='l'] {
        padding: 1rem 1.5rem;
    }
}

.actions {
    display: flex;
    gap: 1.25rem;

    button {
        flex: 1;
        height: 3.75rem;
    }
}
