@import 'taiga-ui-local';

@width-m: 2rem;
@height-m: 1rem;
@width-l: 3rem;
@height-l: 1.5rem;
@toggle-width-m: 3rem;
@toggle-interval-m: 1rem;
@toggle-width-l: 4.5rem;
@toggle-interval-l: 1.5rem;

:host {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 6.25rem;

    &[data-size='m'] {
        width: @width-m;
        height: @height-m;
    }

    &[data-size='l'] {
        width: @width-l;
        height: @height-l;
    }
}

.t-checkbox {
    .clearinput();
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;

    :host._disabled & {
        pointer-events: none;
        cursor: default;
    }
}

.t-toggle {
    .transition(transform);
    display: flex;
    align-items: center;
    justify-content: center;

    :host[data-size='m'] & {
        width: @toggle-width-m;
        height: @height-m;
        transform: translateX(-@toggle-interval-m);
    }

    :host[data-size='l'] & {
        width: @toggle-width-l;
        height: @height-l;
        transform: translateX(-@toggle-interval-l);
    }

    :host._checked & {
        transform: translateX(0);
    }
}

.t-circle {
    margin: 0.125rem 0;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: var(--tui-base-01);

    :host._disabled &_light {
        opacity: 0.24;
    }

    :host[data-size='m'] & {
        width: 0.75rem;
        height: 0.75rem;
    }

    :host[data-size='l'] & {
        width: 1rem;
        height: 1rem;
    }

    :host._disabled & {
        background-color: var(--tui-base-01);
    }
}

.t-loader {
    :host:not(._checked) & {
        color: var(--tui-base-06);
    }

    :host:not(._checked)._disabled & {
        color: var(--tui-base-05);
    }

    :host:not(._checked)[data-mode='onDark'] & {
        color: var(--tui-text-03-night);
    }

    :host:not(._checked)[data-mode='onDark']._disabled & {
        color: var(--tui-clear-inverse-active);
    }

    :host:not(._checked)[data-mode='onLight'] & {
        color: var(--tui-text-03);
    }

    :host:not(._checked)[data-mode='onLight']._disabled & {
        color: var(--tui-clear-active);
    }

    :host[data-size='m'] & {
        width: 0.75rem;
        margin: 0 0.2rem;
        transform: scale(0.75);
    }

    :host[data-size='l'] & {
        width: 1rem;
        margin: 0 @space;
    }
}

.t-icon-wrapper {
    display: flex;
}

.t-icon {
    opacity: 0.8;

    &_off {
        color: var(--tui-base-06);

        :host._disabled & {
            color: var(--tui-base-05);
        }

        :host[data-mode='onDark'] & {
            color: var(--tui-text-03-night);
        }

        :host[data-mode='onDark']._disabled & {
            color: var(--tui-clear-inverse-active);
        }

        :host[data-mode='onLight'] & {
            color: var(--tui-text-03);
        }

        :host[data-mode='onLight']._disabled & {
            color: var(--tui-clear-active);
        }
    }

    :host[data-size='m'] & {
        width: 1rem;
        height: 1rem;
        transform: scale(0.75);
    }

    :host[data-size='l'] & {
        margin: 0 (@space / 2);
        width: 1.5rem;
        height: 1.5rem;
    }

    :host:hover & {
        opacity: 1;
    }
}
