<div
    tuiWrapper
    [appearance]="appearance"
    [readOnly]="readOnly"
    [disabled]="computedDisabled"
    [focused]="computedFocusVisible"
    [hover]="computedHovered"
    [active]="computedPressed"
    [invalid]="computedInvalid"
>
    <div class="t-toggle">
        <tui-loader
            *ngIf="showLoader"
            class="t-loader"
            [size]="loaderSize"
            [inheritColor]="true"
            [showLoader]="checked"
        ></tui-loader>
        <span
            polymorpheus-outlet
            class="t-icon-wrapper"
            [content]="iconOn"
            [context]="{$implicit: size}"
        >
            <ng-template let-icon>
                <tui-svg
                    *ngIf="showIcons && !showLoader"
                    automation-id="tui-toggle__check-icon"
                    class="t-icon"
                    [src]="icon"
                ></tui-svg>
            </ng-template>
        </span>
        <div class="t-circle"></div>
        <tui-loader
            *ngIf="showLoader"
            class="t-loader"
            [size]="loaderSize"
            [inheritColor]="true"
            [showLoader]="!checked"
        ></tui-loader>
        <span
            polymorpheus-outlet
            class="t-icon-wrapper"
            [content]="iconOff"
            [context]="{$implicit: size}"
        >
            <ng-template let-icon>
                <tui-svg
                    *ngIf="showIcons && !showLoader"
                    automation-id="tui-toggle__cancel-icon"
                    class="t-icon t-icon_off"
                    [src]="icon"
                ></tui-svg>
            </ng-template>
        </span>
    </div>
    <input
        #focusableElement
        type="checkbox"
        role="switch"
        automation-id="tui-toggle__checkbox"
        class="t-checkbox"
        [attr.aria-checked]="value"
        [id]="id"
        [disabled]="disabled"
        [tuiChecked]="checked"
        [tuiFocusable]="focusable"
        (tuiCheckedChange)="onChecked($event)"
        (tuiFocusedChange)="onFocused($event)"
        (tuiHoveredChange)="onHovered($event)"
        (tuiPressedChange)="onPressed($event)"
        (tuiFocusVisibleChange)="onFocusVisible($event)"
    />
</div>
