<div
    *ngIf="spinTexts$ | async as texts"
    #wrapper
    class="t-wrapper"
    (focusin)="onFocused(true)"
    (focusout)="onFocused(false)"
    (keydown.arrowLeft)="onLeftClick()"
    (keydown.arrowRight)="onRightClick()"
    (mousedown.silent.prevent)="(0)"
>
    <button
        tuiIconButton
        type="button"
        size="xs"
        appearance=""
        automation-id="tui-primitive-spin-button__left"
        class="t-arrow"
        [class.t-arrow_hidden]="leftComputedDisabled"
        [icon]="icons.decrement"
        [title]="texts[0]"
        [focusable]="computedFocusable"
        (click)="onLeftClick()"
    ></button>
    <span class="t-content t-calendar-title">
        <ng-content></ng-content>
    </span>
    <button
        tuiIconButton
        type="button"
        size="xs"
        appearance=""
        automation-id="tui-primitive-spin-button__right"
        class="t-arrow"
        [class.t-arrow_hidden]="rightComputedDisabled"
        [icon]="icons.increment"
        [title]="texts[1]"
        [focusable]="computedFocusable"
        (click)="onRightClick()"
    ></button>
</div>
