<ng-container *ngIf="spinTexts$ | async as texts">
    <button
        appearance="flat"
        automation-id="tui-primitive-spin-button__left"
        size="xs"
        tuiIconButton
        type="button"
        [class.t-hidden]="leftComputedDisabled"
        [focusable]="computedFocusable"
        [icon]="icons.decrement"
        [title]="texts[0]"
        (click)="onLeftClick()"
    ></button>
    <span class="t-content t-calendar-title">
        <ng-content></ng-content>
    </span>
    <button
        appearance="flat"
        automation-id="tui-primitive-spin-button__right"
        size="xs"
        tuiIconButton
        type="button"
        [class.t-hidden]="rightComputedDisabled"
        [focusable]="computedFocusable"
        [icon]="icons.increment"
        [title]="texts[1]"
        (click)="onRightClick()"
    ></button>
</ng-container>
