:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: var(--tui-font-text-l);
    font-weight: bold;
    text-align: center;
}

.t-hidden {
    visibility: hidden;
}

.t-content {
    padding: 0 0.5rem;
}
