:host {
    display: block;
    width: 25rem;
}

.primary {
    color: var(--tui-primary);
}

.input {
    display: inline-block;
    width: 18.75rem;
    margin: 0.75rem 0.75rem 0.75rem 0;
    vertical-align: middle;
}
