:host {
    display: block;
    width: 400px;
}

.primary {
    color: var(--tui-primary);
}

.input {
    display: inline-block;
    width: 300px;
    margin: 12px 12px 12px 0;
    vertical-align: middle;
}
