<tui-doc-page
    header="ItemsWithMore"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component to hide overflown items behind custom content.</p>

        <tui-notification>Resize the screen to see extra items disappear</tui-notification>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [description]="description"
            [fullsize]="true"
            [heading]="example"
            [id]="example | tuiKebab"
        >
            <ng-template
                #description
                [ngSwitch]="index"
            >
                <ng-container *ngSwitchCase="0">Hiding excessive items and showing text.</ng-container>
                <ng-container *ngSwitchCase="1">Putting extra items in a dropdown.</ng-container>
                <ng-container *ngSwitchCase="2">Handling excessive items at the beginning of the list.</ng-container>
                <ng-container *ngSwitchCase="3">Hiding extra items in a multi line container.</ng-container>
                <ng-container *ngSwitchCase="4">
                    Showing compact version of text in a
                    <a
                        tuiLink
                        [routerLink]="routes.Cell"
                    >
                        Cell
                    </a>
                    in limited space.
                </ng-container>
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-items-with-more
                [itemsLimit]="itemsLimit"
                [linesLimit]="linesLimit"
                [required]="required"
                [side]="side"
            >
                <ng-container *ngFor="let item of items">
                    <tui-chip
                        *tuiItem
                        class="tui-space_right-2 tui-space_vertical-1"
                    >
                        {{ item }}
                    </tui-chip>
                </ng-container>
                <span
                    *tuiMore
                    class="tui-space_right-2 tui-space_vertical-1"
                >
                    <tui-chip appearance="secondary">and now!</tui-chip>
                </span>
            </tui-items-with-more>
        </tui-doc-demo>
        <p>
            Use
            <code>Item</code>
            directive for each item
        </p>
        <p>
            Use
            <code>More</code>
            directive for "See more" content
        </p>
        <table tuiDocAPI>
            <tr
                name="[itemsLimit]"
                tuiDocAPIItem
                type="number"
                [items]="itemsLimitVariants"
                [(value)]="itemsLimit"
            >
                Artificial limit on visible items
            </tr>
            <tr
                name="[linesLimit]"
                tuiDocAPIItem
                type="number"
                [items]="linesLimitVariants"
                [(value)]="linesLimit"
            >
                Limit on visible lines
            </tr>
            <tr
                name="[required]"
                tuiDocAPIItem
                type="number"
                [items]="requiredVariants"
                [(value)]="required"
            >
                Index of an item that must remain visible
            </tr>
            <tr
                name="[side]"
                tuiDocAPIItem
                type="number"
                [items]="sideVariants"
                [(value)]="side"
            >
                Side of the "See more" content (for one-line mode only)
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
