<tui-doc-page
    header="ItemsWithMore"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <div class="tui-space_bottom-3">Component to hide overflown items behind custom content.</div>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html'"
            [fullsize]="true"
        >
            <tui-notification class="tui-space_bottom-3">
                Resize the screen to see extra items disappear
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="dropdown"
            heading="Dropdown"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
            [fullsize]="true"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-items-with-more
                [itemsLimit]="itemsLimit"
                [required]="required"
            >
                <ng-container *ngFor="let item of items">
                    <tui-chip
                        *tuiItem
                        class="tui-space_right-2"
                    >
                        {{ item }}
                    </tui-chip>
                </ng-container>
                <span *tuiMore>and now for something completely different!</span>
            </tui-items-with-more>
        </tui-doc-demo>
        <p>
            Use
            <code>tuiItem</code>
            directive for each item
        </p>
        <p>
            Use
            <code>tuiMore</code>
            directive for "See more" content
        </p>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="itemsLimit"
                documentationPropertyType="number"
                [documentationPropertyValues]="itemsLimitVariants"
                [(documentationPropertyValue)]="itemsLimit"
            >
                Artificial limit on visible items
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="required"
                documentationPropertyType="number"
                [documentationPropertyValues]="requiredVariants"
                [(documentationPropertyValue)]="required"
            >
                Index of an item that must remain visible
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
