<tui-doc-page
    header="ItemsWithMore"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <div class="tui-space_bottom-3">Component to hide overflown items behind custom content.</div>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="example1"
            [fullsize]="true"
        >
            <tui-notification class="tui-space_bottom-3">
                Resize the screen to see extra items disappear
            </tui-notification>
            <tui-items-with-more-example-1></tui-items-with-more-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="dropdown"
            heading="Dropdown"
            [content]="example2"
            [fullsize]="true"
        >
            <tui-items-with-more-example-2></tui-items-with-more-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-items-with-more
                [itemsLimit]="itemsLimit"
                [required]="required"
            >
                <ng-container *ngFor="let item of items">
                    <tui-tag
                        *tuiItem
                        class="tui-space_right-2"
                        [value]="item"
                    ></tui-tag>
                </ng-container>
                <span *tuiMore>and now for something completely different!</span>
            </tui-items-with-more>
        </tui-doc-demo>
        <p>
            Use
            <code>tuiItem</code>
            directive for each item
        </p>
        <p>
            Use
            <code>tuiMore</code>
            directive for "See more" content
        </p>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="itemsLimit"
                documentationPropertyType="number"
                [documentationPropertyValues]="itemsLimitVariants"
                [(documentationPropertyValue)]="itemsLimit"
            >
                Artificial limit on visible items
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="required"
                documentationPropertyType="number"
                [documentationPropertyValues]="requiredVariants"
                [(documentationPropertyValue)]="required"
            >
                Index of an item that must remain visible
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import
                    <code>TuiItemsWithMoreModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
