<tui-doc-page
    header="Range"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component allows to choose a part of a range</p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
            [fullsize]="true"
        />

        <tui-doc-example
            id="segments"
            heading="Visual segments + labels for ticks"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        >
            <tui-notification class="tui-space_bottom-8">
                <p class="tui-space_top-0">
                    Use mixin
                    <code>tui-slider-ticks-labels</code>
                    to arrange ticks' labels (it places them strictly below ticks).
                </p>
                <div>
                    The mixin accepts only a single argument – size of the slider (
                    <code>m</code>
                    or
                    <code>s</code>
                    ).
                </div>
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="key-steps"
            heading="KeySteps"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-range
                    [formControl]="control"
                    [keySteps]="keySteps"
                    [limit]="limit"
                    [margin]="margin"
                    [max]="max"
                    [min]="min"
                    [segments]="segments"
                    [size]="size"
                    [step]="step"
                />
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[disabled]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </tr>
            <tr
                name="[min]"
                tuiDocAPIItem
                type="number"
                [(value)]="min"
            >
                The lowest value in the range of permitted values.
                <p>
                    The default is
                    <code>0</code>
                    .
                </p>
            </tr>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="number"
                [(value)]="max"
            >
                The greatest value in the range of permitted values.
                <p>
                    The default is
                    <code>100</code>
                    .
                </p>
            </tr>
            <tr
                name="[step]"
                tuiDocAPIItem
                type="number"
                [(value)]="step"
            >
                A number that specifies the granularity that the value must adhere.
                <p>
                    The default is
                    <code>1</code>
                    .
                </p>
            </tr>
            <tr
                name="[size]"
                tuiDocAPIItem
                type="TuiSizeS"
                [items]="sizeVariants"
                [(value)]="size"
            >
                Size
                <p>
                    The default is
                    <code>m</code>
                    .
                </p>
            </tr>
            <tr
                name="[segments]"
                tuiDocAPIItem
                type="number"
                [(value)]="segments"
            >
                A number of visual segments.
                <p>
                    The default is
                    <code>1</code>
                    (no ticks).
                </p>
            </tr>
            <tr
                name="[keySteps]"
                tuiDocAPIItem
                type="TuiKeySteps | null"
                [items]="keyStepsVariants"
                [(value)]="keySteps"
            >
                Anchor points of non-uniform format between value and position.
                <p>
                    The default is
                    <code>null</code>
                    .
                </p>
            </tr>
            <tr
                name="[limit]"
                tuiDocAPIItem
                type="number"
                [items]="limitVariants"
                [(value)]="limit"
            >
                Limiting the maximum distance between two thumbs.
                <p>
                    The default is
                    <code>Infinity</code>
                    .
                </p>
            </tr>
            <tr
                name="[margin]"
                tuiDocAPIItem
                type="number"
                [(value)]="margin"
            >
                Limiting the minimum distance between two thumbs.
                <p>
                    The default is
                    <code>0</code>
                    .
                </p>
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
