<tui-doc-page
    header="TableBarsService"
    package="ADDON-TABLEBARS"
    path="addon-tablebars/services/table-bars.service.ts"
    type="components/services"
>
    <ng-template pageTab>
        <p>
            It is an element on the bottom of screen to show actions by multiselect of some items. It works with custom
            content.
        </p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <div>
            <button
                size="m"
                tuiButton
                type="button"
                class="tui-space_right-2"
                (click)="showTableBar()"
            >
                Show tableBar
            </button>
            <button
                size="m"
                tuiButton
                type="button"
                (click)="destroy()"
            >
                Hide tableBar
            </button>
        </div>
        <ng-template #tableBarTemplate>
            <p>Some template</p>
        </ng-template>
        <br />
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="adaptive"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="adaptive"
            >
                Adaptive content
            </ng-template>
            <ng-template
                documentationPropertyName="hasCloseButton"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="hasCloseButton"
            >
                Enable close button
            </ng-template>
            <ng-template
                documentationPropertyName="mode"
                documentationPropertyType="TuiBrightness"
                [documentationPropertyValues]="modeVariants"
                [(documentationPropertyValue)]="mode"
            >
                Light / dark mode
            </ng-template>
        </tui-doc-documentation>
    </ng-template>
    <ng-template pageTab>
        <ol class="tui-list tui-list_ordered">
            <li class="tui-list__item">
                <p>
                    Add
                    <code>TuiTableBarsHostModule</code>
                    into your app.module
                </p>

                <tui-doc-code
                    filename="app.module.ts"
                    [code]="exampleModule"
                />
            </li>
            <li class="tui-list__item">
                <p>
                    Add
                    <code>tui-table-bars-host</code>
                    into your app.template
                </p>

                <tui-doc-code
                    filename="app.module.ts"
                    [code]="exampleHtml"
                />
            </li>
            <li class="tui-list__item">
                <p>
                    Use
                    <code>open</code>
                    method and subscribe to returned
                    <code>Observable</code>
                </p>

                <tui-doc-code
                    filename="my.component.html"
                    [code]="exampleServiceUsageHtml"
                />

                <tui-doc-code
                    filename="my.component.ts"
                    [code]="exampleServiceUsage"
                />
            </li>

            <li class="tui-list__item">
                <p>
                    If you use component in lazy loading modules, do not forget to pass into
                    <code>new PolymorpheusComponent Injector</code>
                    of component where you open table bar
                </p>

                <tui-doc-code
                    filename="customNotification.component.ts"
                    [code]="exampleLazyModule"
                />
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
