/*
TODO: if :has() is supported by all browsers
 - use tui-textfield:has([tuiInputNumber]) .t-input-number {...}
 - rename .t-input-number-buttons => .t-buttons
 */
tui-textfield:where(*&) {
    .t-input-number-buttons.t-input-number-buttons {
        position: absolute;
        display: flex;
        inset-inline-end: 0;
        block-size: var(--t-height);
        flex-direction: column;
        gap: 0.125rem;
        border-radius: inherit;

        & > * {
            flex: 1 1 0;
            border-radius: 0;

            &:first-child {
                border-top-right-radius: inherit;
            }

            &:last-child {
                border-bottom-right-radius: inherit;
            }

            [dir='rtl'] & {
                &:first-child {
                    border-radius: 0;
                    border-top-left-radius: inherit;
                }

                &:last-child {
                    border-radius: 0;
                    border-bottom-left-radius: inherit;
                }
            }
        }
    }

    /*
TODO: if :has() is supported by all browsers
 - use tui-textfield:has([tuiInputNumber]) {...}
 - rename --t-input-number-offset-end => --t-offset-end
 */
    &[data-size='l'] {
        .t-input-number-buttons.t-input-number-buttons {
            > * {
                inline-size: var(--tui-height-m);
            }
        }

        // var(--tui-height-m) ~ width of step button
        --t-input-number-offset-end: calc(var(--tui-height-m) + 0.125rem);
    }

    &[data-size='m'] {
        --t-input-number-offset-end: calc(var(--tui-height-s) + 0.125rem);
    }

    &[data-size='s'] {
        --t-input-number-offset-end: calc(2 * var(--tui-height-s) + 0.25rem);

        .t-input-number-buttons.t-input-number-buttons {
            flex-direction: row-reverse;

            > * {
                &:first-child {
                    border-top-right-radius: inherit;
                    border-bottom-right-radius: inherit;
                }

                &:last-child {
                    border-radius: 0;
                }
            }
        }
    }
}

[tuiInputNumber]._with-buttons:where(*&) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    [dir='rtl'] & {
        border-radius: inherit;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

[tuiInputNumber]._with-buttons:where(*&),
[tuiInputNumber]._with-buttons ~ .t-template {
    inline-size: calc(100% - var(--t-input-number-offset-end));
    margin-inline-end: var(--t-input-number-offset-end);
}

[tuiInputNumber]:where(*&)._with-buttons ~ .t-content {
    margin-inline-end: var(--t-input-number-offset-end);
}
