@if (isInYearView) {
    <tui-scrollbar
        automation-id="tui-calendar__scrollbar"
        class="t-scrollbar"
    >
        <tui-calendar-year
            automation-id="tui-calendar__year"
            [initialItem]="month.year"
            [max]="max().year"
            [min]="min().year"
            [rangeMode]="options.rangeMode"
            [value]="value"
            (yearClick)="onPickerYearClick($event)"
        />
    </tui-scrollbar>
} @else {
    <tui-calendar-spin
        automation-id="tui-calendar__pagination"
        class="t-pagination"
        [max]="computedMaxViewedMonth()"
        [min]="computedMinViewedMonth()"
        [value]="month"
        (valueChange)="onPaginationValueChange($event)"
        (yearClick)="onPaginationYearClick()"
    />
    <tui-calendar-sheet
        automation-id="tui-calendar__calendar"
        [disabledItemHandler]="disabledItemHandler | tuiMapper: disabledItemHandlerMapper : min() : max()"
        [hoveredItem]="hoveredItem"
        [markerHandler]="markerHandler"
        [month]="month"
        [showAdjacent]="showAdjacent"
        [value]="value"
        (dayClick)="onDayClick($event)"
        (hoveredItemChange)="onHoveredItemChange($event)"
    />
}
