<div class="t-row t-row_weekday">
    <div
        *ngFor="let day of unorderedWeekDays$ | tuiOrderWeekDays | async"
        class="t-cell"
        [textContent]="day"
    ></div>
</div>
<div *tuiLet="month | tuiCalendarSheet: true as sheet">
    <div
        *tuiRepeatTimes="let rowIndex of sheet.length"
        automation-id="tui-calendar-sheet__row"
        class="t-row"
    >
        <ng-container *tuiRepeatTimes="let colIndex of sheet[rowIndex]?.length || 0">
            <ng-container *tuiLet="sheet[rowIndex]?.[colIndex] as item">
                <div
                    *ngIf="item && (!itemIsUnavailable(item) || showAdjacent)"
                    automation-id="tui-calendar-sheet__cell"
                    class="t-cell"
                    [attr.data-range]="getItemRange(item)"
                    [attr.data-type]="item | tuiMapper: dayTypeHandler"
                    [class.t-cell_disabled]="disabledItemHandler(item)"
                    [class.t-cell_today]="itemIsToday(item)"
                    [class.t-cell_unavailable]="itemIsUnavailable(item)"
                    (click)="dayClick.emit(item)"
                    (tuiHoveredChange)="onItemHovered($event && item)"
                >
                    {{ item.day }}
                    <div
                        *ngIf="
                            item
                                | tuiMapper
                                    : toMarkers
                                    : itemIsToday(item)
                                    : getItemRange(item)
                                    : markerHandler as markers
                        "
                        class="t-dots"
                    >
                        <div
                            class="t-dot"
                            [style.background]="markers?.[0]"
                        ></div>
                        <div
                            *ngIf="markers.length > 1"
                            class="t-dot"
                            [style.background]="markers?.[1] || ''"
                        ></div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
