@import '@taiga-ui/core/styles/taiga-ui-local';

.date-picker();

:host {
    display: block;
    inline-size: 16rem;
}

.t-cell {
    inline-size: 4rem;
    border-block-start-width: 0.5rem;
    border-block-end-width: 0.5rem;
}
