<tui-scrollbar
    *ngIf="isInYearView; else calendar"
    automation-id="tui-calendar__scrollbar"
    class="t-scrollbar"
>
    <tui-calendar-year
        automation-id="tui-calendar__year"
        [initialItem]="month"
        [max]="computedMax"
        [min]="computedMin"
        [value]="value"
        (yearClick)="onPickerYearClick($event)"
    />
</tui-scrollbar>
<ng-template #calendar>
    <tui-calendar-spin
        automation-id="tui-calendar__pagination"
        class="t-pagination"
        [max]="computedMaxViewedMonth"
        [min]="computedMinViewedMonth"
        [value]="month"
        (valueChange)="onPaginationValueChange($event)"
        (yearClick)="onPaginationYearClick()"
    />
    <tui-calendar-sheet
        automation-id="tui-calendar__calendar"
        [disabledItemHandler]="disabledItemHandler | tuiMapper: disabledItemHandlerMapper : computedMin : computedMax"
        [hoveredItem]="hoveredItem"
        [markerHandler]="markerHandler"
        [month]="month"
        [showAdjacent]="showAdjacent"
        [value]="value"
        (dayClick)="onDayClick($event)"
        (hoveredItemChange)="onHoveredItemChange($event)"
    />
</ng-template>
