<tui-spin-button
    [focusable]="false"
    [leftDisabled]="value().monthSameOrBefore(min())"
    [rightDisabled]="value().monthSameOrAfter(max())"
    (leftClick)="append({month: -1})"
    (rightClick)="append({month: 1})"
>
    {{ months()[value().month] }}
    @if (min().year === max().year) {
        {{ value().formattedYear }}
    } @else {
        <button
            tabIndex="-1"
            tuiLink
            type="button"
            (click)="yearClick.emit(value())"
        >
            {{ value().formattedYear }}
        </button>
    }
</tui-spin-button>
