@import '@taiga-ui/styles/utils';

.date-picker();

:host {
    display: block;
    padding-inline-end: 1rem;
    inline-size: 15.75rem;
    padding: 0 1.125rem;
}

.t-cell {
    flex: 1;
    border-block-start-width: 0.5rem;
    border-block-end-width: 0.5rem;
}
