:host {
    display: block;
    min-block-size: 20.25rem;
    inline-size: 18rem;
    padding: 1rem 1.125rem;
    box-sizing: border-box;
    flex-shrink: 0;
}

:host-context(tui-dropdown-mobile) {
    inline-size: 100%;
}

.t-scrollbar {
    block-size: 18.25rem;
    inline-size: calc(100% + 1rem);
}

.t-pagination {
    margin-bottom: 1rem;
}
