@for (_ of '-'.repeat(rows()); track $index) {
    @let rowIndex = $index;
    <div
        automation-id="tui-calendar-year__row"
        class="t-row"
    >
        @for (_ of '-'.repeat(4); track $index) {
            @let item = getItem(rowIndex, $index);
            <div
                automation-id="tui-calendar-year__cell"
                class="t-cell"
                [attr.data-range]="getItemRange(item)"
                [class.t-cell_disabled]="isDisabled(item)"
                [class.t-cell_today]="itemIsToday(item)"
                [tuiScrollIntoView]="scrollItemIntoView(item)"
                (click)="yearClick.emit(item)"
                (tuiHoveredChange)="onItemHovered($event, item)"
            >
                {{ item }}
            </div>
        }
    </div>
}
