@verticalSpace: 1rem;
@horizontalSpace: 1.125rem;
@itemSize: 2.25rem;
@paginationSize: 1.5rem;
@calendarSize: @itemSize * 7;

:host {
    display: block;
    height: @paginationSize + @verticalSpace + @calendarSize;
    width: @calendarSize;
    padding: @verticalSpace @horizontalSpace;
    box-sizing: content-box;
}

.t-scrollbar {
    height: @paginationSize + @verticalSpace + @calendarSize;
    width: @calendarSize + @horizontalSpace;
}

.t-pagination {
    margin-bottom: @verticalSpace;
}
