<tui-scrollbar
    *ngIf="year; else calendar"
    automation-id="tui-calendar__scrollbar"
    class="t-scrollbar"
>
    <tui-primitive-year-picker
        automation-id="tui-calendar__year"
        [min]="min"
        [max]="max"
        [initialItem]="year"
        [value]="value"
        (yearClick)="onPickerYearClick($event)"
    ></tui-primitive-year-picker>
</tui-scrollbar>
<ng-template #calendar>
    <tui-primitive-year-month-pagination
        automation-id="tui-calendar__pagination"
        class="t-pagination"
        [min]="computedMinViewedMonth"
        [max]="computedMaxViewedMonth"
        [value]="month"
        (valueChange)="onPaginationValueChange($event)"
        (yearClick)="onPaginationYearClick($event)"
    ></tui-primitive-year-month-pagination>
    <tui-primitive-calendar
        automation-id="tui-calendar__calendar"
        [showAdjacent]="showAdjacent"
        [value]="value"
        [month]="month"
        [disabledItemHandler]="disabledItemHandler | tuiMapper : disabledItemHandlerMapper : min : max"
        [markerHandler]="markerHandler"
        [hoveredItem]="hoveredItem"
        (hoveredItemChange)="onHoveredItemChange($event)"
        (dayClick)="onDayClick($event)"
    ></tui-primitive-calendar>
</ng-template>
