@import '@taiga-ui/styles/utils';

@overlap: 1px; // https://github.com/taiga-family/taiga-ui/issues/13149

// prettier-ignore
[tuiFade] {
    .scrollbar-hidden();
    .transition(mask-position);

    overflow: auto;
    text-overflow: unset !important;
    mask-repeat: no-repeat;

    &:not([data-orientation='vertical']) {
        overflow-y: hidden;
        mask-image:
            linear-gradient(to right, transparent var(--t-fade-offset), #000 calc(var(--t-fade-size) + var(--t-fade-offset))),
            linear-gradient(to left, transparent var(--t-fade-offset), #000 calc(var(--t-fade-size) + var(--t-fade-offset))),
            linear-gradient(#000, #000);
        mask-position:
            calc(-1 * var(--t-fade-size) - var(--t-fade-offset) + @overlap) bottom,
            calc(100% + var(--t-fade-size) + var(--t-fade-offset) - @overlap) bottom,
            top;
        mask-size:
            calc(51% + var(--t-fade-size) + var(--t-fade-offset)) var(--t-line-height, 100%),
            calc(50% + var(--t-fade-size) + var(--t-fade-offset)) var(--t-line-height, 100%),
            100% calc(100% - var(--t-line-height, 100%));

        &._start {
            mask-position:
                left bottom,
                calc(100% + var(--t-fade-size) + var(--t-fade-offset) - @overlap) bottom,
                top;
        }

        &._end {
            mask-position:
                calc(-1 * var(--t-fade-size) - var(--t-fade-offset) + @overlap) bottom,
                right bottom,
                top;
        }

        &._start._end {
            mask-position:
                left bottom,
                right bottom,
                top;
        }

        [dir='rtl'] & {
            &._end {
                mask-position:
                    left bottom,
                    calc(100% + var(--t-fade-size) + var(--t-fade-offset) - @overlap) bottom,
                    top;
            }

            &._start {
                mask-position:
                    calc(-1 * var(--t-fade-size) - var(--t-fade-offset) + @overlap) bottom,
                    right bottom,
                    top;
            }

            &._start._end {
                mask-position:
                    left bottom,
                    right bottom,
                    top;
            }
        }
    }

    &[data-orientation='vertical'] {
        overflow-x: hidden;
        mask-image:
            linear-gradient(to bottom, transparent var(--t-fade-offset), #000 calc(var(--t-fade-size) + var(--t-fade-offset))),
            linear-gradient(to top, transparent var(--t-fade-offset), #000 calc(var(--t-fade-size) + var(--t-fade-offset)));
        mask-position:
            left calc(-1 * var(--t-fade-size) - var(--t-fade-offset) + @overlap),
            left calc(100% + var(--t-fade-size) + var(--t-fade-offset) - @overlap);
        mask-size: 100% calc(51% + var(--t-fade-size) + var(--t-fade-offset)); // +1% for Chrome issue https://github.com/taiga-family/taiga-ui/issues/6873

        &._start {
            mask-position: left top, left calc(100% + var(--t-fade-size) + var(--t-fade-offset) - @overlap);
        }

        &._end {
            mask-position: left calc(-1 * var(--t-fade-size) - var(--t-fade-offset) + @overlap), left bottom;
        }

        &._start._end {
            mask-position: left top, left bottom;
        }
    }
}
