@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    align-items: center;

    @media @tui-mobile {
        font-size: 0;
    }
}

.t-logo-link {
    display: flex;
}

.t-logo-name {
    display: flex;
    color: var(--tui-text-primary);
}

.t-logo {
    width: 1.875rem;
    margin-right: 0.625rem;
    color: #ff7043;
}

.t-by {
    margin-left: 0.875rem;
    width: 5.0625rem;
    color: #b0b0b0;

    @media @tui-mobile {
        display: none;
    }
}
