.wrapper {
    height: 100px;
}

.bars {
    height: 200px;
    width: 100px;
    margin-bottom: 50px;
    box-shadow: 0 1px var(--tui-base-03);
    transform-origin: bottom left;
    transform: rotate(90deg) translate(-200px, 0);
}
