<tui-doc-page header="MarkerIcon" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            <code>MarkerIcon</code> is a SVG icon in a circle. Use
            <code>mode</code> param to choose appearance or set it with custom
            styles
        </p>
        <tui-notification i18n>
            Marker icons should be 48x48px or smaller. If icon is smaller, it
            will be cantered.

            <strong>s</strong> size shows an icon as it and other sizes scale it
        </tui-notification>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-marker-icon-example-1></tui-marker-icon-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="modes"
            i18n-heading
            heading="modes"
            [content]="example2"
        >
            <tui-marker-icon-example-2></tui-marker-icon-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            i18n-heading
            heading="sizes"
            [content]="example3"
        >
            <tui-marker-icon-example-3></tui-marker-icon-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-marker-icon
                [mode]="mode"
                [src]="selectedIcon"
                [size]="size"
            ></tui-marker-icon>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="mode"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMarkerIconMode | null"
                [documentationPropertyValues]="modeVariants"
                [(documentationPropertyValue)]="mode"
            >
                Mode
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeXS | TuiSizeXL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="src"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="icons"
                [(documentationPropertyValue)]="selectedIcon"
            >
                An icon. It can be stringified svg or a name of icon registered
                in
                <a tuiLink routerLink="/tui-svg-service"
                    ><code>SvgService</code></a
                >
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiMarkerIconModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
