.axes {
    block-size: 18.75rem;
    inline-size: 37.5rem;

    &:first-child {
        --tui-chart-categorical-00: gold;
        --tui-chart-categorical-01: purple;
    }

    &:last-child {
        ---tui-chart-categorical-00: skyblue;
        --tui-chart-categorical-01: violet;
    }
}

.flex {
    display: flex;
    min-inline-size: 31.25rem;
}

.select {
    max-inline-size: 20rem;
}
