<tui-doc-page
    header="InputFiles"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p i18n>An input for upload one or several files. It uses native input file abilities.</p>

        <tui-doc-example
            id="single"
            i18n-heading
            heading="Basic single"
            [content]="example1"
        >
            <tui-input-files-example-1></tui-input-files-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="multiple"
            i18n-heading
            heading="multiple"
            [content]="example2"
        >
            <tui-input-files-example-2></tui-input-files-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="standalone-files"
            i18n-heading
            heading="Standalone files"
            [content]="example3"
        >
            <tui-input-files-example-3></tui-input-files-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="With button"
            i18n-heading
            heading="With button"
            [content]="example4"
        >
            <tui-input-files-example-4></tui-input-files-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            i18n-heading
            heading="Custom content"
            [content]="example5"
        >
            <tui-input-files-example-5></tui-input-files-example-5>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-input-files
                [formControl]="control"
                [accept]="accept"
                [link]="link"
                [label]="label"
                [maxFileSize]="maxFileSize"
                [multiple]="multiple"
                [focusable]="focusable"
                [pseudoFocused]="pseudoFocused"
                [pseudoHovered]="pseudoHovered"
                [pseudoPressed]="pseudoPressed"
                (reject)="updateRejected($event)"
            ></tui-input-files>
            <tui-files class="tui-space_top-2">
                <ng-container *ngIf="multiple; else single">
                    <ng-container *ngFor="let file of control.valueChanges | async">
                        <tui-file
                            *tuiItem
                            [file]="file"
                            [size]="size"
                            [showSize]="showSize"
                            (removed)="removeFile(file)"
                        ></tui-file>
                    </ng-container>
                </ng-container>

                <ng-template #single>
                    <ng-container *ngIf="control.value as file">
                        <tui-file
                            *tuiItem
                            [file]="file"
                            [size]="size"
                            [showSize]="showSize"
                        ></tui-file>
                    </ng-container>
                </ng-template>

                <ng-container *ngFor="let file of rejectedFiles">
                    <tui-file
                        *tuiItem
                        state="error"
                        [file]="file"
                        [size]="size"
                        [showSize]="showSize"
                        (removed)="removeRejected(file)"
                    ></tui-file>
                </ng-container>
            </tui-files>
        </tui-doc-demo>
        <tui-doc-documentation heading="TuiInputFiles">
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="accept"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="acceptVariants"
                [(documentationPropertyValue)]="accept"
            >
                Allowed formats (for native attribute
                <code>accept</code>
                )
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="label"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="label"
            >
                Label text
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="link"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="link"
            >
                Link text
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="maxFileSize"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="maxFileSizeVariants"
                [(documentationPropertyValue)]="maxFileSize"
            >
                Max file size in bytes (30 MB by default — 30 * 1000 * 1000)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="multiple"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [documentationPropertyValue]="multiple"
                (documentationPropertyValueChange)="multipleChange($event)"
            >
                Allows to upload several files
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="reject"
                documentationPropertyMode="output"
                documentationPropertyType="TuiFileLike"
            >
                Emits file that was rejected.
            </ng-template>
        </tui-doc-documentation>

        <tui-doc-documentation heading="TuiFile">
            <ng-template
                i18n
                documentationPropertyName="file"
                documentationPropertyMode="input"
                documentationPropertyType="TuiFileLike"
            >
                File
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="state"
                documentationPropertyMode="input"
                documentationPropertyType="TuiFileStateT"
            >
                State of the file
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="showSize"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showSize"
            >
                Show file size
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Component size
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="fileRemoved"
                documentationPropertyMode="output"
                documentationPropertyType="TuiFileLike"
            >
                Emits file on click on close button. When subscribed to, close button appears.
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiInputFileModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
