<tui-doc-page
    header="InputFiles"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>An input for upload one or several files. It uses native input file abilities.</p>

        <tui-doc-example
            id="single"
            heading="Basic single"
            [content]="example1"
        >
            <tui-input-files-example-1></tui-input-files-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="multiple"
            heading="multiple"
            [content]="example2"
        >
            <tui-input-files-example-2></tui-input-files-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="standalone-files"
            heading="Standalone files"
            [content]="example3"
        >
            <tui-input-files-example-3></tui-input-files-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="with-button"
            heading="With button"
            [content]="example4"
        >
            <tui-input-files-example-4></tui-input-files-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            heading="Custom content"
            [content]="example5"
        >
            <tui-input-files-example-5></tui-input-files-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="front-camera"
            heading="Camera capture"
            [content]="example6"
        >
            <tui-notification
                status="warning"
                class="tui-space_bottom-4"
            >
                The capture attribute works only on mobile browsers
            </tui-notification>
            <tui-input-files-example-6></tui-input-files-example-6>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-input-files
                [focusable]="focusable"
                [formControl]="control"
                [label]="label"
                [link]="link"
                [maxFileSize]="maxFileSize"
                [pseudoActive]="pseudoPressed"
                [pseudoFocus]="pseudoFocused"
                [pseudoHover]="pseudoHovered"
                (reject)="updateRejected($event)"
            >
                <input
                    tuiInputFiles
                    [accept]="accept"
                    [attr.capture]="capture"
                    [multiple]="multiple"
                />
            </tui-input-files>
            <tui-files
                class="tui-space_top-2"
                [max]="maxFilesCount"
                [(expanded)]="expanded"
            >
                <ng-container *ngIf="multiple; else single">
                    <ng-container *ngFor="let file of control.valueChanges | async">
                        <tui-file
                            *tuiItem
                            [file]="file"
                            [showDelete]="showDelete"
                            [showSize]="showSize"
                            [size]="size"
                            (removed)="removeFile(file)"
                        ></tui-file>
                    </ng-container>
                </ng-container>

                <ng-template #single>
                    <ng-container *ngIf="control.value as file">
                        <tui-file
                            *tuiItem
                            [file]="file"
                            [showDelete]="showDelete"
                            [showSize]="showSize"
                            [size]="size"
                        ></tui-file>
                    </ng-container>
                </ng-template>

                <ng-container *ngFor="let file of rejectedFiles">
                    <tui-file
                        *tuiItem
                        state="error"
                        [file]="file"
                        [showDelete]="showDelete"
                        [showSize]="showSize"
                        [size]="size"
                        (removed)="removeRejected(file)"
                    ></tui-file>
                </ng-container>
            </tui-files>
        </tui-doc-demo>
        <tui-doc-documentation heading="TuiInputFiles">
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="capture"
                documentationPropertyType="'user' | 'environment' | null"
                [documentationPropertyValues]="captureVariants"
                [(documentationPropertyValue)]="capture"
            >
                Allowed capture (for native attribute
                <code>capture</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="accept"
                documentationPropertyType="string"
                [documentationPropertyValues]="acceptVariants"
                [(documentationPropertyValue)]="accept"
            >
                Allowed formats (for native attribute
                <code>accept</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="label"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="label"
            >
                Label text
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="link"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="link"
            >
                Link text
            </ng-template>

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="maxFileSize"
                documentationPropertyType="number"
                [documentationPropertyValues]="maxFileSizeVariants"
                [(documentationPropertyValue)]="maxFileSize"
            >
                Max file size in bytes (30 MB by default — 30 * 1000 * 1000)
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="multiple"
                documentationPropertyType="boolean"
                [documentationPropertyValue]="multiple"
                (documentationPropertyValueChange)="multipleChange($event)"
            >
                Allows to upload several files
            </ng-template>
            <ng-template
                documentationPropertyMode="output"
                documentationPropertyName="reject"
                documentationPropertyType="TuiFileLike"
            >
                Emits file that was rejected.
            </ng-template>
        </tui-doc-documentation>

        <tui-doc-documentation heading="TuiFiles">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="maxFilesCount"
            >
                Maximum number of displayed files
            </ng-template>
            <ng-template
                documentationPropertyMode="input-output"
                documentationPropertyName="expanded"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="expanded"
            >
                Expanded/collapsed state for multiple files that are limited by the max property
            </ng-template>
        </tui-doc-documentation>

        <tui-doc-documentation heading="TuiFile">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="showDelete"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showDelete"
            >
                Allow to delete file after attach it
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="file"
                documentationPropertyType="TuiFileLike"
            >
                File
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="state"
                documentationPropertyType="TuiFileState"
            >
                State of the file
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="showSize"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showSize"
            >
                Show file size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Component size
            </ng-template>
            <ng-template
                documentationPropertyMode="output"
                documentationPropertyName="removed"
                documentationPropertyType="TuiFileLike"
            >
                Emits file on click on close button. When subscribed to, close button appears.
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import
                    <code>TuiInputFilesModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
