@import '@taiga-ui/core/styles/taiga-ui-local';

@keyframes tuiSkeleton {
    from {
        opacity: 0.03;
    }

    to {
        opacity: 0.06;
    }
}

[tuiSkeleton] {
    &._skeleton {
        color: transparent;
        background: var(--tui-background-base) !important;
        box-shadow: none !important;
        filter: contrast(0) brightness(0);
        animation: tuiSkeleton ease-in-out 1s infinite alternate;

        &[data-tui-skeleton] {
            background: transparent !important;

            &::before {
                content: attr(data-tui-skeleton);
                background: var(--tui-background-base);
                font-size: smaller;
                box-decoration-break: clone;
                border-radius: 0.25rem;
            }
        }
    }
}

[tuiTheme='dark'] [tuiSkeleton]._skeleton,
[tuiTheme='dark'][tuiSkeleton]._skeleton {
    filter: contrast(0) brightness(0) invert(1);
}
