@import '@taiga-ui/styles/utils';

@keyframes tuiSkeleton {
    from {
        opacity: 0.03;
    }

    to {
        opacity: 0.06;
    }
}

[tuiSkeleton] {
    &._skeleton {
        color: transparent;
        background: var(--tui-background-base) !important;
        box-shadow: none !important;
        filter: contrast(0) brightness(0);
        animation: tuiSkeleton ease-in-out calc(var(--tui-duration) * 4) infinite alternate;
        user-select: none;
        pointer-events: none;
        opacity: 0.06;

        &[data-tui-skeleton] {
            background: transparent !important;

            &::before {
                content: attr(data-tui-skeleton);
                background: var(--tui-background-base);
                font-size: smaller;
                box-decoration-break: clone;
                border-radius: 0.25rem;
            }
        }
    }
}

[tuiTheme='dark'] [tuiSkeleton]._skeleton,
[tuiTheme='dark'][tuiSkeleton]._skeleton {
    filter: contrast(0) brightness(0) invert(1);
}
