@import 'taiga-ui-local';

@padding: 0.5rem;
@padding-large: 0.75rem;

:host {
    .transition(background);
    position: relative;
    display: inline-block;
    font: var(--tui-font-text-s);
    border-radius: var(--tui-radius-s);
    max-width: 100%;
    cursor: default;
    outline: none;
    text-decoration: none;

    &:after {
        .transition(background);
        .fullsize();
        content: '';
        box-sizing: border-box;
        border-radius: inherit;
        pointer-events: none;
    }

    &._hoverable:hover,
    &._hoverable:active {
        &[data-tui-host-status='custom']:after {
            background-color: var(--tui-clear);
        }
    }

    &:focus:after {
        border: 2px solid var(--tui-focus);
    }

    &[data-tui-host-status='primary'] {
        background-color: var(--tui-primary);
        color: var(--tui-primary-text);

        &._hoverable:hover {
            background-color: var(--tui-primary-hover);
        }

        &._hoverable:active {
            background-color: var(--tui-primary-active);
        }
    }

    &[data-tui-host-status='error'] {
        background-color: var(--tui-error-bg);
        color: var(--tui-text-01);

        &._hoverable:hover,
        &._hoverable:active {
            background-color: var(--tui-error-bg-hover);
        }

        &[data-mode='onDark'] {
            background-color: var(--tui-error-bg-night);
            color: var(--tui-text-01-night);

            &._hoverable:hover,
            &._hoverable:active {
                background-color: var(--tui-error-bg-night-hover);
            }
        }
    }

    &[data-tui-host-status='success'] {
        background-color: var(--tui-success-bg);
        color: var(--tui-text-01);

        &._hoverable:hover,
        &._hoverable:active {
            background-color: var(--tui-success-bg-hover);
        }

        &[data-mode='onDark'] {
            background-color: var(--tui-success-bg-night);
            color: var(--tui-text-01-night);

            &._hoverable:hover,
            &._hoverable:active {
                background-color: var(--tui-success-bg-night-hover);
            }
        }
    }

    &[data-tui-host-status='warning'] {
        background-color: var(--tui-warning-bg);
        color: var(--tui-text-01);

        &._hoverable:hover,
        &._hoverable:active {
            background-color: var(--tui-warning-bg-hover);
        }

        &[data-mode='onDark'] {
            background-color: var(--tui-warning-bg-night);
            color: var(--tui-text-01-night);

            &._hoverable:hover,
            &._hoverable:active {
                background-color: var(--tui-warning-bg-night-hover);
            }
        }
    }

    &[data-tui-host-status='default'] {
        color: var(--tui-text-01-night);
        background-color: var(--tui-base-06);

        &:not([data-mode]) {
            &._hoverable:hover {
                background-color: var(--tui-base-07);
            }

            &._hoverable:active {
                background-color: var(--tui-base-08);
            }
        }

        &[data-mode='onDark'] {
            color: var(--tui-text-01-night);
            background-color: var(--tui-clear-inverse);

            &._hoverable:hover {
                background-color: var(--tui-clear-inverse-hover);
            }

            &._hoverable:active {
                background-color: var(--tui-clear-inverse-active);
            }

            &:focus:after {
                border: 2px solid var(--tui-base-01);
            }
        }

        &[data-mode='onLight'] {
            background-color: var(--tui-clear);
            color: var(--tui-text-01);

            &._hoverable:hover {
                background-color: var(--tui-clear-hover);
            }

            &._hoverable:active {
                background-color: var(--tui-clear-active);
            }
        }
    }

    &._editing {
        background: transparent !important;
    }

    &._disabled {
        pointer-events: none;
        opacity: var(--tui-disabled-opacity);
    }

    &._hoverable {
        cursor: pointer;
    }

    &._autocolor {
        color: var(--tui-text-01);
    }
}

.t-text {
    padding-right: 0.02em;
}

.t-tag {
    .text-overflow();
    position: relative;
    display: flex;
    align-items: center;
    border-radius: inherit;

    :host[data-size='s'] & {
        font: var(--tui-font-text-xs);
        height: 1.25rem;
        padding: 0 @padding;
    }

    :host[data-size='m'] & {
        height: var(--tui-height-xs);
        padding: 0 @padding;
    }

    :host[data-size='l'] & {
        height: var(--tui-height-s);
        padding: 0 @padding-large;
    }

    :host._has-icon[data-size='s'] & {
        padding: 0 (@space / 2) 0 @padding-large;
        padding-inline-start: @padding-large;
        padding-inline-end: (@space / 2);
    }

    :host._has-icon[data-size='m'] & {
        padding: 0 0 0 @padding-large;
        padding-inline-start: @padding-large;
        padding-inline-end: 0;
    }

    :host._has-icon[data-size='l'] & {
        padding: 0 @space 0 @padding-large;
        padding-inline-start: @padding-large;
        padding-inline-end: @space;
    }

    :host._editing & {
        visibility: hidden;
    }

    :host._disabled._has-icon[data-size='s'] &,
    :host._disabled._has-icon[data-size='m'] & {
        padding: 0 @padding 0 @padding-large;
        padding-inline-start: @padding-large;
        padding-inline-end: @padding;
    }

    :host._disabled._has-icon[data-size='l'] & {
        padding: 0 @padding-large;
    }
}

.t-edit {
    .clearinput();
    position: absolute;
    top: 0;
    left: 0;
    font: var(--tui-font-text-s);
    color: var(--tui-text-01);
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 @padding;
    padding-inline-start: @padding;
    padding-inline-end: 0;

    :host[data-size='s'] & {
        height: 1.25rem;
        line-height: 1.25rem;
    }

    :host[data-size='m'] & {
        height: var(--tui-height-xs);
        line-height: var(--tui-height-xs);
    }

    :host[data-size='l'] & {
        height: var(--tui-height-s);
        line-height: var(--tui-height-s);
        padding: 0 0 0 @padding-large;
        padding-inline-start: @padding-large;
        padding-inline-end: 0;
    }
}

.t-icon {
    margin: 0 0 0 @space;
    margin-inline-start: @space;
    margin-inline-end: 0;
    height: 100%;

    &:not(&_loader) {
        cursor: pointer;
        pointer-events: all;
        opacity: var(--tui-disabled-opacity);
    }

    &:hover {
        opacity: 1;
    }

    &_loader {
        width: 1rem;
        height: 1rem;
        margin: 0 0.25rem;

        :host[data-size='s'] & {
            margin: 0 0.375rem 0 0.75rem;
            margin-inline-start: 0.75rem;
            margin-inline-end: 0.375rem;
            width: 0.5rem;
            height: 0.5rem;
        }

        :host[data-size='l'] & {
            margin: 0 0.25rem 0 0.5rem;
            margin-inline-start: 0.5rem;
            margin-inline-end: 0.25rem;
        }
    }
}

.t-left-content {
    margin: 0 @space 0 0;
    margin-inline-start: 0;
    margin-inline-end: @space;
    width: 1rem;
    height: 1rem;
}
