<div
    class="t-tag"
    [style.backgroundColor]="backgroundColor"
    (dblclick)="edit($event)"
>
    <div
        *ngIf="leftContent"
        class="t-left-content"
    >
        <ng-container *polymorpheusOutlet="leftContent as text">
            {{ text }}
        </ng-container>
    </div>
    <span
        automation-id="tui-tag__text"
        class="t-text"
    >
        {{ displayText }}
    </span>
    <tui-loader
        *ngIf="showLoader"
        class="t-icon t-icon_loader"
        [inheritColor]="true"
        [size]="loaderSize"
    ></tui-loader>
    <tui-svg
        *ngIf="canRemove"
        tuiPreventDefault="mousedown"
        automation-id="tui-tag__remove"
        src="tuiIconCloseLarge"
        class="t-icon"
        (click)="remove($event)"
    ></tui-svg>
</div>
<input
    *ngIf="editing"
    #input
    automation-id="tui-tag__edit"
    type="text"
    class="t-edit"
    [attr.maxLength]="maxLength"
    [ngModel]="editedText"
    (ngModelChange)="onInput($event)"
    (blur)="onBlur()"
    (keydown)="onKeyDown($event)"
/>
