<tui-doc-page
    header="ComboBox"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <code>ComboBox</code>
        is a form control for
        <u>selecting a single value</u>
        from a set of options. It is similar to
        <a
            tuiLink
            [routerLink]="routes.Select"
        >
            <strong>Select</strong>
        </a>
        but with a major difference –
        <u>possibility to enter value manually</u>
        .

        <tui-doc-example
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
            [description]="basicDescription"
        >
            <ng-template #basicDescription>
                The main helper you’ll use with almost every
                <code>ComboBox</code>
                is the
                <code>tuiFilterByInput</code>
                pipe. It enables item filtering based on the user’s input as they type.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="Non-strict mode"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
            [description]="nonStrictDescription"
        >
            <ng-template #nonStrictDescription>
                By default,
                <code>strict</code>
                mode is enabled. This means the input value must match one of the options from the data list. If the
                value doesn't match, the form control is not updated and the input is cleared on blur.

                <p>
                    In non-strict mode, the form control can contain any value — even if it doesn’t match any item in
                    the data list.
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="Client-side filtering"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
            [description]="clientSideFilteringDescription"
        >
            <ng-template #clientSideFilteringDescription>
                You can configure any filtering logic by passing a custom matcher function as an argument to the
                <code>tuiFilterByInput</code>
                pipe.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="Textfield customization"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
            [description]="textfieldBasedDescription"
        >
            <ng-template #textfieldBasedDescription>
                Take full advantage of
                <code>Textfield</code>
                : add any number of
                <a
                    target="_blank"
                    tuiLink
                    [routerLink]="routes.Icon"
                >
                    <strong>Icons</strong>
                </a>
                and
                <a
                    target="_blank"
                    tuiLink
                    [routerLink]="routes.Tooltip"
                >
                    <strong>Tooltips</strong>
                </a>
                (with control over their order and color), adjust the size of the textbox, and more. Explore
                <a
                    target="_blank"
                    tuiLink
                    [routerLink]="routes.Input"
                >
                    <strong>Input</strong>
                </a>
                documentation page for more customization options.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="Server-side filtering"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample: 'html,ts' : {'database.ts': databaseExample}"
            [description]="serverSideFilteringDescription"
        >
            <ng-template #serverSideFilteringDescription>
                Pass
                <code>null</code>
                as argument to
                <code>tui-data-list-wrapper[items]</code>
                to show loader inside the dropdown. Additionally, you can put
                <a
                    tuiLink
                    [routerLink]="routes.Loader"
                >
                    <strong>Loader</strong>
                </a>
                inside textfield's box.

                <p>
                    Pass empty array to
                    <code>tui-data-list-wrapper[items]</code>
                    to show
                    <code>tui-data-list-wrapper[emptyContent]</code>
                    (it accepts
                    <code>PolymorpheusContent</code>
                    ).
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="Items handlers"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
            [description]="itemsHandlersDescription"
        >
            <ng-template #itemsHandlersDescription>
                Use
                <code>tuiItemsHandlersProvider</code>
                to override the default behavior of all
                <code>ComboBox</code>
                -s below the current DI scope.

                <p>
                    To customize a specific
                    <code>ComboBox</code>
                    , use the input properties
                    <code>[identityMatcher]</code>
                    /
                    <code>[stringify]</code>
                    /
                    <code>disabledItemHandler</code>
                    (inherited from
                    <code>Textfield</code>
                    ).
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="Customize content"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample"
            [description]="contentDescription"
        >
            <ng-template #contentDescription>
                <a
                    tuiLink
                    [routerLink]="routes.DataListWrapper"
                >
                    <strong>DataListWrapper</strong>
                </a>
                lets you customize the appearance of options inside the dropdown by
                <code>[itemContent]</code>
                property. Also,
                <code>Textfield</code>
                has
                <code>[content]</code>
                property to customize appearance of selected option inside textbox.

                <p>
                    Both properties accept
                    <code>PolymorpheusContent</code>
                    – it empowers you with extremely large possibilities for customization.
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="With DataList"
            [component]="8 | tuiComponent"
            [content]="8 | tuiExample"
            [description]="datalistDescription"
        >
            <ng-template #datalistDescription>
                <code>DataListWrapper</code>
                is just a helper to solve most popular use cases. Use
                <code>DataList</code>
                for more complex cases when great flexibility is required.

                <a
                    target="_blank"
                    tuiLink
                    [routerLink]="routes.DataList"
                >
                    <strong>DataList</strong>
                </a>
                documentation page for more customization options.
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="Choose form control output"
            [component]="9 | tuiComponent"
            [content]="9 | tuiExample"
            [description]="formControlOutputDescription"
        >
            <ng-template #formControlOutputDescription>
                <code>DataList</code>
                exposes
                <code>Option</code>
                -directives – it provides you with an opportunity to decide which data type put inside its
                <code>[value]</code>
                .

                <p>
                    This example demonstrates how every option can be a complex object with any structure but
                    <strong>form control contains a single id-property</strong>
                    as
                    <code>number</code>
                    -type.
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="Virtual scroll"
            [component]="10 | tuiComponent"
            [content]="10 | tuiExample"
            [description]="virtualScrollDescription"
        >
            <ng-template #virtualScrollDescription>
                You can use
                <code>ComboBox</code>
                with virtual scrolling from
                <a
                    href="https://material.angular.io/cdk/scrolling/overview"
                    target="_blank"
                    tuiLink
                >
                    &#64;angular/cdk/scrolling
                </a>
                .
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="With DropdownMobile"
            [component]="11 | tuiComponent"
            [content]="11 | tuiExample"
            [description]="dropdownMobileDescription"
        >
            <ng-template #dropdownMobileDescription>
                @if (!isMobile) {
                    <div
                        tuiNotification
                        class="tui-space_bottom-2"
                    >
                        Use real mobile device or enable mobile emulation in DevTools to explore this example!
                    </div>
                }

                <p class="tui-space_top-0">
                    Put
                    <code>tuiDropdownMobile</code>
                    on
                    <code>&lt;tui-textfield /&gt;</code>
                    to enable a full-screen dialog instead of the default dropdown
                    <strong>on mobile devices.</strong>
                </p>

                <p>
                    By default, the full-screen dialog hides all other content using
                    <code>visibility: hidden</code>
                    and shifts the textfield to the top of the page. Use
                    <code>--tui-dropdown-mobile-offset</code>
                    css-variable option to control how far the textfield is shifted. If needed, manually set
                    <code>visibility: visible</code>
                    on any hidden elements (e.g., a sticky header) to make them visible again.
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            heading="Override option component"
            [component]="12 | tuiComponent"
            [content]="12 | tuiExample: 'html,ts,less' : {'option.ts': selectOptionExample}"
            [description]="overrideOptionDescription"
        >
            <ng-template #overrideOptionDescription>
                You can override default behavior and appearance of all options inside dropdown. Just provide your
                custom component by
                <code>tuiAsOptionContent</code>
                -utility.

                <div
                    appearance="warning"
                    tuiNotification
                    class="tui-space_top-2"
                >
                    <strong>Double check if you really need this feature!</strong>

                    <div>
                        For the most cases
                        <code>&lt;tui-data-list-wrapper [itemContent]="..." /&gt;</code>
                        can be enough for your task.
                    </div>

                    <div>
                        Explore
                        <a
                            fragment="customize-content"
                            routerLink="."
                            tuiLink
                        >
                            this example
                        </a>
                        for more details.
                    </div>
                </div>
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    #textfield
                    tuiChevron
                    [content]="!textfield.focused() && control.value ? textfieldDoc.content : ''"
                    [disabledItemHandler]="itemsHandlers.disabledItemHandler()"
                    [iconStart]="icons.iconStart"
                    [identityMatcher]="itemsHandlers.identityMatcher()"
                    [stringify]="itemsHandlers.stringify()"
                    [tuiDropdownAlign]="dropdown.align"
                    [tuiDropdownAppearance]="dropdown.appearance"
                    [tuiDropdownDirection]="dropdown.direction"
                    [tuiDropdownLimitWidth]="dropdown.limitWidth"
                    [tuiDropdownMaxHeight]="dropdown.maxHeight"
                    [tuiDropdownMinHeight]="dropdown.minHeight"
                    [tuiDropdownOffset]="dropdown.offset"
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                    [(open)]="dropdown.open"
                >
                    <input
                        placeholder="Search country"
                        tuiComboBox
                        [focused]="input.focused"
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [matcher]="matcher"
                        [readOnly]="controlDoc.readonly"
                        [state]="input.state"
                        [strict]="strict"
                        [tuiDisabled]="controlDoc.disabled"
                    />

                    <tui-data-list-wrapper
                        *tuiDropdown
                        [items]="countries() | tuiFilterByInput"
                    />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[strict]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="strict"
            >
                Value must only be an item of suggestions&nbsp;
                <code>&lt;T&gt;</code>

                <p>
                    When
                    <code>false</code>
                    , make sure your handlers, such as
                    <code>stringify</code>
                    can handle
                    <code>string</code>
                    value, as well as
                    <code>&lt;T&gt;</code>
                    !
                </p>
            </tr>

            <tr
                name="[matcher]"
                tuiDocAPIItem
                type="TuiStringMatcher | null"
                [items]="matcherVariants"
                [(value)]="matcher"
            >
                A
                <strong>pure</strong>
                function that compares search text and datalist's items to define a match between them. Lowercase string
                comparison function by default.
            </tr>

            <tbody
                #itemsHandlers
                tuiDocItemsHandlers
                [disabledItemHandler]="handler"
            ></tbody>

            <tbody
                #textfieldDoc
                tuiDocTextfield
                [contentVariants]="textfieldContentVariants"
            ></tbody>

            <tbody
                #input
                tuiDocInput
            ></tbody>

            <tbody
                #icons
                tuiDocIcons
                [hiddenOptions]="['iconEnd']"
            ></tbody>

            <tbody
                #dropdown
                tuiDocDropdown
                [hiddenOptions]="['tuiDropdownEnabled', 'dropdownSided', 'dropdownSidedOffset']"
            ></tbody>

            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>
</tui-doc-page>
