<div
    tuiDropdownOpenMonitor
    class="t-hosted"
    [tuiDropdown]="dropdown"
    [tuiDropdownEnabled]="interactive"
    [tuiDropdownOpen]="open && interactive"
    (tuiActiveZoneChange)="onActiveZone($event)"
    (tuiDropdownOpenChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        *tuiLet="dateFiller$ | async as dateFiller"
        automation-id="tui-input-date-range__textfield"
        tuiValueAccessor
        class="t-textfield"
        [disabled]="computedDisabled"
        [invalid]="computedInvalid"
        [maskito]="computedMask"
        [nativeId]="nativeId"
        [pseudoActive]="pseudoActive"
        [pseudoFocus]="innerPseudoFocused"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldFiller]="getComputedRangeFiller(dateFiller || '')"
        [tuiTextfieldIcon]="calendarIcon && iconContent"
        [value]="computedValue"
        (valueChange)="onValueChange($event)"
    >
        <ng-content />
        <ng-content
            ngProjectAs="input"
            select="input"
        />

        <div
            *ngIf="showValueTemplate"
            ngProjectAs="tuiContent"
            class="t-value"
        >
            <ng-container *polymorpheusOutlet="computedContent as text; context: {$implicit: value}">
                {{ text }}
            </ng-container>
        </div>
    </tui-primitive-textfield>

    <ng-template #iconContent>
        <tui-icon
            *polymorpheusOutlet="calendarIcon as src; context: {$implicit: size}"
            automation-id="tui-input-date-range__icon"
            tuiAppearance="icon"
            [class.t-icon_small]="size === 's'"
            [class.t-icon]="!computedDisabled"
            [icon]="src.toString()"
            (click)="onIconClick()"
        />
    </ng-template>

    <ng-template #dropdown>
        <tui-calendar-range
            [defaultViewedMonth]="defaultViewedMonth"
            [disabledItemHandler]="disabledItemHandler"
            [items]="items"
            [markerHandler]="markerHandler"
            [max]="max"
            [maxLength]="maxLength"
            [min]="min"
            [minLength]="minLength"
            [value]="value"
            (valueChange)="onRangeChange($event)"
        />
    </ng-template>
</div>
