@import '@taiga-ui/core/styles/taiga-ui-local';

@keyframes tuiShaking {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-0.3125rem, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(0.3125rem, 0, 0);
    }
}

@sidebar-width: 16.25rem;
@sticky-header-height: 4rem;

html,
body {
    scroll-padding-top: @sticky-header-height;
    background: var(--tui-background-base);
}

tui-root > tui-scroll-controls > .t-bar_vertical {
    top: @sticky-header-height !important;
}

tui-doc-main {
    display: block;
}

// prevent override styles
// inside editor code block
code:not(pre code) {
    /* stylelint-disable-next-line */
    &:not(.hljs):not([class*='language-']) {
        .transition(background);

        display: inline-flex;
        background: var(--tui-background-base-alt);
        color: var(--tui-text-secondary);
        vertical-align: middle;
        align-items: center;
        border-radius: 0.25rem;
        font-weight: 500;
        outline: 1px solid var(--tui-border-hover);
        font-size: 0.75rem;
        padding: 0 0.3125rem;
        margin: 0.125rem 0.1875rem;
        //noinspection CssInvalidPropertyValue
        text-wrap: wrap;

        tui-notification & {
            mix-blend-mode: color-burn;
        }

        [tuiTheme='dark'] tui-notification & {
            mix-blend-mode: luminosity;
        }

        a & {
            color: var(--tui-text-action);
        }
    }
}

button:focus code,
a:focus code {
    background: var(--tui-background-base);
}

.tui-doc-page {
    isolation: isolate;
    padding-top: 4rem;
}

tui-doc-navigation.tui-doc-navigation {
    position: fixed;
    top: 4rem;
    bottom: 0;
    width: @sidebar-width;
    border-right: 1px solid var(--tui-border-normal);

    @media @tui-mobile {
        display: none;
    }

    tui-scrollbar {
        overscroll-behavior: none;
    }
}

.tui-doc-content {
    margin-left: @sidebar-width;

    @media @tui-mobile {
        margin-left: 0;
    }
}

.tui-doc-outlet + * {
    display: block;
}

.tui-doc-dark-mode-switch {
    margin-left: 1rem;
}

// highlightjs custom theme
// for only tui code examples
tui-doc-code {
    .hljs-tag {
        background: none;
    }

    .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: var(--tui-text-primary);
        background-color: var(--tui-background-neutral-1);

        &.hljs-line-numbers {
            background: transparent;
        }
    }

    .hljs-subst,
    .hljs-title {
        font-weight: normal;
        color: var(--tui-text-primary);
    }

    .hljs-property {
        color: #bd65a4;
    }

    .hljs-comment,
    .hljs-quote {
        color: var(--tui-text-secondary);
        font-style: italic;
    }

    .hljs-meta {
        color: #e38162;
    }

    .hljs-section,
    .hljs-name,
    .hljs-literal,
    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-type,
    .hljs-selector-id,
    .hljs-selector-class {
        font-weight: bold;
        color: var(--tui-text-action);
    }

    .hljs-attr {
        color: var(--tui-text-action);
    }

    .hljs-attribute,
    .hljs-number,
    .hljs-regexp,
    .hljs-link,
    .hljs-built_in {
        font-weight: bold;
        color: #b8474e;
    }

    .hljs-number,
    .hljs-regexp,
    .hljs-link {
        font-weight: normal;
    }

    .hljs-string {
        color: var(--tui-status-positive);
        font-weight: bold;
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-formula {
        color: var(--tui-text-primary);
        background: var(--tui-background-base-alt);
        font-style: italic;
    }

    .hljs-doctag {
        text-decoration: underline;
    }

    .hljs-variable,
    .hljs-template-variable {
        color: var(--tui-text-action-hover);
    }

    .hljs-addition {
        background: var(--tui-status-positive-pale);
    }

    .hljs-deletion {
        background: var(--tui-status-negative-pale);
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }

    .hljs .hljs-line-numbers {
        padding: 0;
    }

    .hljs-ln-numbers {
        vertical-align: top;
        opacity: 0.3;
        text-align: right;
        padding-right: 1em !important;
    }
}

[tuiTheme='dark'] tui-doc-code,
tui-doc-code[tuiTheme='dark'] {
    .hljs-variable,
    .hljs-template-variable {
        color: var(--tui-status-warning);
    }
}
