@import '@taiga-ui/styles/utils';

@sidebar-width: 16.5rem;

html:has(body[tuiTheme='dark']) {
    background: #222;
}

tui-doc-main {
    display: block;
}

// prevent override styles
// inside editor code block
code:not(pre code) {
    /* stylelint-disable-next-line */
    &:not(.hljs):not([class*='language-']) {
        .transition(background);

        display: inline-flex;
        background: var(--tui-background-neutral-1);
        color: var(--tui-text-secondary);
        vertical-align: middle;
        align-items: center;
        border-radius: 0.25rem;
        font-weight: 500;
        outline: 1px solid var(--tui-border-hover);
        font-size: 0.75rem;
        padding: 0 0.3125rem;
        margin: 0 0.1875rem;
        //noinspection CssInvalidPropertyValue
        text-wrap: wrap;

        a & {
            color: var(--tui-text-action);
        }
    }
}

button:focus code,
a:focus code {
    background: var(--tui-background-base);
}

.tui-doc-page {
    isolation: isolate;
    padding-block-start: 4.125rem;
}

tui-doc-navigation.tui-doc-navigation {
    position: fixed;
    top: 4.125rem;
    bottom: 0;
    inline-size: @sidebar-width;
    box-sizing: border-box;
    background: var(--tui-background-base);

    &::before,
    &::after {
        content: '';
        position: absolute;
        inset: -0.25rem 0 0.25rem;
        pointer-events: none;
        border-radius: var(--tui-radius-m);
        border: 0.25rem solid var(--tui-background-base-alt);

        [tuiTheme='dark'] & {
            border-color: var(--tui-background-elevation-2);
        }
    }

    &::after {
        inset-inline-start: 100%;
        inline-size: 200vw;
        margin-inline-start: -0.25rem;
    }

    @media @tui-mobile {
        display: none;
    }
}

.tui-doc-content {
    margin-inline-start: @sidebar-width;

    @media @tui-mobile {
        margin-inline: 0;
    }
}

.tui-doc-outlet + * {
    display: block;
}

button.tui-doc-switch-direction,
button.tui-doc-dark-mode-switch {
    margin-inline-start: 1rem;
    background: var(--tui-background-base);
}

// highlightjs custom theme
// for only tui code examples
tui-doc-code {
    .hljs-tag {
        background: none;
    }

    .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: var(--tui-text-primary);
    }

    .hljs-subst,
    .hljs-title {
        font-weight: normal;
        color: var(--tui-text-primary);
    }

    .hljs-property {
        color: #bd65a4;
    }

    .hljs-comment,
    .hljs-quote {
        color: var(--tui-text-secondary);
        font-style: italic;
    }

    .hljs-meta {
        color: #e38162;
    }

    .hljs-section,
    .hljs-name,
    .hljs-literal,
    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-type,
    .hljs-selector-id,
    .hljs-selector-class {
        font-weight: bold;
        color: var(--tui-text-action);
    }

    .hljs-attr {
        color: var(--tui-text-action);
    }

    .hljs-attribute,
    .hljs-number,
    .hljs-regexp,
    .hljs-link,
    .hljs-built_in {
        font-weight: bold;
        color: #b8474e;
    }

    .hljs-number,
    .hljs-regexp,
    .hljs-link {
        font-weight: normal;
    }

    .hljs-string {
        color: var(--tui-status-positive);
        font-weight: bold;
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-formula {
        color: var(--tui-text-primary);
        background: var(--tui-background-base-alt);
        font-style: italic;
    }

    .hljs-doctag {
        text-decoration: underline;
    }

    .hljs-variable,
    .hljs-template-variable {
        color: var(--tui-text-action-hover);
    }

    .hljs-addition {
        background: var(--tui-status-positive-pale);
    }

    .hljs-deletion {
        background: var(--tui-status-negative-pale);
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }

    .hljs .hljs-line-numbers {
        padding: 0;
    }

    .hljs-ln-numbers {
        vertical-align: top;
        opacity: 0.3;
        text-align: end;
        padding-inline-end: 1em !important;
    }
}

[tuiTheme='dark'] tui-doc-code,
tui-doc-code[tuiTheme='dark'] {
    .hljs-variable,
    .hljs-template-variable {
        color: var(--tui-status-warning);
    }
}

tui-root > tui-scroll-controls .t-bar.t-bar_vertical {
    inset-block: 4.5rem 1rem;
    transform: translateX(-0.75rem);
    opacity: 0.5;
}
