@import 'taiga-ui-local';

@color-mobile-gray: #9299a2;

:host {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

.portal {
    .center-left();
    position: fixed;
    bottom: 1.25rem;
    animation: tuiFadeIn var(--tui-duration) var(--tui-duration);
    animation-fill-mode: backwards;
}

.header {
    position: sticky;
    top: 0;
    width: calc(100% + 4rem);
    margin-top: -2rem;
    margin-left: -2rem;
    text-align: center;
    word-wrap: break-word;
    background: var(--tui-support-20);
    border-radius: 1rem 1rem 0 0;
    transform-origin: top left;
}

.background {
    position: sticky;
    top: -1rem;
    height: 2rem;
    width: calc(100% + 4rem);
    margin: -2rem 0 -2rem -2rem;
    background: var(--tui-support-20);
    border-radius: 1rem 1rem 0 0;
}

.wrapper {
    background: var(--tui-base-02);
    padding: 3.125rem 0 2rem;
}

.logo {
    position: relative;
    height: 5.5rem;
    color: var(--tui-base-01);
}

.date {
    display: block;
    font-size: 1.0625rem;
    line-height: 1.125rem;
    padding: 0.75rem 0;
}

.icon[data-size='m'] {
    position: relative;
    margin-top: 0.25rem;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 0 2px var(--tui-base-02);
    color: var(--tui-base-02);
    background: var(--tui-support-20);
}

.description {
    font-size: 1.0625rem;
    line-height: 1.125rem;
    margin: 0.5rem 0 0;
    color: @color-mobile-gray;
}

.title {
    font-weight: bold;
    font-size: 1.0625rem;
    line-height: 1.25rem;
    margin: 1.5rem 0 0.25rem;
}

.money {
    font-size: 2.125rem;
    line-height: 2.5rem;
}
