<ng-container *ngIf="edit; else view">
    <label class="t-label">
        URL
        <span class="t-url">
            {{ prefix }}
            <tui-input-inline
                tuiAutoFocus
                class="t-input"
                [class.t-input_filled]="hasUrl"
                [ngModel]="url"
                (ngModelChange)="onChange($event)"
                (keydown.prevent.enter)="onSave()"
                (keydown.backspace)="onBackspace()"
            >
                example.com
            </tui-input-inline>
        </span>
    </label>
    <tui-svg
        src="tuiIconCloseLarge"
        class="t-cleaner"
        [class.t-cleaner_hidden]="!hasUrl"
        (click)="onClear()"
    ></tui-svg>
    <button
        tuiIconButton
        type="button"
        size="s"
        title="Insert link"
        icon="tuiIconCheckCircleLarge"
        shape="rounded"
        appearance="icon"
        class="t-button"
        (click)="onSave()"
    ></button>
</ng-container>
<ng-template #view>
    <a
        tuiLink
        target="_blank"
        class="t-link"
        [href]="href"
    >
        {{ shortUrl }}
    </a>
    <button
        tuiIconButton
        type="button"
        size="s"
        title="Change link"
        icon="tuiIconEditLarge"
        shape="rounded"
        appearance="icon"
        class="t-button"
        (click)="onEdit()"
    ></button>
    <button
        tuiIconButton
        type="button"
        size="s"
        title="Remove link"
        icon="tuiIconTrashLarge"
        shape="rounded"
        appearance="icon"
        class="t-button"
        (click)="onRemove()"
    ></button>
</ng-template>
