@import 'taiga-ui-local';

:host {
    display: block;
    min-width: 18.75rem;
}

.t-edit-link {
    display: flex;
    min-height: 4rem;
    align-items: center;
    padding-right: 0.75rem;
}

.t-label {
    font: var(--tui-font-text-s);
    height: var(--tui-height-l);
    box-sizing: border-box;
    padding: 0.4375rem 1rem;
    min-width: 12.5rem;
    max-width: 25rem;
    width: 100%;
}

.t-label-properties {
    display: flex;
    align-items: center;
    max-width: 8.375rem;
    justify-content: space-between;
}

.t-property_inactive {
    opacity: 0.5;
}

.t-url {
    display: flex;
    font: var(--tui-font-text-m);
    color: var(--tui-text-02);
}

.t-input {
    flex: 1;

    &_filled {
        color: var(--tui-text-01);
    }
}

.t-button {
    width: 2rem;
    height: 2rem;
    margin: 0 @space;
    transition: background 0.2s;
}

.t-edit-button {
    margin-left: auto;
}

.t-link {
    margin: 0 1rem;
}

.t-cleaner {
    .transition(color);
    color: var(--tui-base-06);
    cursor: pointer;
    margin-left: auto;

    &:hover {
        color: var(--tui-base-07);
    }

    &_hidden {
        visibility: hidden;
    }
}

.t-anchor-list {
    display: flex;
    max-height: 12.5rem;
    flex-direction: column;
}

.t-anchor {
    .clearbtn();
    min-height: 2.75rem;
    padding: 0.375rem 0.5rem;
    margin: 0.125rem 0.5rem;
    border-radius: var(--tui-radius-m);
    text-align: left;

    &:hover {
        background: var(--tui-base-02);
        cursor: pointer;
    }
}
