<tui-doc-page i18n-header header="Toggle" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            Toggle is a switcher between two states. It can be also used with
            icons and loading.
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-toggle-example-1></tui-toggle-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-toggle
                [formControl]="control"
                [pseudoFocused]="pseudoFocused"
                [pseudoHovered]="pseudoHovered"
                [pseudoPressed]="pseudoPressed"
                [showIcons]="showIcons"
                [showLoader]="showLoader"
                [singleColor]="singleColor"
                [size]="size"
            ></tui-toggle>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pseudoFocused"
                documentationPropertyMode="input"
                documentationPropertyType="boolean | null"
                [documentationPropertyValues]="pseudoVariants"
                [(documentationPropertyValue)]="pseudoFocused"
            >
                Visual focused state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pseudoHovered"
                documentationPropertyMode="input"
                documentationPropertyType="boolean | null"
                [documentationPropertyValues]="pseudoVariants"
                [(documentationPropertyValue)]="pseudoHovered"
            >
                Visual hovered state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pseudoPressed"
                documentationPropertyMode="input"
                documentationPropertyType="boolean | null"
                [documentationPropertyValues]="pseudoVariants"
                [(documentationPropertyValue)]="pseudoPressed"
            >
                Visual pseudo state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="showIcons"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showIcons"
            >
                Show icons
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="showLoader"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showLoader"
            >
                Show loader. If icons are also enabled, show loader anyway.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="singleColor"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="singleColor"
            >
                All states have the same color
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiToggleModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
