@import '@taiga-ui/styles/utils';

[tuiButtonGroup] {
    &,
    tui-elastic-container {
        .transition(~'background, height, border-radius');

        border-radius: var(--tui-radius-xl);
        overflow: hidden;
    }

    &,
    tui-elastic-container .t-wrapper {
        display: flex;
        justify-content: center;
    }

    tui-elastic-container {
        inline-size: 100%;
    }

    button,
    a {
        .transition(background);

        position: relative;
        display: flex;
        border: none;
        outline: none;
        background: transparent;
        align-items: center;
        flex: 1;
        flex-direction: column;
        padding: 1.125rem 0.25rem;
        gap: 0.5rem;
        font: var(--tui-typography-ui-s);
        max-inline-size: calc(50% - 1.75rem);
        cursor: pointer;
        color: var(--tui-text-action);
        text-align: center;
        text-decoration: none;
        clip-path: inset(0);

        &:first-child {
            clip-path: inset(0 0 0 -10rem);
        }

        &:last-child {
            clip-path: inset(0 -10rem 0 0);
        }

        &:active {
            background: var(--tui-background-neutral-1);
        }

        &::before,
        &::after {
            position: absolute;
            top: 0;
            background: inherit;
            inline-size: 1.75rem;
            block-size: 100%;
        }

        &:first-child::before {
            content: '';
            left: -1.75rem;
        }

        &:last-child::after {
            content: '';
            right: -1.75rem;
        }

        tui-icon {
            font-size: 1.75rem;
        }
    }

    &:has(button:only-child) {
        border-radius: 1rem;
    }

    button:only-child,
    a:only-child {
        inline-size: 100%;
        flex-direction: row;
        font: var(--tui-typography-ui-l);
        max-inline-size: 100%;
        justify-content: center;
    }
}
