<tui-doc-page header="Rating" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>A rating indicates user interest in content</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-rating-example-1></tui-rating-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="colors"
            i18n-heading
            heading="Customization"
            [content]="example2"
        >
            <tui-rating-example-2></tui-rating-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <b>Current rating</b>
            - {{rating.value}}
            <br />

            <tui-rating
                #rating
                [min]="min"
                [max]="max"
                [style.color]="color"
                [disabled]="disabled"
                [readOnly]="readOnly"
                [iconNormal]="iconNormal"
                [iconFilled]="iconFilled"
                [(ngModel)]="value"
            ></tui-rating>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                documentationPropertyName="readOnly"
                [documentationPropertyValue]="readOnly"
                (documentationPropertyValueChange)="readOnly = $event"
            ></ng-template>
            <ng-template
                i18n
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                documentationPropertyName="disabled"
                [documentationPropertyValue]="disabled"
                (documentationPropertyValueChange)="disabled = $event"
            ></ng-template>
            <ng-template
                i18n
                documentationPropertyType="number"
                documentationPropertyMode="input-output"
                documentationPropertyName="ngModel"
                [documentationPropertyValue]="value"
                (documentationPropertyValueChange)="value = $event"
            ></ng-template>
            <ng-template
                i18n
                documentationPropertyType="number"
                documentationPropertyMode="input"
                documentationPropertyName="min"
                [documentationPropertyValue]="min"
                (documentationPropertyValueChange)="min = $event"
            ></ng-template>
            <ng-template
                i18n
                documentationPropertyType="number"
                documentationPropertyMode="input"
                documentationPropertyName="max"
                [documentationPropertyValue]="max"
                (documentationPropertyValueChange)="max = $event"
            ></ng-template>
            <ng-template
                i18n
                documentationPropertyMode="input"
                documentationPropertyType="string"
                documentationPropertyName="style.color"
                [documentationPropertyValues]="colorVariants"
                (documentationPropertyValueChange)="color = $event"
            ></ng-template>
            <ng-template
                i18n
                documentationPropertyMode="input"
                documentationPropertyType="string"
                documentationPropertyName="iconNormal"
                [documentationPropertyValues]="iconNormalVariants"
                (documentationPropertyValueChange)="iconNormal = $event"
            ></ng-template>
            <ng-template
                i18n
                documentationPropertyMode="input"
                documentationPropertyType="string"
                documentationPropertyName="iconFilled"
                [documentationPropertyValues]="iconFilledVariants"
                (documentationPropertyValueChange)="iconFilled = $event"
            ></ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiRatingModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Optionally use the
                    <code>TUI_RATING_OPTIONS</code>
                    injection token to override the default options for the
                    component.
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleDefineOptions"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
