<tui-doc-page
    header="InputPhoneInternational"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Allows to input phone number in international format</p>

        <p>
            <code>InputPhoneInternational</code>
            is based on
            <a
                href="https://maskito.dev/addons/phone"
                target="_blank"
                tuiLink
            >
                <strong>&#64;maskito/phone</strong>
            </a>
            and
            <a
                href="https://www.npmjs.com/package/libphonenumber-js"
                target="_blank"
                tuiLink
            >
                <strong>libphonenumber-js</strong>
            </a>
            libraries.
        </p>

        <div tuiNotification>
            <a
                href="https://github.com/google/libphonenumber"
                target="_blank"
                tuiLink
            >
                <strong>libphonenumber</strong>
            </a>
            is an ultimate phone number formatting and parsing library developed by
            <strong>Google</strong>
            .

            <p>
                This library
                <a
                    href="https://github.com/google/libphonenumber/blob/master/FAQ.md#where-do-we-get-information-from-to-determine-if-a-number-range-is-valid"
                    tuiLink
                >
                    <span>collects</span>
                </a>
                the latest phone number rules from ITU documents, user bug reports, telecom company home pages and
                government telecommunication authorities. It is always up-to-date (for more than 10 years), and releases
                are published almost every month. It means that
                <code>InputPhoneInternational</code>
                has the robust source of truth!
            </p>
        </div>

        @for (example of examples; track example) {
            <tui-doc-example
                [component]="$index + 1 | tuiComponent"
                [content]="$index + 1 | tuiExample"
                [description]="description"
                [heading]="example"
            />

            <ng-template #description>
                @switch ($index) {
                    @case (0) {
                        <p class="tui-space_top-0">
                            The first step is to choose the size of
                            <code>
                                metadata
                                <tui-icon
                                    tuiHintDirection="top"
                                    [tuiTooltip]="metadataDefinition"
                                />

                                <ng-template #metadataDefinition>
                                    <strong>Google</strong>
                                    <a
                                        appearance="action-grayscale"
                                        href="https://github.com/google/libphonenumber/blob/master/FAQ.md#what-do-we-mean-by-metadata"
                                        target="_blank"
                                        tuiLink
                                        tuiTheme="dark"
                                    >
                                        <span>uses</span>
                                    </a>
                                    the word
                                    <strong>"metadata"</strong>
                                    to refer to all information about phone numbering in a particular country - what the
                                    country code, international and national dialling prefixes are, what carrier codes
                                    are operational, which phone numbers are possible or valid for a particular country,
                                    how to optimally format them, which prefixes represent a particular geographical
                                    area, etc.
                                </ng-template>
                            </code>
                            .
                        </p>

                        <p>
                            The complete list of all phone rules is huge, so
                            <code>libphonenumber-js</code>
                            provides different "metadata" sets to provides a way to optimize bundle size by choosing
                            between
                            <code>max</code>
                            ,
                            <code>min</code>
                            (default value) and
                            <code>mobile</code>
                            sets.
                        </p>

                        <p class="tui-space_bottom-0">
                            Read in-depth
                            <a
                                href="https://github.com/catamphetamine/libphonenumber-js?tab=readme-ov-file#min-vs-max-vs-mobile-vs-core"
                                target="_blank"
                                tuiLink
                            >
                                description&nbsp;about&nbsp;every&nbsp;set
                            </a>
                            .
                        </p>
                    }
                    @case (1) {
                        Parameter
                        <code>countries</code>
                        allows you to choose which countries user can select from the dropdown.

                        <p class="tui-space_top-0">
                            You can even pick all possible countries by built-in utility
                            <code>getCountries</code>
                            from
                            <code>libphonenumber-js</code>
                            .
                        </p>

                        <p class="tui-space_bottom-0">
                            Use
                            <code>TuiSortCountriesPipe</code>
                            to sort countries according to your current language.
                        </p>
                    }
                    @case (2) {
                        You can enable mobile specific dropdown design on mobile devices by adding
                        <code>TuiDropdownMobile</code>
                        directive.
                    }
                    @case (3) {
                        You can put static
                        <a
                            tuiLink
                            [routerLink]="routes.Icon"
                        >
                            Icon
                        </a>
                        or even interactive
                        <a
                            tuiLink
                            [routerLink]="routes.Tooltip"
                        >
                            Tooltip
                        </a>
                        at the right side of the textfield.
                    }
                    @case (4) {
                        Using
                        <code>tuiInputPhoneInternationalOptionsProvider</code>
                        you can provide custom separator for input instead of the default
                        <code>-</code>
                        .
                    }
                    @case (5) {
                        <code>InputPhoneInternational</code>
                        internally uses
                        <strong>Maskito</strong>
                        to format phone number.
                        <br />
                        Don't hesitate to use it too to manually format any phone number.
                    }
                }
            </ng-template>
        }
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="formControl">
            <ng-template>
                <tui-textfield
                    [tuiDropdownAlign]="dropdown.align"
                    [tuiDropdownAppearance]="dropdown.appearance"
                    [tuiDropdownDirection]="dropdown.direction"
                    [tuiDropdownLimitWidth]="dropdown.limitWidth"
                    [tuiDropdownMaxHeight]="dropdown.maxHeight"
                    [tuiDropdownMinHeight]="dropdown.minHeight"
                    [tuiDropdownOffset]="dropdown.offset"
                    [tuiTextfieldCleaner]="textfield.cleaner"
                    [tuiTextfieldSize]="textfield.size"
                >
                    @if (textfield.size !== 's') {
                        <label tuiLabel>Type a phone number</label>
                    }
                    <input
                        tuiInputPhoneInternational
                        [countries]="countries"
                        [countrySearch]="countrySearch"
                        [focused]="input.focused"
                        [formControl]="formControl"
                        [invalid]="control.invalid"
                        [placeholder]="textfield.size === 's' ? 'Type a phone number' : ''"
                        [readOnly]="control.readonly"
                        [state]="input.state"
                        [tuiDisabled]="control.disabled"
                        [(countryIsoCode)]="countryIsoCode"
                    />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[countries]"
                tuiDocAPIItem
                type="ReadonlyArray<TuiCountryIsoCode>"
                [items]="countriesVariants"
                [(value)]="countries"
            >
                Array of ISO-codes of countries to choose
            </tr>
            <tr
                name="[countrySearch]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="countrySearch"
            >
                Enable filter input for countries
            </tr>
            <tr
                name="[(countryIsoCode)]"
                tuiDocAPIItem
                type="boolean"
                [items]="countryIsoCodeVariants"
                [(value)]="countryIsoCode"
            >
                ISO-code of selected country
            </tr>
            <tbody
                #textfield
                tuiDocTextfield
            ></tbody>
            <tbody
                #input
                tuiDocInput
            ></tbody>
            <tbody
                #control
                tuiDocControl
            ></tbody>
            <tbody
                #dropdown
                tuiDocDropdown
                [hiddenOptions]="['open', 'tuiDropdownEnabled', 'dropdownSided', 'dropdownSidedOffset']"
            ></tbody>
        </table>
    </ng-template>
</tui-doc-page>
