@import '@taiga-ui/core/styles/taiga-ui-local';

aside[tuiNavigationAside] {
    .transition(width);

    position: sticky;
    top: 3rem;
    z-index: 1;
    display: flex;
    width: 3rem;
    flex-direction: column;
    padding: 0.5rem 0.5rem 0.25rem;
    box-sizing: border-box;
    background: var(--tui-theme-color, #000);
    color: var(--tui-text-primary);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        z-index: -1;
        height: 3rem;
        width: 3rem;
        pointer-events: none;
        border-top-left-radius: 1.25rem;
        box-shadow: -1.5rem 0 var(--tui-theme-color, #000);
    }

    &._expanded {
        width: 13.75rem;

        + main[tuiNavigationMain] {
            max-width: calc(100% - 13.75rem);
        }
    }

    .t-nav-scrollbar {
        margin: 0 -0.25rem;
    }

    .t-nav-content {
        .scrollbar-hidden();

        height: 100%;
        padding: 0 0.25rem;
        overflow: auto;
    }

    tui-expand [tuiAsideItem] {
        padding-inline-start: 2rem;
    }

    hr {
        background: var(--tui-border-normal);
        height: 1px;
        margin: 0 0 0.25rem;
        border: none;
    }

    header {
        padding-bottom: 0.25rem;
        box-shadow: inset 0 -1px var(--tui-border-normal);
        margin-bottom: 1rem;
    }

    footer {
        margin-top: auto;
        border-top: 1.75rem solid transparent;
    }

    + main[tuiNavigationMain] {
        max-width: calc(100% - 3rem);
    }
}

[tuiAsideItem] {
    width: 100%;
    justify-content: flex-start;
    gap: 0.625rem;
    margin-bottom: 0.25rem;
    color: var(--tui-text-primary) !important;

    &::after {
        border: none !important;
        margin-left: auto !important;
        color: var(--tui-text-tertiary);
    }

    &._chevron-rotated,
    &._active {
        background: var(--tui-background-neutral-1-hover);
    }
}

tui-dropdown[data-appearance='dropdown-navigation'] {
    border: none;
    background: #323232;
    background: color-mix(in srgb, var(--tui-theme-color, #000) 80%, #fff);

    [tuiAsideItem] {
        justify-content: flex-start;

        &._active {
            background: transparent;
        }

        &._link:not(._custom)::after {
            opacity: 0;
        }

        &._link._active::after {
            opacity: 1;
        }
    }
}
