:host {
    position: fixed;
    background: var(--tui-theme-color, #000);
    inset-block-start: 3rem;
    inset-block-end: 0;
    inset-inline-start: 0;
    inline-size: 15rem;
    color: var(--tui-text-primary);
    pointer-events: auto;

    ::ng-deep tui-data-list {
        [tuiOption] {
            justify-content: flex-start;
            gap: 0.75rem;
            margin: 0;
            font: var(--tui-font-text-ui-s);
            font-weight: bold;
        }

        tui-opt-group::before {
            font: var(--tui-font-text-xs);
            text-transform: uppercase;
            color: var(--tui-text-tertiary);
        }
    }
}
