@import '@taiga-ui/styles/utils';

header[tuiNavigationHeader][tuiNavigationHeader] {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    inset-inline-start: 0;
    block-size: 3rem;
    inline-size: 100vw;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font: var(--tui-typography-body-s);
    background: var(--tui-theme-color, #000);
    color: var(--tui-text-primary);
    box-shadow: 0 -100rem 0 100rem var(--tui-theme-color, #000);

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: -1;
        block-size: 3rem;
        pointer-events: none;
        box-shadow: 0 -1.5rem var(--tui-theme-color, #000);
        border-radius: 1.25rem 1.25rem 0 0;
    }

    [tuiNavigationLogo] {
        padding: 0 0.5rem;
        margin: 0 1rem;

        tui-icon {
            font-size: 1rem;
        }
    }

    [tuiNavigationSegments] {
        display: flex;
        gap: 0.5rem;
        min-inline-size: 12rem;

        > *:not(:last-child) {
            flex: 1 0 auto;
        }

        > *:last-child {
            min-inline-size: 3rem;
            flex: 1 1 auto;
        }
    }

    [tuiButton],
    [tuiBadge],
    [tuiChip],
    tui-badge {
        max-inline-size: 12.5rem;
    }

    hr {
        flex: 1;
        block-size: calc(100% + 1rem);
        min-inline-size: 4rem;
        margin: -0.5rem 0;
        border: none;
        flex-shrink: 0;
        background: transparent;
        mask: linear-gradient(to right, transparent 0, black 3rem, black calc(100% - 3rem), transparent 100%);

        ~ [tuiButton] {
            margin-inline-end: 0.5rem;
        }
    }

    tui-textfield {
        inline-size: 12rem;
        margin-inline-end: 1.75rem;
    }
}

tui-dropdown[data-appearance='dropdown-navigation'] {
    border: none;
    color: var(--tui-text-primary);
    background: var(--tui-background-elevation-3);
    background: color-mix(in srgb, var(--tui-theme-color, #000) 80%, #fff);
}
