@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiNavigationLogoV='@{tui-version}'] {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}
