@import '@taiga-ui/styles/utils';

main[tuiNavigationMain]:where(*&) {
    .transition(max-width);

    position: relative;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 8.5625rem));
    align-items: start;
    gap: 1rem;
    place-content: start center;
    flex: 1;
    border: 1.5rem solid transparent;
    border-block-start: 0;
    isolation: isolate;
    box-sizing: border-box;

    > * {
        grid-column: span 12;
        max-inline-size: 100%;
    }

    // @deprecated from here
    > nav[tuiNavigationNav]:not(:first-child) {
        border-image: conic-gradient(var(--tui-background-base) 0 0) fill 0/0/0 100vw;
        box-shadow: inset 0 -1px var(--tui-border-normal);
    }

    > a:first-child,
    > button:first-child,
    > tui-breadcrumbs:first-child {
        block-size: 1.25rem;
        padding: 0;
        margin-block-start: 0.875rem;
        justify-self: flex-start;
    }
}
