@import '@taiga-ui/styles/utils';

nav[tuiNavigationNav] {
    top: 3rem;
    z-index: 1;
    display: flex;
    min-block-size: 3rem;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0 0;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    font: var(--tui-typography-body-s);
    line-height: 1rem;
    color: var(--tui-text-secondary);
    border-image: linear-gradient(0deg, var(--tui-border-normal) 1px, var(--tui-background-base) 0) fill 0/0/0 100vw;

    [tuiNavigationLogo] {
        font: var(--tui-typography-body-m);
        font-weight: bold;
        color: var(--tui-text-primary);
    }

    > a {
        text-decoration: none;
        color: inherit;
    }

    > hr {
        inline-size: 2rem;
        margin: 0 0 0 auto;
        border: none;
        visibility: hidden;
        flex-shrink: 0;
    }

    tui-icon {
        font-size: 1rem;
        vertical-align: bottom;
    }

    tui-tabs,
    [tuiTabs] {
        box-shadow: none;
        margin-inline-end: 1rem;

        &::before {
            background: var(--tui-background-accent-opposite-pressed);
        }
    }
}
