@import '@taiga-ui/styles/utils';

:host {
    position: relative;
    display: flex;
    flex-shrink: 0;
    font: var(--tui-typography-body-m);
    box-sizing: border-box;
    color: var(--tui-text-secondary);
    box-shadow: inset 0 -1px var(--tui-border-normal);
    overflow: hidden;

    &[data-size='m'] {
        font: var(--tui-typography-body-s);
    }
}

.t-tabs {
    block-size: inherit;
    font: inherit;
    overflow: visible;
    box-shadow: none;
    color: inherit;
}

.t-flex {
    display: flex;
}

.t-overflown {
    margin: 0;
    inline-size: 0;
    max-inline-size: 0;
    overflow: hidden;
    visibility: hidden;
}

.t-icon {
    .transition(transform);

    margin-inline-end: -0.25rem;
    vertical-align: bottom;

    &_rotated {
        transform: rotate(180deg);
    }
}

.t-dropdown {
    padding: 0.25rem 0;

    /* stylelint-disable */
    ::ng-deep *[tuiTab] {
        inline-size: calc(100% - 0.75rem);
        block-size: 2.75rem;
        justify-content: flex-start;
        margin: 0.125rem 0.375rem;
        padding: 0 0.625rem;
        line-height: 1.5rem;
        border-radius: var(--tui-radius-s);
        font: var(--tui-typography-body-m);
        color: var(--tui-text-primary);

        &:before {
            display: none;
        }

        &:hover,
        &:focus,
        &._active {
            box-shadow: none;
            outline: none;
            background: var(--tui-background-neutral-1);
        }
    }

    &[data-size='m'] ::ng-deep *[tuiTab] {
        block-size: 2.25rem;
        font: var(--tui-typography-body-s);
    }
    /* stylelint-enable */
}

.t-dropdown-item {
    display: flex;
    flex-direction: column;
}

.t-no-margin {
    margin-inline-start: 0;
}
