<tui-tabs
    class="t-tabs"
    [size]="size()"
    [underline]="underline()"
    [(activeItemIndex)]="activeItemIndex"
    (keydown.arrowRight)="onArrowRight($event)"
>
    @for (item of items(); track item) {
        @if ($index <= lastVisibleIndex) {
            <ng-container [ngTemplateOutlet]="item" />
        } @else {
            <div
                class="t-flex"
                [class.t-overflown]="isOverflown($index)"
            >
                <ng-container [ngTemplateOutlet]="item" />
            </div>
        }
    }
</tui-tabs>

@if (moreContent()) {
    <button
        tuiTab
        type="button"
        class="t-more"
        [class._active]="isMoreActive"
        [class.t-no-margin]="isMoreAlone"
        [class.t-overflown]="!isMoreVisible"
        [tabIndex]="isMoreFocusable ? 0 : -1"
        [tuiDropdown]="dropdownContent() || dropdown"
        [(tuiDropdownOpen)]="open"
        (keydown.arrowLeft.prevent)="onArrowLeft()"
    >
        <ng-container *polymorpheusOutlet="moreContent() as text">
            {{ text }}
        </ng-container>
    </button>
} @else {
    <button
        tuiChevron
        tuiTab
        type="button"
        class="t-more"
        [class._active]="isMoreActive"
        [class.t-no-margin]="isMoreAlone"
        [class.t-overflown]="!isMoreVisible"
        [tabIndex]="isMoreFocusable ? 0 : -1"
        [tuiDropdown]="dropdownContent() || dropdown"
        [(tuiDropdownOpen)]="open"
        (keydown.arrowLeft.prevent)="onArrowLeft()"
    >
        {{ moreWord() }}
    </button>
}
<ng-template #dropdown>
    <div
        #element
        class="t-dropdown"
        [attr.data-size]="size()"
        (keydown.arrowDown.prevent)="onWrapperArrow($event, element, false)"
        (keydown.arrowUp.prevent)="onWrapperArrow($event, element, true)"
    >
        @for (item of items(); track item) {
            <div
                class="t-dropdown-item"
                (tui-tab-activate)="onClick($index)"
            >
                @if (shouldShow($index)) {
                    <ng-container *polymorpheusOutlet="item" />
                }
            </div>
        }
    </div>
</ng-template>
