<ng-container *ngIf="items.changes | async" />
<tui-tabs
    class="t-tabs"
    [activeItemIndex]="activeItemIndex"
    [size]="size"
    [underline]="underline"
    (activeItemIndexChange)="onActiveItemIndexChange($event)"
    (keydown.arrowRight)="onArrowRight($event)"
>
    <ng-container *ngFor="let item of items; let index = index">
        <ng-container
            *ngIf="index <= lastVisibleIndex; else hidden"
            [ngTemplateOutlet]="item"
        />
        <ng-template #hidden>
            <div
                class="t-flex"
                [class.t-overflown]="isOverflown(index)"
            >
                <ng-container [ngTemplateOutlet]="item" />
            </div>
        </ng-template>
    </ng-container>
</tui-tabs>

<button
    tuiTab
    class="t-more"
    [class._active]="isMoreActive"
    [class.t-no-margin]="isMoreAlone"
    [class.t-overflown]="!isMoreVisible"
    [tuiDropdown]="dropdownContent || dropdown"
    [tuiFocusable]="isMoreFocusable"
    [(tuiDropdownOpen)]="open"
    (keydown.arrowLeft.prevent)="onArrowLeft()"
>
    <ng-container *polymorpheusOutlet="moreContent || more as text">
        {{ text }}
    </ng-container>
</button>
<ng-template #more>
    {{ moreWord$ | async }}
    <tui-svg
        class="t-icon"
        [class.t-icon_rotated]="open"
        [src]="arrowOptions.iconSmall"
    />
</ng-template>
<ng-template #dropdown>
    <div
        #element
        class="t-dropdown"
        [attr.data-size]="size"
        (keydown.arrowDown.prevent)="onWrapperArrow($event, element, false)"
        (keydown.arrowUp.prevent)="onWrapperArrow($event, element, true)"
    >
        <div
            *ngFor="let item of items; let index = index"
            class="t-dropdown-item"
            (tui-tab-activate)="onClick(index)"
        >
            <ng-container
                *ngIf="shouldShow(index)"
                [ngTemplateOutlet]="item"
            />
        </div>
    </div>
</ng-template>
