@import '@taiga-ui/styles/utils';

[tuiTab] {
    .transition(~'color, box-shadow, opacity, background');
    .button-clear();

    position: relative;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    justify-content: space-between;
    line-height: 1.5rem;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    color: inherit;
    /* stylelint-disable-next-line */
    margin-inline-start: var(--tui-tab-margin, 24px);

    &:disabled {
        opacity: var(--tui-disabled-opacity);
        pointer-events: none;
    }

    &._active {
        color: var(--tui-text-primary);
        box-shadow: none;
        anchor-name: --tui-tab-active;
    }

    &:focus-visible {
        outline: 0.125rem solid var(--tui-border-focus);
        outline-offset: -0.125rem;
    }

    tui-tabs._underline &:hover:not(._active) {
        box-shadow: inset 0 -0.125rem var(--tui-border-normal);
    }

    tui-tabs > &:first-child,
    tui-tabs > :not(.t-overflown) > &:first-child {
        margin-inline-start: 0;
    }

    tui-tabs > [tuiTab] ~ :not(.t-overflown) > &:first-child {
        /* stylelint-disable-next-line */
        margin-inline-start: var(--tui-tab-margin, 24px);
    }

    &[tuiIcons]::before {
        font-size: 1rem;
        margin-inline-end: 0.5rem;
    }

    &[tuiIcons]::after {
        font-size: 1rem;
        margin-inline-start: 0.5rem;
    }

    &:empty::after,
    &:empty::before {
        margin: 0.5rem;
    }

    @media @tui-mouse {
        &:hover {
            color: var(--tui-text-primary);
        }
    }
}

tui-tabs {
    .scrollbar-hidden();

    position: relative;
    display: flex;
    flex-shrink: 0;
    font: var(--tui-typography-body-m);
    color: var(--tui-text-secondary);
    box-shadow: inset 0 -1px var(--tui-border-normal);
    overflow: auto;
    isolation: isolate;
    anchor-scope: --tui-tab-active;

    &[data-size='m'] {
        font: var(--tui-typography-body-s);
        /* stylelint-disable-next-line */
        --tui-tab-margin: 16px;
    }

    &[data-size='l']:not([data-vertical]) {
        block-size: var(--tui-height-l);
    }

    &[data-size='m']:not([data-vertical]) {
        block-size: var(--tui-height-m);
    }

    &::before {
        .transition(~'inline-size, left');

        position: absolute;
        left: var(--t-left);
        bottom: 0;
        block-size: 0.125rem;
        inline-size: var(--t-width);
        background: var(--t-color);
        animation: tuiPresent 1ms;
        contain: strict;

        @supports (anchor-name: --tui-tab-active) {
            left: anchor(left);
            inline-size: anchor-size(inline);
            position-anchor: --tui-tab-active;
        }
    }

    &._underline::before {
        content: '';
    }
}

tui-tabs[data-vertical] {
    flex-direction: column;
    box-shadow: inset calc(-1px * var(--tui-inline)) 0 var(--tui-border-normal);

    [tuiTab] {
        min-block-size: 2.75rem;
        block-size: auto;
        white-space: normal;
        margin: 0;
        text-align: start;
        padding: 0.25rem 1.25rem;

        &::after {
            .transition(transform);

            content: '';
            position: absolute;
            display: block;
            inset-block-start: 0;
            inset-inline-end: 0;
            block-size: 100%;
            inline-size: 0.125rem;
            background: var(--tui-background-accent-1);
            transform: scaleX(0);
            transform-origin: right;
            margin: 0;
        }

        &:hover {
            box-shadow: inset calc(-0.125rem * var(--tui-inline)) 0 var(--tui-border-normal);
        }

        &._active::after {
            transform: none;
        }
    }

    &[data-size='m'] [tuiTab] {
        min-block-size: 2.25rem;
        font: var(--tui-typography-body-s);
    }

    &[data-vertical='end'] {
        box-shadow: inset calc(1px * var(--tui-inline)) 0 var(--tui-border-normal);

        [tuiTab] {
            text-align: end;

            &::after {
                inset-inline: 0 auto;
                transform-origin: left;
            }

            &:hover {
                box-shadow: inset calc(0.125rem * var(--tui-inline)) 0 var(--tui-border-normal);
            }
        }
    }
}
