<tui-doc-page
    header="InputYear"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component to input a single year</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    [disabledItemHandler]="disabledItemHandler"
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                >
                    <input
                        placeholder="Put your birthday"
                        tuiInputYear
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [max]="max"
                        [min]="min"
                        [readOnly]="controlDoc.readonly"
                        [tuiDisabled]="controlDoc.disabled"
                    />
                    <tui-calendar-year *tuiTextfieldDropdown />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>

        <table tuiDocAPI>
            <tr
                name="[min]"
                tuiDocAPIItem
                type="number"
                [items]="minVariants"
                [(value)]="min"
            >
                Minimum year
            </tr>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="number"
                [items]="maxVariants"
                [(value)]="max"
            >
                Maximum year
            </tr>
            <tr
                name="[disabledItemHandler]"
                tuiDocAPIItem
                type="TuiBooleanHandler"
                [items]="disabledItemHandlerVariants"
                [(value)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </tr>
            <tbody
                #textfieldDoc
                tuiDocTextfield
            ></tbody>
            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
