<tui-doc-page
    header="InputYear"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component to input a single year</p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                >
                    <input
                        placeholder="Put your birthday"
                        tuiInputYear
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [max]="max"
                        [min]="min"
                        [readOnly]="controlDoc.readonly"
                        [tuiDisabled]="controlDoc.disabled"
                    />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>

        <table tuiDocAPI>
            <tr
                name="[min]"
                tuiDocAPIItem
                type="number"
                [items]="minVariants"
                [(value)]="min"
            >
                Minimum year
            </tr>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="number"
                [items]="maxVariants"
                [(value)]="max"
            >
                Maximum year
            </tr>
            <tbody
                #textfieldDoc
                tuiDocTextfield
            ></tbody>
            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
