<tui-doc-page
    header="InputRange"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component to input a range of values</p>

        <p>
            Number formatting can be customized by using
            <code>tuiNumberFormat</code>
            directive
        </p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
            [description]="stepQuantumDescription"
        >
            <ng-template #stepQuantumDescription>
                <p>
                    Look into this example to understand difference between input-props
                    <code>[steps]</code>
                    and
                    <code>[quantum]</code>
                    .
                </p>
            </ng-template>

            <p class="tui-space_top-0">
                Slider's step changes value by
                <code>1</code>
                .
            </p>
            <p>
                But text inputs allow to type decimal number which is multiple of
                <code>0.00001</code>
                .
            </p>
        </tui-doc-example>

        <tui-doc-example
            id="number-format"
            heading="Override number format"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'html,ts'"
            [description]="numberFormatTokenDescription"
        >
            <ng-template #numberFormatTokenDescription>
                <p>
                    Number formatting can be customized by using
                    <a
                        fragment="number-format"
                        tuiLink
                        [routerLink]="docRoutes.Tokens"
                    >
                        TUI_NUMBER_FORMAT
                    </a>
                    .
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="value-content"
            heading="Custom value content"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="segments"
            heading="Visual segments + labels for ticks"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        >
            <tui-notification class="tui-space_bottom-8">
                Use mixin
                <code>tui-slider-ticks-labels</code>
                to arrange ticks' labels (it places them strictly below ticks).
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="key-steps"
            heading="KeySteps"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
        >
            <dl class="tui-space_bottom-8 tui-space_top-0">
                <dt>
                    <strong>Key steps</strong>
                </dt>
                <dd>anchor points of non-uniform format between value and position</dd>
            </dl>
        </tui-doc-example>

        <tui-doc-example
            id="negative"
            heading="Using negative values without minus sign"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-range
                    [formControl]="control"
                    [keySteps]="keySteps"
                    [leftValueContent]="leftValueContent"
                    [max]="max"
                    [min]="min"
                    [pluralize]="pluralize"
                    [quantum]="quantum"
                    [readOnly]="readOnly"
                    [rightValueContent]="rightValueContent"
                    [segments]="segments"
                    [steps]="steps"
                    [tuiNumberFormat]="{decimalMode: decimalMode, rounding, thousandSeparator, decimalSeparator}"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                >
                    Just a very long label. Don't afraid it does not overflow the wrapper, the label is just cut off
                    with ellipsis when it does not fit the wrapper.
                </tui-input-range>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="number | null"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="number | null"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="quantum"
                documentationPropertyType="number"
                [documentationPropertyValues]="quantumVariants"
                [(documentationPropertyValue)]="quantum"
            >
                Minimum indivisible value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="steps"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="steps"
            >
                Number of actual discrete slider steps
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="segments"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="segments"
            >
                A number of visual segments
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="keySteps"
                documentationPropertyType="TuiKeySteps"
                [documentationPropertyValues]="keyStepsVariants"
                [(documentationPropertyValue)]="keySteps"
            >
                Anchor points of non-uniform format between value and position
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="leftValueContent"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="valueContentVariants"
                [(documentationPropertyValue)]="leftValueContent"
            >
                A template for custom view of the left selected value.
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="rightValueContent"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="valueContentVariants"
                [(documentationPropertyValue)]="rightValueContent"
            >
                A template for custom view of the right selected value.
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="pluralize"
                documentationPropertyType="Record<string, string>"
                [documentationPropertyValues]="pluralizeVariants"
                [(documentationPropertyValue)]="pluralize"
            >
                Plural forms for labels.

                <p>
                    Use object that mimics the
                    <a
                        href="https://unicode-org.github.io/icu/userguide/format_parse/messages/"
                        tuiLink
                    >
                        ICU format
                    </a>
                    for Plural
                </p>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="readOnly"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="readOnly"
            >
                Component is read only
            </ng-template>
        </tui-doc-documentation>

        <h6 class="tui-text_h6">
            Can be expanded with
            <a
                target="_blank"
                tuiLink
                [routerLink]="docRoutes.TextfieldController"
            >
                TuiTextfieldController
            </a>
        </h6>

        <p>
            Requires you to import
            <code>TuiTextfieldControllerModule</code>
        </p>

        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="tuiTextfieldLabelOutside"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="labelOutside"
            >
                Label is outside a component and made with
                <a
                    tuiLink
                    [routerLink]="docRoutes.Label"
                >
                    <code>Label</code>
                </a>
            </ng-template>

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="tuiTextfieldSize"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
        <number-format-documentation />
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
