<tui-doc-page header="CalendarMonth" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            Month picker component. If you want a textfield, see
            <a tuiLink routerLink="/components/input-month-range"
                >InputMonthRange</a
            >
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-calendar-month-example-1></tui-calendar-month-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="range"
            i18n-heading
            heading="Range"
            [content]="example2"
        >
            <tui-calendar-month-example-2></tui-calendar-month-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-calendar-month
                [disabledItemHandler]="disabledItemHandler"
                [min]="min"
                [max]="max"
                [year]="year"
                [value]="value"
                (monthClick)="onMonthClick($event)"
            ></tui-calendar-month>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandlerWithContext<TuiMonth, TuiMonthContext>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>
                    A handler that gets a month and returns true if it is
                    disabled.
                </div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Maximal month
            </ng-template>
            <ng-template
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Minimal month
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="value"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMonth | TuiMonthRange | null"
                [documentationPropertyValues]="valueVariants"
                [(documentationPropertyValue)]="value"
            >
                A single month or a range of months
            </ng-template>
            <ng-template
                documentationPropertyName="year"
                documentationPropertyMode="input-output"
                documentationPropertyType="TuiYear"
                [documentationPropertyValues]="yearVariants"
                [(documentationPropertyValue)]="year"
            >
                Current year
            </ng-template>
            <ng-template
                documentationPropertyName="monthClick"
                documentationPropertyMode="output"
                documentationPropertyType="TuiMonth"
            >
                Selected month
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiCalendarMonthModule</code> into a module
                    where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
