<tui-doc-page
    header="CalendarMonth"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>
            Month picker component. If you want a textfield, see
            <a
                tuiLink
                [routerLink]="routes.InputMonthRange"
            >
                InputMonthRange
            </a>
        </p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample: 'html,ts'"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-calendar-month
                [disabledItemHandler]="disabledItemHandler"
                [max]="max"
                [maxLength]="maxLength"
                [min]="min"
                [minLength]="minLength"
                [value]="value"
                [year]="year"
                (monthClick)="documentationPropertyMonthClick.emitEvent($event)"
            />
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabledItemHandler"
                documentationPropertyType="TuiBooleanHandler<TuiMonth>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>A handler that gets a month and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="TuiMonth | null"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Maximal month
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="TuiMonth | null"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Minimal month
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="maxLength"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="maxLength"
            >
                Maximum length
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="minLength"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="minLength"
            >
                Minimum length
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="value"
                documentationPropertyType="TuiMonth | TuiMonthRange | null"
                [documentationPropertyValues]="valueVariants"
                [(documentationPropertyValue)]="value"
            >
                A single month or a range of months
            </ng-template>
            <ng-template
                documentationPropertyMode="input-output"
                documentationPropertyName="year"
                documentationPropertyType="TuiYear"
                [documentationPropertyValues]="yearVariants"
                [(documentationPropertyValue)]="year"
            >
                Current year
            </ng-template>
            <ng-template
                #documentationPropertyMonthClick="documentationProperty"
                documentationPropertyMode="output"
                documentationPropertyName="monthClick"
                documentationPropertyType="TuiMonth"
            >
                Selected month
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
