<tui-doc-page
    header="ProgressBar"
    package="KIT"
    path="kit/components/progress/progress-bar"
    type="components"
>
    <ng-template pageTab>
        <dl>
            <dt>
                <code>tuiProgressBar</code>
            </dt>
            <dd>
                – attribute component for native html tag
                <code tuiDocText="<progress />"></code>
                .
            </dd>
        </dl>
        <p>
            <strong>Usage:</strong>
            <code tuiDocText='<progress tuiProgressBar value="40" max="100"></progress>'></code>
            .
        </p>

        <tui-doc-example
            id="basic"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="multicolor"
            heading="Multicolor"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="label"
            heading="With label"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="stacked"
            heading="Stacked progress bars"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
        />

        <tui-doc-example
            id="indeterminate"
            heading="Indeterminate"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample: 'html,ts'"
            [description]="indeterminateStateDescription"
        >
            <ng-template #indeterminateStateDescription>
                <p>Indeterminate state expresses an unspecified amount of wait time.</p>
                <p>
                    If there is no
                    <code>[value]</code>
                    attribute, the
                    <code>ProgressBar</code>
                    is indeterminate.
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="customizable-corners"
            heading="Customizable corners"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample"
            [description]="customizableCornersDescription"
        >
            <ng-template #customizableCornersDescription>
                You can toggle off round corners of the progress bar by setting
                <code>border-radius: 0</code>
                .
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <progress
                new
                tuiProgressBar
                class="api-progress"
                [color]="color"
                [max]="max"
                [size]="size"
                [value]="value"
            ></progress>
        </tui-doc-demo>

        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="value"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="value"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress#attributes"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    value
                </a>
                of
                <code tuiDocText="<progress />"></code>
            </ng-template>

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="max"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress#attributes"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    max
                </a>
                of
                <code tuiDocText="<progress />"></code>
            </ng-template>

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeXS | TuiSizeXXL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size of the progress element
            </ng-template>

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="color"
                documentationPropertyType="string"
                [documentationPropertyValues]="colorVariants"
                [(documentationPropertyValue)]="color"
            >
                Color of the progress indicator
                <p>
                    We recommend set solid color via
                    <code tuiDocText="<progress />"></code>
                    's CSS-property
                    <code>color</code>
                    (especially, if you support old not-chromium based Edge)
                </p>
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
