<tui-doc-page
    header="ProgressBar"
    package="KIT"
    path="kit/components/progress/progress-bar"
>
    <ng-template pageTab>
        <dl>
            <dt>
                <code>tuiProgressBar</code>
            </dt>
            <dd>
                – attribute component for native html tag
                <code tuiText="<progress />"></code>
                .
            </dd>
        </dl>
        <p>
            <strong>Usage:</strong>
            <code tuiText='<progress tuiProgressBar value="40" max="100"></progress>'></code>
            .
        </p>

        <tui-doc-example
            id="basic"
            heading="Basic"
            [content]="basicExample"
        >
            <tui-progress-bar-example-1></tui-progress-bar-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="multicolor"
            heading="Multicolor"
            [content]="multiColorExample"
        >
            <tui-progress-bar-example-2></tui-progress-bar-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [content]="sizesExample"
        >
            <tui-notification class="tui-space_bottom-4">
                Sizes were updated. To prevent breaking changes "new" attribute has to be added to enable new sizes.
            </tui-notification>
            <tui-progress-bar-example-3></tui-progress-bar-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="label"
            heading="With label"
            [content]="labelExample"
        >
            <tui-progress-bar-example-4></tui-progress-bar-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="stacked"
            heading="Stacked progress bars"
            [content]="stackedExample"
        >
            <tui-progress-bar-example-5></tui-progress-bar-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="indeterminate"
            heading="Indeterminate"
            [description]="indeterminateStateDescription"
            [content]="indeterminateExample"
        >
            <ng-template #indeterminateStateDescription>
                <p>Indeterminate state expresses an unspecified amount of wait time.</p>
                <p>
                    If there is no
                    <code>[value]</code>
                    attribute, the
                    <code>ProgressBar</code>
                    is indeterminate.
                </p>
            </ng-template>
            <tui-progress-bar-example-6></tui-progress-bar-example-6>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <progress
                tuiProgressBar
                class="api-progress"
                [value]="value"
                [max]="max"
                [size]="size"
                [color]="color"
            ></progress>
        </tui-doc-demo>

        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="value"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="value"
            >
                Native attribute
                <a
                    tuiLink
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress#attributes"
                    rel="noreferrer"
                    target="_blank"
                >
                    value
                </a>
                of
                <code tuiText="<progress />"></code>
            </ng-template>

            <ng-template
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="max"
            >
                Native attribute
                <a
                    tuiLink
                    rel="noreferrer"
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress#attributes"
                    target="_blank"
                >
                    max
                </a>
                of
                <code tuiText="<progress />"></code>
            </ng-template>

            <ng-template
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeXS | TuiSizeXXL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size of the progress element
            </ng-template>

            <ng-template
                documentationPropertyName="color"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="colorVariants"
                [(documentationPropertyValue)]="color"
            >
                Color of the progress indicator
                <p>
                    We recommend set solid color via
                    <code tuiText="<progress />"></code>
                    's CSS-property
                    <code>color</code>
                    (especially, if you support old not-chromium based Edge)
                </p>
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import
                    <code>TuiProgressModule</code>
                    into a module where you want to use our attribute component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
