<tui-doc-page header="ProgressBar" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            <code>tuiProgressBar</code> – attribute component for native html
            tag <code>&lt;progress /&gt;</code>.
        </p>
        <p i18n>
            <strong>Usage:</strong>
            <code
                >&lt;progress tuiProgressBar value="40"
                max="100"&gt;&lt;/progress&gt;</code
            >.
        </p>

        <tui-doc-example
            id="basic"
            i18n-heading
            heading="Basic"
            [content]="basicExample"
        >
            <tui-progress-bar-example-1></tui-progress-bar-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="multicolor"
            i18n-heading
            heading="Multicolor"
            [content]="multiColorExample"
        >
            <tui-progress-bar-example-2></tui-progress-bar-example-2>
        </tui-doc-example>
    </ng-template>
</tui-doc-page>
