:host {
    display: block;
    transform: translate3d(0, 0, 0);
}

[tuiNavigationHeader] {
    white-space: nowrap;
    inline-size: 100% !important;
    box-shadow: none !important;

    &::before {
        display: none;
    }
}
