.step {
    margin: 0;
    color: var(--tui-text-action);

    &._active {
        color: var(--tui-text-primary);
    }

    &:hover {
        color: var(--tui-text-action-hover);
    }
}

.separator {
    height: 100%;
    color: var(--tui-text-tertiary);
    margin: 0 1rem;
    font-size: 1rem;
}
