.step {
    margin: 0;
    color: var(--tui-link);

    &._active {
        color: var(--tui-text-01);
    }

    &:hover {
        color: var(--tui-link-hover);
    }
}

.separator {
    height: 100%;
    color: var(--tui-base-03);
    margin: 0 0.75rem;
}
