[tuiAction] {
    max-width: 20rem;
    align-items: center;
}

.header,
.description {
    margin: 0;
}

.header {
    margin-top: 0.5rem;
    font-weight: bold;
}

.description {
    color: var(--tui-text-02);
}
