<tui-doc-page
    header="Editor"
    package="ADDON-EDITOR"
    type="components"
>
    <p>
        Rich Text Editor based on
        <a
            tuiLink
            href="https://www.tiptap.dev/"
        >
            TipTap Editor
        </a>
        for using with Angular forms. For safety reasons use a
        <a
            tuiLink
            routerLink="/icons/bundled"
            fragment="sanitizer"
        >
            sanitizer
        </a>
        with this component.
    </p>

    <tui-doc-example
        id="preview-image"
        heading="Preview for images"
        [content]="example1"
    >
        <tui-editor-preview-images-example-1></tui-editor-preview-images-example-1>
    </tui-doc-example>
</tui-doc-page>
