:host {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.description {
    font: var(--tui-font-text-l);
    margin-top: 0.5rem;
    max-inline-size: 30rem;
}

[tuiLink] {
    font: var(--tui-font-text-s);
}
