:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: var(--tui-typography-body-l);
    text-align: center;
    font-weight: bold;
}

.t-button {
    transform: scaleX(var(--tui-inline));

    &_hidden {
        visibility: hidden;
    }
}

.t-content {
    padding: 0 0.5rem;
}
