<ng-container *tuiLet="refresh$ | async as bars">
    <div
        *ngIf="bars[0]"
        tuiScrollbarWrapper
        class="t-bar t-bar_vertical"
        [@tuiFadeIn]="animation"
        [class.t-bar_has-horizontal]="bars[1]"
    >
        <div
            tuiScrollbar="vertical"
            class="t-thumb"
        ></div>
    </div>
    <div
        *ngIf="bars[1]"
        tuiScrollbarWrapper
        class="t-bar t-bar_horizontal"
        [@tuiFadeIn]="animation"
        [class.t-bar_has-vertical]="bars[0]"
    >
        <div
            tuiScrollbar="horizontal"
            class="t-thumb"
        ></div>
    </div>
</ng-container>
