<ng-container *ngIf="!hidden && isScrollbarsModeCustom">
    <ng-container *tuiLet="refresh$ | async as bars">
        <div
            *ngIf="bars[0]"
            tuiScrollbarWrapper
            class="bar bar_vertical"
            [@tuiFadeIn]="animation"
            [class.bar_has-horizontal]="bars[1]"
        >
            <div
                tuiScrollbar="vertical"
                class="thumb"
            ></div>
        </div>
        <div
            *ngIf="bars[1]"
            tuiScrollbarWrapper
            class="bar bar_horizontal"
            [@tuiFadeIn]="animation"
            [class.bar_has-vertical]="bars[0]"
        >
            <div
                tuiScrollbar="horizontal"
                class="thumb"
            ></div>
        </div>
    </ng-container>
</ng-container>
