:host {
    display: block;
    max-block-size: 20rem;
    inline-size: 20rem;
    overflow-x: hidden;
    overscroll-behavior: none;
}

.header {
    position: sticky;
    z-index: 1;
    inset-block-start: 0;
}

search {
    padding-block: 0.75rem;
    padding-inline: 1rem;
}
