<tui-doc-page header="CheckboxLabeled" package="KIT" type="components">
    <ng-template pageTab>
        <div i18n class="tui-space_bottom-3">
            <code>CheckboxLabeled</code> is a <code>Checkbox</code> with a
            label. Click on label changes checkbox state. If you do not need a
            label, see
            <a tuiLink routerLink="/components/checkbox"
                ><code>Checkbox</code></a
            >.
        </div>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-checkbox-labeled-example-1></tui-checkbox-labeled-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="large"
            i18n-heading
            heading="Big size"
            [content]="example2"
        >
            <tui-checkbox-labeled-example-2></tui-checkbox-labeled-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <form [formGroup]="control">
                    <tui-checkbox-labeled
                        i18n
                        formControlName="testValue1"
                        [focusable]="focusable"
                        [pseudoInvalid]="pseudoInvalid"
                        [pseudoFocused]="pseudoFocused"
                        [pseudoHovered]="pseudoHovered"
                        [pseudoPressed]="pseudoPressed"
                        [readOnly]="readOnly"
                        [size]="size"
                    >
                        An option
                    </tui-checkbox-labeled>
                    <tui-checkbox-labeled
                        i18n
                        class="tui-space_top-2"
                        formControlName="testValue2"
                        [focusable]="focusable"
                        [pseudoInvalid]="pseudoInvalid"
                        [pseudoFocused]="pseudoFocused"
                        [pseudoHovered]="pseudoHovered"
                        [pseudoPressed]="pseudoPressed"
                        [readOnly]="readOnly"
                        [size]="size"
                    >
                        An alternative one
                    </tui-checkbox-labeled>
                    <tui-checkbox-labeled
                        i18n
                        class="tui-space_top-2"
                        formControlName="testValue3"
                        [focusable]="focusable"
                        [pseudoInvalid]="pseudoInvalid"
                        [pseudoFocused]="pseudoFocused"
                        [pseudoHovered]="pseudoHovered"
                        [pseudoPressed]="pseudoPressed"
                        [readOnly]="readOnly"
                        [size]="size"
                    >
                        Other
                    </tui-checkbox-labeled>
                </form>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiCheckboxLabeledModule</code> in the same module
                    where you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
