body {
    overscroll-behavior: none;
}

* {
    outline: none;
    scrollbar-width: none;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea,
[contenteditable] * {
    user-select: auto !important;
}

::selection {
    background-color: transparent;
}

.tui-island {
    padding: 1rem;
    border-radius: 0.125rem;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);

    &:before {
        display: none;
    }
}

a[tuiButton],
a[tuiIconButton],
button[tuiButton],
button[tuiIconButton] {
    font-size: 0.875rem !important;
    font-weight: 500;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}
