@import '../../styles/taiga-ui-local.less';

tui-data-list {
    display: flex;
    font: var(--tui-font-text-m);
    flex-direction: column;
    padding: 0.5rem 0;
    color: var(--tui-text-03);

    &:focus-within {
        .t-trap {
            display: none;
        }

        [tuiOption]._with-dropdown:not(:focus) {
            background-color: transparent;
        }
    }

    & > .t-empty {
        margin: 0.75rem 1rem;
    }
}

tui-opt-group {
    .text-overflow();
    position: relative;
    display: flex;
    font: var(--tui-font-text-xs);
    flex-direction: column;
    line-height: 2rem;

    &:empty:before,
    &:empty:after {
        display: none;
    }

    &:before {
        content: attr(data-label);
        padding: 0.5rem 1rem;
        color: var(--tui-text-02);
        line-height: 1rem;
        white-space: normal;
    }

    &:not(:empty) ~ & {
        &:before {
            padding: 1.5rem 1rem 0.5rem;
        }

        &[data-label='']:before {
            padding: 1rem 0 0;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0.5rem;
            height: 1px;
            background: var(--tui-base-03);
        }
    }

    &[data-label='']:before {
        padding: 0 1rem;
    }
}
