@import '@taiga-ui/core/styles/taiga-ui-local';

tui-data-list {
    display: flex;
    flex-direction: column;
    padding: calc(var(--tui-data-list-padding) - var(--tui-data-list-margin)) var(--tui-data-list-padding);

    &:focus-within [tuiOption]._with-dropdown:not(:focus) {
        background: transparent;
    }

    &[data-size='s'] {
        // StackBlitz changes "0rem" to "0" breaking calc
        --tui-data-list-margin: ~'0rem';
        --tui-data-list-padding: 0.25rem;

        [tuiOption] {
            font: var(--tui-font-body-s);
            min-block-size: 2rem;
            padding: 0.3125rem 0.375rem;

            &::before {
                font-size: 1rem;
            }
        }
    }

    &[data-size='m'] {
        --tui-data-list-margin: 0.0625rem;
        --tui-data-list-padding: 0.25rem;

        [tuiOption] {
            font: var(--tui-font-body-s);
            min-block-size: 2.5rem;
            padding: 0.375rem 0.5rem;
        }
    }

    &[data-size='l'] {
        --tui-data-list-margin: 0.125rem;
        --tui-data-list-padding: 0.375rem;

        [tuiOption] {
            font: var(--tui-font-body-m);
            min-block-size: 2.75rem;
            padding: 0.375rem 0.625rem;
        }
    }

    [tuiOption] {
        .transition(background);

        box-sizing: border-box;
        margin: var(--tui-data-list-margin) 0;
        border-radius: var(--tui-radius-s);
        outline: none !important;
        cursor: pointer;
        word-break: break-word;

        &:disabled {
            opacity: var(--tui-disabled-opacity);
            cursor: default;
        }

        @media @tui-mouse {
            &:hover:not(:disabled) {
                background: var(--tui-background-neutral-1);
            }
        }

        &:active:not(:disabled),
        &:focus-within,
        &._with-dropdown {
            background: var(--tui-background-neutral-1);
        }

        &::after {
            font-size: 1rem;
            margin-inline: auto -0.625rem;
            border-inline: 0.5rem solid;
        }
    }

    > .t-empty {
        pointer-events: none;
        color: var(--tui-text-tertiary);
    }
}

tui-opt-group {
    position: relative;
    display: flex;
    font: var(--tui-font-body-xs);
    font-weight: bold;
    color: var(--tui-text-primary);
    flex-direction: column;
    line-height: 1rem;

    tui-data-list[data-size='s'] &::before {
        padding-inline: 0.375rem;
    }

    tui-data-list[data-size='l'] & {
        font: var(--tui-font-body-m);
        font-weight: bold;
        line-height: 1.25rem;

        &::before {
            padding-inline: 0.625rem;
        }

        &::after {
            inset-inline: 0.625rem;
        }
    }

    &:empty::before,
    &:empty::after {
        display: none;
    }

    &::before {
        content: attr(data-label);
        padding: var(--tui-data-list-padding) 0.5rem;
        margin: var(--tui-data-list-margin) 0;
        white-space: normal;
        word-break: break-word;

        tui-sheet-dialog & {
            font: var(--tui-font-heading-h6);
            padding: 0.5rem 0 !important;
            margin: 0;
        }
    }

    &::after {
        position: absolute;
        inset-block-start: var(--tui-data-list-padding);
        inset-inline: 0.5rem;
        block-size: 1px;
        background: var(--tui-border-normal);
    }

    &:not(:empty) ~ & {
        &::before {
            padding-block-start: calc(0.75rem + var(--tui-data-list-padding));
        }

        &[data-label='']::before {
            padding: var(--tui-data-list-padding) 0;
        }

        &::after {
            content: '';
        }
    }

    &[data-label='']::before {
        content: '';
        padding: 0;
        margin: 0;
    }
}
