@import 'taiga-ui-local';

:host {
    &:last-child .bar {
        display: none;
    }
}

.wrapper {
    display: flex;
    justify-content: flex-end;
}

.content {
    flex: 1;
}

.bar {
    .transition(opacity);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-right: -4px;
    justify-self: flex-end;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    background: var(--tui-support-12);
    background-clip: content-box;
    cursor: ew-resize;
    opacity: 0;

    &:hover,
    &:active {
        opacity: 1;
    }
}
