<ng-container *tuiLet="entries$ | async as entries">
    <thead tuiThead class="header">
        <tr class="row">
            <th
                *ngFor="let key of columns; let index = index"
                tuiResizableColumn
                class="th"
            >
                <div
                    class="head"
                    [class.head_number]="data[0] && isNumber(data[0][key])"
                >
                    <ng-container
                        *ngIf="heads | tuiFindDirective : key as cell else plain"
                    >
                        <button
                            *ngIf="cell.tuiHeadSorter else cell.template"
                            type="button"
                            class="sort"
                            [class.sort_sorted]="sortedKey === key"
                            (click)="updateSorter(cell.tuiHeadSorter)"
                        >
                            <ng-container
                                *ngTemplateOutlet="cell.template"
                            ></ng-container>
                            <tui-svg
                                src="tuiIconSortDown"
                                class="arrow"
                                [class.arrow_rotated]="direction === -1"
                            ></tui-svg>
                        </button>
                    </ng-container>
                    <ng-template #plain>{{key}}</ng-template>
                </div>
            </th>
        </tr>
    </thead>
    <tr *ngFor="let row of sorted" class="row">
        <ng-container *ngFor="let key of columns">
            <ng-container
                *ngIf="cells | tuiFindDirective : key as cell else plain"
            >
                <th
                    *ngIf="cell.tuiCellSticky else td"
                    scope="row"
                    class="cell cell_sticky"
                    [class.cell_stuck]="entries && entries[0].intersectionRatio < 1"
                    [class.cell_number]="isNumber(row[key])"
                >
                    <div class="wrapper">
                        <div class="padding"></div>
                        <ng-container
                            [ngTemplateOutlet]="cell.template"
                            [ngTemplateOutletContext]="row[key] | tuiMapper : toContext : row"
                        ></ng-container>
                        <div class="padding"></div>
                    </div>
                </th>
                <ng-template #td>
                    <td class="cell" [class.cell_number]="isNumber(row[key])">
                        <div class="wrapper">
                            <div class="padding"></div>
                            <ng-container
                                [ngTemplateOutlet]="cell.template"
                                [ngTemplateOutletContext]="row[key] | tuiMapper : toContext : row"
                            ></ng-container>
                            <div class="padding"></div>
                        </div>
                    </td>
                </ng-template>
            </ng-container>
            <ng-template #plain>
                <td
                    class="cell cell_plain"
                    [class.cell_number]="isNumber(row[key])"
                >
                    {{row[key]}}
                </td>
            </ng-template>
        </ng-container>
    </tr>
</ng-container>
