<tui-push
    *ngIf="!isDirective; else $any(context.content).template"
    [heading]="context.heading"
    [timestamp]="context.timestamp"
    [type]="context.type"
    (close)="context.$implicit.complete()"
>
    <img
        *ngIf="context.image"
        alt=""
        [src]="context.image"
    />
    <tui-svg
        *ngIf="context.icon"
        [src]="context.icon"
        [style.color]="context.iconColor"
    ></tui-svg>
    <div
        *polymorpheusOutlet="context.content as text"
        [innerHTML]="text"
    ></div>
    <button
        *ngIf="context.buttons.length > 1"
        tuiButton
        type="button"
        (click)="context.$implicit.next(context.buttons[0])"
    >
        {{ context.buttons[0] }}
    </button>
    <button
        *ngIf="context.buttons.length"
        tuiLink
        type="button"
        (click)="context.$implicit.next(context.buttons[context.buttons.length - 1])"
    >
        {{ context.buttons[context.buttons.length - 1] }}
    </button>
</tui-push>
