@import '@taiga-ui/styles/utils';

:host {
    position: relative;
    display: block;
    inline-size: 22.5rem;
    max-inline-size: 100%;
    box-sizing: border-box;
    padding: 1.25rem 1.25rem 0.25rem;
    overflow: hidden;
    font: var(--tui-typography-body-m);
    border-radius: var(--tui-radius-xl);
    background: var(--tui-background-elevation-2);
    box-shadow: var(--tui-shadow-small);
}

.t-image {
    display: flex;
    flex-direction: column;
    max-block-size: 10.625rem;
    overflow: hidden;
    margin: -1.25rem -1.25rem 1.25rem;
}

.t-close {
    position: absolute;
    inset-block-start: 0.75rem;
    inset-inline-end: 0.75rem;
    color: rgba(0, 0, 0, 0.54);
    background: rgba(242, 242, 242, 0.32);
    backdrop-filter: blur(1rem);
}

.t-top {
    display: flex;
    align-items: center;
    font: var(--tui-typography-body-s);
    color: var(--tui-text-secondary);
}

.t-icon {
    block-size: 1.25rem;
    margin-inline-end: 0.5rem;
    transform: scale(0.833);
    transform-origin: top left;
    color: var(--tui-text-action);
}

.t-time::before {
    content: '•';
    display: inline-block;
    inline-size: 1rem;
    text-align: center;
}

.t-heading {
    font: var(--tui-typography-heading-h6);
    margin: 0.75rem 0 0.25rem;
}

.t-heading,
.t-content {
    /* stylelint-disable-next-line */
    display: -webkit-box;

    /* autoprefixer: ignore next */
    -webkit-box-orient: block-axis;
    -webkit-line-clamp: var(--t-lines);
    word-break: break-word;
    overflow: hidden;
}

.t-actions {
    display: flex;
    align-items: center;
    font: var(--tui-typography-body-s);
}

.t-button:not(:empty) {
    margin: 0.75rem 0.75rem 0.75rem 0;
}

.t-link {
    margin: 0.75rem 0;

    &:empty {
        margin: 0.5rem;
    }
}
