<div class="t-track">
    <input
        tuiSlider
        readonly
        type="range"
        step="any"
        automation-id="tui-range__left"
        class="t-thumb"
        [min]="min"
        [max]="max"
        [ngModel]="value[0]"
        [size]="size"
        [keySteps]="computedKeySteps"
        [tuiFocusable]="focusable"
        [attr.disabled]="computedDisabled || null"
    />
    <input
        tuiSlider
        readonly
        type="range"
        step="any"
        automation-id="tui-range__right"
        class="t-thumb"
        [min]="min"
        [max]="max"
        [ngModel]="value[1]"
        [size]="size"
        [keySteps]="computedKeySteps"
        [tuiFocusable]="focusable"
        [attr.disabled]="computedDisabled || null"
    />
</div>

<!-- TODO backward compatibility only (remove in v3.0) -->
<div
    *ngIf="segments > 0"
    class="t-segments"
>
    <span
        *tuiRepeatTimes="let tickIndex of segments + 1"
        automation-id="tui-slider__segment"
        class="t-segment"
    >
        <ng-container *ngIf="fromToTexts$ | async as fromToText">
            <span
                *ngIf="!isNew"
                class="t-number"
            >
                {{ getSegmentPrefix(tickIndex, fromToText) }}
                {{ tickIndex | tuiSliderTickLabel: segments:computedKeySteps | tuiFormatNumber }}
                <span *ngIf="pluralizeMap">
                    {{ tickIndex | tuiSliderTickLabel: segments:computedKeySteps | i18nPlural: pluralizeMap }}
                </span>
            </span>
        </ng-container>
    </span>
</div>
