<span
    #text
    class="t-before"
    [style.text-indent.px]="indent"
    [textContent]="value"
></span>

<span
    *ngIf="!hasValue"
    automation-id="tui-input-inline__placeholder"
    class="t-placeholder"
>
    <ng-content></ng-content>
</span>

<input
    #native
    automation-id="tui-input-inline__native"
    tuiMaskAccessor
    type="text"
    class="t-native"
    [attr.maxLength]="maxLength"
    [disabled]="computedDisabled"
    [id]="id"
    [ngModel]="value"
    [readOnly]="readOnly"
    [tuiFocusable]="focusable"
    (ngModelChange)="onValueChange($event)"
    (scroll)="onScroll()"
    (tuiFocusedChange)="onFocused($event)"
/>
