<span class="t-before">{{ value }}</span>

<span
    *ngIf="!hasValue"
    automation-id="tui-input-inline__placeholder"
    class="t-placeholder"
>
    <ng-content></ng-content>
</span>

<input
    #native
    automation-id="tui-input-inline__native"
    type="text"
    tuiMaskAccessor
    class="t-native"
    [attr.maxLength]="maxLength"
    [id]="id"
    [disabled]="computedDisabled"
    [readOnly]="readOnly"
    [tuiFocusable]="focusable"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    (tuiFocusedChange)="onFocused($event)"
/>
