<ng-container *ngIf="content?.changes | async"></ng-container>
<ng-container *ngIf="hintOptions?.change$ | async"></ng-container>
<div
    automation-id="tui-primitive-textfield__wrapper"
    tuiWrapper
    [active]="pseudoActive"
    [appearance]="appearance"
    [disabled]="disabled"
    [focus]="computedFocused"
    [hover]="pseudoHover"
    [invalid]="computedInvalid"
    [readOnly]="readOnly"
    [style.--text-indent.px]="decor.pre$ | async"
    (click.prevent.silent)="(0)"
    (mousedown)="onMouseDown($event)"
    (tuiAutofilledChange)="onAutofilled($event)"
>
    <ng-content select="input"></ng-content>
    <ng-content select="select"></ng-content>
    <input
        #focusableElement
        automation-id="tui-primitive-textfield__native-input"
        tuiMaskAccessor
        class="t-input"
        [attr.aria-invalid]="computedInvalid"
        [attr.name]="name"
        [disabled]="computedDisabled"
        [id]="id"
        [ngModel]="value"
        [readOnly]="readOnly || !editable"
        [tuiFocusable]="computedFocusable"
        (ngModelChange)="onModelChange($event)"
    />
    <div
        *ngIf="inputHidden"
        automation-id="tui-primitive-textfield__value"
        class="t-input t-input_template"
    >
        <ng-content select="tuiContent"></ng-content>
    </div>
    <div class="t-content">
        <div
            *ngIf="iconLeftContent"
            class="t-icon t-icon_left t-textfield-icon"
        >
            <tui-svg
                *polymorpheusOutlet="iconLeftContent as src; context: {$implicit: size}"
                appearance="icon"
                tuiWrapper
                [src]="src"
            ></tui-svg>
        </div>
        <div class="t-wrapper">
            <label
                *ngIf="hasPlaceholder"
                automation-id="tui-primitive-textfield__placeholder"
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
                [for]="computedId"
            >
                <ng-content></ng-content>
            </label>
            <div class="t-wrapper-value-decoration">
                <tui-value-decoration
                    #decor
                    aria-hidden="true"
                    automation-id="tui-primitive-textfield__value-decoration"
                    class="t-value-decoration"
                    [class.t-has-value]="value"
                    [style.textIndent.px]="getIndent$(focusableElement) | async"
                ></tui-value-decoration>
            </div>
        </div>
        <div class="t-icons">
            <div
                *ngIf="hasCustomContent"
                automation-id="tui-primitive-textfield__custom-content"
                class="t-custom-content"
            >
                <tui-svg
                    *polymorpheusOutlet="controller.customContent as src"
                    class="t-custom-icon"
                    [src]="src"
                ></tui-svg>
            </div>
            <span
                *ngIf="hasCleaner"
                appearance="icon"
                automation-id="tui-primitive-textfield__cleaner"
                tuiWrapper
                class="t-cleaner"
                (click.stop)="clear()"
            >
                <tui-svg
                    *polymorpheusOutlet="
                        iconCleaner || controller.options.iconCleaner as src;
                        context: {$implicit: size}
                    "
                    [src]="src"
                ></tui-svg>
            </span>
            <tui-tooltip
                *ngIf="showHint"
                automation-id="tui-primitive-textfield__tooltip"
                class="t-tooltip"
                [content]="hintOptions?.content"
                [describeId]="computedId"
            ></tui-tooltip>
            <div
                *ngIf="iconContent"
                class="t-icon t-textfield-icon"
            >
                <tui-svg
                    *polymorpheusOutlet="iconContent as src; context: {$implicit: size}"
                    appearance="icon"
                    tuiWrapper
                    [src]="src"
                ></tui-svg>
            </div>
        </div>
    </div>
</div>
