<ng-container *ngIf="content?.changes | async"></ng-container>
<tui-wrapper
    automation-id="tui-primitive-textfield__wrapper"
    [appearance]="appearance"
    [readOnly]="readOnly"
    [disabled]="disabled"
    [focused]="computedFocused"
    [hovered]="computedHovered"
    [pressed]="computedPressed"
    [invalid]="computedInvalid"
    [style.--text-indent.px]="decor.pre$ | async"
    (mousedown)="onMouseDown($event)"
    (click.prevent.silent)="(0)"
    (tuiHoveredChange)="onHovered($event)"
    (tuiAutofilledChange)="onAutofilled($event)"
>
    <ng-content select="input"></ng-content>
    <input
        #focusableElement
        tuiMaskAccessor
        automation-id="tui-primitive-textfield__native-input"
        class="t-input"
        [attr.disabled]="computedDisabled || null"
        [attr.maxLength]="controller.maxLength"
        [attr.name]="name"
        [attr.aria-placeholder]="controller.exampleText"
        [attr.aria-invalid]="computedInvalid"
        [autocomplete]="controller.autocomplete"
        [type]="controller.type"
        [id]="id"
        [readOnly]="readOnly || !editable"
        [tuiInputMode]="controller.inputMode"
        [tuiFocusable]="computedFocusable"
        [tuiDescribedBy]="id"
        [ngModel]="value"
        (ngModelChange)="onModelChange($event)"
    />
    <div
        *ngIf="inputHidden"
        automation-id="tui-primitive-textfield__value"
        class="t-input t-input_template"
    >
        <ng-content select="[polymorpheus-outlet]"></ng-content>
    </div>
    <div class="t-content">
        <div
            *ngIf="iconLeftContent"
            polymorpheus-outlet
            class="t-icon t-icon_left"
            [content]="iconLeftContent"
            [context]="{$implicit: size}"
        >
            <ng-template let-iconSrc>
                <tui-svg [src]="iconSrc"></tui-svg>
            </ng-template>
        </div>
        <div class="t-wrapper">
            <label
                *ngIf="hasPlaceholder"
                automation-id="tui-primitive-textfield__placeholder"
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
                [for]="computedId"
            >
                <ng-content></ng-content>
            </label>
            <div class="t-wrapper-value-decoration">
                <tui-value-decoration
                    #decor
                    automation-id="tui-primitive-textfield__value-decoration"
                    aria-hidden="true"
                    class="t-value-decoration"
                    [style.textIndent.px]="getIndent$(focusableElement) | async"
                ></tui-value-decoration>
            </div>
        </div>
        <div
            *ngIf="hasCustomContent"
            polymorpheus-outlet
            automation-id="tui-primitive-textfield__custom-content"
            class="t-custom-content"
            [content]="controller.customContent"
        >
            <ng-template let-iconSrc>
                <tui-svg
                    class="t-custom-icon"
                    [src]="iconSrc"
                ></tui-svg>
            </ng-template>
        </div>
        <span
            *ngIf="hasCleaner"
            polymorpheus-outlet
            automation-id="tui-primitive-textfield__cleaner"
            class="t-cleaner"
            [content]="iconCleaner"
            (click.stop)="clear()"
        >
            <ng-template let-icon>
                <tui-svg [src]="icon"></tui-svg>
            </ng-template>
        </span>
        <tui-tooltip
            *ngIf="hasTooltip"
            automation-id="tui-primitive-textfield__tooltip"
            [describeId]="computedId"
            [content]="hintController.content || ''"
            [direction]="hintController.direction"
            [mode]="hintController.mode"
            [showDelay]="hintController.showDelay"
            [hideDelay]="hintController.hideDelay"
        ></tui-tooltip>
        <div
            *ngIf="iconContent"
            polymorpheus-outlet
            class="t-icon"
            [content]="iconContent"
            [context]="{$implicit: size}"
        >
            <ng-template let-iconSrc>
                <tui-svg [src]="iconSrc"></tui-svg>
            </ng-template>
        </div>
    </div>
</tui-wrapper>
