<tui-doc-page
    header="PdfViewer "
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Custom dialog to preview PDF</p>

        <tui-notification appearance="negative">
            This version of the component is deprecated and will be removed in the next major version. Use
            <a
                tuiLink
                [routerLink]="routes.PdfViewer"
            >
                <strong>new version of PdfViewer</strong>
            </a>
            instead!
        </tui-notification>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="component"
            heading="Component"
            [component]="2 | tuiComponent"
            [content]="example2"
        />

        <tui-doc-example
            id="directive"
            heading="Directive"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab="Setup">
        <ol class="tui-list tui-list_ordered">
            <li class="tui-list__item">
                Inject service and show dialog:

                <tui-doc-code
                    filename="my.component.ts"
                    [code]="exampleService"
                />
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
