<tui-doc-page
    header="FileUploader"
    package="EXPERIMENTAL"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            id="cell-layout"
            heading="tui-file in cell mode"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="card-layout"
            heading="tui-file in card mode"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'html,ts'"
            [fullsize]="true"
        />

        <tui-doc-example
            id="card"
            heading="Card example"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="file-uploader-grid"
            heading="tui-file-uploader in grid mode"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample: 'html,ts'"
            [fullsize]="true"
        />

        <tui-doc-example
            id="file-uploader-list"
            heading="tui-file-uploader in list mode"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample: 'html,ts'"
            [fullsize]="true"
        />
    </ng-template>
</tui-doc-page>
