@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .transition(color);

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    pointer-events: auto;
    border-radius: 100%;
    cursor: pointer;
}

.t-tooltip-button {
    border-radius: inherit;
    outline-offset: -4px;

    &:before {
        width: 1rem;
        height: 1rem;
    }

    :host-context([tuiWrapper][data-appearance='textfield'][data-state='disabled']) & {
        opacity: 1;
    }
}
