@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .transition(color);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    pointer-events: auto;
    cursor: pointer;
}

.t-tooltip-icon {
    border-radius: 100%;
    outline-offset: 1px;

    :host-context([tuiWrapper][data-appearance='textfield'][data-state='disabled']) & {
        opacity: 1;
    }
}

.t-icon {
    width: 1rem;
    height: 1rem;
}
