.container {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    padding-top: 1.25rem;
}

.pay-button {
    margin-top: 1rem;
    width: 100%;
}

.icon-group {
    background: #f6f6f6;
    padding: 0.125rem 0.3125rem;
    border-radius: 0.3125rem;
}

.icon {
    min-width: 2.25rem;
}
