<tui-doc-page header="BadgedContent" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            BadgedContent is a wrapper for other components to add badges and
            notifications to them.
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="with notification"
            [content]="example1"
        >
            <tui-badged-content-example-1></tui-badged-content-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="components"
            i18n-heading
            heading="with different components"
            [content]="example2"
        >
            <tui-badged-content-example-2></tui-badged-content-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="badge"
            i18n-heading
            heading="with a badge and icon"
            [content]="example3"
        >
            <tui-badged-content-example-3></tui-badged-content-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-badged-content
                [contentTop]="contentTop === 'Template' ? example : contentTop"
                [contentBottom]="contentBottom === 'Template' ? example : contentBottom"
                [rounded]="rounded"
                [colorTop]="colorTop"
                [colorBottom]="colorBottom"
                [size]="size"
            >
                <tui-avatar
                    text="daenerys targaryen"
                    [rounded]="rounded"
                    [size]="size"
                ></tui-avatar>
            </tui-badged-content>
            <ng-template #example>
                <tui-avatar
                    text="Example"
                    size="s"
                    avatarUrl="https://ng-web-apis.github.io/dist/assets/images/web-api.svg"
                    [rounded]="true"
                ></tui-avatar>
            </ng-template>
        </tui-doc-demo>

        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="contentBottom"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="contentVariants"
                [(documentationPropertyValue)]="contentBottom"
            >
                Bottom right content. If it is a number, badge shows it. If it
                is a string, it will be used as icon.
                <b>Warning:</b> use big icons for all sizes except 'xs'.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="contentTop"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="contentVariants"
                [(documentationPropertyValue)]="contentTop"
            >
                Top right content. If it is a number, badge shows it. If it is a
                string, it will be used as icon.
                <b>Warning:</b> use big icons for all sizes except 'xs'.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="colorBottom"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="colorBottom"
            >
                Bottom right content color. If there is no content, shows a
                small circle of this color.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="colorTop"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="colorTop"
            >
                Top right content color. If there is no content, shows a small
                circle of this color.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeXS | TuiSizeXXL"
                documentationPropertyMode="input"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="rounded"
                documentationPropertyType="boolean"
                documentationPropertyMode="input"
                [(documentationPropertyValue)]="rounded"
            >
                Rounded mode
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiBadgedContentModule</code> into a module
                    where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
