@import '@taiga-ui/styles/utils';

:host {
    position: absolute;
    box-shadow: var(--tui-shadow-medium);
    inline-size: min-content;
    padding: 0.75rem 1rem;
    margin-inline-start: calc(-1px - 1rem);
    margin-block-start: calc(-1px - 0.75rem);
    border-radius: var(--tui-radius-l);
    box-sizing: content-box;
    border: 1px solid var(--tui-border-normal);
    background: var(--tui-background-base);
    color: var(--tui-text-primary);
    overflow-wrap: break-word;

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiFade;
    }
}
