@import '@taiga-ui/styles/utils';

:host {
    .transition(max-height);

    position: relative;
    display: block;
    overflow: hidden;

    &._overflown .t-wrapper {
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
    }
}

.t-wrapper {
    display: -webkit-box;
    overflow: hidden;
    overflow-wrap: anywhere;
}

@supports (animation-timeline: --name) {
    @keyframes tuiEmpty {
        /* comment so that the preprocessor doesn't delete it */
    }

    .t-wrapper {
        max-block-size: inherit; // makes the wrapper itself overflow, otherwise detection would depend on `_overflown` it sets
        animation-name: tuiEmpty, tuiEmpty;
        animation-timeline: scroll(self block), scroll(self inline);
    }
}
