@import '@taiga-ui/styles/utils';

:host {
    .transition(max-height);

    position: relative;
    display: block;
    overflow: hidden;

    &._overflown .t-wrapper {
        /* autoprefixer: ignore next */
        -webkit-box-orient: block-axis;
    }
}

.t-wrapper {
    /* stylelint-disable-next-line */
    display: -webkit-box;
    overflow: hidden;
    overflow-wrap: anywhere;
}
