@import '@taiga-ui/styles/utils';

[tuiCardMedium],
[tuiCardLarge] {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    text-decoration: none;
    overflow: hidden;
    padding: 0;
    border: 0;
    background: var(--tui-background-elevation-2);

    [tuiTitle],
    [tuiSubtitle] {
        max-inline-size: 100%;
    }

    > * {
        .scrollbar-hidden();
    }
}
