/**
 * @name Icons
 * @selector [tuiIcons]
 *
 * @description
 * Icons directive applies styles to ::before and ::after pseudo elements
 *
 * @vars
 * --t-icon-start — depending on the data-icon-start, it can serve as either a mask (`svg`),
  a background (`img`), or content (`font`) for the ::before element
 * --t-icon-end — depending on the data-icon-end, it can serve as either a mask (`svg`),
  a background (`img`), or content (`font`) for the ::after element
 *
 * @example
 * <button tuiIcons style="--t-icon-start: url('icon.svg')"></button>
 *
 * @see-also
 * Button, Icon, Link
 */
[tuiIcons]:where(*&) {
    --t-icon-start: none;
    --t-icon-end: none;

    &::before,
    &::after {
        content: '';
        inline-size: 1em;
        block-size: 1em;
        line-height: 1em;
        font-size: var(--tui-icon-size, 1.5rem);
        flex-shrink: 0;
        box-sizing: content-box;
        background: currentColor;
        zoom: ~'calc(100% * (min(max(var(--tui-font-offset) - 10px, 0px), 1px) / 0.8px))';
    }

    &::before {
        display: var(--t-icon-start);
        mask:
            var(--t-icon-start) no-repeat center / calc(~'min(1em, 100%)' + 10 * var(--tui-stroke-width))
                ~'min(1em, 100%)',
            100% padding-box;
    }

    &::after {
        display: var(--t-icon-end);
        mask: var(--t-icon-end) no-repeat center / calc(~'min(1em, 100%)' + 10 * var(--tui-stroke-width))
            ~'min(1em, 100%)' padding-box;
    }

    &[data-icon-start='img']::before {
        mask: none;
        background: var(--t-icon-start) no-repeat center / 1em padding-box;
    }

    &[data-icon-end='img']::after {
        mask: none;
        background: var(--t-icon-end) no-repeat center / 1em padding-box;
    }

    &[data-icon-start='font']::before,
    &[data-icon-end='font']::after {
        display: grid;
        mask: none;
        background: none;
        font: 1.5em / 1 var(--tui-font-icon, inherit);
        text-align: center;
        place-content: center;
        text-transform: none;
    }

    &[data-icon-start='font']::before {
        content: var(--t-icon-start);
    }

    &[data-icon-end='font']::after {
        content: var(--t-icon-end);
    }
}
