@import '@taiga-ui/styles/utils.less';

/**
 * @name Like
 * @selector [tuiLike]
 *
 * @description
 * A stylized input type="checkbox"
 *
 * @attributes
 * data-size — size (default: 'm') ('s' | 'm')
 *
 * @vars
 * --t-icon-color — custom color for `:checked` state
 * --t-icon-start — default state icon
 * --t-icon-end — checkmark icon
 *
 * @example
 * <input tuiLike tuiIcons tuiAppearance data-appearance="secondary" />
 *
 * @see-also
 * Checkbox, Switch, Radio, Appearance
 */
[tuiLike]:where(*&) {
    inline-size: 1em;
    block-size: 1em;
    font-size: var(--tui-height-m);
    border-radius: 100%;
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;

    &::before,
    &::after {
        .fullsize();

        font-size: 1.25rem;
        transition-property: transform, opacity;
    }

    &::after {
        opacity: 0;
        color: var(--t-icon-color, inherit);
        transform: scale(0);
    }

    &:checked {
        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
            transform: scale(1);
            transition-timing-function: cubic-bezier(0.2, 0.6, 0.5, 1.8), ease-in-out;
        }
    }

    &[data-size='s'] {
        font-size: var(--tui-height-s);

        &::before,
        &::after {
            font-size: 1rem;
        }
    }
}
