@import '@taiga-ui/styles/utils.less';

/**
 * @name Message
 * @selector [tuiMessage]
 *
 * @description
 * A message component that can be used on buttons/links/inputs
 *
 * @example
 * <span tuiMessage>Message text</span>
 *
 * @see-also
 * Chip, Badge, Block
 */
[tuiMessage]:where(*&) {
    display: inline-flex;
    padding: 0.5rem 0.625rem;
    min-block-size: 2.25rem;
    block-size: auto;
    box-sizing: border-box;
    inline-size: fit-content;
    isolation: isolate;
    white-space: nowrap;
    text-align: start;
    font: var(--tui-typography-ui-m);
    border-radius: var(--tui-radius-l);

    > [tuiLink] {
        color: inherit !important;
        text-decoration: underline solid !important;
    }
}
