@import '@taiga-ui/styles/utils';

:host {
    .scrollbar-hidden();

    --tui-action-gap: 24;
    --tui-actions-padding: 0rem;
    --tui-item-size: 44;
    --t-x: calc(50% + 50% * var(--tui-inline));

    display: flex;
    inline-size: -webkit-fill-available;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    perspective: 1px;
    perspective-origin: calc(
        var(--t-x) + var(--tui-inline) * (calc(1px * var(--tui-item-size) / 2) + var(--tui-actions-padding))
    );
}

.t-content {
    scroll-snap-align: start;
    flex-shrink: 0;
    inline-size: 100%;
}

.t-actions {
    display: flex;
    gap: calc(1px * var(--tui-action-gap));
    padding: 0 1.5rem 0 var(--tui-actions-padding);
    scroll-snap-align: start;
    align-items: center;
    transform-style: preserve-3d;

    // safari bug https://bugs.webkit.org/show_bug.cgi?id=285857
    pointer-events: none;
    /* stylelint-disable-next-line */
    transform: translateZ(-0.00001px);

    &:empty {
        display: none;
    }

    ::ng-deep & > * {
        .loop(6);

        pointer-events: auto;
    }

    @media @tui-mouse {
        display: none;
    }
}

.loop (@i) when (@i > 1) {
    .loop(@i - 1);
    &:nth-child(@{i}) {
        --t-distance: ~'calc(var(--tui-item-size) + var(--tui-action-gap)) * calc(@{i} - 1)';
        --t-factor: calc((var(--t-actions-width) - var(--t-distance)) / var(--t-actions-width));
        --t-scale: calc(1 / var(--t-factor));
        --t-translate: calc(1px * (1 - 1 / var(--t-factor)));

        transform: ~'translate3d(calc(calc((-100% * var(--tui-inline) - calc(1px * var(--tui-inline) * var(--tui-action-gap))) * (@{i} - 1)) / var(--t-scale)), 0, var(--t-translate))';
        scale: var(--t-scale);
    }
}
