<ng-container *ngIf="texts$ | async as texts">
    <button
        tuiIconButton
        size="s"
        appearance=""
        icon="tuiIconArrowLeft"
        shape="rounded"
        class="t-arrow t-arrow_left"
        [title]="texts.previous"
        [disabled]="leftButtonDisabled"
        (click)="onArrowClick(-1)"
    ></button>
    {{index + 1}}/{{lastIndex + 1}}
    <button
        tuiIconButton
        size="s"
        appearance=""
        icon="tuiIconArrowRight"
        shape="rounded"
        class="t-arrow t-arrow_right"
        [title]="texts.next"
        [disabled]="rightButtonDisabled"
        (click)="onArrowClick(1)"
    ></button>
</ng-container>
