<tui-doc-page
    deprecated
    header="MultiSelect"
    package="LEGACY"
    path="legacy/components/multi-select"
    type="components"
>
    <ng-template pageTab>
        <tui-notification appearance="negative">
            This version of the component is deprecated and will be removed in the next major version. Use
            <a
                tuiLink
                [routerLink]="routes.InputChip"
            >
                <strong>InputChip</strong>
            </a>
            instead!
        </tui-notification>

        <div class="tui-space_bottom-3">
            <code>MultiSelect</code>
            is a textfield with a dropdown for choosing several items
        </div>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-multi-select
                    [autoColor]="autoColor"
                    [disabledItemHandler]="disabledItemHandler"
                    [editable]="editable"
                    [focusable]="focusable"
                    [formControl]="control"
                    [identityMatcher]="identityMatcher"
                    [placeholder]="exampleText"
                    [pseudoActive]="pseudoPressed"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [rows]="rows"
                    [stringify]="stringify"
                    [tagValidator]="tagValidator"
                    [tuiDropdownAlign]="dropdownAlign"
                    [tuiDropdownDirection]="dropdownDirection"
                    [tuiDropdownLimitWidth]="dropdownLimitWidth"
                    [tuiDropdownMaxHeight]="dropdownMaxHeight"
                    [tuiDropdownMinHeight]="dropdownMinHeight"
                    [tuiDropdownOffset]="dropdownOffset"
                    [tuiDropdownOpen]="!!(dropdownOpen | async)"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldIconLeft]="iconStart"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [valueContent]="valueContent"
                    [(search)]="search"
                    (tuiDropdownOpenChange)="dropdownOpen.next($event)"
                >
                    Choose an account
                    <tui-data-list-wrapper
                        *tuiDataList
                        tuiMultiSelectGroup
                        [disabledItemHandler]="disabledItemHandler"
                        [items]="items"
                    />
                </tui-multi-select>
            </ng-template>
        </tui-doc-demo>
        <div>
            <p>
                Set a value with copied object from items to check
                <code>identityMatcher</code>
                :
            </p>

            <button
                size="m"
                tuiButton
                type="button"
                (click)="setValue()"
            >
                Set
            </button>
        </div>

        <table tuiDocAPI>
            <tr
                name="[disabled]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </tr>
            <tr
                name="[(search)]"
                tuiDocAPIItem
                type="string | null"
                [(value)]="search"
            >
                Textfield value to subscribe on input or setting it from the outside (emits
                <code>null</code>
                when item from list selected)
            </tr>
            <tr
                name="[disabledItemHandler]"
                tuiDocAPIItem
                type="TuiBooleanHandler<T>"
                [items]="disabledItemHandlerVariants"
                [(value)]="disabledItemHandler"
            >
                Handler for deactivation some items
            </tr>
            <tr
                name="[editable]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="editable"
            >
                Textfield can be use for typing
            </tr>
            <tr
                name="[rows]"
                tuiDocAPIItem
                type="number"
                [(value)]="rows"
            >
                A number of visible rows
            </tr>
            <tr
                name="[identityMatcher]"
                tuiDocAPIItem
                type="TuiIdentityMatcher"
                [items]="identityMatcherVariants"
                [(value)]="identityMatcher"
            >
                A function that compares search and value to define a match between them.
                <strong>Must be a pure function</strong>
            </tr>
            <tr
                name="[stringify]"
                tuiDocAPIItem
                type="TuiStringHandler"
                [items]="stringifyVariants"
                [(value)]="stringify"
            >
                A function that transforms object into a string.
                <code>String(value)</code>
                by default.
                <strong>Should be a pure function</strong>
            </tr>
            <tr
                name="[valueContent]"
                tuiDocAPIItem
                type="PolymorpheusContent"
                [items]="valueContentVariants"
                [(value)]="valueContent"
            >
                A template for custom view of selected value
            </tr>
            <tr
                name="[tagValidator]"
                tuiDocAPIItem
                type="TuiBooleanHandler<T>"
                [items]="tagValidatorVariants"
                [(value)]="tagValidator"
            >
                A function that checks that tag is valid
            </tr>
            <tr
                name="[autoColor]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="autoColor"
            >
                Auto color for tags (
                <code>autoColor = true</code>
                does not work together with
                <code>labelOutside ==== false</code>
                : use only outside labels)
            </tr>
            <tr
                name="[placeholder]"
                tuiDocAPIItem
                type="string"
                [(value)]="exampleText"
            >
                Placeholder
            </tr>
        </table>
        <inherited-documentation [dropdown]="true" />
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
