:host {
    position: relative;
    display: flex;
    min-inline-size: 0;
    flex: 1;
    align-items: center;
    white-space: nowrap;

    &._multiline {
        flex-wrap: wrap;
    }
}

.t-item {
    flex: 0 0 auto;

    &_hidden {
        position: absolute;
        bottom: 0;
        visibility: hidden;
    }

    :host._multiline & {
        &_more:not(:empty) {
            min-inline-size: var(--t-min-width, 0);
        }
    }
}
