<ng-container *ngIf="items.changes | async" />
<ng-container
    *ngIf="directive.side === 'start'"
    [ngTemplateOutlet]="template"
/>
<div
    *ngFor="let item of items; let index = index"
    class="t-item"
    [class.t-item_hidden]="isHidden(index)"
>
    <ng-container *ngTemplateOutlet="item" />
</div>
<ng-container
    *ngIf="directive.side === 'end'"
    [ngTemplateOutlet]="template"
/>
<ng-template #template>
    <span
        *ngIf="!isMoreHidden"
        class="t-item"
    >
        <ng-container
            [ngTemplateOutlet]="more || null"
            [ngTemplateOutletContext]="{$implicit: lastIndex()}"
        />
    </span>
</ng-template>
