@if (directive.side() === 'start') {
    <ng-container [ngTemplateOutlet]="template" />
}
@for (item of items(); track item) {
    <div
        class="t-item"
        [class.t-item_hidden]="isHidden($index)"
    >
        <ng-container *ngTemplateOutlet="item" />
    </div>
}
@if (directive.side() === 'end') {
    <ng-container [ngTemplateOutlet]="template" />
}
<ng-template #template>
    @if (!isMoreHidden()) {
        <span class="t-item t-item_more">
            <ng-container
                [ngTemplateOutlet]="more() || null"
                [ngTemplateOutletContext]="{$implicit: lastIndex()}"
            />
        </span>
    }
</ng-template>
