@import '@taiga-ui/core/styles/taiga-ui-local';
@import '../mixin.style.less';

:host {
    .preview-item();

    display: flex;
    font: var(--tui-font-text-s);
    justify-content: space-between;
    align-items: center;
    inline-size: 6.25rem;
}

.t-arrow {
    &_left {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
    }

    &_right {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
}
