@import '@taiga-ui/styles/utils';
@import '../mixin.style.less';

:host {
    .preview-item();

    display: flex;
    font: var(--tui-typography-body-s);
    justify-content: space-between;
    align-items: center;
    inline-size: 6.25rem;
}

.t-arrow {
    transform: scaleX(var(--tui-inline));

    &_left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &_right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
