@import '@taiga-ui/core/styles/taiga-ui-local';
@import '../mixin.style.less';

:host {
    .preview-item();

    display: flex;
    font: var(--tui-font-text-s);
    justify-content: space-between;
    align-items: center;
    width: 6.25rem;
}

.t-arrow {
    &_left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &_right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
