<ng-container *ngIf="texts$ | async as texts">
    <button
        tuiIconButton
        tuiPreviewAction
        type="button"
        class="t-arrow_left"
        [disabled]="leftButtonDisabled"
        [iconLeft]="icons.prev"
        (click)="onArrowClick(-1)"
    >
        {{ texts[0] }}
    </button>
    {{ index + 1 }}/{{ length }}
    <button
        tuiIconButton
        tuiPreviewAction
        type="button"
        class="t-arrow_right"
        [disabled]="rightButtonDisabled"
        [iconLeft]="icons.next"
        (click)="onArrowClick(1)"
    >
        {{ texts[1] }}
    </button>
</ng-container>
