@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: relative;
    display: block;
    width: fit-content;
    min-width: fit-content;
    color: var(--tui-support-12);
    cursor: pointer;
    font-size: 1rem;
    user-select: none;

    &._readonly {
        pointer-events: none;
    }

    &._disabled {
        opacity: var(--tui-disabled-opacity);
        pointer-events: none;
    }
}

.t-range {
    .fullsize();

    box-sizing: border-box;
    padding: 0 0.75em;
    opacity: 0;
    pointer-events: none;

    &:focus-visible + .t-items {
        box-shadow: inset 0 0 0 0.125rem var(--tui-focus);
    }
}

.t-items {
    position: relative;
    display: flex;
    flex-direction: row-reverse;

    &:hover {
        .t-icon {
            clip-path: inset(0 0 0 0);

            &_blank {
                clip-path: inset(0 0 0 100%);
            }
        }
    }
}

.t-item {
    position: relative;
    flex: 1 0 0;
    color: var(--tui-base-06);
    transition-duration: var(--tui-duration);
    transition-property: color, transform;
    transition-timing-function: ease-in-out, cubic-bezier(0.35, 1.5, 0.4, 2.5);

    &:first-child {
        max-width: 2.5em;
    }

    &:hover,
    &:hover ~ &,
    .t-items:not(:hover) &_active {
        color: currentColor;
    }

    .t-items:active &:hover,
    .t-items:active &:hover ~ & {
        transform: scale(0.85);
        transition-duration: var(--tui-duration), calc(var(--tui-duration) / 3);
        transition-timing-function: ease-in-out;
    }
}

.t-icon {
    .transition(clip-path);

    width: 2.5em;
    height: 2.5em;
    clip-path: inset(0 var(--t-cut) 0 0);
    font-size: inherit;

    ::ng-deep > * {
        font-size: 1rem;
    }

    &_blank {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        clip-path: inset(0 0 0 var(--t-cut));
        color: var(--tui-base-06);
    }

    &_fraction {
        display: block;
    }
}

@media (any-pointer: coarse) {
    :host._active {
        .t-item_active {
            transform: scale(0.85);
            transition-timing-function: ease-in-out;
        }
    }

    .t-range {
        pointer-events: auto;
    }

    .t-icon {
        transition: none;
    }
}
