@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    --t-size: 1.5rem;
    --t-radius: var(--tui-radius-s);

    width: var(--t-size);
    height: var(--t-size);
    border-radius: var(--t-radius);
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;

    &:before {
        .fullsize();

        content: '';
        background: currentColor;
        mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"></svg>') center/100%;
        transform: scale(0);
        transition:
            transform var(--tui-duration) ease-in-out,
            mask 0s var(--tui-duration) ease-in-out;
    }

    &:disabled._readonly {
        opacity: 1;
    }

    &:checked,
    &:indeterminate {
        &:before {
            mask-image: var(--t-checked);
            transform: scale(1);
            transition:
                transform var(--tui-duration) ease-in-out,
                mask 0s ease-in-out;
        }
    }

    &:indeterminate:before {
        mask-image: var(--t-indeterminate);
    }

    &[data-size='s'] {
        --t-size: 1rem;
        --t-radius: var(--tui-radius-xs);
    }
}
