.container {
    width: 43.75rem;
    height: 20rem;
    border: 1px solid var(--tui-base-07);
    position: relative;
    overflow: auto;
    resize: both;

    &.sidebar-side {
        display: flex;
    }
}

.group {
    margin: 0.625rem;
    width: calc(100% - 1.25rem);
}

.link {
    display: block;
    margin: 0.75rem 0;
}
