:host {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.pointer {
    box-shadow: 0 0 0.4375rem 0 rgba(0, 0, 0, 0.3);
    background: #428bf9;
    color: #428bf9;
}
