:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: start;

    :host-context(*:disabled) {
        pointer-events: none;
    }
}

.t-icon {
    cursor: pointer;
    pointer-events: auto;

    &_small::before {
        font-size: 1rem;
    }
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}
