@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .clearbtn();

    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-right: 1.5rem;
    color: var(--tui-link);
    counter-increment: steps;
    cursor: pointer;
    outline: none;

    &:disabled {
        color: var(--tui-base-07);
        pointer-events: none;
    }

    &:hover {
        color: var(--tui-link-hover);
    }

    &:not(:last-of-type)._vertical {
        margin-bottom: 1.25rem;
    }

    &._active,
    &._active:hover {
        color: var(--tui-text-01);
        cursor: default;
    }

    &._focus-visible:before {
        position: absolute;
        top: 50%;
        right: 0;
        left: 2.75rem;
        height: 1.5rem;
        margin-top: -0.75rem;
        background: var(--tui-selection);
        content: '';
    }
}

.t-marker {
    .transition(background);

    display: flex;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 0.75rem;
    background: var(--tui-secondary);
    color: var(--tui-link);

    :host:disabled & {
        background: var(--tui-base-03);
        color: var(--tui-base-07);
    }

    &_index {
        &:before {
            content: counter(steps);
        }

        :host:hover & {
            background: var(--tui-secondary-hover);
            color: var(--tui-link-hover);
        }

        :host._active & {
            background: var(--tui-primary);
            color: var(--tui-primary-text);
        }

        :host:not([data-state='normal']):not(._active) &,
        :host:not(._active) .t-marker_custom ~ & {
            display: none;
        }
    }

    &_error {
        background: var(--tui-error-bg);
        color: var(--tui-error-fill);

        :host:hover & {
            background: var(--tui-error-bg-hover);
            color: var(--tui-error-fill);
        }

        :host:not([data-state='error']) &,
        :host._active & {
            display: none;
        }
    }

    &_pass {
        :host:not([data-state='pass']) &,
        :host._active & {
            display: none;
        }
    }

    &_custom {
        :host:not([data-state='normal']) &,
        :host._active & {
            display: none;
        }

        :host:hover & {
            background: var(--tui-secondary-hover);
            color: var(--tui-link-hover);
        }
    }
}
