.description {
    font: var(--tui-typography-body-m);
}

section {
    margin-block-start: 2rem;
}

h3 {
    margin-block-start: 1.5rem;
}

ul[tuiList] {
    margin-block: 0.75rem 0;
}

tui-doc-code,
[tuiNotification] {
    display: block;
    margin-block-start: 0.75rem;
}
