.container {
    max-block-size: 20rem;
    inline-size: 20rem;
    overflow: auto;
    overscroll-behavior: none;
}

.title {
    margin: 0.5rem 0;
    font-size: 1.75rem;
    font-weight: bold;
}

search {
    position: sticky;
    z-index: 1;
    inset-block-start: 0;
    padding-block: 0.75rem;
    padding-inline: 1rem;
}
