<tui-doc-page header="PullToRefresh" package="ADDON-MOBILE" type="components">
    <ng-template pageTab>
        <p i18n>
            Component to refresh content after pull top. It emulates appearance
            of native iOS and Android components
        </p>

        <tui-notification i18n class="tui-space_top-4">
            <div>
                It emits <code>(pulled)</code> event when user wants to start
                loading.
            </div>
            <div class="tui-space_top-2">
                You can finish loading with <code>TUI_LOADED</code> stream token
                that can be provided in DI
            </div>
        </tui-notification>

        <tui-doc-example id="android" heading="Android" [content]="example1">
            <tui-pull-to-refresh-example-1></tui-pull-to-refresh-example-1>
        </tui-doc-example>

        <tui-doc-example id="ios" heading="iOS" [content]="example2">
            <tui-pull-to-refresh-example-2></tui-pull-to-refresh-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template i18n-pageTab pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiPullToRefreshModule</code> into a module
                    where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
