<tui-doc-page
    header="PullToRefresh"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template pageTab>
        <p>Component to refresh content after pull top. It emulates appearance of native iOS and Android components</p>

        <p>
            It emits
            <code>(pulled)</code>
            event when the pull threshold is reached.
        </p>
        <p>
            You can set that threshold in pixels by
            <code>TUI_PULL_TO_REFRESH_THRESHOLD</code>
            DI token.
        </p>
        <p>
            You can finish loading with
            <code>TUI_PULL_TO_REFRESH_LOADED</code>
            stream token that can be provided in DI.
        </p>

        <tui-notification>
            Use
            <code>overscroll-behavior: none;</code>
            CSS on your scrolling container to stop elastic scrolling on iOS
        </tui-notification>

        <tui-doc-example
            id="android"
            heading="Android"
            [content]="example1"
        >
            <tui-scrollbar class="scrollbar">
                <tui-pull-to-refresh-example-1></tui-pull-to-refresh-example-1>
            </tui-scrollbar>
        </tui-doc-example>

        <tui-doc-example
            id="ios"
            heading="iOS"
            [content]="example2"
        >
            <tui-scrollbar class="scrollbar">
                <tui-pull-to-refresh-example-2></tui-pull-to-refresh-example-2>
            </tui-scrollbar>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import
                    <code>TuiPullToRefreshModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
