<tui-doc-page header="InputTime" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n><code>InputTime</code> allows input time in HH:MM format</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-input-time-example-1></tui-input-time-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="dropdown"
            i18n-heading
            i18n-description
            heading="Dropdown"
            description="You can set items for dropdown"
            [content]="example2"
        >
            <tui-input-time-example-2></tui-input-time-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-time
                    [formControl]="control"
                    [focusable]="focusable"
                    [disabledItemHandler]="disabledItemHandler"
                    [tuiDropdownAlign]="dropdownAlign"
                    [tuiDropdownDirection]="dropdownDirection"
                    [tuiDropdownLimitWidth]="dropdownLimitWidth"
                    [tuiDropdownMinHeight]="dropdownMinHeight"
                    [tuiDropdownMaxHeight]="dropdownMaxHeight"
                    [items]="items"
                    [itemSize]="itemSize"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [mode]="mode"
                    [readOnly]="readOnly"
                    [strict]="strict"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintMode]="hintMode"
                >
                    Input time
                </tui-input-time>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandler<TuiTime>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                Hadler to disable some items
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="items"
                documentationPropertyMode="input"
                documentationPropertyType="ReadonlyArray<TuiTime>"
                [documentationPropertyValues]="itemsVariants"
                [(documentationPropertyValue)]="items"
            >
                Items to choose
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="itemSize"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeS | TuiSizeL"
                [documentationPropertyValues]="itemSizeVariants"
                [(documentationPropertyValue)]="itemSize"
            >
                Item size
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="strict"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="strict"
            >
                Only <code>items</code> are allowed
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="mode"
                documentationPropertyMode="input"
                documentationPropertyType="TuiTimeMode"
                [documentationPropertyValues]="modeVariants"
                [(documentationPropertyValue)]="mode"
            >
                Modes for seconds and ms support
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiInputTimeModule</code> in the same module where you
                    want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
