<tui-wrapper
    appearance="input-file"
    class="t-wrapper"
    [class._mobile]="isMobile"
    [focused]="computedFocused"
    [hovered]="computedHovered || fileDragged"
    [pressed]="computedPressed"
    [disabled]="computedDisabled"
>
    <label
        automation-id="tui-input-file__label"
        class="t-label"
    >
        <a tuiLink>
            <span
                polymorpheus-outlet
                class="t-inline"
                [content]="computedLink$ | async"
            ></span>
        </a>
        <ng-container *ngIf="computedLabel$ | async as computedLabel">
            <span>&nbsp;</span>
            <span
                polymorpheus-outlet
                class="t-inline"
                [content]="computedLabel"
            ></span>
        </ng-container>
        <ng-container *ngIf="!readOnly && !computedDisabled">
            <input
                #input
                type="file"
                class="t-native"
                [id]="id"
                [accept]="accept"
                [multiple]="multiple"
                [tuiFocusable]="focusable"
                (change)="onFilesSelected(input, formatRejection, maxSizeRejection)"
                (tuiHoveredChange)="onHovered($event)"
                (tuiFocusedChange)="onFocused($event)"
                (tuiPressedChange)="onPressed($event)"
                (tuiDroppableDropped)="onDropped($event, formatRejection, maxSizeRejection)"
                (tuiDroppableDragOverChange)="onDragOver($event)"
                (mousedown.prevent.silent)="(0)"
            />
        </ng-container>
    </label>
</tui-wrapper>

<ng-template #formatRejection>
    {{ (inputFileTexts$ | async)?.formatRejectionReason || '' }}
</ng-template>

<ng-template #maxSizeRejection>
    {{ maxFileSize | tuiMaxSizeRejectionError | async }}
</ng-template>
