<div
    tuiWrapper
    appearance="input-file"
    class="t-wrapper"
    [class._mobile]="isMobile"
    [focus]="computedFocused"
    [hover]="pseudoHover || fileDragged || null"
    [active]="pseudoActive"
    [disabled]="computedDisabled"
>
    <label
        automation-id="tui-input-file__label"
        class="t-label"
        (tuiDroppableDropped)="onDropped($event)"
        (tuiDroppableDragOverChange)="onDragOver($event)"
        (mousedown.prevent.silent)="(0)"
    >
        <div class="t-description">
            <ng-container *ngTemplateOutlet="template || null; context: {$implicit: fileDragged}"></ng-container>
            <ng-container *ngIf="!template">
                <a tuiLink>
                    <ng-container *polymorpheusOutlet="computedLink$ | async as text">
                        {{ text }}
                    </ng-container>
                </a>
                &nbsp;
                <span
                    *polymorpheusOutlet="computedLabel$ | async as text"
                    [textContent]="text"
                ></span>
            </ng-container>
        </div>
        <ng-container *ngIf="!readOnly && !computedDisabled">
            <ng-content select="input"></ng-content>
            <input
                #input
                type="file"
                title=""
                class="t-native"
                [id]="id"
                [accept]="accept"
                [multiple]="multiple"
                [tuiFocusable]="focusable"
            />
        </ng-container>
    </label>
</div>

<ng-template #formatRejection>
    {{ (inputFileTexts$ | async)?.formatRejectionReason || '' }}
</ng-template>

<ng-template #maxSizeRejection>
    {{ maxFileSize | tuiMaxSizeRejectionError | async }}
</ng-template>
