<tui-doc-page
    header="Editor"
    package="ADDON-EDITOR"
    type="components"
>
    <p>
        Rich Text Editor based on
        <a
            tuiLink
            href="https://www.tiptap.dev/"
        >
            TipTap Editor
        </a>
        for using with Angular forms. For safety reasons use a
        <a
            tuiLink
            routerLink="/icon-set"
            fragment="sanitizer"
        >
            sanitizer
        </a>
        with this component.
    </p>

    <tui-doc-example
        id="upload-file"
        heading="Upload files"
        description="100 uploads per day, 2GB file size limit, files auto-deleted after 1 download"
        [content]="example1"
    >
        <tui-editor-upload-files-example-1></tui-editor-upload-files-example-1>
    </tui-doc-example>
</tui-doc-page>
