<div
    #activeZone="tuiActiveZone"
    class="t-wrapper"
    [tuiOverscroll]="overscroll"
    [tuiMode]="null"
    [tuiActiveZoneParent]="directive.activeZone || null"
>
    <tui-scrollbar class="t-scroll">
        <div
            tabindex="0"
            (focus)="onTopFocus()"
        ></div>
        <div
            #content
            class="t-content"
        >
            <ng-container
                *polymorpheusOutlet="directive.content as text; context: getContext(directive.context, activeZone)"
            >
                {{ text }}
            </ng-container>
        </div>
        <div
            tabindex="0"
            (focus)="onBottomFocus()"
        ></div>
    </tui-scrollbar>
</div>
