.axes {
    height: 200px;
    width: 400px;
    color: #bc71c9;
}

.chart {
    position: absolute;
    top: 0;
    left: 0;

    &_dotted {
        stroke-dasharray: 2;
    }

    &_dashed {
        stroke-dasharray: 4;
    }
}
