.buttons {
    display: flex;
    margin: 0.3rem 0 1rem;

    & button {
        flex: 1;
    }
}

.action {
    position: sticky;
    top: calc(100% - 4rem);
    width: 100%;
}

.cast {
    margin-top: -2rem;
}

.footer {
    padding-bottom: 4rem;
    margin-bottom: 0;
}
