.buttons {
    display: flex;
    margin: 0.3rem 0 1rem;

    & button {
        flex: 1;
    }
}

.action {
    position: sticky;
    top: calc(100% - 4rem);
    z-index: 1;
    display: block;
    inline-size: 100%;
}

.cast {
    margin-block-start: -2rem;
}

.footer {
    margin: 0 -1rem -1rem;
    padding: 1rem 1rem 5rem;
    background: var(--tui-background-base-alt);
}
