fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.t-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.25rem;
    inline-size: fit-content;
    cursor: pointer;
}
