<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="interactive && !nativeDropdownMode"
    [content]="datalist || ''"
    [(open)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <tui-input-tag
        #inputTag
        automation-id="tui-multi-select__input"
        class="t-input"
        [nativeId]="nativeId"
        [tuiTextfieldIcon]="arrow ? icon : ''"
        [disabled]="disabled"
        [disabledItemHandler]="disabledItemHandler | tuiMapper : disabledItemHandlerWrapper"
        [readOnly]="readOnly"
        [inputHidden]="!editable"
        [pseudoHover]="pseudoHover"
        [placeholder]="placeholder"
        [pseudoFocus]="computedFocused"
        [pseudoInvalid]="computedInvalid"
        [editable]="false"
        [expandable]="expandable"
        [removable]="!nativeDropdownMode"
        [search]="searchOrSpace"
        [tagValidator]="tagValidator | tuiMapper : disabledItemHandlerWrapper"
        [rows]="rows"
        [ngModel]="computedValue | tuiMapper : valueMapper : stringify"
        (ngModelChange)="onInput($event)"
        (searchChange)="onSearch($event)"
        (keydown.space)="onSpace($event)"
        (keydown.enter)="onEnter($event)"
        (click.prevent)="onClick(inputTag)"
    >
        <ng-content></ng-content>
        <ng-template #select>
            <ng-content
                *ngIf="isMobile"
                select="select"
            ></ng-content>
        </ng-template>

        <ng-container
            *ngTemplateOutlet="select"
            ngProjectAs="select"
        ></ng-container>
    </tui-input-tag>

    <div
        class="t-wrapper"
        [class.t-wrapper_disabled]="disabled"
    >
        <div
            *ngIf="computedGroup"
            class="t-group"
            [class.t-group_fullsize]="inputTag.labelOutside"
        >
            <ng-container *polymorpheusOutlet="valueContent as text; context: {$implicit: value}">
                {{ text }}
            </ng-container>
        </div>

        <ng-template #icon>
            <div
                tuiWrapper
                appearance="icon"
                automation-id="tui-multi-select__arrow"
                tuiPreventDefault="mousedown"
                class="t-arrow"
                [class.t-arrow_native-dropdown]="nativeDropdownMode"
            >
                <ng-container *polymorpheusOutlet="arrow as text">
                    {{ text }}
                </ng-container>
            </div>
        </ng-template>
    </div>
</tui-hosted-dropdown>
