@import 'taiga-ui-local';

:host {
    position: relative;
    display: block;
    border-radius: var(--tui-radius-m);

    &._disabled {
        pointer-events: none;
    }
}

.t-hosted {
    display: block;
    border-radius: inherit;
}

.t-input {
    border-radius: inherit;

    :host:not(._editable):not(._readonly) & {
        cursor: pointer;
    }
}

.t-wrapper {
    .fullsize();
    display: flex;
    pointer-events: none;
    justify-content: flex-end;

    &_disabled {
        opacity: var(--tui-disabled-opacity);
    }

    :host[data-size='s'] & {
        height: var(--tui-height-s);
    }

    :host[data-size='m'] & {
        height: var(--tui-height-m);
    }

    :host[data-size='l'] & {
        height: var(--tui-height-l);
    }
}

.t-group {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1.6875rem 0 0.5625rem 1rem;
    overflow: hidden;

    &_fullsize {
        padding-top: 0.0625rem;
        padding-bottom: 0;

        :host[data-size='m'] && {
            padding-top: 0;
        }
    }

    :host[data-size='m'] & {
        padding: 1.1875rem 0 0 0.75rem;
        font-size: 0.8125rem;
    }
}

.t-arrow {
    .transition(transform);
    .icon-button();
    width: 1.5rem;
    height: auto;
    pointer-events: auto;
    cursor: pointer;
}
