@import 'taiga-ui-local';

:host {
    position: relative;
    display: block;
    border-radius: var(--tui-radius-m);

    &._disabled {
        pointer-events: none;
    }
}

.t-hosted {
    display: block;
    border-radius: inherit;
}

.t-input {
    border-radius: inherit;

    :host:not(._editable):not(._readonly) & {
        cursor: pointer;
    }
}

.t-content {
    .fullsize(absolute, inset);
    .text-overflow();
    top: 44%;
    pointer-events: none;
    box-sizing: border-box;
    font: var(--tui-font-text-s);

    :host[data-size='s'] & {
        top: 0;
        line-height: var(--tui-height-s);
    }

    :host[data-size='m'] & {
        line-height: calc(var(--tui-height-m) / 2);
    }

    :host[data-size='l'] & {
        font: var(--tui-font-text-m);
        line-height: calc(var(--tui-height-l) / 2);
    }

    &_fullsize {
        top: 0;

        :host[data-size='m'] & {
            line-height: var(--tui-height-m);
        }

        :host[data-size='l'] & {
            line-height: var(--tui-height-l);
        }
    }
}

.t-arrow {
    pointer-events: auto;
    cursor: pointer;

    &_native-dropdown {
        pointer-events: none;
    }
}
