<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="interactive && !nativeDropdownMode"
    [content]="datalist || ''"
    [(open)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <tui-input-tag
        #inputTag
        automation-id="tui-multi-select__input"
        class="t-input"
        [disabled]="disabled"
        [disabledItemHandler]="disabledItemHandler | tuiMapper: disabledItemHandlerWrapper"
        [editable]="false"
        [expandable]="expandable"
        [inputHidden]="!editable"
        [nativeId]="nativeId"
        [ngModel]="computedValue | tuiMapper: valueMapper : stringify"
        [placeholder]="placeholder"
        [pseudoFocus]="computedFocused"
        [pseudoHover]="pseudoHover"
        [pseudoInvalid]="computedInvalid"
        [readOnly]="readOnly"
        [removable]="!nativeDropdownMode"
        [rows]="rows"
        [search]="searchOrSpace"
        [tagValidator]="tagValidator | tuiMapper: disabledItemHandlerWrapper"
        [tuiTextfieldIcon]="arrow ? icon : ''"
        (click.prevent)="onClick(inputTag)"
        (keydown.enter)="onEnter($event)"
        (keydown.space)="onSpace($event)"
        (ngModelChange)="onInput($event)"
        (searchChange)="onSearch($event)"
    >
        <ng-content></ng-content>
        <ng-template #select>
            <ng-content
                *ngIf="isMobile"
                select="select"
            ></ng-content>
        </ng-template>

        <ng-container
            *ngTemplateOutlet="select"
            ngProjectAs="select"
        ></ng-container>

        <div
            *ngIf="computedGroup"
            ngProjectAs="tuiContent"
            class="t-content"
            [class.t-content_fullsize]="inputTag.labelOutside"
        >
            <span
                *polymorpheusOutlet="valueContent as text; context: {$implicit: value}"
                class="t-primitive"
            >
                {{ text }}
            </span>
        </div>
    </tui-input-tag>

    <ng-template #icon>
        <div
            appearance="icon"
            automation-id="tui-multi-select__arrow"
            tuiPreventDefault="mousedown"
            tuiWrapper
            class="t-arrow"
            [class.t-arrow_native-dropdown]="nativeDropdownMode"
        >
            <ng-container *polymorpheusOutlet="arrow as text">
                {{ text }}
            </ng-container>
        </div>
    </ng-template>
</tui-hosted-dropdown>
