<tui-doc-page
    header="Textfield"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        <p>Basic textfield component to implement more complex controls based upon it.</p>

        <tui-notification appearance="warning">
            Textfield based controls are in the process of being refactored. For now it is recommended to use old
            components from the Legacy package
        </tui-notification>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-textfield
                [filler]="filler"
                [iconEnd]="icons.iconEnd"
                [iconStart]="icons.iconStart"
                [tuiTextfieldCleaner]="textfield.cleaner"
                [tuiTextfieldSize]="textfield.size"
            >
                <label tuiLabel>I am a label</label>
                <input
                    placeholder="I am placeholder"
                    tuiTextfield
                    [disabled]="control.disabled"
                    [invalid]="control.invalid"
                    [readOnly]="control.readonly"
                    [(ngModel)]="value"
                />
                <tui-icon tuiTooltip="I am a hint" />
            </tui-textfield>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[(ngModel)]"
                tuiDocAPIItem
                type="string"
                [(value)]="value"
            >
                Value (or reactive control directives)
            </tr>
            <tr
                name="[filler]"
                tuiDocAPIItem
                type="string"
                [(value)]="filler"
            >
                Filler
            </tr>
            <tbody
                #control
                tuiDocControl
            ></tbody>
            <tbody
                #textfield
                tuiDocTextfield
            ></tbody>
            <tbody
                #icons
                tuiDocIcons
            ></tbody>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
