<tui-doc-page
    header="Textfield"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        <p>Basic textfield component to implement more complex controls based upon it.</p>

        <tui-notification appearance="warning">
            Textfield based controls are in the process of being refactored. For now it is recommended to use old
            components from the Legacy package
        </tui-notification>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
