.labels {
    display: flex;
    font: var(--tui-font-text-s);

    .label {
        flex: 2;
        text-align: center;

        &:first-child {
            flex: 1;
            text-align: left;
        }

        &:last-child {
            flex: 1;
            text-align: right;
        }
    }
}
