<ng-template #projection>
    <ng-content />
</ng-template>

@defer (on immediate) {
    <div
        #content
        class="t-content"
        [class.t-content_open]="expanded() && !transitioning()"
    >
        <ng-container *ngTemplateOutlet="projection" />
    </div>

    <div
        class="t-filler"
        [class.t-filler_open]="expanded()"
        [style.--t-height.px]="contentHeight()"
        (animationcancel)="transitioning.set(false)"
        (animationend)="transitioning.set(false)"
        (animationstart)="transitioning.set(true)"
    ></div>
} @placeholder {
    @if (expanded() || !server) {
        <ng-container *ngTemplateOutlet="projection" />
    }
}
