.t-table-expand {
    display: contents;

    tr td[tuiTd] {
        transition-property: border, margin, padding, line-height, min-height, height, block-size, font-size, opacity;
        transition-duration: calc(var(--tui-duration) + 1ms);

        & * {
            transition-property: block-size;
            transition-duration: calc(var(--tui-duration) + 1ms);
        }
    }

    &_closed {
        tr td[tuiTd] {
            min-block-size: 0;
            line-height: 0px;
            block-size: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
            border-top-width: 0;
            border-bottom-width: 0;
            font-size: 0;
            opacity: 0;

            & * {
                display: grid;
                block-size: 0;
            }
        }
    }
}
