@import '@taiga-ui/core/styles/taiga-ui-local';

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes open {
    from {
        block-size: 0;
    }

    to {
        block-size: var(--t-height);
    }
}

@keyframes close {
    from {
        block-size: var(--t-height);
    }

    to {
        block-size: 0;
    }
}

.t-table-expand {
    display: contents;

    &__content {
        display: none;

        &_open {
            display: contents;

            td {
                animation: fade-in calc(var(--tui-duration) + 1ms);
            }
        }
    }
}

.t-filler {
    animation: close calc(var(--tui-duration) + 1ms);
    animation-iteration-count: inherit;

    &_open {
        animation: open calc(var(--tui-duration) + 1ms);
        animation-iteration-count: inherit;
    }
}
