@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: start;

    /* stylelint-disable */
    &:not(._readonly) ::ng-deep input:not(:disabled) {
        cursor: pointer;
    }

    &._readonly ::ng-deep input {
        cursor: default;
    }
    /* stylelint-enable */

    :host-context(*:disabled) {
        pointer-events: none;
    }
}

.t-hosted {
    display: block;
    border-radius: inherit;
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}

.t-value {
    display: flex;
    inline-size: 100%;
    align-items: center;
}

.t-primitive-value {
    .text-overflow();
}
