<div
    tuiDropdownOpenMonitor
    class="t-hosted"
    [tuiDropdown]="datalist || ''"
    [tuiDropdownEnabled]="interactive && !nativeDropdownMode"
    [(tuiDropdownOpen)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <tui-primitive-textfield
        automation-id="tui-select__textfield"
        class="t-textfield"
        [disabled]="computedDisabled"
        [editable]="false"
        [focusable]="computedFocusable"
        [invalid]="computedInvalid"
        [nativeId]="nativeId"
        [pseudoActive]="pseudoActive"
        [pseudoFocus]="computedFocused"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldIcon]="arrow ? icon : ''"
        [value]="computedValue"
        (keydown.backspace.prevent)="onKeyDownDelete()"
        (keydown.delete.prevent)="onKeyDownDelete()"
        (valueChange)="onValueChange($any($event))"
    >
        <ng-content />
        <ng-content
            ngProjectAs="input"
            select="input"
        />

        <ng-template #select>
            <ng-content
                *ngIf="isMobile"
                select="select"
            />
        </ng-template>

        <ng-container
            *ngTemplateOutlet="select"
            ngProjectAs="select"
        />

        <div
            *ngIf="value !== null"
            automation-id="tui-select__value"
            ngProjectAs="tuiContent"
            class="t-value"
        >
            <div
                *polymorpheusOutlet="computedContent as text; context: {$implicit: value, active: computedFocused}"
                class="t-primitive-value"
                [textContent]="text"
            ></div>
        </div>
    </tui-primitive-textfield>

    <ng-template #icon>
        <div
            appearance="icon"
            tuiWrapper
            class="t-icon"
        >
            <ng-container *polymorpheusOutlet="arrow" />
        </div>
    </ng-template>
</div>
