:host {
    --t-size: 3.5rem;
    --t-radius: 0.75rem;
    display: inline-flex;
    width: var(--t-size);
    height: var(--t-size);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: var(--t-radius);
    background: var(--tui-secondary);
    color: var(--tui-text-02);

    &[data-size='xxs'] {
        --t-size: 1.5rem;
        --t-radius: 0.5rem;
        font: var(--tui-font-text-xs);
        font-weight: bold;

        .t-content {
            font: var(--tui-font-text-m);
            font-size: 0.5625rem;
        }
    }

    &[data-size='xs'] {
        --t-size: 2rem;
        --t-radius: 0.5rem;
        font: var(--tui-font-text-s);
        font-weight: bold;

        .t-content {
            font: var(--tui-font-text-xs);
            font-weight: bold;
        }
    }

    &[data-size='s'] {
        --t-size: 2.5rem;
        --t-radius: 0.75rem;
        font: var(--tui-font-text-l);
        font-weight: bold;

        .t-content {
            font: var(--tui-font-text-m);
            font-weight: bold;
        }
    }

    &[data-size='m'] {
        --t-size: 3.5rem;
        --t-radius: 0.75rem;
        font: var(--tui-font-heading-5);

        .t-content {
            font: var(--tui-font-text-l);
            font-weight: bold;
        }
    }

    &[data-size='l'] {
        --t-size: 5rem;
        --t-radius: 0.75rem;
        font: var(--tui-font-heading-3);

        .t-content {
            font: var(--tui-font-heading-4);
        }
    }

    &[data-size='xl'] {
        --t-size: 6rem;
        --t-radius: 1rem;
        font: var(--tui-font-heading-3);

        .t-content {
            font: var(--tui-font-heading-3);
        }
    }

    &[data-size='xxl'] {
        --t-size: 8rem;
        --t-radius: 1.25rem;
        font: var(--tui-font-heading-2);

        .t-content {
            font: var(--tui-font-heading-3);
        }
    }

    &._round {
        --t-radius: calc(var(--t-size) / 2);
    }

    &._img {
        background: transparent;
        line-height: 0;
        vertical-align: middle;
    }
}

.t-icon {
    width: 60%;
    height: 60%;
}

.t-img {
    width: 100%;
    height: 100%;
}

.t-content {
    max-width: 100%;
    padding: 0.25rem;
    box-sizing: border-box;
}
