<div class="zone" (tuiActiveZoneChange)="onActiveZone($event)">
    <tui-wrapper
        [appearance]="appearance"
        [readOnly]="readOnly"
        [disabled]="disabled"
        [focused]="computedFocused"
        [hovered]="computedHovered"
        [invalid]="computedInvalid"
    >
        <span
            *ngIf="hasPlaceholder"
            automation-id="tui-input-range__placeholder"
            class="placeholder placeholder_raised"
        >
            <ng-content></ng-content>
        </span>
        <div class="content">
            <span *ngIf="!showMinLabel" class="label">
                <span class="value">{{ inputValueLeft }}</span>
                <span
                    *ngIf="pluralizeMap"
                    automation-id="tui-input-range__pluralize-left"
                    class="pluralize"
                >
                    {{ value[0] | i18nPlural: pluralizeMap }}
                </span>
            </span>
            <span
                *ngIf="showMinLabel"
                automation-id="tui-input-range__min-label"
                class="label"
            >
                {{ minLabel }}
            </span>
            <span
                *ngIf="showMaxLabel"
                automation-id="tui-input-range__max-label"
                class="max"
            >
                {{ maxLabel }}
            </span>
        </div>
        <tui-range
            class="slider"
            [min]="min"
            [max]="max"
            [steps]="computedSteps"
            [segments]="segments"
            [keySteps]="keySteps"
            [pluralize]="segmentsPluralize"
            [focusable]="false"
            [disabled]="readOnly || disabled"
            [ngModel]="value"
            (ngModelChange)="onRangeValue($event)"
            (mousedown.prevent)="onMouseDown()"
        ></tui-range>
    </tui-wrapper>

    <div class="native-wrapper" (tuiHoveredChange)="onHovered($event)">
        <input
            #nativeLeft
            automation-id="tui-input-range__native-left"
            class="native"
            [disabled]="disabled"
            [readOnly]="readOnly"
            [class.native_hidden]="showMinLabel"
            [tuiInputMode]="inputMode"
            [tuiFocusable]="focusable"
            [textMask]="quantum | tuiMapper: mask:min"
            [ngModel]="computedValueLeft"
            (ngModelChange)="onInputLeft()"
            (tuiFocusedChange)="onLeftFocused($event)"
            (keydown.arrowUp)="onKeyDownArrowUpLeft($event)"
            (keydown.arrowDown)="onKeyDownArrowDownLeft($event)"
        />
        <input
            #nativeRight
            automation-id="tui-input-range__native-right"
            class="native native_right"
            [disabled]="disabled"
            [readOnly]="readOnly"
            [class.native_hidden]="showMaxLabel"
            [tuiInputMode]="inputMode"
            [tuiFocusable]="focusable"
            [textMask]="quantum | tuiMapper: mask:min"
            [ngModel]="computedValueRight"
            (ngModelChange)="onInputRight()"
            (tuiFocusedChange)="onRightFocused($event)"
            (keydown.arrowUp)="onKeyDownArrowUpRight($event)"
            (keydown.arrowDown)="onKeyDownArrowDownRight($event)"
        />
        <span
            *ngIf="pluralizeMap && !showMaxLabel"
            automation-id="tui-input-range__pluralize-right"
            class="pluralize pluralize_right"
            (mousedown)="onMouseDown()"
        >
            {{ value[1] | i18nPlural: pluralizeMap }}
        </span>
    </div>
</div>
