<div
    tuiWrapper
    class="t-wrapper"
    [appearance]="appearance"
    [disabled]="disabled"
    [focus]="computedFocused"
    [hover]="pseudoHover"
    [invalid]="computedInvalid"
    [readOnly]="readOnly"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <tui-input-number
        automation-id="tui-input-range__left-input"
        tuiTextfieldAppearance="none"
        class="t-left"
        [decimal]="decimal"
        [disabled]="computedDisabled"
        [max]="value[1]"
        [min]="min"
        [ngModel]="value[0]"
        [precision]="precision"
        [readOnly]="readOnly"
        [tuiTextfieldPostfix]="pluralize && !showLeftValueContent ? (value[0] | i18nPlural: pluralize) : ''"
        (focusedChange)="onTextInputFocused($event, false)"
        (keydown.arrowDown)="changeByStep($event, [-1, 0])"
        (keydown.arrowUp)="changeByStep($event, [1, 0])"
        (ngModelChange)="onInputLeft($event)"
    >
        <ng-content></ng-content>
        <div
            *ngIf="showLeftValueContent"
            ngProjectAs="tuiContent"
        >
            <ng-container *polymorpheusOutlet="leftValueContent as text; context: {$implicit: value[0]}">
                {{ text }}
            </ng-container>
        </div>
    </tui-input-number>

    <tui-input-number
        automation-id="tui-input-range__right-input"
        tuiTextfieldAppearance="none"
        class="t-right"
        [decimal]="decimal"
        [disabled]="computedDisabled"
        [max]="max"
        [min]="value[0]"
        [ngModel]="value[1]"
        [precision]="precision"
        [readOnly]="readOnly"
        [tuiTextfieldPostfix]="pluralize && !showRightValueContent ? (value[1] | i18nPlural: pluralize) : ''"
        (focusedChange)="onTextInputFocused($event, true)"
        (keydown.arrowDown)="changeByStep($event, [0, -1])"
        (keydown.arrowUp)="changeByStep($event, [0, 1])"
        (ngModelChange)="onInputRight($event)"
    >
        <div
            *ngIf="showRightValueContent"
            ngProjectAs="tuiContent"
        >
            <ng-container *polymorpheusOutlet="rightValueContent as text; context: {$implicit: value[1]}">
                {{ text }}
            </ng-container>
        </div>
    </tui-input-number>

    <tui-range
        class="t-range"
        [disabled]="readOnly || disabled"
        [focusable]="false"
        [keySteps]="computeKeySteps(keySteps, min, max)"
        [max]="max"
        [min]="min"
        [ngModel]="value"
        [segments]="segments"
        [step]="step"
        (activeThumbChange)="onActiveThumbChange($event)"
        (ngModelChange)="onRangeValue($event)"
        (tuiPressedChange)="focusToTextInput()"
    ></tui-range>
</div>
