.table {
    inline-size: 100%;
}

.filters {
    display: flex;
}

.input {
    flex: 1;
}

.columns {
    inline-size: 10.625rem;
}

.match {
    background: var(--tui-service-selection-background);
}
