.box {
    width: 200px;
    height: 200px;
    background-color: var(--tui-primary);
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none;

    &.left {
        background-color: var(--tui-support-12);
    }

    &.right {
        background-color: var(--tui-support-03);
    }

    &.top {
        background-color: var(--tui-support-08);
    }

    &.bottom {
        background-color: var(--tui-support-10);
    }
}
