@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}

.control {
    flex: 1;
    min-inline-size: 17rem;
}

.slider-ticks-labels {
    .tui-slider-ticks-labels();

    margin-top: 0.25rem;
}
