<tui-doc-page
    header="DatePicker"
    package="EXPERIMENTAL"
    type="components"
>
    <ng-template pageTab>
        <div
            appearance="warning"
            tuiNotification
        >
            <div tuiTitle>
                This is a work in progress
                <div tuiSubtitle>The APIs might change in the future, use with caution</div>
            </div>
        </div>

        @for (example of ['Basic', 'Labels', 'Accessibility', 'Customization', 'Multiple']; track example) {
            <tui-doc-example
                [component]="$index + 1 | tuiComponent"
                [content]="$index + 1 | tuiExample"
                [description]="description"
                [heading]="example"
            />
            <ng-template #description>
                @switch ($index) {
                    @case (0) {
                        Date picker can be used together with date controls.
                    }
                    @case (1) {
                        You can customize content of date picker cells, with built-in extended spacing when
                        <code>Title</code>
                        is used.
                    }
                    @case (2) {
                        When attacked to a non-input, for example,
                        <a
                            tuiLink
                            [routerLink]="routes.ButtonSelect"
                        >
                            ButtonSelect
                        </a>
                        , a hidden input is added that gets focused when user presses arrow down .
                    }
                    @case (3) {
                        Adding hint, different colors and week numbers.
                    }
                    @case (4) {
                        You can display 1-3 months at the same time.
                    }
                }
            </ng-template>
        }
    </ng-template>
    <ng-template pageTab>
        <tui-doc-demo>
            <tui-date-picker
                [disabledItemHandler]="disabledItemHandler"
                [max]="max"
                [min]="min"
                [showAdjacent]="showAdjacent"
                [showWeek]="showWeek"
                [(month)]="month"
                [(view)]="view"
            />
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[(month)]"
                tuiDocAPIItem
                type="TuiMonth"
                [items]="months"
                [(value)]="month"
            >
                current month
            </tr>
            <tr
                name="[(view)]"
                tuiDocAPIItem
                type="'day' | 'month' | 'year'"
                [items]="views"
                [(value)]="view"
            >
                current view
            </tr>
            <tr
                name="[(value)]"
                tuiDocAPIItem
                type="T | null"
            >
                value, depending on
                <code>mode</code>
                a single day, array or a range
            </tr>
            <tr
                name="[mode]"
                tuiDocAPIItem
                type="'single' | 'multi' | 'range'"
            >
                type of value for picking
            </tr>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="TuiDay | null"
                [items]="maxVariants"
                [(value)]="max"
            >
                maximal date to choose
            </tr>
            <tr
                name="[min]"
                tuiDocAPIItem
                type="TuiDay | null"
                [items]="minVariants"
                [(value)]="min"
            >
                minimum date to choose
            </tr>
            <tr
                name="[showAdjacent]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="showAdjacent"
            >
                display dates from adjacent months
            </tr>
            <tr
                name="[showWeek]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="showWeek"
            >
                display week number on each row
            </tr>
            <tr
                name="[disabledItemHandler]"
                tuiDocAPIItem
                type="TuiBooleanHandler<TuiDay>"
                [items]="disabledItemHandlerVariants"
                [(value)]="disabledItemHandler"
            >
                a handler that gets a date and returns true if it is disabled.
                <strong>Must be a pure function</strong>
            </tr>
            <tr
                name="[dayType]"
                tuiDocAPIItem
                type="TuiStringHandler<TuiDay>"
            >
                a handler to assign
                <code>data-type</code>
                attribute on day cell for custom styling.
                <strong>Must be a pure function</strong>
            </tr>
            <tr
                name="[contentDay]"
                tuiDocAPIItem
                type="PolymorpheusContent<TuiContext<TuiDay>>"
            >
                custom template for day cell
            </tr>
            <tr
                name="[contentMonth]"
                tuiDocAPIItem
                type="PolymorpheusContent<TuiContext<TuiMonth>>"
            >
                custom template for month cell
            </tr>
            <tr
                name="[contentYear]"
                tuiDocAPIItem
                type="PolymorpheusContent<TuiContext<number>>"
            >
                custom template for year cell
            </tr>
        </table>
    </ng-template>
</tui-doc-page>
