<tui-doc-page header="Button" package="CORE" type="components">
    <ng-template pageTab>
        <p i18n>
            <code>TuiButtonModule</code> is a module with components
            <code>tuiButton</code>, <code>tuiIconButton</code> are components to
            use them with native <code>button</code> and
            <code>a</code> elements.
        </p>

        <tui-doc-example
            id="usage"
            i18n-heading
            heading="Usage"
            [content]="example1"
        >
            <tui-button-example-1></tui-button-example-1>
            <tui-notification i18n>
                Link cannot be <code>disabled</code>. If you want to make an
                unactive link, remove <code>href</code> attribute or send an
                empty string into <code>routerLink</code>. To prevent keyboard
                focus when <code>routerLink</code>, use
                <code>[tuiFocusable]="false"</code> directive
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="appearance"
            i18n-heading
            heading="Modes"
            [content]="example2"
        >
            <tui-button-example-2></tui-button-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="dropdown"
            i18n-heading
            heading="Rotating"
            [content]="example3"
        >
            <tui-button-example-3></tui-button-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            i18n-heading
            heading="Custom theme"
            [content]="example4"
        >
            <tui-button-example-4></tui-button-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <p>
                <button
                    *ngIf="iconButton; else button"
                    tuiIconButton
                    type="button"
                    [appearance]="appearance"
                    [disabled]="disabled"
                    [icon]="icon"
                    [shape]="shape"
                    [showLoader]="showLoader"
                    [size]="size"
                ></button>
                <ng-template #button>
                    <button
                        tuiButton
                        type="button"
                        class="tui-space_right-4"
                        [appearance]="appearance"
                        [disabled]="disabled"
                        [icon]="icon"
                        [iconRight]="iconRight"
                        [shape]="shape"
                        [showLoader]="showLoader"
                        [size]="size"
                    >
                        Content
                    </button>
                </ng-template>
            </p>
            tuiButton
            <tui-toggle
                class="tui-space_horizontal-2"
                [singleColor]="true"
                [(ngModel)]="iconButton"
            ></tui-toggle>
            tuiIconButton
        </tui-doc-demo>
        <ng-template #template>
            <tui-card
                class="card"
                cardNumber="1234"
                paymentSystem="maestro"
                size="s"
            ></tui-card>
        </ng-template>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="appearance"
                documentationPropertyMode="input"
                documentationPropertyType="TuiAppearance | string"
                [documentationPropertyValues]="appearanceVariants"
                [(documentationPropertyValue)]="appearance"
            >
                Appearance mode
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="disabled"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                disabled state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="icon"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="getContentVariants(template)"
                [(documentationPropertyValue)]="icon"
            >
                Left content
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="iconRight"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="getContentVariants(template)"
                [(documentationPropertyValue)]="iconRight"
            >
                Right content
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="shape"
                documentationPropertyMode="input"
                documentationPropertyType="TuiButtonShape | null"
                [documentationPropertyValues]="shapeVariants"
                [(documentationPropertyValue)]="shape"
            >
                Button shape
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="showLoader"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showLoader"
            >
                Adds loader inside
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeXS | TuiSizeXL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiButtonModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
