<tui-doc-page
    header="Button"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        New version for Button component following updated design specs.

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample: 'html,ts'"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <button
                tuiButton
                [appearance]="appearance"
                [iconLeft]="iconLeft"
                [iconRight]="iconRight"
                [loading]="loading"
                [size]="size"
            >
                Button
            </button>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="appearance"
                documentationPropertyType="string"
                [documentationPropertyValues]="appearances"
                [(documentationPropertyValue)]="appearance"
            >
                Appearance
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="iconLeft"
                documentationPropertyType="string"
                [documentationPropertyValues]="icons"
                [(documentationPropertyValue)]="iconLeft"
            >
                Icon on the left side
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="iconRight"
                documentationPropertyType="string"
                [documentationPropertyValues]="icons"
                [(documentationPropertyValue)]="iconRight"
            >
                Icon on the right side
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="loading"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="loading"
            >
                Loading indicator
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeXS | TuiSizeL"
                [documentationPropertyValues]="sizes"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
