.accordion {
    inline-size: 20rem;
    color: var(--tui-text-secondary);

    [tuiAccordion] {
        font: var(--tui-typography-heading-h6);
        padding: 0;
    }

    tui-expand {
        box-shadow: none;
        padding: 0;
    }

    [tuiCell] {
        margin-inline-start: -1rem;
    }
}
