<tui-doc-page
    header="InputPhone"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>
            <code>InputPhone</code>
            allows to input a phone number
        </p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="autocomplete"
            description="By number and by name"
            heading="With autocomplete"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                >
                    <label tuiLabel>Type a phone number</label>

                    <input
                        tuiInputPhone
                        [countryCode]="countryCode"
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [phoneMask]="phoneMaskAfterCountryCode"
                        [readOnly]="controlDoc.readonly"
                        [tuiDisabled]="controlDoc.disabled"
                    />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[countryCode]"
                tuiDocAPIItem
                type="string"
                [items]="countryCodes"
                [(value)]="countryCode"
            >
                Country code
            </tr>

            <tr
                name="[phoneMask]"
                tuiDocAPIItem
                type="string"
                [(value)]="postfix"
            >
                Text mask after country code. You can use # , - and spaces as a template symbol
            </tr>

            <tbody
                #textfieldDoc
                tuiDocTextfield
            ></tbody>

            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
