@use 'taiga-ui-local' as *;

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: -10px 0;
}

.avatar {
    margin-left: 12px;
}

.name,
.phone {
    margin: 0;
}

.phone {
    //@include text-body-s();
    color: var(--tui-text-03);
}
