<tui-doc-page header="InputPhone" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n><code>InputPhone</code> allows to input a phone number</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-input-phone-example-1></tui-input-phone-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="validated"
            i18n-heading
            heading="With length validator"
            [content]="example2"
        >
            <tui-input-phone-example-2></tui-input-phone-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="autocomplete"
            i18n-heading
            i18n-description
            heading="With autocomplete"
            description="By number and by name"
            [content]="example3"
        >
            <tui-input-phone-example-3></tui-input-phone-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-phone
                    [formControl]="control"
                    [focusable]="focusable"
                    [readOnly]="readOnly"
                    [tuiTextfieldAutocomplete]="autocomplete"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldCustomContent]="customContent"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [countryCode]="countryCode"
                    [phoneMaskAfterCountryCode]="phoneMaskAfterCountryCode"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [tuiDropdownAlign]="dropdownAlign"
                    [tuiDropdownDirection]="dropdownDirection"
                    [tuiDropdownLimitWidth]="dropdownLimitWidth"
                    [tuiDropdownMinHeight]="dropdownMinHeight"
                    [tuiDropdownMaxHeight]="dropdownMaxHeight"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintMode]="hintMode"
                >
                    Type a phone number
                </tui-input-phone>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="countryCode"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="countryCodes"
                [(documentationPropertyValue)]="countryCode"
            >
                Country code
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="phoneMaskAfterCountryCode"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="phoneMasksAfterCountryCode"
                [(documentationPropertyValue)]="phoneMaskAfterCountryCode"
            >
                Text mask after country code. You can use <code>#</code>,<code
                    >-</code
                >
                and spaces as a template sumbol
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="search"
                documentationPropertyMode="input-output"
                documentationPropertyType="string"
            >
                Textfield value to subscribe on input or setting it from the
                outside
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation [dropdown]="true"></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiInputPhoneModule</code> in the same module where
                    you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
