@import 'taiga-ui-local';

.input1,
.input2,
.input3 {
    margin-right: 10px;
}

.input1 {
    border: 2px solid var(--tui-error-fill);
}

.input2 {
    background: var(--tui-base-09);
    padding: 10px;
    color: var(--tui-base-01);
    letter-spacing: 10px;
    font-size: 20px;
}

.input3 {
    font-family: monospace;
    font-weight: bold;
    background: var(--tui-base-04);
}

.input4 {
    &_empty {
        opacity: 0.3;
    }
}
