<tui-doc-page
    header="Notification"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        An inline message with a type (info, success, warning, error) that does not interrupt user actions

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-notification
                [status]="status"
                (close)="documentationPropertyClose.emitEvent($event)"
            >
                A short simple informative message
            </tui-notification>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="status"
                documentationPropertyType="TuiNotification"
                [documentationPropertyValues]="statusVariants"
                [(documentationPropertyValue)]="status"
            >
                Status changes color of notification
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="icon"
                documentationPropertyType="PolymorpheusContent"
            >
                Icon content. Specify
                <code>null</code>
                to hide icon.
            </ng-template>
            <ng-template
                #documentationPropertyClose="documentationProperty"
                documentationPropertyMode="output"
                documentationPropertyName="close"
                documentationPropertyType="void"
            >
                Emits click on close cross. When subscribed to, close button appears.
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
