<tui-doc-page header="Notification" package="CORE" type="components">
    <ng-template pageTab>
        <p i18n>
            An inline message with a type (info, success, warning, error) that
            does not interrupt user actions
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-notification-example-1></tui-notification-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-notification
                [hasIcon]="hasIcon"
                [status]="status"
                (close)="onClose()"
            >
                A short simple informative message
            </tui-notification>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="hasIcon"
                documentationPropertyType="boolean"
                documentationPropertyMode="input"
                [(documentationPropertyValue)]="hasIcon"
            >
                A small icon with status
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="status"
                documentationPropertyMode="input"
                documentationPropertyType="TuiNotification"
                [documentationPropertyValues]="statusVariants"
                [(documentationPropertyValue)]="status"
            >
                Status changes color of notification
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="close"
                documentationPropertyMode="output"
                documentationPropertyType="void"
            >
                Emits click on close cross. When subscribed to, close button
                appears.
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiNotificationModule</code> into a module
                    where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
