<tui-doc-page
    header="Notification"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        <p>An inline message with a type (info, success, warning, error) that does not interrupt user actions</p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="example1"
        >
            <tui-notification-example-1></tui-notification-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="options"
            heading="Options"
            [content]="example2"
        >
            <tui-notification-example-2></tui-notification-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [content]="example3"
        >
            <tui-notification-example-3></tui-notification-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-notification
                [hasIcon]="hasIcon"
                [status]="status"
                (close)="documentationPropertyClose.emitEvent($event)"
            >
                A short simple informative message
            </tui-notification>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="hasIcon"
                documentationPropertyType="boolean"
                [documentationPropertyDeprecated]="true"
                [(documentationPropertyValue)]="hasIcon"
            >
                A small icon with status. Use
                <code>icon</code>
                input instead
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="status"
                documentationPropertyType="TuiNotification"
                [documentationPropertyValues]="statusVariants"
                [(documentationPropertyValue)]="status"
            >
                Status changes color of notification
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="icon"
                documentationPropertyType="PolymorpheusContent"
            >
                Icon content. Specify
                <code>null</code>
                to hide icon.
            </ng-template>
            <ng-template
                #documentationPropertyClose="documentationProperty"
                documentationPropertyMode="output"
                documentationPropertyName="close"
                documentationPropertyType="void"
            >
                Emits click on close cross. When subscribed to, close button appears.
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import
                    <code>TuiNotificationModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>

            <li>
                <p>
                    Optionally use the
                    <code>TUI_NOTIFICATION_OPTIONS</code>
                    injection token to override the default options.
                </p>

                <tui-doc-code
                    filename="myModule.module.ts"
                    [code]="exampleOptions"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
