.dark {
    width: 300px;
    padding: 10px 20px 20px;
    background: #454e58;
    border-radius: 4px;
}

.light {
    padding: 10px 20px;
    background: var(--tui-base-01);
    border-radius: 4px;
}
