<tui-doc-page
    deprecated
    header="InputTag"
    package="LEGACY"
    type="components"
>
    <ng-template pageTab>
        <tui-notification appearance="negative">
            This version of the component is deprecated and will be removed in the next major version. Use
            <a
                tuiLink
                [routerLink]="routes.InputChip"
            >
                <strong>InputChip</strong>
            </a>
            instead!
        </tui-notification>

        <div class="tui-space_bottom-3">
            <code>InputTag</code>
            allows to input several tags with autocomplete and list in dropdown.
        </div>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="async"
            heading="Async items loading"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="sizes"
            heading="sizes"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="validation"
            heading="Custom validation"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="rtl"
            heading="Direction: RTL"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
        />

        <tui-doc-example
            id="separator"
            heading="Custom separator"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
        />

        <tui-doc-example
            id="no-spaces-inside-tags"
            heading="No spaces inside tags"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample"
            [description]="forbidSpacesDescription"
        >
            <ng-template #forbidSpacesDescription>
                Use power of RegExp to forbid spaces inside tags via property
                <code>[separator]</code>
                .
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="expandable"
            heading="expandable"
            [component]="8 | tuiComponent"
            [content]="8 | tuiExample"
        >
            <div class="tui-space_bottom-3">
                You can limit the number of visible rows with
                <code>rows</code>
                input. Set
                <code>rows</code>
                to 1 if you want single-line input with horizontal scrolling.
            </div>
        </tui-doc-example>

        <tui-doc-example
            id="mask"
            heading="Mask"
            [component]="9 | tuiComponent"
            [content]="9 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-tag
                    [autoColor]="autoColor"
                    [disabledItemHandler]="disabledItemHandler"
                    [editable]="editable"
                    [focusable]="focusable"
                    [formControl]="control"
                    [inputHidden]="inputHidden"
                    [maxLength]="maxLength"
                    [placeholder]="exampleText"
                    [pseudoActive]="pseudoPressed"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [rows]="rows"
                    [separator]="separator"
                    [style.text-align]="textAlign"
                    [tagValidator]="tagValidator"
                    [tuiDropdownAlign]="dropdownAlign"
                    [tuiDropdownDirection]="dropdownDirection"
                    [tuiDropdownLimitWidth]="dropdownLimitWidth"
                    [tuiDropdownMaxHeight]="dropdownMaxHeight"
                    [tuiDropdownMinHeight]="dropdownMinHeight"
                    [tuiDropdownOffset]="dropdownOffset"
                    [tuiDropdownOpen]="!!(dropdownOpen | async)"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldIcon]="icon"
                    [tuiTextfieldIconLeft]="iconStart"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [uniqueTags]="uniqueTags"
                    [(search)]="search"
                    (tuiDropdownOpenChange)="dropdownOpen.next($event)"
                >
                    Please enter Pythons' names
                </tui-input-tag>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[disabled]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </tr>
            <tr
                name="[(search)]"
                tuiDocAPIItem
                type="string | null"
                [(value)]="search"
            >
                Textfield value to subscribe on input or setting it from the outside (emits
                <code>null</code>
                when item from list selected)
            </tr>
            <tr
                name="[maxLength]"
                tuiDocAPIItem
                type="number"
                [(value)]="maxLength"
            >
                Max length of tag
            </tr>
            <tr
                name="[disabledItemHandler]"
                tuiDocAPIItem
                type="TuiBooleanHandler<string>"
                [items]="disabledItemHandlerVariants"
                [(value)]="disabledItemHandler"
            >
                Handler for deactivation some tags
            </tr>
            <tr
                name="[placeholder]"
                tuiDocAPIItem
                type="string"
                [(value)]="exampleText"
            >
                Placeholder
            </tr>
            <tr
                name="[uniqueTags]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="uniqueTags"
            >
                Ability to enter unique or non-unique tags
            </tr>
            <tr
                name="[editable]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="editable"
            >
                Tags are editable
            </tr>
            <tr
                name="[separator]"
                tuiDocAPIItem
                type="string | RegExp"
                [items]="separatorVariants"
                [(value)]="separator"
            >
                String or RegExp to separate tags
            </tr>
            <tr
                name="[rows]"
                tuiDocAPIItem
                type="number"
                [(value)]="rows"
            >
                A number of visible rows
            </tr>
            <tr
                name="[inputHidden]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="inputHidden"
            >
                Hide input field. For example, to prevent adding new tags
            </tr>
            <tr
                name="[tagValidator]"
                tuiDocAPIItem
                type="TuiBooleanHandler<string>"
                [items]="tagValidatorVariants"
                [(value)]="tagValidator"
            >
                A function that checks that tag is valid
            </tr>
            <tr
                name="[autoColor]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="autoColor"
            >
                Auto color for tags (
                <code>autoColor = true</code>
                does not work together with
                <code>labelOutside ==== false</code>
                : use only outside labels)
            </tr>
            <tr
                name="[tuiTextfieldIcon]"
                tuiDocAPIItem
                type="PolymorpheusContent"
                [items]="iconVariants"
                [(value)]="icon"
            >
                Icon content. If content is a string, it is used as stringified svg.
            </tr>
        </table>
        <inherited-documentation [dropdown]="true" />
        <h3>CSS customization</h3>
        <table tuiDocAPI>
            <tr
                name="[style.text-align]"
                tuiDocAPIItem
                type="string"
                [items]="textAlignVariants"
                [(value)]="textAlign"
            >
                Custom align content by text-align
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
