<tui-doc-page header="LineClamp" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            Component cuts overflowed text with "..." and shows it by hover
        </p>

        <tui-doc-example
            id="basic"
            i18n-heading
            heading="Styles change"
            [content]="example1"
        >
            <tui-line-clamp-example-1></tui-line-clamp-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="expand"
            i18n-heading
            heading="Expanding"
            [content]="example2"
        >
            <tui-line-clamp-example-2></tui-line-clamp-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-line-clamp
                [content]="content"
                [linesLimit]="linesLimit"
                [lineHeight]="lineHeight"
            ></tui-line-clamp>
            <ng-template #content>
                Lorem ipsum<br />
                Gaudeamus igitur<br />
                <strong>Carpe diem</strong><br />
                Veni, vidi, vici
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="content"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
            >
                Content
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="lineHeight"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="lineHeight"
            >
                Height of single line. It can be computed automatically but you
                can optimize the component setting it by yourselves and
                <strong>to prevent reflow</strong>.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="linesLimit"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="linesLimit"
            >
                Number of visible lines
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiLineClampModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
