@import 'taiga-ui-local';

:host {
    .clearbtn();
    .transition(background-color);
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    background-color: var(--tui-base-01);
    min-height: var(--tui-height-l);
    border-radius: var(--tui-radius-l);
    text-decoration: none;

    & > * {
        min-width: 0;
    }

    &[data-platform='web'][data-size='m'] {
        min-height: var(--tui-height-m);
        border-radius: var(--tui-radius-m);
        padding: 0.375rem 1rem;
    }

    &[data-platform='web'][data-size='s'] {
        min-height: var(--tui-height-s);
        border-radius: var(--tui-radius-s);
        padding: 0.125rem 1rem;
    }

    &:hover,
    &._active,
    &:focus-within {
        background-color: var(--tui-secondary);
    }
}

:host(button, a) {
    cursor: pointer;
    width: 100%;
}

.t-main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    column-gap: 1rem;

    & > * {
        min-width: 0;
    }
}

.t-icon {
    display: flex;
    align-items: center;

    &:not(:empty) {
        margin-right: 1rem;
    }
}

.t-left {
    display: flex;
    flex-direction: column;
    flex-shrink: var(--tui-left-shrink, 1);
    text-align: start;

    & > * {
        min-width: 0;
    }
}

.t-right {
    display: flex;
    flex-direction: column;
    flex-shrink: var(--tui-right-shrink, 1);

    & > * {
        min-width: 0;
    }
}

.t-title {
    font: var(--tui-font-text-l-2);
    color: var(--tui-text-01);

    :host[data-platform='web'][data-size='l'] & {
        font: var(--tui-font-text-m-2);
    }

    :host[data-platform='web'][data-size='m'] &,
    :host[data-platform='web'][data-size='s'] & {
        font: var(--tui-font-text-s-2);
    }
}

.t-description {
    color: var(--tui-text-02);
    font: var(--tui-font-text-s-2);

    :host[data-platform='web'][data-size='m'] &,
    :host[data-platform='web'][data-size='s'] & {
        font: var(--tui-font-text-xs);
    }
}

.t-title,
.t-description {
    display: flex;
    flex: 1;

    &:empty {
        flex: 0;
    }
}

.t-right .t-title,
.t-right .t-description {
    justify-content: flex-end;
    text-align: end;
}
