<section class="t-left">
    <div class="t-left-addition">
        <ng-content></ng-content>
    </div>

    <div class="t-main">
        <span class="t-title">
            <ng-container *polymorpheusOutlet="title as text">
                {{ text }}
            </ng-container>
        </span>

        <span
            *ngIf="description"
            class="t-description"
        >
            <ng-container *polymorpheusOutlet="description as text">
                {{ text }}
            </ng-container>
        </span>
    </div>
</section>

<section class="t-right">
    <span class="t-title">
        <ng-container *polymorpheusOutlet="secondaryTitle as text">
            {{ text }}
        </ng-container>
    </span>

    <span
        *ngIf="secondaryDescription"
        class="t-description"
    >
        <ng-container *polymorpheusOutlet="secondaryDescription as text">
            {{ text }}
        </ng-container>
    </span>
</section>
