<div class="t-icon">
    <ng-content></ng-content>
</div>

<div class="t-main">
    <section class="t-left">
        <span class="t-title">
            <ng-content select="[tuiSlot='title']"></ng-content>
        </span>
        <span class="t-description">
            <ng-content select="[tuiSlot='description']"></ng-content>
        </span>
    </section>

    <section class="t-right">
        <span class="t-title">
            <ng-content select="[tuiSlot='secondaryTitle']"></ng-content>
        </span>
        <span class="t-description">
            <ng-content select="[tuiSlot='secondaryDescription']"></ng-content>
        </span>
    </section>
</div>
