@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .transition(border-radius);

    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    height: 1.25rem;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

.t-bar {
    content: '';
    height: 0.25rem;
    width: 1rem;
    background: var(--tui-base-09);
    pointer-events: none;

    :host-context(._ios:not(._dragged)) & {
        .transition(transform);
    }

    &:first-child {
        border-radius: 1rem 0 0 1rem;
        transform-origin: top right;
    }

    &:last-child {
        border-radius: 0 1rem 1rem 0;
        transform-origin: top left;
    }
}
