<tui-doc-page
    header="Loader"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            id="button"
            heading="Button with loader"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="inherit-color"
            heading="With inherited background color"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="overlay"
            heading="With content overlay"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="options"
            heading="Options"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="stroke-width"
            heading="Custom stroke width"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
            [description]="strokeWidthDescription"
        >
            <ng-template #strokeWidthDescription>
                Use css-variable
                <code>--tui-thickness</code>
                to customize width of the circle stroke. By default, it is 1/12 of diameter.
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <div class="example">
                <tui-loader
                    [inheritColor]="inheritColor"
                    [overlay]="overlay"
                    [showLoader]="showLoader"
                    [size]="size"
                    [textContent]="template"
                >
                    <div>
                        <b>Colonel Trautman:</b>
                        It's over Johnny. It's over!
                    </div>
                    <div>
                        <b>Rambo:</b>
                        Nothing is over! Nothing! You just don't turn it off! It wasn't my war! You asked me I didn't
                        ask you! And I did what I had to do to win, for somebody who wouldn't let us win! Then I come
                        back to the world, and I see all those maggots at the airport, protestin' me, spittin', callin'
                        me a baby killer and all kinds of vile crap! Who are they to protest me?! Huh?! Who are they?!
                        Unless they been me and been there and know what the hell they yellin' about!
                    </div>
                </tui-loader>
                <ng-template #textTemplate>
                    <div>Loading</div>
                    <div>
                        You can use a template with
                        <a
                            tuiLink
                            [routerLink]="routes.Notification"
                        >
                            HTML
                        </a>
                        here
                    </div>
                </ng-template>
            </div>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="showLoader"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showLoader"
            >
                Show/hide loader
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="inheritColor"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="inheritColor"
            >
                Inherit parent color
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="overlay"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="overlay"
            >
                Content overlay when loader is showed
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeXS | TuiSizeXL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="textContent"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="textVariants"
                [(documentationPropertyValue)]="selectedTemplate"
            >
                Custom content under loader
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
