<tui-doc-page header="Loader" package="CORE" type="components">
    <ng-template pageTab>
        <tui-doc-example
            id="button"
            i18n-heading
            heading="Button with loader"
            [content]="example1"
        >
            <tui-loader-example-1></tui-loader-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="inherit-color"
            i18n-heading
            heading="With inherited background color"
            [content]="example2"
        >
            <tui-loader-example-2></tui-loader-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="overlay"
            i18n-heading
            heading="With content overlay"
            [content]="example3"
        >
            <tui-loader-example-3></tui-loader-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <p class="example">
                <tui-loader
                    [showLoader]="showLoader"
                    [inheritColor]="inheritColor"
                    [overlay]="overlay"
                    [size]="size"
                    [textContent]="template"
                >
                    <div>
                        <b>Colonel Trautman:</b> It's over Johnny. It's over!
                    </div>
                    <div>
                        <b>Rambo:</b> Nothing is over! Nothing! You just don't
                        turn it off! It wasn't my war! You asked me I didn't ask
                        you! And I did what I had to do to win, for somebody who
                        wouldn't let us win! Then I come back to the world, and
                        I see all those maggots at the airport, protestin' me,
                        spittin', callin' me a baby killer and all kinds of vile
                        crap! Who are they to protest me?! Huh?! Who are they?!
                        Unless they been me and been there and know what the
                        hell they yellin' about!
                    </div>
                </tui-loader>
                <ng-template #textTemplate="polymorpheus" polymorpheus>
                    <div>Loading</div>
                    <div>
                        You can use a template with
                        <a routerLink="/tui-alert">HTML</a> here
                    </div>
                </ng-template>
            </p>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="showLoader"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showLoader"
            >
                Show/hide loader
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="inheritColor"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="inheritColor"
            >
                Inherit parent color
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="overlay"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="overlay"
            >
                Content overlay when loader is showed
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeXS | TuiSizeXL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="textContent"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent | null"
                [documentationPropertyValues]="textVariants"
                [(documentationPropertyValue)]="selectedTemplate"
            >
                Custom content under loader
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiLoaderModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
