<tui-doc-page
    header="Header"
    package="LAYOUT"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            id="base"
            description="Buttons/badges sizes according to the header size"
            heading="Sizes"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="accessories"
            heading="Accessories"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="interactive"
            heading="Interactive"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
