@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: absolute;
    max-inline-size: ~'min(18rem, calc(100% - 1rem))';
    padding: 0.75rem 1rem;
    background: var(--tui-background-accent-1);
    border-radius: var(--tui-radius-l);
    color: var(--tui-text-primary-on-accent-1);
    box-sizing: border-box;
    font: var(--tui-font-text-s);
    white-space: pre-line;
    overflow-wrap: break-word;
    transform-origin: var(--t-left) var(--t-top);

    --tui-background-elevation-2: var(--tui-background-elevation-3);

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiFade;
    }

    :host-context(tui-root._mobile) {
        &.tui-enter {
            animation:
                tuiFade var(--tui-duration) ease-in-out,
                tuiScale var(--tui-duration) cubic-bezier(0.34, 1.56, 0.64, 1);
        }

        &.tui-leave {
            animation:
                tuiFade var(--tui-duration) ease-in-out reverse,
                tuiScale var(--tui-duration) ease-in-out reverse;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: var(--t-top);
        left: var(--t-left);
        inline-size: 0.75rem;
        block-size: 0.5rem;
        background: inherit;
        mask-image: url('data:image/svg+xml,<svg viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg"><path d="M3.61336 1.69607L2.44882 2.96493C1.84795 3.61964 0.949361 3.99951 0.00053941 4C0.000359608 4 0.000179805 4 0 4C0.000179863 4 0.000359764 4 0.000539623 4C0.949362 4.00049 1.84795 4.38036 2.44882 5.03506L3.61336 6.30394C4.55981 7.33517 5.03303 7.85079 5.63254 7.96535C5.87433 8.01155 6.12436 8.01155 6.36616 7.96535C6.96567 7.85079 7.43889 7.33517 8.38534 6.30393L9.54988 5.03507C10.1511 4.37994 11.0505 4 12 4C11.0505 4 10.1511 3.62006 9.54988 2.96493L8.38534 1.69606C7.43889 0.664826 6.96567 0.149207 6.36616 0.0346517C6.12436 -0.0115506 5.87433 -0.0115506 5.63254 0.0346517C5.03303 0.149207 4.55981 0.664827 3.61336 1.69607Z" /></svg>');
        transform: translate(-50%, -50%) rotate(var(--t-rotate));
    }

    &._mobile {
        font: var(--tui-font-text-m);

        &::before {
            inline-size: 1.5rem;
            block-size: 1.125rem;
            mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 18"><path d="M7.22854 3.81615L4.89971 6.6711C3.69732 8.14514 1.8988 9 0 9C1.8988 9 3.69732 9.85486 4.89971 11.3289L7.22854 14.1839L7.22854 14.1839C9.12123 16.5041 10.0676 17.6643 11.2665 17.922C11.75 18.026 12.25 18.026 12.7335 17.922C13.9324 17.6643 14.8788 16.5041 16.7715 14.1839L19.1003 11.3289C20.3027 9.85486 22.1012 9 24 9C22.1012 9 20.3027 8.14514 19.1003 6.6711L16.7715 3.81614C14.8788 1.49586 13.9324 0.335716 12.7335 0.0779663C12.25 -0.0259888 11.75 -0.0259888 11.2665 0.0779663C10.0676 0.335716 9.12123 1.49586 7.22854 3.81614L7.22854 3.81615Z" /></svg>');
        }
    }

    &[data-appearance='error'] {
        background: var(--tui-status-negative);
    }

    &[data-appearance='dark'] {
        background: var(--tui-background-elevation-1);
        color: var(--tui-text-primary);
        box-shadow: var(--tui-shadow-small);
    }

    &:not([style*='top']) {
        visibility: hidden;
    }

    &._untouchable {
        pointer-events: none;
    }
}
