.tui-tab-bar-demo {
    tui-doc-example .t-demo {
        overflow: hidden;
    }

    .bar {
        inline-size: 25rem;
    }
}

.t-fixed {
    position: fixed;
    inset-block-end: 0;
    inline-size: 100%;
}
