<tui-hosted-dropdown
    #table
    tuiDropdownAlign="left"
    tuiDropdownDirection="bottom"
    [content]="tableDropdown"
>
    <button
        #tableBtn
        tuiIconButton
        type="button"
        size="s"
        icon="tuiIconTableLarge"
        appearance="icon"
        tuiHintDirection="top-left"
        [tuiHint]="insertTableText$ | async"
        [tuiHintId]="tableBtn.id"
        [tuiDescribedBy]="tableBtn.id"
        [focusable]="table.open"
    ></button>
</tui-hosted-dropdown>

<ng-template #tableDropdown>
    <tui-table-size-selector (onSelectSize)="addTable($event)"></tui-table-size-selector>
</ng-template>
