@import '@taiga-ui/core/styles/taiga-ui-local';

label[tuiInputFiles] {
    position: relative;
    display: flex;
    min-height: var(--tui-height-l);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--tui-radius-m);
    font: var(--tui-font-text-m);
    word-wrap: break-word;
    padding: 0 0.5rem;

    > :not(input) {
        position: relative;
        pointer-events: none;
    }

    input {
        .fullsize();

        color: transparent;
        cursor: pointer;

        &:disabled ~ * {
            opacity: var(--tui-disabled-opacity);
        }

        &::-webkit-file-upload-button {
            display: none;
        }

        &::file-selector-button {
            display: none;
        }
    }
}

[tuiAppearance][data-appearance='file'] {
    border-radius: inherit;
    box-sizing: border-box;
    border: 1px dashed var(--tui-text-action);

    tui-root._mobile & {
        border-style: solid;
    }

    [tuiInputFiles]._dragged & {
        background: var(--tui-background-neutral-1);
        border-color: var(--tui-text-action-hover);
    }

    .appearance-hover({
        background: var(--tui-background-neutral-1);
        border-color: var(--tui-text-action-hover);
    });

    .appearance-active({
        background: var(--tui-background-neutral-1-hover);
    });

    .appearance-disabled({
        background: transparent;
        border-color: var(--tui-text-tertiary);
    });

    .appearance-focus({
        border: 0.125rem solid var(--tui-border-focus);
    });
}
