<tui-doc-page
    header="Tree"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component to display tree-like data structure</p>

        @for (example of examples; track example) {
            <tui-doc-example
                [component]="$index + 1 | tuiComponent"
                [content]="$index + 1 | tuiExample"
                [heading]="example"
            />
        }
    </ng-template>

    <ng-template pageTab>
        <h3>TreeItem</h3>
        <table tuiDocAPI>
            <tr
                name="[tuiTreeController]"
                tuiDocAPIItem
                type="boolean"
            >
                Directive used to enable opening/closing of nodes with children.
                <code>Boolean</code>
                input is the default state.
            </tr>
        </table>

        <h3>Tree</h3>
        <table tuiDocAPI>
            <tr
                name="[childrenHandler]"
                tuiDocAPIItem
                type="TuiHandler<T, readonly T[]>"
            >
                Handler function to get children for a node
            </tr>
            <tr
                name="[content]"
                tuiDocAPIItem
                type="PolymorpheusContent<TuiTreeContext>"
            >
                Content template for tree nodes
            </tr>
            <tr
                name="[data]"
                tuiDocAPIItem
                type="T"
            >
                Data for the tree node
            </tr>
            <tr
                name="[tuiTreeController]"
                tuiDocAPIItem
                type="boolean"
            >
                Directive used to enable opening/closing of nodes with children.
                <code>Boolean</code>
                input is the default state.
            </tr>
            <tr
                name="[map]"
                tuiDocAPIItem
                type="Map<T, boolean>"
            >
                A map used with controller directive for manual programmatic toggling.
            </tr>
            <tr
                name="[trackBy]"
                tuiDocAPIItem
                type="TrackByFunction<T>"
            >
                Function used by
                <code>*ngFor</code>
                directive to render nested tree items.
            </tr>
        </table>

        <h3>Tokens</h3>
        <table tuiDocAPI>
            <tr
                name="TUI_TREE_CONTENT"
                tuiDocAPIItem
                type="PolymorpheusContent<TuiTreeItemContext>"
            >
                Provide your own component used internally to display node content (see
                <a
                    fragment="custom"
                    tuiLink
                    [routerLink]="routes.Tree"
                >
                    this example
                </a>
                )
            </tr>
            <tr
                name="TUI_TREE_CONTROLLER"
                tuiDocAPIItem
                type="TuiTreeController"
            >
                Provide your own open/closed controlling mechanism
            </tr>
            <tr
                name="TUI_TREE_ACCESSOR"
                tuiDocAPIItem
                type="TuiTreeAccessor<T>"
            >
                Provide your own tracker for value/node pairs (so you can match
                <code>TreeItem</code>
                instances to their corresponding
                <code>data: T</code>
                when using
                <code>Tree</code>
                component with custom open/closed controller)
            </tr>
        </table>
    </ng-template>
</tui-doc-page>
