@import 'taiga-ui-local';

.form {
    .createStackingContext();
}

.table {
    width: 51.5rem;
}

.row {
    position: static;
    margin-top: -0.0625rem;
}

.cell {
    padding: 0;

    &_date {
        width: 9.0625rem;
        flex: 0 0 9.0625rem;
    }

    &_color {
        width: 6.25rem;
        flex: 0 0 6.25rem;
    }

    &_quantity {
        width: 5.625rem;
        flex: 0 0 5.625rem;
        text-align: right;
    }

    &_sum {
        width: 9.375rem;
        flex: 0 0 9.375rem;
        text-align: right;
    }
}
