@import 'taiga-ui-angular-local';

.form {
    .createStackingContext();
}

.table {
    width: 824px;
}

.row {
    position: static;
    margin-top: -1px;
}

.cell {
    padding: 0;

    &_date {
        width: 145px;
        flex: 0 0 145px;
    }

    &_color {
        width: 100px;
        flex: 0 0 100px;
    }

    &_quantity {
        width: 90px;
        flex: 0 0 90px;
        text-align: right;
    }

    &_sum {
        width: 150px;
        flex: 0 0 150px;
        text-align: right;
    }
}
