<ng-container *ngIf="items?.changes | async"></ng-container>

<section
    tuiGroup
    orientation="vertical"
    class="t-files"
    [collapsed]="true"
>
    <ng-content></ng-content>
    <ng-container *ngFor="let item of items; let index = index">
        <ng-container
            *ngIf="!max || index < max"
            [ngTemplateOutlet]="item"
        ></ng-container>
    </ng-container>
    <tui-expand
        *ngIf="hasExtraItems"
        [expanded]="!hidden"
    >
        <div class="t-extra-items">
            <ng-container *ngFor="let item of items; let index = index">
                <ng-container
                    *ngIf="max && index >= max"
                    [ngTemplateOutlet]="item"
                ></ng-container>
            </ng-container>
        </div>
    </tui-expand>
    <button
        *ngIf="hasExtraItems"
        tuiButton
        appearance="outline"
        size="m"
        class="t-button"
        [class.t-button_collapsed]="hidden"
        (click)="toggle()"
    >
        {{ (hidden ? showAllText$ : hideText$) | async }}
    </button>
</section>
