@import 'taiga-ui-local';

.tool-button {
    .transition(background);

    &:hover {
        background: var(--tui-secondary-hover);
    }
}

.smiles {
    max-width: 18rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.smile {
    .clearbtn();
    .transition(background);
    flex: 1 0 21%;
    cursor: pointer;
    border-radius: var(--tui-radius-s);
    font: var(--tui-font-heading-4);
    padding: 1rem;

    &:hover {
        background: var(--tui-secondary-hover);
    }
}
