<tui-doc-page
    header="Accordion"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>An element that allows to show and hide content in sections</p>

        <p>Only one section of accordion can be opened by default</p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="example1"
        >
            <tui-accordion-example-1></tui-accordion-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            heading="with custom design"
            [content]="example2"
        >
            <tui-accordion-example-2></tui-accordion-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="single"
            heading="alone"
            [content]="example3"
        >
            <tui-accordion-example-3></tui-accordion-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="eager-and-lazy"
            heading="Eager and Lazy content"
            [content]="example4"
        >
            <tui-accordion-example-4></tui-accordion-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-accordion
                [closeOthers]="closeOthers"
                [rounded]="rounded"
            >
                <tui-accordion-item
                    [borders]="borders"
                    [disabled]="disabled"
                    [disableHover]="disableHover"
                    [noPadding]="noPadding"
                    [showArrow]="showArrow"
                    [size]="size"
                >
                    Taiga UI cdk
                    <ng-template tuiAccordionItemContent>
                        Development kit consisting of the low level tools and abstractions used to develop Taiga UI
                        Angular entities
                    </ng-template>
                </tui-accordion-item>
                <tui-accordion-item
                    [async]="async"
                    [borders]="borders"
                    [disabled]="disabled"
                    [disableHover]="disableHover"
                    [noPadding]="noPadding"
                    [open]="open"
                    [showArrow]="showArrow"
                    [size]="size"
                    (openChange)="onOpenChange($event)"
                >
                    Taiga UI core
                    <ng-template tuiAccordionItemContent>
                        <div #content>
                            Basic elements needed to develop components, directives and more using Taiga UI design
                            system
                        </div>
                    </ng-template>
                </tui-accordion-item>
            </tui-accordion>
        </tui-doc-demo>

        <tui-accordion
            class="b-full-width"
            [closeOthers]="false"
        >
            <tui-accordion-item [open]="true">
                TuiAccordionComponent
                <ng-template tuiAccordionItemContent>
                    <tui-doc-documentation>
                        <ng-template
                            documentationPropertyMode="input"
                            documentationPropertyName="closeOthers"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="closeOthers"
                        >
                            Other sections are closed when user opens one
                        </ng-template>
                        <ng-template
                            documentationPropertyMode="input"
                            documentationPropertyName="rounded"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="rounded"
                        >
                            Rounded accordion style
                        </ng-template>
                    </tui-doc-documentation>
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                TuiAccordionItemComponent
                <ng-template tuiAccordionItemContent>
                    <tui-doc-documentation>
                        <ng-template
                            documentationPropertyMode="input"
                            documentationPropertyName="async"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="async"
                        >
                            Waits for a custom event
                            <code>TUI_EXPAND_LOADED</code>
                            before opening. Content is initialized when opening starts
                        </ng-template>
                        <ng-template
                            documentationPropertyMode="input"
                            documentationPropertyName="borders"
                            documentationPropertyType="'all' | 'top-bottom' | null"
                            [documentationPropertyValues]="bordersVariants"
                            [(documentationPropertyValue)]="borders"
                        >
                            Borders variants
                        </ng-template>
                        <ng-template
                            documentationPropertyMode="input"
                            documentationPropertyName="disabled"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="disabled"
                        >
                            Disabled state for an item
                        </ng-template>
                        <ng-template
                            documentationPropertyMode="input"
                            documentationPropertyName="noPadding"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="noPadding"
                        >
                            Removes default paddings
                        </ng-template>
                        <ng-template
                            documentationPropertyMode="input"
                            documentationPropertyName="disableHover"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="disableHover"
                        >
                            Disabled header hover state
                        </ng-template>
                        <ng-template
                            documentationPropertyMode="input-output"
                            documentationPropertyName="open"
                            documentationPropertyType="boolean"
                            [documentationPropertyValue]="open"
                            (documentationPropertyValueChange)="onOpenChange($event)"
                        >
                            Open / close state of section
                        </ng-template>
                        <ng-template
                            documentationPropertyMode="input"
                            documentationPropertyName="size"
                            documentationPropertyType="TuiSizeS"
                            [documentationPropertyValues]="sizeVariants"
                            [(documentationPropertyValue)]="size"
                        >
                            Size of an accordion item
                        </ng-template>
                        <ng-template
                            documentationPropertyMode="input"
                            documentationPropertyName="showArrow"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="showArrow"
                        >
                            Show / hide an arrow
                        </ng-template>
                    </tui-doc-documentation>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                Import
                <code>TuiAccordionModule</code>
                into a module where you want to use our component

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                Add it into template:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
