<tui-doc-page header="Accordion" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>An element that allows to show and hide content in sections</p>

        <p i18n>Only one section of accordion can be opened by default</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-accordion-example-1></tui-accordion-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            i18n-heading
            heading="with custom design"
            [content]="example2"
        >
            <tui-accordion-example-2></tui-accordion-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="single"
            i18n-heading
            heading="alone"
            [content]="example3"
        >
            <tui-accordion-example-3></tui-accordion-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-accordion [closeOthers]="closeOthers" [rounded]="rounded">
                <tui-accordion-item
                    [borders]="borders"
                    [disabled]="disabled"
                    [noPadding]="noPadding"
                    [size]="size"
                    [showArrow]="showArrow"
                >
                    Taiga UI cdk
                    <ng-template tuiAccordionItemContent>
                        Development kit consisting of the low level tools and
                        abstractions used to develop Taiga UI Angular entities
                    </ng-template>
                </tui-accordion-item>
                <tui-accordion-item
                    [borders]="borders"
                    [disabled]="disabled"
                    [noPadding]="noPadding"
                    [size]="size"
                    [showArrow]="showArrow"
                    [async]="async"
                    [open]="open"
                    (openChange)="onOpenChange($event)"
                >
                    Taiga UI core
                    <ng-template tuiAccordionItemContent>
                        <div #content>
                            Basic elements needed to develop components,
                            directives and more using Taiga UI design system
                        </div>
                    </ng-template>
                </tui-accordion-item>
            </tui-accordion>
        </tui-doc-demo>

        <tui-accordion class="b-full-width" [closeOthers]="false">
            <tui-accordion-item [open]="true">
                TuiAccordionComponent
                <ng-template tuiAccordionItemContent>
                    <tui-doc-documentation>
                        <ng-template
                            i18n
                            documentationPropertyName="closeOthers"
                            documentationPropertyMode="input"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="closeOthers"
                        >
                            Other sections are closed when user opens one
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="rounded"
                            documentationPropertyMode="input"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="rounded"
                        >
                            Rounded accordion style
                        </ng-template>
                    </tui-doc-documentation>
                </ng-template>
            </tui-accordion-item>
            <tui-accordion-item>
                TuiAccordionItemComponent
                <ng-template tuiAccordionItemContent>
                    <tui-doc-documentation>
                        <ng-template
                            i18n
                            documentationPropertyName="async"
                            documentationPropertyMode="input"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="async"
                        >
                            Waits for a custom event
                            <code>TUI_EXPAND_LOADED</code> before opening.
                            Content is initialized when opening starts
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="borders"
                            documentationPropertyMode="input"
                            documentationPropertyType="TuiBorders | null"
                            [documentationPropertyValues]="bordersVariants"
                            [(documentationPropertyValue)]="borders"
                        >
                            Borders variants
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="disabled"
                            documentationPropertyMode="input"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="disabled"
                        >
                            Disabled state for an item
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="noPadding"
                            documentationPropertyMode="input"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="noPadding"
                        >
                            Removes default paddings
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="open"
                            documentationPropertyMode="input-output"
                            documentationPropertyType="boolean"
                            [documentationPropertyValue]="open"
                            (documentationPropertyValueChange)="onOpenChange($event)"
                        >
                            Open / close state of section
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="size"
                            documentationPropertyMode="input"
                            documentationPropertyType="TuiSizeS"
                            [documentationPropertyValues]="sizeVariants"
                            [(documentationPropertyValue)]="size"
                        >
                            Size of an accordion item
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="showArrow"
                            documentationPropertyMode="input"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="showArrow"
                        >
                            Show / hide an arrow
                        </ng-template>
                    </tui-doc-documentation>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li i18n>
                Import <code>TuiAccordionModule</code> into a module where you
                want to use our component

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li i18n>
                Add it into template:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
