<tui-doc-page
    header="Accordion"
    package="EXPERIMENTAL"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-accordion
                [closeOthers]="closeOthers"
                [size]="size"
            >
                <button tuiAccordion>Taiga UI cdk</button>
                <tui-expand>
                    Development kit consisting of the low level tools and abstractions used to develop Taiga UI Angular
                    entities
                </tui-expand>
                <button [(tuiAccordion)]="open">Taiga UI core</button>
                <tui-expand>
                    Basic elements needed to develop components, directives and more using Taiga UI design system
                </tui-expand>
            </tui-accordion>
        </tui-doc-demo>

        <table tuiDocAPI>
            <tr
                name="[closeOthers]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="closeOthers"
            >
                Other sections are closed when user opens one
            </tr>
            <tr
                name="[size]"
                tuiDocAPIItem
                type="TuiSizeS | TuiSizeL"
                [items]="sizeVariants"
                [(value)]="size"
            >
                Size
            </tr>
            <tr
                name="[(tuiAccordion)]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="open"
            >
                Individual item open state
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
