@import 'taiga-ui-local';
@import '../mixin.style.less';

:host {
    display: inline-block;
    margin: 0 0.3125rem;
}

.t-button {
    .preview-item();
    .transition(background);

    &:hover {
        background: rgba(159, 159, 159, 0.86);
    }
}
