<tui-doc-page
    i18n-header
    header="DropdownContext"
    package="KIT"
    type="directives"
>
    <ng-template pageTab>
        <p
            i18n
            class="description"
        >
            <code>DropdownContext</code>
            allows to show custom right click context dropdown.
        </p>
        <ng-container [ngTemplateOutlet]="tips"></ng-container>

        <tui-doc-example
            id="basic"
            i18n-heading
            heading="Basic"
            [content]="exampleBasic"
        >
            <tui-dropdown-context-example-1></tui-dropdown-context-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="contextMenu"
            i18n-heading
            heading="Context menu"
            [content]="exampleContextMenu"
        >
            <tui-dropdown-context-example-2></tui-dropdown-context-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="reportMistakeForm"
            i18n-heading
            heading="Report mistake form"
            [content]="exampleReportMistakeForm"
        >
            <tui-dropdown-context-example-3></tui-dropdown-context-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <p
                i18n
                [tuiDropdownContext]="dropdownContent"
                [tuiDropdownMinHeight]="dropdownMinHeight"
                [tuiDropdownMaxHeight]="dropdownMaxHeight"
                [tuiDropdownAlign]="dropdownAlign"
                [tuiDropdownDirection]="dropdownDirection"
                [tuiDropdownLimitWidth]="dropdownLimitWidth"
            >
                Right click on me to
                <strong>see a dropdown</strong>
            </p>
            <ng-template
                #dropdownContent
                let-close="close"
            >
                <div class="dropdown">
                    <ng-container [ngTemplateOutlet]="tips"></ng-container>

                    <button
                        tuiButton
                        type="button"
                        (click)="close()"
                    >
                        Close me
                    </button>
                </div>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="tuiDropdownContext"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
            >
                Content
            </ng-template>
        </tui-doc-documentation>
        <dropdown-controller-documentation></dropdown-controller-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiDropdownContextModule</code>
                    into a module where you want to use our directive
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>

<ng-template #tips>
    <h3 class="tips__title">Tips:</h3>
    <ol class="tips__list">
        <li>
            Use
            <strong>Arrow Up/Down</strong>
            to focus closest element.
        </li>
        <li>
            To close dropdown:
            <ul class="tui-list tui-list_small">
                <li class="tui-list__item">
                    Use
                    <strong>Esc</strong>
                </li>
                <li class="tui-list__item">
                    Make
                    <strong>mouse left click</strong>
                    outside of dropdown content
                </li>
                <li class="tui-list__item">
                    Open new dropdown via
                    <strong>mouse right click</strong>
                </li>
                <li class="tui-list__item">
                    Declare local template variable which access to property
                    <strong>close</strong>
                    of
                    <a
                        tuiLink
                        href="https://angular.io/api/common/NgTemplateOutlet#properties"
                        target="_blank"
                    >
                        template context object
                    </a>
                    and call it
                    <br />
                    (for example,
                    <code>&lt;ng-template let-close="close"&gt;&lt;/ng-template&gt;</code>
                    ).
                </li>
            </ul>
        </li>
        <li>
            To get
            <a
                tuiLink
                routerLink="/directives/active-zone"
                target="_blank"
            >
                ActiveZone
            </a>
            of opened dropdown you should declare local template variable which access to property
            <strong>activeZone</strong>
            of template context object
            <br />
            (for example,
            <code>&lt;ng-template let-activeZone="activeZone"&gt;&lt;/ng-template&gt;</code>
            ).
        </li>
    </ol>
</ng-template>
