:host {
    display: flex;
    min-width: 2.25rem;
    min-height: 2.25rem;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    box-sizing: border-box;
    border-radius: 2rem;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.875rem;
    white-space: nowrap;
    max-width: 11.25rem;
}
