<tui-primitive-textfield
    class="textfield"
    [tuiTextfieldIcon]="!disabled ? iconContent : ''"
    [pseudoFocus]="pseudoFocus"
    [pseudoHover]="pseudoHover"
    [pseudoActive]="pseudoActive"
    [invalid]="computedInvalid"
    [focusable]="focusable"
    [nativeId]="nativeId"
    [disabled]="computedDisabled"
    [readOnly]="readOnly"
    [value]="value"
    (valueChange)="onValueChange($event)"
    (focusedChange)="onFocused($event)"
>
    <ng-content></ng-content>
    <ng-content
        select="input"
        ngProjectAs="input"
    ></ng-content>
</tui-primitive-textfield>

<ng-template #iconContent>
    <tui-svg
        automation-id="tui-copy__icon"
        tuiHintId="not_required"
        class="icon"
        [tuiHint]="hint"
        [tuiHintDirection]="messageDirection"
        [tuiHintMode]="messageMode"
        [src]="icon"
        (click)="copy()"
    ></tui-svg>
</ng-template>

<ng-template #hint>
    <div
        polymorpheus-outlet
        [content]="hintText$ | async"
    ></div>
</ng-template>
