@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: left;
}

.t-icon {
    position: relative;
    color: var(--tui-base-06);
    cursor: pointer;
    pointer-events: auto;
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}
