<tui-primitive-textfield
    class="t-textfield"
    [disabled]="computedDisabled"
    [focusable]="focusable"
    [invalid]="computedInvalid"
    [nativeId]="nativeId"
    [pseudoActive]="pseudoActive"
    [pseudoFocus]="pseudoFocus"
    [pseudoHover]="pseudoHover"
    [readOnly]="readOnly"
    [tuiTextfieldIcon]="!disabled ? iconContent : ''"
    [(value)]="value"
    (focusedChange)="onFocused($event)"
>
    <ng-content></ng-content>
    <ng-content
        ngProjectAs="input"
        select="input"
    ></ng-content>
</tui-primitive-textfield>

<ng-template #iconContent>
    <tui-svg
        *polymorpheusOutlet="icon as src; context: {$implicit: size}"
        appearance="icon"
        automation-id="tui-copy__icon"
        tuiWrapper
        class="t-icon"
        [disabled]="!value"
        [src]="src"
        [tuiHint]="hint"
        [tuiHintAppearance]="messageAppearance"
        [tuiHintDirection]="messageDirection"
        (click)="copy()"
    ></tui-svg>
</ng-template>

<ng-template #hint>
    <ng-container *polymorpheusOutlet="hintText$ | async as text">
        {{ text }}
    </ng-container>
</ng-template>
