:root {
    // Primary
    --tui-primary-text: #fff;
    --tui-primary: #299d37;
    --tui-primary-hover: #2c7a35;
    --tui-primary-active: #2c7a35;

    // Link
    --tui-link: #f59726;
    --tui-link-hover: #fab00b;

    // Selection
    --tui-selection: #f3fadc;
}
