<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="interactive"
    [content]="dropdown"
    [open]="open && interactive"
    (click)="toggle()"
    (openChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        class="t-textfield"
        [disabled]="computedDisabled"
        [invalid]="computedInvalid"
        [maskito]="getMaskOptions(computedMin, computedMax)"
        [nativeId]="nativeId"
        [pseudoFocus]="pseudoFocus"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldIcon]="calendarIcon"
        [(value)]="nativeValue"
        (focusedChange)="onFocused($event)"
        (valueChange)="onValueChange($event)"
    >
        <ng-content></ng-content>
        <ng-content
            ngProjectAs="input"
            select="input"
        ></ng-content>
    </tui-primitive-textfield>

    <ng-template #dropdown>
        <tui-primitive-year-picker
            tuiPreventDefault="mousedown"
            [disabledItemHandler]="disabledItemHandler"
            [initialItem]="value || initialItem | tuiToYear"
            [max]="computedMax | tuiToYear"
            [min]="computedMin | tuiToYear"
            [value]="value === null ? null : (value | tuiToYear)"
            (yearClick)="onYearClick($event)"
        ></tui-primitive-year-picker>
    </ng-template>
</tui-hosted-dropdown>
