@import 'taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: left;
}

.t-hosted {
    display: block;
    border-radius: inherit;
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}
