@if (items.changes | async) {}
<ng-content />
@for (item of items; track item) {
    @if (!max || $index < max) {
        <ng-container [ngTemplateOutlet]="item" />
    }
}
@if (hasExtraItems) {
    <tui-expand [expanded]="expanded">
        <div
            tuiGroup
            class="t-extra-items"
        >
            @for (item of items; track item) {
                @if (max && $index >= max) {
                    <ng-container [ngTemplateOutlet]="item" />
                }
            }
        </div>
    </tui-expand>
}
@if (hasExtraItems) {
    <div
        class="t-bottom"
        [class.t-bottom_collapsed]="!expanded"
    >
        <button
            appearance="outline"
            size="m"
            tuiButton
            type="button"
            class="t-button"
            (click)="toggle()"
        >
            {{ (expanded ? hideText$ : showAllText$) | async }}
        </button>
    </div>
}
