@import '@taiga-ui/core/styles/taiga-ui-local';

tui-files {
    inline-size: 100%;
    overflow: hidden;
    border-radius: var(--tui-radius-m);

    .t-files {
        position: relative;
        display: block;
        inline-size: 100%;
        block-size: 100%;
        border-radius: var(--tui-radius-m);
        overflow: hidden;
    }

    .t-button {
        inline-size: 100%;
        border-radius: inherit;
    }

    .t-bottom {
        z-index: 3;
        inline-size: 100%;
        background: var(--tui-background-base);

        &_collapsed {
            box-shadow: var(--tui-shadow-popup);
            margin-top: -1.5rem;
        }
    }

    .t-extra-items tui-file,
    .t-extra-items a[tuiFile] {
        border-radius: 0;
        margin-top: 0;
        margin-bottom: -0.0625rem;
    }
}
