@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper {
    max-width: 30rem;
}

.ticks-labels {
    .tui-slider-ticks-labels();

    color: var(--tui-text-secondary);
    align-items: center;
    margin-top: 0.25rem;
}

tui-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.25rem solid transparent;
}
