@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper {
    max-inline-size: 30rem;
}

.ticks-labels {
    .tui-slider-ticks-labels();

    color: var(--tui-text-secondary);
    align-items: center;
    margin-top: 0.25rem;
}

tui-icon {
    border-width: 0.25rem;
}
