// TODO: use tui-textfield:has([tuiSlider])
tui-textfield._hide-buttons .t-input-number-buttons {
    display: none !important;
}

tui-textfield._hide-buttons {
    --t-input-number-offset-end: 0px;
}

tui-textfield._hide-buttons [tuiInputNumber]._with-buttons {
    border-radius: inherit;
}

input[type='range'][tuiSlider].t-input-slider {
    --tui-radius: var(--tui-radius-m);
    @left-gap: calc(var(--tui-radius) / 2);

    tui-textfield[data-size='l'] & {
        --tui-radius: var(--tui-radius-l);
    }

    position: absolute;
    top: 100%;
    left: @left-gap;
    right: 0;
    inline-size: calc(100% - @left-gap); // Double check Firefox if you want to set `width: auto`
    box-sizing: border-box;
    block-size: 1rem;
    margin: -0.5625rem 0 0;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: calc(var(--tui-radius) * 10) calc(var(--tui-radius) * 2);
    pointer-events: auto;
}
