<tui-input-number
    [decimal]="decimal"
    [disabled]="computedDisabled"
    [max]="max"
    [min]="min"
    [ngModel]="value"
    [precision]="precision"
    [pseudoActive]="pseudoActive"
    [pseudoFocus]="computedFocused"
    [pseudoHover]="pseudoHover"
    [pseudoInvalid]="pseudoInvalid"
    [readOnly]="readOnly"
    [tuiTextfieldPostfix]="showValueContent ? '' : postfix"
    [tuiTextfieldPrefix]="showValueContent ? '' : prefix"
    (focusedChange)="onFocused($event)"
    (keydown.arrowDown.prevent)="onVerticalArrowKeyDown(-1)"
    (keydown.arrowUp.prevent)="onVerticalArrowKeyDown(1)"
    (ngModelChange)="safelyUpdateValue($event)"
>
    <ng-content></ng-content>
    <div
        *ngIf="showValueContent"
        automation-id="tui-input-slider__value-content"
        ngProjectAs="tuiContent"
    >
        <ng-container *polymorpheusOutlet="valueContent as text; context: {$implicit: value}">
            {{ text }}
        </ng-container>
    </div>
</tui-input-number>

<input
    tuiSlider
    type="range"
    [disabled]="readOnly || computedDisabled"
    [keySteps]="computeKeySteps(keySteps, min, max)"
    [max]="computedSteps"
    [ngModel]="value"
    [segments]="segments"
    [tuiFocusable]="false"
    (click)="focusTextInput()"
    (ngModelChange)="onSliderChange($event)"
/>
