<tui-input-number
    [min]="min"
    [max]="max"
    [precision]="precision"
    [decimal]="decimal"
    [prefix]="prefix"
    [postfix]="postfix"
    [readOnly]="readOnly"
    [pseudoFocus]="computedFocused"
    [pseudoHover]="pseudoHover"
    [pseudoActive]="pseudoActive"
    [pseudoInvalid]="pseudoInvalid"
    [ngModel]="value"
    (ngModelChange)="safelyUpdateValue($event)"
    (focusedChange)="onFocused($event)"
    (keydown.arrowUp.prevent)="onVerticalArrowKeyDown(1)"
    (keydown.arrowDown.prevent)="onVerticalArrowKeyDown(-1)"
>
    <ng-content></ng-content>
    <div
        *ngIf="valueContent && !focused"
        ngProjectAs="tuiContent"
        automation-id="tui-input-slider__value-content"
    >
        <ng-container *polymorpheusOutlet="valueContent as text; context: {$implicit: value}">
            {{ text }}
        </ng-container>
    </div>
</tui-input-number>

<input
    tuiSlider
    type="range"
    [tuiFocusable]="false"
    [max]="computedSteps"
    [segments]="segments"
    [keySteps]="computePureKeySteps(keySteps, min, max)"
    [attr.disabled]="readOnly || disabled || null"
    [ngModel]="value"
    (keyStepsInput)="onSliderChange($event)"
    (click)="focusTextInput()"
/>
