@import 'taiga-ui-local';

@padding: 1rem;
@padding2: @padding * 2;

:host {
    .createStackingContext();
    display: block;
    font: var(--tui-font-text-m);
    border-radius: var(--tui-radius-m);
    color: var(--tui-text-01);

    &._segmented._show-ticks-labels {
        // TODO: remove in v3.0
        /* stylelint-disable-next-line */
        border-bottom: 26px solid transparent;
    }
}

.t-native {
    .fullsize();
    .clearinput();
    width: 100%;
    color: var(--tui-text-01);
    box-sizing: border-box;
    padding: 0 @padding;
    outline: none;

    :host._disabled & {
        color: var(--tui-text-03);
        user-select: none;
    }

    :host._min-label &,
    :host._max-label & {
        opacity: 0;
    }

    :host[data-size='l'] & {
        padding: 1.25rem @padding 0;
    }

    :host[data-mode='onDark'] & {
        color: var(--tui-text-01-night);
    }

    :host[data-mode='onDark']._disabled & {
        color: var(--tui-text-03-night);
    }
}

.t-content {
    display: flex;
    align-items: center;
    height: var(--tui-height-m);
    padding: 0 @padding;
    justify-content: space-between;

    :host[data-size='l'] & {
        height: var(--tui-height-l);
        padding: 0 @padding;
    }
}

.t-placeholder {
    .textfield-placeholder();
    .fullsize();
    padding: 0 var(--tui-padding-l);
    line-height: var(--tui-height-l);
    box-sizing: border-box;
    pointer-events: none;

    :host._has-tooltip & {
        max-width: calc(100% - 1.75rem);
    }
}

.t-value {
    visibility: hidden;
}

.t-label {
    overflow: hidden;
    text-overflow: ellipsis;

    :host[data-size='l'] & {
        padding-top: 1.25rem;
    }
}

.t-secondary {
    color: var(--tui-text-01);

    :host._disabled & {
        color: var(--tui-text-03);
    }

    :host[data-mode='onDark']._disabled & {
        color: var(--tui-text-03-night);
    }
}

.t-tooltip {
    margin-left: 0.75rem;
}

// TODO: remove wrapper and move all styles to input[type='range'] in v3.0
.t-slider-wrapper {
    position: absolute;
    top: 100%;
    left: calc(var(--tui-radius-m) / 2);
    right: 0;
    margin: -0.5625rem 0 0;
}

// Dont change CSS-selector (we require the such specificity to override default styles without !important)
input[type='range'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: calc(var(--tui-radius-m) * 5) calc(var(--tui-radius-m) * 1.5);
}

// TODO: remove in v3.0
.t-ticks-labels {
    .tui-slider-ticks-labels(m);
    color: var(--tui-text-02);
}
