<tui-wrapper
    [appearance]="appearance"
    [readOnly]="readOnly"
    [disabled]="disabled"
    [focused]="computedFocused"
    [hovered]="computedHovered"
    [invalid]="computedInvalid"
>
    <span
        *ngIf="hasPlaceholder"
        automation-id="tui-input-slider__placeholder"
        class="t-placeholder t-placeholder_raised"
    >
        <ng-content></ng-content>
    </span>
    <input
        #focusableElement
        automation-id="tui-input-slider__native"
        class="t-native"
        [disabled]="disabled"
        [readOnly]="readOnly"
        [tuiInputMode]="inputMode"
        [tuiFocusable]="focusable"
        [textMask]="quantum | tuiMapper: mask:min"
        [ngModel]="computedValue"
        (ngModelChange)="onValue($event)"
        (tuiFocusedChange)="onFocused($event)"
        (tuiHoveredChange)="onHovered($event)"
        (keydown.arrowUp)="onKeyDownArrowUp($event)"
        (keydown.arrowDown)="onKeyDownArrowDown($event)"
    />
    <div class="t-content">
        <span *ngIf="showValue" class="t-label">
            <span class="t-value">{{ computedValue }}</span>
            <span
                *ngIf="pluralizeMap"
                automation-id="tui-input-slider__pluralize"
            >
                {{ value | i18nPlural: pluralizeMap }}
            </span>
        </span>
        <span
            *ngIf="showMinLabel"
            automation-id="tui-input-slider__min-label"
            class="t-label"
        >
            {{ minLabel }}
        </span>
        <span
            *ngIf="showMaxLabel"
            automation-id="tui-input-slider__max-label"
            class="t-label"
        >
            {{ maxLabel }}
        </span>
        <span automation-id="tui-input-slider__secondary" class="t-secondary">
            {{ secondary }}
            <tui-tooltip
                *ngIf="hasTooltip"
                automation-id="tui-input-slider__tooltip"
                describeId="placeholer_until_accesibility_is_added"
                class="t-tooltip"
                [content]="hintController.content"
                [direction]="hintController.direction"
                [mode]="hintController.mode"
                [showDelay]="hintController.showDelay"
                [hideDelay]="hintController.hideDelay"
                (mousedown.prevent)="onMouseDown()"
            ></tui-tooltip>
        </span>
    </div>
</tui-wrapper>
<tui-slider
    class="t-slider"
    [min]="min"
    [max]="max"
    [steps]="computedSteps"
    [segments]="segments"
    [keySteps]="keySteps"
    [pluralize]="segmentsPluralize"
    [focusable]="false"
    [disabled]="readOnly || disabled"
    [ngModel]="value"
    (ngModelChange)="onSliderValue($event)"
    (mousedown)="onMouseDown()"
></tui-slider>
