.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 8rem;
}

.beaver-wrapper {
    width: 6.25rem;
    height: 6.25rem;
}

.beaver {
    cursor: pointer;
    background-color: var(--tui-chart-categorical-18);
    color: #000;
    width: 100%;
    height: 100%;
    border-radius: 3.125rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        background-color: #000;
        border-radius: 50%;
        left: 3.75rem;
        top: 1.875rem;
    }

    &::after {
        left: 1.875rem;
    }

    .nose {
        width: 1.875rem;
        height: 1.875rem;
        background-color: #333;
        position: absolute;
        border-radius: 50%;
        top: 2.5rem;
    }

    .teeth-left,
    .teeth-right {
        position: absolute;
        width: 0.5rem;
        height: 1.25rem;
        background-color: #fff;
        bottom: 0.625rem;
        border-radius: 0.125rem;
    }

    .teeth-left {
        left: 2.5rem;
    }

    .teeth-right {
        left: 3.25rem;
    }
}
