.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    inline-size: 50vw;
    block-size: 8rem;
}

.beaver-wrapper {
    inline-size: 6.25rem;
    block-size: 6.25rem;
}

.beaver {
    position: relative;
    display: flex;
    cursor: pointer;
    background-color: var(--tui-chart-categorical-18);
    color: #000;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 3.125rem;
    border: none;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 1.875rem;
        left: 3.75rem;
        inline-size: 0.5rem;
        block-size: 0.5rem;
        background-color: #000;
        border-radius: 50%;
    }

    &::after {
        left: 1.875rem;
    }

    .nose {
        position: absolute;
        top: 2.5rem;
        inline-size: 1.875rem;
        block-size: 1.875rem;
        background-color: #333;
        border-radius: 50%;
    }

    .teeth-left,
    .teeth-right {
        position: absolute;
        bottom: 0.625rem;
        inline-size: 0.5rem;
        block-size: 1.25rem;
        background-color: #fff;
        border-radius: 0.125rem;
    }

    .teeth-left {
        left: 2.5rem;
    }

    .teeth-right {
        left: 3.25rem;
    }
}
