<tui-doc-page header="FieldError" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            <code>FieldError</code> shows a validation error of a field. If you
            do not use forms, see
            <a tuiLink [routerLink]="['/components/error']"
                ><code>TuiError</code></a
            >.
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-field-error-example-1></tui-field-error-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="patterns"
            i18n-heading
            heading="with a template"
            [content]="example2"
        >
            <tui-field-error-example-2></tui-field-error-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="formArray"
            i18n-heading
            heading="With adding new controls (FormArray)"
            [content]="example3"
        >
            <tui-field-error-example-3></tui-field-error-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="async"
            i18n-heading
            heading="async validator"
            [content]="example4"
        >
            <tui-field-error-example-4></tui-field-error-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="customMessages"
            i18n-heading
            heading="With custom messages for validators"
            [content]="example5"
        >
            <tui-field-error-example-5></tui-field-error-example-5>
        </tui-doc-example>
    </ng-template>

    <ng-template i18n-pageTab pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiFieldErrorModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
