<tui-doc-page header="FieldError" package="KIT">
    <ng-template pageTab>
        <p>
            Компонент <code>FieldError</code> служит для показа ошибки валидации
            поля формы. Для показа ошибки без контрола, используйте
            <a tuiLink [routerLink]="['/tui-error']"><code>TuiError</code></a
            >.
        </p>

        <tui-doc-example id="base" heading="базовый" [content]="example1">
            <tui-field-error-example-1></tui-field-error-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="patterns"
            heading="с шаблонами"
            [content]="example2"
        >
            <tui-field-error-example-2></tui-field-error-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="formArray"
            heading="с динамическим добавлением (FormArray)"
            [content]="example3"
        >
            <tui-field-error-example-3></tui-field-error-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="async"
            heading="с асинхронным валидатором"
            [content]="example4"
        >
            <tui-field-error-example-4></tui-field-error-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="customMessages"
            heading="С кастомными сообщениями для встроенных валидаторов"
            [content]="example5"
        >
            <tui-field-error-example-5></tui-field-error-example-5>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Подключение">
        <ol class="b-demo-steps">
            <li>
                Для использования импортировать модуль
                <code>TuiFieldErrorModule</code> в тот же модуль, куда
                добавляется ваш компонент:

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                Добавить в шаблон, <code>formControlName</code> &mdash; имя
                контрола, для которого будет показана ошибка:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
