@import '@taiga-ui/styles/utils';

:host {
    min-inline-size: fit-content;

    &:hover {
        background: unset !important;
    }

    &._active._active:not(:disabled) {
        cursor: unset;
    }

    &:not(._vertical) {
        &:first-of-type {
            padding-inline-start: 0;
        }

        &:last-of-type {
            padding-inline-end: 0;
        }
    }

    &._vertical {
        padding-inline: 0;
        margin-block-end: 0.5rem;
    }
}

[tuiAvatar][data-size] {
    &::before {
        transition: none;
    }

    &._initials::before {
        font-weight: normal;
    }
}
