@import '@taiga-ui/styles/utils';

:host {
    .scrollbar-hidden();

    display: flex;
    scroll-behavior: var(--tui-scroll-behavior);
    overflow: auto;
    counter-reset: steps;
    font: var(--tui-typography-body-m);

    &[data-orientation='vertical'] {
        flex-direction: column;
    }
}
