<div
    *ngIf="cardGroupedTexts$ | async as texts"
    tuiWrapper
    tuiDropdownLimitWidth="fixed"
    class="t-common-wrapper"
    [appearance]="appearance"
    [readOnly]="readOnly"
    [disabled]="computedDisabled"
    [focus]="computedFocused"
    [hover]="pseudoHover"
    [invalid]="computedInvalid"
    [tuiDropdownManual]="open"
    [tuiDropdown]="dropdown || ''"
    (tuiActiveZoneChange)="onActiveZoneChange($event)"
    (scroll)="onScroll($event)"
    (mousedown)="onMouseDown($event)"
>
    <div class="t-wrapper">
        <label
            *tuiLet="value?.card | tuiFormatCard: cardPrefilled as formattedCard"
            tuiPreventDefault="click"
        >
            <input
                #inputCard
                type="text"
                automation-id="tui-input-card-grouped__card"
                inputmode="numeric"
                translate="no"
                class="t-input t-input_card"
                [class.t-input_inert]="cardPrefilled"
                [class.t-input_hidden]="!card.length && focused"
                [attr.id]="idCard"
                [attr.aria-invalid]="!cardPrefilled && !(this.card | tuiMapper: cardValidator)"
                [placeholder]="cardPrefilled ? '' : exampleText"
                [autocomplete]="autocompleteCard"
                [disabled]="computedDisabled"
                [readOnly]="readOnly"
                [textMask]="maskCard"
                [tuiFocusable]="cardFocusable"
                [ngModel]="formattedCard"
                (ngModelChange)="onCardChange($event)"
                (focus)="(0)"
            />
            <span
                translate="no"
                aria-hidden="true"
                class="t-collapsed"
                [attr.data-before]="masked"
                [class.t-collapsed_enable-mask]="isCardCollapsed"
            >
                <span class="t-collapsed-wrapper">
                    <span
                        class="t-value"
                        [class.t-value_collapsed]="isCardCollapsed"
                    >
                        {{ formattedCard }}
                    </span>
                </span>
            </span>
            <span
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
            >
                {{ texts.cardNumberText }}
            </span>
        </label>
    </div>
    <div
        class="t-wrapper t-wrapper_expire"
        [class.t-wrapper_active]="isCardCollapsed"
    >
        <label tuiPreventDefault="click">
            <input
                #inputExpire
                type="text"
                placeholder="00/00"
                automation-id="tui-input-card-grouped__expire"
                inputmode="numeric"
                translate="no"
                class="t-input"
                [class.t-input_inert]="!expireFocusable"
                [attr.id]="idExpire"
                [attr.name]="name"
                [autocomplete]="autocompleteExpire"
                [disabled]="computedDisabled"
                [readOnly]="readOnly"
                [tuiFocusable]="expireFocusable"
                [textMask]="maskExpire"
                [ngModel]="expire"
                (ngModelChange)="onExpireChange($event)"
                (focus)="(0)"
            />
            <span
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
            >
                {{ texts.expiryText }}
            </span>
        </label>
    </div>
    <div
        class="t-wrapper t-wrapper_cvc"
        [class.t-wrapper_active]="isCardCollapsed"
    >
        <label tuiPreventDefault="click">
            <input
                #inputCVC
                type="text"
                automation-id="tui-input-card-grouped__cvc"
                inputmode="numeric"
                translate="no"
                class="t-input"
                [class.t-input_prefilled]="cvcPrefilled"
                [placeholder]="cvcPrefilled ? '•••' : exampleTextCVC"
                [attr.id]="idCVC"
                [disabled]="computedDisabled"
                [readOnly]="readOnly || cvcPrefilled"
                [autocomplete]="autocompleteCVC"
                [textMask]="maskCVC"
                [tuiFocusable]="cvcFocusable"
                [ngModel]="cvc"
                (ngModelChange)="onCVCChange($event)"
                (focus)="(0)"
            />
            <span
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
            >
                {{ texts.cvcText }}
            </span>
        </label>
    </div>
    <div class="t-icons">
        <div
            *ngIf="icon"
            class="t-icon-outlet"
        >
            <tui-svg
                *polymorpheusOutlet="icon as text"
                automation-id="tui-input-card-grouped__icon"
                class="t-card"
                [src]="text"
            ></tui-svg>
        </div>
        <tui-svg
            *ngIf="hasCleaner"
            src="tuiIconCloseLarge"
            class="t-icon"
            (click)="clear()"
        ></tui-svg>
        <tui-svg
            *ngIf="hasDropdown"
            src="tuiIconChevronDownLarge"
            class="t-icon"
            [class.t-icon_rotated]="open"
            (click)="toggle()"
        ></tui-svg>
    </div>
</div>
