@import 'taiga-ui-local';

@width-full: (472 / 16rem);
@width-mobile: 18rem;
@offset-full: 7.1875rem;
@offset-small: 4.0625rem;
@wrapper-offset-full: 6.5625rem;
@wrapper-offset-small: 4.125rem;

:host {
    display: block;
    height: var(--tui-height-l);
    width: @width-full;
    border-radius: var(--tui-radius-m);

    &[data-mode='onDark'] {
        --tui-autofill: var(--tui-autofill-night);
    }

    :host-context(tui-root._mobile) {
        width: @width-mobile;
    }
}

.t-outline {
    height: 100%;
    width: 100%;
}

.t-common-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.t-wrapper {
    .transition(transform);
    position: absolute;
    width: 100%;
    height: 100%;

    &_cvc {
        margin-left: @offset-full;
        transform: translate3d(100%, 0, 0);

        :host-context(tui-root._mobile) & {
            margin-left: @offset-small;
        }
    }

    &_expire {
        transform: translate3d(100%, 0, 0);
    }

    &_active {
        transform: translate3d(@wrapper-offset-full, 0, 0);

        :host-context(tui-root._mobile) & {
            transform: translate3d(@wrapper-offset-small, 0, 0);
        }
    }
}

.t-card {
    width: 2rem;
    height: 2rem;
    margin-right: 0.625rem;
}

.t-collapsed {
    .textfield-input();
    border: 0;
    padding-left: 1rem;
    line-height: 2.25rem;
    pointer-events: none;

    &_enable-mask:before {
        content: attr(data-before);
    }

    &_enable-mask .t-collapsed-wrapper {
        left: 1.375rem;
    }
}

.t-collapsed-wrapper {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.t-value {
    .transition(transform);
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    transform: translate3d(100%, 0, 0);

    &_collapsed {
        transform: translate3d(4ch, 0, 0);
    }
}

.t-input {
    .textfield-input();
    .transition(background);
    border: 0;
    padding: 0 1rem;

    &::placeholder {
        color: var(--tui-text-03);
    }

    :host[data-mode='onDark'] &::placeholder {
        color: var(--tui-text-03-night);
    }

    &_card,
    :host[data-mode='onDark'] &_card {
        &:not(.t-input_hidden),
        &:not(.t-input_hidden)::placeholder,
        &:not(.t-input_hidden):-webkit-autofill {
            caret-color: var(--tui-base-09);
            color: transparent !important;
            -webkit-text-fill-color: transparent !important;
        }

        //noinspection CssInvalidPseudoSelector
        &::-webkit-credit-card-auto-fill-button {
            .webkit-auto-fill-button-hidden();
        }
    }

    &_inert {
        pointer-events: none;
    }
}

.t-icons {
    position: absolute;
    right: 0.75rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.t-icon-outlet {
    display: inherit;
}

.t-icon {
    .transition(transform);
    .icon-button();

    &_rotated {
        transform: rotate(180deg);
    }
}

.t-placeholder {
    .textfield-placeholder();
    margin: 1.125rem 1rem;
    line-height: 1.25rem;
}
