.clearProgress() {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

/* Used to style outer progress bar (container) */
.progressContainer(@property, @value) {
    @{property}: @value; // IE | Edge | Mozilla

    &::-webkit-progress-bar {
        @{property}: @value; // Chrome | Opera | Safari
    }
}

/* used to style inner value bar */
.progressValue(@property, @value) {
    @{property}: @value; // Edge

    &::-webkit-progress-value {
        @{property}: @value; // Chrome | Opera | Safari
    }

    &::-moz-progress-bar {
        @{property}: @value; // Mozilla
    }
}

.progressValueColor() {
    color: var(--tui-progress-color-old-edge); // IE | Not Chromium Edge

    &::-webkit-progress-value {
        background: var(--tui-progress-color); // Chromium Edge | Chrome | Opera | Safari
    }

    &::-moz-progress-bar {
        background: var(--tui-progress-color); // Mozilla
    }
}

:host {
    .clearProgress();

    .progressValueColor();
    .progressValue(border-radius, var(--tui-radius-xs));

    .progressContainer(background-color, var(--tui-base-03));
    .progressContainer(border-radius, var(--tui-radius-xs));
}
