@import 'taiga-ui-local';

:host {
    display: flex;
    align-items: center;
    height: 2.5rem;
    font: var(--tui-font-text-s);

    &[data-size='l'] {
        font: var(--tui-font-text-m);
    }
}

.t-icon {
    margin: 0 @space;
    color: var(--tui-text-03);
}
