<ng-container *ngIf="items.changes | async" />
<ng-container *ngIf="itemsLimit > 1; else plain">
    <ng-container *ngIf="itemsLimit !== 2">
        <ng-container [ngTemplateOutlet]="items.first" />
        <ng-container [ngTemplateOutlet]="separator" />
    </ng-container>
    <tui-items-with-more
        side="start"
        [itemsLimit]="itemsLimit - 2"
        [required]="items.length + offset - 2"
    >
        <ng-container *ngFor="let item of items; let last = last">
            <ng-container *ngIf="item !== items.first || itemsLimit === 2">
                <ng-container *tuiItem>
                    <ng-container [ngTemplateOutlet]="item" />
                    <ng-container
                        *ngIf="!last"
                        [ngTemplateOutlet]="separator"
                    />
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-template
            let-index
            tuiMore
        >
            <span class="t-more">
                <button
                    appearance="flat"
                    size="xs"
                    tuiDropdownOpen
                    tuiIconButton
                    type="button"
                    [iconStart]="icons.ellipsis"
                    [tuiDropdown]="dropdown"
                >
                    {{ more() }}
                </button>
                <ng-container [ngTemplateOutlet]="separator" />
            </span>
            <ng-template #dropdown>
                <tui-data-list size="s">
                    <ng-container *ngFor="let item of items; let i = index">
                        <span
                            *ngIf="i + offset && i <= index && item !== items.last"
                            tuiOption
                            class="t-option"
                        >
                            <ng-container [ngTemplateOutlet]="item" />
                        </span>
                    </ng-container>
                </tui-data-list>
            </ng-template>
        </ng-template>
    </tui-items-with-more>
</ng-container>
<ng-template #separator>
    <tui-icon
        *ngIf="options.icon.length > 1; else char"
        class="t-icon"
        [icon]="options.icon"
    />
    <ng-template #char>
        <span class="t-char">{{ options.icon }}</span>
    </ng-template>
</ng-template>
<ng-template #plain>
    <ng-container *ngFor="let item of items; let last = last">
        <ng-container [ngTemplateOutlet]="item" />
        <ng-container
            *ngIf="!last"
            [ngTemplateOutlet]="separator"
        />
    </ng-container>
</ng-template>
