.bars {
    height: 6.25rem;
    width: 3.75rem;
    margin-bottom: 3.125rem;
    box-shadow: 0 1px var(--tui-base-03);

    --tui-chart-0: var(--tui-primary);
    --tui-chart-1: var(--tui-primary);
}
