// clearfix
@mixin clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin autofill($mode: default) {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        caret-color: var(--tui-text-primary);
        border-radius: inherit;
        color: inherit !important;
        background-color: transparent !important;
        -webkit-text-fill-color: var(--tui-text-primary) !important;
        border-color: var(--tui-autofill);
        -webkit-box-shadow: 0 0 0 100rem var(--tui-autofill) inset !important; // to overlay native background
    }
}

@mixin clearinput($mode: default) {
    @include autofill($mode);
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: inherit;
    background: none;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    caret-color: currentColor;
    outline: none;
    appearance: none;
    word-break: keep-all;
    -webkit-text-fill-color: currentColor; // for Safari

    @include ios-only {
        &:active {
            font-size: 1rem;
        }
    }
}

@mixin visually-hidden() {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(0);
}

// customize native scroll
@mixin customize-scroll() {
    // exclude non-supporting browsers
    @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            width: 1rem;
            height: 1rem;
            border-radius: 6.25rem;
            background-clip: padding-box;
            border: 2.667rem solid transparent;
        }

        &::-webkit-scrollbar {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--tui-background-neutral-1-hover);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--tui-background-neutral-1-pressed);
        }

        &::-webkit-scrollbar-thumb:active {
            background-color: var(--tui-text-tertiary);
        }
    }
}

@mixin inset-border($direction: bottom, $mode: none) {
    @if ($direction == bottom) {
        box-shadow: inset 0 -1px var(--tui-border-normal);

        @if ($mode == light) {
            box-shadow: inset 0 -1px rgba(255, 255, 255, 0.24);
        }

        @if ($mode == dark) {
            box-shadow: inset 0 -1px rgba(51, 51, 51, 0.24);
        }
    }

    @if ($direction == top) {
        box-shadow: inset 0 1px var(--tui-border-normal);

        @if ($mode == light) {
            box-shadow: inset 0 1px rgba(255, 255, 255, 0.24);
        }

        @if ($mode == dark) {
            box-shadow: inset 0 1px rgba(51, 51, 51, 0.24);
        }
    }

    @if ($direction == left) {
        box-shadow: inset 1px 0 var(--tui-border-normal);

        @if ($mode == light) {
            box-shadow: inset 1px 0 rgba(255, 255, 255, 0.24);
        }

        @if ($mode == dark) {
            box-shadow: inset 1px 0 rgba(51, 51, 51, 0.24);
        }
    }

    @if ($direction == right) {
        box-shadow: inset -1px 0 var(--tui-border-normal);

        @if ($mode == light) {
            box-shadow: inset -1px 0 rgba(255, 255, 255, 0.24);
        }

        @if ($mode == dark) {
            box-shadow: inset -1px 0 rgba(51, 51, 51, 0.24);
        }
    }
}

// dashed border
@mixin dashed-border($color: currentColor, $alignment: bottom, $spacing: 4) {
    $size: $spacing * 1px;
    $percentage: (100% / $spacing * 2);
    background-image: linear-gradient(to right, $color 0%, $color $percentage, transparent $percentage);
    background-position: 0 $alignment;
    background-size: $size 1px;
    background-repeat: repeat-x;
}

// typical opacity properties for icons
@mixin opacity-icon() {
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

@mixin hoverable-with-shadow() {
    @include transition(all);
    cursor: pointer;
    box-shadow: var(--tui-shadow);
    transition-property: transform, box-shadow;
    will-change: transform, box-shadow;

    &:hover {
        box-shadow: var(--tui-shadow-hover);
        transform: translateY(-0.25rem);
    }
}

@mixin text-overflow-with-fade($color: var(--tui-background-base), $transparentColor: transparent, $width: 1.875rem) {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: $width;
        height: 100%;
        background-image: linear-gradient(to right, $transparentColor 0%, $color 80%, $color 100%);
        pointer-events: none;
    }
}

//spaces
@mixin tui-space($direction, $size) {
    @if ($direction == all) {
        margin: 0.25rem * $size;
    }

    @if ($direction == top) {
        margin-top: 0.25rem * $size;
    }

    @if ($direction == bottom) {
        margin-bottom: 0.25rem * $size;
    }

    @if ($direction == vertical) {
        margin-top: 0.25rem * $size;
        margin-bottom: 0.25rem * $size;
    }

    @if ($direction == left) {
        margin-left: 0.25rem * $size;
    }

    @if ($direction == right) {
        margin-right: 0.25rem * $size;
    }

    @if ($direction == horizontal) {
        margin-right: 0.25rem * $size;
        margin-left: 0.25rem * $size;
    }
}

@mixin contrast-background($background) {
    background: $background;
    color: contrast($background, #333, #fff);
}

@mixin blurred-background($color: #fff) {
    background: rgba($color, 70%);
    backdrop-filter: blur(0.4375rem);
}
