.dropdown {
    position: absolute;
    background-color: var(--tui-base-01);
    border: 1px solid var(--tui-base-05);
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    margin-top: 5px;
}
