:host {
    display: inline-flex;
}

.t-wrapper {
    width: 100%;
    height: inherit;
    flex: 1 1 auto;
    border-radius: inherit;
}

.t-dropdown {
    height: 100%;
}

.t-primitive {
    padding: 1rem;
}
