table[tuiTable] {
    [tuiCell] {
        padding: 0;
    }

    [tuiTitle] {
        white-space: nowrap;

        tui-icon {
            font-size: 1rem;
        }
    }

    [tuiSubtitle] {
        color: var(--tui-text-secondary);
    }

    [tuiTh] [tuiCell],
    [tuiTh] [tuiTitle] {
        font: inherit;
        color: inherit;
    }
}
