table[tuiTable] {
    &[data-size='s'] [tuiTitle] {
        flex-direction: row;
        gap: 0.375rem;
    }

    &[data-size='l'] [tuiCell] *:not(:first-child) {
        margin-inline-start: 0.75rem;
    }

    [tuiCell] {
        padding: 0;

        *:not(:first-child) {
            margin-inline-start: 0.5rem;
        }
    }

    [tuiTitle] {
        white-space: nowrap;

        tui-icon {
            font-size: 1rem;
        }
    }

    [tuiSubtitle] {
        color: var(--tui-text-secondary);
    }

    [tuiTh] [tuiCell],
    [tuiTh] [tuiTitle] {
        font: inherit;
        color: inherit;
    }
}
