.tui-slides {
    tui-doc-example .t-demo {
        overflow: hidden;
    }

    [tuiSlides] ng-component {
        display: block;

        &.tui-slides {
            display: none;
        }
    }
}
