<tui-doc-page
    header="Slides"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        A component for displaying dynamic content animated between states. Use negative value for
        <code>tuiSlides</code>
        to indicate backward direction, positive for forward direction and 0 for static crossfade.
        <p>
            <strong>Important:</strong>
            each child must be exactly one DOM element.
        </p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [description]="description"
            [heading]="example"
            [id]="example | tuiKebab"
        >
            <ng-template
                #description
                [ngSwitch]="index"
            >
                <ng-container *ngSwitchCase="0">Static crossfading of slides.</ng-container>
                <ng-container *ngSwitchCase="1">
                    Navigating back and forth using
                    <a
                        tuiLink
                        [routerLink]="routes.Stepper"
                    >
                        Stepper
                    </a>
                    .
                </ng-container>
                <ng-container *ngSwitchCase="2">
                    Animating nested routes, adding
                    <a
                        tuiLink
                        [routerLink]="routes.Animated"
                    >
                        Animated
                    </a>
                    to host directives of route component is required.
                </ng-container>
                <ng-container *ngSwitchCase="3">Using slides inside a dialog.</ng-container>
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
