:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    inline-size: 30rem;
}

.small {
    font: var(--tui-typography-body-s);
}

.medium {
    font: var(--tui-typography-heading-h6);
}

.big {
    font: var(--tui-typography-heading-h3);
}
