@import 'taiga-ui-local';

:host {
    position: relative;
    display: block;
    color: var(--tui-base-01);
    transform-style: preserve-3d;
    cursor: default;
    border-radius: var(--tui-radius-xs);
    background-size: 100%;

    &[data-size='s'] {
        width: 2rem;
        height: 1.5rem;
    }

    &[data-size='m'] {
        width: 3rem;
        height: 2rem;
    }

    &._active {
        box-shadow: 0 0 0 1px var(--tui-base-01);
    }
}

.t-front {
    .fullsize();
    backface-visibility: hidden;
}

.t-brand-logo {
    position: absolute;
    top: 0.1875rem;
    left: 0.125rem;
    height: 0.875rem;
    width: 0.875rem;
}

.t-number {
    position: absolute;
    right: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    :host[data-size='s'] & {
        top: 0.125rem;
        height: 0.625rem;
        width: 1.1875rem;
        font-size: 0.5rem;
    }

    :host[data-size='m'] & {
        top: 0.1875rem;
        height: 0.875rem;
        width: 1.5rem;
        font-size: 0.625rem;
    }
}

.t-payment-system-logo {
    position: absolute;
    right: 0.25rem;
    bottom: -0.5rem;
    width: 2rem;
    height: 2rem;
    transform: scale(0.5);
    transform-origin: right;
}

.t-back {
    .fullsize();
    backface-visibility: hidden;
    transform: rotateY(180deg) translate3d(0, 0, 1px);
    background-color: var(--tui-base-05);
    border-radius: var(--tui-radius-xs);

    &:after {
        content: '';
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        height: 20%;
        background-color: var(--tui-base-06);
    }
}
