.dropdown {
    position: absolute;
    background-color: var(--tui-background-base);
    border: 1px solid var(--tui-border-hover);
    border-radius: 0.5rem;
    padding: 0.625rem;
    inline-size: 12.5rem;
    margin-top: 5px;
}
