@import 'taiga-ui-angular-local';

.wrapper {
    .customize-scroll();
    width: 500px;
    height: 500px;
    overflow: auto;
    padding: 20px;
    background-color: var(--tui-secondary);
}

.bottom {
    position: absolute;
    bottom: 0;
}

.content {
    position: relative;
    width: 1000px;
    height: 1000px;
}
