@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper {
    .customize-scroll();
    width: 31.25rem;
    height: 31.25rem;
    overflow: auto;
    padding: 1.25rem;
    background-color: var(--tui-secondary);
}

.bottom {
    position: absolute;
    bottom: 0;
}

.content {
    position: relative;
    width: 62.5rem;
    height: 62.5rem;
}
