// This is used to trigger checkmark check when virtual scroll moves nodes around
@keyframes retrigger {
    from {
        left: 1px;
    }

    to {
        left: 2px;
    }
}

:host {
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;
    animation: retrigger 1s;
}

.t-checkbox {
    margin-right: 0.75rem;
}
