<tui-icon
    *ngIf="iconStart"
    class="t-icon t-left"
    [icon]="iconStart"
></tui-icon>

<div class="t-left t-icon">
    <ng-content select="img"></ng-content>
</div>

<tui-icon
    *ngIf="iconEnd"
    class="t-right t-icon"
    [icon]="iconEnd"
></tui-icon>

<div class="t-content">
    <ng-content></ng-content>
</div>

<ng-container *ngIf="paymentSystem">
    <tui-icon
        *ngIf="monoHandler(paymentSystem); else colored"
        class="t-logo"
        [icon]="options.icons[paymentSystem]"
    ></tui-icon>
    <ng-template #colored>
        <img
            class="t-logo"
            [alt]="paymentSystem"
            [src]="resolver(options.icons[paymentSystem]).replace('Outline', '')"
        />
    </ng-template>
</ng-container>
