<div
    tuiDropdownOpenMonitor
    class="t-hosted"
    [tuiDropdown]="dropdown"
    [tuiDropdownEnabled]="interactive"
    [tuiDropdownOpen]="open && interactive"
    (tuiDropdownOpenChange)="onOpenChange($event)"
>
    <tui-input-tag
        #inputTag
        class="t-input"
        [disabled]="disabled"
        [disabledItemHandler]="disabledItemHandler | tuiMapper: disabledItemHandlerWrapper"
        [editable]="editable"
        [inputHidden]="inputHidden"
        [maskito]="maskitoOptions"
        [nativeId]="nativeId"
        [ngModel]="value | tuiMapper: valueMapper"
        [placeholder]="placeholder"
        [pseudoFocus]="pseudoFocus"
        [pseudoHover]="pseudoHover"
        [pseudoInvalid]="computedInvalid"
        [readOnly]="readOnly"
        [removable]="!nativeDropdownMode"
        [rows]="rows"
        [tagValidator]="tagValidator | tuiMapper: disabledItemHandlerWrapper"
        [tuiTextfieldFiller]="(filler$ | async) || ''"
        [tuiTextfieldIcon]="calendarIcon && iconContent"
        (keydown.enter)="onEnter(inputTag.search || '')"
        (ngModelChange)="onValueChange($event)"
    >
        <ng-content />
        <ng-content
            ngProjectAs="input"
            select="input"
        />
    </tui-input-tag>

    <ng-template #iconContent>
        <tui-icon
            *polymorpheusOutlet="calendarIcon as src; context: {$implicit: size}"
            tuiAppearance="icon"
            [class.t-icon_small]="size === 's'"
            [class.t-icon]="!computedDisabled"
            [icon]="src.toString()"
            (click)="onIconClick()"
        />
    </ng-template>

    <ng-template #dropdown>
        <tui-calendar
            [disabledItemHandler]="disabledItemHandler"
            [markerHandler]="markerHandler"
            [max]="computedMax"
            [min]="computedMin"
            [month]="computedActiveYearMonth"
            [value]="value"
            (dayClick)="onDayClick($event)"
            (monthChange)="onMonthChange($event)"
            (mousedown.silent.prevent)="(0)"
        />
        <div
            class="t-button"
            (mousedown.silent.prevent)="(0)"
        >
            <button
                tuiLink
                type="button"
                (click)="done()"
            >
                {{ doneWord$ | async }}
            </button>
        </div>
    </ng-template>
</div>
