@import '@taiga-ui/styles/mixins';

.wrapper:not(:last-child) {
    margin-block-end: 1rem;
}

.title {
    display: flex;
    align-items: center;
    margin: 0;
}

.remove {
    margin-inline-start: auto;
}
