@import '@taiga-ui/core/styles/taiga-ui-local';

.plate {
    display: inline-block;
    margin: 0 -0.75rem;
    padding: 0.75rem;
    border-radius: var(--tui-radius-m);
    background-color: #3e4757;

    &_light {
        background-color: #e5e7ea;
    }

    &_dark {
        color: var(--tui-base-01);
    }
}
