<tui-doc-page
    header="Bar"
    package="ADDON-CHARTS"
    type="components"
>
    <ng-template pageTab>
        <p>A bar for bar chart</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-bar
                class="bar"
                [size]="size"
                [value]="value"
            />
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeS | TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="value"
                documentationPropertyType="readonly number[]"
                [documentationPropertyValues]="valueVariants"
                [(documentationPropertyValue)]="value"
            >
                An array of segments
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
