@import '@taiga-ui/core/styles/taiga-ui-local';

@keyframes open {
    from {
        block-size: 0;
    }

    to {
        block-size: var(--t-height);
    }
}

@keyframes close {
    from {
        block-size: var(--t-height);
    }

    to {
        block-size: 0;
    }
}

:host {
    border-color: var(--tui-border-normal);

    tr {
        border-color: inherit;
    }
}

.t-filler {
    animation: close calc(var(--tui-duration) + 1ms);
    animation-iteration-count: inherit;

    &_open {
        animation: open calc(var(--tui-duration) + 1ms);
        animation-iteration-count: inherit;
    }
}
