:host {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    gap: 1rem;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 1rem -0.5rem -0.5rem;
}

.action {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.75rem;
}
