<tui-doc-page header="InputDateTime" package="KIT" type="components">
    <ng-template pageTab>
        <div i18n class="tui-space_bottom-3">
            InputDateTime allows to input date and time
        </div>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-input-date-time-example-1></tui-input-date-time-example-1>
        </tui-doc-example>

        <tui-doc-example heading="Modes" id="modes" [content]="example2">
            <tui-input-date-time-example-2></tui-input-date-time-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-date-time
                    [disabledItemHandler]="disabledItemHandler"
                    [formControl]="control"
                    [focusable]="focusable"
                    [min]="min"
                    [max]="max"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [timeMode]="mode"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintMode]="hintMode"
                    [tuiTextfieldAutocomplete]="autocomplete"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldExampleText]="exampleText"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                >
                    Choose date and time
                </tui-input-date-time>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>
                    A handler that gets a date and returns true if it is
                    disabled.
                </div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min date
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max date
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="timeMode"
                documentationPropertyMode="input"
                documentationPropertyType="TuiTimeMode"
                [documentationPropertyValues]="modeVariants"
                [(documentationPropertyValue)]="mode"
            >
                Time modes for SS and MS support
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation [dropdown]="true"></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiInputDateTimeModule</code> in the same module where
                    you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li i18n>
                Use in template:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
