:host {
    position: absolute;
    display: block;
    height: 1.25rem;
    max-width: calc(100% - 2rem);
    margin: -1.25rem 0;
    padding: 0.625rem 0;
    box-sizing: content-box;
    color: var(--tui-text-01);
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;

    &._table {
        position: static;
    }

    :host-context(tui-textfield[data-mode='onDark']) & {
        color: var(--tui-text-01-night);
    }
}

.t-ghost {
    visibility: hidden;
    white-space: pre;
    text-overflow: clip;
}

.t-filler {
    color: var(--tui-text-03);

    :host-context(tui-textfield[data-mode='onDark']) & {
        color: var(--tui-text-03-night);
    }
}
