:host {
    position: absolute;
    display: block;
    height: 1.25rem;
    line-height: 1;
    width: 100%;
    margin: -1.25rem 0;
    padding: 0.625rem 0;
    box-sizing: content-box;
    color: var(--tui-text-01);
    animation: tuiPresent 1s;
    white-space: nowrap;
    overflow: hidden;

    &._table {
        position: static;
    }

    :host-context(tui-textfield[data-mode='onDark']) & {
        color: var(--tui-text-01-night);
    }

    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.t-ghost {
    opacity: 0;
}

.t-prefix,
.t-postfix {
    white-space: pre;
}

.t-filler {
    overflow: hidden;
    color: var(--tui-text-03);
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;

    :host-context(tui-textfield[data-mode='onDark']) & {
        color: var(--tui-text-03-night);
    }
}

.t-inline {
    display: inline-block;
    vertical-align: middle;
}
