:host-context(tui-root._mobile) {
    .t-button {
        flex: 1 0 auto;
        overflow: visible;
    }
}

:host-context(tui-dialog) {
    .t-content {
        margin-block-start: -0.75rem;
    }

    .t-buttons {
        margin: 1.25rem 0 0;

        &:first-child {
            margin-block-start: 2rem;
        }
    }
}
