<div
    *polymorpheusOutlet="context.data?.content as text; context: context"
    class="t-content"
    [innerHTML]="text"
></div>
<footer class="t-buttons">
    <button
        tuiButton
        type="button"
        class="t-button"
        [appearance]="no"
        (click)="context.completeWith(false)"
    >
        {{ context.data?.no || words().no }}
    </button>
    <button
        tuiAutoFocus
        tuiButton
        type="button"
        class="t-button"
        [appearance]="yes"
        (click)="context.completeWith(true)"
    >
        {{ context.data?.yes || words().yes }}
    </button>
</footer>
