:host {
    display: block;
}

tui-pager[data-size] {
    margin: 1rem auto 0;
    min-block-size: 0.5rem;
}

.item {
    padding: 1rem;
    border: 1px solid var(--tui-border-normal);
    border-radius: 1rem;
}

.title {
    margin: 0 0 1rem;
}
