:host {
    display: block;
}

.pagination {
    margin: 1rem auto 0;
}

.item {
    padding: 1rem;
    border: 1px solid var(--tui-base-03);
    border-radius: 1rem;
}

.title {
    margin: 0 0 1rem;
}
