<header class="t-header">
    @if (view() !== 'year') {
        <button
            appearance=""
            tuiChevron
            tuiLink
            type="button"
            class="t-button"
            [textContent]="button()"
            (click)="view.set(view() === 'day' ? 'month' : 'year')"
        ></button>
    }
    <button
        tuiIconButton
        type="button"
        class="t-chevron"
        [disabled]="start()"
        [iconStart]="icons.decrement"
        (click)="onSpin(-1)"
    >
        {{ texts()[0] }}
    </button>
    <button
        tuiIconButton
        type="button"
        class="t-chevron"
        [disabled]="end()"
        [iconStart]="icons.increment"
        (click)="onSpin(1)"
    >
        {{ texts()[1] }}
    </button>
</header>
<section tuiSlides>
    @switch (view()) {
        @case ('day') {
            <tui-carousel
                [index]="current().year * 12 + current().month"
                [max]="max().year * 12 + max().month"
                [min]="min().year * 12 + min().month"
                (indexChange)="current.set(getMonth($event))"
            >
                <tui-calendar
                    *tuiItem="let index"
                    [disabledItemHandler]="disabledDay()"
                    [month]="index | tuiMapper: getMonth"
                    [value]="value()"
                    (pick)="onDay($event)"
                />
            </tui-carousel>
        }

        @case ('month') {
            <tui-data-grid
                [content]="month()"
                [disabledItemHandler]="disabledMonth()"
                [items]="0 | tuiMapper: getItems"
                [value]="current().year === value()?.year ? current().month : []"
                (pick)="onMonth($event)"
            />
        }

        @case ('year') {
            <tui-carousel
                [max]="(max().year - current().year) / 12"
                [min]="(min().year - current().year) / 12"
            >
                <tui-data-grid
                    *tuiItem="let offset"
                    [disabledItemHandler]="disabledYear()"
                    [items]="current().year + offset * 12 - 6 | tuiMapper: getItems"
                    [value]="value()?.year || []"
                    (pick)="onYear($event)"
                />
            </tui-carousel>
        }
    }
</section>
