<header class="t-header">
    @if (dropdown?.nativeElement?.matches(':not(input)')) {
        @switch (mode()) {
            @case ('multi') {
                <tui-textfield
                    multi
                    class="t-textfield"
                >
                    <input
                        tuiInputDateMulti
                        [attr.aria-labelledby]="dropdown?.nativeElement?.id || null"
                        [max]="max()"
                        [min]="min()"
                        [(ngModel)]="value"
                    />
                </tui-textfield>
            }
            @case ('range') {
                <tui-textfield class="t-textfield">
                    <input
                        tuiInputDateRange
                        [attr.aria-labelledby]="dropdown?.nativeElement?.id || null"
                        [max]="max()"
                        [min]="min()"
                        [(ngModel)]="value"
                    />
                </tui-textfield>
            }
            @default {
                <tui-textfield class="t-textfield">
                    <input
                        tuiInputDate
                        [attr.aria-labelledby]="dropdown?.nativeElement?.id || null"
                        [max]="max()"
                        [min]="min()"
                        [(ngModel)]="value"
                    />
                </tui-textfield>
            }
        }
    }

    @if (view() !== 'year') {
        <button
            appearance=""
            tabindex="-1"
            tuiLink
            type="button"
            class="t-button"
            [textContent]="button()"
            [tuiChevron]="false"
            (click)="view.set(view() === 'day' ? 'month' : 'year')"
        ></button>
    } @else {
        @let years = month().year + (carousel()?.index() || 0) * 12 - 6 | tuiMapper: getItems;
        <b>{{ years[0] }}-{{ years[years.length - 1] }}</b>
    }
    <button
        tabindex="-1"
        tuiIconButton
        type="button"
        class="t-chevron"
        [disabled]="start()"
        [iconStart]="icons.decrement"
        (click)="onSpin(-1)"
    >
        {{ texts()[0] }}
    </button>
    <button
        tabindex="-1"
        tuiIconButton
        type="button"
        class="t-chevron"
        [disabled]="end()"
        [iconStart]="icons.increment"
        (click)="onSpin(1)"
    >
        {{ texts()[1] }}
    </button>
</header>
<tui-elastic-container>
    <section tuiSlides>
        @switch (view()) {
            @case ('day') {
                <tui-carousel
                    [index]="month().year * 12 + month().month"
                    [max]="max().year * 12 + max().month"
                    [min]="min().year * 12 + min().month"
                    (indexChange)="month.set(getMonth($event))"
                >
                    <tui-calendar
                        *tuiItem="let index"
                        new
                        [content]="contentDay()"
                        [disabledItemHandler]="disabledDay()"
                        [month]="index | tuiMapper: getMonth"
                        [value]="value()"
                        (pick)="onDay($event)"
                    />
                </tui-carousel>
            }

            @case ('month') {
                <tui-data-grid
                    class="t-grid"
                    [content]="contentMonth() ?? content()"
                    [disabledItemHandler]="disabledMonth()"
                    [items]="year()"
                    [value]="months()"
                    (pick)="onMonth($event)"
                />
            }

            @case ('year') {
                <tui-carousel
                    [max]="yearMax()"
                    [min]="yearMin()"
                >
                    <tui-data-grid
                        *tuiItem="let offset"
                        class="t-grid"
                        [content]="contentYear()"
                        [disabledItemHandler]="disabledYear()"
                        [items]="month().year + offset * 12 - 6 | tuiMapper: getItems"
                        [value]="years()"
                        (pick)="onYear($event)"
                    />
                </tui-carousel>
            }
        }
    </section>
</tui-elastic-container>
