<tui-doc-page
    header="Badge"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component for displaying text, pictures and icons.</p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="1 | tuiExample: 'html'"
        >
            <tui-badge-example-1></tui-badge-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [content]="2 | tuiExample: 'html'"
        >
            <tui-badge-example-2></tui-badge-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="content-type"
            heading="Content type (mobile platform)"
            [content]="3 | tuiExample: 'html'"
        >
            <tui-badge-example-3></tui-badge-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="fade"
            heading="Long value"
            [content]="4 | tuiExample: 'html,less'"
        >
            <tui-badge-example-4></tui-badge-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            heading="Customization"
            [content]="5 | tuiExample: 'html,less'"
        >
            <tui-badge-example-5></tui-badge-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="options"
            heading="Options with DI"
            [content]="6 | tuiExample: 'html,ts'"
        >
            <tui-badge-example-6></tui-badge-example-6>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <p>
                <tui-badge
                    *ngIf="contentType === 'with icon'"
                    iconLeft="tuiIconCheck"
                    [appearance]="appearance"
                    [dot]="dot"
                    [size]="size"
                >
                    <div tuiFade>Taiga UI</div>
                </tui-badge>

                <tui-badge
                    *ngIf="contentType === 'text'"
                    [appearance]="appearance"
                    [dot]="dot"
                    [size]="size"
                >
                    Taiga UI
                </tui-badge>

                <img
                    *ngIf="contentType === 'image'"
                    alt="market"
                    src="assets/images/avatar.jpg"
                    tuiBadge
                    [appearance]="appearance"
                    [dot]="dot"
                    [size]="size"
                />
            </p>
        </tui-doc-demo>
        <label
            tuiLabel="Content type"
            class="tui-space_vertical-3"
        >
            <tui-radio-list
                orientation="horizontal"
                [items]="contentTypeVariants"
                [(ngModel)]="contentType"
            ></tui-radio-list>
        </label>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="dot"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="dot"
            >
                Show dot on the left side
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="appearance"
                documentationPropertyType="TuiStatus"
                [documentationPropertyValues]="appearanceVariants"
                [(documentationPropertyValue)]="appearance"
            >
                Appearance
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p>Import module:</p>

                <tui-doc-code
                    filename="my.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="my.component.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
