<tui-doc-page
    header="Badge"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component for displaying text, pictures and icons.</p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="1 | tuiExample: 'html'"
        >
            <tui-badge-example-1 />
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [content]="2 | tuiExample: 'html'"
        >
            <tui-badge-example-2 />
        </tui-doc-example>

        <tui-doc-example
            id="content-type"
            heading="Content type (mobile platform)"
            [content]="3 | tuiExample: 'html'"
        >
            <tui-badge-example-3 />
        </tui-doc-example>

        <tui-doc-example
            id="fade"
            heading="Long value"
            [content]="4 | tuiExample: 'html,less'"
        >
            <tui-badge-example-4 />
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            heading="Customization"
            [content]="5 | tuiExample: 'html,less'"
        >
            <tui-badge-example-5 />
        </tui-doc-example>

        <tui-doc-example
            id="options"
            heading="Options with DI"
            [content]="6 | tuiExample: 'html,ts'"
        >
            <tui-badge-example-6 />
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <p>
                <tui-badge
                    *ngIf="contentType === 'with icon'"
                    iconStart="@tui.check"
                    [appearance]="appearance"
                    [size]="size"
                >
                    <div tuiFade>Taiga UI</div>
                </tui-badge>

                <tui-badge
                    *ngIf="contentType === 'text'"
                    [appearance]="appearance"
                    [size]="size"
                >
                    Taiga UI
                </tui-badge>

                <img
                    *ngIf="contentType === 'image'"
                    alt="market"
                    src="assets/images/avatar.jpg"
                    tuiBadge
                    [appearance]="appearance"
                    [size]="size"
                />
            </p>
        </tui-doc-demo>
        <div>
            Content type
            <tui-radio-list
                name="content-type"
                size="s"
                class="tui-space_vertical-2"
                [items]="contentTypeVariants"
                [style.flex-direction]="'row'"
                [(ngModel)]="contentType"
            />
        </div>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="appearance"
                documentationPropertyType="TuiStatus"
                [documentationPropertyValues]="appearanceVariants"
                [(documentationPropertyValue)]="appearance"
            >
                Appearance
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <tui-setup
            [import]="exampleModule"
            [template]="exampleHtml"
        />
    </ng-template>
</tui-doc-page>
