@use 'taiga-ui-local' as *;

.dropdown {
    display: flex;
    padding: 6px 12px;
}

.text {
    padding: 0 12px;
}

.label {
    //@include text-body-m();
    color: var(--tui-text-03);
}

.name {
    //@include text-h6();
}

.account {
    //@include text-body-s();
    margin-top: 4px;
    color: var(--tui-text-02);
}
