@import 'taiga-ui-angular-local';

.dropdown {
    display: flex;
    padding: 6px 12px;
}

.text {
    padding: 0 12px;
}

.label {
    .text-body-m();
    color: var(--tui-text-03);
}

.name {
    .text-h6();
}

.account {
    .text-body-s();
    margin-top: 4px;
    color: var(--tui-text-02);
}
