:host {
    display: flex;
    --tui-background-accent-2: var(--tui-status-info);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    gap: 1rem;
    padding: 1rem;

    &_web {
        border: 1px solid var(--tui-border-normal);
        border-left-width: 0;

        &:first-child {
            border-right-width: 0;
            border-left-width: 1px;
        }
    }
}
