<tui-notification
    size="m"
    [appearance]="item.appearance"
    [icon]="item.icon"
>
    <span tuiTitle>
        <ng-container *polymorpheusOutlet="item.label as text; context: item">
            {{ text }}
        </ng-container>
        <span tuiSubtitle>
            <span
                *polymorpheusOutlet="item.content as text; context: item"
                [innerHTML]="text"
            ></span>
        </span>
    </span>
    <button
        *ngIf="item.closeable"
        tuiIconButton
        [iconStart]="icons.close"
        (click)="item.$implicit.complete()"
    >
        {{ close() }}
    </button>
</tui-notification>
