<tui-notification
    *ngIf="item.hasCloseButton; else noClose"
    [status]="item.status"
    [hasIcon]="item.hasIcon"
    (close)="closeNotification()"
>
    <label
        *ngIf="item.label"
        polymorpheus-outlet
        automation-id="tui-notification-alert__heading"
        class="t-heading"
        [content]="$any(item.label)"
        [context]="context"
    ></label>
    <div
        polymorpheus-outlet
        automation-id="tui-notification-alert__content"
        class="t-content"
        [content]="item.content"
        [context]="$any(context)"
    ></div>
</tui-notification>
<ng-template #noClose>
    <tui-notification
        [status]="item.status"
        [hasIcon]="item.hasIcon"
    >
        <label
            *ngIf="item.label"
            polymorpheus-outlet
            automation-id="tui-notification-alert__heading"
            class="t-heading"
            [content]="$any(item.label)"
            [context]="context"
        ></label>
        <div
            polymorpheus-outlet
            automation-id="tui-notification-alert__content"
            class="t-content"
            [content]="item.content"
            [context]="$any(context)"
        ></div>
    </tui-notification>
</ng-template>
