<tui-notification
    [status]="item.status"
    [hasIcon]="item.hasIcon"
    [icon]="item.icon"
    [hideClose]="!item.hasCloseButton"
    (close)="close()"
>
    <label
        *ngIf="item.label"
        automation-id="tui-notification-alert__heading"
        class="t-heading"
    >
        <ng-container *polymorpheusOutlet="item.label as text; context: item">
            {{ text }}
        </ng-container>
    </label>
    <div
        automation-id="tui-notification-alert__content"
        class="t-content"
    >
        <div
            *polymorpheusOutlet="item.content as text; context: item"
            [innerHTML]="text"
        ></div>
    </div>
</tui-notification>
