@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: grid;
    inline-size: 18rem;
    flex-shrink: 0;
    word-break: break-word;

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiFade, tuiSlide, tuiCollapse;
    }

    &:not(:first-child) {
        margin-top: 0 !important;
    }

    &:not(:last-child) {
        margin-bottom: 0 !important;
    }

    &:not(:last-child) > .t-wrapper {
        margin-bottom: 0.75rem;
    }
}

.t-wrapper {
    .transition(margin);

    grid-row: 1 / span 2;
    overflow: hidden;
    background: var(--tui-background-base);
    border-radius: var(--tui-radius-m);
    box-shadow: var(--tui-shadow-medium);

    :host.tui-leave & {
        margin: 0;
    }
}

.t-closeable {
    padding-inline-end: 2.5rem;
}
