@import '@taiga-ui/core/styles/taiga-ui-local';

tui-alerts > .t-wrapper {
    .fullsize(fixed);

    display: flex;
    flex-direction: column;
    pointer-events: none;
    box-sizing: border-box;
    block-size: 100%;
    padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom);

    & > * {
        pointer-events: auto;
    }
}
