<tui-doc-page
    header="Tooltip"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        <p>Component to show icons with a hint by hover</p>

        <tui-doc-example
            id="example-base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />
        <tui-doc-example
            id="custom-host"
            heading="Custom host"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />
        <tui-doc-example
            id="repeating-template"
            heading="Repeating template"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />
        <tui-doc-example
            id="options"
            heading="Options"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
