<tui-doc-page i18n-header header="Tooltip" package="CORE">
    <ng-template pageTab>
        <p i18n>Component to show icons with a hint by hover</p>

        <tui-doc-example
            id="example-base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-tooltip-example-1></tui-tooltip-example-1>
        </tui-doc-example>
        <tui-doc-example
            id="custom-host"
            i18n-heading
            heading="Custom host"
            [content]="example2"
        >
            <tui-tooltip-example-2></tui-tooltip-example-2>
        </tui-doc-example>
        <tui-doc-example
            id="repeating-template"
            i18n-heading
            heading="Repeating template"
            [content]="example3"
        >
            <tui-tooltip-example-3></tui-tooltip-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-tooltip
                content="You data is hidden"
                [mode]="mode"
                [describeId]="describeId"
                [direction]="direction"
            ></tui-tooltip>
            <input placeholder="id: qwerty" tuiDescribedBy="qwerty" />
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="content"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent | null"
            >
                Tooltip content
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="describeId"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="describeId"
            >
                To be accessible, hint should be set to a focusable element and
                user with Screen Readers will listen to hint text after a small
                delay when focusing textfield. Set unique
                <code>describeId</code> and use
                <code>[tuiDescribedBy]="theSameId"</code> directive on focusable
                element
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="mode"
                documentationPropertyMode="input"
                documentationPropertyType="TuiTooltipMode | null"
                [documentationPropertyValues]="modeVariants"
                [(documentationPropertyValue)]="mode"
            >
                Tooltip mode
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="direction"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDirection"
                [documentationPropertyValues]="directionVariants"
                [(documentationPropertyValue)]="direction"
            >
                Tooltip direction
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiTooltipModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
