@import '@taiga-ui/styles/utils';

:host {
    .fullsize(fixed);

    display: grid;
    grid-template-rows: repeat(9, min-content) 1fr;
    pointer-events: none;
    overflow: hidden;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: env(safe-area-inset-top) env(safe-area-inset-left) env(safe-area-inset-bottom) env(safe-area-inset-right);

    ::ng-deep > * {
        pointer-events: auto;
    }

    &::after {
        content: '';
        grid-row: 10;
    }
}
