@use 'taiga-ui-local' as *;

.template {
    display: flex;
    align-items: center;
}

.avatar {
    margin: 0 $space * 2 0 0;
    flex-shrink: 0;
}

.name {
    //@include text-overflow();
    flex-shrink: 1;
}
