<tui-doc-page
    header="ProgressBar"
    package="KIT"
    path="kit/components/progress/progress-bar"
    type="components"
>
    <ng-template pageTab>
        <dl>
            <dt>
                <code>tuiProgressBar</code>
            </dt>
            <dd>
                – attribute component for native html tag
                <code [textContent]="'<progress />'"></code>
                .
            </dd>
        </dl>
        <p>
            <strong>Usage:</strong>
            <code [textContent]="'<progress tuiProgressBar value=\'40\' max=\'100\'></progress>'"></code>
            .
        </p>

        @for (example of examples; track example) {
            <tui-doc-example
                [component]="$index + 1 | tuiComponent"
                [content]="$index + 1 | tuiExample"
                [description]="description"
                [heading]="example"
            />

            <ng-template #description>
                @switch ($index) {
                    @case (5) {
                        <p>Indeterminate state expresses an unspecified amount of wait time.</p>
                        <p>
                            If there is no
                            <code>[value]</code>
                            attribute, the
                            <code>ProgressBar</code>
                            is indeterminate.
                        </p>
                    }
                    @case (6) {
                        You can toggle off round corners of the progress bar by setting
                        <code>border-radius: 0</code>
                        .
                    }
                }
            </ng-template>
        }
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <progress
                tuiProgressBar
                class="api-progress"
                [color]="color"
                [max]="max"
                [size]="size"
                [value]="value"
            ></progress>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[value]"
                tuiDocAPIItem
                type="number"
                [(value)]="value"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress#attributes"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    value
                </a>
                of
                <code [textContent]="'<progress />'"></code>
            </tr>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="number"
                [(value)]="max"
            >
                Native attribute
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress#attributes"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    max
                </a>
                of
                <code [textContent]="'<progress />'"></code>
            </tr>
            <tr
                name="[size]"
                tuiDocAPIItem
                type="TuiSizeXS | TuiSizeXXL"
                [items]="sizeVariants"
                [(value)]="size"
            >
                Size of the progress element
            </tr>
            <tr
                name="[color]"
                tuiDocAPIItem
                type="string"
                [items]="colorVariants"
                [(value)]="color"
            >
                Color of the progress indicator
                <p>
                    We recommend set solid color via
                    <code [textContent]="'<progress />'"></code>
                    's CSS-property
                    <code>color</code>
                    (especially, if you support old not-chromium based Edge)
                </p>
            </tr>
        </table>
    </ng-template>
</tui-doc-page>
