<tui-doc-page
    header="Chip"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Chip component is used to display array data and can also be interactive depending on the tag used.</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
