:host {
    display: block;
    padding: 0.75rem;
}

.t-cell {
    display: inline-block;
    background-color: var(--tui-base-01);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    margin: 0.125rem;
    border: 1px solid var(--tui-base-04);
    cursor: pointer;

    &_hovered {
        background-color: var(--tui-base-02);
    }
}

.t-column {
    white-space: nowrap;
}

.t-description {
    text-align: center;
}
