<div class="t-items">
    <div
        *tuiRepeatTimes="let index of max"
        class="t-item"
        [class.t-item_active]="isActive(index)"
        (pointerup)="onClick(max - index)"
    >
        <tui-icon
            *polymorpheusOutlet="icon as src; context: {$implicit: max - index}"
            class="t-icon t-icon_blank"
            [class.t-icon_fraction]="isFraction(index)"
            [icon]="src.toString()"
            [style.--t-cut.%]="100 - getCut(index)"
        />
        <tui-icon
            *polymorpheusOutlet="icon as src; context: {$implicit: max - index}"
            class="t-icon"
            [icon]="src.toString()"
            [style.--t-cut.%]="getCut(index)"
        />
    </div>
</div>
<input
    min="1"
    type="range"
    class="t-range"
    [attr.aria-disabled]="readOnly"
    [disabled]="computedDisabled"
    [max]="max"
    [(ngModel)]="value"
/>
