<label>
    <ng-content></ng-content>

    <div class="t-host">
        <div class="t-interactive">
            <tui-svg
                *tuiRepeatTimes="let index of max"
                class="t-icon-rating t-icon-filled"
                [class.t-icon-rating-last]="index === 0"
                [src]="iconFilled"
                (click)="setRateByReverseIndex(index)"
            ></tui-svg>
        </div>

        <div
            class="t-wrapper"
            [style.width.%]="percent"
        >
            <tui-svg
                *tuiRepeatTimes="let index of max"
                class="t-icon-rating t-icon-filled"
                [class.t-icon-rating-last]="index === 0"
                [src]="iconFilled"
            ></tui-svg>
        </div>

        <tui-svg
            *tuiRepeatTimes="let index of max"
            class="t-icon-rating"
            [class.t-icon-rating-last]="max - 1 === index"
            [src]="iconNormal"
        ></tui-svg>

        <input
            #focusableElement
            step="1"
            type="range"
            class="t-input"
            [max]="max"
            [min]="min"
            [ngModel]="value"
            [tuiFocusable]="isFocusable"
            (ngModelChange)="setRate($event)"
        />
    </div>
</label>
