@import '@taiga-ui/styles/utils';

:host {
    .transition(color);

    position: relative;
    display: block;
    inline-size: fit-content;
    min-inline-size: fit-content;
    font-size: 2.5rem;
    cursor: pointer;
    user-select: none;
    padding-block-start: 1em;
    color: var(--tui-chart-categorical-12);
    background: var(--tui-text-tertiary) content-box;

    &._readonly {
        pointer-events: none;
    }

    &._disabled {
        pointer-events: none;
        opacity: var(--tui-disabled-opacity);
    }
}

.t-range {
    .fullsize();

    opacity: 0;
    box-sizing: border-box;
    padding: 0 0.75em;
    pointer-events: none;

    &:focus-visible + .t-items {
        box-shadow: inset 0 0 0 0.125rem var(--tui-border-focus);
    }
}

.t-items {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-block-start: -1em;
    padding-block-start: 1em;
    background: inherit;

    &:hover {
        .t-icon {
            clip-path: inset(0 0 0 0);

            &_blank {
                clip-path: inset(0 0 0 100%);
            }
        }
    }
}

.t-item {
    .transition(transform);

    position: relative;
    display: flex;
    flex: 1 0 0;
    background: inherit;
    background-clip: content-box;
    margin-block-start: -1em;
    padding-block-start: 1em;
    transition-timing-function: cubic-bezier(0.35, 1.5, 0.4, 2.5);

    &:first-child {
        max-inline-size: 1em;
    }

    &:hover .t-icon,
    &:hover ~ & .t-icon,
    .t-items:not(:hover) &_active .t-icon {
        background-color: currentColor;
    }

    .t-items:active &:hover,
    .t-items:active &:hover ~ & {
        transform: scale(0.85);
        transition-duration: var(--tui-duration), calc(var(--tui-duration) / 3);
        transition-timing-function: ease-in-out;
    }
}

.t-icon {
    .transition(background);

    font-size: inherit;
    margin-block-start: -1em;
    background: inherit;
    clip-path: inset(0 var(--t-cut) 0 0);

    :host-context([dir='rtl']) & {
        clip-path: inset(0 0 0 var(--t-cut));
    }

    ::ng-deep > * {
        font-size: 1rem;
    }

    &_blank {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        background: inherit !important;
        clip-path: inset(0 0 0 var(--t-cut));

        :host-context([dir='rtl']) & {
            clip-path: inset(0 var(--t-cut) 0 0);
        }
    }
}

@media (any-pointer: coarse) {
    :host._active {
        .t-item_active {
            transform: scale(0.85);
            transition-timing-function: ease-in-out;
        }
    }

    :host:not(._readonly) .t-range {
        pointer-events: auto;
    }

    .t-icon {
        transition: none;
    }
}
