@import '@taiga-ui/styles/utils';

.tui-sensitive {
    position: relative;
    line-height: 1em;
    clip-path: inset(0 round 0.25rem);

    &::after {
        .fullsize();

        content: '';
        display: block !important;
        background: currentColor;
        border-radius: inherit;
        mask: url('data:image/svg+xml,<svg width="360" height="72" preserveAspectRatio="none" fill="black" xmlns="http://www.w3.org/2000/svg"><rect opacity="0.2" width="24" height="24"/><rect opacity="0.2" x="336" y="24" width="24" height="24"/><rect opacity="0.35" x="120" y="24" width="24" height="24"/><rect opacity="0.35" x="216" width="24" height="24"/><rect opacity="0.36" x="24" width="24" height="24"/><rect opacity="0.36" x="312" y="24" width="24" height="24"/><rect opacity="0.25" x="144" y="24" width="24" height="24"/><rect opacity="0.25" x="192" width="24" height="24"/><rect opacity="0.3" x="48" width="24" height="24"/><rect opacity="0.3" x="288" y="24" width="24" height="24"/><rect opacity="0.3" x="96" y="24" width="24" height="24"/><rect opacity="0.3" x="240" y="0" width="24" height="24"/><rect opacity="0.24" x="72" width="24" height="24"/><rect opacity="0.34" x="264" y="24" width="24" height="24"/><rect opacity="0.2" x="168" y="24" width="24" height="24"/><rect opacity="0.35" y="24" width="24" height="24"/><rect opacity="0.35" x="336" y="0" width="24" height="24"/><rect opacity="0.3" x="120" y="0" width="24" height="24" /><rect opacity="0.3" x="216" y="24" width="24" height="24"/><rect opacity="0.3" x="24" y="24" width="24" height="24"/><rect opacity="0.3" x="312" y="0" width="24" height="24"/><rect opacity="0.36" x="144" y="0" width="24" height="24"/><rect opacity="0.36" x="192" y="24" width="24" height="24"/><rect opacity="0.4" x="48" y="24" width="24" height="24"/><rect opacity="0.4" x="288" y="0" width="24" height="24"/><rect opacity="0.38" x="96" y="0" width="24" height="24"/><rect opacity="0.21" x="240" y="24" width="24" height="24"/><rect opacity="0.2" x="72" y="24" width="24" height="24"/><rect opacity="0.2" x="264" y="0" width="24" height="24"/><rect opacity="0.32" x="168" y="0" width="24" height="24"/><rect opacity="0.35" x="240" y="48" width="24" height="24"/><rect opacity="0.4" x="72" y="48" width="24" height="24"/><rect opacity="0.21" x="192" y="48" width="24" height="24"/><rect opacity="0.3" x="48" y="48" width="24" height="24"/> <rect opacity="0.34" x="216" y="48" width="24" height="24"/><rect opacity="0.21" x="24" y="48" width="24" height="24"/><rect opacity="0.3" x="168" y="48" width="24" height="24"/><rect opacity="0.32" y="48" width="24" height="24"/><rect opacity="0.36" x="264" y="48" width="24" height="24"/> <rect opacity="0.31" x="288" y="48" width="24" height="24"/><rect opacity="0.3" x="96" y="48" width="24" height="24"/><rect opacity="0.25" x="312" y="48" width="24" height="24"/><rect opacity="0.28" x="144" y="48" width="24" height="24"/><rect opacity="0.36" x="336" y="48" width="24" height="24"/><rect opacity="0.21" x="120" y="48" width="24" height="24"/></svg>')
            var(--t-offset, 0) 0 / auto var(--t-mask-height);
        margin: 0 !important;
    }

    &.tui-sensitive {
        -webkit-text-fill-color: transparent;
    }
}

span.tui-sensitive,
a.tui-sensitive {
    display: inline-block;
}
