<tr>
    <td colspan="3">
        <span tuiTitle>
            <a
                tuiLink
                [routerLink]="routes.Dropdown"
            >
                <strong>Dropdown</strong>
            </a>
            <span tuiSubtitle>Applied as a host directive</span>
        </span>
    </td>
</tr>
@if (!hiddenOptions().includes('open')) {
    <tr
        name="[(open)]"
        tuiDocAPIItem
        type="boolean"
        [(value)]="open"
    >
        manual control/monitor for the dropdown being visible
    </tr>
}
@if (!hiddenOptions().includes('tuiDropdownEnabled')) {
    <tr
        name="[tuiDropdownEnabled]"
        tuiDocAPIItem
        type="boolean"
        [(value)]="tuiDropdownEnabled"
    >
        enabling built-in open/close mechanics.
    </tr>
}
@if (!hiddenOptions().includes('align')) {
    <tr
        name="[tuiDropdownAlign]"
        tuiDocAPIItem
        type="tuiDropdownAlign"
        [items]="aligns"
        [(value)]="align"
    >
        align of dropdown to the side of the host
    </tr>
}
@if (!hiddenOptions().includes('direction')) {
    <tr
        name="[tuiDropdownDirection]"
        tuiDocAPIItem
        type="TuiVerticalDirection | null"
        [items]="directions"
        [(value)]="direction"
    >
        set the vertical direction of dropdown
    </tr>
}
@if (!hiddenOptions().includes('limitWidth')) {
    <tr
        name="[tuiDropdownLimitWidth]"
        tuiDocAPIItem
        type="TuiDropdownWidth"
        [items]="limitWidths"
        [(value)]="limitWidth"
    >
        limit width of dropdown
    </tr>
}
@if (!hiddenOptions().includes('minHeight')) {
    <tr
        name="[tuiDropdownMinHeight]"
        tuiDocAPIItem
        type="number"
        [(value)]="minHeight"
    >
        minimum height to shrink to before flipping direction
    </tr>
}
@if (!hiddenOptions().includes('maxHeight')) {
    <tr
        name="[tuiDropdownMaxHeight]"
        tuiDocAPIItem
        type="number"
        [(value)]="maxHeight"
    >
        maximum height of dropdown
    </tr>
}
@if (!hiddenOptions().includes('offset')) {
    <tr
        name="[tuiDropdownOffset]"
        tuiDocAPIItem
        type="number"
        [(value)]="offset"
    >
        dropdown offset from the host
    </tr>
}
@if (!hiddenOptions().includes('dropdownSided')) {
    <tr
        name="[tuiDropdownSided]"
        tuiDocAPIItem
        type="boolean"
        [(value)]="dropdownSided"
    >
        enables side positioning of dropdown
    </tr>
}
@if (!hiddenOptions().includes('dropdownSidedOffset')) {
    <tr
        name="[tuiDropdownSidedOffset]"
        tuiDocAPIItem
        type="number"
        [(value)]="dropdownSidedOffset"
    >
        determines the offset of the side positioned dropdown
    </tr>
}
@if (!hiddenOptions().includes('direction')) {
    <tr
        name="(tuiDropdownDirectionChange)"
        tuiDocAPIItem
        type="TuiVerticalDirection"
    >
        dropdown direction change
    </tr>
}
