<tr>
    <td colspan="3">
        <span tuiTitle>
            <a
                tuiLink
                [routerLink]="routes.Dropdown"
            >
                <strong>Dropdown</strong>
            </a>
            <span tuiSubtitle>Applied as a host directive</span>
        </span>
    </td>
</tr>
@if (!hiddenOptions.includes('open')) {
    <tr
        name="[(open)]"
        tuiDocAPIItem
        type="boolean"
        [(value)]="open"
    >
        Manual control/monitor for the dropdown being visible
    </tr>
}
@if (!hiddenOptions.includes('tuiDropdownEnabled')) {
    <tr
        name="[tuiDropdownEnabled]"
        tuiDocAPIItem
        type="boolean"
        [(value)]="tuiDropdownEnabled"
    >
        Enabling built-in open/close mechanics.
    </tr>
}
@if (!hiddenOptions.includes('align')) {
    <tr
        name="[tuiDropdownAlign]"
        tuiDocAPIItem
        type="tuiDropdownAlign"
        [items]="aligns"
        [(value)]="align"
    >
        Align of dropdown (does not work together with
        <code>limitWidth === 'fixed'</code>
        )
    </tr>
}
@if (!hiddenOptions.includes('direction')) {
    <tr
        name="[tuiDropdownDirection]"
        tuiDocAPIItem
        type="TuiVerticalDirection | null"
        [items]="directions"
        [(value)]="direction"
    >
        Set a vertical direction of dropdown
    </tr>
}
@if (!hiddenOptions.includes('limitWidth')) {
    <tr
        name="[tuiDropdownLimitWidth]"
        tuiDocAPIItem
        type="TuiDropdownWidth"
        [items]="limitWidths"
        [(value)]="limitWidth"
    >
        Limit width of dropdown
    </tr>
}
@if (!hiddenOptions.includes('minHeight')) {
    <tr
        name="[tuiDropdownMinHeight]"
        tuiDocAPIItem
        type="number"
        [(value)]="minHeight"
    >
        Minimum height to calculate that dropdown fits to set
        <code>tuiDropdownDirection</code>
    </tr>
}
@if (!hiddenOptions.includes('maxHeight')) {
    <tr
        name="[tuiDropdownMaxHeight]"
        tuiDocAPIItem
        type="number"
        [(value)]="maxHeight"
    >
        Maximum height of dropdown
    </tr>
}
@if (!hiddenOptions.includes('offset')) {
    <tr
        name="[tuiDropdownOffset]"
        tuiDocAPIItem
        type="number"
        [(value)]="offset"
    >
        Dropdown offset
    </tr>
}
@if (!hiddenOptions.includes('dropdownSided')) {
    <tr
        name="[tuiDropdownSided]"
        tuiDocAPIItem
        type="boolean"
        [(value)]="dropdownSided"
    >
        Enables side positioning of dropdown
    </tr>
}
@if (!hiddenOptions.includes('dropdownSidedOffset')) {
    <tr
        name="[tuiDropdownSidedOffset]"
        tuiDocAPIItem
        type="number"
        [(value)]="dropdownSidedOffset"
    >
        Determines the offset of the side positioned dropdown
    </tr>
}
@if (!hiddenOptions.includes('direction')) {
    <tr
        name="(tuiDropdownDirectionChange)"
        tuiDocAPIItem
        type="TuiVerticalDirection"
    >
        Dropdown direction change
    </tr>
}
