@import '@taiga-ui/core/styles/taiga-ui-local';

.t-select {
    inline-size: 5.625rem;
    flex: none;

    &[data-size='m'] {
        inline-size: 5rem;
    }

    &[data-size='s'] {
        inline-size: 4rem;
    }
}

.t-flag {
    inline-size: 1.75rem;
    block-size: 1.75rem;
    border-radius: 100%;
}

.t-name {
    margin: 0 auto 0 0.75rem;
}

.t-code {
    color: var(--tui-text-secondary);
    margin-inline-end: 0.25rem;
}

.t-search {
    position: sticky;
    top: 0.25rem;
    background: var(--tui-background-elevation-2);
    box-shadow: 0 -1rem var(--tui-background-elevation-2);
    margin: 0.25rem;
}
