<tui-textfield
    class="t-country-select"
    [content]="flag"
    [tuiChevron]="open()"
>
    <select
        ngModel=""
        tuiTextfield
        [disabled]="disabled()"
        [focused]="open() || null"
        [ngModelOptions]="{standalone: true}"
        [readOnly]="readOnly()"
    ></select>

    <ng-template #flag>
        <img
            decoding="async"
            class="t-flag t-flag_select"
            [alt]="names()?.[countryIsoCode()]"
            [src]="countryIsoCode() | tuiFlag"
        />
    </ng-template>
</tui-textfield>

<tui-textfield>
    <input
        autocomplete="new-password"
        tuiTextfield
        [disabled]="disabled()"
        [invalid]="invalid()"
        [maskito]="mask()"
        [ngModelOptions]="{standalone: true}"
        [readOnly]="readOnly()"
        [(ngModel)]="textfieldValue"
        (beforeinput.capture)="onPaste($event)"
        (blur)="onTouched()"
        (focus)="!readOnly() && onFocus()"
        (ngModelChange)="onValueChange($event)"
    />

    <!--
    TODO: get rid of built-in input and label and just externalize everything in 5.0
    <tui-input-phone-international>
      <label tuiLabel>My label</label>
      <input tuiTextfield placeholder="My placeholder" [(ngModel)]="value" />
      <tui-icon icon="@tui.phone" />
    </tui-input-phone-international>
    -->
    <ng-content select="tui-icon, img" />

    <label tuiLabel>
        <ng-content />
    </label>
</tui-textfield>

<tui-data-list *tuiTextfieldDropdown>
    <button
        *ngFor="let item of countries"
        tuiOption
        type="button"
        (click)="onItemClick(item)"
    >
        <img
            alt=""
            decoding="async"
            class="t-flag"
            [src]="item | tuiFlag"
        />
        <span class="t-country-item-name">{{ names()?.[item] }}</span>
        <span class="t-country-item-code">
            {{ item | tuiGetCountryCallingCode: metadata() }}
        </span>
    </button>
</tui-data-list>
