<button
    appearance="textfield"
    tabindex="-1"
    tuiButton
    tuiChevron
    type="button"
    class="t-ipi-select"
    [attr.data-mode]="component.mode()"
    [class.t-ipi-select_readonly]="component.readOnly()"
    [disabled]="component.disabled()"
    [size]="size()"
    [tuiAppearanceFocus]="component.open()"
    (click.prevent)="component.interactive() && component.open.set(!component.open())"
    (pointerdown.stop)="(0)"
>
    <img
        class="t-ipi-flag"
        [alt]="names()[component.countryIsoCode()]"
        [class.t-ipi-flag_small]="size() === 's'"
        [src]="component.countryIsoCode() | tuiFlag"
    />
</button>
<ng-template #filter>
    <div class="t-ipi-search">
        <tui-textfield
            [iconStart]="icons.search"
            [tuiTextfieldSize]="size() === 's' ? 's' : 'm'"
        >
            <input
                autocomplete="off"
                tuiInput
                type="text"
                [ngModel]="component.search()"
                [ngModelOptions]="{standalone: true}"
                [placeholder]="label()"
                [tuiAutoFocus]="!ios"
                (keydown.arrowDown)="list()[0]?.nativeElement?.focus()"
                (ngModelChange)="component.search.set($event)"
            />
        </tui-textfield>
    </div>
</ng-template>
<ng-container *tuiDropdown>
    @if (component.countrySearch()) {
        <ng-container *ngTemplateOutlet="filter" />
    }
    <tui-data-list class="t-ipi-options">
        @for (item of filtered(); track $index) {
            <button
                tuiOption
                type="button"
                (click)="component.onItemClick(item.iso)"
            >
                <img
                    alt=""
                    class="t-ipi-flag"
                    [class.t-ipi-flag_small]="size() === 's'"
                    [src]="item.iso | tuiFlag"
                />
                <span tuiTitle>{{ item.name }}</span>
                <span class="t-ipi-code">{{ item.code }}</span>
            </button>
        }
    </tui-data-list>
</ng-container>
