<tui-hosted-dropdown
    *tuiLet="countriesNames$ | async as countriesNames"
    class="hosted-dropdown"
    [content]="dropdown"
    [canOpen]="!readOnly"
    [(open)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <div tuiGroup>
        <tui-primitive-textfield
            tuiHostedDropdownHost
            class="country-select tui-group__auto-width-item"
            [tuiTextfieldCustomContent]="countryValueContent"
            [tuiTextfieldLabelOutside]="true"
            [tuiTextfieldIcon]="arrow"
            [disabled]="disabled"
            [focusable]="focusable"
            [editable]="false"
            [pseudoFocus]="open || null"
            [readOnly]="readOnly"
            [tuiHintContent]="null"
        ></tui-primitive-textfield>
        <tui-input-phone
            tuiTextfieldAutocomplete="off"
            class="input-phone tui-group__auto-width-item"
            [ngModel]="value"
            [disabled]="disabled"
            [focusable]="focusable"
            [countryCode]="inputPhoneCountryCode"
            [phoneMaskAfterCountryCode]="phoneMaskAfterCountryCode"
            [readOnly]="readOnly"
            [pseudoInvalid]="computedInvalid"
            [pseudoFocus]="pseudoFocus"
            [pseudoHover]="pseudoHover"
            (ngModelChange)="onModelChange($event)"
        >
            <ng-content></ng-content>
        </tui-input-phone>
    </div>

    <ng-template #dropdown>
        <tui-data-list>
            <button
                *ngFor="let item of countries"
                tuiOption
                (click)="onItemClick(item)"
            >
                <img
                    alt=""
                    class="country-item-flag"
                    [src]="getFlagPath(item)"
                />
                <span class="country-item-name">
                    {{ countriesNames[item] }}
                </span>
                <span class="country-item-code">
                    {{ item | tuiMapper: isoToCountryCodeMapper }}
                </span>
            </button>
        </tui-data-list>
    </ng-template>

    <ng-template #countryValueContent>
        <img
            class="flag"
            [alt]="countriesNames[countryIsoCode]"
            [src]="countryFlagPath"
        />
    </ng-template>
</tui-hosted-dropdown>
