<tui-textfield
    class="t-select"
    [content]="flag"
    [tuiChevron]="open()"
>
    <select
        ngModel=""
        tuiTextfield
        [attr.data-mode]="mode()"
        [disabled]="disabled()"
        [focused]="open()"
        [ngModelOptions]="{standalone: true}"
    ></select>

    <ng-template #flag>
        <img
            class="t-flag"
            [alt]="names()?.[countryIsoCode()]"
            [src]="countryIsoCode() | tuiFlag"
        />
    </ng-template>
</tui-textfield>

<tui-textfield>
    <!--TODO: Replace attribute bindings with inputs after Angular updated and signal bindings properly update-->
    <input
        autocomplete="new-password"
        tuiTextfield
        [attr.data-mode]="mode()"
        [attr.readonly]="readOnly() || null"
        [disabled]="disabled()"
        [maskito]="mask()"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="textfieldValue"
        (beforeinput.capture)="onPaste($event)"
        (blur)="onTouched()"
        (focus)="!readOnly() && onFocus()"
        (ngModelChange)="onValueChange($event)"
    />

    <!--
    TODO: get rid of built-in input and label and just externalize everything in 5.0
    <tui-input-phone-international>
      <label tuiLabel>My label</label>
      <input tuiTextfield placeholder="My placeholder" [(ngModel)]="value" />
      <tui-icon icon="@tui.phone" />
    </tui-input-phone-international>
    -->
    <ng-content select="tui-icon, img" />

    <label tuiLabel>
        <ng-content />
    </label>
</tui-textfield>

<ng-container *tuiTextfieldDropdown>
    <tui-textfield
        *ngIf="countrySearch"
        class="t-search"
        [iconStart]="icons.search"
    >
        <label tuiLabel>{{ internationalSearchLabel$ | async }}</label>
        <input
            tuiAutoFocus
            tuiTextfield
            [ngModel]="search()"
            (keydown.arrowDown)="focusFirstItem()"
            (ngModelChange)="search.set($event)"
        />
    </tui-textfield>

    <tui-data-list>
        <button
            *ngFor="let item of filtered()"
            tuiOption
            type="button"
            (click)="onItemClick(item.iso)"
        >
            <img
                alt=""
                class="t-flag"
                [src]="item.iso | tuiFlag"
            />
            <span class="t-name">{{ item.name }}</span>
            <span class="t-code">{{ item.code }}</span>
        </button>
    </tui-data-list>
</ng-container>
