<tui-doc-page
    header="InputCard"
    package="ADDON-COMMERCE"
    type="components"
>
    <ng-template pageTab>
        <p>
            <code>InputCard</code>
            can be used with
            <code>InputExpire</code>
            and
            <code>InputCVC</code>
            to input a card. Use
            <code>tuiCreateLuhnValidator(message)</code>
            to create a
            <code>Validator</code>
            that uses Luhn algorithm
        </p>

        <tui-doc-example
            id="form"
            heading="Form"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        >
            <p>
                <code>form</code>
                tag is used for better autocomplete support
            </p>
        </tui-doc-example>

        <tui-doc-example
            id="card"
            heading="Card"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'html,ts'"
        >
            <p>
                Pass empty string to disable
                <code>icon</code>
                if you want to use custom content instead.
            </p>
        </tui-doc-example>
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
