<tui-doc-page header="InputCard" package="ADDON-COMMERCE" type="components">
    <ng-template pageTab>
        <p i18n>
            <code>InputCard</code> can be used with <code>InputExpire</code> and
            <code>InputCVC</code> to input a card
        </p>

        <tui-doc-example id="group" heading="tui-group" [content]="example1">
            <tui-input-card-example-1></tui-input-card-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <form class="form" [formGroup]="control">
                    <tui-input-card
                        class="control"
                        formControlName="card"
                        [autocompleteEnabled]="autocompleteEnabledCard"
                        [cardSrc]="cardSrc"
                        [focusable]="focusable"
                        [tuiTextfieldSize]="sizeCard"
                        [tuiTextfieldCleaner]="cleaner"
                        [tuiTextfieldLabelOutside]="labelOutsideCard"
                        [pseudoInvalid]="pseudoInvalid"
                        [pseudoHovered]="pseudoHovered"
                        [pseudoPressed]="pseudoPressed"
                        [pseudoFocused]="pseudoFocused"
                        [tuiHintContent]="hintContent"
                        [tuiHintDirection]="hintDirection"
                        [tuiHintMode]="hintMode"
                        (binChange)="onBinChange($event)"
                    >
                        Card number
                    </tui-input-card>
                    <tui-input-expire
                        class="control"
                        formControlName="expire"
                        [autocompleteEnabled]="autocompleteEnabledExpire"
                        [focusable]="focusable"
                        [tuiTextfieldSize]="sizeExpire"
                        [tuiTextfieldLabelOutside]="labelOutsideExpire"
                        [pseudoInvalid]="pseudoInvalid"
                        [pseudoHovered]="pseudoHovered"
                        [pseudoPressed]="pseudoPressed"
                        [pseudoFocused]="pseudoFocused"
                    >
                        Expire date
                    </tui-input-expire>
                    <tui-input-cvc
                        class="control"
                        formControlName="cvc"
                        [autocompleteEnabled]="autocompleteEnabledCVC"
                        [focusable]="focusable"
                        [length]="length"
                        [tuiTextfieldSize]="sizeCVC"
                        [tuiTextfieldLabelOutside]="labelOutsideCVC"
                        [pseudoInvalid]="pseudoInvalid"
                        [pseudoHovered]="pseudoHovered"
                        [pseudoPressed]="pseudoPressed"
                        [pseudoFocused]="pseudoFocused"
                        [tuiHintContent]="hintContentCVC"
                        [tuiHintDirection]="hintDirectionCVC"
                        [tuiHintMode]="hintModeCVC"
                    >
                        CVC/CVV
                    </tui-input-cvc>
                    <tui-field-error
                        class="error"
                        formControlName="card"
                    ></tui-field-error>
                </form>
            </ng-template>
        </tui-doc-demo>
        <div class="b-full-width tui-space_bottom-6">
            <p i18n>
                Add <code>tuiCreateLuhnValidator(customMessage?)</code> to
                control validators to validate it with Luhn algorithm
            </p>
        </div>
        <tui-accordion class="b-full-width" [closeOthers]="false">
            <tui-accordion-item [open]="true">
                TuiInputCardComponent
                <ng-template tuiAccordionItemContent>
                    <tui-doc-documentation>
                        <ng-template
                            i18n
                            documentationPropertyName=""
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="disabledCard"
                        >
                            Disabled state (use
                            <code>formControl.disable()</code>)
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="autocompleteEnabled"
                            documentationPropertyMode="input"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="autocompleteEnabledCard"
                        >
                            Browser autocomplete of card
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="cardSrc"
                            documentationPropertyMode="input"
                            documentationPropertyType="string | null"
                            [documentationPropertyValues]="cardSrcVariants"
                            [(documentationPropertyValue)]="cardSrcSelected"
                        >
                            SVG card icon
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="binChange"
                            documentationPropertyMode="output"
                            documentationPropertyType="string | null"
                        >
                            BIN value (card first 6 symbols)
                        </ng-template>
                    </tui-doc-documentation>
                    <inherited-documentation></inherited-documentation>
                </ng-template>
            </tui-accordion-item>

            <tui-accordion-item [open]="false">
                TuiInputExpireComponent
                <ng-template tuiAccordionItemContent>
                    <tui-doc-documentation>
                        <ng-template
                            i18n
                            documentationPropertyName=""
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="disabledExpire"
                        >
                            Disabled state (use
                            <code>formControl.disable()</code>)
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="autocompleteEnabled"
                            documentationPropertyMode="input"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="autocompleteEnabledExpire"
                        >
                            Browser autocomplete of card
                        </ng-template>
                    </tui-doc-documentation>
                    <inherited-documentation></inherited-documentation>
                </ng-template>
            </tui-accordion-item>

            <tui-accordion-item [open]="false">
                TuiInputCVCComponent
                <ng-template tuiAccordionItemContent>
                    <tui-doc-documentation>
                        <ng-template
                            i18n
                            documentationPropertyName=""
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="disabledCVC"
                        >
                            Disabled state (use
                            <code>formControl.disable()</code>)
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="autocompleteEnabled"
                            documentationPropertyMode="input"
                            documentationPropertyType="boolean"
                            [(documentationPropertyValue)]="autocompleteEnabledCVC"
                        >
                            Browser autocomplete of card
                        </ng-template>
                        <ng-template
                            i18n
                            documentationPropertyName="length"
                            documentationPropertyMode="input"
                            documentationPropertyType="3 | 4"
                            [documentationPropertyValues]="lengthVariants"
                            [(documentationPropertyValue)]="length"
                        >
                            Code length
                        </ng-template>
                    </tui-doc-documentation>
                    <inherited-documentation></inherited-documentation>
                </ng-template>
            </tui-accordion-item>
        </tui-accordion>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li i18n>
                Import
                <code>TuiInputCardModule</code>, <code>TuiInputCVCModule</code>,
                <code>TuiInputExpireModule</code> modules into the module where
                you want to use them:

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
