:host {
    display: block;

    &._disabled,
    :host-context(*:disabled) {
        pointer-events: none;
    }
}

.t-country-select {
    inline-size: 5.625rem;

    /* stylelint-disable */
    &:not(._readonly) ::ng-deep input:not(:disabled) {
        cursor: pointer;
    }

    &._readonly ::ng-deep input {
        cursor: default;
    }
    /* stylelint-enable */

    &[data-size='m'] {
        inline-size: 5.5rem;
    }

    &[data-size='s'] {
        inline-size: 2rem;

        .t-flag {
            margin-left: -1rem;
        }
    }
}

.t-input-phone {
    flex: 1;
}

.t-flag {
    inline-size: 1.75rem;
    block-size: 1.75rem;
    border-radius: 50%;

    &_select {
        margin-left: -0.5rem;
    }
}

.t-country-item-name {
    margin-left: 0.75rem;
    margin-right: auto;
}

.t-country-item-code {
    color: var(--tui-text-secondary);
    margin-right: 0.25rem;
}
