@import '@taiga-ui/styles/utils';

:host {
    border-color: var(--tui-border-normal);

    tr {
        border-color: inherit;
    }
}

.t-expand {
    .button-clear();

    display: flex;
    inline-size: 100%;
    block-size: 100%;
    align-items: center;
    box-sizing: border-box;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border-color: inherit;

    &:focus-visible .t-name {
        background: var(--tui-service-selection-background);
    }

    &::before,
    &::after {
        content: '';
        position: sticky;
        block-size: 100%;
        border-inline-start: 1px solid;
        border-color: inherit;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}

.t-heading {
    .transition(background);

    block-size: var(--tui-height-m);
    font: var(--tui-typography-body-s);
    padding: 0;
    background: var(--tui-background-neutral-1);
    border-block-end: 1px solid var(--tui-border-normal);
    border-color: inherit;

    &:hover {
        background: var(--tui-background-neutral-1-hover);
    }

    :host-context(table[data-size='l']) & {
        font: var(--tui-typography-body-m);
        block-size: var(--tui-height-l);
    }
}

.t-name {
    position: sticky;
    left: 0.75rem;
    display: inline-block;

    :host-context(table[data-size='l']) & {
        left: 1rem;
    }
}

.t-chevron {
    position: sticky;
    right: 0.75rem;
    margin: 0 0.6875rem 0 auto;
}
