@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    border-color: var(--tui-base-04);

    tr {
        border-color: inherit;
    }
}

.t-expand {
    .clearbtn;

    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    border-color: inherit;
    cursor: pointer;
    font-weight: bold;
    outline: none;

    &:focus-visible .t-name {
        background: var(--tui-selection);
    }

    &:before,
    &:after {
        position: sticky;
        height: 100%;
        border-left: 1px solid;
        /* stylelint-disable-next-line */
        border-color: inherit;
        content: '';
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

.t-heading {
    .transition(background);

    height: var(--tui-height-m);
    padding: 0;
    border-color: inherit;
    border-bottom: 1px solid var(--tui-base-04);
    background: var(--tui-base-02);
    font: var(--tui-font-text-s);

    &:hover {
        background: var(--tui-base-03);
    }

    :host-context(table[data-size='l']) & {
        height: var(--tui-height-l);
        font: var(--tui-font-text-m);
    }
}

.t-name {
    position: sticky;
    left: 0.75rem;
    display: inline-block;

    :host-context(table[data-size='l']) & {
        left: 1rem;
    }
}

.t-chevron {
    .transition(transform);

    position: sticky;
    right: 0.75rem;
    margin: 0 0.6875rem 0 auto;

    &_rotated {
        transform: rotate(180deg);
    }
}
