@import 'taiga-ui-local';

:host {
    border-color: var(--tui-base-04);

    tr {
        border-color: inherit;
    }
}

.t-expand {
    .clearbtn;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border-color: inherit;

    &:focus-visible .t-name {
        background: var(--tui-selection);
    }

    &:before,
    &:after {
        content: '';
        position: sticky;
        height: 100%;
        border-left: 1px solid;
        border-color: inherit;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

.t-heading {
    height: var(--tui-height-m);
    font: var(--tui-font-text-s);
    padding: 0;
    background: var(--tui-base-02);
    border-bottom: 1px solid var(--tui-base-04);
    border-color: inherit;

    :host-context(table[data-size='l']) & {
        font: var(--tui-font-text-m);
        height: var(--tui-height-l);
    }
}

.t-name {
    position: sticky;
    left: 0.75rem;
    display: inline-block;

    :host-context(table[data-size='l']) & {
        left: 1rem;
    }
}

.t-chevron {
    .transition(transform);
    position: sticky;
    right: 0.75rem;
    margin: 0 0.6875rem 0 auto;

    &_rotated {
        transform: rotate(180deg);
    }
}
