<tr *ngIf="heading">
    <th
        class="t-heading"
        [colSpan]="table.columns.length"
    >
        <button
            type="button"
            class="t-expand"
            (click)="onClick()"
        >
            <span class="t-name">
                <ng-container *polymorpheusOutlet="heading as text">
                    {{ text }}
                </ng-container>
            </span>
            <tui-icon
                class="t-chevron"
                [tuiChevron]="open"
            />
        </button>
    </th>
</tr>
<ng-container *ngIf="open">
    <ng-content />
</ng-container>
