<ng-content></ng-content>
<tr *ngIf="heading">
    <th
        class="heading"
        [colSpan]="table.columns.length"
    >
        <button
            type="button"
            class="expand"
            (click)="onClick()"
        >
            <span class="name">
                <ng-container *polymorpheusOutlet="heading as text">
                    {{ text }}
                </ng-container>
            </span>
            <tui-svg
                src="tuiIconChevronDownLarge"
                class="chevron"
                [class.chevron_rotated]="open"
            ></tui-svg>
        </button>
    </th>
</tr>
<ng-container *ngIf="open && row">
    <ng-container
        *ngFor="let item of sorted; let index = index"
        [ngTemplateOutlet]="row.template"
        [ngTemplateOutletContext]="item | tuiMapper: toContext:index"
    ></ng-container>
</ng-container>
