@import '@taiga-ui/styles/utils';

.wrapper {
    position: relative;

    --tui-chart-0: var(--tui-chart-categorical-03);
}

.stacked {
    position: absolute;
    inset: 0;

    --tui-background-neutral-1: transparent;
    --tui-chart-0: var(--tui-chart-categorical-04);
}
