<ng-container *ngIf="hintOptions?.change$ | async" />
<div
    tuiDropdownOpenMonitor
    class="t-hosted"
    [tuiDropdown]="datalist || ''"
    [tuiDropdownEnabled]="canOpen"
    [(tuiDropdownOpen)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <div
        tuiWrapper
        [appearance]="appearance"
        [disabled]="computedDisabled"
        [focus]="computedFocused"
        [hover]="pseudoHover"
        [invalid]="computedInvalid"
        [readOnly]="readOnly"
        (click.prevent.silent)="detectRetargetFromLabel($event)"
        (mousedown)="onMouseDown($event)"
    >
        <div class="t-content">
            <div
                *ngIf="iconStart"
                class="t-icon t-icon_left t-textfield-icon t-icon-wrapper"
            >
                <tui-icon
                    *polymorpheusOutlet="iconStart as src; context: {$implicit: size}"
                    tuiAppearance="icon"
                    [icon]="src.toString()"
                />
            </div>
            <div class="t-wrapper">
                <div class="t-absolute-wrapper">
                    <div
                        *ngIf="hasPlaceholder"
                        automation-id="tui-input-tag__placeholder"
                        class="t-placeholder"
                        [class.t-placeholder_raised]="placeholderRaised"
                    >
                        <ng-content />
                    </div>
                </div>
                <tui-scrollbar
                    class="t-scrollbar"
                    [hidden]="!expandable"
                    [style.maxHeight.rem]="computeMaxHeight"
                >
                    <div
                        class="t-tags"
                        [class.t-tags_empty]="(!focused || inputHidden) && !value.length && !search?.trim()?.length"
                    >
                        <ng-container *ngIf="labelOutside; else text">
                            <tui-tag
                                *ngFor="let item of value; index as index; trackBy: trackByFn"
                                #tag
                                automation-id="tui-input-tag__tag"
                                tabIndex="-1"
                                class="t-tag"
                                [disabled]="computedDisabled || disabledItemHandler(item)"
                                [editable]="editable && !readOnly"
                                [hoverable]="!readOnly"
                                [leftContent]="getLeftContent(item)"
                                [maxLength]="maxLength"
                                [removable]="!readOnly && removable"
                                [separator]="separator"
                                [size]="controller.size"
                                [status]="status"
                                [value]="item.toString()"
                                (edited)="onTagEdited($event, index)"
                                (keydown.arrowLeft.prevent)="onTagKeyDownArrowLeft(index)"
                                (keydown.arrowRight.prevent)="onTagKeyDownArrowRight(index)"
                            />
                        </ng-container>
                        <ng-template #text>
                            <span
                                *ngFor="let item of value"
                                class="t-text"
                                [class.t-text_comma]="computedFocused && !inputHidden"
                                [class.t-text_disabled]="disabledItemHandler(item)"
                                [class.t-text_error]="!tagValidator(item)"
                                [textContent]="item"
                            ></span>
                        </ng-template>
                        <div
                            class="t-input-wrapper"
                            [class.t-input-wrapper_collapsed]="computedDisabled || readOnly || inputHidden"
                        >
                            <div class="t-ghost">{{ search }}</div>
                            <input
                                #focusableElement
                                automation-id="tui-input-tag__native"
                                type="text"
                                class="t-native"
                                [attr.maxLength]="maxLength"
                                [class.t-native_hidden]="inputHidden"
                                [disabled]="computedDisabled"
                                [id]="id"
                                [ngModel]="search"
                                [placeholder]="placeholder"
                                [readOnly]="readOnly || inputHidden"
                                [tabIndex]="computedFocusable ? 0 : -1"
                                (drop.prevent)="onDrop($any($event))"
                                (keydown.arrowLeft)="onFieldKeyDownArrowLeft($event)"
                                (keydown.backspace)="onFieldKeyDownBackspace($event)"
                                (keydown.enter.prevent)="onFieldKeyDownEnter()"
                                (ngModelChange)="onInput($event)"
                                (paste.prevent)="onPaste($event)"
                            />
                        </div>
                    </div>
                    <div class="t-value-content">
                        <ng-content select="tuiContent" />
                    </div>
                </tui-scrollbar>
            </div>
            <ng-content select="select" />
            <div
                *ngIf="hasRightIcons"
                class="t-icons t-icon-wrapper"
            >
                <ng-container *ngIf="hasCleaner">
                    <tui-icon
                        *polymorpheusOutlet="iconCleaner as src; context: {$implicit: size}"
                        #cleaner
                        automation-id="tui-input-tag__cleaner"
                        tuiAppearance="icon"
                        class="t-cleaner"
                        [icon]="src.toString()"
                        (click.stop)="onCleanerClick()"
                    />
                </ng-container>
                <tui-tooltip
                    *ngIf="showHint"
                    automation-id="tui-input-tag__tooltip"
                    class="t-tooltip"
                    [content]="hintOptions?.content"
                    [describeId]="id"
                />
                <div
                    *ngIf="icon"
                    class="t-icon t-textfield-icon"
                >
                    <tui-icon
                        *polymorpheusOutlet="icon as src; context: {$implicit: size}"
                        tuiAppearance="icon"
                        [icon]="src.toString()"
                    />
                </div>
            </div>
        </div>
        <ng-template #errorIcon>
            <tui-icon
                class="t-error-icon"
                [icon]="icons.error"
            />
        </ng-template>
    </div>
</div>
