<ng-container *ngIf="texts$ | async as texts">
    <span class="t-pages">
        <ng-container *ngIf="showPages">
            {{ texts.pages }}
            <strong class="t-strong">{{ pages }}</strong>
        </ng-container>
    </span>
    <span automation-id="tui-table-pagination__lines-per-page-wrapper">
        {{ texts.linesPerPage }}

        <button
            *ngIf="total !== 0; else zeroTotal"
            tuiLink
            type="button"
            [tuiDropdown]="content"
            [(tuiDropdownOpen)]="open"
        >
            <strong>{{ start + 1 }}–{{ end }}</strong>
        </button>
        <ng-template #zeroTotal>
            <strong>0 - 0</strong>
        </ng-template>
        <ng-template #content>
            <tui-data-list size="s">
                <ng-container *ngFor="let item of items">
                    <button
                        tuiOption
                        class="t-item"
                        (click)="onItem(item)"
                    >
                        <ng-container
                            *polymorpheusOutlet="sizeOptionContent as text; context: {$implicit: item, total: total}"
                        >
                            {{ text }}
                        </ng-container>
                        <tui-icon
                            *ngIf="item === size; else fakeIcon"
                            class="t-checkmark"
                            [icon]="commonIcons.check"
                        />

                        <ng-template #fakeIcon>
                            <span class="t-checkmark"></span>
                        </ng-template>
                    </button>
                </ng-container>
            </tui-data-list>
        </ng-template>
        {{ texts.of }}
        <strong class="t-strong">{{ total }}</strong>
    </span>
    <ng-container *ngIf="spinTexts$ | async as spinTexts">
        <button
            appearance="icon"
            size="xs"
            tuiIconButton
            type="button"
            class="t-back"
            [disabled]="leftDisabled"
            [iconLeft]="icons.decrement"
            (click)="back()"
        >
            {{ spinTexts[0] }}
        </button>
        <button
            appearance="icon"
            size="xs"
            tuiIconButton
            type="button"
            [disabled]="rightDisabled"
            [iconLeft]="icons.increment"
            (click)="forth()"
        >
            {{ spinTexts[1] }}
        </button>
    </ng-container>
</ng-container>
