@import 'taiga-ui-local';

:host {
    display: flex;
    font: var(--tui-font-text-s);
    align-items: center;
    color: var(--tui-text-03);
}

.strong {
    color: var(--tui-text-01);
}

.pages {
    margin-right: auto;
}

.item {
    width: 5.5rem;
    box-sizing: border-box;
}
