@import '@taiga-ui/styles/utils';

:host {
    display: flex;
    font: var(--tui-typography-body-s);
    align-items: center;
    color: var(--tui-text-tertiary);
}

.t-strong {
    color: var(--tui-text-primary);
}

.t-pages {
    margin-inline-end: auto;
}

.t-item {
    min-inline-size: 5.5rem;
    box-sizing: border-box;
}

.t-checkmark {
    min-inline-size: 1rem;
    font-size: 1rem;
    margin-inline-start: auto;
}

.t-button {
    transform: scaleX(var(--tui-inline));

    &_back {
        margin-inline-end: 0.25rem;
        margin-inline-start: 1.5rem;
    }
}
