<ng-container *ngIf="texts$ | async as texts">
    <span class="t-pages">
        <ng-container *ngIf="showPages">
            {{ texts.pages }}
            <strong class="t-strong">{{ pageCount }}</strong>
        </ng-container>
    </span>
    <span
        automation-id="tui-table-pagination__lines-per-page-wrapper"
        class="t-lines-info"
    >
        {{ texts.linesPerPage }}

        <button
            *ngIf="total !== 0; else zeroTotal"
            tuiLink
            type="button"
            [tuiDropdown]="content"
            [(tuiDropdownOpen)]="open"
        >
            <strong>{{ start + 1 }}–{{ end }}</strong>
        </button>
        <ng-template #zeroTotal>
            <strong>0 - 0</strong>
        </ng-template>
        <ng-template #content>
            <tui-data-list size="s">
                <ng-container *ngFor="let item of items">
                    <button
                        tuiOption
                        class="t-item"
                        (click)="onItem(item)"
                    >
                        <ng-container
                            *polymorpheusOutlet="sizeOptionContent as text; context: {$implicit: item, total: total}"
                        >
                            {{ text }}
                        </ng-container>
                        <tui-svg
                            *ngIf="item === size; else fakeIcon"
                            class="t-checkmark"
                            [src]="commonIcons.check"
                        />

                        <ng-template #fakeIcon>
                            <span class="t-checkmark"></span>
                        </ng-template>
                    </button>
                </ng-container>
            </tui-data-list>
        </ng-template>
        {{ texts.of }}
        <strong class="t-strong">{{ total }}</strong>
    </span>
    <button
        *ngIf="showFirstLastPageButtons"
        appearance="icon"
        size="xs"
        tuiIconButton
        type="button"
        class="t-navigation-button"
        [disabled]="firstPageDisabled"
        [iconLeft]="paginationIcons.firstPage"
        (click)="selectFirstPage()"
    >
        {{ texts.firstPage }}
    </button>
    <button
        appearance="icon"
        size="xs"
        tuiIconButton
        type="button"
        class="t-navigation-button"
        [disabled]="previousPageDisabled"
        [iconLeft]="paginationIcons.previousPage"
        (click)="selectPreviousPage()"
    >
        {{ texts.previousPage }}
    </button>
    <button
        appearance="icon"
        size="xs"
        tuiIconButton
        type="button"
        class="t-navigation-button"
        [disabled]="nextPageDisabled"
        [iconLeft]="paginationIcons.nextPage"
        (click)="selectNextPage()"
    >
        {{ texts.nextPage }}
    </button>
    <button
        *ngIf="showFirstLastPageButtons"
        appearance="icon"
        size="xs"
        tuiIconButton
        type="button"
        class="t-navigation-button"
        [disabled]="lastPageDisabled"
        [iconLeft]="paginationIcons.lastPage"
        (click)="selectLastPage()"
    >
        {{ texts.lastPage }}
    </button>
</ng-container>
