<header class="t-header">
    <h2
        automation-id="tui-pdf-viewer__label"
        class="t-title"
    >
        {{ context.label }}
    </h2>
    <div class="t-actions">
        <!-- TODO: Polymorpheus fix type -->
        <ng-container *polymorpheusOutlet="$any(context.actions) as text; context: context">
            {{ text }}
        </ng-container>
    </div>
    <button
        appearance=""
        size="s"
        tuiIconButton
        type="button"
        class="t-close"
        [iconLeft]="icons.close"
        [style.border-radius.%]="100"
        (click)="context.$implicit.complete()"
    >
        {{ closeWord$ | async }}
    </button>
</header>
<section class="t-content">
    <!-- TODO: Polymorpheus fix type -->
    <iframe
        *polymorpheusOutlet="$any(context.content) as content; context: context"
        title="pdf"
        class="t-iframe"
        [src]="content"
    ></iframe>
</section>
