@import 'taiga-ui-local';

:host {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: var(--tui-text-01-night);
    background: #333639;
}

.t-header {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem 0 1.5625rem;
    box-shadow: inset 0 -1px #535659;
}

.t-title {
    margin: 0;
    font: var(--tui-font-text-m);
}

.t-actions {
    display: flex;
    margin-left: auto;
}

.t-close {
    .transition(background);
    margin-left: 0.75rem;
    color: var(--tui-text-01-night);
    background: fade(#fff, 32%);

    &:hover {
        background: fade(#fff, 40%);
    }
}

.t-content {
    height: calc(100% - 4rem);
    overflow: hidden;
}

.t-iframe {
    width: 100%;
    height: 100%;
}

.t-fallback-message {
    .center-all();
}
