<header class="t-header">
    <h2 class="t-title">{{ context.label }}</h2>
    <div
        polymorpheus-outlet
        class="t-actions"
        [content]="context.actions"
        [context]="context"
    ></div>
    <button
        tuiIconButton
        shape="rounded"
        appearance=""
        size="s"
        icon="tuiIconCloseLarge"
        class="t-close"
        [title]="closeWord$ | async"
        (click)="context.$implicit.complete()"
    ></button>
</header>
<section
    polymorpheus-outlet
    class="t-content"
    [content]="context.content"
    [context]="context"
>
    <ng-template let-content>
        <iframe
            class="t-iframe"
            [src]="content"
        ></iframe>
    </ng-template>
</section>
