@import '@taiga-ui/core/styles/taiga-ui-local.less';

[tuiTruncateV='@{tui-version}'] {
    display: -webkit-box;
    letter-spacing: -1rem;
    -webkit-text-fill-color: transparent;
    -webkit-box-orient: block-axis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    inline-size: -webkit-fill-available;

    &[data-lines='1']::before {
        white-space: nowrap;
    }

    &::before {
        content: attr(data-text);
        inline-size: 100%;
        letter-spacing: normal;
        -webkit-text-fill-color: currentColor;
        white-space: normal;
        overflow-wrap: anywhere;
    }
}
