/* stylelint-disable */
// prettier-ignore
tui-avatar-stack {
    display: flex;
    --t-gap: 0.125rem;

    tui-avatar._round {
        mask-image: radial-gradient(circle at var(--t-x) 50%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px));
    }

    &[data-direction='right'] tui-avatar._round {
        --t-x: 100%;

        &:last-child {
            mask-image: none;
        }
    }

    &[data-direction='left'] tui-avatar._round {
        --t-x: 0;

        &:first-child {
            mask-image: none;
        }
    }

    &[data-direction='left'] tui-avatar:not(._round):not(:first-child) {
        mask-image:
            radial-gradient(circle at 0% 100%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px)),
            radial-gradient(circle at 0% 0%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px)),
            linear-gradient(to right, transparent calc(50% + var(--t-gap)), #000 calc(50% + var(--t-gap)));
        mask-position:
            calc(50% - (var(--t-radius) - var(--t-gap)) / 2) calc(-1 * var(--t-gap)),
            calc(50% - (var(--t-radius) - var(--t-gap)) / 2) calc(100% + var(--t-gap)),
            bottom;
    }

    &[data-direction='right'] tui-avatar:not(._round):not(:last-child) {
        mask-image:
            radial-gradient(circle at 150% 100%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px)),
            radial-gradient(circle at 150% 0%, transparent calc(var(--t-radius) + var(--t-gap)), #000 calc(var(--t-radius) + var(--t-gap) + 0.2px)),
            linear-gradient(to left, transparent calc(50% + var(--t-gap)), #000 calc(50% + var(--t-gap)));
        mask-position:
            calc(50% - var(--t-gap)) calc(-1 * var(--t-gap)),
            calc(50% - var(--t-gap)) calc(100% + var(--t-gap)),
            bottom;
    }

    tui-avatar:not(._round) {
        mask-size:
            calc(var(--t-radius) + var(--t-gap)) calc(var(--t-radius) + var(--t-gap)),
            calc(var(--t-radius) + var(--t-gap)) calc(var(--t-radius) + var(--t-gap)),
            100%;
        mask-repeat: no-repeat;
    }

    tui-avatar:not(:last-child) {
        margin-right: calc(var(--t-size) / -2);
    }
}
