@import '@taiga-ui/styles/utils';

:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    inline-size: 21rem;
    block-size: 21rem;

    @media @tui-mobile {
        inline-size: 100%;
    }
}

[tuiButtonGroup] {
    button {
        color: #fff;
    }
}

.card {
    inline-size: 100%;
    padding: 0.75rem;
    color: #fff;
    block-size: 8rem;
}

.money {
    background: #ffdd2d;
    color: #333;
}

tui-pager {
    margin: 0 auto;
    min-block-size: 0.5rem;
}
