/**
 * @name Title
 * @selector [tuiTitle], [tuiSubtitle]
 *
 * @description
 * Basic layout block for titles and subtitles
 * Often used by other more complex elements
 *
 * @attributes
 * data-size — optional size ('s' | 'm' | 'l')
 *
 * @example
 * <h2 tuiTitle>
 *   Title
 *   <span tuiSubtitle>Subtitle</span>
 * </h2>
 *
 * @see-also
 * Label
 */
[tuiTitle] {
    position: relative;
    display: flex;
    min-inline-size: 0;
    flex-direction: column;
    text-align: start;
    gap: 0.25rem;
    margin: 0;
    font: var(--tui-font-text-ui-m);

    &[data-size='s'] {
        gap: 0.125rem;
        font: var(--tui-font-text-s);

        [tuiSubtitle] {
            font: var(--tui-font-text-xs);
        }
    }

    &[data-size='m'] {
        gap: 0.125rem;
        font: var(--tui-font-heading-5);

        [tuiSubtitle] {
            font: var(--tui-font-text-m);
        }
    }

    &[data-size='l'] {
        gap: 0.5rem;
        font: var(--tui-font-heading-3);

        [tuiSubtitle] {
            font: var(--tui-font-text-m);
        }
    }
}

[tuiSubtitle] {
    font: var(--tui-font-text-ui-s);
}
