[tuiSlides] {
    display: grid;
    isolation: isolate;

    &[data-direction='-1'] > * {
        --tui-from: translateX(-2rem);

        &.tui-leave {
            --tui-from: translateX(1rem);
        }
    }

    &[data-direction='1'] > * {
        --tui-from: translateX(2rem);

        &.tui-leave {
            --tui-from: translateX(-1rem);
        }
    }

    > * {
        grid-area: 1 / 1;
        align-self: start;
        mix-blend-mode: plus-lighter;
        animation-name: tuiFade, tuiSlide;
        animation-duration: var(--tui-duration);
        animation-timing-function: ease-in-out;

        --tui-from: translateY(0);

        &.tui-slide:not(.tui-leave) {
            animation-name: none;
        }
    }
}
