:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.custom {
    inline-size: 15rem;
    font:
        normal 2.5rem/1 'SF Pro Display',
        -apple-system,
        system-ui;
}

.display {
    font: bold 2.5rem/1 var(--tui-typography-family-display);
    text-align: center;
    color: var(--tui-text-primary);
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    inline-size: 100%;
}
