<div
    class="t-wrapper"
    (tuiSwipe)="onSwipe()"
>
    <div
        *polymorpheusOutlet="context.content as text; context: context"
        tuiToast
        [iconStart]="context.data?.toString() || ''"
    >
        <tui-shrink-wrap><span [innerHTML]="text"></span></tui-shrink-wrap>
    </div>
    @if (context.closable && !isMobile) {
        <button
            tuiButtonX
            (click.stop.prevent)="context.$implicit.complete()"
        >
            Close
        </button>
    }
</div>
