<div class="t-stops">
    @for (stop of context.stops; track stop) {
        <div
            #stops
            class="t-stop"
            [style.margin-top]="stop"
        ></div>
    }
</div>
<div class="t-sheet">
    @if (context.bar && !context.appearance.includes('fullscreen')) {
        <div class="t-top"></div>
    }
    @if (context.label) {
        <h2
            class="t-heading"
            [id]="context.id"
        >
            <ng-container *polymorpheusOutlet="context.label as label; context: context">
                {{ label }}
            </ng-container>
        </h2>
    }
    <div class="t-content">
        <div
            *polymorpheusOutlet="context.content as text; context: context"
            [innerHTML]="text"
        ></div>
    </div>
</div>
