<div class="t-stops">
    <div
        *ngFor="let stop of context.stops"
        #stops
        class="t-stop"
        [style.margin-top]="stop"
    ></div>
</div>
<div class="t-sheet">
    <div
        *ngIf="context.bar && !context.appearance.includes('fullscreen')"
        class="t-top"
    ></div>
    <h2
        *ngIf="context.label"
        class="t-heading"
        [id]="context.id"
    >
        <ng-container *polymorpheusOutlet="context.label as label; context: context">
            {{ label }}
        </ng-container>
    </h2>
    <div class="t-content">
        <ng-container *polymorpheusOutlet="context.content as text; context: context">
            <div [innerHTML]="text"></div>
            <button
                *ngIf="context.closeable && context.data"
                tuiButton
                type="button"
                class="t-button"
                (click)="context.$implicit.complete()"
            >
                {{ $any(context.data).button }}
            </button>
        </ng-container>
    </div>
</div>
