@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .fullsize(fixed, inset);

    right: -1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20rem var(--tui-elevation-01);
    clip-path: inset(0 1rem 0 0 round 0.75rem 0.75rem 0 0);
    font: var(--tui-font-text-m);
    overflow-y: scroll;
    overscroll-behavior: none;
    scroll-snap-type: y mandatory;

    &._closeable {
        display: block;

        .t-stops {
            display: flex;
        }
    }
}

.t-stops {
    display: none;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.t-stop {
    width: 1rem;
    height: 1rem;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

.t-sheet {
    width: calc(100% - 1rem);
    box-sizing: border-box;
    padding: 0 1rem;
    border-radius: 0.75rem 0.75rem 0 0;
    margin-top: auto;
    background: var(--tui-elevation-01);
    box-shadow: var(--tui-shadow);
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@supports (-moz-appearance: none) {
    .t-sheet_small {
        scroll-snap-align: end;
    }
}

.t-top {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 1.5rem;
    background: var(--tui-elevation-01);

    &:after {
        position: absolute;
        top: 0.5rem;
        left: 50%;
        width: 2rem;
        height: 0.25rem;
        border-radius: 1rem;
        background: var(--tui-base-09);
        content: '';
        opacity: 0.3;
        transform: translateX(-50%);
    }
}

.t-heading {
    position: sticky;
    z-index: 1;
    top: 1.5rem;
    display: flex;
    padding-bottom: 1rem;
    margin: 0;
    background: var(--tui-elevation-01);
    font: var(--tui-font-heading-6);

    &:last-child {
        margin-bottom: -0.75rem;
    }

    &:after {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 1px;
        background: var(--tui-base-03);
        content: '';
        opacity: 0;
    }

    :host._stuck &:after {
        opacity: 1;
    }
}

.t-close {
    right: -0.25rem;
    flex-shrink: 0;
    margin-left: auto;
}

.t-content {
    position: relative;
    isolation: isolate;

    &:nth-child(3) {
        margin-top: 1rem;
    }
}

.t-footer {
    height: 1rem;
    background: var(--tui-elevation-01);
    scroll-snap-align: end;
    scroll-snap-stop: always;
}
