[tuiIconBadge] {
    &::before {
        content: '';
        position: absolute;
        right: 0.143em;
        bottom: 0.143em;
        display: var(--t-icon-badge, none);
        inline-size: 0.57em;
        block-size: 0.57em;
        transform: translate(50%, 50%);
        mask: var(--t-icon-badge) no-repeat center/contain;
        background: currentColor;
    }

    &[style*='--t-icon-badge:']::after {
        mask-image:
            var(--t-icon),
            radial-gradient(circle at bottom 0.1em right 0.1em, transparent calc(0.4em - 0.5px), #000 0.4em);
        mask-composite: intersect;
    }
}
