@import 'taiga-ui-local';

:host {
    .transition(background);
    height: var(--tui-height-s);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: var(--tui-radius-xs);
    background: var(--tui-base-01);

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: -0.75rem;
        z-index: -1;
    }

    &:before {
        width: 1rem;
        border-bottom: 1px solid var(--tui-base-04);
    }

    &:after {
        top: -1rem;
        bottom: 1rem;
        border-left: 1px solid var(--tui-base-04);
    }

    &._expandable {
        &:hover {
            cursor: pointer;
            background: var(--tui-base-02);
        }
    }
}

tui-svg {
    position: relative;
    background: inherit;
    z-index: 1;
}
