@import '@taiga-ui/styles/utils';

.fade {
    display: flex;
    inline-size: 17rem;
    block-size: 10rem;
    font: var(--tui-typography-body-l);
    overflow: auto;
}

// Required by scroll-controls to calculate bars position
.wrapper {
    block-size: fit-content;
    view-timeline:
        --t-scrollbar-x x,
        --t-scrollbar-y y;
}
