@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .center-all();

    display: block;
    overflow: hidden;
    padding: 1.25rem 0.75rem 0 1.5rem;
    background: var(--tui-base-01);
    word-break: break-word;

    &:not(._ios) {
        max-width: 17.5rem;
        border-radius: 0.125rem;
        box-shadow: 0 1.5rem 1.5rem 0 fade(#000, 32%);
        text-align: left;
    }

    &._ios {
        max-width: 16.875rem;
        padding: 1.5rem 0 0;
        border-radius: 0.75rem;
        text-align: center;
    }
}

.t-heading {
    font-size: 1rem;

    :host._ios & {
        font-size: 1.125rem;
        font-weight: bold;
    }
}

.t-content {
    padding-right: 0.75rem;
    margin-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;

    :host._ios & {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        margin-top: 0.25rem;
    }
}

.t-button {
    border-radius: 0;

    :host._ios & {
        width: 100%;
        height: 2.625rem;
        border-top: #b8b8b8 1px solid;

        &:first-of-type {
            margin-top: 1.125rem;
        }
    }

    :host:not(._ios) & {
        margin: 0.5rem 0 0.5rem 0.5rem;
        float: right;

        &_column {
            display: block;
            margin-left: auto;
            float: none;
        }
    }
}
