@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: relative;
    display: flex;
    isolation: isolate;
    overflow: auto;

    &:not(._legacy) {
        /* stylelint-disable*/
        scrollbar-width: none;
        -ms-overflow-style: none;
        /* stylelint-enable*/

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            background: transparent;
            width: 0;
            height: 0;
        }
    }

    &._legacy {
        .customize-scroll();

        //noinspection CssInvalidPropertyValue
        overflow: overlay;
    }
}

.t-content {
    isolation: isolate;
    flex: 1;
    flex-basis: auto;
    width: 100%;
    height: max-content;

    &_delegated {
        height: 100%;
    }
}

.t-bars {
    color: var(--tui-text-01);
}
