@import '@taiga-ui/styles/utils';

@scroll-width: 0.75rem;
@scroll-width-large: 0.875rem;
@scroll-min-size: 1.25rem;

:host {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    inset-inline-start: 0;
    min-inline-size: calc(100% - 1px);
    min-block-size: calc(100% - 1px);
    max-inline-size: calc(100% - 1px);
    max-block-size: calc(100% - 1px);
    margin-inline-end: calc(-100% + 1px);
    pointer-events: none;
    overflow: hidden;
    color: var(--tui-text-primary);
}

::ng-deep [tuiScrollable] {
    .scrollbar-hidden();
}

.t-bar {
    position: absolute;
    inset-inline-end: 0;
    pointer-events: auto;

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiFade;
    }

    &_vertical {
        inset-block: 0.25rem;
        inline-size: @scroll-width-large;
    }

    &_horizontal {
        inset-block-end: 0;
        inset-inline-start: 0;
        block-size: @scroll-width-large;
    }

    &_has-horizontal {
        inset-block-end: @scroll-width - 0.25rem;
    }

    &_has-vertical {
        inset-inline-end: @scroll-width - 0.25rem;
    }
}

.t-thumb {
    .transition(all, 0.15s);

    position: absolute;
    border-radius: 6.25rem;
    border: 0.25rem solid transparent;
    cursor: pointer;
    pointer-events: auto;
    user-select: none;
    background: currentColor;
    background-clip: content-box;
    box-sizing: border-box;
    transition-property: width, height, opacity;
    opacity: 0.2;

    &:hover {
        opacity: 0.24;
    }

    &:active {
        opacity: 0.48;
    }

    .t-bar_vertical & {
        inset-inline-end: 0;
        inline-size: @scroll-width;
        min-block-size: @scroll-min-size;
    }

    .t-bar_vertical:hover &,
    .t-bar_vertical &:active {
        inline-size: @scroll-width-large;
    }

    .t-bar_horizontal & {
        inset-block-end: 0;
        block-size: @scroll-width;
        min-inline-size: @scroll-min-size;
    }

    .t-bar_horizontal:hover &,
    .t-bar_horizontal &:active {
        block-size: @scroll-width-large;
    }
}
