@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    position: relative;
    display: flex;
    isolation: isolate;
    overflow: auto;

    &._native-hidden {
        .scrollbar-hidden();
    }

    .t-hover-mode:not(:active) {
        .transition(opacity);

        opacity: 0;
    }

    &:hover .t-hover-mode {
        .transition(opacity);

        opacity: 1;
    }
}

.t-content {
    isolation: isolate;
    flex: 1;
    flex-basis: auto;
    width: 100%;
    height: max-content;

    &_delegated {
        height: 100%;
    }
}

.t-bars {
    color: var(--tui-text-primary);
}
