@if (nativeScrollbar) {
} @else {
    @if (refresh$ | async; as bars) {
        @if (bars[0]) {
            <div
                tuiAnimated
                class="t-bar t-bar_vertical"
                [class.t-bar_has-horizontal]="bars[1]"
                (mousedown.capture.prevent)="(0)"
            >
                <div
                    tuiScrollbar="vertical"
                    class="t-thumb"
                ></div>
            </div>
        }
        @if (bars[1]) {
            <div
                tuiAnimated
                class="t-bar t-bar_horizontal"
                [class.t-bar_has-vertical]="bars[0]"
                (mousedown.capture.prevent)="(0)"
            >
                <div
                    tuiScrollbar="horizontal"
                    class="t-thumb"
                ></div>
            </div>
        }
    }
}
