<tui-doc-page
    header="Switch"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        A switch component that is able to imitate native control on mobile platforms.

        <tui-doc-example
            id="platforms"
            heading="Platforms"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        >
            <tui-notification class="tui-space_bottom-4">
                Use
                <code>--tui-accent</code>
                CSS variable to customize color of native control emulation
            </tui-notification>
        </tui-doc-example>
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
