@import '@taiga-ui/styles/utils';

@keyframes tuiModalBackdrop {
    from {
        backdrop-filter: none;
    }

    to {
        backdrop-filter: brightness(0.25);
    }
}

@keyframes tuiDummy {
    to {
        color: currentColor;
    }
}

tui-modal:where(*&) {
    .scrollbar-hidden();

    position: fixed;
    inset: 0;
    outline: none;
    overflow: auto;
    overscroll-behavior: none;
    transform: translateY(var(--t-root-top));

    // Safari < 15.4 and Chromium < 111
    @supports not (selector(:has(*))) or not (selector(:nth-child(1 of *))) {
        &:last-of-type {
            &:not(.tui-leave)::before {
                backdrop-filter: brightness(0.25);
            }

            &.tui-enter,
            &.tui-leave {
                animation-name: tuiDummy;
            }

            &.tui-enter::before,
            &.tui-leave::before {
                animation-name: tuiModalBackdrop;
            }
        }
    }

    @supports (selector(:has(*))) {
        &:nth-last-child(1 of tui-modal:not(.tui-leave):not(:has(.tui-backdrop-hidden)))::before {
            backdrop-filter: brightness(0.25);
        }

        &:nth-last-child(1 of tui-modal:not(:has(.tui-backdrop-hidden))):is(.tui-enter, .tui-leave) {
            animation-name: tuiDummy;
        }

        &:nth-last-child(1 of tui-modal:not(:has(.tui-backdrop-hidden))):is(.tui-enter, .tui-leave)::before {
            animation-name: tuiModalBackdrop;
        }
    }

    &::before {
        .transition(backdrop-filter);

        content: '';
        position: sticky;
        inset: 0;
        display: block;
        block-size: 200%;
        transition-timing-function: linear;
        animation-duration: var(--tui-duration);
        animation-timing-function: cubic-bezier(0.14, 0.52, 0.35, 0.84);
        perspective: 10rem;
    }

    &.tui-leave::before {
        animation-direction: reverse;
    }

    > [tuiScrollRef] {
        .scrollbar-hidden();

        position: sticky;
        inset: 0;
        display: grid;
        place-items: center;
        block-size: 100%;
        overflow: auto;
        overscroll-behavior: none;

        > .t-scrollbars {
            position: fixed;
            inset: 0;
            margin: 0;
            color: #747474;

            .t-bar_horizontal,
            .t-bar_vertical .t-thumb[style*='height: 100%'] {
                display: none;
            }
        }

        > .tui-enter + .t-scrollbars .t-bar_vertical,
        > .tui-leave + .t-scrollbars .t-bar_vertical {
            display: none;
        }
    }
}
