<tui-doc-page
    header="Link"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        Link component. It has focus highlight and can be customized with an icon

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample: 'html,ts'"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
