<tui-doc-page header="Link" package="CORE">
    <ng-template pageTab>
        <p i18n>
            Link component. It has focus highlight and can be customized with an
            icon
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-link-example-1></tui-link-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="with-icon"
            i18n-heading
            heading="With icon"
            [content]="example2"
        >
            <tui-link-example-2></tui-link-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="modes"
            i18n-heading
            heading="Modes"
            [content]="example3"
        >
            <tui-link-example-3></tui-link-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <ng-container *ngIf="!pseudo; else pseudoLink">
                <a
                    tuiLink
                    [mode]="mode"
                    [icon]="icon"
                    [iconAlign]="iconAlign"
                    [iconRotated]="iconRotated"
                    >Link example</a
                >
            </ng-container>
            <ng-template #pseudoLink>
                <button
                    tuiLink
                    [mode]="mode"
                    [icon]="icon"
                    [iconAlign]="iconAlign"
                    [pseudo]="true"
                    [iconRotated]="iconRotated"
                >
                    It is a pseudo-link because it is actually a button
                </button>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="mode"
                documentationPropertyMode="input"
                documentationPropertyType="TuiLinkMode | null"
                [documentationPropertyValues]="modeValues"
                [(documentationPropertyValue)]="mode"
            >
                Link mode
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="icon"
                documentationPropertyMode="input"
                documentationPropertyType="string | null"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="icon"
            >
                An icon. It can be stringified svg or a name of icon registered
                in
                <a tuiLink routerLink="/tui-svg-service"
                    ><code>SvgService</code></a
                >
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="iconAlign"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="iconAlignValues"
                [(documentationPropertyValue)]="iconAlign"
            >
                Icon align to text, <code>right</code> by default
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="iconRotated"
                documentationPropertyType="boolean"
                documentationPropertyMode="input"
                [(documentationPropertyValue)]="iconRotated"
            >
                Rotate icon 180 deg (for dropdowns)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pseudo"
                documentationPropertyType="boolean"
                documentationPropertyMode="input"
                [(documentationPropertyValue)]="pseudo"
            >
                Pseudo-link
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiLinkModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
