<tui-doc-page
    header="Message"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Message component is used to display message block.</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <span
                tuiMessage
                [appearance]="appearance.appearance"
            >
                Message
            </span>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tbody
                #appearance
                tuiDocAppearance
                [hiddenOptions]="['state', 'focus', 'mode']"
            ></tbody>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
