@import '@taiga-ui/styles/utils';

:host {
    .center-all();

    display: block;
    background: var(--tui-background-base);
    word-break: break-word;
    overflow: hidden;
    padding: 1.25rem 0.75rem 0 1.5rem;

    &:not(._ios) {
        max-inline-size: 17.5rem;
        border-radius: 0.125rem;
        text-align: start;
        box-shadow: 0 1.5rem 1.5rem 0 fade(#000, 32%);
    }

    &._ios {
        max-inline-size: 16.875rem;
        padding: 1.5rem 0 0;
        border-radius: 0.75rem;
        text-align: center;
    }
}

.t-heading {
    font-size: 1rem;

    :host._ios & {
        font-weight: bold;
        font-size: 1.125rem;
    }
}

.t-content {
    margin-block-start: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-inline-end: 0.75rem;

    :host._ios & {
        margin-block-start: 0.25rem;
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.5rem;
    }
}

.t-button {
    border-radius: 0;

    :host._ios & {
        border-block-start: #b8b8b8 1px solid;
        block-size: 2.625rem;
        inline-size: 100%;

        &:first-of-type {
            margin-block-start: 1.125rem;
        }
    }

    :host:not(._ios) & {
        margin: 0.5rem 0 0.5rem 0.5rem;
        float: right;

        // Safari 15+
        @supports (float: inline-end) {
            float: inline-end;
        }

        &_column {
            display: block;
            float: none;
            margin-inline-start: auto;
        }
    }
}
