@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    gap: 1rem;

    * {
        box-shadow: var(--tui-shadow-small);
        font-weight: bold;
        text-align: center;
    }
}

[tuiSurface] {
    padding: 1.25rem;
    border-radius: var(--tui-radius-l);
}
