@import '@taiga-ui/styles/utils';

.date-picker();

:host {
    display: block;
    inline-size: 20.75rem;
    // TODO: investigate problem in mobile calendar
    /* stylelint-disable-next-line */
    max-inline-size: 100vw;

    &._ios {
        inline-size: 22.625rem;

        .t-row {
            block-size: 3.125rem;
            font-size: 1.0625rem;
        }

        .t-cell[data-range='start'],
        .t-cell[data-range='end'],
        .t-cell[data-range='active'] {
            font-weight: 600;
        }
    }
}

.t-row {
    block-size: 3rem;
    justify-content: space-between !important;
    font-family: inherit;
    font-size: 1.125rem;
    padding: 0.125rem;
    box-sizing: border-box;

    &:first-child .t-cell:not(.t-cell_empty) ~ .t-cell_empty,
    &:last-child .t-cell_empty {
        display: none;
    }

    &:last-child .t-cell:not(.t-cell_empty) ~ .t-cell_empty {
        display: flex;
    }
}

.t-cell {
    inline-size: 2.5rem;
    block-size: 2.5rem;
    border-radius: 100%;
    overflow: hidden;
    mask: none;
    border: none;
    text-decoration: none;

    &_empty {
        visibility: hidden;
    }

    &_today {
        &::after {
            content: '•';
            text-align: center;
            line-height: 4rem;
            font-size: 1.5rem;
            color: var(--tui-text-action);
        }

        &[data-range='start']::after,
        &[data-range='end']::after,
        &[data-range='active']::after {
            color: inherit;
        }
    }

    &[data-range='start'],
    &[data-range='end'],
    &[data-range='active'] {
        font-weight: 500;
    }

    &::after {
        mask: none;
    }
}
