.wrapper {
    height: 6.25rem;
}

.bars {
    height: 12.5rem;
    width: 6.25rem;
    margin-bottom: 3.125rem;
    box-shadow: 0 1px var(--tui-border-normal);
    transform-origin: bottom left;
    transform: rotate(90deg) translate(-12.5rem, 0);

    --tui-chart-categorical-00: linear-gradient(#ffc500, #c21500);
    --tui-chart-categorical-01: linear-gradient(#26a0da, #314755);
    --tui-chart-categorical-02: linear-gradient(#f64f59, #c471ed, #12c2e9);
    --tui-chart-categorical-03: linear-gradient(#c94b4b, #4b134f);
    --tui-chart-categorical-04: linear-gradient(#114357, #f29492);
}
