.wrapper {
    height: 6.25rem;
}

.bars {
    height: 12.5rem;
    width: 6.25rem;
    margin-bottom: 3.125rem;
    box-shadow: 0 1px var(--tui-base-03);
    transform-origin: bottom left;
    transform: rotate(90deg) translate(-12.5rem, 0);

    --tui-chart-0: linear-gradient(#ffc500, #c21500);
    --tui-chart-1: linear-gradient(#26a0da, #314755);
    --tui-chart-2: linear-gradient(#f64f59, #c471ed, #12c2e9);
    --tui-chart-3: linear-gradient(#c94b4b, #4b134f);
    --tui-chart-4: linear-gradient(#114357, #f29492);
}
