@import '../../../core/styles/taiga-ui-local';

:host {
    display: block;
}

.t-header {
    font: var(--tui-font-text-s);
    font-weight: bold;
}

.t-code {
    position: relative;
    margin: 0;
    white-space: normal;

    &:hover .t-code-actions,
    &:focus-visible .t-code-actions {
        opacity: 1;
    }
}

.t-code + .t-code {
    margin-top: 1rem;
}

.t-code-actions {
    position: absolute;
    top: 0.875rem;
    right: 2rem;
    display: flex;
    opacity: 0;
    gap: 0.5rem;
    flex-direction: row-reverse;
}

// highlightjs added class
.hljs:not(:empty) {
    .customize-scroll();
    font: var(--tui-font-text-m);
    padding: 1.5rem 2rem;
    font-family: monospace;
    background: var(--tui-clear);
    word-wrap: break-word;
    white-space: pre-wrap;

    :host._has-filename & {
        border-radius: 0.75rem;
    }

    :host-context(tui-root._mobile) & {
        padding: 1rem;
    }
}
