@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='accent'] {
    background: var(--tui-accent);
    color: var(--tui-accent-text);

    .appearance-hover({
        background: var(--tui-accent-hover);
    });

    .appearance-active({
        background: var(--tui-accent-active);
    });
}
