@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='close'] {
    color: var(--tui-text-03);
    background: var(--tui-neutral-bg);

    .appearance-hover({
        background: var(--tui-neutral-bg-hover);
    });

    .appearance-active({
        background: var(--tui-neutral-bg-active);
    });
}
