@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='icon'] {
    color: var(--tui-text-03);

    .appearance-hover({
        color: var(--tui-text-02);
    });

    .appearance-active({
        color: var(--tui-text-01);
    });
}
