[tuiAppearance][data-appearance='link'] {
    color: var(--tui-link);

    .appearance-hover({
        color: var(--tui-link-hover);
    });

    .appearance-active({
        color: var(--tui-link-hover);
    });
}
