@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='opposite'] {
    --tui-focus: rgba(255, 255, 255, 0.64);
    background: #000;
    color: #fff;

    .appearance-hover({
        background: #333;
    });

    .appearance-active({
        background: #5c636b;
    });

    [tuiTheme='night'] & {
        --tui-focus: rgba(51, 51, 51, 0.48);
        color: rgba(0, 0, 0, 0.8);
        background: #fff;

        .appearance-hover({
            background: #f3F4f6;
        });

        .appearance-active({
            background: #eaecee;
        });
    }
}
