@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='outline'],
[tuiAppearance][data-appearance='whiteblock'] {
    color: var(--tui-link);
    box-shadow: inset 0 0 0 1px var(--t-bs, var(--tui-base-04));

    .appearance-hover({
        background: var(--tui-clear);
        --t-bs: var(--tui-base-05);
    });

    .appearance-active({
        background: var(--tui-clear);
        --t-bs: var(--tui-base-06);
    });

    &:checked {
        box-shadow: inset 0 0 0 2px var(--t-bs, var(--tui-primary));

        .appearance-hover({
            --t-bs: inset 0 0 0 2px var(--tui-primary-hover);
        });

        .appearance-active({
            --t-bs: inset 0 0 0 2px var(--tui-primary-active);
        });
    }

    &:invalid {
        box-shadow: inset 0 0 0 1px var(--tui-error-bg-hover);
    }

    &:checked:invalid {
        box-shadow: inset 0 0 0 2px var(--tui-error-fill);
    }
}

[tuiAppearance][data-appearance='whiteblock'] {
    color: var(--tui-text-01);
}
