@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='outline'],
[tuiAppearance][data-appearance='whiteblock'] {
    background: transparent;
    color: var(--tui-link);
    box-shadow: inset 0 0 0 1px var(--tui-base-04);

    .appearance-hover({
        background: var(--tui-clear);
        box-shadow: inset 0 0 0 1px var(--tui-base-05);
        cursor: pointer;
    });

    .appearance-active({
        background: var(--tui-clear);
        box-shadow: inset 0 0 0 1px var(--tui-base-06);
    });

    &:checked,
    &._checked {
        box-shadow: inset 0 0 0 2px var(--tui-primary);

        .appearance-hover({
            box-shadow: inset 0 0 0 2px var(--tui-primary-hover);
        });

        .appearance-active({
            box-shadow: inset 0 0 0 2px var(--tui-primary-active);
        });
    }
}

[tuiAppearance][data-appearance='whiteblock'] {
    color: var(--tui-text-01);
}
