@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='primary'] {
    background: var(--tui-primary);
    color: var(--tui-primary-text);

    .appearance-hover({
        background: var(--tui-primary-hover);
    });

    .appearance-active({
        background: var(--tui-primary-active);
    });
}
