@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='primary'] {
    --t-bg: var(--tui-primary);

    background: var(--t-bg);
    color: var(--tui-text-primary-on-accent-1);

    &:invalid {
        background: var(--tui-error-fill);
    }

    .appearance-hover({
        --t-bg: var(--tui-primary-hover);
    });

    .appearance-active({
        --t-bg: var(--tui-primary-active);
    });
}
