@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='error'] {
    color: var(--tui-text-01);
    background: var(--tui-error-bg);

    .appearance-hover({
        background: var(--tui-error-bg-hover);
    });

    .appearance-active({
        background: var(--tui-error-bg-hover);
    });
}

[tuiAppearance][data-appearance='success'] {
    color: var(--tui-text-01);
    background: var(--tui-success-bg);

    .appearance-hover({
        background: var(--tui-success-bg-hover);
    });

    .appearance-active({
        background: var(--tui-success-bg-hover);
    });
}

[tuiAppearance][data-appearance='warning'] {
    color: var(--tui-text-01);
    background: var(--tui-warning-bg);

    .appearance-hover({
        background: var(--tui-warning-bg-hover);
    });

    .appearance-active({
        background: var(--tui-warning-bg-hover);
    });
}

[tuiAppearance][data-appearance='info'] {
    color: var(--tui-text-01);
    background: var(--tui-info-bg);

    .appearance-hover({
        background: var(--tui-info-bg-hover);
    });

    .appearance-active({
        background: var(--tui-info-bg-hover);
    });
}

[tuiAppearance][data-appearance='neutral'] {
    color: var(--tui-text-01);
    background: var(--tui-neutral-bg);

    .appearance-hover({
        background: var(--tui-neutral-bg-hover);
    });

    .appearance-active({
        background: var(--tui-neutral-bg-hover);
    });
}
