@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='error'],
[tuiAppearance][data-appearance='success'],
[tuiAppearance][data-appearance='warning'],
[tuiAppearance][data-appearance='info'],
[tuiAppearance][data-appearance='neutral'] {
    background: var(--t-bg);

    &:checked {
        color: var(--tui-text-01-night);
    }
}

[tuiAppearance][data-appearance='error'] {
    --t-bg: var(--tui-error-bg);

    color: var(--tui-error-fill);

    .appearance-hover({
        --t-bg: var(--tui-error-bg-hover);
    });

    .appearance-active({
        --t-bg: var(--tui-error-bg-hover);
    });

    &:checked {
        background: var(--tui-error-fill);
    }
}

[tuiAppearance][data-appearance='success'] {
    --t-bg: var(--tui-success-bg);

    color: var(--tui-success-fill);

    .appearance-hover({
        --t-bg: var(--tui-success-bg-hover);
    });

    .appearance-active({
        --t-bg: var(--tui-success-bg-hover);
    });

    &:checked {
        background: var(--tui-success-fill);
    }
}

[tuiAppearance][data-appearance='warning'] {
    --t-bg: var(--tui-warning-bg);

    color: var(--tui-warning-fill);

    .appearance-hover({
        --t-bg: var(--tui-warning-bg-hover);
    });

    .appearance-active({
        --t-bg: var(--tui-warning-bg-hover);
    });

    &:checked {
        background: var(--tui-warning-fill);
    }
}

[tuiAppearance][data-appearance='info'] {
    --t-bg: var(--tui-info-bg);

    color: var(--tui-info-fill);

    .appearance-hover({
        --t-bg: var(--tui-info-bg-hover);
    });

    .appearance-active({
        --t-bg: var(--tui-info-bg-hover);
    });

    &:checked {
        background: var(--tui-info-fill);
    }
}

[tuiAppearance][data-appearance='neutral'] {
    --t-bg: var(--tui-neutral-bg);

    color: var(--tui-neutral-fill);

    .appearance-hover({
        --t-bg: var(--tui-neutral-bg-hover);
    });

    .appearance-active({
        --t-bg: var(--tui-neutral-bg-hover);
    });

    &:checked {
        background: var(--tui-neutral-fill);
    }
}
