@import '../../taiga-ui-local.less';

[tuiAppearance][data-appearance='textfield'] {
    .transition(~'box-shadow, background, outline-color');

    --t-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);

    background-color: var(--tui-background-base);
    color: var(--tui-text-primary);
    box-shadow: var(--t-shadow);
    outline: 1px solid var(--tui-border-normal);
    outline-offset: -1px;
    border: none;

    .appearance-hover({
        --t-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.16);
    });

    .appearance-focus({
        box-shadow: none;
        outline: 0.125rem solid var(--tui-background-accent-1);
        outline-offset: -0.125rem;
    });

    .appearance-disabled({
        box-shadow: none;
    });

    &[data-mode='invalid'][data-mode='invalid'],
    &:invalid:not([data-mode]) {
        outline-color: var(--tui-status-negative);
    }

    &[data-mode='readonly'] {
        box-shadow: none;
        outline-color: var(--tui-border-normal) !important;
    }

    &:-webkit-autofill {
        -webkit-text-fill-color: var(--tui-text-primary) !important;
        border-color: var(--tui-service-autofill-background);
        box-shadow: 0 0 0 100rem var(--tui-service-autofill-background) inset !important;
    }
}

[tuiTheme='dark'] [tuiAppearance][data-appearance='textfield'],
[tuiTheme='dark'][tuiAppearance][data-appearance='textfield'] {
    background-color: var(--tui-background-neutral-1);

    .appearance-hover({
        background-color: var(--tui-background-neutral-1-hover);
    });

    .appearance-focus({
        background-color: transparent !important;
    });
}
