@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    --t-size: 1.5rem;

    .transition(~'background, box-shadow');

    width: var(--t-size);
    height: var(--t-size);
    border-radius: 100%;
    margin: 0;
    color: var(--tui-primary-text);
    cursor: pointer;

    &:disabled._readonly {
        opacity: 1;
    }

    &:before {
        .fullsize();
        .transition(transform);

        border-radius: 100%;
        background: currentColor;
        content: '';
        transform: scale(0);
    }

    &:checked:before {
        transform: scale(0.5);
    }

    &[data-size='s'] {
        --t-size: 1rem;
    }
}
