<tui-doc-page header="DataList" package="CORE">
    <ng-template pageTab>
        <p i18n><code>DataList</code> allows to make lists or menus</p>

        <tui-doc-example id="custom" heading="Custom list" [content]="example4">
            <tui-data-list-example-4></tui-data-list-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="links"
            i18n-heading
            heading="Links"
            [content]="example1"
        >
            <tui-notification i18n class="tui-space_bottom-3">
                Import <code>TuiArrowModule</code> if you need a rotated arrow
            </tui-notification>
            <tui-data-list-example-1></tui-data-list-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="submenu"
            i18n-heading
            heading="Submenu"
            [content]="example2"
        >
            <tui-data-list-example-2></tui-data-list-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="control"
            heading="Form control"
            [content]="example3"
        >
            <tui-data-list-example-3></tui-data-list-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <h2>DataList</h2>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="role"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDataListRole"
            >
                Native accessability role — <code>listbox</code
                ><em>(default)</em> or <code>menu</code> for common usage
            </ng-template>
        </tui-doc-documentation>

        <h2>OptGroup</h2>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="label"
                documentationPropertyMode="input"
                documentationPropertyType="string"
            >
                Group label
            </ng-template>
        </tui-doc-documentation>

        <h2>Option</h2>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="role"
                documentationPropertyMode="input"
                documentationPropertyType="TuiOptionRole"
            >
                Native accessability role. Set <code>aria-checked</code> for all
                roles except <code>menuitem</code> (see sample)
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiDataListModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
