@import 'taiga-ui-local';

:host {
    .createStackingContext();
    font: var(--tui-font-text-m);
    display: block;
}

.outline {
    .fullsize();
    border-radius: var(--tui-radius-m);
    pointer-events: none;
}

.wrapper {
    position: relative;
    height: 100%;
    max-height: inherit;
    min-height: 10rem;
    cursor: text;
    overflow: hidden;
}

.toolbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.placeholder {
    .textfield-placeholder();
    position: absolute;
    left: 1rem;
    bottom: -2.25rem;
    width: 95%;
    font-size: 0.9375rem;

    &_raised {
        width: 110%;
    }
}

.example-text {
    position: absolute;
    left: 1rem;
    bottom: -3.125rem;
    color: var(--tui-base-06);
    letter-spacing: normal;
    text-transform: none;

    &_light {
        color: var(--tui-text-03-night);
    }

    &_dark {
        color: var(--tui-text-03);
    }
}

.scrollbar {
    display: flex;
    max-height: inherit;
    border-top: 74px solid transparent;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
}

.editor {
    display: block;
    min-height: 5.375rem;
    border: none;

    ::ng-deep > {
        .ProseMirror {
            padding: 0 1rem;
            height: 100%;
            outline: none;
        }

        .ProseMirror {
            white-space: pre-wrap;
        }

        p:first-child {
            margin-top: 0px;
        }

        blockquote {
            margin: 0 0 0 40px;
            border: none;
            padding: 0px;
            border-left: 1px solid #cbcfd3;
            padding-left: 17px;
        }

        table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            margin: 0;
            overflow: hidden;

            td,
            th {
                min-width: 1em;
                border: 2px solid #ced4da;
                padding: 3px 5px;
                vertical-align: top;
                box-sizing: border-box;
                position: relative;

                > * {
                    margin-bottom: 0;
                }
            }

            th {
                font-weight: bold;
                text-align: left;
                background-color: #f1f3f5;
            }

            .selectedCell:after {
                z-index: 2;
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(200, 200, 255, 0.4);
                pointer-events: none;
            }

            .column-resize-handle {
                position: absolute;
                right: -2px;
                top: 0;
                bottom: -2px;
                width: 4px;
                background-color: #adf;
                pointer-events: none;
            }

            .tableWrapper {
                overflow-x: auto;
            }

            .resize-cursor {
                cursor: ew-resize;
                cursor: col-resize;
            }
        }

        ul,
        ol {
            list-style-type: none;
            margin: 16px 16px 16px 24px;
            padding: 0;
        }

        li {
            margin: 16px 0;
        }

        li p {
            display: inline-block;
            margin: 0 auto;
        }

        ul li:before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            margin: 0 14px 1px -22px;
            background-color: #ffdd2d;
        }

        ol {
            counter-reset: counter;
        }

        ol li:before {
            content: counter(counter) '.';
            width: 24px;
            margin: 0 12px 0 -24px;
            counter-increment: counter;
            color: #909090;
        }

        pre {
            background: #0d0d0d;
            color: #fff;
            font-family: 'JetBrainsMono', monospace;
            padding: 0.75rem 1rem;
            border-radius: 0.5rem;

            code {
                color: inherit;
                padding: 0;
                background: none;
                font-size: 0.8rem;
                box-shadow: none;
            }
        }

        hr {
            border: none;
            border-top: 1px solid #e7e8ea;
            margin: 16px 0;
        }
    }
}
