.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    background-color: var(--tui-background-neutral-1);
    overflow: hidden;
}

.circle {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    touch-action: none;
    background-color: var(--tui-chart-categorical-01);
    box-shadow: 0.25rem 0.25rem 0.5rem 0px rgba(34, 60, 80, 0.2);
    cursor: move;
    will-change: transform;
}
