<tui-doc-page
    header="Card"
    package="ADDON-COMMERCE"
    type="components"
>
    <ng-template pageTab>
        <p>Customizable card logo</p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="example1"
        >
            <tui-card-example-1></tui-card-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            heading="Sizes"
            [content]="example2"
        >
            <tui-card-example-2></tui-card-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="best"
            heading="A cool one"
            [content]="example3"
        >
            <tui-card-example-3></tui-card-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-card
                class="logo"
                [active]="active"
                [brandLogo]="brandLogo"
                [cardNumber]="cardNumber"
                [paymentSystem]="paymentSystem"
                [size]="size"
            ></tui-card>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="active"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="active"
            >
                Active state
            </ng-template>
            <ng-template
                documentationPropertyName="brandLogo"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="brandLogoVariants"
                [(documentationPropertyValue)]="brandLogo"
            >
                Bank logo
            </ng-template>
            <ng-template
                documentationPropertyName="cardNumber"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="cardNumber"
            >
                Last four card number
            </ng-template>
            <ng-template
                documentationPropertyName="paymentSystem"
                documentationPropertyMode="input"
                documentationPropertyType="TuiPaymentSystem | null"
                [documentationPropertyValues]="paymentSystemVariants"
                [(documentationPropertyValue)]="paymentSystem"
            >
                Payment system
            </ng-template>
            <ng-template
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeS"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
    </ng-template>
    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import
                    <code>TuiCardModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>

            <li>
                Set card styles with
                <code>color</code>
                ,
                <code>background-color</code>
                ,
                <code>background-image</code>
                :

                <tui-doc-code
                    filename="myComponent.style.less"
                    [code]="exampleCustomizeStyles"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
