<tui-doc-page
    header="SheetDialog"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template pageTab>
        A mobile draggable sheet dialog

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <button
                tuiButton
                type="button"
                (click)="toggle()"
            >
                Click
            </button>
            <button
                tuiButton
                type="button"
                class="tui-space_left-4"
                (longtap)="toggle()"
            >
                Long tap
            </button>
            <ng-template #template>
                <div class="label">
                    <tui-avatar size="m">KG</tui-avatar>
                    <label tuiTitle>
                        <span tuiSubtitle>Terry Jones</span>
                        <b>Karl Gambolputty</b>
                    </label>
                </div>
            </ng-template>
            <ng-template
                [tuiSheetDialogOptions]="{
                    label: label === 'Template' ? template : label,
                    closeable: closeable,
                    fullscreen: fullscreen,
                    stops: stops,
                    initial: initial,
                    bar: bar,
                    offset: offset,
                }"
                [(tuiSheetDialog)]="open"
            >
                <p [style.flex-grow]="1">
                    Karl Gambolputty de von
                    Ausfern-schplenden-schlitter-crasscrenbon-fried-digger-dingle-dangle-dongle-dungle-burstein-von-knacker-thrasher-apple-banger-horowitz-ticolensic-grander-knotty-spelltinkle-grandlich-grumblemeyer-spelterwasser-kurstlich-himbleeisen-bahnwagen-gutenabend-bitte-ein-nürnburger-bratwustle-gerspurten-mitzweimache-luber
                    von Hautkopft of Ulm was the last-surviving relative of Johann Gambolputty de von.
                </p>
                <footer tuiFloatingContainer>
                    <button
                        tuiButton
                        type="button"
                        (click)="toggle()"
                    >
                        Close
                    </button>
                </footer>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="closeable"
                tuiDocAPIItem
                type="boolean"
                [(value)]="closeable"
            >
                Whether or not a sheet can be closed by user.
            </tr>
            <tr
                name="fullscreen"
                tuiDocAPIItem
                type="boolean"
                [(value)]="fullscreen"
            >
                Fullscreen
            </tr>
            <tr
                name="bar"
                tuiDocAPIItem
                type="boolean"
                [(value)]="bar"
            >
                Show bar
            </tr>
            <tr
                name="data"
                tuiDocAPIItem
                type="I"
            >
                Optional data to be passed to the sheet.
            </tr>
            <tr
                name="label"
                tuiDocAPIItem
                type="PolymorpheusContent"
                [items]="labelVariants"
                [(value)]="label"
            >
                Sheet label.
            </tr>
            <tr
                name="stops"
                tuiDocAPIItem
                type="string[]"
                [items]="stopsVariants"
                [(value)]="stops"
            >
                An array of stop points in any units for the sheet.
            </tr>
            <tr
                name="initial"
                tuiDocAPIItem
                type="number"
                [(value)]="initial"
            >
                Initial stop index to open on. Index exceeding
                <code>stops</code>
                means to stop on top of the sheet's content.
            </tr>
            <tr
                name="offset"
                tuiDocAPIItem
                type="number"
                [(value)]="offset"
            >
                Top offset px (
                <code>--tui-offset</code>
                )
            </tr>
        </table>
    </ng-template>

    <ng-template pageTab>
        <ol class="tui-list tui-list_ordered">
            <li class="tui-list__item">
                Inject service and show dialog:

                <tui-doc-code
                    filename="my.component.html"
                    [code]="exampleComponent"
                />
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
