@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiChevron][tuiIcons]::after,
tui-icon[tuiChevron]::after {
    .transition(~'transform, color');

    cursor: pointer;
}

[tuiChevron][tuiIcons]::after {
    block-size: 1rem;
    inline-size: 1rem;

    [data-size='s']& {
        margin-inline-end: -0.125rem;
    }

    [data-size='m']& {
        margin-inline-end: 0.125rem;
    }

    [data-size='l']& {
        margin-inline-end: 0.25rem;
    }
}

[tuiChevron][tuiIcons]._chevron-rotated::after,
tui-icon[tuiChevron]._chevron-rotated::after {
    transform: rotate(180deg);
}
