@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiChevron][tuiIcons]::after,
tui-icon[tuiChevron]::after {
    .transition(~'transform, color');

    cursor: pointer;
}

[tuiChevron][tuiIcons]::after {
    tui-textfield& {
        font-size: 1rem;
    }

    tui-textfield[data-size='s']& {
        margin-inline-end: calc(-0.125rem - var(--t-padding));
    }

    tui-textfield[data-size='m']& {
        margin-inline-end: calc(0.125rem - var(--t-padding));
    }

    tui-textfield[data-size='l']& {
        margin-inline-end: calc(0.25rem - var(--t-padding));
    }
}

[tuiChevron][tuiIcons]._chevron-rotated::after,
tui-icon[tuiChevron]._chevron-rotated::after {
    transform: rotate(180deg);
}

[tuiChevron]:has(input[tuiAppearance]:read-only)::after {
    cursor: default;
}
