:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 1rem;
    inline-size: 30rem;

    > :last-child {
        grid-column: span 2;
    }
}

[tuiSubtitle] {
    font: var(--tui-font-text-m);
}
