<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="canOpen"
    [content]="datalist || ''"
    [(open)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <div
        tuiWrapper
        [appearance]="appearance"
        [readOnly]="readOnly"
        [focus]="computedFocused"
        [hover]="pseudoHover"
        [disabled]="computedDisabled"
        [invalid]="computedInvalid"
        (mousedown)="onMouseDown($event)"
    >
        <div class="t-content">
            <div
                *ngIf="iconLeft"
                class="t-icons t-icons_left"
            >
                <tui-svg
                    *polymorpheusOutlet="iconLeft as src; context: {$implicit: size}"
                    class="t-icon"
                    [src]="src"
                ></tui-svg>
            </div>
            <div class="t-wrapper">
                <div class="t-absolute-wrapper">
                    <div
                        *ngIf="hasPlaceholder"
                        automation-id="tui-input-tag__placeholder"
                        class="t-placeholder"
                        [class.t-placeholder_raised]="placeholderRaised"
                    >
                        <ng-content></ng-content>
                    </div>
                </div>
                <tui-scrollbar
                    *ngIf="!expandable; else items"
                    class="t-scrollbar"
                    [hidden]="true"
                >
                    <ng-container [ngTemplateOutlet]="items"></ng-container>
                </tui-scrollbar>
                <ng-template #items>
                    <div
                        #tagsContainer
                        class="t-tags"
                    >
                        <ng-container *ngIf="labelOutside; else text">
                            <tui-tag
                                *ngFor="let item of value; index as index; trackBy: trackByFn"
                                #tag
                                automation-id="tui-input-tag__tag"
                                class="t-tag"
                                [status]="(status$ | async)!"
                                [leftContent]="getLeftContent(item)"
                                [allowSpaces]="allowSpaces"
                                [tuiFocusable]="false"
                                [disabled]="computedDisabled || disabledItemHandler(item)"
                                [editable]="editable && !readOnly"
                                [hoverable]="!readOnly"
                                [removable]="!readOnly"
                                [separator]="separator"
                                [maxLength]="controller.maxLength"
                                [size]="controller.size"
                                [value]="item.toString()"
                                (edited)="onTagEdited($event, index)"
                                (keydown.arrowLeft.prevent)="onTagKeyDownArrowLeft(index)"
                                (keydown.arrowRight.prevent)="onTagKeyDownArrowRight(index)"
                            ></tui-tag>
                        </ng-container>
                        <ng-template #text>
                            <span
                                *ngFor="let item of value"
                                class="t-text"
                                [class.t-text_disabled]="disabledItemHandler(item)"
                                [class.t-text_error]="!tagValidator(item)"
                                [innerText]="item"
                            ></span>
                        </ng-template>
                        <div
                            class="t-input-wrapper"
                            [class.t-input-wrapper_collapsed]="computedDisabled || readOnly || inputHidden"
                        >
                            <div class="t-ghost">{{ search }}</div>
                            <input
                                #focusableElement
                                type="text"
                                automation-id="tui-input-tag__native"
                                class="t-native"
                                [placeholder]="controller.exampleText"
                                [class.t-native_hidden]="inputHidden"
                                [attr.maxLength]="controller.maxLength"
                                [id]="id"
                                [disabled]="computedDisabled"
                                [readOnly]="readOnly || inputHidden"
                                [tuiFocusable]="computedFocusable"
                                [ngModel]="search"
                                (ngModelChange)="onInput($event)"
                                (keydown.arrowLeft)="onFieldKeyDownArrowLeft($event)"
                                (keydown.backspace)="onFieldKeyDownBackspace($event)"
                                (keydown.enter.prevent)="onFieldKeyDownEnter()"
                            />
                        </div>
                    </div>
                </ng-template>
            </div>
            <div
                *ngIf="hasRightIcons"
                class="t-icons t-icons_right"
            >
                <tui-svg
                    *ngIf="hasCleaner"
                    #cleaner
                    automation-id="tui-input-tag__cleaner"
                    src="tuiIconCloseLarge"
                    class="t-cleaner"
                    (click.stop)="onCleanerClick()"
                ></tui-svg>
                <tui-tooltip
                    *ngIf="hasTooltip"
                    automation-id="tui-input-tag__tooltip"
                    describeId="placeholer_until_accesibility_is_added"
                    class="t-tooltip"
                    [direction]="hintController.direction"
                    [mode]="hintController.mode"
                    [content]="hintController.content || ''"
                    [showDelay]="hintController.showDelay"
                    [hideDelay]="hintController.hideDelay"
                ></tui-tooltip>
                <div *ngIf="icon">
                    <tui-svg
                        *polymorpheusOutlet="icon as src; context: {$implicit: size}"
                        class="t-icon"
                        [src]="src"
                    ></tui-svg>
                </div>
            </div>
        </div>
        <ng-template #errorIcon>
            <tui-svg
                src="tuiIconAttention"
                class="t-error-icon"
            ></tui-svg>
        </ng-template>
    </div>
</tui-hosted-dropdown>
