<ng-container *ngIf="hintOptions?.change$ | async"></ng-container>
<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="canOpen"
    [content]="datalist || ''"
    [(open)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <div
        tuiWrapper
        [appearance]="appearance"
        [disabled]="computedDisabled"
        [focus]="computedFocused"
        [hover]="pseudoHover"
        [invalid]="computedInvalid"
        [readOnly]="readOnly"
        (mousedown)="onMouseDown($event)"
    >
        <div class="t-content">
            <div
                *ngIf="iconLeft"
                class="t-icon t-icon_left t-textfield-icon t-icon-wrapper"
            >
                <tui-svg
                    *polymorpheusOutlet="iconLeft as src; context: {$implicit: size}"
                    appearance="icon"
                    tuiWrapper
                    [src]="src"
                ></tui-svg>
            </div>
            <div class="t-wrapper">
                <div class="t-absolute-wrapper">
                    <div
                        *ngIf="hasPlaceholder"
                        automation-id="tui-input-tag__placeholder"
                        class="t-placeholder"
                        [class.t-placeholder_raised]="placeholderRaised"
                    >
                        <ng-content></ng-content>
                    </div>
                </div>
                <tui-scrollbar
                    class="t-scrollbar"
                    [hidden]="!expandable"
                    [style.maxHeight.rem]="computeMaxHeight"
                >
                    <div class="t-tags">
                        <ng-container *ngIf="labelOutside; else text">
                            <tui-tag
                                *ngFor="let item of value; index as index; trackBy: trackByFn"
                                #tag
                                automation-id="tui-input-tag__tag"
                                class="t-tag"
                                [disabled]="computedDisabled || disabledItemHandler(item)"
                                [editable]="editable && !readOnly"
                                [hoverable]="!readOnly"
                                [leftContent]="getLeftContent(item)"
                                [maxLength]="maxLength"
                                [removable]="!readOnly && removable"
                                [separator]="separator"
                                [size]="controller.size"
                                [status]="(status$ | async)!"
                                [tuiFocusable]="false"
                                [value]="item.toString()"
                                (edited)="onTagEdited($event, index)"
                                (keydown.arrowLeft.prevent)="onTagKeyDownArrowLeft(index)"
                                (keydown.arrowRight.prevent)="onTagKeyDownArrowRight(index)"
                            ></tui-tag>
                        </ng-container>
                        <ng-template #text>
                            <span
                                *ngFor="let item of value"
                                class="t-text"
                                [class.t-text_comma]="computedFocused && !inputHidden"
                                [class.t-text_disabled]="disabledItemHandler(item)"
                                [class.t-text_error]="!tagValidator(item)"
                                [textContent]="item"
                            ></span>
                        </ng-template>
                        <div
                            class="t-input-wrapper"
                            [class.t-input-wrapper_collapsed]="computedDisabled || readOnly || inputHidden"
                        >
                            <div class="t-ghost">{{ search }}</div>
                            <input
                                #focusableElement
                                automation-id="tui-input-tag__native"
                                type="text"
                                class="t-native"
                                [attr.maxLength]="maxLength"
                                [class.t-native_hidden]="inputHidden"
                                [disabled]="computedDisabled"
                                [id]="id"
                                [ngModel]="search"
                                [placeholder]="placeholder"
                                [readOnly]="readOnly || inputHidden"
                                [tuiFocusable]="computedFocusable"
                                (drop.prevent)="onDrop($any($event))"
                                (keydown.arrowLeft)="onFieldKeyDownArrowLeft($event)"
                                (keydown.backspace)="onFieldKeyDownBackspace($event)"
                                (keydown.enter.prevent)="onFieldKeyDownEnter()"
                                (ngModelChange)="onInput($event)"
                                (paste.prevent)="onPaste($event)"
                            />
                        </div>
                    </div>
                </tui-scrollbar>
                <ng-content select="tuiContent"></ng-content>
            </div>
            <ng-content select="select"></ng-content>
            <div
                *ngIf="hasRightIcons"
                class="t-icons t-icon-wrapper"
            >
                <ng-container *ngIf="hasCleaner">
                    <tui-svg
                        *polymorpheusOutlet="iconCleaner as src; context: {$implicit: size}"
                        #cleaner
                        appearance="icon"
                        automation-id="tui-input-tag__cleaner"
                        tuiWrapper
                        class="t-cleaner"
                        [src]="src"
                        (click.stop)="onCleanerClick()"
                    ></tui-svg>
                </ng-container>
                <tui-tooltip
                    *ngIf="showHint"
                    automation-id="tui-input-tag__tooltip"
                    class="t-tooltip"
                    [content]="hintOptions?.content"
                    [describeId]="id"
                ></tui-tooltip>
                <div
                    *ngIf="icon"
                    class="t-icon t-textfield-icon"
                >
                    <tui-svg
                        *polymorpheusOutlet="icon as src; context: {$implicit: size}"
                        appearance="icon"
                        tuiWrapper
                        [src]="src"
                    ></tui-svg>
                </div>
            </div>
        </div>
        <ng-template #errorIcon>
            <tui-svg
                class="t-error-icon"
                [src]="icons.error"
            ></tui-svg>
        </ng-template>
    </div>
</tui-hosted-dropdown>
