:host:host {
    border-radius: 100%;
    background: var(--tui-background-base);
}

[tuiForm] {
    padding: 1rem;

    label {
        flex: 1;
        min-inline-size: fit-content;
    }

    tui-icon {
        font-size: 1rem;
    }

    [tuiButton]::after {
        margin-inline-start: auto;
    }
}
