:host {
    border-radius: 100%;
    background: var(--tui-background-base);
}

tui-icon {
    font-size: 1rem;
}

[tuiBlock] {
    min-inline-size: fit-content;
}

[tuiButton]::after {
    margin-inline-start: auto;
}

[tuiForm] {
    padding: 1rem;

    --tui-icon-size: 1rem;
}
