:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

[tuiCell] {
    border: 1px dashed var(--tui-primary);
}

.bank-card {
    color: var(--tui-base-01);
    background-color: var(--tui-base-09);
}

.centralize {
    align-self: center;
}
