@keyframes tuiReveal {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes tuiFadeIn {
    from {
        opacity: var(--tui-fade-start, 0);
    }

    to {
        opacity: var(--tui-fade-end, 1);
    }
}
