@import '@taiga-ui/core/styles/taiga-ui-local';

:host-context(._underline):hover {
    box-shadow: inset 0 -2px var(--tui-base-03);
}

:host-context(tui-tabs >):first-child,
:host-context([tuiTabs] >):first-child,
:host-context(tui-tabs > :first-child),
:host-context([tuiTabs] > :first-child) {
    margin-left: 0;
}

:host {
    .transition(~'color, box-shadow, opacity, background');
    .clearbtn();

    position: relative;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--tui-tab-margin, 1.5rem);
    color: inherit;
    cursor: pointer;
    line-height: 1.5rem;
    outline: none;
    white-space: nowrap;

    &:disabled {
        opacity: var(--tui-disabled-opacity);
        pointer-events: none;
    }

    &:not([data-mode])._active {
        box-shadow: none;
        color: var(--tui-text-01);
        opacity: 1;
    }

    &[data-mode='onDark'] {
        color: rgba(255, 255, 255, 0.72);

        &:hover,
        &._active {
            color: #fff;
        }

        &:focus-visible .t-highlight {
            background: var(--tui-clear-inverse);
            color: var(--tui-text-01);
        }
    }

    &[data-mode='onLight'] {
        color: var(--tui-text-02);

        &:hover,
        &._active {
            color: var(--tui-text-01);
        }

        &:focus-visible .t-highlight {
            background: var(--tui-text-01);
            color: #fff;
        }
    }

    &:focus-visible .t-highlight {
        background: var(--tui-selection);
    }

    &._android {
        .transition(opacity);

        height: 3rem;
        flex: 1;
        flex-shrink: 0;
        justify-content: center;
        margin: 0;
        color: var(--tui-base-09);
        font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: -0.008125rem;
        opacity: 0.5;
        text-transform: uppercase;

        &:hover {
            box-shadow: none;
        }

        &._active {
            color: var(--tui-base-09);
            opacity: 1;
        }

        & .t-highlight {
            width: auto;
        }
    }

    &._ios {
        height: 1.75rem;
        flex: 1;
        flex-shrink: 0;
        justify-content: center;
        margin: 0;
        color: var(--tui-base-01);
        font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
        font-size: 0.8125rem;
        font-weight: 500;
        letter-spacing: -0.005rem;
        opacity: 1;

        &:hover {
            box-shadow: none;
        }

        &._active {
            color: var(--tui-link);
            font-size: 0.875rem;
            font-weight: 600;
        }

        & .t-highlight {
            width: auto;
        }
    }
}

@media (hover: hover) {
    :host:hover {
        color: var(--tui-text-01);
    }
}

.t-highlight {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: inherit;

    ::ng-deep > * {
        flex-shrink: 0;
    }
}

:host-context(tui-tabs[data-vertical]),
:host-context([tuiTabs][data-vertical]) {
    height: auto;
    min-height: 2.75rem;
    padding: 0.25rem 1.25rem 0.25rem 0;
    margin: 0;
    text-align: left;
    white-space: normal;

    &:after {
        .transition(transform);

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;
        background: var(--tui-primary);
        content: '';
        transform: scaleX(0);
        transform-origin: right;
    }

    &:hover {
        box-shadow: inset -2px 0 var(--tui-base-03);
    }

    &._active:after {
        transform: none;
    }
}

:host-context(tui-tabs[data-vertical='right']),
:host-context([tuiTabs][data-vertical='right']) {
    padding: 0.25rem 0 0.25rem 1.25rem;
    text-align: right;

    &:after {
        right: auto;
        left: 0;
        transform-origin: left;
    }

    &:hover {
        box-shadow: inset 2px 0 var(--tui-base-03);
    }
}
