<tui-doc-page
    header="Calendar"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        <p>
            A simple calendar. If you want a textfield with date, see
            <a
                tuiLink
                [routerLink]="['/components/input-date']"
            >
                InputDate
            </a>
            and
            <a
                tuiLink
                [routerLink]="['/components/input-date-range']"
            >
                InputDateRange
            </a>
        </p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [description]="description"
            [heading]="example"
            [id]="example | tuiKebab"
        >
            <ng-template
                #description
                [ngSwitch]="index + 1"
            >
                <ng-container *ngSwitchCase="4">
                    Use
                    <a
                        fragment="first-day-of-week"
                        tuiLink
                        [routerLink]="routes.Tokens"
                    >
                        TUI_FIRST_DAY_OF_WEEK
                    </a>
                    token to change start day of the week (Monday by default)
                </ng-container>

                <ng-container *ngSwitchCase="5">
                    Use
                    <code>TUI_DAY_TYPE_HANDLER</code>
                    token to change cell's data-type attribute and customize its color. (The default color for Saturday
                    and Sunday is var(--tui-negative))
                </ng-container>

                <ng-container *ngSwitchDefault />
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-calendar
                [disabledItemHandler]="disabledItemHandler"
                [markerHandler]="markerHandler"
                [max]="max"
                [maxViewedMonth]="maxViewedMonth"
                [min]="min"
                [minViewedMonth]="minViewedMonth"
                [showAdjacent]="showAdjacent"
                [value]="value"
                [(hoveredItem)]="hoveredItem"
                [(month)]="month"
                (dayClick)="documentationPropertyDayClick.emitEvent($event)"
            />
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabledItemHandler"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="showAdjacent"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="showAdjacent"
            >
                Show adjacent months days
            </ng-template>
            <ng-template
                documentationPropertyMode="input-output"
                documentationPropertyName="hoveredItem"
                documentationPropertyType="TuiDay | null"
                [(documentationPropertyValue)]="hoveredItem"
            >
                Hovered date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="markerHandler"
                documentationPropertyType="TuiMarkerHandler | null"
                [documentationPropertyValues]="markerHandlerVariants"
                [(documentationPropertyValue)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with circled marker colors
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Maximal date to choose
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="maxViewedMonth"
                documentationPropertyType="TuiMonth | null"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Maximal month to access
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Minimum date to choose
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="minViewedMonth"
                documentationPropertyType="TuiMonth | null"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Minimum month to access
            </ng-template>
            <ng-template
                documentationPropertyMode="input-output"
                documentationPropertyName="month"
                documentationPropertyType="TuiMonth"
                [(documentationPropertyValue)]="month"
            >
                Current month
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="value"
                documentationPropertyType="TuiDay | TuiDayRange | null"
                [documentationPropertyValues]="valueVariants"
                [(documentationPropertyValue)]="value"
            >
                Selected day or range
            </ng-template>
            <ng-template
                #documentationPropertyDayClick="documentationProperty"
                documentationPropertyMode="output"
                documentationPropertyName="dayClick"
                documentationPropertyType="TuiDay"
            >
                Date click
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <tui-setup />
    </ng-template>
</tui-doc-page>
