<tui-doc-page
    deprecated
    header="Sheet"
    package="LEGACY"
    type="components"
>
    <ng-template pageTab>
        <tui-notification status="warning">
            If you need overlay and do not need image related functionality, it is recommended to use
            <a
                tuiLink
                [routerLink]="docRoutes.SheetDialog"
            >
                SheetDialog
            </a>
            .
            <code>Sheet</code>
            component is on track to be deprecated.
        </tui-notification>

        <tui-notification
            *ngIf="!isMobile"
            class="tui-space_top-4"
        >
            This component only works on mobile devices. Enable emulation in DevTools
        </tui-notification>

        <tui-doc-example
            id="string"
            heading="String"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="basic"
            heading="Basic"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'html,ts'"
        >
            <tui-notification class="tui-space_bottom-4">
                Note
                <code>SheetHeading</code>
                component that styles the heading and adds close button if sheet is closeable.
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="advanced"
            heading="Advanced"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="elastic"
            heading="Elastic sticky"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        >
            <tui-notification class="tui-space_bottom-4">
                Using
                <a
                    routerLink="directives/elastic-sticky"
                    tuiLink
                >
                    <code>ElasticSticky</code>
                </a>
                directive.
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="scroll"
            description="Modifying content using scroll stream from the context"
            heading="Scroll"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
        />

        <tui-doc-example
            id="intersection"
            description="Modifying content with IntersectionObserver"
            heading="IntersectionObserver"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <button
                tuiButton
                type="button"
                (click)="toggle()"
            >
                Toggle
            </button>
            <ng-template #template>
                <div class="top">
                    <tui-avatar size="l">Karl Gambolputty</tui-avatar>
                    <h2>Karl Gambolputty</h2>
                </div>
            </ng-template>
            <ng-template
                [tuiSheetOptions]="options"
                [(tuiSheet)]="open"
            >
                Karl Gambolputty de von
                Ausfern-schplenden-schlitter-crasscrenbon-fried-digger-dingle-dangle-dongle-dungle-burstein-von-knacker-thrasher-apple-banger-horowitz-ticolensic-grander-knotty-spelltinkle-grandlich-grumblemeyer-spelterwasser-kurstlich-himbleeisen-bahnwagen-gutenabend-bitte-ein-nürnburger-bratwustle-gerspurten-mitzweimache-luber-hundsfut-gumberaber-shönendanker-kalbsfleisch-mittler-aucher
                von Hautkopft of Ulm was the last-surviving relative of Johann Gambolputty de von
                Ausfern-schplenden-schlitter-crasscrenbon-fried-digger-dingle-dangle-dongle-dungle-burstein-von-knacker-thrasher-apple-banger-horowitz-ticolensic-grander-knotty-spelltinkle-grandlich-grumblemeyer-spelterwasser-kurstlich-himbleeisen-bahnwagen-gutenabend-bitte-ein-nürnburger-bratwustle-gerspurten-mitzweimache-luber-hundsfut-gumberaber-shönendanker-kalbsfleisch-mittler-aucher
                von Hautkopft of Ulm.
                <div class="tui-space_top-4">
                    <button
                        tuiButton
                        type="button"
                        (click)="toggle()"
                    >
                        Close
                    </button>
                </div>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="closeable"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="closeable"
            >
                Whether or not a sheet can be closed by user.
            </ng-template>
            <ng-template
                documentationPropertyName="data"
                documentationPropertyType="I"
            >
                Optional data to be passed to the sheet.
            </ng-template>
            <ng-template
                documentationPropertyName="image"
                documentationPropertyType="PolymorpheusContent<TuiSheetOptions<I>>"
                [documentationPropertyValues]="imageVariants"
                [(documentationPropertyValue)]="image"
            >
                A content to show above the sheet.
            </ng-template>
            <ng-template
                documentationPropertyName="imageSlide"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="imageSlide"
            >
                Should image slide as the sheet is dragged.
            </ng-template>
            <ng-template
                documentationPropertyName="stops"
                documentationPropertyType="string[]"
                [documentationPropertyValues]="stopsVariants"
                [(documentationPropertyValue)]="stops"
            >
                An array of stop points in any units for the sheet.
            </ng-template>
            <ng-template
                documentationPropertyName="initial"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="initial"
            >
                Initial stop index to open on. Indices exceeding
                <code>stops</code>
                are treated as stop on image then stop on top of the sheet's content.
            </ng-template>
            <ng-template
                documentationPropertyName="overlay"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="overlay"
            >
                Show overlay under the sheet.
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
