<tui-doc-page
    header="Sheet"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template
        i18n
        pageTab
    >
        A mobile draggable sheet popup

        <tui-notification
            *ngIf="!isMobile"
            class="tui-space_top-4"
        >
            This component only works on mobile devices. Enable emulation in DevTools
        </tui-notification>

        <tui-doc-example
            id="string"
            i18n-heading
            heading="String"
            [content]="example1"
        >
            <tui-sheet-example-1></tui-sheet-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="basic"
            i18n-heading
            heading="Basic"
            [content]="example2"
        >
            <tui-sheet-example-2></tui-sheet-example-2>
            <tui-notification class="tui-space_top-4">
                Note
                <code>SheetHeading</code>
                component that styles the heading and adds close button if sheet is closeable.
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="advanced"
            i18n-heading
            heading="Advanced"
            [content]="example3"
        >
            <tui-sheet-example-3></tui-sheet-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="elastic"
            i18n-heading
            heading="Elastic sticky"
            [content]="example4"
        >
            <tui-sheet-example-4></tui-sheet-example-4>
            <tui-notification class="tui-space_top-4">
                Using
                <a
                    tuiLink
                    routerLink="directives/elastic-sticky"
                >
                    <code>ElasticSticky</code>
                </a>
                directive.
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="scroll"
            i18n-heading
            heading="Scroll"
            description="Modifying content using scroll stream from the context"
            [content]="example5"
        >
            <tui-sheet-example-5></tui-sheet-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="intersection"
            i18n-heading
            heading="IntersectionObserver"
            description="Modifying content with IntersectionObserver"
            [content]="example6"
        >
            <tui-sheet-example-6></tui-sheet-example-6>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <button
                tuiButton
                (click)="toggle()"
            >
                Toggle
            </button>
            <ng-template #template>
                <div class="top">
                    <tui-avatar
                        text="Karl Gambolputty"
                        size="l"
                        [rounded]="true"
                    ></tui-avatar>
                    <h2>Karl Gambolputty</h2>
                </div>
            </ng-template>
            <ng-template
                [tuiSheetOptions]="options"
                [(tuiSheet)]="open"
            >
                Karl Gambolputty de von
                Ausfern-schplenden-schlitter-crasscrenbon-fried-digger-dingle-dangle-dongle-dungle-burstein-von-knacker-thrasher-apple-banger-horowitz-ticolensic-grander-knotty-spelltinkle-grandlich-grumblemeyer-spelterwasser-kurstlich-himbleeisen-bahnwagen-gutenabend-bitte-ein-nürnburger-bratwustle-gerspurten-mitzweimache-luber-hundsfut-gumberaber-shönendanker-kalbsfleisch-mittler-aucher
                von Hautkopft of Ulm was the last-surviving relative of Johann Gambolputty de von
                Ausfern-schplenden-schlitter-crasscrenbon-fried-digger-dingle-dangle-dongle-dungle-burstein-von-knacker-thrasher-apple-banger-horowitz-ticolensic-grander-knotty-spelltinkle-grandlich-grumblemeyer-spelterwasser-kurstlich-himbleeisen-bahnwagen-gutenabend-bitte-ein-nürnburger-bratwustle-gerspurten-mitzweimache-luber-hundsfut-gumberaber-shönendanker-kalbsfleisch-mittler-aucher
                von Hautkopft of Ulm.
                <div class="tui-space_top-4">
                    <button
                        tuiButton
                        (click)="toggle()"
                    >
                        Close
                    </button>
                </div>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="closeable"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="closeable"
            >
                Whether or not a sheet can be closed by user.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="data"
                documentationPropertyType="I"
            >
                Optional data to be passed to the sheet.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="image"
                documentationPropertyType="PolymorpheusContent<TuiSheetOptions<I>>"
                [documentationPropertyValues]="imageVariants"
                [(documentationPropertyValue)]="image"
            >
                A content to show above the sheet.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="imageSlide"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="imageSlide"
            >
                Should image slide as the sheet is dragged.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="stops"
                documentationPropertyType="string[]"
                [documentationPropertyValues]="stopsVariants"
                [(documentationPropertyValue)]="stops"
            >
                An array of stop points in any units for the sheet.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="initial"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="initial"
            >
                Initial stop index to open on. Indices exceeding
                <code>stops</code>
                are treated as stop on image then stop on top of the sheet's content.
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="overlay"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="overlay"
            >
                Show overlay under the sheet.
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiSheetModule</code>
                    into main module of your app
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Add
                    <code>tui-sheets-host</code>
                    to the main template like this:
                </p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Use directive or service as shown in examples.</p>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
