@import 'taiga-ui-local';

@color-property: #8f75d1;

:host {
    display: block;
    min-width: 100%;
}

.t-table {
    width: 100%;
    table-layout: fixed;
}

.t-row {
    &:not(:last-child) {
        border-bottom: 1px solid var(--tui-base-03);
    }

    :host-context(tui-root._mobile) & {
        display: flex;
        flex-wrap: wrap;

        &_header {
            display: none;
        }
    }
}

.t-cell {
    padding: 1rem 1rem 0.875rem;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &_value {
        text-align: right;
    }

    &_prop {
        width: 40%;
    }

    &_value {
        max-width: 20rem;

        :host-context(tui-root._mobile) & {
            width: 9.375rem;
        }
    }

    :host-context(tui-root._mobile) & {
        width: 100%;
        height: auto;
        padding: 0.5rem 0;
        text-align: left;
    }
}

.t-th {
    padding: 0.5rem 1rem;
    color: var(--tui-text-02);
    font-weight: normal;
    text-align: left;

    &_value {
        text-align: right;
    }
}

.t-property {
    font: var(--tui-font-text-m);
    margin-bottom: @space;
    font-family: monospace;
    color: @color-property;

    :host-context(tui-root._mobile) & {
        padding: 0.5rem 0;
    }
}

.t-type {
    font-family: monospace;
}

.t-deprecated {
    background-color: var(--tui-error-bg);
    box-shadow: -1rem 0 var(--tui-error-bg), 1rem 0 var(--tui-error-bg);
}

.t-deprecated-label {
    margin-right: 0.125rem;
    color: var(--tui-error-fill);
}

.t-exception {
    display: block;
    width: max-content;
}

.t-output {
    text-align: left;
    opacity: 0;
}

.t-heading {
    font: var(--tui-font-heading-4);
}
