:host {
    display: flex;
    min-inline-size: 0.125rem;
    flex-direction: column-reverse;
    border-top-left-radius: var(--tui-radius-l);
    border-top-right-radius: var(--tui-radius-l);
    overflow: hidden;

    &[data-size='l'] {
        inline-size: 1rem;
        max-inline-size: 1rem;
        margin: 0 0.1875rem;
    }

    &[data-size='m'] {
        inline-size: 0.5rem;
        max-inline-size: 0.5rem;
        margin: 0 0.1875rem;
    }

    &[data-size='s'] {
        inline-size: 0.25rem;
        max-inline-size: 0.5rem;
        margin: 0 0.125rem;
    }
}
