:host {
    display: flex;
    min-width: 0.125rem;
    flex-direction: column-reverse;
    border-top-left-radius: var(--tui-radius-l);
    border-top-right-radius: var(--tui-radius-l);
    overflow: hidden;

    &[data-size='l'] {
        width: 1rem;
        max-width: 1rem;
        margin: 0 0.1875rem;
    }

    &[data-size='m'] {
        width: 0.5rem;
        max-width: 0.5rem;
        margin: 0 0.1875rem;
    }

    &[data-size='s'] {
        width: 0.25rem;
        max-width: 0.5rem;
        margin: 0 0.125rem;
    }
}
