.header {
    position: sticky;
    top: 1.5rem;
    z-index: 1;
    padding: 0.25rem 0 1rem;
    background: var(--tui-background-elevation-1);
}

.container {
    flex-grow: 1;
}

.item {
    all: unset;
    display: flex;
    block-size: 3rem;
    align-items: center;
    gap: 1rem;
}
