@import '@taiga-ui/styles/utils';

[tuiForm] {
    &[tuiForm] {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &[data-size='s'] {
        gap: 0.75rem;
        font: var(--tui-typography-body-s);

        tui-error {
            margin-block-start: -0.75rem;
        }

        > fieldset > legend {
            font: var(--tui-typography-ui-m);
            font-weight: bold;
            padding: 0.5rem 0 0.75rem;
        }
    }

    &[data-size='m'] {
        gap: 1rem;
        font: var(--tui-typography-body-s);

        tui-error {
            margin-block-start: -1rem;
        }

        > fieldset > legend {
            font: var(--tui-typography-ui-l);
            font-weight: bold;
            padding: 0.75rem 0;
        }
    }

    &[data-size='l'] {
        gap: 1.25rem;
        font: var(--tui-typography-body-m);

        tui-error {
            margin-block-start: -1.25rem;
        }

        > fieldset > legend {
            font: var(--tui-typography-ui-l);
            font-weight: bold;
            padding: 0.5rem 0 0.75rem;
        }
    }

    > header {
        padding-block-end: 0.25rem;
    }

    > fieldset {
        display: grid;
        gap: inherit;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        border: none;
        padding: 0;
        margin: 0;
    }

    > footer {
        display: flex;
        gap: 0.75rem;
        margin-block-start: 0.25rem;

        tui-dialog & {
            justify-content: flex-end;
        }
    }

    > button,
    > a {
        align-self: flex-start;
    }

    [tuiLabel]:not([data-orientation='vertical']) {
        font: inherit;
    }

    &[data-size='s'],
    &[data-size='m'] {
        [tuiLabel]:not([data-orientation='vertical']) [tuiTooltip] {
            block-size: 1.25rem;
        }
    }
}
