@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiForm] {
    &[tuiForm] {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &[data-size='s'] {
        gap: 0.75rem;
        font: var(--tui-font-body-s);

        tui-error:not(.tui-space-top-none) {
            margin-block-start: -0.75rem;
        }
    }

    &[data-size='m'] {
        gap: 1rem;
        font: var(--tui-font-body-s);

        tui-error:not(.tui-space-top-none) {
            margin-block-start: -1rem;
        }
    }

    &[data-size='l'] {
        gap: 1.25rem;
        font: var(--tui-font-body-m);

        tui-error:not(.tui-space-top-none) {
            margin-block-start: -1.25rem;
        }
    }

    > header {
        padding-block-end: 0.25rem;
    }

    > fieldset {
        display: grid;
        gap: inherit;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        border: none;
        padding: 0;
        margin: 0;
    }

    > footer {
        display: flex;
        gap: 0.75rem;
        margin-block-start: 0.25rem;

        tui-dialog & {
            justify-content: flex-end;
        }
    }

    > button,
    > a {
        align-self: flex-start;
    }

    [tuiLabel]:not([data-orientation='vertical']) {
        font: inherit;
    }

    &[data-size='s'],
    &[data-size='m'] {
        [tuiLabel]:not([data-orientation='vertical']) [tuiTooltip] {
            block-size: 1.25rem;
        }
    }
}
