<div
    tuiWrapper
    class="t-wrapper"
    [appearance]="appearance"
    [hover]="pseudoHovered"
    [active]="pseudoPressed"
    [disabled]="computedDisabled"
    [focused]="computedFocusVisible"
>
    <span class="t-content">
        <span
            *ngIf="icon"
            polymorpheus-outlet
            class="t-left"
            [content]="icon"
        >
            <ng-template let-icon>
                <tui-svg
                    class="t-icon"
                    [src]="icon"
                ></tui-svg>
            </ng-template>
        </span>
        <ng-content></ng-content>
        <span
            *ngIf="iconRight"
            polymorpheus-outlet
            class="t-right"
            [content]="iconRight"
        >
            <ng-template let-icon>
                <tui-svg
                    class="t-icon"
                    [src]="icon"
                ></tui-svg>
            </ng-template>
        </span>
    </span>
    <tui-loader
        *ngIf="showLoader"
        class="t-loader"
        [size]="loaderSize"
        [inheritColor]="true"
    ></tui-loader>
</div>
