@import '@taiga-ui/core/styles/taiga-ui-local';

// TODO: Change to [tuiButton] in 4.0
[tuiButtonNew] {
    --t-gap: 0.125rem;

    .button-base();

    height: var(--t-size);
    justify-content: center;
    border-radius: var(--t-radius);
    padding: var(--t-padding);
    user-select: none;
    cursor: pointer;

    > .t-loader {
        .center-all();

        .t-text {
            position: absolute;
        }
    }

    &[data-size='xs'] {
        --t-size: var(--tui-height-xs);
        --t-radius: var(--tui-radius-xs);
        --t-padding: 0 0.375rem;
        --t-margin: -0.125rem;

        font: var(--tui-font-text-s);

        tui-svg,
        tui-icon,
        &:before {
            font-size: 1rem;
        }
    }

    &[data-size='s'] {
        --t-size: var(--tui-height-s);
        --t-radius: var(--tui-radius-s);
        --t-padding: 0 0.625rem;
        --t-margin: -0.125rem;

        font: var(--tui-font-text-s);

        tui-svg,
        tui-icon,
        &:not([tuiIconButton][data-appearance='icon']):before {
            font-size: 1rem;
        }
    }

    &[data-size='m'] {
        --t-size: var(--tui-height-m);
        --t-radius: var(--tui-radius-m);
        --t-padding: 0 1rem;
        --t-margin: -0.375rem;

        font: var(--tui-font-text-m);
        font-weight: bold;

        &:after {
            margin-inline-end: -0.125rem;
        }
    }

    &[data-size='l'] {
        --t-size: var(--tui-height-l);
        --t-radius: var(--tui-radius-l);
        --t-padding: 0 1.25rem;
        --t-gap: 0.25rem;
        --t-margin: -0.25rem;

        font: var(--tui-font-text-m);
        font-weight: bold;

        &:after {
            margin-inline-start: 0.25rem;
            margin-inline-end: -0.25rem;
        }
    }

    &._loading {
        --tui-disabled-opacity: 1;

        -webkit-text-fill-color: transparent;

        > *,
        &:before,
        &:after {
            opacity: 0;
        }

        > .t-loader {
            opacity: 1;
        }
    }

    &[tuiIcons]:after {
        font-size: 1rem;
    }
}

[tuiIconButton][tuiButtonNew] {
    --t-gap: 0;

    width: var(--t-size);
    font-size: 0;
    padding: 0;
}
