<tui-doc-page
    header="MobileCalendar"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template pageTab>
        <p>
            A calendar for mobile devices. It is used in date picker controls if provided with
            <code>tuiProvideMobileCalendar()</code>
        </p>
        <p>
            You can use
            <code>TUI_CALENDAR_DATE_STREAM</code>
            token to set value from outside (see samples)
        </p>

        <tui-doc-example
            id="dropdown"
            heading="Custom dropdown"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="range"
            heading="Range"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="localization"
            heading="Localization"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
            [description]="localizationDescription"
        >
            <ng-template #localizationDescription>
                Use
                <a
                    fragment="first-day-of-week"
                    tuiLink
                    [routerLink]="routes.Tokens"
                >
                    TUI_FIRST_DAY_OF_WEEK
                </a>
                token to change start day of the week (Monday by default).
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="dropdown-range"
            heading="Custom dropdown (range)"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="dropdown-multi"
            heading="Custom dropdown (multi)"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
        />

        <tui-doc-example
            id="without-header"
            heading="Without header"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-mobile-calendar
                class="calendar"
                [disabledItemHandler]="disabledItemHandler"
                [max]="max"
                [min]="min"
                [multi]="multi"
                [single]="single"
                (cancel)="documentationPropertyCancel.emitEvent($event)"
                (confirm)="documentationPropertyConfirm.emitEvent($event)"
            />
        </tui-doc-demo>

        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input-output"
                documentationPropertyName="value"
                documentationPropertyType="TuiDay | TuiDayRange | readonly TuiDay[] | null"
            >
                Value
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabledItemHandler"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="multi"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="multi"
            >
                Array of single dates
            </ng-template>
            <ng-template
                #documentationPropertyCancel="documentationProperty"
                documentationPropertyMode="output"
                documentationPropertyName="cancel"
                documentationPropertyType="void"
            >
                "Cancel" clicked
            </ng-template>
            <ng-template
                #documentationPropertyConfirm="documentationProperty"
                documentationPropertyMode="output"
                documentationPropertyName="confirm"
                documentationPropertyType="TuiDayRange | TuiDay"
            >
                "Confirm" button clicked
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="single"
                documentationPropertyType="boolean"
                [documentationPropertyDeprecated]="true"
                [(documentationPropertyValue)]="single"
            >
                Single date or a range

                <p>
                    Use
                    <code>tuiCalendarSheetOptionsProvider(&#123;rangeMode: boolean"&#125;)</code>
                    instead
                </p>
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
