<tui-doc-page
    header="Avatar"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p i18n>
            Use Avatar to view person or company. It can be photo, icon or first
            letters of name.
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-avatar-example-1></tui-avatar-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="autocolor"
            i18n-heading
            heading="Colors"
            [content]="example2"
        >
            <tui-avatar-example-2></tui-avatar-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="options"
            i18n-heading
            heading="Options"
            [content]="example3"
        >
            <tui-avatar-example-3></tui-avatar-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-avatar
                [avatarUrl]="avatarUrl"
                [text]="text"
                [rounded]="rounded"
                [size]="size"
                [autoColor]="autoColor"
                [style.--tui-avatar-color]="color"
                [style.--tui-avatar-background]="background"
            ></tui-avatar>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="autoColor"
                documentationPropertyType="boolean"
                documentationPropertyMode="input"
                [(documentationPropertyValue)]="autoColor"
            >
                Autocolor if there is no image
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="avatarUrl"
                documentationPropertyType="string | null"
                documentationPropertyMode="input"
                [documentationPropertyValues]="avatarUrlVariants"
                [(documentationPropertyValue)]="avatarUrl"
            >
                Avatar URL
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="rounded"
                documentationPropertyType="boolean"
                documentationPropertyMode="input"
                [(documentationPropertyValue)]="rounded"
            >
                Rounded mode
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeXS | TuiSizeXXL"
                documentationPropertyMode="input"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="text"
                documentationPropertyType="string"
                documentationPropertyMode="input"
                [(documentationPropertyValue)]="text"
            >
                Name (Avatar shows first letters of name if there is no image)
            </ng-template>
        </tui-doc-documentation>
        <tui-doc-documentation heading="CSS variables">
            <ng-template
                documentationPropertyName="--tui-avatar-color"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="color"
            >
                Color of the text
            </ng-template>
            <ng-template
                documentationPropertyName="--tui-avatar-background"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="background"
            >
                Background
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiAvatarModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Optionally use the
                    <code>TUI_AVATAR_OPTIONS</code>
                    injection token to override the default options for the
                    component.
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleOptions"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
