<tui-doc-page
    header="Avatar"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-avatar
                [round]="round"
                [size]="size"
                [src]="src"
            />
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="round"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="round"
            >
                Use round shape
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeS | TuiSizeL"
                [documentationPropertyValues]="sizes"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="src"
                documentationPropertyType="SafeResourceUrl | string | null"
                [documentationPropertyValues]="srcVariants"
                [(documentationPropertyValue)]="src"
            >
                Initials, image URL, or icon name. Alternatively you can pass text as
                <code>ng-content</code>
                which would be styled differently from initials and fade if overflown
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
