<tui-doc-page
    header="Avatar"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-avatar
                [round]="round"
                [size]="size"
                [src]="src"
            />
        </tui-doc-demo>

        <table tuiDocAPI>
            <tr
                name="round"
                tuiDocAPIItem
                type="boolean"
                [(value)]="round"
            >
                Use round shape
            </tr>

            <tr
                name="src"
                tuiDocAPIItem
                type="TuiSizeS | TuiSizeL"
                [items]="sizes"
                [(value)]="size"
            >
                Size
            </tr>

            <tr
                name="size"
                tuiDocAPIItem
                type="SafeResourceUrl | string | null"
                [items]="srcVariants"
                [(value)]="src"
            >
                Initials, image URL, or icon name. Alternatively you can pass text as
                <code>ng-content</code>
                which would be styled differently from initials and fade if overflown
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
