<span
    #content
    tuiHintAppearance="floating"
    tuiHintDirection="top"
    class="t-content"
    [tuiHint]="template"
    [tuiHintManual]="!!hint()"
    (click)="copy(content.textContent ?? '')"
>
    <ng-content />
</span>
<button
    appearance="icon"
    size="xs"
    tuiIconButton
    type="button"
    class="t-button"
    [attr.aria-label]="texts()[0]"
    [iconStart]="options.icon"
    (click)="copy(content.textContent ?? '')"
></button>
<ng-template #template>
    <tui-icon
        class="t-icon"
        [icon]="check"
    />
    {{ texts()[1] }}
</ng-template>
