@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    cursor: pointer;

    &:hover {
        .t-content {
            opacity: var(--tui-disabled-opacity);
            mask: linear-gradient(to left, transparent 1.5rem, black 3rem);
        }

        .t-button {
            opacity: 1;
        }
    }
}

.t-content,
.t-button {
    vertical-align: middle;
}

.t-button {
    opacity: 0;
    margin-inline-start: -1.5rem;

    &:focus-visible {
        opacity: 1;
        background: var(--tui-base-01);
    }
}
