@import '@taiga-ui/styles/utils';

:host {
    cursor: pointer;

    &[data-size='m'] {
        --t-size: ~'min(calc(1em + 1px), 1rem)';
    }

    &[data-size='l'] {
        --t-size: ~'max(calc(1em / 1.57), min(max(calc(1em / 1.18), 1.25rem), 1.5rem))';
    }

    @media @tui-mouse {
        &:hover {
            .t-content {
                opacity: var(--tui-disabled-opacity);
                mask-position: 0;
            }

            .t-button {
                opacity: 1;
            }
        }
    }

    &:has(.t-button:focus-visible) .t-content {
        opacity: var(--tui-disabled-opacity);
        mask-position: 0;
    }
}

.t-content {
    .transition(~'opacity, mask');

    mask:
        linear-gradient(
                to var(--tui-inline-start),
                transparent calc(1.25 * var(--t-size)),
                black calc(2 * var(--t-size))
            )
            no-repeat,
        linear-gradient(
                to var(--tui-inline-end),
                black,
                black calc(2 * var(--t-size)),
                transparent calc(2 * var(--t-size))
            )
            no-repeat;
    mask-position: calc(var(--tui-inline) * 2 * var(--t-size)), 0;
}

.t-button {
    position: sticky;
    inset-inline-start: 0;
    opacity: 0;
    border-radius: 0;
    font-size: inherit !important;
    margin-inline-start: calc(-1 * var(--t-size));

    --t-size: inherit;

    &::before {
        font-size: var(--t-size);
    }

    &:focus-visible {
        opacity: 1;
    }
}

.t-icon {
    font-size: 1rem;
    margin-inline-end: 0.25rem;
    vertical-align: sub;
    color: var(--tui-text-positive);
}
