@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiIcons] {
    &:before,
    &:after {
        font-size: 1.5rem;
    }

    &._icon-left:before,
    &._icon-right:after {
        content: '';
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        background: currentColor;
        mask: var(--t-mask-left) no-repeat center/contain;
    }

    &._icon-right:after {
        mask: var(--t-mask-right) no-repeat center/contain;
    }
}
