@import '../../styles/taiga-ui-local.less';

:host {
    display: block;
    border-radius: 8px;
    font-size: 0;

    &[data-tui-host-size='s'] {
        width: calc(var(--tui-height-s) / 2);
        height: calc(var(--tui-height-s) / 2);
        border-radius: 4px;
    }

    &[data-tui-host-size='m'] {
        width: calc(var(--tui-height-m) / 2);
        height: calc(var(--tui-height-m) / 2);
        border-radius: 4px;
    }

    &[data-tui-host-size='l'] {
        width: calc(var(--tui-height-l) / 2);
        height: calc(var(--tui-height-l) / 2);
    }
}

.mark {
    .transition(transform);
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(0);

    &_on {
        transform: scale(1);
    }
}
