.outline {
    display: inline-block;
    padding: 4px;
    margin: -4px 0;

    &_light {
        background: #30406a;
    }

    &_dark {
        background: #e5e7ea;
    }
}

@iterations: 20;

.loop (@i) when (@i > 0) {
    .support-@{i} {
        background-color: ~'var(--tui-support-@{i}, var(--tui-support-0@{i}))';
    }
    .loop(@i - 1);
}
.loop (@iterations);
