<tui-doc-page header="Filter" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            Components shows separated items that can be used to filter content
            on the page. There are also an option with badges.
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-filter-example-1></tui-filter-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="badge"
            i18n-heading
            heading="With badges"
            [content]="example2"
        >
            <tui-filter-example-2></tui-filter-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            i18n-heading
            heading="Custom"
            [content]="example3"
        >
            <tui-filter-example-3></tui-filter-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="all"
            i18n-heading
            heading="With all button"
            [content]="example4"
        >
            <tui-filter-example-4></tui-filter-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-filter
                    [formControl]="control"
                    [badgeHandler]="badgeHandler"
                    [disabledItemHandler]="disabledItemHandler"
                    [items]="items"
                    [size]="size"
                    (toggledItem)="onToggledItemChange($event)"
                ></tui-filter>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="badgeHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiHandler<T>"
                [documentationPropertyValues]="badgeHandlerVariants"
                [(documentationPropertyValue)]="badgeHandler"
            >
                Function that gets and item and returns a badge value. Uses
                <code>valueOf</code> to get a number to show by default
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="content"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent<any>"
            >
                Template for custom content in filter
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandler<T>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>
                    A handler that gets a date and returns true if it is
                    disabled.
                </div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="identityMatcher"
                documentationPropertyMode="input"
                documentationPropertyType="TuiIdentityMatcher"
            >
                Function that matches value and items, e.g. if objects are
                copied. Uses <code>===</code> by default.

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="items"
                documentationPropertyMode="input"
                documentationPropertyType="T[]"
                [documentationPropertyValues]="itemsVariants"
                [(documentationPropertyValue)]="items"
            >
                Filter items. Can be an array of strings or an array of objects.
                If no custom template provided, it uses
                <code>toString</code> for view
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeS | TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="toggledItem"
                documentationPropertyMode="output"
                documentationPropertyType="T"
            >
                toggled event of item
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiFilterModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
