<tui-doc-page
    header="SwipeActions"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template pageTab>
        <p>
            <b>Component should be used on mobile devices only.</b>
        </p>

        @for (example of examples; track example) {
            <tui-doc-example
                [component]="$index + 1 | tuiComponent"
                [content]="$index + 1 | tuiExample"
                [description]="
                    $index === 2 ? 'Automatically close a component when a pointerdown event occurs outside of it' : ''
                "
                [heading]="example"
            />
        }
    </ng-template>
</tui-doc-page>
