.tui-text {
    &_h1 {
        font: var(--tui-font-heading-h1);
    }

    &_h2 {
        font: var(--tui-font-heading-h2);
    }

    &_h3 {
        font: var(--tui-font-heading-h3);
    }

    &_h4 {
        font: var(--tui-font-heading-h4);
    }

    &_h5 {
        font: var(--tui-font-heading-h5);
    }

    &_h6 {
        font: var(--tui-font-heading-h6);
    }

    &_body-l {
        font: var(--tui-font-body-l);
    }

    &_body-l-2 {
        font: var(--tui-font-ui-l);
    }

    &_body-m {
        font: var(--tui-font-body-m);
    }

    &_body-m-2 {
        font: var(--tui-font-ui-m);
    }

    &_body-s {
        font: var(--tui-font-body-s);
    }

    &_body-s-2 {
        font: var(--tui-font-ui-s);
    }

    &_body-xs {
        font: var(--tui-font-body-xs);
    }

    &_bold {
        font-weight: bold;
    }
}
