@import '@taiga-ui/styles/utils';

:host {
    display: flex;
}

.fallback {
    .center-top();

    right: 2rem;
}

tui-swipe-actions {
    margin: -3rem -1.5rem;
}

[tuiCardLarge] {
    margin: 3rem 1.5rem;
}

button[tuiSwipeAction] {
    border-radius: 100%;
}

@media @tui-touch {
    .fallback {
        display: none;
    }
}
