@import '@taiga-ui/styles/utils';

:host {
    position: relative;
    display: flex;
    font: var(--tui-typography-body-m);
    flex-direction: column;
    box-sizing: border-box;
    margin: 2.5rem;
    border-radius: 1.5rem;

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiFade, tuiSlide;
    }

    &::after {
        .fullsize();

        content: '';
        border-radius: inherit;
        pointer-events: none;
        box-shadow: var(--tui-shadow-popup);
    }

    &[data-size='auto'] {
        inline-size: auto;
    }

    &[data-size='s'] {
        inline-size: 25rem;

        .t-content {
            padding: 1.5rem;
        }

        .t-heading {
            font: var(--tui-typography-heading-h5);
        }
    }

    &[data-size='m'] {
        inline-size: 37.5rem;
    }

    &[data-size='l'] {
        inline-size: 50rem;
    }

    &[data-size='fullscreen'],
    &[data-size='page'] {
        /* stylelint-disable-next-line */
        min-inline-size: 100vw;
        min-block-size: 100%;
        margin: 0;
        border-radius: 0;
        border: none;
        background: var(--tui-background-elevation-1);
        box-shadow: 0 4rem var(--tui-background-elevation-1);

        .t-content {
            // TODO: investigate problem in mobile calendar
            /* stylelint-disable-next-line */
            padding: 3rem calc(50vw - (45rem / 2));
        }

        .t-heading {
            font: var(--tui-typography-heading-h3);
        }
    }

    &._centered {
        text-align: center;
    }

    :host-context(tui-root._mobile) {
        &[data-size] {
            min-inline-size: 100%;
            inline-size: 100%;
            max-inline-size: 100%;
            border-radius: 0;
            border: none;
            margin: auto 0 0;
            background: var(--tui-background-elevation-1);
            padding-block-end: env(safe-area-inset-bottom);

            .t-content {
                padding: 1rem;
            }

            .t-heading {
                font: var(--tui-typography-heading-h5);
            }
        }

        &[data-size='fullscreen'],
        &[data-size='page'] {
            padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom);

            .t-close {
                top: ~'max(1rem, env(safe-area-inset-top))';
            }
        }
    }

    &[data-size='page'],
    :host-context(tui-root._mobile) &[data-size='page'] {
        .t-content {
            padding: 0;
        }
    }
}

.t-heading {
    margin: 0 0 0.5rem;
    overflow-wrap: break-word;
    font: var(--tui-typography-heading-h4);

    &_closable {
        padding-inline-end: 2rem;
    }

    &:empty {
        display: none;
    }
}

.t-header {
    display: flex;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;

    :host-context(tui-root._mobile) & {
        :host[data-size='fullscreen'] & {
            flex: 1;
        }
    }
}

.t-content {
    border-radius: inherit;
    padding: 1.75rem;
    background: var(--tui-background-elevation-1);

    &:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    > section {
        border-radius: inherit;
    }
}

.t-filler {
    flex-grow: 1;
}

.t-close {
    .transition(background);

    position: absolute;
    inset-block-start: 1rem;
    inset-inline-end: 1rem;
}

.t-buttons {
    margin-block-start: 1.25rem;
    text-align: end;
}
