.flex {
    display: flex;
}

.element {
    inline-size: 10rem;
    margin: 0 1rem 1rem 0;
}

.scrollbar {
    display: flex;
    max-inline-size: 25rem;
    max-block-size: 18.75rem;
    background: var(--tui-background-neutral-1);
}

.wrapper {
    inline-size: 50rem;
    padding: 0 1rem;
}
