.flex {
    display: flex;
}

.element {
    width: 10rem;
    margin: 0 1rem 1rem 0;
}

.scrollbar {
    display: flex;
    max-width: 25rem;
    max-height: 18.75rem;
    background: var(--tui-secondary);
}

.wrapper {
    width: 50rem;
    padding: 0 1rem;
}
