@import '@taiga-ui/core/styles/taiga-ui-local';

.parameters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    & > * {
        inline-size: 10rem;
    }
}

.scrollbar {
    display: flex;
    max-inline-size: 25rem;
    max-block-size: 18.75rem;
    background: var(--tui-background-neutral-1);
}

.wrapper {
    inline-size: 50rem;
    padding: 0 1rem;
}
