<tui-doc-page header="InputMonth" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>Component to input a single month</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <input-month-example-1></input-month-example-1>
        </tui-doc-example>

        <tui-doc-example
            i18n-heading
            heading="sizes"
            id="sizes"
            [content]="example2"
        >
            <input-month-example-2></input-month-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-month
                    [formControl]="control"
                    [min]="min"
                    [max]="max"
                    [focusable]="focusable"
                    [readOnly]="readOnly"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [disabledItemHandler]="disabledItemHandler"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [tuiTextfieldCleaner]="cleaner"
                >
                    Month
                </tui-input-month>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandler<TuiMonth>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>
                    A handler that gets a date and returns true if it is
                    disabled.
                </div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Minimum date
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Maximum date
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>InputMonthModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="examples.importModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="examples.declareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Insert a <code>TuiInoutMonthComponent</code> in the
                    template:
                </p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="examples.insertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
