<tui-doc-page
    header="Icon"
    package="EXPERIMENTAL"
    type="components"
>
    <ng-template pageTab>
        <tui-notification status="warning">
            This code is
            <strong>experimental</strong>
            and is a subject to change. Expect final solution to be shipped in the next major version
        </tui-notification>

        <p>A component to use icons and color them with CSS.</p>

        <tui-doc-example
            id="basic"
            heading="Basic"
            [content]="example1"
        >
            <tui-icon-example-1 />
        </tui-doc-example>

        <tui-doc-example
            id="external"
            heading="External icons"
            [content]="example2"
        >
            <tui-icon-example-2 />
        </tui-doc-example>

        <tui-doc-example
            id="duo"
            heading="Two colors"
            class="luminance"
            [content]="example3"
        >
            <tui-icon-example-3 />
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                <p>Import module:</p>

                <tui-doc-code
                    filename="my.module.ts"
                    [code]="exampleModule"
                />
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="my.component.html"
                    [code]="exampleHtml"
                />
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
