<tui-doc-page
    header="Icon"
    package="EXPERIMENTAL"
    type="components"
>
    <ng-template pageTab>
        <tui-notification status="warning">
            This code is
            <strong>experimental</strong>
            and is a subject to change. Expect final solution to be shipped in the next major version
        </tui-notification>

        <p>A component to use icons and color them with CSS.</p>

        <tui-doc-example
            id="basic"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="external"
            heading="External icons"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="duo"
            heading="Two colors"
            class="luminance"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <tui-setup *pageTab="'Setup'" />
</tui-doc-page>
