<tui-doc-page
    header="Icon"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        <p>A component to use icons and color them with CSS.</p>

        <tui-doc-example
            id="basic"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="external"
            heading="External icons"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="duo"
            heading="Two colors"
            class="luminance"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-icon
                [background]="backgroundIcon"
                [icon]="icon"
                [style.background]="backgroundColor"
                [style.color]="color"
                [style.height.px]="size"
                [style.width.px]="size"
            />
        </tui-doc-demo>

        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="icon"
                documentationPropertyType="string"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="icon"
            />

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="background"
                documentationPropertyType="string"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="backgroundIcon"
            />
        </tui-doc-documentation>

        <tui-doc-documentation heading="CSS customization">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.color"
                documentationPropertyType="string"
                [documentationPropertyValues]="colorVariants"
                [(documentationPropertyValue)]="color"
            />

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.background"
                documentationPropertyType="string"
                [documentationPropertyValues]="colorVariants"
                [(documentationPropertyValue)]="backgroundColor"
            />

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.height.px"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="size"
            >
                <code
                    style="color: var(--tui-background-accent-2-pressed); font-family: monospace"
                    class="tui-text_body-m"
                >
                    [style.width.px]
                </code>
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
