@import '@taiga-ui/styles/utils';

[tuiAlert] {
    position: relative;
    display: grid;
    grid-column: 1;
    place-self: start start;
    isolation: isolate;

    --tui-from: translateX(-100%);

    &[data-inline='end'] {
        justify-self: end;

        --tui-from: translateX(100%);
    }

    &[data-inline='center'] {
        justify-self: center;

        --tui-from: translateY(-100%);
    }

    &[data-block='end'] {
        align-self: end;

        &[data-inline='center'] {
            --tui-from: translateY(100%);
        }

        &:nth-of-type(1) {
            grid-row: 16;
        }

        &:nth-of-type(2) {
            grid-row: 17;
        }

        &:nth-of-type(3) {
            grid-row: 18;
        }

        &:nth-of-type(4) {
            grid-row: 19;
        }

        &:nth-of-type(5) {
            grid-row: 20;
        }

        &:nth-of-type(6) {
            grid-row: 21;
        }

        &:nth-of-type(7) {
            grid-row: 22;
        }

        &:nth-of-type(8) {
            grid-row: 23;
        }

        &:nth-of-type(9) {
            grid-row: 24;
        }

        &:nth-of-type(10) {
            grid-row: 25;
        }
    }

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiFade, tuiSlide, tuiCollapse;
    }

    &:not(:first-of-type) {
        margin-block-start: 0 !important;
    }

    &:not(:last-of-type) {
        margin-block-end: 0 !important;
    }

    &:nth-of-type(1) {
        grid-row: 5;
    }

    &:nth-of-type(2) {
        grid-row: 6;
    }

    &:nth-of-type(3) {
        grid-row: 7;
    }

    &:nth-of-type(4) {
        grid-row: 8;
    }

    &:nth-of-type(5) {
        grid-row: 9;
    }

    &:nth-of-type(6) {
        grid-row: 10;
    }

    &:nth-of-type(7) {
        grid-row: 11;
    }

    &:nth-of-type(8) {
        grid-row: 12;
    }

    &:nth-of-type(9) {
        grid-row: 13;
    }

    &:nth-of-type(10) {
        grid-row: 14;
    }

    > * {
        grid-row: 1 / span 2;

        &::before,
        &::after {
            content: '';
            display: block;
            block-size: 0.375rem;
        }
    }
}
