:host {
    display: flex;
    block-size: 100%;
    align-items: center;
    justify-content: center;

    :host-context([data-platform='android']) & {
        justify-content: start;
    }
}

.tui-enter {
    animation-name: tuiFade, tuiSlide;

    --tui-from: translateY(calc(-200% * var(--t-dir)));
}

.tui-leave {
    animation-name: tuiFade, tuiSlide;

    --tui-from: translateY(calc(200% * var(--t-dir)));
}

.tui-enter:not(:first-of-type),
.tui-leave:not(:first-of-type) {
    position: absolute;
}
