@import 'taiga-ui-local';

:host {
    display: block;
}

.t-wrapper {
    display: flex;
}

.t-menu {
    width: 11rem;
    border-left: 1px solid var(--tui-base-03);
}

.t-checkmark {
    margin-left: auto;
    width: 1rem;
    height: 1rem;
}
