<tui-primitive-calendar-range
    *ngIf="!items.length; else presets"
    automation-id="tui-calendar-range__calendars"
    tuiPreventDefault="mousedown"
    [defaultViewedMonthFirst]="defaultViewedMonth"
    [disabledItemHandler]="calculatedDisabledItemHandler"
    [markerHandler]="markerHandler"
    [max]="computedMax | tuiMapper: maxLengthMapper : value : maxLength : false"
    [min]="computedMin | tuiMapper: maxLengthMapper : value : maxLength : true"
    [value]="value"
    (dayClick)="onDayClick($event)"
></tui-primitive-calendar-range>
<ng-template #presets>
    <div class="t-wrapper">
        <tui-calendar
            automation-id="tui-calendar-range__calendar"
            tuiPreventDefault="mousedown"
            [disabledItemHandler]="calculatedDisabledItemHandler"
            [markerHandler]="markerHandler"
            [max]="computedMax | tuiMapper: maxLengthMapper : value : maxLength : false"
            [min]="computedMin | tuiMapper: maxLengthMapper : value : maxLength : true"
            [month]="computedMonth"
            [value]="value"
            (dayClick)="onDayClick($event)"
        ></tui-calendar>
        <tui-data-list
            automation-id="tui-calendar-range__menu"
            role="menu"
            class="t-menu"
        >
            <button
                *ngFor="let item of items | tuiMapper: mapper : min : max : minLength : (otherDateText$ | async)"
                automation-id="tui-calendar-range__menu__item"
                role="menuitemradio"
                tuiOption
                tuiPreventDefault="mousedown"
                [attr.aria-checked]="isItemActive(item)"
                (click)="onItemSelect(item)"
                (keydown.enter.prevent)="onItemSelect(item)"
                (keydown.space.prevent)="onItemSelect(item)"
            >
                {{ item }}
                <tui-svg
                    *ngIf="isItemActive(item)"
                    automation-id="tui-calendar-range__checkmark"
                    class="t-checkmark"
                    [src]="icons.check"
                ></tui-svg>
            </button>
        </tui-data-list>
    </div>
</ng-template>
