@import '@taiga-ui/styles/utils';

:host:not(._mobile) {
    display: flex;
    min-inline-size: 30rem;
}

.t-calendar {
    border-inline-end: 1px solid var(--tui-border-normal);
}

.t-check {
    font-size: 1rem;
    margin-inline-start: auto;
}
