<tui-primitive-calendar-range
    *ngIf="!items.length; else presets"
    automation-id="tui-calendar-range__calendars"
    tuiPreventDefault="mousedown"
    [markerHandler]="markerHandler"
    [min]="min | tuiMapper: maxLengthMapper: value: maxLength: true"
    [max]="max | tuiMapper: maxLengthMapper: value: maxLength: false"
    [defaultViewedMonthFirst]="defaultViewedMonth"
    [defaultViewedMonthSecond]="defaultViewedMonth | tuiMapper : monthShiftMapper"
    [disabledItemHandler]="calculatedDisabledItemHandler"
    [value]="value"
    (dayClick)="onDayClick($event)"
></tui-primitive-calendar-range>
<ng-template #presets>
    <div class="wrapper">
        <tui-calendar
            automation-id="tui-calendar-range__calendar"
            tuiPreventDefault="mousedown"
            [value]="value"
            [markerHandler]="markerHandler"
            [min]="min | tuiMapper: maxLengthMapper: value: maxLength: true"
            [max]="max | tuiMapper: maxLengthMapper: value: maxLength: false"
            [month]="computedMonth"
            [disabledItemHandler]="calculatedDisabledItemHandler"
            (dayClick)="onDayClick($event)"
        ></tui-calendar>
        <tui-data-list
            role="menu"
            automation-id="tui-calendar-range__menu"
            class="menu"
        >
            <button
                *ngFor="let item of items | tuiMapper : mapper : min : max : minLength : (otherDateText$ | async)"
                tuiOption
                tuiPreventDefault="mousedown"
                role="menuitemradio"
                automation-id="tui-calendar-range__menu__item"
                [attr.aria-checked]="isItemActive(item)"
                (keydown.enter.prevent)="onItemSelect(item)"
                (keydown.space.prevent)="onItemSelect(item)"
                (click)="onItemSelect(item)"
            >
                {{item}}
                <tui-svg
                    *ngIf="isItemActive(item)"
                    automation-id="tui-calendar-range__checkmark"
                    class="checkmark"
                    src="tuiIconCheck"
                ></tui-svg>
            </button>
        </tui-data-list>
    </div>
</ng-template>
