.flex {
    display: flex;
}

.element {
    width: 160px;
    margin: 0 16px 16px 0;
}

.scrollbar {
    display: flex;
    max-width: 400px;
    max-height: 300px;
    background: var(--tui-secondary);
}

.wrapper {
    width: 800px;
    padding: 0 16px;
}
