@import '@taiga-ui/core/styles/taiga-ui-local';

.tui-group {
    position: relative;
    display: flex;
    isolation: isolate;

    --t-radius: var(--tui-radius-m);

    & > * {
        flex: 1 1 0;
        min-width: 0;

        &:not(:last-child) {
            margin-right: 0.125rem;
        }
    }

    && > *:nth-child(n) {
        border-radius: 0;
    }

    &_radius_large {
        --t-radius: var(--tui-radius-l);
    }

    // TODO: refactor selectors for various z-indexes once other components are finalized
    &_collapsed {
        & > * {
            z-index: 1;

            &:not(:last-child) {
                margin: 0 -1px 0 0;
            }

            &._readonly,
            &._disabled,
            &._readonly:hover,
            &._disabled:hover {
                z-index: 0;
            }

            &._invalid {
                z-index: 2;

                &:hover,
                &._hovered,
                &._pressed {
                    z-index: 4;
                }
            }

            &:hover,
            &._hovered,
            &._pressed {
                z-index: 3;
            }

            &._hosted_dropdown_focused,
            &._focus-visible,
            &._focused.ng-touched,
            &._focused.ng-untouched {
                z-index: 5;
            }

            &._active,
            &[data-appearance='whiteblock-active'] {
                z-index: 6;
            }

            &:has([tuiBlock]:checked) {
                z-index: 6;
            }

            &._focus-visible {
                &._focused,
                &._active,
                &[data-appearance='whiteblock-active'] {
                    z-index: 7;
                }
            }
        }
    }

    &_orientation_vertical {
        display: inline-flex;
        flex-direction: column;

        & > * {
            min-height: auto;
            flex: 0 0 auto;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 0.125rem;
            }
        }

        &.tui-group_collapsed {
            & > * {
                &:not(:last-child) {
                    margin: 0 0 -1px;
                }
            }
        }
    }

    &_rounded.tui-group_orientation_horizontal {
        & > * {
            &:first-child {
                border-top-left-radius: var(--t-radius);
                border-bottom-left-radius: var(--t-radius);
            }

            &:last-child {
                border-top-right-radius: var(--t-radius);
                border-bottom-right-radius: var(--t-radius);
            }
        }
    }

    &_rounded.tui-group_orientation_vertical {
        & > * {
            &:first-child {
                border-top-left-radius: var(--t-radius);
                border-top-right-radius: var(--t-radius);
            }

            &:last-child {
                border-bottom-left-radius: var(--t-radius);
                border-bottom-right-radius: var(--t-radius);
            }
        }
    }

    &__auto-width-item {
        min-width: auto;
        flex: 0 0 auto;
    }

    // specificity is the reason of this selector
    & .tui-group__inherit-item {
        border-radius: inherit;
    }
}
