<div class="t-wrapper">
    <label
        *tuiLet="value()?.card | tuiFormatCard: cardPrefilled as formattedCard"
        (click.silent.prevent)="(0)"
    >
        <input
            #inputCard
            automation-id="tui-input-card-group__card"
            inputmode="numeric"
            translate="no"
            type="text"
            class="t-input t-input_card"
            [attr.aria-invalid]="!cardPrefilled && !(this.card | tuiMapper: cardValidator)"
            [attr.id]="id + '_card'"
            [autocomplete]="autocomplete ? 'cc-number' : 'off'"
            [class.t-input_hidden]="!card.length && focus()"
            [class.t-input_inert]="cardPrefilled"
            [disabled]="disabled()"
            [maskito]="maskCard"
            [ngModel]="formattedCard"
            [placeholder]="cardPrefilled ? '' : exampleText"
            [readOnly]="readOnly()"
            [tabIndex]="cardFocusable ? 0 : -1"
            (focus)="(0)"
            (ngModelChange)="onCardChange($event)"
        />
        <span
            aria-hidden="true"
            translate="no"
            class="t-collapsed"
            [attr.data-before]="masked"
            [class.t-collapsed_enable-mask]="cardCollapsed"
            (waResizeObserver)="(0)"
        >
            <span
                #ghost
                class="t-ghost"
                [textContent]="formattedCard.slice(-tailLength)"
            ></span>

            <span class="t-collapsed-wrapper">
                <span
                    class="t-value"
                    [style.transform]="transform(ghost)"
                >
                    {{ formattedCard }}
                </span>
            </span>
        </span>
        <div
            class="t-label"
            [class.t-label_raised]="labelRaised()"
        >
            {{ texts()?.cardNumberText }}
        </div>
    </label>
</div>
<div
    class="t-wrapper t-wrapper_expire"
    [class.t-wrapper_active]="cardCollapsed"
>
    <label (click.silent.prevent)="(0)">
        <input
            #inputExpire
            automation-id="tui-input-card-group__expire"
            inputmode="numeric"
            placeholder="00/00"
            translate="no"
            class="t-input"
            [attr.id]="id + '_expire'"
            [attr.name]="autocomplete ? 'ccexpiryyear' : null"
            [autocomplete]="autocomplete ? 'cc-exp' : 'off'"
            [class.t-input_inert]="!expireFocusable"
            [disabled]="disabled()"
            [maskito]="maskExpire"
            [ngModel]="expire"
            [readOnly]="readOnly()"
            [tabIndex]="expireFocusable ? 0 : -1"
            (focus)="(0)"
            (ngModelChange)="onExpireChange($event)"
        />
        <div
            class="t-label"
            [class.t-label_raised]="labelRaised()"
        >
            {{ texts()?.expiryText }}
        </div>
    </label>
</div>
<div
    class="t-wrapper t-wrapper_cvc"
    [class.t-wrapper_active]="cardCollapsed"
>
    <label (click.silent.prevent)="(0)">
        <input
            #inputCVC
            automation-id="tui-input-card-group__cvc"
            inputmode="numeric"
            translate="no"
            type="text"
            class="t-input"
            [attr.id]="id + '_cvc'"
            [autocomplete]="autocomplete ? 'cc-csc' : 'off'"
            [class.t-input_cvc_hidden]="cvcHidden"
            [class.t-input_prefilled]="cvcPrefilled"
            [disabled]="disabled()"
            [maskito]="maskCVC"
            [ngModel]="cvc"
            [placeholder]="cvcPrefilled ? '•••' : exampleTextCVC"
            [readOnly]="readOnly() || cvcPrefilled"
            [tabIndex]="cvcFocusable ? 0 : -1"
            (focus)="(0)"
            (ngModelChange)="onCVCChange($event)"
        />
        <div
            class="t-label"
            [class.t-label_raised]="labelRaised()"
        >
            {{ texts()?.cvcText }}
        </div>
    </label>
</div>
<div class="t-icons">
    <div
        *ngIf="content"
        class="t-icon-outlet"
    >
        <img
            *polymorpheusOutlet="content as src"
            alt=""
            automation-id="tui-input-card-group__icon"
            class="t-card"
            [src]="src | tuiIcon"
        />
    </div>
    <tui-icon
        *ngIf="hasCleaner()"
        automation-id="tui-input-card-group__cleaner"
        tuiAppearance="icon"
        class="t-icon"
        [icon]="icons.close"
        (click)="clear()"
    />
    <tui-icon
        *ngIf="dropdown.content"
        automation-id="tui-input-card-group__dropdown"
        tuiAppearance="icon"
        tuiChevron
        (click)="toggle()"
    />
</div>
