@let formattedCard = card() | tuiFormatCard: cardPrefilled();

<div class="t-wrapper">
    <label (click.zoneless.prevent)="(0)">
        <input
            #inputCard
            autocomplete="cc-number"
            automation-id="tui-input-card-group__card"
            inputmode="numeric"
            translate="no"
            type="text"
            class="t-input t-input_card"
            [attr.aria-invalid]="!cardPrefilled() && !(this.card() | tuiMapper: cardValidator())"
            [attr.id]="`${id()}_card`"
            [attr.role]="dropdown.content() ? 'combobox' : null"
            [class.t-input_filled]="card().length"
            [class.t-input_inert]="cardPrefilled()"
            [disabled]="disabled()"
            [maskito]="maskCard"
            [ngModel]="formattedCard"
            [ngModelOptions]="{standalone: true}"
            [placeholder]="cardPrefilled() ? '' : placeholder()"
            [readOnly]="readOnly()"
            [tabIndex]="cardPrefilled() ? -1 : 0"
            (focus)="(0)"
            (ngModelChange)="onCardChange($event)"
        />
        <span
            aria-hidden="true"
            translate="no"
            class="t-collapsed"
            [attr.data-before]="cardPrefilled() ? card().slice(-4) : ''"
            [class.t-collapsed_enable-mask]="cardCollapsed"
            (waResizeObserver)="onResize()"
        >
            <span
                #ghost
                class="t-ghost"
                [textContent]="formattedCard.slice(card().length % 4 > 0 ? -5 : -4)"
            ></span>

            <span class="t-collapsed-wrapper">
                <span
                    class="t-value"
                    [style]="getStyle(ghost)"
                    [textContent]="formattedCard"
                ></span>
            </span>
        </span>
        <div
            tuiTransitioned
            class="t-label"
            [attr.data-label]="texts().cardNumberText"
            [class.t-label_raised]="labelRaised()"
        >
            <ng-content />
        </div>
    </label>
</div>
<div
    class="t-wrapper t-wrapper_expire"
    [class.t-wrapper_active]="cardCollapsed"
>
    <label (click.zoneless.prevent)="(0)">
        <input
            #inputExpire
            autocomplete="cc-exp"
            automation-id="tui-input-card-group__expire"
            inputmode="numeric"
            maxlength="5"
            name="ccexpiryyear"
            translate="no"
            class="t-input"
            [attr.id]="`${id()}_expire`"
            [class.t-input_inert]="!expireFocusable()"
            [class.t-input_prefilled]="!inputs().expire"
            [disabled]="disabled()"
            [maskito]="maskExpire"
            [ngModel]="expire()"
            [ngModelOptions]="{standalone: true}"
            [placeholder]="inputs().expire ? '00/00' : '••/••'"
            [readOnly]="readOnly() || !inputs().expire"
            [tabIndex]="expireFocusable() || (isMobile && isWebkit) ? 0 : -1"
            (focus)="(0)"
            (ngModelChange)="onExpireChange($event)"
        />
        <div
            tuiTransitioned
            class="t-label"
            [class.t-label_raised]="labelRaised()"
        >
            {{ texts().expiryText }}
        </div>
    </label>
</div>
<div
    class="t-wrapper t-wrapper_cvc"
    [class.t-wrapper_active]="cardCollapsed"
>
    <label (click.zoneless.prevent)="(0)">
        <input
            #inputCVC
            autocomplete="cc-csc"
            automation-id="tui-input-card-group__cvc"
            inputmode="numeric"
            translate="no"
            type="text"
            class="t-input"
            [attr.id]="`${id()}_cvc`"
            [class.t-input_cvc_hidden]="cvcHidden"
            [class.t-input_prefilled]="cvcPrefilled()"
            [disabled]="disabled()"
            [maskito]="cvcMask()"
            [ngModel]="cvc()"
            [ngModelOptions]="{standalone: true}"
            [placeholder]="cvcPrefilled() ? '•••' : cvcPlaceholder()"
            [readOnly]="readOnly() || cvcPrefilled()"
            [tabIndex]="focusable() || (isMobile && isWebkit) ? 0 : -1"
            (focus)="(0)"
            (ngModelChange)="onCVCChange($event)"
        />
        <div
            tuiTransitioned
            class="t-label"
            [class.t-label_raised]="labelRaised()"
        >
            {{ texts().cvcText }}
        </div>
    </label>
</div>
<div class="t-icons">
    @if (content()) {
        <div class="t-icon-outlet">
            <img
                *polymorpheusOutlet="content() as src"
                alt=""
                automation-id="tui-input-card-group__icon"
                class="t-card"
                [src]="src | tuiIcon"
            />
        </div>
    }
    @if (hasCleaner()) {
        <tui-icon
            automation-id="tui-input-card-group__cleaner"
            tuiAppearance="icon"
            class="t-icon"
            [icon]="icons.close"
            (click)="clear()"
        />
    }
    @if (dropdown.content()) {
        <tui-icon
            automation-id="tui-input-card-group__dropdown"
            tuiAppearance="icon"
            tuiChevron
            class="t-icon"
            (click)="toggle()"
        />
    }
</div>
