@import '@taiga-ui/styles/utils';

:host {
    position: absolute;
    display: flex;
    box-shadow: var(--tui-shadow-medium);
    color: var(--tui-text-primary);
    background: var(--tui-background-elevation-1);
    border-radius: var(--tui-radius-m);
    overflow: auto;
    isolation: isolate;
    pointer-events: auto; // if custom portal host has pointer events none
    outline-offset: -1px;
    // stylelint-disable-next-line -- graceful degradation
    outline: 1px solid
        color-mix(in srgb, rgb(from var(--tui-border-normal) r g b / 1) 12%, var(--tui-background-elevation-1));
    overscroll-behavior: none;
    // stylelint-disable-next-line -- graceful degradation
    position-try-fallbacks:
        flip-block,
        flip-inline,
        flip-block flip-inline;

    --tui-from: translateY(-1rem);

    &:has(tui-data-list[data-size='l']) {
        border-radius: var(--tui-radius-l);
    }

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiFade, tuiSlide;
        animation-duration: @tui-duration-fast;
        pointer-events: none;
    }

    &:not([style*='top']) {
        visibility: hidden;
    }
}
