@import '@taiga-ui/styles/utils';

:host {
    position: absolute;
    display: flex;
    box-shadow: var(--tui-shadow-medium);
    color: var(--tui-text-primary);
    background: var(--tui-background-elevation-3);
    border-radius: var(--tui-radius-m);
    overflow: hidden;
    border: 1px solid var(--tui-border-normal);
    box-sizing: border-box;
    isolation: isolate;
    pointer-events: auto; // if custom portal host has pointer events none

    --tui-from: translateY(-1rem);

    &:has(tui-data-list[data-size='l']) {
        border-radius: var(--tui-radius-l);
    }

    &.tui-enter,
    &.tui-leave {
        animation-name: tuiFade, tuiSlide;
    }

    &:not([style*='top']) {
        visibility: hidden;
    }
}

.t-scroll {
    flex-grow: 1;
    max-inline-size: calc(100% + 2px);
    inline-size: max-content;
    overscroll-behavior: none;
    margin: -1px;
}

.t-primitive {
    padding: 1rem;
}
