.first {
    --tui-primary: var(--tui-support-01);
    --tui-primary-hover: var(--tui-support-21);
    --tui-primary-active: var(--tui-support-02);
}

.second {
    --tui-primary: var(--tui-support-03);
    --tui-primary-hover: var(--tui-support-04);
    --tui-primary-active: var(--tui-positive);
}

.third {
    --tui-primary: var(--tui-support-12);
    --tui-primary-hover: var(--tui-support-07);
    --tui-primary-active: var(--tui-support-08);
}
