@import '../variables/media.scss';

@mixin hitbox($size) {
    @media ($tui-mobile) {
        overflow: visible;

        &::after {
            content: '';
            position: absolute;
            display: block !important;
            inline-size: max(100%, $size);
            block-size: max(100%, $size);
            background: transparent;
        }
    }
}
