@import '@taiga-ui/core/styles/taiga-ui-local';

.dropdown {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    padding: 0.25rem 0.75rem;
}
