<tui-doc-page header="Group" package="CORE" type="components">
    <ng-template pageTab>
        <div i18n class="tui-space_bottom-3">
            A component and a directive for grouping other components. For
            example,
            <a tuiLink routerLink="/components/input">textfields</a> and
            <a tuiLink routerLink="/components/button">buttons</a>.
        </div>
        <div i18n class="tui-space_bottom-3">
            Items take all available width. If you want to prevent it, use
            <code>class="<strong>tui-group__auto-width-item</strong>"</code>.
        </div>

        <p i18n>
            If you want item to inherit border radius, use class
            <code>class="<strong>tui-group__inherit-item</strong>"</code>
        </p>

        <tui-doc-example id="inputs" heading="Inputs" [content]="example1">
            <tui-group-example-1></tui-group-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="buttons"
            heading="ButtonGroup"
            [content]="example2"
        >
            <tui-group-example-2></tui-group-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="vertical"
            i18n-heading
            heading="Vertical group"
            [content]="example3"
        >
            <tui-group-example-3></tui-group-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="directive"
            heading="Directive"
            [content]="example4"
        >
            <tui-group-example-4></tui-group-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <div
                tuiGroup
                class="group"
                [adaptive]="adaptive"
                [collapsed]="collapsed"
                [rounded]="rounded"
                [orientation]="orientation"
                [size]="size"
            >
                <button tuiButton type="button" appearance="outline" size="l">
                    Button 1
                </button>
                <button tuiButton type="button" appearance="outline" size="l">
                    Button 2
                </button>
                <button tuiButton type="button" appearance="outline" size="l">
                    Button 3
                </button>
            </div>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="adaptive"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="adaptive"
            >
                Enable adaptive mode (for mobile)
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="collapsed"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="collapsed"
            >
                Remove margin between items (<code>2px</code> by default)
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="rounded"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="rounded"
            >
                The first and the last items are rounded
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="orientation"
                documentationPropertyMode="input"
                documentationPropertyType="TuiOrientation"
                [documentationPropertyValues]="orientationVariants"
                [(documentationPropertyValue)]="orientation"
            >
                Horizontal or vertical direction of group
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size of rounding
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiGroupModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
