@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiTable] {
    inline-size: 100%;
}

[tuiTh],
[tuiTd] {
    border-inline-start: none;
    border-inline-end: none;
}

[tuiTh] {
    border-block-start: none;
}

[tuiTd] {
    font: var(--tui-font-text-m) !important;
    inline-size: 18.75rem;
}
