@if (selectorMode) {
    <div
        class="t-select"
        [tuiDropdown]="menu"
        [(tuiDropdownOpen)]="open"
    >
        <button
            appearance=""
            size="s"
            tuiButton
            tuiChevron
            type="button"
        >
            {{ currentMode }}
        </button>
        <ng-template #menu>
            <tui-data-list
                role="menu"
                size="s"
                class="t-menu"
            >
                @for (mode of modes; track mode) {
                    <button
                        role="menuitemradio"
                        tuiOption
                        type="button"
                        [attr.aria-checked]="isModeActive(mode)"
                        (click)="onModeSelect(mode)"
                        (keydown.enter.prevent)="onModeSelect(mode)"
                        (keydown.space.prevent)="onModeSelect(mode)"
                    >
                        {{ mode }}
                        @if (isModeActive(mode)) {
                            <tui-icon
                                class="t-checkmark"
                                [icon]="icons.check"
                            />
                        }
                    </button>
                }
            </tui-data-list>
        </ng-template>
    </div>
    <hr class="t-hr" />
}

@if (isGradient) {
    <div
        class="t-wrapper"
        [style.background]="gradient"
    >
        <tui-linear-multi-picker
            class="t-gradient"
            [value]="stopsKeys"
            (indexChange)="onIndexChange($event)"
            (valueChange)="onStopsChange($event)"
        />
    </div>
    <div class="t-buttons">
        <!-- TODO: Change to `tuiHintDescribe` when figure tuiDriver order issue -->
        @for (button of buttons; track button) {
            <button
                appearance=""
                size="xs"
                tuiHintDescribe
                tuiIconButton
                type="button"
                class="t-direction"
                [class.t-direction_active]="isDirectionActive(button)"
                [iconStart]="getIcon(button)"
                [tuiHint]="button"
                (click)="onDirectionChange(button)"
            ></button>
        }
    </div>
}
<tui-color-picker
    [color]="currentColor"
    (colorChange)="onColorChange($event)"
/>
@if (!isGradient) {
    <tui-color-edit
        orientation="horizontal"
        tuiGroup
        class="t-edit"
        [color]="color"
        (colorChange)="onColorChange($event)"
    />
}
@if (palette.size) {
    <tui-palette
        class="t-palette"
        [colors]="palette"
        (selectedColor)="onPalettePick($event)"
    />
}
