@import 'taiga-ui-local';

.carousel {
    margin: 0 2.5rem;
    border: 1px solid var(--tui-primary);
}

.plate {
    .text-h3();
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 7.5rem;
    padding: 1.75rem;
    box-sizing: border-box;
    background: var(--tui-secondary);
}

.button {
    margin-top: 0.5rem;
}
