<tui-doc-page
    header="Carousel"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <tui-notification
            status="warning"
            class="tui-space_bottom-4"
        >
            Requires
            <a
                tuiLink
                href="https://caniuse.com/intersectionobserver"
            >
                IntersectionObserver
            </a>
            support or a
            <a
                tuiLink
                href="https://github.com/w3c/IntersectionObserver/tree/main/polyfill"
            >
                polyfill
            </a>
        </tui-notification>

        Carousel allows you to rotate through arbitrary items. Multiple items can be shown simultaneously.

        <tui-doc-example
            id="single"
            heading="Single"
            [content]="example1"
        >
            <tui-carousel-example-1 (touchstart.passive.stop)="(0)"></tui-carousel-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="multi"
            heading="Multiple"
            [content]="example2"
        >
            <tui-carousel-example-2 (touchstart.passive.stop)="(0)"></tui-carousel-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            heading="Custom"
            [content]="example3"
        >
            <tui-carousel-example-3 (touchstart.passive.stop)="(0)"></tui-carousel-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="dialog"
            heading="Carousel inside dialog"
            [content]="example4"
        >
            <tui-carousel-example-4></tui-carousel-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="alignment"
            heading="Vertical alignment"
            [content]="example5"
        >
            <tui-carousel-example-5></tui-carousel-example-5>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-carousel
                class="carousel"
                [draggable]="draggable"
                [duration]="duration"
                [itemsCount]="itemsCount"
                [(index)]="index"
                (touchstart.passive.stop)="(0)"
            >
                <ng-container *tuiRepeatTimes="let item of 9">
                    <div
                        *tuiItem
                        class="plate"
                    >
                        {{ item }}
                        <button
                            tuiButton
                            type="button"
                            size="s"
                            class="button"
                        >
                            I'm focusable
                        </button>
                    </div>
                </ng-container>
            </tui-carousel>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="draggable"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="draggable"
            >
                Whether or not slider can be dragged by clicking and holding
            </ng-template>
            <ng-template
                documentationPropertyName="duration"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [documentationPropertyValues]="durationVariants"
                [(documentationPropertyValue)]="duration"
            >
                Duration in milliseconds for each slide for automatic rotation (use 0 to disable automatic rotation)
            </ng-template>
            <ng-template
                documentationPropertyName="itemsCount"
                documentationPropertyType="number"
                documentationPropertyMode="input"
                [(documentationPropertyValue)]="itemsCount"
            >
                Number of slides shown at the same time
            </ng-template>
            <ng-template
                documentationPropertyName="index"
                documentationPropertyType="number"
                documentationPropertyMode="input-output"
                [(documentationPropertyValue)]="index"
            >
                Current index
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiCarouselModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
