@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media @tui-touch {
    [tuiButtonClose]:not([tuiSwipeAction]) {
        display: none;
    }
}
