<tui-doc-page header="Mobile themes" package="ADDON-MOBILE">
    <ng-template i18n pageTab="Android">
        Import <code>TuiThemeAndroidModule</code> into your app.module and add
        <code>tui-theme-android</code> component to enable Android theme.
        <code>TUI_IS_ANDROID</code> can help to recognize Android user

        <tui-doc-example id="Android" heading="Android" [content]="example1">
            <tui-mobile-themes-example-1></tui-mobile-themes-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template i18n pageTab="IOS">
        Import <code>TuiThemeIosModule</code> into your app.module and add
        <code>tui-theme-ios</code>. <code>TUI_IS_IOS</code> can help to
        recognize iOS user

        <tui-doc-example id="IOS" heading="IOS" [content]="example2">
            <tui-mobile-themes-example-2></tui-mobile-themes-example-2>
        </tui-doc-example>
    </ng-template>
</tui-doc-page>
