tui-avatar-labeled {
    display: flex;
    width: 3.5rem;
    box-sizing: content-box;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 0.895rem;
    font-size: 0.75rem;
    padding: 0 0.5rem;

    tui-avatar {
        margin-bottom: 0.375rem;
    }

    [tuiFade] {
        width: calc(100% + 1rem);
    }
}
