<tui-primitive-textfield
    class="t-textfield"
    [disabled]="computedDisabled"
    [focusable]="focusable"
    [invalid]="computedInvalid"
    [nativeId]="nativeId"
    [pseudoActive]="pseudoActive"
    [pseudoFocus]="pseudoFocus"
    [pseudoHover]="pseudoHover"
    [readOnly]="readOnly"
    [tuiTextfieldIcon]="interactive ? iconContent : ''"
    [(value)]="value"
    (focusedChange)="onFocused($event)"
>
    <ng-content></ng-content>
    <ng-content
        ngProjectAs="input"
        select="input"
    ></ng-content>
</tui-primitive-textfield>

<ng-template
    #iconContent="polymorpheus"
    [polymorpheus]="type"
>
    <ng-container *ngIf="passwordTexts$ | async as texts">
        <tui-svg
            *polymorpheusOutlet="icon as src; context: {$implicit: size}"
            appearance="icon"
            automation-id="tui-password__icon"
            tuiWrapper
            class="t-icon"
            [src]="src"
            [tuiHint]="texts[0] && texts[1] && hintContent"
            [tuiHintAppearance]="(computedAppearance$ | async) || ''"
            [tuiHintDirection]="hintOptions?.direction || 'bottom-left'"
            (click)="togglePasswordVisibility()"
        ></tui-svg>

        <ng-template
            #hintContent="polymorpheus"
            polymorpheus
        >
            {{ isPasswordHidden ? texts[0] : texts[1] }}
        </ng-template>
    </ng-container>
</ng-template>
