<tui-primitive-textfield
    class="t-textfield"
    [pseudoFocused]="pseudoFocused"
    [pseudoHovered]="pseudoHovered"
    [pseudoPressed]="pseudoPressed"
    [invalid]="computedInvalid"
    [focusable]="focusable"
    [nativeId]="nativeId"
    [tuiTextfieldType]="inputType"
    [disabled]="computedDisabled"
    [readOnly]="readOnly"
    [iconContent]="interactive ? iconContent : null"
    [value]="value"
    (valueChange)="onValueChange($event)"
    (focusedChange)="onFocused($event)"
    (hoveredChange)="onHovered($event)"
    (pressedChange)="onPressed($event)"
>
    <ng-content></ng-content>
    <ng-content
        select="input"
        ngProjectAs="input"
    ></ng-content>
</tui-primitive-textfield>

<ng-template
    #iconContent="polymorpheus"
    [polymorpheus]="type"
>
    <span
        *tuiLet="passwordTexts$ | async as texts"
        polymorpheus-outlet
        [content]="icon"
        [context]="context"
    >
        <ng-template let-icon>
            <tui-svg
                automation-id="tui-password__icon"
                tuiHintId="not_required"
                class="t-icon"
                [tuiHint]="texts[0] && texts[1] && hintContent"
                [tuiHintDirection]="hintController.direction"
                [tuiHintMode]="computedMode$ | async"
                [src]="icon"
                (click)="togglePasswordVisibility()"
            ></tui-svg>
        </ng-template>

        <ng-template
            #hintContent="polymorpheus"
            polymorpheus
        >
            {{ isPasswordHidden ? texts[0] : texts[1] }}
        </ng-template>
    </span>
</ng-template>
