<tui-primitive-textfield
    class="textfield"
    [pseudoFocused]="pseudoFocused"
    [pseudoHovered]="pseudoHovered"
    [pseudoPressed]="pseudoPressed"
    [invalid]="computedInvalid"
    [focusable]="focusable"
    [nativeId]="nativeId"
    [tuiTextfieldType]="inputType"
    [disabled]="disabled"
    [readOnly]="readOnly"
    [iconContent]="hasEyeIcon ? iconContent : null"
    [value]="value"
    (valueChange)="onValueChange($event)"
    (focusedChange)="onFocused($event)"
    (hoveredChange)="onHovered($event)"
    (pressedChange)="onPressed($event)"
>
    <ng-content></ng-content>
</tui-primitive-textfield>

<ng-template #iconContent>
    <tui-svg
        automation-id="tui-password__icon"
        class="icon"
        tuiHintId="not_required"
        [tuiHint]="hintContent"
        [src]="icon"
        (click)="togglePasswordVisibility()"
    ></tui-svg>
</ng-template>

<ng-template #hintContent>
    <ng-container *ngIf="passwordTexts$ | async as texts">
        {{isPasswordHidden ? texts[0] : texts[1]}}
    </ng-container>
</ng-template>
