:host,
.hint {
    --tui-chart-0: #c779d0;
    --tui-chart-1: #feac5e;
    --tui-chart-2: #ff5f6d;
    --tui-chart-3: #4bc0c8;
}

.axes {
    height: 300px;
    width: 600px;
}

.chart {
    height: 100%;
}

.wrapper {
    position: relative;
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    margin-bottom: -1px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.hint {
    display: flex;
    align-items: center;
}

.dot {
    border-radius: 100%;
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.name {
    margin-right: 8px;
}
