<tui-doc-page
    header="Editor"
    package="ADDON-EDITOR"
    type="components"
>
    <tui-doc-example
        id="font"
        heading="Heading"
        description="The Heading extension adds support for headings of different levels. Headings are rendered with h1, h2, h3, h4, h5 or h6 HTML tags. By default all six heading levels (or styles) are enabled, but you can pass an array to only allow a few levels. Check the usage example to see how this is done. Type #  at the beginning of a new line and it will magically transform to a heading, same for ## , ### , #### , #####  and ######."
        [content]="example1"
    >
        <tui-editor-font-example-1></tui-editor-font-example-1>
    </tui-doc-example>
</tui-doc-page>
