<tui-doc-page
    header="Island"
    package="LEGACY"
    type="components"
>
    <ng-template pageTab>
        <tui-notification status="error">
            This component is deprecated in favor of
            <a
                tuiLink
                [routerLink]="routes.CardLarge"
            >
                Card
            </a>
            component
        </tui-notification>

        <div class="tui-space_vertical-3">Islands show information in rounded block with a border</div>

        <tui-styles-info />

        <strong>.tui-island</strong>
        :
        <ul class="tui-list tui-list_small tui-space_top-3">
            <li class="tui-list__item">
                <code>.tui-island__category</code>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__title</code>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__paragraph</code>
                <ul class="tui-list tui-list_linear tui-list_nested tui-list_extra-small">
                    <li class="tui-list__item">
                        <code>.tui-island__paragraph_link</code>
                        : paragraph with links. Margin top
                        <code>16px</code>
                    </li>
                    <li class="tui-list__item">
                        <code>.tui-island__paragraph_button</code>
                        : paragraph with buttons. Margin top
                        <code>20px</code>
                    </li>
                </ul>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__figure</code>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__content</code>
                : a class for a case when figure is aside
            </li>
            <li class="tui-list__item">
                <code>.tui-island__carousel-controls</code>
                : block with
                <b>carousel actions</b>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__carousel-button</code>
                :
                <b>button for carousel</b>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__carousel-pages</code>
                :
                <b>carousel pages</b>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__footer-button</code>
                :
                <b>footer button</b>
                with island width
            </li>
        </ul>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
            [fullsize]="true"
        />

        <tui-doc-example
            id="full-featured"
            heading="Many options"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
            [fullsize]="true"
        />

        <tui-doc-example
            id="custom"
            heading="Custom"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
            [fullsize]="true"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-island
                class="island"
                [hoverable]="hoverable"
                [size]="size"
                [textAlign]="textAlign"
            >
                <div class="tui-island__content">
                    <figure class="tui-island__figure">
                        <div class="some-figure"></div>
                    </figure>
                    <div>
                        <h3 class="tui-island__title">Some heading</h3>
                        <p class="tui-island__paragraph">Some information</p>
                        <p class="tui-island__paragraph tui-island__paragraph_button">
                            <button
                                appearance="secondary"
                                tuiButton
                                type="button"
                                [size]="size"
                            >
                                Button
                            </button>
                        </p>
                    </div>
                </div>
            </tui-island>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="hoverable"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="hoverable"
            >
                Hoverable
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="textAlign"
                documentationPropertyType="'left' | 'right' | 'center'"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Text align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
