<tui-doc-page header="Island" package="KIT" type="components">
    <ng-template pageTab>
        <div i18n class="tui-space_bottom-3">
            Islands show information in rounded block with a border
        </div>

        <strong>.tui-island</strong>:
        <ul class="tui-list tui-list_small tui-space_top-3">
            <li class="tui-list__item">
                <code>.tui-island__category</code>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__title</code>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__paragraph</code>
                <ul
                    class="tui-list tui-list_linear tui-list_nested tui-list_extra-small"
                >
                    <li class="tui-list__item">
                        <code>.tui-island__paragraph_link</code>: parahraph with
                        links. Margin top <code>16px</code>
                    </li>
                    <li class="tui-list__item">
                        <code>.tui-island__paragraph_button</code>: parahraph
                        with buttons. Margin to <code>20px</code>
                    </li>
                </ul>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__figure</code>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__content</code>: a class for a case when
                figure is aside
            </li>
            <li class="tui-list__item">
                <code>.tui-island__carousel-controls</code>: block with
                <b>carousel actions</b>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__carousel-button</code>:
                <b>button for carousel</b>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__carousel-pages</code>:
                <b>carousel pages</b>
            </li>
            <li class="tui-list__item">
                <code>.tui-island__footer-button</code>:
                <b>footer button</b> with island width
            </li>
        </ul>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-island-example-1></tui-island-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="full-featured"
            i18n-heading
            heading="Many options"
            [content]="example2"
        >
            <tui-island-example-2></tui-island-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            i18n-heading
            heading="Custom"
            [content]="example3"
        >
            <tui-island-example-3></tui-island-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-island
                class="island"
                [hoverable]="hoverable"
                [size]="size"
                [textAlign]="textAlign"
            >
                <div class="tui-island__content">
                    <figure class="tui-island__figure">
                        <div class="some-figure"></div>
                    </figure>
                    <div>
                        <h3 class="tui-island__title">Some heading</h3>
                        <p class="tui-island__paragraph">Some information</p>
                        <p
                            class="tui-island__paragraph tui-island__paragraph_button"
                        >
                            <button
                                tuiButton
                                type="button"
                                appearance="secondary"
                                [size]="size"
                            >
                                Button
                            </button>
                        </p>
                    </div>
                </div>
            </tui-island>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="hoverable"
                documentationPropertyType="boolean"
                documentationPropertyMode="input"
                [(documentationPropertyValue)]="hoverable"
            >
                Hoverable
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                documentationPropertyName="textAlign"
                documentationPropertyMode="input"
                documentationPropertyType="TuiTextAlign"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Text align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiIslandModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
