<svg
    xmlns="http://www.w3.org/2000/svg"
    height="100%"
    width="100%"
    viewBox="-100 -100 200 200"
    focusable="false"
    class="t-svg"
>
    <defs>
        <mask [attr.id]="maskId">
            <rect
                x="-200"
                y="-200"
                width="400"
                height="400"
                fill="white"
            />
            <circle
                cx="0"
                cy="0"
                [attr.r]="radius"
            />
        </mask>
    </defs>
    <g [style.mask]="mask">
        <circle
            cx="0"
            cy="0"
            r="100"
            class="t-placeholder"
        />
        <path
            *tuiRepeatTimes="let index of segments.length"
            fill="currentColor"
            automation-id="tui-pie-chart__segment"
            tuiHintMode="onDark"
            tuiHintDirection="top-right"
            d=""
            class="t-segment"
            [attr.transform]="getTransform(index)"
            [style.color]="getColor(index)"
            [tuiPieChart]="segments[index]"
            [tuiPointerHint]="getHint(hint)"
            (tuiHoveredChange)="onHovered($event, index)"
        >
            <ng-template #hint>
                <ng-template
                    [ngTemplateOutlet]="template"
                    [ngTemplateOutletContext]="{$implicit: index}"
                ></ng-template>
            </ng-template>
        </path>
    </g>
</svg>
<ng-template
    #template
    let-index
>
    <div
        polymorpheus-outlet
        class="t-text"
        [content]="hintContent"
        [context]="{$implicit: index}"
    ></div>
</ng-template>
