@import '@taiga-ui/styles/utils';

@size-xs: 2rem;
@size-s: 4rem;
@size-m: 9rem;
@size-l: 11rem;
@size-xl: 16rem;

:host {
    position: relative;
    display: block;
    inline-size: var(--t-size);
    block-size: var(--t-size);
    border-radius: 100%;

    &[data-size='xs'] {
        --t-size: @size-xs;

        pointer-events: none;
    }

    &[data-size='s'] {
        --t-size: @size-s;
    }

    &[data-size='m'] {
        --t-size: @size-m;
    }

    &[data-size='l'] {
        --t-size: @size-l;
    }

    &[data-size='xl'] {
        --t-size: @size-xl;
    }
}

.t-svg {
    position: relative;
    overflow: visible;
    transform: rotate(-90deg);
}

.t-segment {
    .transition(transform);

    :host._empty & {
        display: none;
    }
}

.t-placeholder {
    fill: var(--tui-background-neutral-1);
}
