@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .scrollbar-hidden();

    --tui-action-gap: 24;
    --tui-actions-padding: 0.5rem;
    --tui-item-size: 44;

    display: flex;
    width: stretch;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    perspective: 1px;
    perspective-origin: calc(100% + calc(1px * var(--tui-item-size) / 2) + var(--tui-actions-padding));
}

.t-content {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
}

.t-actions {
    display: flex;
    gap: calc(1px * var(--tui-action-gap));
    padding: 0 1rem 0 var(--tui-actions-padding);
    scroll-snap-align: start;
    align-items: center;
    transform-style: preserve-3d;

    &:empty {
        display: none;
    }

    ::ng-deep & > * {
        .loop(6);
    }
}

.loop (@i) when (@i > 1) {
    .loop(@i - 1);
    &:nth-child(@{i}) {
        --t-distance: ~'calc(var(--tui-item-size) + var(--tui-action-gap)) * calc(@{i} - 1)';
        --t-factor: calc((var(--t-actions-width) - var(--t-distance)) / var(--t-actions-width));
        --t-scale: calc(1 / var(--t-factor));
        --t-translate: calc(1px * (1 - 1 / var(--t-factor)));

        transform: ~'translate3d(calc(calc((-100% - calc(1px * var(--tui-action-gap))) * (@{i} - 1)) / var(--t-scale)), 0, var(--t-translate))';
        scale: var(--t-scale);
    }
}
