@import '@taiga-ui/legacy/styles/taiga-ui-local';

/* stylelint-disable order/order */
[tuiWrapper][data-appearance='accent'] {
    background: var(--tui-background-accent-2);
    color: var(--tui-text-primary-on-accent-2);

    .wrapper-hover({
        background: var(--tui-background-accent-2-hover);
    });

    .wrapper-active({
        background: var(--tui-background-accent-2-pressed);
    });

    .wrapper-invalid({
        color: var(--tui-status-negative);
        background: var(--tui-status-negative-pale);

        .wrapper-hover({
            background: var(--tui-status-negative-pale-hover);
        });

        .wrapper-focus({
            --tui-border-focus: var(--tui-status-negative);
        });
    });
}
