@import '@taiga-ui/legacy/styles/taiga-ui-local';

/* stylelint-disable order/order */
tui-wrapper[data-appearance='mono'],
[tuiWrapper][data-appearance='mono'] {
    background: var(--tui-background-base);
    color: var(--tui-text-primary);

    .wrapper-hover({
        color: var(--tui-text-tertiary);
    });

    .wrapper-active({
        color: var(--tui-text-secondary);
    });

    [tuiTheme='dark'] &,
    &[tuiTheme='dark'] {
        .wrapper-focus({
            --tui-border-focus: var(--tui-text-primary);
        });
    }
}
