@import '@taiga-ui/legacy/styles/taiga-ui-local';

/* stylelint-disable order/order */
[tuiWrapper][data-appearance='outline'] {
    background: transparent;
    color: var(--tui-text-primary);

    &:after {
        color: var(--tui-border-normal);
    }

    [tuiTheme='dark'] &,
    &[tuiTheme='dark'] {
        color: var(--tui-text-primary);

        &:after {
            color: var(--tui-text-primary);
        }

        .wrapper-hover({
            background: var(--tui-background-neutral-1-hover);

            &:after {
                color: var(--tui-text-tertiary);
            }
        });

        .wrapper-active({
            background: var(--tui-background-neutral-1-pressed);

            &:after {
                color: var(--tui-text-tertiary);
            }
        });

        .wrapper-focus({
            --tui-border-focus: var(--tui-text-primary);
        });
    }

    .wrapper-hover({
        &:after {
            color: var(--tui-border-hover);
        }
    });

    .wrapper-active({
        &:after {
            color: var(--tui-border-hover);
        }
    });
}
