@import '@taiga-ui/legacy/styles/taiga-ui-local';

/* stylelint-disable order/order */
[tuiWrapper][data-appearance='secondary'],
[tuiWrapper][data-appearance='flat'],
[tuiWrapper][data-appearance='destructive'] {
    background: var(--tui-background-neutral-1);
    color: var(--tui-text-action);

    .wrapper-hover({
        background: var(--tui-background-neutral-1-hover);
    });

    .wrapper-active({
        background: var(--tui-background-neutral-1-pressed);
    });

    .wrapper-invalid({
        color: var(--tui-status-negative);
        background: var(--tui-status-negative-pale);

        .wrapper-hover({
            background: var(--tui-status-negative-pale-hover);
        });

        .wrapper-focus({
            --tui-border-focus: var(--tui-status-negative);
        });
    });
}

[tuiWrapper][data-appearance='flat'] {
    background: transparent;
}

[tuiWrapper][data-appearance='destructive'] {
    color: var(--tui-status-negative);
    background: var(--tui-status-negative-pale);

    .wrapper-hover({
        background: var(--tui-status-negative-pale-hover);
    });

    .wrapper-active({
        background: var(--tui-status-negative-pale-hover);
    });
}
