@import '@taiga-ui/legacy/styles/taiga-ui-local';

/* stylelint-disable order/order */
tui-wrapper[data-appearance='secondary-destructive'],
[tuiWrapper][data-appearance='secondary-destructive'] {
    background: var(--tui-status-negative-pale);
    color: var(--tui-status-negative);

    .wrapper-hover({
        background: var(--tui-status-negative-pale-hover);
    });

    .wrapper-active({
        background: var(--tui-status-negative-pale-hover);
    });
}
