@import '@taiga-ui/legacy/styles/taiga-ui-local';

/* stylelint-disable order/order */
[tuiWrapper][data-appearance='textfield'] {
    .transition(~'box-shadow, background');

    background: var(--tui-background-base);
    color: var(--tui-text-primary);
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);

    &[data-appearance='textfield']:after {
        .transition(color);

        color: var(--tui-border-normal);
    }

    .wrapper-hover({
        box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.16);
    });

    .wrapper-focus({
        box-shadow: none;

        &:after {
            --tui-border-focus: var(--tui-background-accent-1);
        }
    });

    .wrapper-readonly({
        box-shadow: none;

        &:after {
            color: var(--tui-border-normal);
        }
    });

    .wrapper-disabled({
        box-shadow: none;
    });

    .wrapper-invalid({
        &:after {
            color: var(--tui-status-negative);
            --tui-border-focus: var(--tui-status-negative);
        }
    });
}

[tuiWrapper][data-appearance='textfield'][tuiTheme='dark'],
[tuiTheme='dark'] [tuiWrapper][data-appearance='textfield'] {
    background: var(--tui-background-neutral-1);
    color: var(--tui-text-primary);

    &:after {
        color: var(--tui-border-normal);
    }

    .wrapper-hover({
        background: var(--tui-background-neutral-1-hover);
    });

    .wrapper-readonly({
        background: transparent;
    });

    .wrapper-focus({
        background: transparent;

        &:after {
            transition: none;
            --tui-border-focus: var(--tui-background-accent-1);
        }
    });

    .wrapper-invalid({
        &:after {
            --tui-border-focus: var(--tui-status-negative);
        }
    });
}
