<label class="wrapper">
    <div
        tuiWrapper
        [appearance]="appearance"
        [disabled]="computedDisabled"
        [focused]="computedFocusVisible"
        [hover]="pseudoHovered"
        [active]="pseudoPressed"
        [invalid]="computedInvalid"
    >
        <div class="content-wrapper">
            <div class="content">
                <tui-radio
                    class="view"
                    [focusable]="focusable"
                    [identityMatcher]="identityMatcher"
                    [item]="item"
                    [name]="computedName || ''"
                    [nativeId]="nativeId"
                    [readOnly]="readOnly"
                    [pseudoDisabled]="computedDisabled"
                    [pseudoInvalid]="computedInvalid"
                    [pseudoFocused]="false"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [size]="checkboxSize"
                    [ngModel]="value"
                    (ngModelChange)="onModelChange($event)"
                    (focusedChange)="onFocused($event)"
                    (focusVisibleChange)="onFocusVisible($event)"
                ></tui-radio>
                <div class="label">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</label>
