:host {
    position: relative;
    display: block;
    height: 5rem;
    border-left: 2rem solid transparent;
    background: var(--tui-base-02);
    box-shadow: 0 0 0 2rem var(--tui-base-02);
}

[tuiPin] {
    position: absolute;
    top: 4rem;
}

.link {
    border: 0.125rem solid var(--tui-link);
    color: var(--tui-link);
    background: var(--tui-base-01);
}

.crazy {
    background: #ff9bda;
    color: #0075ff;
    border-color: #7b439e;
    box-shadow: 0 0 0 0.125rem #b286ff;
}
