:host {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    height: 10.25rem;
}

.custom-background {
    --tui-pin-background: var(--tui-base-01);
}

.custom-border {
    border: 2px solid var(--tui-primary);
    color: var(--tui-primary);
}
