<label
    class="t-wrapper"
    (tuiHoveredChange)="onHovered($event)"
    (tuiPressedChange)="onPressed($event)"
>
    <div
        tuiWrapper
        [appearance]="appearance"
        [disabled]="computedDisabled"
        [focused]="computedFocusVisible"
        [hover]="computedHovered"
        [active]="computedPressed"
        [invalid]="computedInvalid"
    >
        <div class="t-content-wrapper">
            <div class="t-content">
                <tui-checkbox
                    class="t-view"
                    [disabled]="computedDisabled || readOnly"
                    [nativeId]="nativeId"
                    [pseudoInvalid]="computedInvalid"
                    [pseudoFocused]="false"
                    [pseudoHovered]="computedHovered"
                    [pseudoPressed]="computedPressed"
                    [size]="checkboxSize"
                    [focusable]="focusable"
                    [ngModel]="value"
                    (ngModelChange)="onModelChange($event)"
                    (focusedChange)="onFocused($event)"
                    (focusVisibleChange)="onFocusVisible($event)"
                ></tui-checkbox>
                <div class="t-label">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</label>
