@import 'taiga-ui-local';

@margin-l: 1rem;
@margin-m: 0.875rem;
@margin-s: 0.5rem;

:host {
    .text-basic();
    display: inline-block;
    vertical-align: top;
    border-radius: var(--tui-radius-m);

    &[data-size='m'],
    &[data-size='l'] {
        font: var(--tui-font-text-m);
    }

    &._disabled,
    &._readonly {
        pointer-events: none;
    }
}

.t-wrapper {
    position: relative;
    border-radius: inherit;
    cursor: pointer;
    user-select: none;
}

.t-content-wrapper {
    display: flex;
    flex-direction: column;

    :host[data-size='s'] & {
        min-height: var(--tui-height-s);
    }

    :host[data-size='m'] & {
        min-height: var(--tui-height-m);
    }

    :host[data-size='l'] & {
        min-height: var(--tui-height-l);
    }
}

.t-content {
    display: flex;
    align-items: center;
    align-content: center;
    min-height: inherit;

    :host[data-align='right'] & {
        flex-direction: row-reverse;
    }

    :host[data-size='s'] & {
        padding: 0 1rem 0 0.5rem;
    }

    :host[data-size='s'][data-align='right'] & {
        padding: 0 0.5rem 0 1rem;
    }

    :host[data-size='s']._hidden_checkbox & {
        padding: 0 1rem;
    }

    :host[data-size='m'] & {
        padding: 0 1rem 0 0.75rem;
    }

    :host[data-size='m'][data-align='right'] & {
        padding: 0 0.75rem 0 1rem;
    }

    :host[data-size='m']._hidden_checkbox & {
        padding: 0 1.5rem;
    }

    :host[data-size='l'] & {
        padding: 0 1rem;
    }

    :host[data-size='l']._hidden_checkbox & {
        padding: 0 2.25rem;
    }
}

.t-view {
    margin-right: 0.75rem;
    align-self: center;

    :host[data-checkbox-position='top'] & {
        align-self: start;
    }

    :host[data-checkbox-position='bottom'] & {
        align-self: end;
    }

    :host[data-align='right'] & {
        margin-left: 0.75rem;
        margin-right: 0;
    }

    :host[data-size='s'] & {
        margin-right: 0.5rem;
    }

    :host[data-size='s'][data-checkbox-position='top'] & {
        margin-top: var(--tui-margin, @margin-s);
    }

    :host[data-size='s'][data-checkbox-position='bottom'] & {
        margin-bottom: var(--tui-margin, @margin-s);
    }

    :host[data-size='s'][data-align='right'] & {
        margin-left: 0.5rem;
    }

    :host[data-size='m'][data-checkbox-position='top'] & {
        margin-top: var(--tui-margin, @margin-m);
    }

    :host[data-size='m'][data-checkbox-position='bottom'] & {
        margin-bottom: var(--tui-margin, @margin-m);
    }

    :host[data-size='l'][data-checkbox-position='top'] & {
        margin-top: var(--tui-margin, @margin-l);
    }

    :host[data-size='l'][data-checkbox-position='bottom'] & {
        margin-bottom: var(--tui-margin, @margin-l);
    }

    :host._hidden_checkbox & {
        .visually-hidden();
    }
}

.t-label {
    .text-overflow();
    flex-grow: 1;

    :host._hidden_checkbox & {
        text-align: center;
    }
}
