<label class="t-wrapper">
    <div
        tuiWrapper
        [appearance]="appearance"
        [disabled]="computedDisabled"
        [focus]="computedFocusVisible"
        [hover]="pseudoHover"
        [active]="pseudoActive"
        [invalid]="computedInvalid"
    >
        <div class="t-content-wrapper">
            <div class="t-content">
                <tui-checkbox
                    class="t-view"
                    [disabled]="computedDisabled || readOnly"
                    [nativeId]="nativeId"
                    [pseudoInvalid]="computedInvalid"
                    [pseudoFocus]="false"
                    [pseudoHover]="pseudoHover"
                    [pseudoActive]="pseudoActive"
                    [size]="checkboxSize"
                    [focusable]="focusable"
                    [ngModel]="value"
                    (ngModelChange)="onModelChange($event)"
                    (focusedChange)="onFocused($event)"
                    (focusVisibleChange)="onFocusVisible($event)"
                ></tui-checkbox>
                <div class="t-label">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</label>
