<ng-container *ngIf="modeDirective && (modeDirective.change$ | async)"></ng-container>
<label
    tuiWrapper
    class="t-wrapper"
    [active]="pseudoActive"
    [appearance]="appearance"
    [disabled]="computedDisabled"
    [focus]="computedFocusVisible"
    [hover]="pseudoHover"
    [invalid]="computedInvalid"
>
    <tui-checkbox
        class="t-view"
        [disabled]="computedDisabled || readOnly"
        [focusable]="focusable"
        [nativeId]="nativeId"
        [pseudoActive]="pseudoActive"
        [pseudoFocus]="false"
        [pseudoHover]="pseudoHover"
        [pseudoInvalid]="computedInvalid"
        [size]="checkboxSize"
        [(ngModel)]="value"
        (focusedChange)="onFocused($event)"
        (focusVisibleChange)="onFocusVisible($event)"
    ></tui-checkbox>
    <div class="t-label">
        <div class="t-content">
            <ng-content></ng-content>
        </div>
    </div>
</label>
