<tr>
    <td colspan="3">
        <span tuiTitle>
            <strong>Hint</strong>
            <span tuiSubtitle>Common hint props</span>
        </span>
    </td>
</tr>
@if (!hiddenOptions().includes('appearance')) {
    <tr
        name="[tuiHintAppearance]"
        tuiDocAPIItem
        type="string"
        [items]="appearances"
        [(value)]="appearance"
    >
        appearance of the hint bubble
    </tr>
}
@if (!hiddenOptions().includes('direction')) {
    <tr
        name="[tuiHintDirection]"
        tuiDocAPIItem
        type="TuiHintDirection"
        [items]="directions"
        [(value)]="direction"
    >
        preferred direction of the bubble or an array to define preferred priority
    </tr>
}
@if (!hiddenOptions().includes('centered')) {
    <tr
        name="[tuiHintCentered]"
        tuiDocAPIItem
        type="boolean"
        [(value)]="centered"
    >
        whether a bubble arrow should point to the host's center (
        <code>false</code>
        switches to the new rules where direction is the alignment side for the bubble, rather than the direction
        towards which it unravels)
    </tr>
}
<tr
    name="(tuiHintDirectionChange)"
    tuiDocAPIItem
    type="TuiHintDirection"
>
    event notifying of direction change due to limited space
</tr>
<tr
    name="(tuiHintVisible)"
    tuiDocAPIItem
    type="boolean"
>
    event notifying of bubble being shown or hidden
</tr>
