@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    color: var(--tui-primary);

    &[data-mode='onDark'] {
        --tui-clear: var(--tui-clear-inverse);
    }
}

.t-segment {
    .transition(background);
    flex: 1 1 100%;
    border-radius: var(--tui-radius-xs);
    background: var(--tui-clear);

    &:not(:last-child) {
        margin-right: 0.25rem;
    }

    :host[data-size='s'] & {
        height: 0.25rem;
    }

    :host[data-size='m'] & {
        height: 0.5rem;
    }
}

.t-hidden-progress {
    .sr-only();
}
