@radius: calc(var(--t-height) / 2);
@mask-color: #999;

@jagged-edges-hack:
    @mask-color 0 99%,
    transparent calc(99% + 0.6px) 100%;

@left-circle: radial-gradient(circle closest-side at @radius center, @jagged-edges-hack);
@right-circle: radial-gradient(
    circle closest-side at calc(100% - @radius - var(--tui-segment-gap)) center,
    @jagged-edges-hack
);
@rectangle: linear-gradient(
    to right,
    transparent 0 @radius,
    @mask-color @radius calc(100% - @radius - var(--tui-segment-gap)),
    transparent calc(100% - @radius - var(--tui-segment-gap))
);

[tuiProgressBar]._segmented {
    --tui-segment-gap: 0.5rem;

    mask-image: @left-circle, @right-circle, @rectangle;
    mask-size: calc(100% * var(--t-segment-width) + var(--tui-segment-gap) * var(--t-segment-width));
}
