@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    // fix for Safari to prevent tabs underline above sidebar
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: var(--tui-base-01);
    text-align: center;
}

.t-input {
    margin: 1.25rem;
}

.t-navigation {
    display: flex;
    min-height: 0;
    max-height: 100%;
    flex: 1 1 0;
    text-align: left;
}

.t-scrollbar {
    .scroll-behavior();

    width: 100%;
}

.t-items-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.t-label {
    margin-left: 0.5rem;
}

.t-expand {
    margin-left: 0.25rem;
}

.t-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -1rem 0 -0.5rem;

    &_bordered {
        border-left: 1px solid var(--tui-base-03);
        margin: 0.5rem 0;
    }
}

.t-subsection {
    margin-left: 0.5rem;
}

.t-sublink {
    .clearbtn();

    padding-top: 1rem;
    margin-left: 0.5rem;
    font: var(--tui-font-text-m);

    &_small {
        padding-top: 0.5rem;
        margin-left: 1rem;
        line-height: 1.5rem;
    }

    &_subsection {
        margin-left: 0;
        line-height: 1.6rem;
    }

    &&&_active {
        // @note: (&&&_) it's increasing css cascade priority
        color: var(--tui-text-01);
    }
}

.t-icon {
    margin-left: 0.5rem;
}

.t-chevron {
    .transition(transform);

    width: 1rem;
    height: 1rem;
    margin: -0.25rem 0.25rem 0 -0.1875rem;

    &_active {
        transform: rotate(90deg);
    }
}
