@import '~@taiga-ui/core/styles/taiga-ui-local';

button {
    margin: 0.5rem;
    width: 6.5rem;
}

[tuiAppearance][data-appearance='custom'] {
    color: var(--tui-status-negative);
    background: var(--tui-status-negative-pale);

    .appearance-hover({
        background: var(--tui-status-negative-pale-hover);
    });

    .appearance-active({
        background: var(--tui-status-negative-pale-hover);
        opacity: 0.8;
    });
}
