<ng-template #template><ng-content></ng-content></ng-template>
<ng-container *polymorpheusOutlet="content as text; context: {$implicit: this, template: template}">
    {{ text }}
</ng-container>
<tui-expand
    *ngIf="isExpandable"
    role="group"
    class="t-children"
    [expanded]="expanded$ | async"
>
    <div>
        <ng-content select="tui-tree-item"></ng-content>
        <ng-content select="tui-tree"></ng-content>
    </div>
</tui-expand>
<ng-container *ngIf="attached$ | async"></ng-container>
