<ng-template #template>
    <ng-content />
</ng-template>
<ng-container *polymorpheusOutlet="content as text; context: {$implicit: this, template: template}">
    {{ text }}
</ng-container>
@if (isExpandable) {
    <tui-expand
        role="group"
        class="t-children"
        [expanded]="expanded()"
    >
        @if (children(); as children) {
            <ng-template tuiItem>
                <div>
                    <ng-container [ngTemplateOutlet]="children" />
                </div>
            </ng-template>
        }
        <div>
            <ng-content select="tui-tree-item" />
            <ng-content select="tui-tree" />
        </div>
    </tui-expand>
}
@if (attached()) {}
