@import 'taiga-ui-local';

.t-dropdown {
    padding: 0.75rem;
}

.t-option {
    .transition(background);

    &:hover {
        background: var(--tui-secondary-hover);
    }

    &_margin {
        margin: 0 @space;
    }
}
