@import '../../styles/taiga-ui-local.less';

@itemSize: 2.25rem;

.picker(@itemSize);

:host {
    width: @itemSize * 7;
}

.t-row {
    justify-content: flex-start;

    &:first-child {
        justify-content: flex-end;
    }

    &_weekday {
        font: var(--tui-font-text-s);
        color: var(--tui-text-02);
        pointer-events: none;
    }
}

.t-item {
    display: flex;
    flex-direction: column;
}

.t-item_unavailable {
    opacity: var(--tui-disabled-opacity);
}

.t-dots {
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    padding-bottom: 0.25rem;
}

.t-dot {
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 100%;
    margin: 0 0.0625rem;
}
