@import '@taiga-ui/styles/utils';

@keyframes blink {
    50% {
        opacity: 0;
    }
}

:host {
    position: absolute;
    inset: 0;
    color: transparent;
    background: transparent;
    border: none;
    outline: none;

    & ::ng-deep + .t-content {
        gap: inherit !important;
    }

    // Hack for IOS Safari
    --t-caret-color: rgba(255, 255, 255, 0.01);

    :host-context([tuiTheme='dark']) {
        --t-caret-color: rgba(50, 50, 50, 0.01);
    }

    caret-color: var(--t-caret-color);

    &::selection {
        background: transparent;
    }

    &::placeholder {
        color: transparent !important;
    }

    ::ng-deep + .t-content [tuiButtonX] {
        display: none !important;
    }
}

.t-wrapper {
    .fullsize();

    display: flex;
    gap: inherit;
    border-radius: inherit;
}

.t-item {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    pointer-events: auto;
    cursor: text;
    margin-inline-start: 0.25rem;

    &:first-child {
        pointer-events: none;
        margin: 0;
    }

    &[data-focus='true'] .t-value {
        &_filled {
            background: var(--tui-service-selection-background);

            &::before {
                display: none;
            }
        }

        &::before {
            content: '';
            block-size: 1em;
            border-inline-start: 1px solid var(--tui-text-primary);
            animation: blink 1s steps(1) infinite;
        }
    }
}

.t-value {
    color: var(--tui-text-tertiary);

    &_filled {
        color: var(--tui-text-primary);
    }
}
