<tui-doc-page
    header="ProgressCircle"
    package="KIT"
    path="kit/components/progress/progress-circle"
    type="components"
>
    <ng-template pageTab>
        <dl>
            <dt>
                <code tuiText="<tui-progress-circle />"></code>
            </dt>
            <dd>
                is a component to visually represent the completion of a process or operation (as a partially filled
                circle/ring). It shows how much has been completed and how much remains.
            </dd>
        </dl>

        <tui-doc-example
            id="basic"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="size"
            heading="Sizes"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="label"
            heading="With label"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="colors"
            heading="Colors"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="dynamic-color"
            heading="Dynamic color"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
        />

        <tui-doc-example
            id="anti-clockwise-direction"
            heading="Anti-clockwise direction"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
            [description]="antiClockwiseDirectionDescription"
        >
            <ng-template #antiClockwiseDirectionDescription>
                <p>
                    Use power of CSS property
                    <a
                        href="https://developer.mozilla.org/en-US/docs/Web/CSS/transform"
                        rel="noreferrer"
                        target="_blank"
                        tuiLink
                    >
                        <code>transform</code>
                    </a>
                    to customize direction and starting point of progress circle.
                </p>

                <p>
                    By default,
                    <code>ProgressCircle</code>
                    has clockwise direction and starts from the top (i.e. it already contains
                    <code>transform: rotate(-90deg)</code>
                    ).
                </p>
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="thickness"
            heading="Thickness"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample"
            [description]="thicknessDescription"
        >
            <ng-template #thicknessDescription>
                Use css-variable
                <code>--tui-thickness</code>
                to customize width of the circle's stroke.
            </ng-template>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-progress-circle
                [color]="color"
                [max]="max"
                [size]="size"
                [value]="value"
            />
        </tui-doc-demo>

        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="value"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="value"
            >
                This property specifies how much of the task that has been completed. It must be a valid floating point
                number between 0 and
                <code>max</code>
                , or between 0 and 1 if
                <code>max</code>
                is omitted.
            </ng-template>

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="max"
            >
                <p>This property describes how much work the task indicated by the progress element requires.</p>
                <p>
                    The default value is
                    <code>1</code>
                    .
                </p>
            </ng-template>

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeXXL | TuiSizeXXS"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size of the circle.
            </ng-template>

            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="color"
                documentationPropertyType="string"
                [documentationPropertyValues]="colorVariants"
                [(documentationPropertyValue)]="color"
            >
                Color of the progress indicator.
                <p>
                    We recommend set solid color via CSS-property
                    <code>color</code>
                    .
                </p>
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>

<svg
    height="0"
    width="0"
>
    <defs>
        <linearGradient
            id="gradient"
            gradientTransform="rotate(95)"
        >
            <stop
                offset="0%"
                stop-color="var(--tui-support-02)"
            />
            <stop
                offset="45%"
                stop-color="var(--tui-support-14) "
            />
            <stop
                offset="100%"
                stop-color="var(--tui-support-12)"
            />
        </linearGradient>
    </defs>
</svg>
