<tui-doc-page
    header="ProgressCircle"
    package="KIT"
    path="kit/components/progress/progress-circle"
>
    <ng-template pageTab>
        <dl i18n>
            <dt><code>&lt;tui-progress-circle /&gt;</code></dt>
            <dd>
                is a component to visually represent the completion of a process or operation (as a partially filled
                circle/ring). It shows how much has been completed and how much remains.
            </dd>
        </dl>

        <tui-doc-example
            id="basic"
            i18n-heading
            heading="Basic"
            [content]="basicExample"
        >
            <tui-progress-circle-example-1></tui-progress-circle-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="size"
            i18n-heading
            heading="Sizes"
            [content]="sizesExample"
        >
            <tui-progress-circle-example-2></tui-progress-circle-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="label"
            i18n-heading
            heading="With label"
            [content]="labelExample"
        >
            <tui-progress-circle-example-3></tui-progress-circle-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="colors"
            i18n-heading
            heading="Colors"
            [content]="colorsExample"
        >
            <tui-progress-circle-example-4></tui-progress-circle-example-4>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-progress-circle
                [value]="value"
                [max]="max"
                [size]="size"
                [color]="color"
            ></tui-progress-circle>
        </tui-doc-demo>

        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="value"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="value"
            >
                This property specifies how much of the task that has been completed. It must be a valid floating point
                number between 0 and
                <code>max</code>
                , or between 0 and 1 if
                <code>max</code>
                is omitted.
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="max"
            >
                <p>This property describes how much work the task indicated by the progress element requires.</p>
                <p>
                    The default value is
                    <code>1</code>
                    .
                </p>
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeS"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size of the circle.
            </ng-template>

            <ng-template
                i18n
                documentationPropertyName="color"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="colorVariants"
                [(documentationPropertyValue)]="color"
            >
                Color of the progress indicator.
                <p>
                    We recommend set solid color via CSS-property
                    <code>color</code>
                    .
                </p>
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import
                    <code>TuiProgressModule</code>
                    into a module where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>

<svg
    width="0"
    height="0"
>
    <defs>
        <linearGradient
            id="gradient"
            gradientTransform="rotate(95)"
        >
            <stop
                offset="0%"
                stop-color="var(--tui-support-02)"
            ></stop>
            <stop
                offset="45%"
                stop-color="var(--tui-support-14) "
            ></stop>
            <stop
                offset="100%"
                stop-color="var(--tui-support-12)"
            ></stop>
        </linearGradient>
    </defs>
</svg>
