<tui-doc-page
    header="InputDateRange"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p class="tui-space_bottom-9">
            <code>InputDate</code>
            is a field to input a range of dates.
        </p>

        <p>
            Date formatting can be customized with
            <a
                fragment="date-format"
                tuiLink
                [routerLink]="docRoutes.Tokens"
            >
                TUI_DATE_FORMAT
            </a>
            token.
        </p>
        <p class="tui-space_bottom-9">
            <a
                fragment="date-localization"
                routerLink="."
                tuiLink
            >
                See an example
            </a>
            with the usage of these tokens.
        </p>

        <h3>DI-tokens for input-configurations:</h3>
        <dl>
            <dt>
                <code>TUI_DATE_RANGE_VALUE_TRANSFORMER</code>
            </dt>
            <dd>
                custom format of control output (
                <a
                    href="https://github.com/taiga-family/taiga-ui/blob/main/projects/cdk/date-time/day-range.ts"
                    rel="noreferrer"
                    target="_blank"
                    tuiLink
                >
                    TuiDayRange
                </a>
                is default).
                <p>
                    <a
                        fragment="native-date-output"
                        routerLink="."
                        tuiLink
                    >
                        See an example
                    </a>
                    of how to provide transformers for
                    <code>InputDate</code>
                    and
                    <code>InputDateRange</code>
                    to work with native
                    <a
                        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date"
                        rel="noreferrer"
                        target="_blank"
                        tuiLink
                    >
                        Date
                    </a>
                    objects.
                </p>
            </dd>
        </dl>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        >
            <tui-notification class="tui-space_bottom-4">
                If you need to set some attributes or listen to events on native
                <code>input</code>
                , you can put it inside with
                <code>Textfield</code>
                directive as shown below
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="large"
            heading="Big size"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="date-localization"
            heading="Date localization"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="native-date-output"
            heading="With native Date output"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="custom-period"
            heading="Custom period"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-date-range
                    class="b-demo-control"
                    [defaultViewedMonth]="defaultViewedMonth"
                    [disabledItemHandler]="disabledItemHandler"
                    [focusable]="focusable"
                    [formControl]="control"
                    [items]="items"
                    [markerHandler]="markerHandler"
                    [max]="max"
                    [maxLength]="maxLength"
                    [min]="min"
                    [minLength]="minLength"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [style.text-align]="textAlign"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldIconLeft]="iconLeft"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                >
                    Choose dates
                </tui-input-date-range>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="defaultViewedMonth"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="defaultViewedMonthVariants"
                [(documentationPropertyValue)]="defaultViewedMonth"
            >
                Default month to show
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabledItemHandler"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>A handler that gets a date and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="items"
                documentationPropertyType="TuiDayRangePeriod[]"
                [documentationPropertyValues]="itemsVariants"
                [(documentationPropertyValue)]="items"
            >
                Fixed intervals (shows 2 calendars with empty array)
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="markerHandler"
                documentationPropertyType="TuiMarkerHandler | null"
                [documentationPropertyValues]="markerHandlerVariants"
                [(documentationPropertyValue)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with circled marker colors
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="min"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="dayVariants"
                [(documentationPropertyValue)]="min"
            >
                Min date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="max"
                documentationPropertyType="TuiDay | null"
                [documentationPropertyValues]="dayVariants"
                [(documentationPropertyValue)]="max"
            >
                Max date
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="minLength"
                documentationPropertyType="TuiDayLike | null"
                [documentationPropertyValues]="minLengthVariants"
                [(documentationPropertyValue)]="minLength"
            >
                Minimal length of range
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="maxLength"
                documentationPropertyType="TuiDayLike | null"
                [documentationPropertyValues]="maxLengthVariants"
                [(documentationPropertyValue)]="maxLength"
            >
                Maximal length of range
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation />
        <tui-doc-documentation heading="CSS customization">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.text-align"
                documentationPropertyType="string"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Custom align content by text-align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
