<tui-doc-page header="InputDateRange" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>A field to input a range of dates</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-input-date-range-example-1></tui-input-date-range-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="large"
            i18n-heading
            heading="Big size"
            [content]="example2"
        >
            <tui-input-date-range-example-2></tui-input-date-range-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-date-range
                    class="b-demo-control"
                    [focusable]="focusable"
                    [formControl]="control"
                    [defaultViewedMonth]="defaultViewedMonth"
                    [items]="items"
                    [markerHandler]="markerHandler"
                    [min]="min"
                    [max]="max"
                    [minLength]="minLength"
                    [maxLength]="maxLength"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldExampleText]="exampleText"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintMode]="hintMode"
                    [disabledItemHandler]="disabledItemHandler"
                >
                    Choose dates
                </tui-input-date-range>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="defaultViewedMonth"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMonth"
                [documentationPropertyValues]="defaultViewedMonthVariants"
                [(documentationPropertyValue)]="defaultViewedMonth"
            >
                Default month to show
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="disabledItemHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiBooleanHandler<TuiDay>"
                [documentationPropertyValues]="disabledItemHandlerVariants"
                [(documentationPropertyValue)]="disabledItemHandler"
            >
                <div>
                    A handler that gets a date and returns true if it is
                    disabled.
                </div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="items"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDayRangePeriod[]"
                [documentationPropertyValues]="itemsVariants"
                [(documentationPropertyValue)]="items"
            >
                Fixed intervals (shows 2 calendars with empty array)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="markerHandler"
                documentationPropertyMode="input"
                documentationPropertyType="TuiMarkerHandler"
                [documentationPropertyValues]="markerHandlerVariants"
                [(documentationPropertyValue)]="markerHandler"
            >
                A handler that gets date and returns null or a tuple with
                circled marker colors
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="minVariants"
                [(documentationPropertyValue)]="min"
            >
                Min date
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDay"
                [documentationPropertyValues]="maxVariants"
                [(documentationPropertyValue)]="max"
            >
                Max date
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="minLength"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDayLike | null"
                [documentationPropertyValues]="minLengthVariants"
                [(documentationPropertyValue)]="minLength"
            >
                Minimal length of range
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="maxLength"
                documentationPropertyMode="input"
                documentationPropertyType="TuiDayLike | null"
                [documentationPropertyValues]="maxLengthVariants"
                [(documentationPropertyValue)]="maxLength"
            >
                Maximal length of range
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiInputDateRangeModule</code> in the same module
                    where you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                Use <code>TuiInputDateRange</code> in template:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
