/* stylelint-disable selector-type-no-unknown */
markdown {
    & blockquote {
        box-shadow: inset 4px 0 #f5f5f5;
        margin-left: 0;
        padding-left: 30px;
        font-style: italic;
    }
}
