<svg
    *tuiRepeatTimes="let index of value.length"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="-100 -100 200 200"
    focusable="false"
    class="t-svg"
    [style.top.em]="getInset(index)"
    [style.left.em]="getInset(index)"
    [style.width.em]="getDiameter(index)"
    [style.height.em]="getDiameter(index)"
>
    <path
        vector-effect="non-scaling-stroke"
        d="M -70 70 A 100 100 0 1 1 70 70"
    />
    <path
        #arc
        vector-effect="non-scaling-stroke"
        d="M -70 70 A 100 100 0 1 1 70 70"
        class="t-value"
        [class.t-value_inactive]="isInactive(index)"
        [style.stroke]="getColor(index)"
        [style.strokeDasharray.em]="getLength(index)"
        [style.strokeDashoffset.em]="initialized ? getOffset(index) : getLength(index)"
    />
</svg>
<div class="t-content">
    <div class="t-wrapper"><ng-content></ng-content></div>
</div>
<div class="t-percent">
    <span>{{ minLabel }}</span>
    <span>{{ maxLabel }}</span>
</div>
