@let data = value();
@let min = minLabel();
@let max = maxLabel();
@for (_ of '-'.repeat(data.length); track $index) {
    <svg
        focusable="false"
        viewBox="-100 -100 200 200"
        xmlns="http://www.w3.org/2000/svg"
        class="t-svg"
        [style.block-size.%]="getDiameter($index)"
        [style.inset-block-start.%]="getInset($index)"
        [style.inset-inline.%]="getInset($index)"
        [style.stroke-width]="getStrokeWidth($index)"
    >
        <path d="M -70 70 A 100 100 0 1 1 70 70" />
        <path
            #arc
            d="M -70 70 A 100 100 0 1 1 70 70"
            class="t-value"
            [class.t-value_inactive]="isInactive($index)"
            [style.stroke]="`var(--tui-chart-categorical-${$index.toString().padStart(2, '0')})`"
            [style.strokeDasharray]="length"
            [style.strokeDashoffset]="initialized() ? getOffset($index) : length"
            (tuiHoveredChange)="onHovered($event, $index)"
        />
    </svg>
}
<div class="t-content">
    <div class="t-wrapper">
        <ng-content />
    </div>
</div>
<div class="t-percent">
    <span>{{ min }}</span>
    <span>{{ max }}</span>
</div>
