tui-cell {
    max-width: 25rem;

    // You can customize shrink ratio of sides by this variables
    --tui-left-shrink: 4;
    --tui-right-shrink: 5;
}

.no-wrap {
    white-space: nowrap;
}

.ellipsis {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.logo {
    width: 2.5rem;
}
