.content {
    display: flex;
    margin: 2rem 0;
}

.left {
    margin-right: 2rem;
    min-width: 10rem;
    width: 10rem;
}

.right {
    margin-left: 2rem;
    min-width: 10rem;
    width: 10rem;
}
