:host > .t-check {
    order: 100;
    margin-inline-start: auto;
    pointer-events: none;
}

:host[data-size='m'] > .t-check {
    margin-inline-end: 0.25rem;
}

:host-context(tui-dropdown-mobile) > .t-check {
    display: none;
}

.t-check::before {
    font-size: var(--t-size);
}
