:host._value > .t-check {
    order: 100;
    margin-inline-start: auto;
    pointer-events: none;
}

:host._value._selected ~ ::ng-deep [tuiSelectOption] > .t-check::before {
    opacity: 0;
}

:host:not(._value) > .t-check,
:host-context(tui-dropdown-mobile) > .t-check {
    display: none;
}

.t-check::before {
    font-size: var(--t-size);
}
