<tui-doc-page
    header="TablePagination"
    package="ADDON-TABLE"
    type="components"
>
    <ng-template pageTab>
        <p>Component to show pagination in table footer</p>

        @for (example of examples; track example) {
            <tui-doc-example
                [component]="$index + 1 | tuiComponent"
                [content]="$index + 1 | tuiExample"
                [description]="description"
                [fullsize]="$index === 1 || $index === 2"
                [heading]="example"
            />

            <ng-template #description>
                @switch ($index) {
                    @case (1) {
                        You can customize the component via DI
                        <code>tuiTablePaginationOptionsProvider</code>
                        helper.
                    }
                }
            </ng-template>
        }
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-table-pagination
                [items]="items"
                [page]="page"
                [size]="size"
                [total]="total"
                (paginationChange)="paginationChange.emitEvent($event); update($event)"
            />
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[total]"
                tuiDocAPIItem
                type="number"
                [(value)]="total"
            >
                Total amount of items/lines in the table.
            </tr>
            <tr
                name="[size]"
                tuiDocAPIItem
                type="number"
                [(value)]="size"
            >
                Items/Lines per page.
                <p>
                    Uses the first element inside
                    <code>items</code>
                    by default.
                </p>
            </tr>
            <tr
                name="[page]"
                tuiDocAPIItem
                type="number"
                [(value)]="page"
            >
                Current page.
                <p>Indexing starts at zero.</p>
            </tr>
            <tr
                name="[items]"
                tuiDocAPIItem
                type="readonly number[]"
                [items]="itemsVariants"
                [(value)]="items"
            >
                Options to select amount of lines per page.
            </tr>
            <tr
                #paginationChange
                name="(paginationChange)"
                tuiDocAPIItem
                type="TuiTablePagination"
            >
                Emits when
                <code>page</code>
                or
                <code>size</code>
                changes.
            </tr>
        </table>
    </ng-template>
</tui-doc-page>
