@import 'taiga-ui-local';

:host {
    .clearbtn();
    display: flex;
    justify-content: space-between;
    font: var(--tui-font-text-m);
    padding: 0.875rem;
    border: 2px solid transparent;
    text-align: start;

    &._focus-visible {
        border-color: var(--tui-focus);
    }

    &:after {
        display: none;
    }
}
