<tui-doc-page
    header="MobileDialog"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template pageTab>
        <div>
            Component for showing a dialog on mobile devices. It emulates appearance of native alerts on iOS and Android
        </div>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <ng-template pageTab="Setup">
        <ol class="tui-list tui-list_ordered">
            <li class="tui-list__item">
                Inject service and show dialog:

                <tui-doc-code
                    filename="my.component.html"
                    [code]="template"
                />
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
