<tui-doc-page header="MobileDialog" package="ADDON-MOBILE" type="components">
    <ng-template pageTab>
        <div i18n>
            Component for showing a dialog on mobile devices. It emulates
            appearance of native alerts on iOS and Android
        </div>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-mobile-dialog-example-1></tui-mobile-dialog-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template i18n-pageTab pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiMobileDialogModule</code> into a module
                    where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Use it in component</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertComponent"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
