<tui-doc-page header="MobileDialog" package="ADDON-MOBILE">
    <ng-template pageTab>
        <div>
            Компонент для вывода диалога на мобильном устройстве. Эмулирует
            внешний вид нативных алертов на iOS и Android
        </div>

        <tui-doc-example id="base" heading="Пример" [content]="example1">
            <tui-mobile-dialog-example-1></tui-mobile-dialog-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Подключение">
        <ol class="b-demo-steps">
            <li>
                Для использования импортировать модуль
                <code>TuiMobileDialogModule</code> в
                <strong>главный модуль</strong>, куда добавляется ваш компонент:

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                Вызвать в компоненте:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertComponent"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
