<tr>
    <td colspan="3">
        <span tuiTitle>
            <strong>Icons</strong>
            <span tuiSubtitle>Applied as a host directive</span>
        </span>
    </td>
</tr>
@if (!hiddenOptions().includes('iconStart')) {
    <tr
        name="[iconStart]"
        tuiDocAPIItem
        type="string"
        [items]="icons"
        [(value)]="iconStart"
    >
        icon on the inline start side
    </tr>
}
@if (!hiddenOptions().includes('iconEnd')) {
    <tr
        name="[iconEnd]"
        tuiDocAPIItem
        type="string"
        [items]="icons"
        [(value)]="iconEnd"
    >
        icon on the inline end side
    </tr>
}
