<tr>
    <td colspan="3">
        <span tuiTitle>
            <strong>Icons</strong>
            <span tuiSubtitle>Applied as a host directive</span>
        </span>
    </td>
</tr>
<tr
    *ngIf="!hiddenOptions.includes('iconStart')"
    name="[iconStart]"
    tuiDocAPIItem
    type="string"
    [items]="icons"
    [(value)]="iconStart"
>
    Icon on the left side
</tr>
<tr
    *ngIf="!hiddenOptions.includes('iconEnd')"
    name="[iconEnd]"
    tuiDocAPIItem
    type="string"
    [items]="icons"
    [(value)]="iconEnd"
>
    Icon on the right side
</tr>
