:host {
    display: flex;
    gap: 2rem;
    background: var(--tui-base-02);
    box-shadow: 0 0 0 2rem var(--tui-base-02);
    padding: 1rem 0 0 1rem;
    margin-bottom: -1rem;
}

.white {
    background: var(--tui-base-01);
    color: var(--tui-accent);
    border-width: 0.125rem;
}
