@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    max-inline-size: 30rem;
}

[tuiLink]:last-child {
    font-weight: bold;
    color: var(--tui-text-primary);
}

.link {
    .text-truncate();
}
