<tui-doc-page
    deprecated
    header="InputTimeLegacy"
    package="LEGACY"
    path="legacy/components/input-time"
    type="components"
>
    <ng-template pageTab>
        <tui-notification appearance="negative">
            This version of the component is deprecated and will be removed in the next major version. Use
            <a
                tuiLink
                [routerLink]="routes.InputTime"
            >
                <strong>new version of InputTime</strong>
            </a>
            instead!
        </tui-notification>

        <p class="tui-space_bottom-9">
            <code>InputTime</code>
            allows input time in HH:MM format
        </p>

        <h3>DI-tokens for input-configurations:</h3>
        <dl>
            <dt>
                <code>TUI_TIME_VALUE_TRANSFORMER</code>
            </dt>
            <dd>
                custom format of control output (
                <code>TuiTime | null</code>
                is default).
                <p>
                    <a
                        fragment="string-control-output"
                        routerLink="."
                        tuiLink
                    >
                        See example
                    </a>
                    with string as control's output.
                </p>
            </dd>
        </dl>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample"
        />

        <tui-doc-example
            id="dropdown"
            description="You can set items for dropdown"
            heading="Dropdown"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample"
        />

        <tui-doc-example
            id="options"
            heading="Options (icon)"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="options-max"
            heading="Options (max values)"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="am-pm"
            heading="AM / PM"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
            [description]="amPmDescription"
        >
            <ng-template #amPmDescription>
                Any
                <code>mode</code>
                ending with
                <code>AA</code>
                is 12-hour time format with meridiem part
            </ng-template>
        </tui-doc-example>

        <tui-doc-example
            id="string-control-output"
            heading="With control's output as string"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
        />

        <tui-doc-example
            id="native"
            heading="Native input time"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample"
        >
            <tui-notification class="tui-space_bottom-5">
                Please note that iOS Safari doesn't support native picker in modes other than HH:MM
            </tui-notification>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-time
                    [disabledItemHandler]="disabledItemHandler"
                    [focusable]="focusable"
                    [formControl]="control"
                    [items]="items"
                    [itemsHidden]="itemsHidden"
                    [itemSize]="itemSize"
                    [mode]="mode"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [strict]="strict"
                    [style.text-align]="textAlign"
                    [tuiDropdownAlign]="dropdownAlign"
                    [tuiDropdownDirection]="dropdownDirection"
                    [tuiDropdownLimitWidth]="dropdownLimitWidth"
                    [tuiDropdownMaxHeight]="dropdownMaxHeight"
                    [tuiDropdownMinHeight]="dropdownMinHeight"
                    [tuiDropdownOffset]="dropdownOffset"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldPostfix]="postfix"
                    [tuiTextfieldPrefix]="prefix"
                    [tuiTextfieldSize]="size"
                >
                    Input time
                </tui-input-time>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="disabled"
                tuiDocAPIItem
                type="boolean"
                [(value)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </tr>
            <tr
                name="disabledItemHandler"
                tuiDocAPIItem
                type="TuiBooleanHandler<TuiTime>"
                [items]="disabledItemHandlerVariants"
                [(value)]="disabledItemHandler"
            >
                Handler to disable some items
            </tr>
            <tr
                name="items"
                tuiDocAPIItem
                type="ReadonlyArray<TuiTime>"
                [items]="itemsVariants"
                [(value)]="items"
            >
                Items to choose
            </tr>
            <tr
                name="itemsHidden"
                tuiDocAPIItem
                type="boolean"
                [(value)]="itemsHidden"
            >
                Disable the display of the dropdown list
            </tr>
            <tr
                name="itemSize"
                tuiDocAPIItem
                type="TuiSizeS | TuiSizeL"
                [items]="itemSizeVariants"
                [(value)]="itemSize"
            >
                Item size
            </tr>
            <tr
                name="strict"
                tuiDocAPIItem
                type="boolean"
                [(value)]="strict"
            >
                Only
                <code>items</code>
                are allowed
            </tr>
            <tr
                name="mode"
                tuiDocAPIItem
                type="TuiTimeMode"
                [items]="modeVariants"
                [(value)]="mode"
            >
                Modes for seconds and ms support
            </tr>
        </table>
        <inherited-documentation />
        <h3>CSS customization</h3>
        <table tuiDocAPI>
            <tr
                name="style.text-align"
                tuiDocAPIItem
                type="string"
                [items]="textAlignVariants"
                [(value)]="textAlign"
            >
                Custom align content by text-align
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
