<tui-data-list-wrapper
    *tuiDataList
    [disabledItemHandler]="disabledItemHandler || itemsHandlers.disabledItemHandler"
    [itemContent]="stringify | tuiStringifyContent"
    [items]="items"
    [labels]="labels"
></tui-data-list-wrapper>
<optgroup
    *ngFor="let group of items; let index = index"
    [label]="labels[index]"
>
    <option
        *ngFor="let option of group; let i = index"
        [disabled]="disabledItemHandler ? disabledItemHandler(option) : itemsHandlers.disabledItemHandler(option)"
        [selected]="selected(option)"
        [value]="stringify(option)"
    >
        {{ stringify(option) }}
    </option>
</optgroup>
