@import '../mixins/mixins.less';

tui-root:not(._mobile) tui-dialog-host > section {
    .customize-scroll();

    &::-webkit-scrollbar-thumb {
        background-color: rgba(168, 168, 168, 0.5);

        &:hover {
            background-color: rgba(204, 204, 204, 0.5);
        }
    }
}
