@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    gap: 1rem;
}

.fade {
    width: 100%;
    height: 2rem;
    white-space: nowrap;
    overflow: auto;
}

.fade-vertical {
    height: 5rem;
    overflow: auto;
}

.nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}
