@import '@taiga-ui/styles/utils';

[tuiCardMedium],
[tuiCardLarge] {
    .button-clear();

    position: relative;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    text-decoration: none;
    overflow: hidden;
    background: var(--tui-background-elevation-2);

    [tuiTitle],
    [tuiSubtitle] {
        max-inline-size: 100%;
    }

    > * {
        .scrollbar-hidden();
    }
}
