@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiCardCollapsed] {
    .transition(~'clip-path, margin');

    overflow: visible;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.8125rem;
        border-radius: 0 0 1rem 1rem;
        background: var(--tui-background-neutral-2);
        inline-size: calc(100% - 2.5rem);
        block-size: 0.8125rem;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    > tui-expand {
        .transition(~'grid-template-rows, padding, margin');

        background: var(--tui-background-neutral-1);
        border-radius: var(--tui-radius-s);
        padding: 0 1rem;
        margin: -0.25rem 0 calc(-1 * var(--t-space)) !important;

        &._expanded {
            padding: 0.5rem 1rem;
            margin: 0 !important;
        }

        [tuiTable] {
            inline-size: 100%;

            th,
            td {
                background: none;
                padding-inline-start: 0;
                padding-inline-end: 0;
                border-inline-start: 0;
                border-inline-end: 0;
            }

            thead th {
                border: none;
                block-size: 1.75rem;
            }

            tr:last-child td {
                border-block-end: 0;
            }
        }
    }
}
