// Don't increase specificity. Otherwise, not compatible with [tuiHeader]
[tuiCardLarge] {
    font: var(--tui-typography-body-m);
}

[tuiCardLarge][data-space] {
    --t-space: 0.75rem;
    --t-radius: var(--tui-radius-l);
    --t-comp: -0.25rem;
    --t-padding: 0.75rem;
    --t-dim: calc(var(--t-padding) + var(--t-comp));

    padding: var(--t-padding);
    border-radius: var(--t-radius);
    box-sizing: border-box;

    &[data-space='normal'] {
        --t-radius: 1.5rem;
        --t-padding: 1.5rem;
        --t-space: 1.5rem;
    }

    &[data-space='compact'] {
        --t-radius: 1rem;
        --t-padding: 1.25rem;
        --t-space: 1.25rem;
    }

    &:not([tuiCell], [tuiHeader], [tuiForm]) {
        flex-direction: column;
        gap: var(--t-space);
        align-items: stretch;

        > :last-child:not([tuiCell]) {
            margin-block-start: auto;
        }
    }

    &[tuiHeader] {
        padding: var(--t-dim) var(--t-dim) var(--t-dim) var(--t-padding);

        [tuiLink]:last-child {
            margin-inline-end: calc(-1 * var(--t-comp));
        }
    }

    > [tuiHeader] {
        margin: var(--t-comp) var(--t-comp) calc(1.5 * var(--t-comp)) 0;

        [tuiLink]:last-child {
            margin-inline-end: calc(-1 * var(--t-comp));
        }
    }

    [tuiCell] {
        inline-size: 100%;
        padding: 0.5rem;
        margin: -0.5rem -0.5rem -0.75rem;
        border-radius: var(--tui-radius-l);

        &:last-of-type {
            margin-block-end: -0.5rem;
        }
    }

    > [tuiLink]:last-child {
        display: block;
        inline-size: fit-content;
        margin-block-end: var(--t-comp);
    }

    [tuiAccessories] > [tuiButtonX] {
        align-self: flex-start;
    }
}
