[tuiCardRow] {
    display: flex;
    align-items: center;
    gap: 3rem;

    tui-icon {
        font-size: 1rem;
    }

    [tuiTitle] {
        font: var(--tui-typography-body-s);

        > :not([tuiSubtitle]) {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }
    }

    [tuiSubtitle] {
        color: var(--tui-text-secondary);
        font: var(--tui-typography-body-xs);
    }

    & > [tuiButton],
    & > [tuiIconButton] {
        margin-inline-start: auto;
    }
}
