@import 'taiga-ui-local';

:host {
    .shadow(2);
    display: flex;
    height: 2.25rem;
    width: 2.25rem;
    background-color: #fff;
    border-radius: 6.25rem;
    align-items: center;
    justify-content: center;

    &._hidden {
        visibility: hidden;
        transition: 0s;
    }
}

.t-loading {
    display: block;
    width: 1rem;
    border-radius: 100%;
    animation: tuiLoaderRotate 3s linear infinite;
}

.t-circle {
    fill: none;
    stroke: var(--tui-text-01);
    stroke-width: 1.5rem;
    animation: tuiLoaderDashOffset 3s linear infinite;
}
