@import 'taiga-ui-local';

:host {
    .shadow(2);
    .transition(opacity);
    position: absolute;
    top: -1.5rem;
    left: 50%;
    display: flex;
    height: 2.25rem;
    width: 2.25rem;
    background-color: var(--tui-secondary);
    border-radius: 6.25rem;
    align-items: center;
    justify-content: center;
    margin-left: -1.125rem;
    opacity: 0;

    &._visible {
        opacity: 1;
    }

    &._dropped {
        transition: transform var(--tui-duration) cubic-bezier(0.4, 0, 0.2, 1),
            opacity var(--tui-duration) var(--tui-duration);
    }
}

.t-loading {
    display: block;
    width: 1rem;
    border-radius: 100%;
    animation: tuiLoaderRotate 3s linear infinite;
}

.t-circle {
    fill: none;
    stroke: var(--tui-text-01);
    stroke-width: 1.5rem;
    animation: tuiLoaderDashOffset 3s linear infinite;
}

@keyframes tuiLoaderDashOffset {
    0% {
        stroke-dashoffset: -66;
    }

    50% {
        stroke-dashoffset: -314;
    }

    100% {
        stroke-dashoffset: -66;
    }
}

@keyframes tuiLoaderRotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1turn);
    }

    100% {
        transform: rotate(3turn);
    }
}
