@import 'taiga-ui-local';

:host {
    position: relative;
    display: inline-block;

    &:hover .t-border:after {
        opacity: 1;
    }
}

.t-border {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    width: 0.75rem;
    cursor: col-resize;
    justify-content: center;
    align-items: center;

    &_left {
        left: 0;
    }

    &_right {
        right: 0;
    }

    &:after {
        .transition(opacity);
        content: '';
        width: 50%;
        height: 33%;
        box-sizing: border-box;
        border-radius: var(--tui-radius-m);
        background: var(--tui-base-08);
        border: 1px solid var(--tui-base-03);
        opacity: 0;
    }
}
