@import 'taiga-ui-local';

:host {
    position: relative;
    display: inline-block;
}

.width-controller {
    .transition(opacity);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0.5rem;
    cursor: col-resize;
}
