@import 'taiga-ui-local';

@controller-width: 0.375rem;
@controller-height: 8 * @controller-width;

:host {
    position: relative;
    display: inline-block;

    &:hover .controller {
        opacity: 1;
    }
}

.controller {
    .transition(opacity);
    width: @controller-width;
    height: @controller-height;
    box-sizing: border-box;
    border-radius: var(--tui-radius-m);
    background-color: var(--tui-base-08);
    border: 1px solid var(--tui-base-03);
    opacity: 0;
}

.border {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2 * @controller-width;
    cursor: col-resize;

    display: flex;
    justify-content: center;
    align-items: center;

    &_left {
        left: 0;
    }

    &_right {
        right: 0;
    }
}
