[data-platform='ios'] [tuiAppBarButton]:where(*&) {
    border-radius: 100%;
    backdrop-filter: blur(0.25rem) saturate(6) brightness(1.05);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.09);
    overflow: hidden;
    background: var(--t-appbar-button-bg);
    color: var(--t-appbar-button-icon);
    transition:
        transform var(--tui-duration) var(--tui-curve-expressive-entrance),
        background-color var(--tui-duration-fast) ease,
        color var(--tui-duration-fast) ease,
        box-shadow var(--tui-duration-fast) ease,
        backdrop-filter var(--tui-duration-fast) ease,
        filter var(--tui-duration-fast) ease;

    --t-appbar-button-icon: #333;
    --t-appbar-button-bg: rgba(255, 255, 255, 0.7);
    --t-appbar-glow: #fff;
    --t-appbar-bevel: linear-gradient(319deg, #fff 4%, #fff 19%, rgba(255, 255, 255, 0.12) 40%, rgba(255, 255, 255, 0.02) 45%, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0.02) 55%, rgba(255, 255, 255, 0.12) 60%, #fff 80%, #fff 96%);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        box-sizing: border-box;
        border-radius: inherit;
        box-shadow: inset 0 0 0.75rem var(--t-appbar-glow);
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        box-sizing: border-box;
        border-radius: inherit;
        padding: 1px;
        mask-image:
            linear-gradient(#000 0 0);
        mask-origin:
            content-box, border-box;
        mask-clip:
            content-box, border-box;
        background: var(--t-appbar-bevel);
        mask-composite: exclude;
    }

    &:active {
        transform: scale(1.25);
        filter: brightness(3);
    }

    [tuiTheme='dark'] & {
        --t-appbar-button-bg: rgba(88, 88, 88, 0.31);
        --t-appbar-button-icon: #fff;

        backdrop-filter: blur(0.25rem) saturate(4);

        &::before {
            box-shadow: inset 0 0 0.75rem rgba(255, 255, 255, 0.1);
        }

        &::after {
            filter: brightness(0.6);
        }
    }
}
