@import '@taiga-ui/styles/utils';

:host {
    .button-clear();

    display: flex;
    align-items: center;
    padding: 0 1rem 0 0;
    cursor: pointer;

    :host-context([data-platform='web'] tui-dialog) {
        padding: 0 0.5rem;
    }

    :host-context([data-platform='android']) {
        font-size: 0;
        padding: 0 1rem;

        .t-android {
            display: block;
        }

        .t-web {
            display: none;
        }
    }

    :host-context([data-platform='ios']) {
        .t-ios {
            display: block;
            margin-inline-start: 0.5rem;
        }

        .t-web {
            display: none;
        }

        :host-context([data-platform='ios']._liquid-glass) & {
            display: flex;
            font-size: 0;
            block-size: 2.75rem;
            inline-size: 2.75rem;
            padding: 0;
            justify-content: center;

            .t-ios {
                margin-inline-start: 0;
            }
        }
    }
}

.t-web {
    transform: scaleX(var(--tui-inline));
}

.t-android,
.t-ios {
    display: none;
}
