@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .button-clear();

    display: flex;
    align-items: center;
    padding: 0 1rem 0 0;
    cursor: pointer;

    :host-context([data-platform='android']) {
        font-size: 0;
        padding: 0 1rem;

        .t-android {
            display: block;
        }

        .t-web {
            display: none;
        }
    }

    :host-context([data-platform='ios']) {
        .t-ios {
            display: block;
            margin-inline-start: 0.5rem;
        }

        .t-web {
            display: none;
        }
    }
}

.t-android,
.t-ios {
    display: none;
}
