@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .button-clear();

    display: flex;
    align-items: center;
    padding: 0 0.625rem 0 0.125rem;
    cursor: pointer;

    :host-context([data-platform='android']) {
        font-size: 0;
        padding: 0 0.625rem;

        .t-android {
            display: block;
        }

        .t-web {
            display: none;
        }
    }

    :host-context([data-platform='ios']) {
        .t-ios {
            display: block;
        }

        .t-web {
            display: none;
        }
    }
}

.t-android,
.t-ios {
    display: none;
}
