input[tuiCheckbox] {
    width: 1.125rem;
    height: 1.125rem;
    color: var(--tui-base-01);
    border-radius: 0.125rem;
    box-shadow: inset 0 0 0 0.125rem var(--tui-base-04);

    &:checked,
    &:indeterminate {
        background: var(--tui-accent);
        box-shadow: none;

        &._invalid {
            background: var(--tui-error-fill);
        }

        &:disabled:not(._readonly) {
            background: var(--tui-base-04);
        }

        &:before {
            clip-path: inset(0);
            transition-delay: 0s;
        }
    }

    &:before {
        --t-mask: url('data:image/svg+xml,<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M2.7 8.5L7 12.7L15.3 4.7" fill="none" stroke="black" stroke-width="2"/></svg>');
        transition:
            clip-path var(--tui-duration) ease-in-out,
            mask 0s var(--tui-duration) ease-in-out;
        clip-path: inset(0 100% 0 0);
    }

    &:indeterminate:before {
        --t-mask: url('data:image/svg+xml,<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M3 9H15" fill="none" stroke="black" stroke-width="2"/></svg>');
    }

    &._invalid {
        box-shadow: inset 0 0 0 0.125rem var(--tui-error-bg-hover);
    }
}
