input[tuiCheckbox] {
    --t-size: 1.125rem;

    color: var(--tui-background-base);
    border-radius: 0.125rem;
    outline: 0.125rem solid var(--tui-background-neutral-2);
    outline-offset: -0.125rem;
    transition: none;
    box-shadow: none !important;
    background: var(--t-background) !important;

    &:checked,
    &:indeterminate {
        --t-background: var(--tui-background-accent-2);

        outline: none;

        &:invalid {
            --t-background: var(--tui-status-negative);
        }

        &:disabled:not(._readonly) {
            --t-background: var(--tui-background-neutral-2);
        }

        &:before {
            clip-path: inset(0);
            transition-delay: 0s;
        }
    }

    &:before {
        mask-image: url('data:image/svg+xml,<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M2.7 8.5L7 12.7L15.3 4.7" fill="none" stroke="black" stroke-width="2"/></svg>');
        transition:
            clip-path var(--tui-duration) ease-in-out,
            mask 0s var(--tui-duration) ease-in-out;
        clip-path: inset(0 100% 0 0);
    }

    &:indeterminate:before {
        mask-image: url('data:image/svg+xml,<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M3 9H15" fill="none" stroke="black" stroke-width="2"/></svg>');
    }

    &:invalid {
        outline-color: var(--tui-status-negative-pale-hover);
    }
}
