input[tuiRadio] {
    --t-size: 1.125rem;

    .transition(color);

    color: var(--tui-base-04);
    outline: 0.125rem solid;
    outline-offset: -0.125rem;
    box-shadow: none !important;
    background: transparent !important;

    &:disabled:not(._readonly) {
        color: var(--tui-base-04);
    }

    &:checked {
        color: var(--tui-accent);

        &:after {
            transform: scale(0.555);
        }
    }

    &:invalid {
        color: var(--tui-error-bg-hover);

        &:checked {
            color: var(--tui-error-fill);
        }
    }
}
