@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiConnected] {
    --t-image-size: 2.5rem;
    --t-connected-height: calc(100% - var(--t-image-size) - 0.5rem);

    &[tuiCardLarge] {
        --t-connected-height: calc(100% - var(--t-image-size) - 0.25rem);
    }

    > [tuiCell],
    > [tuiStep] {
        &:not(:last-of-type)::before {
            content: '';
            position: absolute;
            top: calc(var(--t-image-size) + 0.25rem);
            left: calc(var(--t-image-size) / 2);
            block-size: var(--t-connected-height);
            inline-size: 1px;
            color: var(--tui-border-normal);
            background: linear-gradient(to bottom, currentColor 75%, transparent 75%) top center / 300% 300%;
            background-clip: content-box;
            padding: inherit;
        }
    }

    > [tuiStep] {
        --t-image-size: 2rem;
        --t-connected-height: calc(100% - var(--t-image-size) + 0.75rem);
    }
}
