@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiConnected] {
    --t-image-size: 2rem;
    --t-vertical-offset: calc((100% + var(--t-image-size)) / 2 + 0.25rem);
    --t-connected-height: calc(100% - var(--t-vertical-offset));

    &[tuiCardLarge] [tuiCell],
    [tuiCell],
    [tuiStep] {
        padding-inline-start: inherit;

        &:not(:first-of-type)::before,
        &:not(:last-of-type)::after {
            content: '';
            position: absolute;
            left: calc(var(--t-image-size) / 2);
            height: var(--t-connected-height);
            width: 1px;
            background-color: var(--tui-border-normal);
        }

        &:not(:first-of-type)::before {
            bottom: var(--t-vertical-offset);
        }

        &:not(:last-of-type)::after {
            top: var(--t-vertical-offset);
        }
    }

    &[tuiCardLarge] [tuiCell] {
        --t-image-size: 2.5rem;
    }

    [tuiStep] {
        --t-vertical-margin: 1.25rem;
        --t-connected-height: calc(100% - var(--t-vertical-offset) + var(--t-vertical-margin) / 2);
    }
}
