<tui-doc-page
    header="Scrollbar"
    package="CORE"
    type="components"
>
    <ng-template pageTab>
        <div class="tui-space_bottom-3">
            <code>Scrollbar</code>
            implements a custom scrollbar in Taiga UI style.
        </div>

        <p>Native scrollbar is hidden to keep native platform scroll experience</p>

        <tui-notification class="tui-space_vertical-3">
            Use
            <code>TUI_SCROLL_REF</code>
            token to get a scrollable container. For example, when working with virtual scroll.
        </tui-notification>

        <tui-doc-example
            id="vertical"
            heading="Vertical"
            [content]="example1"
        >
            <tui-scrollbar-example-1 />
        </tui-doc-example>

        <tui-doc-example
            id="horizontal"
            heading="horizontal"
            [content]="example2"
        >
            <tui-scrollbar-example-2 />
        </tui-doc-example>

        <tui-doc-example
            id="all"
            heading="All"
            [content]="example3"
        >
            <tui-scrollbar-example-3 />
        </tui-doc-example>

        <tui-doc-example
            id="hidden"
            heading="Hidden"
            [content]="example4"
        >
            <tui-scrollbar-example-4 />
        </tui-doc-example>

        <tui-doc-example
            id="light"
            heading="Light scrollbar"
            [content]="example5"
        >
            <tui-scrollbar-example-5 />
        </tui-doc-example>

        <tui-doc-example
            id="virtual"
            heading="Virtual scroll"
            [content]="example6"
        >
            <p>
                Use
                <code>tuiScrollable</code>
                directive as an element for scroll. In this sample, we use virtual scroll from
                <code>&#64;angular/cdk</code>
                .
            </p>
            <tui-scrollbar-example-6 />
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Setup">
        <tui-setup
            [import]="exampleModule"
            [template]="exampleHtml"
        />
    </ng-template>
</tui-doc-page>
