<tui-doc-page header="Scrollbar" package="CORE" type="components">
    <ng-template pageTab>
        <div i18n class="tui-space_bottom-3">
            <code>Scrollbar</code> implements a custom scrollbar in Taiga UI
            style.
        </div>

        <p i18n>
            Native scrollbar is hidden to keep native platform scroll expirience
        </p>

        <tui-notification i18n class="tui-space_vertical-3">
            Use <code>TUI_SCROLL_REF</code> token to get a scrollable container.
            For example, when working with virtual scroll.
        </tui-notification>

        <tui-doc-example
            id="vertical"
            i18n-heading
            heading="Vertical"
            [content]="example1"
        >
            <tui-scrollbar-example-1></tui-scrollbar-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="horizontal"
            i18n-heading
            heading="horizontal"
            [content]="example2"
        >
            <tui-scrollbar-example-2></tui-scrollbar-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="all"
            i18n-heading
            heading="All"
            [content]="example3"
        >
            <tui-scrollbar-example-3></tui-scrollbar-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="hidden"
            i18n-heading
            heading="Hidden"
            [content]="example4"
        >
            <tui-scrollbar-example-4></tui-scrollbar-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="light"
            i18n-heading
            heading="Light scrollbar"
            [content]="example5"
        >
            <tui-scrollbar-example-5></tui-scrollbar-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="virtual"
            i18n-heading
            heading="Virtual scroll"
            [content]="example6"
        >
            <p i18n>
                Use <code>tuiScrollable</code> directive as an element for
                scroll. In this sample, we use vitual scroll from
                <code>@angular/cdk</code>.
            </p>
            <tui-scrollbar-example-6></tui-scrollbar-example-6>
        </tui-doc-example>
    </ng-template>

    <ng-template i18n-pageTab pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiScrollbarModule</code> into a module where
                    you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
