<tui-doc-page header="Scrollbar" package="CORE">
    <ng-template pageTab>
        <div class="tui-space_bottom-3">
            <code>Scrollbar</code> реализует кастомный скроллбар,
            соответствующий общей стилистике Taiga UI.
        </div>

        Нативный скроллбар просто прячется, что позволяет полностью сохранить
        специфичное для платформы поведение прокрутки.

        <tui-notification class="tui-space_vertical-3" [hasCloseButton]="false">
            Получить скроллящийся контейнер можно через токен
            <code>TUI_SCROLL_REF</code>. Это может быть необходимо для работы с
            библиотеками для виртуального скролла, которым нужно передать
            контейнер.
        </tui-notification>

        <tui-doc-example
            id="vertical"
            heading="вертикальный"
            [content]="example1"
        >
            <tui-scrollbar-example-1></tui-scrollbar-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="horizontal"
            heading="горизонтальный"
            [content]="example2"
        >
            <tui-scrollbar-example-2></tui-scrollbar-example-2>
        </tui-doc-example>

        <tui-doc-example id="all" heading="все" [content]="example3">
            <tui-scrollbar-example-3></tui-scrollbar-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="hidden"
            heading="прозрачный скроллбар"
            [content]="example4"
        >
            <tui-scrollbar-example-4></tui-scrollbar-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="light"
            heading="светлый скроллбар"
            [content]="example5"
        >
            <tui-scrollbar-example-5></tui-scrollbar-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="virtual"
            heading="виртуальный скролл"
            [content]="example6"
        >
            <p>
                Передать элемент для скролла можно с помощью директивы
                <code>tuiScrollable</code>. В данном примере используется
                виртуальный скролл из <code>@angular/cdk</code>.
            </p>
            <tui-scrollbar-example-6></tui-scrollbar-example-6>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Подключение">
        <ol class="b-demo-steps">
            <li>
                Для использования импортировать модуль
                <code>TuiScrollbarModule</code> в тот же модуль, куда
                добавляется ваш компонент:

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                Добавить в шаблон:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
