@if (items) {
    <tui-data-list
        [emptyContent]="emptyContent"
        [size]="size"
    >
        @for (item of $cast(items); track item) {
            <button
                #elementRef="elementRef"
                automation-id="tui-data-list-wrapper__option"
                new
                tuiElement
                tuiOption
                type="button"
                [disabled]="disabledItemHandler(item)"
                [value]="item"
                (click)="itemClick.emit(item)"
            >
                <span class="t-content">
                    <ng-container *polymorpheusOutlet="itemContent as text; context: getContext(item, elementRef)">
                        {{ text }}
                    </ng-container>
                </span>
            </button>
        }
        <!-- TODO(v5): delete fallback -->
    </tui-data-list>
} @else {
    <tui-loader
        automation-id="tui-data-list-wrapper__loader"
        class="t-loader"
    />
}
