<tui-data-list
    *ngIf="items; else loading"
    [emptyContent]="emptyContent"
    [size]="size"
>
    <tui-opt-group
        *ngFor="let group of items; let index = index"
        [label]="labels[index]"
    >
        <ng-container *ngIf="newOptionMode; else legacyOptionFallback">
            <button
                *ngFor="let item of group"
                #elementRef="elementRef"
                new
                tuiElement
                tuiOption
                type="button"
                [disabled]="disabledItemHandler(item)"
                [value]="item"
                (click)="itemClick.emit(item)"
            >
                <ng-container *polymorpheusOutlet="itemContent as text; context: getContext(item, elementRef)">
                    {{ text }}
                </ng-container>
            </button>
        </ng-container>

        <!-- TODO(v5): delete fallback -->
        <ng-template #legacyOptionFallback>
            <button
                *ngFor="let item of group"
                #elementRef="elementRef"
                automation-id="tui-data-list-wrapper__option"
                tuiElement
                tuiOption
                type="button"
                [disabled]="disabledItemHandler(item)"
                [value]="item"
                (click)="itemClick.emit(item)"
            >
                <ng-container *polymorpheusOutlet="itemContent as text; context: getContext(item, elementRef)">
                    {{ text }}
                </ng-container>
            </button>
        </ng-template>
    </tui-opt-group>
</tui-data-list>
<ng-template #loading>
    <tui-loader class="t-loader" />
</ng-template>
