@if (items()) {
    <tui-data-list
        [emptyContent]="emptyContent()"
        [size]="size()"
    >
        @for (group of items(); track group) {
            @if (!labels()[$index] && group.length) {
                <hr />
            }
            @if (multi && group.length) {
                <tui-opt-group
                    tuiMultiSelectGroup
                    [label]="labels()[$index] || ''"
                >
                    @for (item of group; track $index) {
                        <button
                            tuiOption
                            type="button"
                            [disabled]="handlers.disabledItemHandler()(item)"
                            [value]="item"
                            (click.capture)="itemClick.emit(item)"
                        >
                            <ng-container *polymorpheusOutlet="content() as text; context: {$implicit: item}">
                                {{ text }}
                            </ng-container>
                        </button>
                    }
                </tui-opt-group>
            } @else if (group.length) {
                <tui-opt-group [label]="labels()[$index]">
                    @for (item of group; track item) {
                        <button
                            tuiOption
                            type="button"
                            [disabled]="handlers.disabledItemHandler()(item)"
                            [value]="item"
                            (click.capture)="itemClick.emit(item)"
                        >
                            <ng-container *polymorpheusOutlet="content() as text; context: {$implicit: item}">
                                {{ text }}
                            </ng-container>
                        </button>
                    }
                </tui-opt-group>
            }
            @if (!labels()[$index] && group.length) {
                <hr />
            }
        }
    </tui-data-list>
} @else {
    <tui-loader class="t-loader" />
}
