:host {
    margin: 0.125rem 0.25rem 0.125rem 0;

    input {
        padding-left: 0.25rem;
    }

    :host-context([data-size='s']) & {
        margin: 0.0625rem 0.125rem 0.0625rem 0;
    }

    &._edit {
        &::before {
            color: transparent;
            transition: none;
        }
    }
}
