<tui-wrapper
    *ngIf="multiple || !value"
    class="wrapper"
    [class.wrapper_mobile]="isMobile"
    [class.wrapper_has-files]="hasFiles"
    [appearance]="getAppearance(mode$ | async)"
    [focused]="computedFocused"
    [hovered]="computedHovered || fileDragged"
    [pressed]="computedPressed"
    [readOnly]="readOnly"
    [disabled]="computedDisabled"
>
    <label
        *ngIf="(units$ | async) as units"
        automation-id="tui-input-file__label"
    >
        <a tuiLink>
            <span
                polymorpheus-outlet
                class="inline"
                [content]="computedLink$ | async"
            ></span>
        </a>
        <ng-container *ngIf="computedLabel$ | async as computedLabel">
            <span>&nbsp;</span>
            <span
                polymorpheus-outlet
                class="inline"
                [content]="computedLabel"
            ></span>
        </ng-container>
        <input
            *ngIf="!readOnly && !computedDisabled && (inputFileTexts$ | async) as texts"
            #input
            class="native"
            type="file"
            tuiPreventDefault="mousedown"
            [id]="id"
            [accept]="accept"
            [multiple]="multiple"
            [tuiFocusable]="focusable"
            (change)="onFilesSelected(input, texts, units)"
            (tuiHoveredChange)="onHovered($event)"
            (tuiFocusedChange)="onFocused($event)"
            (tuiPressedChange)="onPressed($event)"
            (tuiDroppableDropped)="onDropped($event, texts, units)"
            (tuiDroppableDragOverChange)="onDragOver($event)"
        />
    </label>
</tui-wrapper>

<section tuiGroup class="files" orientation="vertical" [collapsed]="true">
    <tui-file
        *ngFor="let file of rejectedFiles"
        automation-id="tui-input-file__error"
        state="error"
        [attr.data-mode]="mode$ | async"
        [showSize]="showSize"
        [allowDelete]="allowDelete"
        [size]="size"
        [file]="file"
        (fileRemoved)="removeRejectedFile(file)"
    ></tui-file>
    <tui-file
        *ngFor="let file of computedLoading"
        automation-id="tui-input-file__loading"
        state="loading"
        [attr.data-mode]="mode$ | async"
        [showSize]="showSize"
        [allowDelete]="allowDelete"
        [size]="size"
        [file]="file"
        (fileRemoved)="removeFile(file)"
    ></tui-file>
    <tui-file
        *ngFor="let file of readyFiles"
        automation-id="tui-input-file__file"
        [attr.data-mode]="mode$ | async"
        [showSize]="showSize"
        [allowDelete]="allowDelete"
        [size]="size"
        [file]="file"
        (fileRemoved)="removeFile(file)"
    ></tui-file>
</section>
