.container,
.zoomable {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 12rem;
    height: 12rem;
    background-color: var(--tui-secondary);
}

.zoomable {
    width: 3rem;
    height: 3rem;
    background-color: var(--tui-primary);
    border-radius: var(--tui-radius-l);
}
