@import 'taiga-ui-local';
@import '../mixin.style.less';

:host {
    position: relative;
    display: flex;
}

.t-zoom {
    .preview-item();
    .text-body-s();
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
}

.t-slider {
    width: 7.5rem;
}

.t-sign {
    &_minus {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &_plus {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.t-invisible {
    visibility: hidden;
}

.t-reset-button {
    margin-left: 0.3125rem;
}
