<ng-container *ngIf="zoomTexts$ | async as texts">
    <section class="t-zoom">
        <button
            tuiIconButton
            size="s"
            appearance=""
            icon="tuiIconMinus"
            shape="rounded"
            class="t-sign t-sign_minus"
            [title]="texts.zoomOut"
            [disabled]="leftButtonDisabled"
            (click)="onMinus()"
        ></button>
        <div
            tuiHintMode="onDark"
            tuiHintDirection="top-right"
            class="t-ghost-dot"
            [tuiManualHint]="hint"
            [tuiManualHintShow]="hintShow$ | async"
            [style.left.px]="ghostLeft"
        ></div>
        <ng-template #hint>
            {{ ((valueChange | async) || value) | percent }}
        </ng-template>
        <tui-slider
            class="t-slider"
            [min]="min"
            [max]="max"
            [ngModel]="value"
            (ngModelChange)="onModelChange($event)"
        ></tui-slider>
        <button
            tuiIconButton
            size="s"
            appearance=""
            icon="tuiIconPlus"
            shape="rounded"
            class="t-sign t-sign_plus"
            [title]="texts.zoomIn"
            [disabled]="rightButtonDisabled"
            (click)="onPlus()"
        ></button>
    </section>

    <button
        tuiIconButton
        tuiPreviewAction
        icon="tuiIconCollapse"
        tuiHintId="Collapse"
        tuiHintDirection="top-right"
        tuiHintMode="onDark"
        [tuiHint]="texts.reset"
        [class.t-invisible]="!collapseVisible"
        (click)="onReset()"
    ></button>
</ng-container>
