<button
    *ngIf="sorter && table; else content"
    type="button"
    class="t-sort"
    [class.t-sort_sorted]="isCurrent"
    (click)="table.updateSorter(sorter)"
>
    <ng-container [ngTemplateOutlet]="content"></ng-container>
    {{ table.change$ | async }}
    <tui-svg
        class="t-sort-icon"
        [src]="icon"
        [class.t-sort-icon_rotated]="isCurrent && table.direction === 1"
    ></tui-svg>
</button>
<ng-template #content><ng-content></ng-content></ng-template>
<div
    *ngIf="resizable"
    class="t-bar"
    (tuiResized)="onResized($event)"
></div>
