<tui-radio-group class="t-group">
    <tui-radio-labeled
        *ngFor="let item of items; index as index"
        class="t-item"
        [disabled]="disabled"
        [item]="item"
        [nativeId]="computeId(index)"
        [pseudoDisabled]="itemIsDisabled(item)"
        [pseudoInvalid]="computedInvalid"
        [readOnly]="readOnly"
        [size]="size"
        [(ngModel)]="value"
    >
        <ng-container
            *polymorpheusOutlet="
                itemContent as text;
                context: {$implicit: item, index: index, active: itemIsActive(item)}
            "
        >
            {{ text }}
        </ng-container>
    </tui-radio-labeled>
</tui-radio-group>
