<label
    *ngFor="let item of items; index as index"
    class="t-item"
    [class.t-item_disabled]="disabled || disabledItemHandler(item)"
>
    <input
        tuiRadio
        type="radio"
        [disabled]="disabled || disabledItemHandler(item)"
        [identityMatcher]="identityMatcher"
        [name]="name"
        [size]="size"
        [tuiValidator]="validator"
        [value]="item"
        [(ngModel)]="value"
    />
    <ng-container *polymorpheusOutlet="itemContent as text; context: {$implicit: item, active: itemIsActive(item)}">
        {{ text }}
    </ng-container>
</label>
