<tui-hosted-dropdown
    class="t-wrapper"
    [content]="$any(picker)"
    [(open)]="open"
>
    <!-- TODO: remove $any later -->
    <tui-primitive-textfield
        iconAlign="left"
        tuiTextfieldAutocomplete="off"
        class="t-textfield"
        [pseudoFocused]="computedFocused"
        [pseudoHovered]="pseudoHovered"
        [pseudoPressed]="pseudoPressed"
        [invalid]="computedInvalid"
        [focusable]="focusable"
        [nativeId]="nativeId"
        [disabled]="disabled"
        [readOnly]="readOnly"
        [value]="value"
        [iconContent]="color"
        (valueChange)="onValueChange($event)"
        (focusedChange)="onFocused($event)"
        (hoveredChange)="onHovered($event)"
        (pressedChange)="onPressed($event)"
    >
        <ng-content></ng-content>
    </tui-primitive-textfield>
</tui-hosted-dropdown>

<ng-template #color>
    <div
        class="t-color"
        [style.background]="background"
    ></div>
</ng-template>

<ng-template
    #picker="polymorpheus"
    polymorpheus
    let-activeZone
>
    <tui-color-selector
        [tuiActiveZoneParent]="activeZone"
        [colors]="colors"
        [color]="value"
        (colorChange)="onValueChange($event)"
    ></tui-color-selector>
</ng-template>
