.table {
    table-layout: fixed;
}

.textarea {
    min-height: var(--tui-height-l);
}

.number {
    text-align: right;
    flex-direction: row-reverse;
}

.first {
    min-width: 11.25rem;
    max-width: 11.25rem;
}

.second {
    left: 11.25rem;
}

.text {
    vertical-align: top;
    padding-top: 1rem;
}

// Due to rowSpan this item appears to be the first child
// but it shouldn't have the left border in reality
.border {
    border-left: none;
}

.select {
    width: 6.25rem;
}

.scrollbar {
    max-height: 18.75rem;
}
