<tui-doc-page
    header="SwipeAction"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template pageTab>
        <p>
            <b>Component should be used on mobile devices only.</b>
        </p>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="example1"
        >
            <tui-swipe-action-example-1 />
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            heading="Custom"
            [content]="example2"
        >
            <tui-swipe-action-example-2 />
        </tui-doc-example>

        <tui-doc-example
            id="auto-close"
            description="Automatically close a component when a pointerdown event occurs outside of it"
            heading="Autoclose"
            [content]="example3"
        >
            <tui-swipe-action-example-3 />
        </tui-doc-example>

        <tui-doc-example
            id="dynamic"
            heading="Dynamic actions"
            [content]="example4"
        >
            <tui-swipe-action-example-4 />
        </tui-doc-example>

        <tui-doc-example
            id="fallback"
            heading="Fallback for desktop"
            [content]="example5"
        >
            <tui-swipe-action-example-5 />
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-setup
            [import]="exampleModule"
            [template]="exampleHtml"
        />
    </ng-template>
</tui-doc-page>
