<tui-doc-page header="PrimitiveCheckbox" package="CORE">
    <ng-template pageTab>
        <div i18n class="tui-space_bottom-3">
            Static checkbox for usage outside forms as visual incdocator without
            focusing and clicking. For usage in a form, see
            <a tuiLink routerLink="/tui-checkbox"><code>Checkbox</code></a
            >, with a label
            <a tuiLink routerLink="/tui-checkbox-labeled"
                ><code>CheckboxLabeled</code></a
            >, inside a button
            <a tuiLink routerLink="/tui-checkbox-block"
                ><code>CheckboxBlock</code></a
            >.
        </div>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-primitive-checkbox
                [disabled]="disabled"
                [focused]="focused"
                [hovered]="hovered"
                [pressed]="pressed"
                [size]="size"
                [invalid]="invalid"
                [value]="value"
            ></tui-primitive-checkbox>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="disabled"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="focused"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="focused"
            >
                Focused state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="hovered"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="hovered"
            >
                Hovered state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pressed"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="pressed"
            >
                Pressed state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="invalid"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="invalid"
            >
                Invalid state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="value"
                documentationPropertyMode="input"
                documentationPropertyType="boolean | null"
                [documentationPropertyValues]="valueVariants"
                [(documentationPropertyValue)]="value"
            >
                Value (checked / unchecked / indeterminate)
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiPrimitiveCheckboxModule</code> into a module
                    where you want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Optionally use the
                    <code>TUI_CHECKBOX_OPTIONS</code> injection token to
                    override the default options for the component.
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleDefineOptions"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
