<tui-primitive-textfield
    tuiValueAccessor
    class="t-input"
    [disabled]="disabled"
    [readOnly]="readOnly"
    [nativeId]="nativeId"
    [maskito]="maskOptions"
    [invalid]="computedInvalid"
    [focusable]="focusable"
    [pseudoHover]="pseudoHover"
    [pseudoActive]="pseudoActive"
    [pseudoFocus]="pseudoFocus"
    [(value)]="value"
    (focusedChange)="onFocused($event)"
    (copy.prevent)="(0)"
>
    <ng-content></ng-content>
    <input
        tuiTextfield
        inputmode="numeric"
        [autocomplete]="autocomplete"
        [placeholder]="computedPlaceholder"
    />
</tui-primitive-textfield>
