<tui-doc-page
    header="Toast"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [fullsize]="true"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <a
                tuiToast
                [iconEnd]="icons.iconEnd"
                [iconStart]="icons.iconStart"
            >
                {{ content }}
            </a>

            <br />

            <button
                tuiToast
                type="button"
                [iconEnd]="icons.iconEnd"
            >
                <tui-icon
                    appearance="accent"
                    icon="@tui.box"
                    size="l"
                    tuiBadge
                />

                {{ content }}
            </button>

            <br />

            <div
                tuiToast
                [iconEnd]="icons.iconEnd"
            >
                <tui-avatar
                    [src]="'https://avatars.githubusercontent.com/u/11832552' | tuiFallbackSrc: '@tui.user' | async"
                />

                {{ content }}

                <button
                    appearance="neutral"
                    size="s"
                    tuiButton
                    type="button"
                >
                    Label
                </button>
            </div>

            <br />

            <button
                size="s"
                tuiButton
                type="button"
                (click)="show()"
            >
                Show notification toast
            </button>
        </tui-doc-demo>

        <table tuiDocAPI>
            <tr
                name="<ng-content />"
                tuiDocAPIItem
                type="string"
                [(value)]="content"
            >
                Text of notification toast
            </tr>
            <tbody
                #icons
                tuiDocIcons
            ></tbody>
            <tbody>
                <tr>
                    <td colspan="3">
                        <span tuiTitle>
                            <strong>TuiToastService</strong>
                            <span tuiSubtitle>
                                Open
                                <code>tui-notification-toast</code>
                                inside alert area
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
            <tr
                name="[autoClose]"
                tuiDocAPIItem
                type="TuiHandler | number"
                [items]="autoCloseVariants"
                [(value)]="autoClose"
            >
                Auto close timeout, 0 for no auto close
            </tr>
            <tr
                name="[closable]"
                tuiDocAPIItem
                type="TuiHandler<TuiSwipeEvent, boolean> | boolean"
                [items]="closeVariants"
                [(value)]="closable"
            >
                Show close button on desktop and swipe on mobile
            </tr>
            <tr
                name="appearance"
                tuiDocAPIItem
                type="string"
                [(value)]="appearance"
            >
                Appearance
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab="'Setup'">
        <li class="tui-list__item">
            <p>
                If you want to show toast as an alert content, use
                <code>TuiToastService</code>
            </p>

            <tui-doc-code [code]="exampleAlert" />
        </li>
    </tui-setup>
</tui-doc-page>
