@import '@taiga-ui/core/styles/taiga-ui-local';

tui-textfield[tuiInputMonth] input[type='month'] {
    .fullsize();

    opacity: 0;
    border: 0;

    &::-webkit-calendar-picker-indicator {
        .fullsize(); // Extends clickable area for icon to open native calendar
    }
}

tui-textfield[tuiInputMonth] .t-clear {
    z-index: 1;
}
