@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper {
    position: relative;
}

.fade {
    .transition(height);

    block-size: 3.75rem;

    &_expanded {
        block-size: 10rem;
    }
}

.expand {
    .transition(opacity, visibility);

    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    transition-delay: var(--tui-duration);

    &_hidden {
        opacity: 0;
        visibility: hidden;
    }
}
