@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper {
    position: relative;
}

.fade {
    .transition(height);

    interpolate-size: allow-keywords;
    block-size: 2lh;

    &_expanded {
        block-size: calc(1lh * var(--t-line-height));
    }
}

.expand {
    .transition(opacity, visibility);

    position: absolute;
    bottom: 0;
    right: 0;
    transition-delay: var(--tui-duration);

    &_hidden {
        opacity: 0;
        visibility: hidden;
    }
}
