.wrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    --tui-chart-categorical-00: var(--tui-chart-categorical-12);
    --tui-chart-categorical-01: var(--tui-chart-categorical-01);
    --tui-chart-categorical-02: var(--tui-chart-categorical-03);
    --tui-chart-categorical-03: var(--tui-chart-categorical-09);
}

.index-controller {
    max-width: 20rem;
}
