@import '@taiga-ui/styles/utils';

:host {
    display: grid;
    inline-size: 100%;
    grid-template-columns: repeat(3, calc(33% - 0.625rem));
    gap: 1rem 0.5rem;
    place-content: center;
    box-sizing: border-box;
}

.t-item {
    .transition(background);

    display: block;
    block-size: 2.5rem;
    min-inline-size: 0;
    border-radius: 10rem;
    border: none;
    background: var(--tui-background-neutral-1);
    color: var(--tui-text-primary);
    font: var(--tui-typography-ui-s);
    white-space: nowrap;

    ::ng-deep [tuiTitle] {
        gap: 0.125rem;
        text-align: center;

        [tuiSubtitle] {
            color: var(--tui-text-secondary);
            font: var(--tui-typography-ui-xs);
        }
    }

    &:disabled {
        opacity: var(--tui-disabled-opacity);
        pointer-events: none;
    }

    &_active {
        background: var(--tui-background-accent-2);
        color: var(--tui-text-primary-on-accent-2);

        ::ng-deep [tuiTitle] [tuiSubtitle] {
            color: inherit;
        }
    }

    @media @tui-mouse {
        &:hover {
            background: var(--tui-background-neutral-1-hover);
            cursor: pointer;
        }

        &_active:hover {
            background: var(--tui-background-accent-2-hover);
        }
    }
}
