@import 'taiga-ui-local';

.wrapper {
    width: 70%;

    @media @tui-mobile {
        width: 100%;
    }
}

.slider-ticks-labels {
    .tui-slider-ticks-labels();

    color: var(--tui-text-02);
    margin-top: 0.5rem;
}
