<tui-hosted-dropdown
    #fonts
    [content]="fontsDropdown"
>
    <button
        #fontsBtn
        tuiIconButton
        type="button"
        size="s"
        appearance="icon"
        icon="tuiIconFontLarge"
        tuiHintDirection="top-left"
        [tuiHint]="fontText$ | async"
        [tuiHintId]="fontsBtn.id"
        [tuiDescribedBy]="fontsBtn.id"
        [pseudoActive]="fonts.open"
        [focusable]="fonts.open"
    ></button>
    <ng-template #fontsDropdown>
        <tui-data-list>
            <button
                *ngFor="let item of fontsOptions$ | async"
                tuiOption
                [style.fontFamily]="item.family"
                [style.fontSize.px]="item.px"
                [style.fontWeight]="item.weight"
                (click)="onClick(item)"
            >
                {{ item.name }}
            </button>
        </tui-data-list>
    </ng-template>
</tui-hosted-dropdown>
