@import '@taiga-ui/core/styles/taiga-ui-local';

app {
    display: block;
}

.app-christmas {
    position: absolute;
    left: 0.3125rem;
    top: 0.4375rem;
    width: 2rem;
    height: 2rem;
    transform: rotate(20deg);
    margin-left: 1.25rem;

    @media @tui-mobile {
        left: 2.5rem;
    }
}

.app-selects {
    padding: 0.25rem 0.125rem 0.5rem 0.75rem;
    box-shadow: 0 -1px var(--tui-border-normal);
}

.app-link {
    margin-left: 1.25rem;
}
