@import '@taiga-ui/core/styles/taiga-ui-local';

app {
    display: block;
}

.app-links {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.app-links-dropdown {
    display: none !important;
}

.app-link-dropdown {
    justify-content: flex-start !important;
}

.app-christmas {
    position: absolute;
    left: 0.3125rem;
    top: 0.4375rem;
    inline-size: 2rem;
    block-size: 2rem;
    transform: rotate(20deg);
    margin-left: 1.25rem;

    @media @tui-mobile {
        left: 2.5rem;
    }
}

@media @tui-mobile {
    // Increasing specificity
    .app-link.app-link {
        display: none;
    }

    .app-links-dropdown {
        display: flex !important;
    }
}

html {
    /* stylelint-disable-next-line */
    font-size: 16px;
}
