@keyframes tuiReveal {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes tuiFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes tuiSkeletonBackgroundVibe {
    from {
        background-color: rgba(#000, 8%);
    }

    to {
        background-color: rgba(#000, 16%);
    }
}

@keyframes tuiSkeletonLightBackgroundVibe {
    from {
        background-color: rgba(#fff, 16%);
    }

    to {
        background-color: rgba(#fff, 24%);
    }
}
