html {
    height: 100%;
    /* stylelint-disable-next-line */
    font-size: 16px;
}

body {
    .text-basic();
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    -webkit-overflow-scrolling: touch;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
button,
select,
textarea {
    font-family: inherit;
    color: inherit;
}

hr {
    margin: 0;
    height: 1px;
    border: none;
    background: var(--tui-base-03);
}

iframe {
    border: none;
}

// Resolve bug with use elements in IE11
// https://stackoverflow.com/questions/30653533/ie-11-crashes-when-using-dynamic-svg-elements
svg use {
    pointer-events: none;
}

html,
.tui-zero-scrollbar {
    .scrollbar-hidden();
}

::selection {
    background-color: var(--tui-selection);
}

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

// @note: only safari 16+
@supports (-webkit-hyphens: none) and (text-align-last: right) {
    /**
      * @descriptions:
      * Safari 16 has bug when for some reason,
      * the ::after blocks aren't removed
      * after the destruction of the parent class
     */
    :after {
        content: none;
    }
}
