<ng-container *ngIf="hintOptions?.change$ | async"></ng-container>
<div
    tuiWrapper
    automation-id="tui-text-area__wrapper"
    class="t-outline"
    [appearance]="appearance"
    [disabled]="disabled"
    [focus]="computedFocused"
    [hover]="pseudoHover"
    [readOnly]="readOnly"
    [invalid]="computedInvalid"
>
    <div
        *ngIf="hasCounter"
        automation-id="tui-text-area__counter"
        class="t-counter"
    >
        {{ value.length }}/{{ controller.maxLength }}
    </div>

    <label
        class="t-content"
        (mousedown)="onMouseDown($event)"
    >
        <div class="t-wrapper">
            <div
                *ngIf="hasPlaceholder"
                automation-id="tui-text-area__placeholder"
                class="t-placeholder"
                [class.t-placeholder_raised]="placeholderRaised"
            >
                <ng-content></ng-content>
            </div>
            <tui-scrollbar
                automation-id="tui-text-area__scrollbar"
                class="t-box"
                [style.maxHeight.px]="computeMaxHeight"
            >
                <div class="t-input-wrapper">
                    <div class="t-relative">
                        <div
                            aria-hidden="true"
                            class="t-pseudo-content"
                        >
                            <span [textContent]="fittedContent || controller.exampleText"></span>
                            <span
                                class="t-pseudo-content__extra"
                                [textContent]="extraContent"
                            ></span>
                            &nbsp;
                        </div>
                        <textarea
                            #focusableElement
                            automation-id="tui-text-area__native"
                            class="t-input"
                            [placeholder]="controller.exampleText"
                            [id]="id"
                            [tuiDescribedBy]="id"
                            [tuiFocusable]="computedFocusable"
                            [disabled]="computedDisabled"
                            [ngModel]="value"
                            [readOnly]="readOnly"
                            (ngModelChange)="onValueChange($event)"
                        ></textarea>
                        <ng-content select="textarea"></ng-content>
                    </div>
                </div>
            </tui-scrollbar>
        </div>
        <div class="t-icons">
            <tui-svg
                *ngIf="hasCleaner"
                src="tuiIconCloseLarge"
                class="t-cleaner"
                (click.stop)="onValueChange('')"
            ></tui-svg>
            <tui-tooltip
                *ngIf="hintOptions && hintOptions.content && !computedDisabled"
                automation-id="tui-text-area__tooltip"
                class="t-tooltip"
                [describeId]="id"
                [direction]="hintOptions.direction"
                [appearance]="hintOptions.appearance"
                [content]="hintOptions.content"
                [showDelay]="hintOptions.showDelay"
                [hideDelay]="hintOptions.hideDelay"
            ></tui-tooltip>
        </div>
    </label>
</div>
