@import 'taiga-ui-local';

@height: 6.75rem;
@heightCounter: 7.875rem;

:host {
    position: relative;
    z-index: 0;
    display: flex;
    font: var(--tui-font-text-m);
    flex-direction: column;
    min-height: @height;
    border-radius: var(--tui-radius-m);
    color: var(--tui-text-01);

    &[data-mode='onDark'] {
        color: var(--tui-text-01-night);
    }

    &[data-size='m'] {
        font: var(--tui-font-text-s);
        min-height: (@height - 1.25rem);
    }

    &[data-size='m']._has-counter {
        min-height: (@heightCounter - 1.25rem);
    }

    &[data-size='l']._has-counter {
        min-height: @heightCounter;
    }
}

.t-outline {
    min-height: inherit;
}

.t-content {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    min-height: inherit;
    box-sizing: border-box;
    overflow: hidden;
    cursor: text;

    :host._disabled & {
        cursor: auto;
        opacity: var(--tui-disabled-opacity);
    }

    :host:not(._expandable) & {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 1px;
        right: 0;
        min-height: auto;
    }

    :host._has-counter:not(._expandable) & {
        bottom: 1.6875rem;
    }
}

.t-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: inherit;
    padding-bottom: 0.4375rem;
    box-sizing: border-box;

    :host[data-size='m']._label-outside & {
        padding-top: 0.75rem;
    }

    :host[data-size='l']._label-outside & {
        padding-top: 1rem;
    }

    :host[data-size='m']:not(._label-outside) & {
        padding-top: 1.375rem;
    }

    :host[data-size='l']:not(._label-outside) & {
        padding-top: 1.625rem;
    }
}

:host-context(table)[data-size='m']._label-outside .t-wrapper {
    padding-bottom: 0.75rem;
}

:host-context(table)[data-size='l']._label-outside .t-wrapper {
    padding-bottom: 1rem;
}

.t-input-wrapper {
    min-height: inherit;
    width: 100%;
    flex: 1;
}

.t-relative {
    position: relative;
    min-height: inherit;
}

.t-box {
    display: flex;
    min-height: 100%;
    width: 100%;

    :host:not(._expandable) & {
        height: 100%;
    }

    :host._has-counter._expandable & {
        margin-bottom: 1.25rem;
    }
}

.t-pseudo-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    pointer-events: none;
    color: transparent;
    overflow: hidden;
    border: solid transparent;
    border-width: 0 var(--border-end, 0) 0 var(--border-start, 0);
    border-inline-start-width: var(--border-start, 0);
    border-inline-end-width: var(--border-end, 0);

    :host[data-size='m'] & {
        padding: 0 0.75rem;
    }

    :host[data-size='l'] & {
        padding: 0 1rem;
    }

    &__extra {
        background-color: var(--tui-error-bg-night);
    }
}

.t-input {
    .clearinput();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    outline: none;
    border: solid transparent;
    border-width: 0 var(--border-end, 0) 0 var(--border-start, 0);
    border-inline-start-width: var(--border-start, 0);
    border-inline-end-width: var(--border-end, 0);

    &:not(:last-of-type) {
        display: none;
    }

    &::placeholder {
        color: var(--tui-text-03);
        opacity: 0;
    }

    :host[data-mode='onDark'] &::placeholder {
        color: var(--tui-text-03-night);
    }

    :host._focused &:not(:read-only)::placeholder {
        opacity: 1;
    }

    :host[data-size='m'] & {
        padding: 0 0.75rem;
    }

    :host[data-size='l'] & {
        padding: 0 1rem;
    }

    :host[data-mode='onDark']._disabled & {
        color: var(--tui-text-03-night);
    }

    /* Safari 9+, < 13.1 */
    @supports (-webkit-marquee-repetition: infinite) and (object-fit: fill) {
        :host._ios & {
            padding-left: 0.8125rem; // compensation of unkillable padding in mobile safari
        }
    }
}

.t-placeholder {
    .textfield-placeholder();
    position: absolute;
    left: 0;
    max-width: 100%;
    padding: 0 1rem;
    border: solid transparent;
    border-width: 0 var(--border-end, 0) 0 var(--border-start, 0);
    border-inline-start-width: var(--border-start, 0);
    border-inline-end-width: var(--border-end, 0);
    box-sizing: border-box;

    :host[data-size='m'] & {
        top: 0.75rem;
        padding: 0 0.75rem;
    }

    :host[data-size='l'] & {
        top: 1rem;
    }

    :host._label-outside & {
        overflow: initial;
        height: auto;
        white-space: initial;
    }
}

.t-icons {
    .fullsize(absolute, inset);
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    padding: 1rem 0.75rem;

    :host[data-size='m'] & {
        padding: 0.75rem;
    }
}

.t-cleaner {
    .icon-button();
    pointer-events: auto;
}

.t-tooltip {
    pointer-events: auto;
}

.t-counter {
    position: absolute;
    right: 0.75rem;
    bottom: 0.5rem;
    font: var(--tui-font-text-s);
    pointer-events: none;
    margin-top: auto;
    text-align: right;
    color: var(--tui-text-03);

    :host[data-mode='onDark'] & {
        color: var(--tui-text-03-night);
    }
}
