<tui-doc-page
    header="BottomSheet"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template pageTab>
        <p>A non-modal draggable sheet</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <table tuiDocAPI>
            <tr
                name="[stops]"
                tuiDocAPIItem
                type="readonly string[]"
            >
                Scroll snap stops
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
