<tui-doc-page
    header="Stepper"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-stepper
                [orientation]="orientation"
                [(activeItemIndex)]="activeItemIndex"
            >
                <button tuiStep>Simple step</button>
                <button tuiStep>Simple step</button>
                <button
                    tuiStep
                    [icon]="icon"
                    [stepState]="state"
                >
                    Simple step
                </button>
                <button tuiStep>Simple step</button>
                <button tuiStep>Simple step</button>
            </tui-stepper>
        </tui-doc-demo>
        <tui-doc-documentation heading="Stepper">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="orientation"
                documentationPropertyType="TuiOrientation"
                [documentationPropertyValues]="orientationVariants"
                [(documentationPropertyValue)]="orientation"
            >
                Steps direction
            </ng-template>
            <ng-template
                documentationPropertyMode="input-output"
                documentationPropertyName="activeItemIndex"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="activeItemIndex"
            >
                Active step index
            </ng-template>
        </tui-doc-documentation>
        <tui-doc-documentation heading="Step">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="stepState"
                documentationPropertyType="'normal' | 'pass' | 'error'"
                [documentationPropertyValues]="stateVariants"
                [(documentationPropertyValue)]="state"
            >
                Step state
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="icon"
                documentationPropertyType="string"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="icon"
            >
                Step custom icon
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
