<tui-doc-page header="Stepper" package="KIT">
    <ng-template pageTab>
        Компонент Stepper предназначен для навигации по шагам с визуальной
        индикацией пройденных шагов

        <tui-doc-example id="base" heading="базовый" [content]="example1">
            <tui-stepper-example-1></tui-stepper-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="vertical"
            heading="вертикальный"
            [content]="example2"
        >
            <tui-stepper-example-2></tui-stepper-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-stepper
                [orientation]="orientation"
                [(activeItemIndex)]="activeItemIndex"
            >
                <button tuiStep>Просто шаг</button>
                <button tuiStep>Просто шаг</button>
                <button tuiStep [state]="state" [icon]="icon">
                    Просто шаг
                </button>
            </tui-stepper>
        </tui-doc-demo>
        <tui-doc-documentation heading="Stepper">
            <ng-template
                documentationPropertyName="orientation"
                documentationPropertyMode="input"
                documentationPropertyType="TuiOrientation | 'none'"
                [documentationPropertyValues]="orientationVariants"
                [(documentationPropertyValue)]="orientation"
            >
                Направление шагов
            </ng-template>
            <ng-template
                documentationPropertyName="activeItemIndex"
                documentationPropertyMode="input-output"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="activeItemIndex"
            >
                Индекс активного шага
            </ng-template>
        </tui-doc-documentation>
        <tui-doc-documentation heading="Step">
            <ng-template
                documentationPropertyName="state"
                documentationPropertyMode="input"
                documentationPropertyType="TuiStepState"
                [documentationPropertyValues]="stateVariants"
                [(documentationPropertyValue)]="state"
            >
                Состояние шага
            </ng-template>
            <ng-template
                documentationPropertyName="icon"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="icon"
            >
                Произвольная иконка
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                Для использования импортировать модуль
                <code>TuiStepperModule</code> в тот же модуль, куда добавляется
                ваш компонент:

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                Добавить в шаблон компонент с элементами:

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
