<tui-doc-page i18n-header header="Stepper" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>Stepper makes visual step navigation</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-stepper-example-1></tui-stepper-example-1>
        </tui-doc-example>

        <tui-doc-example id="vertical" heading="Vertical" [content]="example2">
            <tui-stepper-example-2></tui-stepper-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-stepper
                [orientation]="orientation"
                [(activeItemIndex)]="activeItemIndex"
            >
                <button tuiStep>Simple step</button>
                <button tuiStep>Simple step</button>
                <button tuiStep [state]="state" [icon]="icon">
                    Simple step
                </button>
            </tui-stepper>
        </tui-doc-demo>
        <tui-doc-documentation heading="Stepper">
            <ng-template
                i18n
                documentationPropertyName="orientation"
                documentationPropertyMode="input"
                documentationPropertyType="TuiOrientation | 'none'"
                [documentationPropertyValues]="orientationVariants"
                [(documentationPropertyValue)]="orientation"
            >
                Steps direction
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="activeItemIndex"
                documentationPropertyMode="input-output"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="activeItemIndex"
            >
                Active step index
            </ng-template>
        </tui-doc-documentation>
        <tui-doc-documentation heading="Step">
            <ng-template
                i18n
                documentationPropertyName="state"
                documentationPropertyMode="input"
                documentationPropertyType="TuiStepState"
                [documentationPropertyValues]="stateVariants"
                [(documentationPropertyValue)]="state"
            >
                Step state
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="icon"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="icon"
            >
                Step custom icon
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiStepperModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
