@import 'taiga-ui-local';

.tui-editor-socket {
    .t-editor-code-block {
        white-space: pre-wrap;
        word-break: break-word;
        border-radius: 0.25rem;
        margin: 1rem 0;
        padding: 0.75rem 1rem;
        font-family: Courier, monospace;
        color: var(--tui-text-02);

        &:has(code:not([class*='language-'])) {
            background: var(--tui-base-02);
        }
    }

    .t-editor-code-block + .t-editor-code-block {
        margin-top: -1.8125rem;
        padding-top: 0;
    }
}
