.tui-ripple {
    position: absolute;
    z-index: 100;
    opacity: 0.12;
    border-radius: 100%;
    background: var(--tui-ripple-background, currentColor);
    animation-fill-mode: forwards;
    pointer-events: none;
}
