@keyframes tuiRippleOn {
    from {
        opacity: 0.12;
        transform: scale(0);
    }

    to {
        opacity: 0.12;
        transform: none;
    }
}

@keyframes tuiRippleOff {
    from {
        opacity: 0.12;
        transform: none;
    }

    to {
        opacity: 0;
        transform: none;
    }
}

*[tuiRipple] {
    position: relative;
    overflow: hidden;
}

.tui-ripple {
    position: absolute;
    z-index: 100;
    border-radius: 100%;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
    background: currentColor;
    pointer-events: none;
    transform: scale(0);
}
