:host {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 1.5rem;
}

.action {
    flex: 1;
    align-items: center;

    &:first-child {
        --tui-action-color: var(--tui-positive);
        --tui-action-background: var(--tui-success-bg);
    }

    &:last-child {
        --tui-action-color: var(--tui-negative);
        --tui-action-background: var(--tui-error-bg);
    }
}
