section {
    display: flex;
    height: 3.125rem;
    border-radius: 0.75rem;
    justify-content: center;
    align-items: center;
    color: var(--tui-text-secondary);
    border: 1px dashed;
}

.label {
    font: var(--tui-font-text-l);
}
