[tuiRipple] {
    position: relative;
    padding: 1rem;
    border: 1px solid var(--tui-border-normal);
    border-radius: 1rem;
    user-select: none;
    margin-bottom: 1rem;
    overflow: hidden;
}
