@import 'taiga-ui-local';

:host {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 100%;
    height: var(--tui-height-l);
    box-sizing: border-box;
    outline: none;

    &[data-size='m'] {
        height: var(--tui-height-m);
    }
}

:host-context(*:focus) {
    .icon-content {
        background-color: var(--tui-base-01);
        color: var(--tui-text-03);
    }
}

.icon {
    margin: 0 @space * 2 0 calc(-1px - @space);

    :host[data-size='m'] & {
        transform: scale(0.75);
    }
}

.info {
    min-width: 0;
    margin-right: @space * 2;
    overflow: hidden;
}

.icon-content {
    display: flex;
}

.card {
    max-width: 2rem;
    max-height: 2rem;
    margin: 0 0.375rem 0 auto;
    flex-shrink: 0;
}

.name {
    .text-overflow();
    display: block;
    font: var(--tui-font-text-s);
    color: var(--tui-text-02);
    margin-bottom: -0.125rem;

    :host[data-size='m'] & {
        font: var(--tui-font-text-xs);
    }
}

.value {
    font: var(--tui-font-text-m);

    :host[data-size='m'] & {
        font: var(--tui-font-text-s);
    }
}
