<span
    polymorpheus-outlet
    class="icon"
    [content]="account.paymentSystem"
>
    <ng-template let-iconSrc>
        <tui-marker-icon
            size="xs"
            class="icon-content"
            [src]="iconSrc"
        ></tui-marker-icon>
    </ng-template>
</span>
<span class="info">
    <span class="name">{{ account.name }}</span>
    <tui-money
        decimal="always"
        class="value"
        [currency]="account.currency"
        [value]="account.amount"
    ></tui-money>
</span>
