<tui-doc-page
    header="Tabs"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>Component for creating tabs.</p>

        <tui-notification>
            If you use
            <code>routerLink</code>
            you must also add
            <code>routerLinkActive</code>
            directive.
        </tui-notification>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-tabs-with-more
                [itemsLimit]="itemsLimit"
                [moreContent]="moreContent"
                [size]="size"
                [underline]="underline"
                [(activeItemIndex)]="activeItemIndex"
            >
                <ng-container *ngFor="let button of buttons">
                    <button
                        *tuiItem
                        tuiTab
                        type="button"
                    >
                        {{ button }}
                    </button>
                </ng-container>
            </tui-tabs-with-more>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[(activeItemIndex)]"
                tuiDocAPIItem
                type="number"
                [(value)]="activeItemIndex"
            >
                Active index item
            </tr>
            <tr
                name="[size]"
                tuiDocAPIItem
                type="TuiSizeM | TuiSizeL"
                [items]="sizes"
                [(value)]="size"
            >
                Size
            </tr>
            <tr
                name="[itemsLimit]"
                tuiDocAPIItem
                type="number"
                [(value)]="itemsLimit"
            >
                Visible tabs count limit
                <strong>
                    for
                    <code>TabsWithMore</code>
                    only
                </strong>
            </tr>
            <tr
                name="[moreContent]"
                tuiDocAPIItem
                type="PolymorpheusContent"
                [items]="moreContentVariants"
                [(value)]="moreContent"
            >
                "More" button content
                <strong>
                    for
                    <code>TabsWithMore</code>
                    only
                </strong>
            </tr>
            <tr
                name="[dropdownContent]"
                tuiDocAPIItem
                type="PolymorpheusContent"
            >
                "More" button dropdown content
                <strong>
                    for
                    <code>TabsWithMore</code>
                    only
                </strong>
            </tr>
        </table>
    </ng-template>

    <tui-setup *pageTab />

    <ng-template pageTab="Routing">
        <tui-doc-example [content]="8 | tuiExample">
            <router-outlet />
        </tui-doc-example>
    </ng-template>
</tui-doc-page>
