<tui-doc-page i18n-header header="Tabs" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            Component for creating tabs. It emulates appearance and behaviour of
            native iOS and Android components when
            <code>TUI_MOBILE_AWARE</code> token is <code>true</code>.
        </p>

        <tui-notification i18n class="tui-space_top-4">
            If you use <code>routerLink</code>, add also
            <code>routerLinkActive</code> directive.
        </tui-notification>

        <tui-doc-example id="android" heading="Android" [content]="example1">
            <tui-tabs-example-1></tui-tabs-example-1>
        </tui-doc-example>

        <tui-doc-example id="ios" heading="iOS" [content]="example2">
            <tui-tabs-example-2></tui-tabs-example-2>
        </tui-doc-example>

        <tui-doc-example id="desktop" heading="Desktop" [content]="example3">
            <tui-tabs-example-3></tui-tabs-example-3>
        </tui-doc-example>

        <tui-doc-example id="more" heading="TabsWithMore" [content]="example4">
            <tui-tabs-example-4></tui-tabs-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="complex"
            i18n-heading
            heading="Complex"
            [content]="example5"
        >
            <tui-tabs-example-5></tui-tabs-example-5>
        </tui-doc-example>

        <tui-doc-example id="stepper" heading="Stepper" [content]="example6">
            <tui-tabs-example-6></tui-tabs-example-6>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-tabs-with-more
                [underline]="underline"
                [moreContent]="moreContent"
                [itemsLimit]="itemsLimit"
                [(activeItemIndex)]="activeItemIndex"
            >
                <ng-container *ngFor="let button of buttons">
                    <button *tuiTab tuiTab type="button">{{ button}}</button>
                </ng-container>
            </tui-tabs-with-more>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="itemsLimit"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="itemsLimit"
            >
                Visible tabs count limit
                <strong>for <code>TabsWithMore</code> only</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="moreContent"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="moreContentVariants"
                [(documentationPropertyValue)]="moreContent"
            >
                "More" button content
                <strong>for <code>TabsWithMore</code> only</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="underline"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="underline"
            >
                Enable active item underline
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="activeItemIndex"
                documentationPropertyMode="input-output"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="activeItemIndex"
            >
                Active index item
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiTabsModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
