<tui-doc-page
    header="InputDateTime"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <code>InputDateTime</code>
        =
        <code>Textfield</code>
        +
        <code>Calendar</code>
        + ❤️

        @for (example of examples; track example) {
            <tui-doc-example
                [component]="$index + 1 | tuiComponent"
                [content]="$index + 1 | tuiExample"
                [description]="description"
                [heading]="example"
            />

            <ng-template #description>
                @switch ($index) {
                    @case (1) {
                        /* calendar customization text */
                    }
                    @case (2) {
                        You can customize dropdown content and even extend its template
                    }
                    @case (3) {
                        If a field is optional, but unfinished field should be marked as invalid, use
                        <code>tuiUnfinishedValidator</code>
                        directive
                    }
                    @case (4) {
                        By default component works with our internal types called
                        <code>TuiDay</code>
                        and
                        <code>TuiTime</code>
                        . If you prefer to use anything else, like a string or native
                        <code>Date</code>
                        you can provide custom transformer in options to store value in different format in form control
                    }
                    @case (5) {
                        Formatting relies on
                        <code>TUI_DATE_FORMAT</code>
                        which you can override using
                        <code>tuiDateFormatProvider</code>
                        helper
                    }
                    @case (6) {
                        @if (!isMobile) {
                            <div tuiNotification>
                                Open this on a mobile device or enable emulation in DevTools and refresh the page to
                                explore this example!
                            </div>
                        }
                        <p>
                            You can use several different approaches to optimize UX on mobile devices when tapping the
                            icon.
                        </p>
                    }
                    @case (7) {
                        Individual disabled dates still can be typed in manually or picked on mobile in native picker
                        but control will be automatically marked as invalid
                    }
                    @case (8) {
                        Native mobile pickers have limited browser support for native datalist
                    }
                }
            </ng-template>
        }
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-textfield
                    [iconStart]="icons.iconStart"
                    [tuiDropdownAlign]="dropdown.align"
                    [tuiDropdownDirection]="dropdown.direction"
                    [tuiDropdownMinHeight]="dropdown.minHeight"
                    [tuiTextfieldCleaner]="textfieldDoc.cleaner"
                    [tuiTextfieldSize]="textfieldDoc.size"
                    [(open)]="dropdown.open"
                >
                    @if (textfieldDoc.size !== 's') {
                        <label tuiLabel>Choose date</label>
                    }

                    <input
                        tuiInputDateTime
                        [focused]="input.focused"
                        [formControl]="control"
                        [invalid]="controlDoc.invalid"
                        [max]="max"
                        [min]="min"
                        [placeholder]="textfieldDoc.size === 's' ? 'Choose date' : ''"
                        [readOnly]="controlDoc.readonly"
                        [state]="input.state"
                        [timeMode]="timeMode"
                        [tuiDisabled]="controlDoc.disabled"
                    />

                    <tui-calendar *tuiDropdown />
                </tui-textfield>
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[timeMode]"
                tuiDocAPIItem
                type="MaskitoTimeMode"
                [items]="timeModeVariants"
                [(value)]="timeMode"
            >
                Time format mode for SS and MS support
            </tr>

            <tr
                name="[min]"
                tuiDocAPIItem
                type="TuiDay | [TuiDay, TuiTime] | null"
                [items]="dates"
                [(value)]="min"
            >
                Min date
            </tr>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="TuiDay | [TuiDay, TuiTime] | null"
                [items]="dates"
                [(value)]="max"
            >
                Max date
            </tr>
            <tbody
                #textfieldDoc
                tuiDocTextfield
            ></tbody>
            <tbody
                #input
                tuiDocInput
            ></tbody>
            <tbody
                #icons
                tuiDocIcons
                [hiddenOptions]="['iconEnd']"
            ></tbody>
            <tbody
                #dropdown
                tuiDocDropdown
                [hiddenOptions]="[
                    'tuiDropdownEnabled',
                    'limitWidth',
                    'appearance',
                    'maxHeight',
                    'offset',
                    'dropdownSided',
                    'dropdownSidedOffset',
                ]"
            ></tbody>
            <tbody
                #controlDoc
                tuiDocControl
            ></tbody>
        </table>
    </ng-template>
</tui-doc-page>
