<button
    tuiButton
    type="button"
    size="s"
    class="button"
    [appearance]="buttonAppearance"
    [pseudoHovered]="pseudoHovered"
    [disabled]="disabled"
>
    <ng-container *ngIf="customColorContent; else colorDot">
        <span
            polymorpheus-outlet
            [content]="customColorContent"
            [context]="colorContext"
        ></span>
    </ng-container>
    <span class="text">{{text}}</span>
    <ng-content></ng-content>
</button>

<ng-template #colorDot>
    <span class="dot" [style.background]="computedColor"></span>
</ng-template>
