:host {
    display: inline-block;
}

.button {
    font-weight: bold;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;

    &:not([data-tui-background]) {
        background-color: var(--tui-base-05);
    }
}

.text {
    margin: 0 8px;
    font-weight: normal;
}
