<header
    *ngIf="header"
    polymorpheus-outlet
    class="t-header"
    [content]="header"
    [context]="context"
></header>
<div class="t-content">
    <h2
        class="t-heading"
        [id]="context.id"
        [textContent]="context.label"
    ></h2>
    <section
        polymorpheus-outlet
        [context]="context"
        [content]="context.content"
    >
        <ng-template let-text>
            {{ text }}
            <div class="t-buttons">
                <button
                    tuiButton
                    size="m"
                    (click)="context.$implicit.complete()"
                >
                    {{ $any(context.data)?.button || 'OK' }}
                </button>
            </div>
        </ng-template>
    </section>
</div>
<div
    *ngIf="context.closeable"
    class="t-wrapper"
>
    <button
        tuiIconButton
        tuiPreventDefault="mousedown"
        automation-id="tui-dialog__close"
        size="s"
        appearance=""
        icon="tuiIconCloseLarge"
        shape="rounded"
        class="t-close"
        [title]="closeWord$ | async"
        (click)="close()"
    ></button>
</div>
