<header
    *ngIf="header"
    class="t-header"
>
    <ng-container *polymorpheusOutlet="header as text; context: context">
        {{ text }}
    </ng-container>
</header>
<div class="t-content">
    <h2
        class="t-heading"
        [id]="context.id"
        [textContent]="context.label"
    ></h2>
    <section>
        <ng-container *polymorpheusOutlet="context.content as text; context: context">
            <div [innerHTML]="text"></div>
            <div class="t-buttons">
                <button
                    size="m"
                    tuiAutoFocus
                    tuiButton
                    type="button"
                    (click)="context.$implicit.complete()"
                >
                    {{ context.data?.button || 'OK' }}
                </button>
            </div>
        </ng-container>
    </section>
</div>
<div class="t-filler"></div>

<!-- Close button is insensitive to `context.closeable === Observable<false>` by design -->
<div
    *ngIf="context.closeable"
    class="t-wrapper"
>
    <button
        automation-id="tui-dialog__close"
        size="s"
        tuiIconButton
        type="button"
        class="t-close"
        [appearance]="fullscreen ? 'secondary' : ''"
        [iconStart]="icons.close"
        [style.border-radius.%]="100"
        (click)="close$.next()"
        (mousedown.prevent.silent)="(0)"
    >
        {{ closeWord$ | async }}
    </button>
</div>
