@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .fullsize(fixed);
    .scrollbar-hidden();

    pointer-events: none;
    overflow: hidden;
    overscroll-behavior: none;
    overflow-wrap: break-word;
    margin-block-start: var(--t-root-top);

    &:has(section) {
        pointer-events: auto;
        overflow: auto;
    }

    &:has(section:only-of-type ::ng-deep tui-dialog[data-appearance~='fullscreen']) > .t-overlay,
    &:has(section:only-of-type ::ng-deep tui-notification-middle) > .t-overlay {
        opacity: 0;
    }

    &::before {
        content: '';
        display: block;
        block-size: 200%;
    }
}

.t-overlay,
.t-dialog {
    .transition(filter);
    .scrollbar-hidden();
    .fullsize(fixed, inset);

    display: flex;
    block-size: 100%;
    align-items: flex-start;
    outline: none;
    overflow: auto;
}

.t-dialog {
    position: sticky;
    display: grid;
    place-items: center;
    overscroll-behavior: none;
    filter: brightness(0.25);

    ::ng-deep > .tui-enter + .t-scrollbars .t-bar_vertical,
    ::ng-deep > .tui-leave + .t-scrollbars .t-bar_vertical {
        display: none;
    }
}

.t-overlay {
    .transition(opacity);

    background: var(--tui-service-backdrop);
    backdrop-filter: var(--tui-backdrop, none);
    opacity: 0;
    transition-timing-function: ease-in;

    &_visible {
        opacity: 1;
        transition-timing-function: ease-out;
    }
}

.t-dialog:last-child {
    pointer-events: auto;
    filter: none;
}

.t-scrollbars {
    .fullsize(fixed, inset);

    margin: 0;
    color: #747474;

    ::ng-deep .t-bar_horizontal,
    ::ng-deep .t-bar_vertical .t-thumb[style*='height: 100%'] {
        display: none;
    }
}
