<header
    *ngIf="header"
    class="t-header"
>
    <ng-container *polymorpheusOutlet="header as text; context: context">
        {{ text }}
    </ng-container>
</header>
<div class="t-content">
    <h2
        class="t-heading"
        [id]="context.id"
        [textContent]="context.label"
    ></h2>
    <section>
        <!-- TODO: Polymorpheus fix type -->
        <ng-container *polymorpheusOutlet="$any(context.content) as text; context: context">
            <div [innerHTML]="text"></div>
            <div class="t-buttons">
                <button
                    size="m"
                    tuiAutoFocus
                    tuiButton
                    type="button"
                    (click)="context.$implicit.complete()"
                >
                    {{ $any(context.data)?.button || 'OK' }}
                </button>
            </div>
        </ng-container>
    </section>
</div>
<div class="t-filler"></div>
<div
    *ngIf="context.closeable"
    class="t-wrapper"
>
    <button
        automation-id="tui-dialog__close"
        shape="rounded"
        size="s"
        tuiIconButton
        type="button"
        class="t-close"
        [appearance]="fullscreen ? 'secondary' : ''"
        [icon]="icons.close"
        [title]="closeWord$ | async"
        (click)="close$.next()"
        (mousedown.prevent.silent)="(0)"
    ></button>
</div>
