@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    .fullsize(fixed);
    .scrollbar-hidden();
    .transition(backdrop-filter);

    pointer-events: none;
    overflow: hidden;
    overscroll-behavior: none;
    overflow-wrap: break-word;
    margin-block-start: var(--t-root-top);
    border-bottom: 3rem solid transparent;
    box-sizing: content-box;
    transition-timing-function: ease-in;
    filter: drop-shadow(0 3rem var(--tui-background-elevation-1));

    &:has(section) {
        pointer-events: auto;
        overflow: auto;
    }

    //TODO: Remove [new] in v5
    &:has(section:only-of-type ::ng-deep tui-dialog[new][data-appearance~='fullscreen']),
    &:has(section:only-of-type ::ng-deep tui-notification-middle) {
        backdrop-filter: none;
    }

    &::before {
        content: '';
        display: block;
        block-size: 200%;
    }

    &._open {
        transition-timing-function: ease-out;
        backdrop-filter: brightness(0.25);
    }
}

.t-dialog {
    .transition(filter);
    .scrollbar-hidden();
    .fullsize(fixed, inset);

    position: sticky;
    display: flex;
    block-size: 100%;
    align-items: flex-start;
    outline: none;
    overflow: auto;
    overscroll-behavior: none;
    filter: brightness(0.25);
    pointer-events: none;

    //TODO: Make default in v5
    &:has(tui-dialog[new]) {
        display: grid;
        place-items: center;
    }

    ::ng-deep > .tui-enter + .t-scrollbars .t-bar_vertical,
    ::ng-deep > .tui-leave + .t-scrollbars .t-bar_vertical {
        display: none;
    }

    &:last-child {
        pointer-events: auto;
        filter: none;

        :host-context(tui-root:has(tui-dropdown-mobile._sheet)) & {
            filter: brightness(0.25);
        }
    }
}

.t-scrollbars {
    .fullsize(fixed, inset);

    margin: 0;
    color: #747474;

    ::ng-deep .t-bar_horizontal,
    ::ng-deep .t-bar_vertical .t-thumb[style*='height: 100%'] {
        display: none;
    }
}
