<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="interactive"
    [content]="datalist || ''"
    [(open)]="open"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <tui-primitive-textfield
        automation-id="tui-combo-box__textfield"
        class="t-textfield"
        [pseudoFocused]="computedFocused"
        [pseudoHovered]="computedHovered"
        [invalid]="computedInvalid"
        [nativeId]="nativeId"
        [readOnly]="readOnly"
        [tuiTextfieldIcon]="arrow ? icon : ''"
        [disabled]="computedDisabled"
        [focusable]="computedFocusable"
        [value]="nativeValue"
        (valueChange)="onValueChange($event)"
        (hoveredChange)="onHovered($event)"
        (click)="toggle()"
        (keydown.enter)="onFieldKeyDownEnter($event)"
    >
        <ng-content></ng-content>
        <ng-content
            select="input"
            ngProjectAs="input"
        ></ng-content>
        <div
            *ngIf="showValueTemplate"
            polymorpheus-outlet
            automation-id="tui-combo-box__template"
            class="t-value"
            [content]="computedContent"
            [context]="{$implicit: value!, active: computedFocused}"
        ></div>
    </tui-primitive-textfield>

    <ng-template #icon>
        <div
            polymorpheus-outlet
            class="t-icon"
            [content]="arrow"
        ></div>
    </ng-template>
</tui-hosted-dropdown>
