<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="canOpen"
    [content]="dropdown"
    [open]="open && canOpen"
    (openChange)="onOpenChange($event)"
    (tuiActiveZoneChange)="onActiveZone($event)"
>
    <tui-primitive-textfield
        *tuiLet="dateFiller$ | async as dateFiller"
        automation-id="tui-input-date-range__textfield"
        tuiValueAccessor
        class="t-textfield"
        [disabled]="computedDisabled"
        [invalid]="computedInvalid"
        [maskito]="computedMask"
        [nativeId]="nativeId"
        [pseudoActive]="pseudoActive"
        [pseudoFocus]="innerPseudoFocused"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldFiller]="getComputedRangeFiller(dateFiller || '')"
        [tuiTextfieldIcon]="calendarIcon && iconContent"
        [value]="computedValue"
        (valueChange)="onValueChange($event)"
    >
        <ng-content></ng-content>
        <ng-content
            ngProjectAs="input"
            select="input"
        ></ng-content>

        <div
            *ngIf="showValueTemplate"
            ngProjectAs="tuiContent"
            class="t-value"
        >
            <ng-container *polymorpheusOutlet="computedContent as text; context: {$implicit: value}">
                {{ text }}
            </ng-container>
        </div>
    </tui-primitive-textfield>

    <ng-template #iconContent>
        <tui-svg
            *polymorpheusOutlet="calendarIcon as src; context: {$implicit: size}"
            appearance="icon"
            automation-id="tui-input-date-range__icon"
            tuiWrapper
            [class.t-icon]="!computedDisabled"
            [src]="src"
            (click)="onIconClick()"
        ></tui-svg>
    </ng-template>

    <ng-template #dropdown>
        <tui-calendar-range
            [defaultViewedMonth]="defaultViewedMonth"
            [disabledItemHandler]="disabledItemHandler"
            [items]="items"
            [markerHandler]="markerHandler"
            [max]="computedMax"
            [maxLength]="maxLength"
            [min]="computedMin"
            [minLength]="minLength"
            [value]="value"
            (valueChange)="onRangeChange($event)"
        ></tui-calendar-range>
    </ng-template>
</tui-hosted-dropdown>
