@import 'taiga-ui-local';

:host {
    display: block;
    border-radius: var(--tui-radius-m);
    text-align: left;

    &._disabled {
        pointer-events: none;
    }
}

.t-hosted {
    display: block;
    border-radius: inherit;
}

.t-textfield {
    border-radius: inherit;
    text-align: inherit;
}

.t-icon {
    pointer-events: auto;
}
