@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper:not(:last-child) {
    margin-bottom: 1rem;
}

.title {
    display: flex;
    align-items: center;
    margin: 0;
}

.remove {
    margin-left: auto;
}
