<tui-doc-page
    header="ThumbnailCard"
    package="ADDON COMMERCE"
    type="components"
>
    <ng-template pageTab>
        <p>Customizable credit card thumbnail</p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-thumbnail-card
                [iconLeft]="iconLeft"
                [iconRight]="iconRight"
                [paymentSystem]="paymentSystem"
                [size]="size"
            >
                1234
            </tui-thumbnail-card>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="iconLeft"
                documentationPropertyType="string"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="iconLeft"
            >
                Icon on the left
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="iconRight"
                documentationPropertyType="string"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="iconRight"
            >
                Icon on the right
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="paymentSystem"
                documentationPropertyType="TuiPaymentSystem | null"
                [documentationPropertyValues]="paymentSystemVariants"
                [(documentationPropertyValue)]="paymentSystem"
            >
                Payment system
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeS | TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
