.buttons {
    display: flex;
    margin: 0.3rem 0 1rem;

    & button {
        flex: 1;
    }
}

.action {
    position: sticky;
    top: calc(100% - 3.75rem);
    width: 100%;
    display: block;
    z-index: 1;
}

.cast {
    margin-top: -2rem;
}

.footer {
    margin: 0 -1rem -1rem;
    padding: 1rem 1rem 5rem;
    background: var(--tui-base-02);
}
