@import '@taiga-ui/styles/utils';

[tuiSurface] {
    .transition();

    --tui-gap: 0.25rem;

    position: relative;
    box-sizing: border-box;
    background: none no-repeat;
    background-size: cover;
    overflow: hidden;
    isolation: isolate;
    appearance: none;
    border: 0;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    transition-property: backdrop-filter, background, border-radius, box-shadow, mask, transform !important;

    &:focus-visible {
        outline-color: var(--tui-border-focus);
    }

    // Fix for https://bugs.chromium.org/p/chromium/issues/detail?id=1486408
    .chrome-only({
        &::before {
            mix-blend-mode: multiply;
        }
    });
}

tui-dialog[data-appearance~='taiga'] [tuiSurface],
tui-sheet-dialog [tuiSurface] {
    --tui-background-elevation-1: var(--tui-background-elevation-2);
}

button[tuiSurface] {
    cursor: pointer;
}

[tuiSurface]::before,
[tuiSurface]::after,
[tuiSurfaceLayer]::before,
[tuiSurfaceLayer]::after {
    .fullsize();
    .transition();

    content: '';
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    transition-property: opacity, backdrop-filter, transform;
}

[tuiSurfaceLayer] {
    .transition();
    .fullsize();

    position: absolute !important;
    z-index: -1;
    object-fit: cover;
    border-radius: inherit;
    box-sizing: border-box;
    transition-property: box-shadow, filter, padding;

    input[tuiSurfaceLayer] + & {
        will-change: padding;
        background-clip: content-box;
        overflow: clip;
        overflow-clip-margin: content-box;
    }

    input[tuiSurfaceLayer]:checked + & {
        padding: var(--tui-gap);
    }

    input[tuiSurfaceLayer]:focus-visible + & {
        padding: var(--tui-gap);
    }

    @media @tui-mouse {
        [tuiSurface]:hover input[tuiSurfaceLayer] + & {
            padding: var(--tui-gap);
        }
    }
}

input[tuiSurfaceLayer] {
    color: var(--tui-background-accent-2);
    appearance: none;
    margin: 0;
    border-radius: inherit;
    outline: none;
    box-shadow:
        inset 0 0,
        inset 0 0 var(--tui-background-neutral-1);

    &:checked {
        box-shadow:
            inset 0 0 0 calc(var(--tui-gap) / 2),
            inset 0 0 var(--tui-background-neutral-1);
    }

    &:focus-visible {
        box-shadow:
            inset 0 0,
            inset 0 0 0 calc(var(--tui-gap) / 2) var(--tui-background-neutral-1);
    }

    &:checked:focus-visible {
        filter: brightness(0.7);
        box-shadow:
            inset 0 0 0 calc(var(--tui-gap) / 2),
            inset 0 0 0 calc(var(--tui-gap) / 2) var(--tui-background-neutral-1);
    }

    @media @tui-mouse {
        [tuiSurface]:hover & {
            box-shadow:
                inset 0 0,
                inset 0 0 0 calc(var(--tui-gap) / 2) var(--tui-background-neutral-1);
        }

        [tuiSurface]:hover &:checked {
            filter: brightness(0.9);
            box-shadow:
                inset 0 0 0 calc(var(--tui-gap) / 2),
                inset 0 0 0 calc(var(--tui-gap) / 2) var(--tui-background-neutral-1);
        }
    }
}

[tuiSurface][data-appearance='floating'] {
    background: var(--tui-background-elevation-1);
    box-shadow: var(--tui-shadow-medium);

    .appearance-hover({
        transform: translate3d(0, -0.25rem, 0);
        box-shadow: var(--tui-shadow-medium-hover);
    });

    .appearance-active({
        transform: scale(0.95);
        background: var(--tui-background-elevation-1);
        box-shadow: var(--tui-shadow-medium);
    });
}

[tuiSurface][data-appearance='neutral'] {
    background: conic-gradient(var(--tui-background-neutral-1) 0 0), conic-gradient(var(--tui-background-base) 0 0);

    [tuiTheme='dark'] &,
    [tuiTheme='dark']& {
        background: var(--tui-background-elevation-1);
    }

    .appearance-hover({
        transform: scale(1.15);
    });

    .appearance-active({
        transform: scale(0.95);
    });
}
