<tui-doc-page
    header="Input"
    package="LEGACY"
    type="components"
>
    <ng-template pageTab>
        <div class="tui-space_bottom-3">
            Input&nbsp;&mdash; is a single-line textfield. It's not recommended to use it with numbers, because the
            value type of this component is a string
        </div>

        <p>Inputs for other types of data:</p>

        <blockquote>
            <ul>
                <li>
                    <a
                        tuiLink
                        [routerLink]="routes.Textarea"
                    >
                        <code>Textarea</code>
                    </a>
                    — for multiline text
                </li>
                <li>
                    <a
                        tuiLink
                        [routerLink]="routes.InputDate"
                    >
                        <code>InputDate</code>
                    </a>
                    — for dates
                </li>
                <li>
                    <a
                        tuiLink
                        [routerLink]="routes.InputDateRange"
                    >
                        <code>InputDateRange</code>
                    </a>
                    — for a range of dates
                </li>
                <li>
                    <a
                        tuiLink
                        [routerLink]="routes.InputNumber"
                    >
                        <code>InputNumber</code>
                    </a>
                    — for number (with measurement postfix)
                </li>
                <li>
                    <a
                        tuiLink
                        [routerLink]="routes.InputPhone"
                    >
                        <code>InputPhone</code>
                    </a>
                    — for phone numbers
                </li>
                <li>
                    <a
                        tuiLink
                        [routerLink]="routes.InputTag"
                    >
                        <code>InputTag</code>
                    </a>
                    — for input tags
                </li>
                <li>
                    <a
                        tuiLink
                        [routerLink]="routes.InputRange"
                    >
                        <code>InputRange</code>
                    </a>
                    ,
                    <a
                        tuiLink
                        [routerLink]="routes.InputSlider"
                    >
                        <code>InputSlider</code>
                    </a>
                    — for accurate number values
                </li>
                <li>
                    <a
                        tuiLink
                        [routerLink]="routes.Slider"
                    >
                        <code>Slider</code>
                    </a>
                    ,
                    <a
                        tuiLink
                        [routerLink]="routes.Range"
                    >
                        <code>Range</code>
                    </a>
                    — for not accurate number values
                </li>
            </ul>
        </blockquote>

        <tui-doc-example
            id="base"
            heading="Basic"
            [component]="1 | tuiComponent"
            [content]="1 | tuiExample: 'html,ts'"
        >
            <tui-notification class="tui-space_bottom-4">
                <div>
                    If you need to set some attributes or listen to events on native
                    <code>input</code>
                    , you can put it inside with
                    <code>Textfield</code>
                    directive as shown below
                </div>
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            heading="sizes"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'html,ts'"
        />

        <tui-doc-example
            id="mask"
            heading="Mask"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample: 'html,ts'"
        >
            <tui-notification>
                <div>
                    Taiga UI input is compatible with
                    <a
                        appearance="link"
                        href="https://maskito.dev"
                        rel="noreferrer"
                        target="_blank"
                        tuiLink
                        [pseudo]="false"
                    >
                        Maskito
                    </a>
                </div>
            </tui-notification>
            <tui-notification class="tui-space_top-3">
                <div>
                    <code>TuiUnmaskHandler</code>
                    allows to store value without mask in form control
                </div>
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="autocomplete"
            heading="Autocomplete with dropdown"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample"
        />

        <tui-doc-example
            id="modes"
            heading="Modes"
            [component]="5 | tuiComponent"
            [content]="5 | tuiExample"
        />

        <tui-doc-example
            id="table"
            heading="Table"
            [component]="6 | tuiComponent"
            [content]="6 | tuiExample"
        />

        <tui-doc-example
            id="success"
            description="A check mark by success validation"
            heading="Check"
            [component]="7 | tuiComponent"
            [content]="7 | tuiExample"
        />

        <tui-doc-example
            id="datalist"
            heading="DataList"
            [component]="8 | tuiComponent"
            [content]="8 | tuiExample"
        />

        <tui-doc-example
            id="rtl"
            heading="Direction: RTL"
            [component]="9 | tuiComponent"
            [content]="9 | tuiExample"
        />

        <tui-doc-example
            id="autofill"
            heading="Disable browser autofill"
            [component]="10 | tuiComponent"
            [content]="10 | tuiExample: 'html,ts'"
        />
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input
                    [focusable]="focusable"
                    [formControl]="control"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [pseudoInvalid]="pseudoInvalid"
                    [readOnly]="readOnly"
                    [style.text-align]="textAlign"
                    [tuiDropdownAlign]="dropdownAlign"
                    [tuiDropdownDirection]="dropdownDirection"
                    [tuiDropdownLimitWidth]="dropdownLimitWidth"
                    [tuiDropdownMaxHeight]="dropdownMaxHeight"
                    [tuiDropdownMinHeight]="dropdownMinHeight"
                    [tuiDropdownOffset]="dropdownOffset"
                    [tuiDropdownOpen]="!!(dropdownOpen | async)"
                    [tuiHintAppearance]="hintAppearance"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldCustomContent]="customContent"
                    [tuiTextfieldFiller]="filler"
                    [tuiTextfieldIcon]="icon"
                    [tuiTextfieldIconLeft]="iconStart"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldPostfix]="postfix"
                    [tuiTextfieldPrefix]="prefix"
                    [tuiTextfieldSize]="size"
                    (tuiDropdownOpenChange)="dropdownOpen.next($event)"
                >
                    Label
                    <strong>strong text</strong>
                    <input
                        tuiTextfieldLegacy
                        [placeholder]="placeholder"
                    />
                </tui-input>
            </ng-template>
        </tui-doc-demo>
        <ng-template
            #itemContent
            let-data
        >
            <div class="account">
                <div class="name">{{ data.name }}</div>
                <span>{{ data.balance | tuiAmount: 'RUB' | async }}</span>
            </div>
        </ng-template>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="tuiTextfieldIcon"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="icon"
            >
                Icon content. If content is a string, it is used as stringified svg or a name of an icon
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="placeholder"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="placeholder"
            >
                Placeholder (use external
                <code [textContent]="'<input tuiTextfieldLegacy />'"></code>
                to set it)
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation [dropdown]="true" />
        <tui-doc-documentation heading="CSS customization">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="style.text-align"
                documentationPropertyType="string"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Custom align content by text-align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>

<ng-template #justLongText>LongTextContent</ng-template>
