<tui-doc-page
    header="Input"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <div class="tui-space_bottom-3">
            Input&nbsp;&mdash; is a single-line textfield. It's not recommended to use it with numbers, because the
            value type of this component is a string
        </div>

        <p>Inputs for other types of data:</p>

        <blockquote>
            <ul>
                <li>
                    <a
                        tuiLink
                        routerLink="/components/text-area"
                    >
                        <code>TextArea</code>
                    </a>
                    — for multiline text
                </li>
                <li>
                    <a
                        tuiLink
                        routerLink="/components/input-date"
                    >
                        <code>InputDate</code>
                    </a>
                    — for dates
                </li>
                <li>
                    <a
                        tuiLink
                        routerLink="/components/input-date-range"
                    >
                        <code>InputDateRange</code>
                    </a>
                    — for a range of dates
                </li>
                <li>
                    <a
                        tuiLink
                        routerLink="/components/input-number"
                    >
                        <code>InputNumber</code>
                    </a>
                    — for number (with measurement postfix)
                </li>
                <li>
                    <a
                        tuiLink
                        routerLink="/components/input-password"
                    >
                        <code>InputPassword</code>
                    </a>
                    — for passwords
                </li>
                <li>
                    <a
                        tuiLink
                        routerLink="/components/input-phone"
                    >
                        <code>InputPhone</code>
                    </a>
                    — for phone numbers
                </li>
                <li>
                    <a
                        tuiLink
                        routerLink="/components/input-tag"
                    >
                        <code>InputTag</code>
                    </a>
                    — for input tags
                </li>
                <li>
                    <a
                        tuiLink
                        routerLink="/components/input-range"
                    >
                        <code>InputRange</code>
                    </a>
                    ,
                    <a
                        tuiLink
                        routerLink="/components/input-slider"
                    >
                        <code>InputSlider</code>
                    </a>
                    — for accurate number values
                </li>
                <li>
                    <a
                        tuiLink
                        routerLink="/components/slider"
                    >
                        <code>Slider</code>
                    </a>
                    ,
                    <a
                        tuiLink
                        routerLink="/components/range"
                    >
                        <code>Range</code>
                    </a>
                    — for not accurate number values
                </li>
            </ul>
        </blockquote>

        <tui-doc-example
            id="base"
            heading="Basic"
            [content]="example1"
        >
            <tui-notification class="tui-space_bottom-4 b-form">
                If you need to set some attributes or listen to events on native
                <code>input</code>
                , you can put it inside with
                <code>Textfield</code>
                directive as shown below
            </tui-notification>
            <tui-input-example-1></tui-input-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            heading="sizes"
            [content]="example2"
        >
            <tui-input-example-2></tui-input-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="mask"
            heading="Mask"
            [content]="example3"
        >
            <tui-notification class="b-form">
                Taiga UI input is compatible with
                <a
                    tuiLink
                    rel="noreferrer"
                    href="https://tinkoff.github.io/maskito/getting-started/what-is-maskito"
                    target="_blank"
                >
                    Maskito
                </a>
            </tui-notification>
            <tui-input-example-3></tui-input-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="autocomplete"
            heading="Autocomplete with dropdown"
            [content]="example4"
        >
            <tui-input-example-4></tui-input-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="modes"
            heading="Modes"
            [content]="example5"
        >
            <tui-input-example-5></tui-input-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="table"
            heading="Table"
            [content]="example6"
        >
            <tui-input-example-6></tui-input-example-6>
        </tui-doc-example>

        <tui-doc-example
            id="success"
            heading="Check"
            description="A check mark by success validation"
            [content]="example7"
        >
            <tui-input-example-7></tui-input-example-7>
        </tui-doc-example>

        <tui-doc-example
            id="datalist"
            heading="DataList"
            [content]="example8"
        >
            <tui-input-example-8></tui-input-example-8>
        </tui-doc-example>

        <tui-doc-example
            id="rtl"
            heading="Direction: RTL"
            [content]="example9"
        >
            <tui-input-example-9></tui-input-example-9>
        </tui-doc-example>

        <tui-doc-example
            id="autofill"
            heading="Disable browser autofill"
            [content]="example10"
        >
            <tui-input-example-10></tui-input-example-10>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input
                    [formControl]="control"
                    [focusable]="focusable"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocus]="pseudoFocused"
                    [pseudoHover]="pseudoHovered"
                    [readOnly]="readOnly"
                    [tuiTextfieldIcon]="icon"
                    [tuiTextfieldIconLeft]="iconLeft"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldCustomContent]="customContent"
                    [tuiTextfieldSize]="size"
                    [tuiTextfieldPrefix]="prefix"
                    [tuiTextfieldPostfix]="postfix"
                    [tuiTextfieldFiller]="filler"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiDropdownAlign]="dropdownAlign"
                    [tuiDropdownDirection]="dropdownDirection"
                    [tuiDropdownLimitWidth]="dropdownLimitWidth"
                    [tuiDropdownMinHeight]="dropdownMinHeight"
                    [tuiDropdownMaxHeight]="dropdownMaxHeight"
                    [tuiDropdownOffset]="dropdownOffset"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintAppearance]="hintAppearance"
                    [style.text-align]="textAlign"
                >
                    Label
                    <strong>strong text</strong>
                    <input
                        tuiTextfield
                        [placeholder]="placeholder"
                    />
                </tui-input>
            </ng-template>
        </tui-doc-demo>
        <ng-template
            #itemContent
            let-data
        >
            <div class="account">
                <div class="name">{{ data.name }}</div>
                <tui-money [value]="data.balance"></tui-money>
            </div>
        </ng-template>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="disabled"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                documentationPropertyName="tuiTextfieldIcon"
                documentationPropertyMode="input"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="icon"
            >
                Icon content. If content is a string, it is used as stringified svg or a name of an icon
            </ng-template>
            <ng-template
                documentationPropertyName="placeholder"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="placeholder"
            >
                Placeholder (use external
                <code tuiText="<input tuiTextfield />"></code>
                to set it)
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation [dropdown]="true"></inherited-documentation>
        <tui-doc-documentation heading="CSS customization">
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyType="string"
                documentationPropertyName="style.text-align"
                [documentationPropertyValues]="textAlignVariants"
                [(documentationPropertyValue)]="textAlign"
            >
                Custom align content by text-align
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import an Angular module for forms and
                    <code>TuiInputModule</code>
                    in the same module where you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p>
                    Declare a form (
                    <code>FormGroup</code>
                    ) or a control (
                    <code>FormControl</code>
                    ) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleForm"
                ></tui-doc-code>
            </li>

            <li>
                <p>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>

<ng-template #justLongText>LongTextContent</ng-template>
