<tui-doc-page header="Input" package="KIT">
    <ng-template pageTab>
        <div i18n class="tui-space_bottom-3">
            Input&nbsp;&mdash; is a singleline textfield. Not recommended to use
            with numbers, because the value of this components is a string
        </div>

        <p i18n>Inputs for other types of data:</p>

        <blockquote>
            <ul i18n>
                <li>
                    <a tuiLink routerLink="/tui-text-area"
                        ><code>TextArea</code></a
                    >
                    — for multiline text
                </li>
                <li>
                    <a tuiLink routerLink="/tui-input-date"
                        ><code>InputDate</code></a
                    >
                    — for dates
                </li>
                <li>
                    <a tuiLink routerLink="/tui-input-date-range"
                        ><code>InputDateRange</code></a
                    >
                    — for a range of dates
                </li>
                <li>
                    <a tuiLink routerLink="/tui-input-number"
                        ><code>InputNumber</code></a
                    >
                    — for number (with measurement postfix)
                </li>
                <li>
                    <a tuiLink routerLink="/tui-input-password"
                        ><code>InputPassword</code></a
                    >
                    — for passwords
                </li>
                <li>
                    <a tuiLink routerLink="/tui-input-phone"
                        ><code>InputPhone</code></a
                    >
                    — for phone numbers
                </li>
                <li>
                    <a tuiLink routerLink="/tui-input-tag"
                        ><code>InputTag</code></a
                    >
                    — for inputing tags
                </li>
                <li>
                    <a tuiLink routerLink="/tui-input-range"
                        ><code>InputRange</code></a
                    >,
                    <a tuiLink routerLink="/tui-input-slider"
                        ><code>InputSlider</code></a
                    >
                    — for accurate number values
                </li>
                <li>
                    <a tuiLink routerLink="/tui-slider"><code>Slider</code></a
                    >,
                    <a tuiLink routerLink="/tui-range"><code>Range</code></a>
                    — for not accurate number values
                </li>
                <li>
                    <a tuiLink routerLink="/tui-input-count"
                        ><code>InputCount</code></a
                    >
                    — for integer number of smth
                </li>
            </ul>
        </blockquote>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-input-example-1></tui-input-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="sizes"
            i18n-heading
            heading="sizes"
            [content]="example2"
        >
            <tui-input-example-2></tui-input-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="mask"
            i18n-heading
            heading="Mask"
            [content]="example3"
        >
            <tui-input-example-3></tui-input-example-3>
        </tui-doc-example>

        <tui-doc-example
            id="autocomplete"
            i18n-heading
            heading="Autocomplete"
            [content]="example4"
        >
            <tui-input-example-4></tui-input-example-4>
        </tui-doc-example>

        <tui-doc-example
            id="modes"
            i18n-heading
            heading="Modes"
            [content]="example5"
        >
            <tui-input-example-5></tui-input-example-5>
        </tui-doc-example>

        <tui-doc-example
            id="table"
            i18n-heading
            heading="Table"
            [content]="example6"
        >
            <tui-input-example-6></tui-input-example-6>
        </tui-doc-example>

        <tui-doc-example
            id="success"
            i18n-heading
            heading="Check"
            description="A check mark by success validation"
            [content]="example7"
        >
            <tui-input-example-7></tui-input-example-7>
        </tui-doc-example>

        <tui-doc-example id="datalist" heading="DataList" [content]="example8">
            <tui-input-example-8></tui-input-example-8>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input
                    [formControl]="control"
                    [focusable]="focusable"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [icon]="icon"
                    [iconAlign]="iconAlign"
                    [readOnly]="readOnly"
                    [tuiTextfieldType]="type"
                    [tuiTextfieldExampleText]="exampleText"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldCustomContent]="customContent"
                    [tuiTextfieldAutocomplete]="autocomplete"
                    [tuiTextfieldInputMode]="inputMode"
                    [tuiTextfieldSize]="size"
                    [tuiTextfieldCleaner]="cleaner"
                    [tuiTextfieldMaxLength]="maxLength"
                    [tuiDropdownAlign]="dropdownAlign"
                    [tuiDropdownDirection]="dropdownDirection"
                    [tuiDropdownLimitWidth]="dropdownLimitWidth"
                    [tuiDropdownMinHeight]="dropdownMinHeight"
                    [tuiDropdownMaxHeight]="dropdownMaxHeight"
                    [tuiHintContent]="hintContent"
                    [tuiHintDirection]="hintDirection"
                    [tuiHintMode]="hintMode"
                >
                    placeholder <strong>strong text</strong>
                </tui-input>
            </ng-template>
        </tui-doc-demo>
        <ng-template #itemContent let-data>
            <div class="account">
                <div class="name">{{data.name}}</div>
                <tui-money [value]="data.balance"></tui-money>
            </div>
        </ng-template>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="icon"
                documentationPropertyMode="input"
                documentationPropertyType="string | null"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="icon"
            >
                An icon. It can be stringified svg or a name of icon registered
                in
                <a tuiLink routerLink="/tui-svg-service"
                    ><code>SvgService</code></a
                >
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="iconAlign"
                documentationPropertyMode="input"
                documentationPropertyType="TuiHorizontalDirection"
                [documentationPropertyValues]="iconAlignVariants"
                [(documentationPropertyValue)]="iconAlign"
            >
                Icon align
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation [dropdown]="true"></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiInputModule</code> in the same module where you
                    want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
