tui-dialog {
    position: relative;
    box-sizing: border-box;
    font: var(--tui-typography-body-m);
    background: var(--tui-background-elevation-1);
    box-shadow: var(--tui-shadow-popup);

    &:not([data-appearance~='fullscreen'])._closable > header,
    &:not([data-appearance~='fullscreen'])._closable > ng-component > header {
        padding-inline-end: 2.5rem;

        p {
            margin-inline-end: -2.5rem;
        }
    }

    & > header,
    & > ng-component > header {
        font: var(--tui-typography-heading-h5);

        [tuiTitle] {
            font: inherit;
        }

        p {
            margin: 0.25rem 0 0;
            font: var(--tui-typography-body-m);

            &:empty {
                display: none;
            }
        }
    }

    > [tuiButtonX] {
        position: absolute;
        top: 1rem;
        z-index: 1;
        inset-inline-end: 1rem;
    }

    @import './appearances/default.less';
    @import './appearances/fullscreen.less';
}
