<ng-content></ng-content>

<div
    *ngIf="topNotification"
    class="t-notification t-notification_top"
    [style.background]="topNotification"
    [style.boxShadow]="boxShadow"
></div>

<div
    *ngIf="bottomNotification"
    class="t-notification t-notification_bottom"
    [style.background]="bottomNotification"
    [style.boxShadow]="boxShadow"
></div>

<div
    *ngIf="contentTop"
    class="t-content t-content_top"
    [style.boxShadow]="boxShadow"
>
    <ng-container *polymorpheusOutlet="contentTop as content">
        <tui-badge
            *ngIf="contentIsNumber(content)"
            [size]="badgeSize"
            [status]="getStatus(colorTop)"
            [style.backgroundColor]="colorTop"
            [value]="content"
        ></tui-badge>
        <tui-svg
            *ngIf="contentIsString(content)"
            class="t-icon"
            [src]="content"
            [style.color]="colorTop"
        ></tui-svg>
    </ng-container>
</div>

<div
    *ngIf="contentBottom && sizeBig"
    class="t-content t-content_bottom"
    [style.boxShadow]="boxShadow"
>
    <ng-container *polymorpheusOutlet="contentBottom as content">
        <tui-badge
            *ngIf="contentIsNumber(content)"
            [size]="badgeSize"
            [status]="getStatus(colorBottom)"
            [style.backgroundColor]="colorBottom"
            [value]="content"
        ></tui-badge>
        <tui-svg
            *ngIf="contentIsString(content)"
            class="t-icon"
            [src]="content"
            [style.color]="colorBottom"
        ></tui-svg>
    </ng-container>
</div>
