<ng-content></ng-content>

<div
    *ngIf="topNotification"
    class="notification notification_top"
    [style.background]="topNotification"
    [style.boxShadow]="boxShadow"
></div>

<div
    *ngIf="bottomNotification"
    class="notification notification_bottom"
    [style.background]="bottomNotification"
    [style.boxShadow]="boxShadow"
></div>

<div
    *ngIf="contentTop"
    polymorpheus-outlet
    class="content content_top"
    [style.boxShadow]="boxShadow"
    [content]="contentTop"
>
    <ng-template let-content>
        <tui-badge
            *ngIf="contentIsNumber(content) && !badgeHidden"
            [status]="getStatus(colorTop)"
            [style.backgroundColor]="colorTop"
            [size]="badgeSize"
            [value]="contentTop"
        ></tui-badge>
        <tui-svg
            *ngIf="contentIsString(content)"
            class="icon"
            [style.color]="colorTop"
            [src]="content"
        ></tui-svg>
    </ng-template>
</div>

<div
    polymorpheus-outlet
    *ngIf="contentBottom && sizeBig"
    class="content content_bottom"
    [style.boxShadow]="boxShadow"
    [content]="contentBottom"
>
    <ng-template let-content>
        <tui-badge
            *ngIf="contentIsNumber(content)"
            [status]="getStatus(colorBottom)"
            [style.backgroundColor]="colorBottom"
            [size]="badgeSize"
            [value]="contentBottom"
        ></tui-badge>
        <tui-svg
            *ngIf="contentIsString(content)"
            class="icon"
            [style.color]="colorBottom"
            [src]="content"
        ></tui-svg>
    </ng-template>
</div>
