@import '@taiga-ui/styles/utils';

:host {
    --tui-radius: var(--tui-radius-l);
    --t-badge-height: 0;
    --t-corner-offset: calc((var(--tui-radius) * 1.4142 - var(--tui-radius)) * 1 / 1.4142);

    position: relative;
    display: inline-block;
    block-size: fit-content;
    inline-size: max-content;
    color: var(--tui-background-base);
}

.t-badge {
    --t-offset: calc(var(--t-badge-height) * -0.5 + var(--t-corner-offset));

    position: absolute;
    display: flex;
    isolation: isolate;

    &_top {
        top: var(--t-offset);
        right: var(--t-offset);
    }

    &_bottom {
        bottom: var(--t-offset);
        right: var(--t-offset);
    }

    &::before {
        .center-all();

        content: '';
        position: absolute;
        z-index: -1;
        inline-size: 120%;
        block-size: 120%;
        mask-image: var(--t-img);
        mask-size: 100%;
        mask-repeat: no-repeat;
        background-color: currentColor;
    }
}

.t-border:not(:empty) {
    display: flex;
    border-radius: 6rem;
    box-shadow: 0 0 0 1px currentColor;
    background: currentColor;
}
