@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    --tui-radius: var(--tui-radius-l);
    --t-badge-height: 0;
    --t-corner-offset: calc((var(--tui-radius) * 1.4142 - var(--tui-radius)) * 1 / 1.4142);

    position: relative;
    display: inline-block;
    height: fit-content;
    width: max-content;
    color: var(--tui-background-base);
}

.t-badge {
    --t-offset: calc(var(--t-badge-height) * -0.5 + var(--t-corner-offset));

    position: absolute;
    display: flex;

    &_top {
        top: var(--t-offset);
        right: var(--t-offset);
    }

    &_bottom {
        bottom: var(--t-offset);
        right: var(--t-offset);
    }
}

.t-border:not(:empty) {
    display: flex;
    border-radius: 6rem;
    box-shadow: 0 0 0 1px currentColor;
    background: currentColor;
}
