<div
    class="t-bumpers"
    (click)="close()"
>
    <div
        *ngFor="let stop of item.stops"
        #stops
        class="t-bumper"
        [style.marginTop]="stop"
    ></div>
</div>
<div
    #sheet
    class="t-wrapper"
    [class.t-wrapper_shadow]="!item.image"
>
    <header
        *ngIf="item.image"
        class="t-top"
        [tuiSheetTop]="imageStop"
    >
        <img
            *polymorpheusOutlet="item.image as src; context: context"
            alt=""
            class="t-image"
            [src]="src"
        />
    </header>
    <section
        #content
        tuiSheetStop
        class="t-sheet"
    >
        <div class="t-bar"></div>
        <tui-sheet-bar>
            <button
                class="t-button"
                [title]="moreWord$ | async"
                (click)="scrollTo(stops[1])"
            ></button>
        </tui-sheet-bar>
        <div class="t-content">
            <h2
                *polymorpheusOutlet="item.content as text; context: context"
                tuiSheetHeading
                class="t-heading"
            >
                {{ text }}
            </h2>
        </div>
    </section>
</div>
