<div
    class="t-bumpers"
    (click)="close()"
>
    <div
        *ngFor="let stop of item.stops"
        #stops
        class="t-bumper"
        [style.marginTop]="stop"
    ></div>
</div>
<div
    #sheet
    class="t-wrapper"
    [class.t-wrapper_shadow]="!item.image"
>
    <header
        *ngIf="item.image"
        polymorpheus-outlet
        class="t-top"
        [tuiSheetTop]="imageStop"
        [content]="item.image"
        [context]="context"
    >
        <ng-template let-content>
            <img
                alt=""
                class="t-image"
                [src]="content"
            />
        </ng-template>
    </header>
    <section
        #content
        tuiSheetStop
        class="t-sheet"
    >
        <div class="t-bar"></div>
        <tui-sheet-bar>
            <button
                class="t-button"
                [title]="moreWord$ | async"
                (click)="scrollTo(stops[1])"
            ></button>
        </tui-sheet-bar>
        <div
            polymorpheus-outlet
            class="t-content"
            [content]="item.content"
            [context]="context"
        >
            <ng-template let-content>
                <h2
                    tuiSheetHeading
                    class="t-heading"
                >
                    {{ content }}
                </h2>
            </ng-template>
        </div>
    </section>
</div>
