<tui-doc-page
    header="TabBar"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template pageTab>
        <p>Component for creating mobile navigation.</p>

        <tui-doc-example
            id="buttons"
            heading="Buttons"
            [content]="1 | tuiExample: 'html,ts'"
        >
            <label
                tuiLabel
                class="tui-space_bottom-4"
            >
                <input
                    tuiCheckbox
                    type="checkbox"
                    [(ngModel)]="fixed"
                />
                Fixed
            </label>
            <tui-tab-bar-example
                *ngIf="!fixed"
                class="bar"
            />
            <tui-tab-bar-example
                *tuiDropdown="fixed"
                class="fixed"
            />
        </tui-doc-example>

        <tui-doc-example
            id="links"
            heading="Links"
            [component]="2 | tuiComponent"
            [content]="2 | tuiExample: 'html,ts'"
        >
            <tui-notification class="bar tui-space_bottom-4">
                <div>
                    If you use
                    <code>routerLink</code>
                    you must also add
                    <code>routerLinkActive</code>
                    directive.
                </div>
            </tui-notification>
        </tui-doc-example>

        <tui-doc-example
            id="customization"
            heading="Customization"
            [component]="3 | tuiComponent"
            [content]="3 | tuiExample"
        />

        <tui-doc-example
            id="skeleton"
            heading="Skeleton"
            [component]="4 | tuiComponent"
            [content]="4 | tuiExample: 'html,ts'"
        >
            <tui-notification class="bar tui-space_bottom-4">
                <div>
                    When there are no
                    <code>TabBarItem</code>
                    children, the component shows skeleton for 4 items
                </div>
            </tui-notification>
        </tui-doc-example>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
