<tui-doc-page
    header="TabBar"
    package="ADDON-MOBILE"
    type="components"
>
    <ng-template pageTab>
        <p>Component for creating mobile navigation.</p>

        <tui-doc-example
            id="buttons"
            heading="Buttons"
            [content]="example1"
        >
            <label
                tuiLabel
                class="tui-space_bottom-4"
            >
                <input
                    tuiCheckbox
                    type="checkbox"
                    [(ngModel)]="fixed"
                />
                Fixed
            </label>
            <tui-tab-bar-example-1
                *ngIf="!fixed"
                class="bar"
            />
            <tui-tab-bar-example-1
                *tuiDropdown="fixed"
                class="fixed"
            />
        </tui-doc-example>

        <tui-doc-example
            id="links"
            heading="Links"
            [content]="example2"
        >
            <tui-notification class="bar tui-space_bottom-4">
                If you use
                <code>routerLink</code>
                you must also add
                <code>routerLinkActive</code>
                directive.
            </tui-notification>
            <tui-tab-bar-example-2 class="bar" />
        </tui-doc-example>

        <tui-doc-example
            id="customization"
            heading="Customization"
            [content]="example3"
        >
            <tui-tab-bar-example-3 class="bar" />
        </tui-doc-example>

        <tui-doc-example
            id="skeleton"
            heading="Skeleton"
            [content]="example4"
        >
            <tui-notification class="bar tui-space_bottom-4">
                When there are no
                <code>TabBarItem</code>
                children, the component shows skeleton for 4 items
            </tui-notification>
            <tui-tab-bar-example-4 class="bar" />
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                <p>
                    Import
                    <code>TuiTabBarModule</code>
                    into your main module
                </p>

                <tui-doc-code
                    filename="my.module.ts"
                    [code]="exampleModule"
                />
            </li>

            <li>
                <p>
                    Add to the template inside
                    <code>Root</code>
                    component at the required layer and position with CSS:
                </p>

                <tui-doc-code
                    filename="my.component.html"
                    [code]="exampleHtml"
                />
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
