@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    gap: 1rem;
}

.card {
    height: 6.5rem;
    width: 6.5rem;
}

.mir {
    background: #2b9aff linear-gradient(110deg, transparent 70%, #0780ff 71%, #db028b 100%);
}

.visa {
    background: linear-gradient(45deg, #ffaa00d1, #ffaa00), url(/assets/taiga-ui/icons/star.svg);
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: stretch;
    margin: 0 -0.4375rem;
    padding: 0 0.4375rem;
    overflow: auto;
}
