<div class="t-content">
    <div
        *ngIf="content; else ngContent"
        polymorpheus-outlet
        automation-id="tui-ring-chart__content"
        class="t-wrapper"
        [content]="content"
        [context]="{$implicit: activeItemIndex, value: value}"
    ></div>
    <ng-template #ngContent>
        <div class="t-wrapper">
            <ng-content></ng-content>
        </div>
    </ng-template>
</div>

<tui-pie-chart
    [masked]="true"
    [value]="value"
    [colorHandler]="colorHandler"
    [size]="size"
    [activeItemIndex]="activeItemIndex"
    (activeItemIndexChange)="onActiveItemIndexChange($event)"
></tui-pie-chart>

<div class="t-shield"></div>
