@import '@taiga-ui/core/styles/taiga-ui-local';

@size-s: 4rem;
@size-m: 9rem;
@size-l: 11rem;
@size-xl: 16rem;

:host {
    position: relative;
    display: block;

    &[data-size='s'] {
        width: @size-s;
        height: @size-s;
    }

    &[data-size='m'] {
        width: @size-m;
        height: @size-m;
    }

    &[data-size='l'] {
        width: @size-l;
        height: @size-l;
    }

    &[data-size='xl'] {
        width: @size-xl;
        height: @size-xl;
    }
}

.t-content {
    .fullsize();

    display: flex;
    overflow: hidden;
    max-height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 100%;
    color: var(--tui-text-02);
    font: var(--tui-font-text-m);
    text-align: center;
    white-space: pre-wrap;
    word-break: break-word;

    :host[data-size='m'] & {
        font: var(--tui-font-text-xs);
    }
}

.t-wrapper:first-line {
    color: var(--tui-text-01);

    :host[data-size='l'] & {
        font: var(--tui-font-text-l);
        font-weight: bold;
    }

    :host[data-size='m'] & {
        font: var(--tui-font-text-m);
        font-weight: bold;
    }
}

.t-shield {
    position: absolute;
    top: 25%;
    right: 25%;
    bottom: 25%;
    left: 25%;
    border-radius: 100%;
}
