@import '@taiga-ui/styles/utils';

@size-xs: 3rem;
@size-s: 4rem;
@size-m: 9rem;
@size-l: 11rem;
@size-xl: 16rem;

:host {
    position: relative;
    display: block;
    inline-size: var(--t-size);
    block-size: var(--t-size);
    flex-shrink: 0;
    border-radius: 100%;

    &[data-size='xs'] {
        --t-size: @size-xs;
    }

    &[data-size='s'] {
        --t-size: @size-s;
    }

    &[data-size='m'] {
        --t-size: @size-m;
    }

    &[data-size='l'] {
        --t-size: @size-l;
    }

    &[data-size='xl'] {
        --t-size: @size-xl;
    }
}

.t-content {
    .fullsize();

    display: flex;
    font: var(--tui-typography-body-m);
    max-block-size: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    border-radius: 100%;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-word;
    white-space: pre-wrap;
    color: var(--tui-text-secondary);

    :host[data-size='m'] & {
        font: var(--tui-typography-body-xs);
    }
}

.t-wrapper::first-line {
    color: var(--tui-text-primary);

    :host[data-size='l'] & {
        font: var(--tui-typography-body-l);
        font-weight: bold;
    }

    :host[data-size='m'] & {
        font: var(--tui-typography-body-m);
        font-weight: bold;
    }
}

.t-shield {
    position: absolute;
    inset: 25%;
    border-radius: 100%;
}

.t-chart {
    inline-size: 100%;
    block-size: 100%;
}
