@import '@taiga-ui/styles/utils';

:host {
    display: flex;
    gap: 1rem;
}

.card {
    block-size: 6.5rem;
    inline-size: 6.5rem;
}

.mir {
    background: #2b9aff linear-gradient(110deg, transparent 70%, #0780ff 71%, #db028b 100%);
}

.visa {
    background: linear-gradient(45deg, rgba(255, 170, 0, 0.82), #fa0), url('/assets/taiga-ui/icons/star.svg');
}

img {
    inline-size: 1.5rem;
    block-size: 1.5rem;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    inline-size: 100%;
    margin: 0 -0.4375rem;
    padding: 0 0.4375rem;
    overflow: auto;
}
