<tui-doc-page
    header="Preview"
    package="ADDON-PREVIEW"
>
    <ng-template pageTab>
        <p i18n>
            Preview component allows to open modal for viewing some document and to work with it (download, zoom, rotate
            etc)
        </p>

        <p>As a document you can provide any content like images,</p>

        <tui-notification class="tui-space_bottom-4">
            The component automatically adjusts to the mobile device
        </tui-notification>

        <tui-doc-example
            id="default"
            i18n-heading
            heading="Full preview"
            [content]="example1"
        >
            <tui-preview-example-1></tui-preview-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="simple"
            i18n-heading
            heading="Simple mode"
            [content]="example2"
        >
            <tui-preview-example-2></tui-preview-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="loading"
            i18n-heading
            heading="With loading and unavailable image"
            [content]="example3"
        >
            <tui-preview-example-3></tui-preview-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab="Setup">
        <ol class="b-demo-steps">
            <li>
                Add
                <code>TuiPreviewModule</code>
                to main module:

                <tui-doc-code
                    filename="app.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                Create a template with tui-preview

                <tui-doc-code
                    filename="some.component.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>

            <li>
                Open the component from the
                <code>TuiPreviewDialogService</code>
                as in the example

                <tui-doc-code
                    filename="some.component.ts"
                    [code]="exampleComponent"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
