<tui-primitive-textfield
    tuiValueAccessor
    class="t-input"
    [nativeId]="nativeId"
    [disabled]="disabled"
    [readOnly]="readOnly"
    [invalid]="computedInvalid"
    [pseudoHover]="pseudoHover"
    [pseudoActive]="pseudoActive"
    [pseudoFocus]="pseudoFocus"
    [textMask]="textMaskOptions"
    [value]="value"
    (valueChange)="onValueChange($event)"
    (focusedChange)="onFocused($event)"
>
    <ng-content></ng-content>
    <input
        tuiTextfield
        tuiInputMode="numeric"
        placeholder="00/00"
        [attr.autocomplete]="autocomplete"
    />
</tui-primitive-textfield>
