<tui-primitive-textfield
    tuiValueAccessor
    tuiTextfieldInputMode="numeric"
    tuiTextfieldExampleText="00/00"
    class="t-input"
    [tuiTextfieldAutocomplete]="autocomplete"
    [nativeId]="nativeId"
    [disabled]="disabled"
    [readOnly]="readOnly"
    [invalid]="computedInvalid"
    [pseudoHover]="pseudoHover"
    [pseudoActive]="pseudoActive"
    [pseudoFocus]="pseudoFocus"
    [textMask]="textMaskOptions"
    [value]="value"
    (valueChange)="onValueChange($event)"
    (focusedChange)="onFocused($event)"
>
    <ng-content></ng-content>
</tui-primitive-textfield>
