@import 'taiga-ui-local';

:host {
    display: block;
    max-width: 11rem;
    border-radius: var(--tui-radius-m);
    text-align: right;
}

.t-input {
    border-radius: inherit;
    text-align: inherit;
}
