<div
    *tuiLet="expanded$ | async as expanded"
    class="t-container"
    [class.t-container_expanded]="expanded"
>
    <div
        *ngIf="error$ | async as error"
        automation-id="tui-error__text"
        class="t-message-text"
        [class.t-message-text_expanded]="expanded"
        [class.t-message-text_light]="(mode$ | async) === 'onDark'"
    >
        <ng-container
            *polymorpheusOutlet="error.message || (defaultErrorMessage$ | async) as text; context: error.context || {}"
        >
            {{ text }}
        </ng-container>
    </div>
</div>
