@import '@taiga-ui/styles/utils';

:host {
    .transition(grid-template-rows, @tui-duration-fast);

    display: grid;
    font: var(--tui-typography-body-s);
    color: var(--tui-text-negative);
    overflow-wrap: break-word;
    grid-template-rows: 0fr;

    &._error {
        grid-template-rows: 1fr;
        transition-duration: var(--tui-duration);
    }
}

.t-content {
    white-space: pre-line;
    grid-area: 1 / 1 / span 2;
    margin-block-end: -0.25rem;

    &.tui-enter {
        animation-name: tuiFade;
    }

    &.tui-leave {
        animation-name: tuiFade;
        animation-duration: @tui-duration-fast;
    }

    &::before {
        content: '';
        line-height: 1.68125rem;
        vertical-align: text-bottom;
    }

    &::after {
        content: '';
        vertical-align: text-top;
    }
}
