.card {
    background: currentColor right no-repeat;
    border-radius: 1.25rem;
    box-shadow: inset -4rem 0 3rem -2rem;
    padding: 1rem;

    &:hover {
        box-shadow: inset 0 0 3rem -2rem;
        transform: scale(1.1);
    }

    &:active::before {
        backdrop-filter: brightness(0.9);
    }
}

.restaurant {
    background-image: url('/assets/images/restaurant-1.jpg');
    border-radius: 1.25rem;
    box-shadow: inset 0 10rem 7rem -5rem #000;
    padding: 1rem;

    &:hover {
        background-image: url('/assets/images/restaurant-2.jpg');
    }
}

.blur {
    background-image: url(/assets/images/restaurant-2.jpg);
    border-radius: 0;
    padding: 1.25rem;
    clip-path: inset(0 round 5rem); // for crisp edges of blurred background

    &::before {
        backdrop-filter: blur(1rem);
    }
}

.reviews {
    // tuiSurface="elevated" preset
}

.mask {
    background: #333 radial-gradient(circle at 80% 70%, #aff218 -20%, transparent 60%);
    border-radius: 0;
    mask: linear-gradient(
        180deg,
        #222 77.89%,
        rgb(36 36 36 / 99.1%) 79.36%,
        rgb(42 42 42 / 96.4%) 80.84%,
        rgb(52 52 52 / 91.8%) 82.31%,
        rgb(67 67 67 / 85.3%) 83.79%,
        rgb(85 85 85 / 76.8%) 85.26%,
        rgb(107 107 107 / 66.8%) 86.73%,
        rgb(132 132 132 / 55.7%) 88.21%,
        rgb(157 157 157 / 44.3%) 89.68%,
        rgb(182 182 182 / 33.2%) 91.16%,
        rgb(204 204 204 / 23.2%) 92.63%,
        rgb(222 222 222 / 14.7%) 94.1%,
        rgb(237 237 237 / 8.17%) 95.58%,
        rgb(247 247 247 / 3.55%) 97.05%,
        rgb(253 253 253 / 0.865%) 98.53%,
        rgb(255 255 255 / 0%) 100%
    );
}
