@import '@taiga-ui/core/styles/taiga-ui-local';

.stack {
    display: flex;
    gap: inherit;
    flex-direction: column;
}

.ticks-labels {
    .tui-slider-ticks-labels();

    margin-block-start: -1rem;
}
