@violet: rgb(163, 64, 241);
@blue: rgb(49, 109, 246);

.icons8 {
    margin-bottom: 1.5rem;

    &-icon {
        width: 4rem;
        height: 4rem;
    }

    &-label {
        font-weight: bold;
        display: inline-block;
        padding: 0.25rem 0.625rem;
        color: #fff;
        border-radius: 0.25rem;

        &-violet {
            background: @violet;
        }

        &-blue {
            background: @blue;
        }
    }

    &-violet {
        color: @violet;
    }

    &-blue {
        color: @blue;
    }
}
