@import '@taiga-ui/styles/utils';

tui-accordion {
    inline-size: 100%;
    border-radius: var(--t-group-radius);
    font: var(--tui-typography-body-m);
    overflow: hidden;

    > [tuiAccordion] {
        text-align: start;
        justify-content: flex-start;

        &:last-of-type:not(._open) {
            mask-image: var(--t-group-mask-end);
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
        }

        &:first-child {
            border-top-left-radius: inherit !important;
            border-top-right-radius: inherit !important;

            &:last-of-type:not(._open) {
                mask: none;
            }
        }

        &::after {
            margin-inline-start: auto !important;
        }

        &._open + tui-expand {
            visibility: visible;
        }

        > [tuiAvatar] {
            margin: 0;
        }
    }

    > tui-expand {
        visibility: hidden;
        min-block-size: 1px !important;
        padding: 1.25rem;
        transition-property: grid-template-rows, padding, visibility !important;
        box-shadow: inset 0 0 0 1px var(--tui-border-normal);

        &:last-child {
            border-bottom-left-radius: inherit !important;
            border-bottom-right-radius: inherit !important;
        }
    }

    > [tuiAccordion][data-appearance=''] + tui-expand {
        box-shadow: none;
    }

    &[data-size='m'] {
        font: var(--tui-typography-body-s);

        > tui-expand {
            padding: 1rem;
        }
    }

    &[data-size='s'] {
        font: var(--tui-typography-body-s);

        > tui-expand {
            padding: 0.625rem;
        }
    }
}
