@import '@taiga-ui/core/styles/taiga-ui-local';

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.items {
    flex-grow: 1;
    margin: 0 -1rem;
}

.input {
    .tui-prevent-ios-scroll();

    inline-size: 100%;
    margin-block-start: 0.25rem;
}
