@import '@taiga-ui/core/styles/taiga-ui-local';

.stepper {
    margin-bottom: 2rem;
}

.stack {
    display: flex;
    gap: inherit;
    flex-direction: column;
}

.ticks-labels {
    .tui-slider-ticks-labels();

    color: var(--tui-text-secondary);
    margin-block-start: -1rem;
}
