:host {
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 2rem;
    box-sizing: border-box;
    margin: -1.25rem -1rem 0;
    padding: 1.5rem 1rem 1rem;
    background: var(--tui-elevation-01);
    border-radius: 0.75rem 0.75rem 0 0;
    font: var(--tui-font-heading-6);
    box-shadow: inset 0 1px fade(#fff, 25%);

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 1px;
        background: var(--tui-base-03);
        opacity: 0;
    }

    :host-context(._stuck) {
        &:after {
            opacity: 1;
        }
    }
}

.t-close {
    z-index: 1;
    display: none;
    float: right;
    margin-right: -0.25rem;

    :host-context(.t-wrapper_closeable) & {
        display: block;
    }
}
