@import '@taiga-ui/core/styles/taiga-ui-local';

@border-radius: 1rem;

.zoom-controller {
    border-radius: @border-radius;
    background: var(--tui-background-neutral-1-pressed);
    height: var(--tui-height-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 18rem;
    padding: 0 0.25rem;
    gap: 0.5rem;

    @media @tui-mobile {
        max-width: 100%;
    }
}

.slider-wrapper {
    flex: 1;
}

.minus {
    border-radius: @border-radius 0 0 @border-radius;
}

.plus {
    border-radius: 0 @border-radius @border-radius 0;
}
