@if (items && !isFlat(items)) {
    @for (group of labels; track group) {
        <optgroup [label]="labels[$index]">
            <ng-container *ngTemplateOutlet="options; context: {$implicit: items[$index]}" />
        </optgroup>
    }
    @if (!mobile) {
        <tui-data-list-wrapper
            *tuiDropdown
            new
            [items]="items"
            [labels]="labels"
        />
    }
} @else {
    <ng-container *ngTemplateOutlet="options; context: {$implicit: items}" />
    @if (!mobile) {
        <tui-data-list-wrapper
            *tuiDropdown
            new
            [items]="$any(items)"
        />
    }
}

<ng-template
    #options
    let-items
>
    @for (option of items; track option) {
        <option
            [disabled]="handlers.disabledItemHandler()(option)"
            [selected]="isSelected()(option)"
            [value]="handlers.stringify()(option)"
        >
            {{ handlers.stringify()(option) }}
        </option>
    }
</ng-template>
