@let list = items();
@if (list && !isFlat(list)) {
    @for (label of labels(); track $index) {
        <optgroup [label]="label">
            <ng-container *ngTemplateOutlet="options; context: {$implicit: list[$index]}" />
        </optgroup>
    }
    @if (!mobile) {
        <tui-data-list *tuiDropdown>
            @for (group of list; track $index) {
                <tui-opt-group
                    tuiMultiSelectGroup
                    [label]="labels()[$index] || ''"
                >
                    @for (item of group; track $index) {
                        <button
                            tuiOption
                            type="button"
                            [disabled]="handlers.disabledItemHandler()(item)"
                            [value]="item"
                        >
                            {{ handlers.stringify()(item) }}
                        </button>
                    }
                </tui-opt-group>
            }
        </tui-data-list>
    }
} @else {
    <ng-container *ngTemplateOutlet="options; context: {$implicit: list}" />
    @if (!mobile) {
        <tui-data-list *tuiDropdown>
            @for (item of list; track $index) {
                <button
                    tuiOption
                    type="button"
                    [disabled]="handlers.disabledItemHandler()(item)"
                    [value]="item"
                >
                    {{ handlers.stringify()(item) }}
                </button>
            }
        </tui-data-list>
    }
}

<ng-template
    #options
    let-items
>
    @for (option of items; track option) {
        <option
            [disabled]="handlers.disabledItemHandler()(option)"
            [selected]="isSelected()(option)"
            [value]="handlers.stringify()(option)"
        >
            {{ handlers.stringify()(option) }}
        </option>
    }
</ng-template>
