.tag {
    margin: 0.25rem;
}

.light-mode {
    display: inline-block;
    background-color: #454e58;
}

.dark-mode {
    display: inline-block;
    margin-left: 0.25rem;
    background-color: #e5e7ea;
}

@iterations: 20;

.loop (@i) when (@i > 0) {
    .support-@{i} {
        background-color: ~'var(--tui-support-@{i}, var(--tui-support-0@{i}))';
    }
    .loop(@i - 1);
}
.loop (@iterations);
