<div class="pulldown-menu">
    <button>
        <span>Name &amp; Appearance</span>
        <svg
            fill="none"
            height="14"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.6"
            viewBox="0 0 24 24"
            width="14"
            xmlns="http://www.w3.org/2000/svg"
            class="feather feather-edit-2"
        >
            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
        </svg>
    </button>
    <button>
        <span>Select Reminders</span>
        <svg
            fill="none"
            height="14"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.6"
            viewBox="0 0 24 24"
            width="14"
            xmlns="http://www.w3.org/2000/svg"
            class="feather feather-check-circle"
        >
            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
            <polyline points="22 4 12 14.01 9 11.01"></polyline>
        </svg>
    </button>
    <button>
        <span>Sort By</span>
        <svg
            fill="none"
            height="14"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.6"
            viewBox="0 0 24 24"
            width="14"
            xmlns="http://www.w3.org/2000/svg"
            class="feather feather-shuffle"
        >
            <polyline points="16 3 21 3 21 8"></polyline>
            <line
                x1="4"
                x2="21"
                y1="20"
                y2="3"
            ></line>
            <polyline points="21 16 21 21 16 21"></polyline>
            <line
                x1="15"
                x2="21"
                y1="15"
                y2="21"
            ></line>
            <line
                x1="4"
                x2="9"
                y1="4"
                y2="9"
            ></line>
        </svg>
    </button>
    <button
        type="button"
        class="divider-after"
    >
        <span>Show Completed</span>
        <svg
            fill="none"
            height="14"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.6"
            viewBox="0 0 24 24"
            width="14"
            xmlns="http://www.w3.org/2000/svg"
            class="feather feather-eye"
        >
            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
            <circle
                cx="12"
                cy="12"
                r="3"
            ></circle>
        </svg>
    </button>
    <button>
        <span>Share</span>
        <svg
            fill="none"
            height="14"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.6"
            viewBox="0 0 24 24"
            width="14"
            xmlns="http://www.w3.org/2000/svg"
            class="feather feather-share"
        >
            <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
            <polyline points="16 6 12 2 8 6"></polyline>
            <line
                x1="12"
                x2="12"
                y1="2"
                y2="15"
            ></line>
        </svg>
    </button>
    <button>
        <span>Print</span>
        <svg
            fill="none"
            height="14"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.6"
            viewBox="0 0 24 24"
            width="14"
            xmlns="http://www.w3.org/2000/svg"
            class="feather feather-printer"
        >
            <polyline points="6 9 6 2 18 2 18 9"></polyline>
            <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
            <rect
                height="8"
                width="12"
                x="6"
                y="14"
            ></rect>
        </svg>
    </button>
    <button
        type="button"
        class="danger"
    >
        <span>Delete List</span>
        <svg
            fill="none"
            height="14"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.6"
            viewBox="0 0 24 24"
            width="14"
            xmlns="http://www.w3.org/2000/svg"
            class="feather feather-trash-2"
        >
            <polyline points="3 6 5 6 21 6"></polyline>
            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
            <line
                x1="10"
                x2="10"
                y1="11"
                y2="17"
            ></line>
            <line
                x1="14"
                x2="14"
                y1="11"
                y2="17"
            ></line>
        </svg>
    </button>

    <button
        type="button"
        class="cancel"
        (click)="context.$implicit.complete()"
    >
        <span>Cancel</span>
    </button>
</div>
