.rating,
.button {
    display: inline-block;
    vertical-align: middle;
}

.rating {
    &[data-value='1'] {
        color: var(--tui-negative);
    }

    &[data-value='2'] {
        color: var(--tui-warning-fill);
    }

    &[data-value='3'] {
        color: var(--tui-positive);
    }

    &:hover {
        color: var(--tui-info-fill);
    }
}
