<tui-doc-page header="InputCount" package="KIT" type="components">
    <ng-template pageTab>
        <div i18n class="tui-space_bottom-3">
            <code>InputCount</code> is a good choice to input integer positive
            numbers under 999
        </div>
        <div i18n class="tui-space_bottom-3">
            It allows limit value with min and max and handles such cases
        </div>

        <p i18n>It does not indicate validation status</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-input-count-example-1></tui-input-count-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="medium-large"
            i18n-heading
            heading="Size M"
            [content]="example2"
        >
            <tui-input-count-example-2></tui-input-count-example-2>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-input-count
                    [formControl]="control"
                    [focusable]="focusable"
                    [min]="min"
                    [max]="max"
                    [hideButtons]="hideButtons"
                    [step]="step"
                    [postfix]="postfix"
                    [readOnly]="readOnly"
                    [tuiTextfieldLabelOutside]="labelOutside"
                    [tuiTextfieldSize]="size"
                >
                    Number of accounts
                </tui-input-count>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="hideButtons"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="hideButtons"
            >
                Hide icon buttons
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="min"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="min"
            >
                Minimum value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="max"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="max"
            >
                Maximum value (<code>Infinity</code> by default)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="postfix"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="postfix"
            >
                Some string after value
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="step"
                documentationPropertyMode="input"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="step"
                [documentationPropertyValues]="stepValues"
            >
                Step for buttons
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiInputCountModule</code> in the same module where
                    you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
