:host {
    display: block;
}

.scrollbar {
    height: 200px;
}

.header {
    position: sticky;
    top: 0;
    height: 88px;
    pointer-events: none;
}

.wrapper {
    color: var(--tui-base-01);
    background: #bc71c9;
    font-size: 32px;
    pointer-events: auto;
}

.money {
    display: block;
    line-height: 1em;
    padding: 1em 24px;
}
