<tui-doc-page
    header="Alert"
    package="CORE"
    path="core/components/alert/alert.service.ts"
    type="components"
>
    <ng-template pageTab>
        <p>Built-in implementation of notifications</p>

        <p>
            Position on screen can be configured by providing margins with
            <code>TUI_ALERT_POSITION</code>
            token. Default value is
            <code>2rem 3rem 0 auto</code>
            .
        </p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample: 'html,ts'"
            [description]="index === 6 ? concurrency : ''"
            [heading]="example"
            [id]="example | tuiKebab"
        />

        <ng-template #concurrency>
            This example demonstrates how to limit maximum number of alert being shown to concurrently (it uses
            <a
                href="https://rxjs.dev/api/index/function/mergeAll"
                target="_blank"
                tuiLink
            >
                <code>mergeAll</code>
            </a>
            RxJS-operator to achieve it). Just frequently click on the button to see it in action.
        </ng-template>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <button
                size="m"
                tuiButton
                type="button"
                (click)="showNotification()"
            >
                Show
            </button>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                documentationPropertyName="content"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="contentVariants"
                [(documentationPropertyValue)]="content"
            >
                Content
            </ng-template>
            <ng-template
                documentationPropertyName="status"
                documentationPropertyType="TuiNotification"
                [documentationPropertyValues]="statusVariants"
                [(documentationPropertyValue)]="status"
            >
                Status
            </ng-template>
            <ng-template
                documentationPropertyName="label"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="label"
            >
                Heading
            </ng-template>
            <ng-template
                documentationPropertyName="data"
                documentationPropertyType="number"
                [(documentationPropertyValue)]="data"
            >
                Input data of notification, type:
                <code tuiText="<I>"></code>
            </ng-template>
            <ng-template
                documentationPropertyName="autoClose"
                documentationPropertyType="TuiHandler | number"
                [documentationPropertyValues]="autoCloseVariants"
                [(documentationPropertyValue)]="autoClose"
            >
                Auto close timeout, 0 for no auto close
            </ng-template>
            <ng-template
                documentationPropertyName="closeable"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="closeable"
            >
                Has close button
            </ng-template>
            <ng-template
                documentationPropertyName="icon"
                documentationPropertyType="PolymorpheusContent"
                [documentationPropertyValues]="iconVariants"
                [(documentationPropertyValue)]="icon"
            >
                Icon
            </ng-template>
        </tui-doc-documentation>
    </ng-template>
    <ng-template pageTab>
        <ol class="tui-list tui-list_ordered">
            <li class="tui-list__item">
                <p>
                    Use service
                    <code>open</code>
                    method and subscribe to
                    <code>Observable</code>
                </p>

                <tui-doc-code
                    filename="my.component.ts"
                    [code]="exampleServiceUsage"
                />
            </li>

            <li class="tui-list__item">
                To pass notification with custom content, you can use
                <a
                    fragment="example-template"
                    tuiLink
                    [routerLink]="docRoutes.Alert"
                >
                    <code>your template</code>
                </a>
                .
            </li>

            <li class="tui-list__item">
                <p>
                    You can also customize notification logic with a component. Inject
                    <code>POLYMORPHEUS_CONTEXT</code>
                    into the component to get context input data and to output results. It has the following interface:
                    <code tuiText="TuiPopover<TuiAlertOptions<I>, O>"></code>
                    , where
                    <code>O</code>
                    is output data type and
                    <code>I</code>
                    is input data type.
                </p>
            </li>

            <li class="tui-list__item">
                <p>
                    Use
                    <code>new PolymorpheusComponent(CustomNotificationComponent)</code>
                    to show notification component with a service:
                </p>

                <tui-doc-code
                    filename="my.component.ts"
                    [code]="exampleServiceUsageComponent"
                />
            </li>

            <li class="tui-list__item">
                <p>
                    Use
                    <code>completeWith</code>
                    method to control notification from itself:
                </p>

                <tui-doc-code
                    filename="customNotification.component.ts"
                    [code]="exampleCustomAlert"
                />
            </li>

            <li class="tui-list__item">
                <p>
                    If you use it from lazy loading modules, and want to reach for some local providers, you can pass
                    <code>Injector</code>
                    into
                    <code>new PolymorpheusComponent</code>
                    of your alert component.
                </p>

                <tui-doc-code
                    filename="customNotification.component.ts"
                    [code]="exampleLazyModule"
                />
            </li>

            <li class="tui-list__item">
                <p>
                    You can customize default alert options by providing
                    <code>TUI_ALERT_OPTIONS</code>
                    injection token globally across your app.
                </p>

                <tui-doc-code
                    filename="app.module.ts"
                    [code]="exampleOptions"
                />
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
