<tui-doc-page header="Expand" package="CORE" type="components">
    <ng-template pageTab>
        <p i18n>Component to show expandable content</p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-expand-example-1></tui-expand-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        Darth Vader is (spoilers below):
        <tui-expand class="b-full-width" [expanded]="expanded" [async]="async">
            <ng-template tuiExpandContent>
                <div *ngIf="!delayed">
                    <p>Luke's father.</p>
                    <p class="tooltip">
                        Also Tyler Durden doesn't actually exist (hover for mode
                        details)
                        <span class="bubble">
                            Fight Club reference (notice how spoiler has
                            <code>overflow: visible;</code> when it's open).
                        </span>
                    </p>
                    <div>
                        A spoiler is an element of a disseminated summary or
                        description of any piece of fiction that reveals any
                        plot elements which threaten to give away important
                        details. Typically, the details of the conclusion of the
                        plot, including the climax and ending, are especially
                        regarded as spoiler material. It can also be used to
                        refer to any piece of information regarding any part of
                        a given media that a potential consumer would not want
                        to know beforehand. Because enjoyment of fiction depends
                        a great deal upon the suspense of revealing plot details
                        through standard narrative progression, the prior
                        revelation of how things will turn out can "spoil" the
                        enjoyment that some consumers of the narrative would
                        otherwise have experienced. Spoilers can be found in
                        message boards, articles, reviews, commercials, and
                        movie trailers.
                    </div>
                </div>
            </ng-template>
        </tui-expand>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName="async"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="async"
            >
                Waits for a custom event
                <code>TUI_EXPAND_LOADED</code> before opening. Content is
                initialized when opening starts
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="expanded"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [documentationPropertyValue]="expanded"
                (documentationPropertyValueChange)="onExpandedChange($event)"
            >
                Open / close state
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import <code>TuiExpandModule</code> into a module where you
                    want to use our component
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
