@import '@taiga-ui/core/styles/taiga-ui-local';

.tooltip {
    position: relative;

    &:hover .bubble {
        opacity: 1;
    }
}

.bubble {
    .transition(opacity);

    position: absolute;
    inset-inline-start: 3.125rem;
    inset-block-end: 1.875rem;
    inline-size: 15.625rem;
    background: var(--tui-text-primary);
    color: var(--tui-background-base);
    border-radius: 0.25rem;
    padding: 0.625rem;
    opacity: 0;

    &::after {
        content: '';
        position: absolute;
        inset-inline-start: 50%;
        inset-block-end: -0.9375rem;
        border-block-start: 0.9375rem solid var(--tui-text-primary);
        border-inline-start: 0.625rem solid transparent;
        border-inline-end: 0.625rem solid transparent;
        transform: translate(-0.625rem, 0);
    }
}
