@import '@taiga-ui/core/styles/taiga-ui-local';

form,
footer,
.stepper,
.tabs {
    max-inline-size: 32rem;
}

footer {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    margin-top: 1.25rem;
}

.stepper,
.tabs {
    margin-bottom: 2rem;
}

.stepper {
    min-block-size: var(--tui-height-l);

    > button {
        align-self: center;
    }
}

.tabs {
    box-shadow: inset 0 -1px var(--tui-border-normal);
}
