<span
    *tuiTextfieldContent
    aria-hidden="true"
    class="t-wrapper"
>
    @for (_ of '-'.repeat(el.maxLength); track $index) {
        <span
            class="t-item"
            [class.t-item_filled]="!!el.value[$index]"
            [class.t-item_focus]="isFocused($index)"
            [style]="getStyle($index)"
            (pointerdown.prevent)="el.focus()"
        >
            <span class="t-dot t-dot_placeholder"></span>
            <span class="t-dot t-dot_value"></span>
            <span class="t-value">{{ el.type === 'password' ? '' : el.value[$index] }}</span>
        </span>
    }
</span>
