<div
    *tuiTextfieldContent
    class="t-wrapper"
>
    @for (_ of '-'.repeat(length); track $index) {
        <label
            class="t-item"
            [class.t-item_filled]="!!el.value[$index]"
            [class.t-item_focus]="isFocused($index)"
            [style]="getStyle($index)"
        >
            <span class="t-dot t-dot_placeholder"></span>
            <span class="t-dot t-dot_value"></span>
            <span class="t-value">{{ el.value[$index] }}</span>
        </label>
    }
</div>
