@import '../../taiga-ui-local.less';

/* stylelint-disable order/order */
[tuiWrapper] {
    .transition(~'color, background, opacity');

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    appearance: none;

    &:after {
        .transition(~'box-shadow, color');
        .fullsize(absolute, inset);

        border: 1px solid currentColor;
        border-radius: inherit;
        color: transparent;
        content: '';
        pointer-events: none;
    }

    .wrapper-focus({
        &:after {
            border-width: 2px;
            color: var(--tui-focus);
        }
    });

    .wrapper-disabled({
        pointer-events: none;
        opacity: var(--tui-disabled-opacity);
    });

    // Temporary hide focus in Safari until we figure out a better approach
    .safari-only({
        :focus-visible &,
        &:focus-visible {
            --tui-focus: transparent !important;
        }
    });
}
