@import '../../taiga-ui-local.less';

/* stylelint-disable order/order */
[tuiWrapper][data-appearance='opposite'] {
    background: #000;
    color: #fff;

    --tui-focus: rgba(255, 255, 255, 0.64);

    .wrapper-hover({
        background: #333;
    });

    .wrapper-active({
        background: #5c636b;
    });

    &[data-mode='onDark'] {
        color: rgba(0, 0, 0, 0.8);
        background: #fff;

        --tui-focus: rgba(51, 51, 51, 0.48);

        .wrapper-hover({
            background: #f3F4f6;
        });

        .wrapper-active({
            background: #eaecee;
        });
    }
}
