@import '../../taiga-ui-local.less';

/* stylelint-disable order/order */
[tuiWrapper][data-appearance='outline'] {
    background: transparent;
    color: var(--tui-text-primary);

    &:after {
        color: var(--tui-base-04);
    }

    [tuiTheme='dark'] &,
    &[tuiTheme='dark'] {
        color: var(--tui-text-primary-on-dark);

        &:after {
            color: var(--tui-text-primary-on-dark);
        }

        .wrapper-hover({
            background: var(--tui-clear-inverse-hover);

            &:after {
                color: var(--tui-text-tertiary-on-dark);
            }
        });

        .wrapper-active({
            background: var(--tui-clear-inverse-active);

            &:after {
                color: var(--tui-text-tertiary-on-dark);
            }
        });

        .wrapper-focus({
            --tui-focus: var(--tui-text-primary-on-dark);
        });
    }

    .wrapper-hover({
        &:after {
            color: var(--tui-base-05);
        }
    });

    .wrapper-active({
        &:after {
            color: var(--tui-base-06);
        }
    });
}
