@import '../../taiga-ui-local.less';

/* stylelint-disable order/order */
[tuiWrapper][data-appearance='secondary'],
[tuiWrapper][data-appearance='flat'],
[tuiWrapper][data-appearance='destructive'] {
    background: var(--tui-secondary);
    color: var(--tui-link);

    .wrapper-hover({
        background: var(--tui-secondary-hover);
    });

    .wrapper-active({
        background: var(--tui-secondary-active);
    });

    .wrapper-invalid({
        color: var(--tui-negative);
        background: var(--tui-error-bg);

        .wrapper-hover({
            background: var(--tui-error-bg-hover);
        });

        .wrapper-focus({
            --tui-focus: var(--tui-negative);
        });
    });
}

[tuiWrapper][data-appearance='flat'] {
    background: transparent;
}

[tuiWrapper][data-appearance='destructive'] {
    color: var(--tui-negative);
    background: var(--tui-error-bg);

    .wrapper-hover({
        background: var(--tui-error-bg-hover);
    });

    .wrapper-active({
        background: var(--tui-error-bg-hover);
    });
}
