@import '../../../styles/taiga-ui-local.less';

@arrowSize: 0.5rem;
@arrowOffset: 0.875rem;
@arrowCompensation: 0.2rem; // 8px * 1.4 - 8px ATTENTION

:host {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 18rem;
    min-height: var(--tui-height-m);
    background: var(--tui-primary);
    border-radius: var(--tui-radius-l);
    color: var(--tui-primary-text);
    box-sizing: border-box;

    &:not([data-mode='overflow']):before,
    .t-arrow {
        content: '';
        position: absolute;
        width: @arrowSize;
        height: @arrowSize;
        border-radius: 0.125rem;
        box-sizing: border-box;
        background-color: inherit;
        transform: rotate(45deg);
    }

    &[data-tui-host-direction='top'] .t-arrow {
        bottom: (-@arrowSize / 2);
    }

    &[data-tui-host-direction='bottom'] .t-arrow {
        top: (-@arrowSize / 2);
    }

    &[data-tui-host-direction='top']:before,
    &[data-tui-host-direction='bottom']:before {
        display: none;
    }

    &[data-tui-host-direction='top-left']:before,
    &[data-tui-host-direction='top-right']:before,
    &[data-tui-host-direction='top-middle']:before {
        bottom: (-@arrowSize / 2);
    }

    &[data-tui-host-direction='bottom-left']:before,
    &[data-tui-host-direction='bottom-right']:before,
    &[data-tui-host-direction='bottom-middle']:before {
        top: (-@arrowSize / 2);
    }

    &[data-tui-host-direction='bottom-middle']:before,
    &[data-tui-host-direction='top-middle']:before {
        left: calc(50% - @arrowCompensation);
    }

    &[data-tui-host-direction='top-left']:before,
    &[data-tui-host-direction='bottom-left']:before {
        right: @arrowOffset + @arrowCompensation;
    }

    &[data-tui-host-direction='top-right']:before,
    &[data-tui-host-direction='bottom-right']:before {
        left: @arrowOffset + @arrowCompensation;
    }

    &[data-tui-host-direction='left']:before,
    &[data-tui-host-direction='right']:before {
        top: 50%;
        margin-top: (-@arrowSize / 2);
    }

    &[data-tui-host-direction='left']:before {
        right: (-@arrowSize / 2);
    }

    &[data-tui-host-direction='right']:before {
        left: (-@arrowSize / 2);
    }

    &[data-mode='error'] {
        background-color: var(--tui-error-fill);
    }

    &[data-mode='onDark'],
    &[data-mode='overflow'] {
        .shadow(2);
        border: 1px solid var(--tui-base-03);
        background-color: var(--tui-base-01);
        color: var(--tui-text-01);

        &:before {
            border: 1px solid var(--tui-base-03);
        }

        &[data-tui-host-direction='left']:before {
            border-left-color: transparent;
            border-bottom-color: transparent;
        }

        &[data-tui-host-direction='right']:before {
            border-right-color: transparent;
            border-top-color: transparent;
        }

        &[data-tui-host-direction='top-left']:before,
        &[data-tui-host-direction='top-right']:before,
        &[data-tui-host-direction='top-middle']:before {
            border-left-color: transparent;
            border-top-color: transparent;
        }

        &[data-tui-host-direction='bottom-left']:before,
        &[data-tui-host-direction='bottom-right']:before,
        &[data-tui-host-direction='bottom-middle']:before {
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }

    &[data-mode='overflow'] {
        max-width: none;
    }

    &._untouchable {
        pointer-events: none;
    }
}

.t-tooltip {
    font: var(--tui-font-text-s);
    word-wrap: break-word;
    padding: @space * 3 @space * 4;

    :host[data-mode='overflow'] & {
        font: inherit;
    }
}

.t-text {
    white-space: pre-wrap;
}
