.popup {
    height: 4rem;
    display: flex;
    background-color: var(--tui-base-03);
    border-radius: 5px;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.button {
    margin-bottom: 1rem;
}
