@import 'taiga-ui-local';

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 -5rem;
}

.header {
    .transition(background);
    height: 10rem;
    flex: 1;
    background: var(--tui-base-01) center;
    background-size: cover;
}
