@import 'taiga-ui-local';

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 -5rem;

    @media @mobile-m {
        margin: 0;

        button {
            display: none;
        }
    }
}

.header {
    .transition(background);
    height: 10rem;
    flex: 1;
    background: var(--tui-base-01) center;
    background-size: cover;
}
