@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 -5rem;

    :host-context(tui-root._mobile) & {
        margin: 0;

        button {
            display: none;
        }
    }
}

.header {
    .transition(background);
    height: 10rem;
    flex: 1;
    background: var(--tui-background-base) center;
    background-size: cover;
}
