@import 'taiga-ui-local';

.header-group {
    display: flex;
    align-items: center;
    margin: 1.875rem 0 0.75rem;
}

.title {
    font: var(--tui-font-heading-6);
}

.badge {
    margin-left: 1rem;
}

.icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -@space * 3;
}
