<header
    *ngIf="chooseDayOrRangeTexts$ | async as texts"
    class="t-header"
>
    <button
        appearance=""
        automation-id="tui-mobile-calendar__cancel"
        tuiIconButton
        tuiRipple
        type="button"
        class="t-close"
        [iconStart]="icons.close"
        [style.border-radius.%]="100"
        (click)="onClose()"
    >
        {{ closeWord$ | async }}
    </button>
    <button
        tuiLink
        tuiTouchable="opacity"
        type="button"
        class="t-link t-link_close"
        (click)="onClose()"
    >
        {{ cancelWord$ | async }}
    </button>
    <h2
        automation-id="tui-mobile-calendar__label"
        class="t-label"
    >
        {{ single ? texts[0] : multi ? texts[2] : texts[1] }}
    </h2>
    <button
        automation-id="tui-mobile-calendar__confirm"
        tuiLink
        tuiTouchable="opacity"
        type="button"
        class="t-link"
        (click)="onConfirm()"
    >
        {{ doneWord$ | async }}
    </button>
</header>
<cdk-virtual-scroll-viewport
    #yearsScrollRef
    orientation="horizontal"
    class="t-years"
    [itemSize]="yearWidth"
>
    <div class="t-years-wrapper">
        <button
            *cdkVirtualFor="let index of years"
            type="button"
            class="t-year"
            [attr.data-state]="getState(index)"
            (click)="setYear(index)"
        >
            {{ index }}
        </button>
    </div>
</cdk-virtual-scroll-viewport>
<div class="t-week">
    <div
        *ngFor="let day of unorderedWeekDays$ | tuiOrderWeekDays | async"
        class="t-day"
    >
        {{ day }}
    </div>
</div>
<cdk-virtual-scroll-viewport
    #monthsScrollRef
    class="t-months"
    (scrolledIndexChange)="onMonthChange($event)"
>
    <section
        *cdkVirtualFor="let month of months; templateCacheSize: 10"
        class="t-month-wrapper"
    >
        <h2 class="t-month">{{ month | tuiMonth | async }}</h2>
        <tui-mobile-calendar-sheet
            class="t-calendar"
            [disabledItemHandler]="disabledItemHandler | tuiMapper: disabledItemHandlerMapper : min : max"
            [month]="month"
            [single]="single"
            [value]="value"
            (dayClick)="onDayClick($event)"
        />
    </section>
</cdk-virtual-scroll-viewport>
