@import 'taiga-ui-local';

@accent: var(--tui-link);
@secondary: var(--tui-text-02);
@border: var(--tui-base-03);
@background: var(--tui-base-01);

:host {
    display: block;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    color: var(--tui-text-01);
    -webkit-tap-highlight-color: transparent;
}

.t-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 1rem;
    // TODO: research if it can be used in rem units
    /* stylelint-disable-next-line */
    border-bottom: 0.5px solid @border;

    :host._ios & {
        height: 2.75rem;
        border-bottom: none;
    }
}

.t-close {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;

    :host._ios & {
        display: none;
    }
}

.t-link {
    margin-left: auto;
    flex-shrink: 0;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: @accent;

    &_close {
        display: none;
    }

    :host._ios & {
        min-width: 3.75rem;
        text-align: right;
        font-size: 0.9375rem;
        line-height: 1.125rem;
        font-weight: 400;
        letter-spacing: 0.018125rem;
        text-transform: none;

        &_close {
            display: block;
            margin: 0 auto 0 0;
            text-align: left;
        }
    }
}

.t-label {
    .text-overflow-with-fade();
    flex-grow: 1;
    margin: 0;
    font-size: 1.25rem;
    line-height: 3.5rem;
    font-weight: 500;
    letter-spacing: -0.0125rem;
    white-space: nowrap;

    :host._ios & {
        font-size: 1.0625rem;
        font-weight: 600;
        letter-spacing: -0.025625rem;
        text-align: center;
    }

    &:after {
        background-image: linear-gradient(
            to right,
            // --tui-base-01 in rgb
            rgba(255, 255, 255, 0) 0%,
            var(--tui-base-01) 80%,
            var(--tui-base-01) 100%
        );
    }

    :host-context([data-mode='onDark']) &:after {
        background-image: linear-gradient(
            to right,
            // --tui-base-01 in rgb
            rgba(34, 34, 34, 0) 0%,
            var(--tui-base-01) 80%,
            var(--tui-base-01) 100%
        );
    }
}

.t-years {
    .scrollbar-hidden();
    height: 4.0625rem;
    background-color: @background;
    // TODO: research if it can be used in rem units
    /* stylelint-disable-next-line */
    box-shadow: 0 0.5px @border;

    :host._ios & {
        background-color: transparent;
    }
}

.t-years-wrapper {
    display: flex;
    height: 4.0625rem;
}

.t-year {
    .clearbtn();
    outline: none;
    // TODO: investigate problem in mobile calendar
    /* stylelint-disable-next-line */
    width: 20vw;
    flex-shrink: 0;
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 0.015625rem;
    cursor: pointer;
    opacity: 0.1;
    transform: scale(0.73);
    transition: color, opacity, transform 0.2s;

    &[data-state='adjacent'] {
        transform: scale(0.86);
        opacity: 0.3;
    }

    &[data-state='active'] {
        color: @accent;
        opacity: 1;
        transform: scale(1);
    }
}

.t-week {
    display: flex;
    align-items: center;
    height: 1.875rem;
    width: 20.75rem;
    max-width: 100%;
    margin: 0 auto;
    font-size: 0.75rem;

    :host._ios & {
        width: 22.625rem;
        font-size: 0.6875rem;
        font-weight: 500;
        color: @secondary;
    }
}

.t-day {
    flex: 1;
    text-align: center;
}

.t-months {
    .scrollbar-hidden();
    height: ~'calc(100% - 9.5rem)';
    box-shadow: 0 -1px @border;
    overflow-x: hidden;

    :host._ios & {
        height: ~'calc(100% - 8.75rem)';
    }
}

.t-month-wrapper {
    margin: 0.625rem 0 -0.625rem;
}

.t-month {
    height: 2.75rem;
    line-height: 2.75rem;
    padding-left: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 1.25rem;
    box-sizing: border-box;
    // TODO: research if it can be used in rem units
    /* stylelint-disable-next-line */
    border-bottom: 0.5px solid @border;

    :host._ios & {
        height: 3.125rem;
        margin: 0;
        border-bottom: none;
        text-transform: none;
        font-size: 1.375rem;
        line-height: 3.125rem;
        letter-spacing: 0.02rem;
        font-weight: 700;
    }
}

.t-calendar {
    margin: 0 auto;
    font-family: inherit;
    font-size: 1.125rem;
    transition: opacity 0.2s;

    :host._ios & {
        font-size: 1.0625rem;
    }
}
