<tui-doc-page
    header="DataListWrapper"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <p>
            <code>DataListWrapper</code>
            is an abstraction over
            <code>DataList</code>
            to simplify usage in common cases where precise control is not necessary.
        </p>

        <tui-doc-example
            *ngFor="let example of examples; let index = index"
            [component]="index + 1 | tuiComponent"
            [content]="index + 1 | tuiExample: 'html,ts'"
            [heading]="example"
            [id]="example | tuiKebab"
        />
    </ng-template>

    <ng-template pageTab>
        <h2>DataListWrapper</h2>

        <tui-doc-documentation>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="items"
                documentationPropertyType="readonly T[] | ReadonlyArray<readonly T[]> | null"
            >
                Items to select
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="itemContent"
                documentationPropertyType="PolymorpheusContent<TuiValueContentContext<T>>"
            >
                Content of an item
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="emptyContent"
                documentationPropertyType="PolymorpheusContent"
            >
                Content to display when there are no options inside
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="disabledItemHandler"
                documentationPropertyType="TuiBooleanHandler<T>"
            >
                <div>A handler that gets an item and returns true if it is disabled.</div>

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="size"
                documentationPropertyType="TuiSizeL | TuiSizeXS"
            >
                Size of items
            </ng-template>
            <ng-template
                documentationPropertyMode="input"
                documentationPropertyName="labels"
                documentationPropertyType="readonly string[]"
            >
                Group label
            </ng-template>
        </tui-doc-documentation>
    </ng-template>

    <tui-setup *pageTab />
</tui-doc-page>
