@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.fade {
    max-width: 11rem;
}

.ellipsis {
    max-width: 7rem;
    .text-overflow();
}

[data-appearance='custom'] {
    color: #fff;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    font-weight: bold;
}

.toggle {
    .transition(transform);
    color: inherit !important;
}
