<tui-select
    tuiDropdownAlign="left"
    tuiDropdownLimitWidth="min"
    tuiTextfieldSize="m"
    class="t-select"
    [ngModelOptions]="{standalone: true}"
    [style.flex]="'0 0 auto'"
    [tuiTextfieldLabelOutside]="true"
    [(ngModel)]="mode"
>
    <tui-data-list
        *tuiDataList
        size="s"
    >
        @for (item of modes; track item) {
            <button
                tuiOption
                type="button"
                [value]="item"
            >
                {{ item }}
            </button>
        }
    </tui-data-list>
</tui-select>
@if (isHex) {
    <tui-primitive-textfield
        tuiTextfieldSize="m"
        [maskito]="hexMask"
        [tuiTextfieldLabelOutside]="true"
        [value]="hex"
        (valueChange)="onHexChange($event)"
    />
} @else {
    <tui-input-number
        tuiTextfieldSize="m"
        class="t-rgb"
        [max]="255"
        [min]="0"
        [ngModel]="color[0]"
        [ngModelOptions]="{standalone: true}"
        [tuiTextfieldLabelOutside]="true"
        (ngModelChange)="onRgbChange($event, color[1], color[2], color[3])"
    />
    <tui-input-number
        tuiTextfieldSize="m"
        class="t-rgb"
        [max]="255"
        [min]="0"
        [ngModel]="color[1]"
        [ngModelOptions]="{standalone: true}"
        [tuiTextfieldLabelOutside]="true"
        (ngModelChange)="onRgbChange(color[0], $event, color[2], color[3])"
    />
    <tui-input-number
        tuiTextfieldSize="m"
        class="t-rgb"
        [max]="255"
        [min]="0"
        [ngModel]="color[2]"
        [ngModelOptions]="{standalone: true}"
        [tuiTextfieldLabelOutside]="true"
        (ngModelChange)="onRgbChange(color[0], color[1], $event, color[3])"
    />
}
<tui-input-number
    tuiTextfieldPostfix="%"
    tuiTextfieldSize="m"
    class="t-opacity"
    [max]="100"
    [min]="0"
    [ngModel]="opacity"
    [ngModelOptions]="{standalone: true}"
    [style.flex]="'0 0 auto'"
    [tuiTextfieldLabelOutside]="true"
    (ngModelChange)="onRgbChange(color[0], color[1], color[2], $event / 100)"
/>
