name: ⚙️ Build
on:
  pull_request:
  push:
    branches: [main]

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  libs:
    if: ${{ !contains(github.head_ref, 'release/') }}
    name: Build packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: taiga-family/ci/actions/setup/variables@v1.185.0
      - uses: taiga-family/ci/actions/setup/node@v1.185.0
      - run: npm run run-many:build:libs
      - run: npx ts-node ./scripts/check-dist.ts

  demo:
    if: ${{ !contains(github.head_ref, 'release/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: taiga-family/ci/actions/setup/variables@v1.185.0
      - uses: taiga-family/ci/actions/setup/node@v1.185.0
      - run: npx nx build demo
      - run: npx --yes bundlemon --config .github/.bundlemonrc.json
        continue-on-error: true
        env:
          CI_COMMIT_SHA: ${{ env.CI_COMMIT_SHA }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
