name: ⚙️ Build
on:
  push:
    branches:
      - '**'
      - '!release/*'

jobs:
  build:
    name: Build packages
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.51.14
      - uses: taiga-family/ci/actions/setup/variables@v1.51.14
      - uses: taiga-family/ci/actions/setup/node@v1.51.14
      - run: npm run run-many:build:libs
      - run: npx ts-node ./scripts/check-dist.ts

concurrency:
  group: build-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
