name: Copilot Setup Steps

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    if: ${{ !contains(github.head_ref, 'release/') }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4.3.0
        with:
          lfs: true
      - uses: taiga-family/ci/actions/setup/variables@v1.139.0
      - uses: taiga-family/ci/actions/setup/node@v1.139.0
