name: Create release

on:
  workflow_dispatch:
    inputs:
      mode:
        type: choice
        description: release type
        required: true
        default: 'minor'
        options:
          - patch
          - minor
          - major

jobs:
  run-release:
    name: Run release
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Fetch from origin repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          token: ${{ secrets.TINKOFF_BOT_PAT }}

      - name: Setup Node.js and Cache
        uses: ./.github/actions/nodejs

      - name: Run release
        id: run-release
        run: |
          git config user.name "tinkoff-bot"
          git config --global push.followTags true
          npm run release -- --release-as ${{ github.event.inputs.mode }}
          npm run prettier
          git add .
          git commit -m 'chore: run prettier' --no-verify
          echo "::set-output name=new_version::$(node -p "require('./package.json').version")"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.TINKOFF_BOT_PAT }}
          branch: release/${{ steps.run-release.outputs.new_version }}
          title: 'Release/${{ steps.run-release.outputs.new_version }}'

      - name: Generate Release Body
        id: generare_body
        run: |
          npx extract-changelog-release > RELEASE_BODY.md
          echo ::set-output name=tag_name::$(git describe HEAD --abbrev=0)

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          name: Release ${{ steps.generare_body.outputs.tag_name }}
          tag: ${{ steps.generare_body.outputs.tag_name }}
          bodyFile: 'RELEASE_BODY.md'
          token: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: create-release-${{ github.head_ref }}
  cancel-in-progress: true
