name: E2E tests

on:
  pull_request:
    paths-ignore:
      - 'projects/*testing/**'
      - 'projects/icons/**'
    branches-ignore:
      - 'release**'
  push:
    branches:
      - '!main'
      - '!release**'
      - '!gh-pages**'
      - '!screenshot-bot-storage**'

env:
  CACHE_DIST_KEY: dist-${{ github.head_ref }}-${{ github.ref }}-${{ github.sha }}
  BASE_REF_DEMO: dist/demo/browser/${{ github.base_ref }}
  LOCAL_REF_DEMO: dist/demo/browser
  NX_BRANCH: ${{ github.event.number }}
  NX_CLOUD_AUTH_TOKEN: ${{ secrets.NX_CLOUD_AUTH_TOKEN }}
  NG_SERVER_PORT: 3333

jobs:
  build-demo:
    if: ${{ !contains(github.head_ref , 'release/') }}
    name: Build demo # for reuse in e2e jobs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 10

      - name: Try rebase locally for check affected e2e
        if: !contains(github.head_ref , 'v3.x')
        uses: ./.github/actions/rebase

      - name: Setup Node.js and Cache
        uses: ./.github/actions/nodejs

      - name: Mark demo-app directory for persist in cache
        uses: actions/cache@v3
        with:
          path: dist/demo
          key: ${{ env.CACHE_DIST_KEY }}

      - name: Build branch demo-app
        run: npm run build:demo

  cypress:
    if: ${{ !contains(github.head_ref , 'release/') }}
    needs: [build-demo]
    runs-on: ubuntu-latest
    services:
      sorry-cypress-director:
        image: agoldis/sorry-cypress-director:2.1
        ports:
          - 1234:1234
    strategy:
      fail-fast: false
      matrix:
        specFolder:
          [
            addon-doc,
            addon-charts,
            addon-commerce,
            addon-editor,
            addon-icons,
            addon-mobile,
            addon-preview,
            addon-table,
            addon-tablebars,
            core,
            deep,
            demo,
            kit,
          ]
    name: ${{ matrix.specFolder }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js and Cache
        uses: ./.github/actions/nodejs

      - name: Setup Cypress and Sorry Cypress
        uses: ./.github/actions/cypress
        with:
          cypress-api-url: http://localhost:1234/
          snapshot-path: ./projects/demo-integrations/cypress/snapshots

      - name: Download ${{ env.LOCAL_REF_DEMO }} for serve locally
        uses: actions/cache@v3
        with:
          path: dist/demo
          key: ${{ env.CACHE_DIST_KEY }}

      - name: Serve ${{ env.LOCAL_REF_DEMO }} in background
        run: npx nx serve-compiled --path ${{ env.LOCAL_REF_DEMO }} --port ${{ env.NG_SERVER_PORT }}

      - name: Run screenshot tests on ${{ env.LOCAL_REF_DEMO }}
        run: npx nx e2e-ci --key localhost --folder ${{ matrix.specFolder }}

      - name: Clean up resources
        run: npx kill-port --port ${{ env.NG_SERVER_PORT }}

      - name: Download ${{ env.BASE_REF_DEMO }} for serve locally
        run: |
          git clone \
                --depth 1 \
                --branch snapshots/demo/next/${{ github.base_ref }} \
                https://github.com/Tinkoff/taiga-ui.git ${{ env.BASE_REF_DEMO }}

      - name: Find and replace baseHref for next snapshot
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: '<base href="/next/">'
          replace: '<base href="/">'
          include: '${{ env.BASE_REF_DEMO }}/index.html'
          regex: false

      - run: cat ${{ env.BASE_REF_DEMO }}/index.html

      - name: Serve ${{ env.BASE_REF_DEMO }} in background
        run: npx nx serve-compiled --path ${{ env.BASE_REF_DEMO }} --port ${{ env.NG_SERVER_PORT }}

      - name: Run screenshot tests on ${{ env.BASE_REF_DEMO }}
        continue-on-error: true
        env: # note: need to collect all
          # diff files for lumberjack bot
          CYPRESS_failOnSnapshotDiff: 0
        run: npx nx e2e-ci --key next --folder ${{ matrix.specFolder }}

      - name: Clean up resources
        run: npx kill-port --port ${{ env.NG_SERVER_PORT }}

      - name: Check if diff-output exists
        id: diff-checker
        run: |
          echo "::set-output name=diff_exist::$(find ${{ env.SNAPSHOTS_PATH }} -regex '.*\.diff\.png$' | wc -l | sed -e 's/^[[:space:]]*//')"

      - name: Fall with an error if diff-output exists
        if: ${{ steps.diff-checker.outputs.diff_exist != '0' }}
        run: |
          find ${{ env.SNAPSHOTS_PATH }} -regex '.*\.diff\.png$' -exec echo "{}" \;
          exit 1

      - name: Update artifacts / ${{ env.SNAPSHOTS_KEY }}
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          path: ${{ env.SNAPSHOTS_PATH }}/**/*.diff.png
          name: ${{ env.SNAPSHOTS_KEY }}
          if-no-files-found: ignore
          retention-days: 1

concurrency:
  group: e2e-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
