name: ⚙️ E2E tests
on:
  pull_request:

env:
  CYPRESS_failOnSnapshotDiff: 0
  CYPRESS_API_URL: http://localhost:1234/
  PLAYWRIGHT_SNAPSHOTS_PATH: ./projects/demo-playwright/tests-results
  CYPRESS_SNAPSHOTS_PATH: ./projects/demo-cypress/cypress/snapshots

jobs:
  build-demo:
    if: ${{ !contains(github.head_ref , 'release/') }}
    name: Build demo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 10
      - uses: taiga-family/ci/actions/variables@1.7.6
      - uses: taiga-family/ci/actions/rebase@1.7.6
        continue-on-error: true
      - uses: taiga-family/ci/actions/setup-node@1.7.6

      - name: Building demo-app of git-branch without cache
        run: npx nx build demo -c next --output-path ${{ env.DIST }} --base-href='/'

      - name: Upload cache / ${{ env.CACHE_DIST_KEY }}
        uses: actions/cache/save@v3.3.1
        with:
          path: dist/demo
          key: ${{ env.CACHE_DIST_KEY }}

  cypress:
    if: ${{ !contains(github.head_ref , 'release/') }}
    needs: [build-demo]
    runs-on: ubuntu-latest
    services:
      sorry-cypress-director:
        image: agoldis/sorry-cypress-director:2.5.8
        ports:
          - 1234:1234
    strategy:
      fail-fast: false
      matrix:
        project:
          [
            addon-doc,
            addon-charts,
            addon-commerce,
            addon-mobile,
            addon-preview,
            addon-table,
            addon-tablebars,
            icons,
            core,
            deep,
            demo,
            kit,
          ]
    name: ${{ matrix.project }}
    steps:
      - uses: actions/checkout@v3.5.3
      - uses: taiga-family/ci/actions/variables@1.7.6
      - uses: taiga-family/ci/actions/setup-node@1.7.6

      - name: Download cache / ${{ env.CACHE_DIST_KEY }}
        uses: actions/cache/restore@v3.3.1
        with:
          path: dist/demo
          key: ${{ env.CACHE_DIST_KEY }}

      - name: Serve ${{ env.DIST }} in background
        run: npx nx serve-compiled demo --path ${{ env.DIST }} --port ${{ env.NG_SERVER_PORT }}

      - name: Run screenshot tests on ${{ env.DIST }}
        run: npx nx e2e demo-cypress --key localhost --folder ${{ matrix.project }}

      - name: Clean up resources
        run: npx kill-port --port ${{ env.NG_SERVER_PORT }}

      - name: Download ${{ env.DIST_NEXT }} for serve locally
        run: |
          git clone \
                --depth 1 \
                --branch snapshots/demo/next/${{ github.base_ref }} \
                https://github.com/taiga-family/taiga-ui.git ${{ env.DIST_NEXT }}

      - name: Serve ${{ env.DIST_NEXT }} in background
        run: npx nx serve-compiled demo --path ${{ env.DIST_NEXT }} --port ${{ env.NG_SERVER_PORT }}

      - name: Run screenshot tests on ${{ env.DIST_NEXT }}
        continue-on-error: true
        run: npx nx e2e demo-cypress --key next --folder ${{ matrix.project }}

      - name: Clean up resources
        run: npx kill-port --port ${{ env.NG_SERVER_PORT }}

      - name: Debug output
        continue-on-error: true
        run: tree ${{ env.CYPRESS_SNAPSHOTS_PATH }}

      - name: Upload artifacts / ${{ env.CYPRESS_SNAPSHOTS_ARTIFACTS_KEY }}
        uses: actions/upload-artifact@v3.1.2
        with:
          path: ${{ env.CYPRESS_SNAPSHOTS_PATH }}/**/*.diff.png
          name: ${{ env.CYPRESS_SNAPSHOTS_ARTIFACTS_KEY }}
          if-no-files-found: ignore
          retention-days: 1

  playwright:
    if: ${{ !contains(github.head_ref , 'release/') }}
    runs-on: ubuntu-latest
    needs: [build-demo]
    steps:
      - uses: actions/checkout@v3.5.3
      - uses: taiga-family/ci/actions/variables@1.7.6
      - uses: taiga-family/ci/actions/setup-node@1.7.6

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Download cache / ${{ env.CACHE_DIST_KEY }}
        uses: actions/cache/restore@v3.3.1
        with:
          path: dist/demo
          key: ${{ env.CACHE_DIST_KEY }}

      - name: Serve ${{ env.DIST }} in background
        run: npx nx serve-compiled demo --path ${{ env.DIST }} --port ${{ env.NG_SERVER_PORT }}

      - name: Run screenshot tests on ${{ env.DIST }}
        run: npx nx e2e demo-playwright -- --update-snapshots

      - name: Clean up resources
        run: npx kill-port --port ${{ env.NG_SERVER_PORT }}

      - name: Download ${{ env.DIST_NEXT }} for serve locally
        run: |
          git clone \
                --depth 1 \
                --branch snapshots/demo/next/${{ github.base_ref }} \
                https://github.com/taiga-family/taiga-ui.git ${{ env.DIST_NEXT }}

      - name: Find and replace baseHref for next snapshot
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: '<base href="./">'
          replace: '<base href="/">'
          include: '${{ env.DIST_NEXT }}/index.html'
          regex: false

      - name: Serve ${{ env.DIST_NEXT }} in background
        run: npx nx serve-compiled demo --path ${{ env.DIST_NEXT }} --port ${{ env.NG_SERVER_PORT }}

      - name: Run screenshot tests on ${{ env.DIST_NEXT }}
        continue-on-error: true
        run: npx nx e2e demo-playwright

      - name: Clean up resources
        run: npx kill-port --port ${{ env.NG_SERVER_PORT }}

      - name: Debug output
        continue-on-error: true
        run: tree ${{ env.PLAYWRIGHT_SNAPSHOTS_PATH }}

      - name: Upload artifacts / ${{ env.PLAYWRIGHT_SNAPSHOTS_ARTIFACTS_KEY }}
        uses: actions/upload-artifact@v3.1.2
        with:
          path: ${{ env.PLAYWRIGHT_SNAPSHOTS_PATH }}/**/*-diff.png
          name: ${{ env.PLAYWRIGHT_SNAPSHOTS_ARTIFACTS_KEY }}
          if-no-files-found: ignore
          retention-days: 1

  result:
    if: ${{ !contains(github.head_ref , 'release/') }}
    name: result
    needs: [cypress, playwright]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.3
      - uses: taiga-family/ci/actions/variables@1.7.6

      - name: Download artifacts / ${{ env.CYPRESS_SNAPSHOTS_ARTIFACTS_KEY }}
        continue-on-error: true
        uses: actions/download-artifact@v3.0.2
        with:
          name: ${{ env.CYPRESS_SNAPSHOTS_ARTIFACTS_KEY }}
          path: ./total/cypress

      - name: Download artifacts / ${{ env.PLAYWRIGHT_SNAPSHOTS_ARTIFACTS_KEY }}
        continue-on-error: true
        uses: actions/download-artifact@v3.0.2
        with:
          name: ${{ env.PLAYWRIGHT_SNAPSHOTS_ARTIFACTS_KEY }}
          path: ./total/playwright

      - name: Check if diff-output exists
        id: diff-checker
        run: |
          echo "diff_exist=$(find ./total -regex '.*diff\.png$' | wc -l | sed -e 's/^[[:space:]]*//')" >> $GITHUB_OUTPUT

      - name: Fall with an error if diff-output exists
        if: ${{ steps.diff-checker.outputs.diff_exist != '0' }}
        run: |
          find ./total -regex '.*diff\.png$' -exec echo "{}" \;
          exit 1

concurrency:
  group: e2e-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
