name: ⚠️ Publish Taiga UI packages
on:
  push:
    branches: ['release/*']

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.3
      - name: Setup global variables
        uses: ./.github/actions/variables
      - name: Setup Node.js and Cache
        uses: ./.github/actions/nodejs

      - name: Build publishable libraries
        run: npm run run-many:build:libs

      - name: Publish libraries
        run: npm run run-many:publish:libs

      - name: Get new version
        id: info
        run: echo "version=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Announce
        uses: ./.github/actions/announce
        with:
          version: ${{ steps.info.outputs.version }}
          url: ${{ secrets.ANNOUNCE_WEBHOOK }}
          channel: ${{ secrets.ANNOUNCE_TARGET }}

concurrency:
  group: release-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
