name: ⚠️ Publish canary
on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 1-5' # At UTC 20:00 (MSK 23:00) on every day-of-week from Monday through Friday

env:
  NX_DISABLE_NX_CACHE: true
  NX_DISABLE_REMOTE_CACHE: true

jobs:
  publish-canary:
    runs-on: ubuntu-latest
    name: Publish canary
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: taiga-family/ci/actions/setup/variables@v1.186.0
      - uses: taiga-family/ci/actions/setup/node@v1.186.0
      - uses: taiga-family/ci/actions/setup/config/npm@v1.186.0
        with:
          token: ${{ secrets.TAIGA_UI_SCOPE_NPM_TOKEN }}
      - run: npx ts-node ./scripts/publish-canary.ts

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
