name: ⚠️ Publish canary management
on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 1-5' # At UTC 20:00 (MSK 23:00) on every day-of-week from Monday through Friday

jobs:
  canary-3x:
    name: Packages
    runs-on: ubuntu-latest
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.57.3
        with:
          ref: v3.x
      - uses: taiga-family/ci/actions/setup/variables@v1.57.3
      - uses: taiga-family/ci/actions/setup/node@v1.57.3
        with:
          node-version: '18.x'
          validate-peer-deps: 'false'
      - uses: taiga-family/ci/actions/setup/config/npm@v1.57.3
        with:
          token: ${{ secrets.TAIGA_UI_SCOPE_NPM_TOKEN }}
      - run: npm run run-many:build:libs
      - run: npx ts-node ./scripts/publish-canary.ts

concurrency:
  group: publish-canary-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
