name: ⚠️ Publish Taiga UI packages
on:
  push:
    branches: ['release/*']

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    env:
      NX_SKIP_NX_CACHE: true
    steps:
      - uses: taiga-family/ci/actions/setup/checkout@v1.51.6
        with:
          fetch-depth: 0
      - uses: taiga-family/ci/actions/setup/variables@v1.51.6
      - uses: taiga-family/ci/actions/setup/node@v1.51.6
      - uses: taiga-family/ci/actions/setup/config/npm@v1.51.6
        with:
          token: ${{ secrets.TAIGA_UI_SCOPE_NPM_TOKEN }}

      - name: Build publishable libraries
        run: npm run run-many:build:libs

      - name: Publish libraries
        run: npm run run-many:publish:libs

      - name: Get new version
        id: info
        run: echo "version=v$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Announce to Time messenger
        uses: taiga-family/ci/actions/messenger/time/announce@v1.51.6
        with:
          url: ${{ secrets.ANNOUNCE_WEBHOOK }}
          channel: ${{ secrets.ANNOUNCE_TARGET }}
          version: ${{ steps.info.outputs.version }}

      - name: Announce to Telegram messenger
        uses: taiga-family/ci/actions/messenger/telegram/announce@v1.51.6
        with:
          chatId: ${{ secrets.TAIGA_TELEGRAM_CHAT_ID }}
          topicId: ${{ secrets.TAIGA_TELEGRAM_CHAT_THREAD_ID }}
          token: ${{ secrets.TAIGA_TELEGRAM_BOT_TOKEN }}
          version: ${{ steps.info.outputs.version }}
          textLink: '@taiga-ui/cdk'

concurrency:
  group: release-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
