name: Update dependencies

on:
  workflow_dispatch:
  schedule:
    # every day 8am
    - cron: '0 8 * * *'

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v34.158.2
        with:
          token: ${{ secrets.TINKOFF_BOT_PAT }}
          configurationFile: renovate.json
        env:
          LOG_LEVEL: 'debug'
