name: ⚙️ Schematics
on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**/taiga-schematics/**'
      - '**/schematics/**'

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  schematics:
    if: ${{ !contains(github.head_ref , 'release/') }}
    runs-on: ubuntu-latest
    name: Run the latest migration
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: taiga-family/ci/actions/setup/node@v1.186.0
      - uses: taiga-family/ci/actions/run/node-info@v1.186.0
        id: info
      - run: npx nx run cdk:schematics --v=${{ steps.info.outputs.root-package-major-version }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
