name: ⚙️ Unit tests
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    if: ${{ !contains(github.head_ref, 'release/') }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    name: Unit tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: taiga-family/ci/actions/setup/variables@v1.110.0
      - uses: taiga-family/ci/actions/setup/node@v1.110.0
      - run: npm test
      - uses: codecov/codecov-action@v5.3.1
        if: ${{ matrix.os == 'ubuntu-latest' }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          directory: ./coverage/
          flags: summary
          name: units

  test-result:
    if: ${{ !contains(github.head_ref , 'release/') }}
    name: Tests result
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: taiga-family/ci/actions/setup/variables@v1.110.0
      - uses: taiga-family/ci/actions/setup/node@v1.110.0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
