name: ⚙️ Unit tests
on:
  pull_request:
  push:
    branches: [main, 'v[0-9]+.x']

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  test:
    if: ${{ !contains(github.head_ref, 'release/') }}
    name: Tests result
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: taiga-family/ci/actions/setup/variables@v1.187.0
      - uses: taiga-family/ci/actions/setup/node@v1.187.0
      - run: npm test
      - uses: codecov/codecov-action@v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          directory: ./coverage/
          flags: summary
          name: units

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
