[tuiBadge] {
    font-weight: 600;

    &[data-size='s'] {
        font: var(--tui-typography-ui-2xs);
        font-weight: bold;
        line-height: 0.875rem;
    }

    &[data-size='xl'] {
        --t-padding: 0 0.625rem;
        --t-size: 1.75rem;

        font: var(--tui-typography-body-s);
        font-weight: 600;
    }
}
