tui-block-status {
    padding: 2rem;

    .t-block-image:not(:empty) {
        margin-block-end: 1.5rem;
    }

    .t-block-actions:not(:empty) {
        margin-block-start: 1.5rem;
    }

    &._card {
        padding: 1.25rem;

        & .t-block-image {
            margin-block-start: 0.75rem;
            margin-block-end: 1rem;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font: var(--tui-typography-heading-h5);

        & ~ .t-block-text:not(:empty) {
            margin-block-start: 0.5rem;
        }
    }

    img {
        inline-size: 8rem;
        block-size: 8rem;
    }

    a:not(:last-child),
    button:not(:last-child) {
        margin-block-end: 0.5rem;
    }
}
