[tuiCardLarge] [tuiButton] {
    width: 100%;
}

[tuiButton],
[tuiIconButton] {
    &[data-size='xs'],
    &[data-size='s'],
    &[data-size='l'] {
        --t-radius: 1rem;
    }

    &[data-size='m'] {
        --t-radius: 0.75rem;
    }

    &[data-appearance='primary']:disabled:not(._loading),
    &[data-appearance='secondary']:disabled:not(._loading),
    &[data-appearance='accent']:disabled:not(._loading),
    &[data-appearance='destructive']:disabled:not(._loading),
    &[data-appearance='opposite']:disabled:not(._loading),
    &[data-appearance='flat']:disabled:not(._loading) {
        background: var(--tui-background-neutral-1);
        color: var(--tui-background-neutral-1-pressed);
        opacity: 1;

        &[data-appearance='flat'] {
            background: transparent;
        }
    }
}

[tuiButton][tuiButtonVertical] {
    gap: 0.5rem;
}
