[tuiButtonNew] {
    width: 100%;

    &[data-size='xs'],
    &[data-size='s'],
    &[data-size='l'] {
        --t-radius: 1rem;
    }

    &[data-size='l'] {
        font: var(--tui-font-text-l);
        font-weight: bold;
    }

    &[data-size='m'] {
        --t-radius: 0.75rem;
    }

    &:disabled:not(._loading) {
        background: var(--tui-clear);
        color: var(--tui-clear-active);
        opacity: 1;

        &[data-appearance='flat'] {
            background: transparent;
        }
    }
}

[tuiButton][tuiButtonVertical] {
    gap: 0.5rem;
}
