[tuiCardLarge][data-space] {
    &[data-space='normal'] {
        --t-padding: 1.25rem;
        --t-space: 1.25rem;
    }

    &[data-space='compact'] {
        --t-padding: 1rem;
        --t-space: 1rem;
        --t-comp: -0.125rem;
    }

    [tuiHeader] {
        margin-block-end: -0.5rem;

        + [tuiCell] {
            margin-block-start: 0;
        }

        + [tuiDescription] {
            margin-block: -0.25rem -0.5rem;
            font: var(--tui-typography-ui-l);
        }
    }

    [tuiHeader] [tuiTitle],
    &[tuiHeader] [tuiTitle] {
        gap: 0.5rem;
    }
}
