[tuiCard='l'] {
    &[data-size='l'] {
        &[data-space='normal'] {
            padding: 1.25rem;
            gap: 1.25rem;
        }

        &[data-space='compact'] {
            padding: 1rem;
            gap: 1rem;
        }
    }
}
