tui-chip,
[tuiChip] {
    border-radius: 2rem;

    &[data-size='s'] {
        --t-size: 1.875rem;
        --t-padding: 0.6875rem;

        > img,
        [tuiAvatar] {
            margin-inline-start: -0.5rem;
        }
    }

    &[data-size='m'] {
        --t-size: 2rem;
        --t-padding: 0.875rem;

        > img,
        [tuiAvatar] {
            margin-inline-start: -0.625rem;
        }
    }

    > img,
    [tuiAvatar] {
        border-radius: 100%;
    }
}
