[tuiHeader] {
    &[data-size='xxl'],
    &[data-size='xl'],
    &[data-size='l'],
    &[data-size='h1'],
    &[data-size='h2'],
    &[data-size='h3'] {
        [tuiTitle] {
            gap: 1rem;
        }

        [tuiSubtitle] {
            font: var(--tui-font-text-m);
        }

        + [tuiDescription] {
            margin-block-start: 1rem;
        }
    }

    &[data-size='m'],
    &[data-size='h4'],
    &[data-size='h5'] {
        [tuiTitle] {
            gap: 0.5rem;
        }
    }

    [tuiAccessories] {
        gap: 1rem;

        [tuiLink] {
            font: var(--tui-font-text-l);
        }
    }

    &[data-size='xxs'],
    &[data-size='h6'],
    &[data-size='body-l'],
    &[data-size='body-m'],
    &[data-size='body-s'] {
        [tuiTitle],
        [tuiAccessories] {
            font: var(--tui-font-heading-6);
        }

        [tuiSubtitle] {
            font: var(--tui-font-text-ui-s);
        }
    }
}
