tui-notification,
[tuiNotification] {
    &[data-size='l'],
    &[data-size='l'] [tuiSubtitle] {
        font: var(--tui-font-text-ui-l);

        &[data-icon-start] {
            --t-start: 2.25rem;
        }

        &::before {
            inset-inline-start: -1.25rem;
        }
    }

    &[data-size='m'],
    &[data-size='m'] [tuiSubtitle] {
        font: var(--tui-font-text-ui-m);

        &[data-icon-start] {
            --t-start: 2.25rem;
        }

        &::before {
            font-size: 1.5rem;
            inset-block-start: 0.625rem;
            inset-inline-start: -1.5rem;
        }
    }
}
