[tuiTitle] {
    gap: 0.25rem;

    [tuiSubtitle] {
        color: var(--tui-text-secondary);
    }
}

tui-notification [tuiTitle] [tuiSubtitle],
[tuiNotification] [tuiTitle] [tuiSubtitle] {
    color: var(--tui-text-primary);
}
