[tuiToast] {
    min-block-size: 3rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;

    [tuiTitle]:last-child:first-child {
        margin-inline-start: 0.25rem;
        margin-inline-end: 0.25rem;
    }

    [tuiIconButton] {
        inline-size: 0.4375rem;
        padding-block-start: 0.125rem;
        margin-inline-start: 0;

        &[tuiIcons]::before,
        &[tuiIcons]::after {
            font-size: 1rem;
        }
    }

    [tuiButton] {
        color: var(--tui-background-accent-1);
    }

    [tuiButton]:last-child {
        margin-inline-end: -0.375rem;
    }

    tui-avatar:first-child {
        margin: 0.25rem 0 0.25rem -0.25rem;
    }

    tui-avatar:first-child + * + [tuiButton]:last-child {
        margin-inline-end: 0;
    }

    &:has(tui-avatar) {
        gap: 0.75rem;
    }

    &:has([tuiTitle]:first-child):has([tuiIconButton]:last-child) {
        --t-padding: 0.5rem 1rem 0.5rem 1.25rem;
    }
}
