@import '@taiga-ui/core/styles/taiga-ui-local';

.tooltip {
    height: 1.25rem;
    min-width: 6.25rem;
}

.wrapping-tooltip {
    width: fit-content;
    max-width: 11rem;
    background: var(--tui-base-02);
    border-radius: 0.5rem;
    line-height: 1.5rem;
    padding: 0.375rem 1.875rem 0.375rem 0.5rem;
    resize: horizontal;
    overflow: auto;

    & [tuiTooltip] {
        position: absolute;
    }
}
