<ng-container *ngIf="control.control?.valueChanges | async"></ng-container>

<tui-data-list-wrapper
    *tuiDataList
    tuiMultiSelectGroup
    [items]="items"
    [itemContent]="stringify | tuiStringifyContent"
    [disabledItemHandler]="disabledItemHandler || host.disableItemHandler"
></tui-data-list-wrapper>
<option
    *ngFor="let option of items"
    [selected]="option | tuiMapper : selectedMapper : control.value"
    [value]="stringify(option)"
    [disabled]="disabledItemHandler ? disabledItemHandler(option) : host.disableItemHandler(option)"
>
    {{ stringify(option) }}
</option>
