<ng-container *ngIf="control.control?.valueChanges | async"></ng-container>

<tui-data-list-wrapper
    *tuiDataList
    tuiMultiSelectGroup
    [disabledItemHandler]="disabledItemHandler || host.disableItemHandler"
    [itemContent]="stringify | tuiStringifyContent"
    [items]="items"
    [labels]="labels"
></tui-data-list-wrapper>
<optgroup
    *ngFor="let group of items; let index = index"
    [label]="labels[index]"
>
    <option
        *ngFor="let option of group"
        [disabled]="disabledItemHandler ? disabledItemHandler(option) : host.disableItemHandler(option)"
        [selected]="option | tuiMapper: selectedMapper : control.value"
        [value]="stringify(option)"
    >
        {{ stringify(option) }}
    </option>
</optgroup>
