<tui-hosted-dropdown
    class="hosted"
    [canOpen]="interactive"
    [content]="dropdown"
    [open]="open && interactive"
    (openChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        class="textfield"
        [editable]="false"
        [disabled]="computedDisabled"
        [nativeId]="nativeId"
        [readOnly]="readOnly"
        [iconContent]="calendarIcon"
        [pseudoFocused]="pseudoFocused"
        [pseudoHovered]="pseudoHovered"
        [invalid]="computedInvalid"
        [value]="(value | tuiMapper : formatter | async) || ''"
        (valueChange)="onValueChange($event)"
        (hoveredChange)="onHovered($event)"
        (focusedChange)="onFocused($event)"
    >
        <ng-content></ng-content>
        <ng-content
            select="input"
            ngProjectAs="input"
        ></ng-content>
    </tui-primitive-textfield>

    <ng-template #dropdown>
        <tui-calendar-month
            tuiPreventDefault="mousedown"
            [disabledItemHandler]="disabledItemHandler"
            [min]="min"
            [max]="max"
            [value]="value"
            [(year)]="activeYear"
            (monthClick)="onMonthClick($event)"
        ></tui-calendar-month>
    </ng-template>
</tui-hosted-dropdown>
