<tui-hosted-dropdown
    class="t-hosted"
    [canOpen]="interactive && !nativePicker"
    [content]="dropdown"
    [open]="open && interactive"
    (openChange)="onOpenChange($event)"
>
    <tui-primitive-textfield
        class="t-textfield"
        [disabled]="computedDisabled"
        [editable]="false"
        [invalid]="computedInvalid"
        [nativeId]="nativeId"
        [pseudoFocus]="pseudoFocus"
        [pseudoHover]="pseudoHover"
        [readOnly]="readOnly"
        [tuiTextfieldIcon]="calendarIcon"
        [value]="(value | tuiMapper: formatter | async) || ''"
        (focusedChange)="onFocused($event)"
        (valueChange)="onValueChange($event)"
    >
        <ng-content></ng-content>
        <ng-content
            ngProjectAs="input"
            select="input"
        ></ng-content>
        <input
            *ngIf="nativePicker"
            type="month"
            class="t-mobile"
            [max]="nativePickerMax"
            [min]="nativePickerMin"
            [ngModel]="nativeValue"
            (click.stop.silent)="(0)"
            (mousedown.stop.silent)="(0)"
            (ngModelChange)="onNativeChange($event)"
        />
    </tui-primitive-textfield>

    <ng-template #dropdown>
        <tui-calendar-month
            tuiPreventDefault="mousedown"
            [disabledItemHandler]="disabledItemHandler"
            [max]="computedMax"
            [min]="computedMin"
            [value]="value"
            [year]="computedDefaultActiveYear"
            (monthClick)="onMonthClick($event)"
            (yearChange)="activeYear = $event"
        ></tui-calendar-month>
    </ng-template>
</tui-hosted-dropdown>
