<ng-container *tuiTextfieldContent>
    <input
        *ngIf="useNativePicker"
        type="month"
        class="t-native-input-month"
        [max]="max()?.toJSON()"
        [min]="min()?.toJSON()"
        [value]="value()?.toJSON()"
        (click.stop.zoneless)="(0)"
        (input)="onNativePickerInput($event)"
        (mousedown.stop.zoneless)="(0)"
    />
</ng-container>

<tui-calendar-month
    *tuiTextfieldDropdown
    [disabledItemHandler]="disabledItemHandler"
    [max]="max()"
    [min]="min()"
    [value]="value()"
    [year]="year()"
    (monthClick)="onMonthClick($event)"
    (mousedown.prevent.silent)="(0)"
    (yearChange)="selectedYear.set($event)"
/>
