@import 'taiga-ui-local';

.dummy {
    margin-bottom: 12px;
    padding: 12px;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    background-color: rgba(208, 2, 27, 0.3);
}

.tui-row {
    &_example {
        margin-top: 12px;
        height: 85px;
        box-shadow: 0 0 0 2px rgba(204, 228, 255, 0.5) inset;
    }
}
