@import '@taiga-ui/core/styles/taiga-ui-local';

[tuiLink] {
    --tui-text-03: var(--tui-text-02);

    padding: 0;
    background: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font: inherit;

    &:hover {
        --tui-text-02: var(--tui-text-01);
    }

    &:before {
        margin-inline-end: 0.25rem;
    }

    &:after {
        margin-inline-start: 0.25rem;
    }

    &._pseudo {
        text-decoration: underline dashed currentColor;
        text-underline-offset: 0.2em;
        text-decoration-thickness: 0.7px;
        text-decoration-color: color-mix(in lch, currentColor, transparent);
    }

    &[tuiIcons]._icon-left:before,
    &[tuiIcons]._icon-right:after {
        content: '\2060';
        padding: calc(var(--tui-icon-size, 1rem) / 2);
        vertical-align: super;
        font-size: 0;
        line-height: 0;
    }

    .appearance-focus({
        outline: none;
        background: var(--tui-selection);
        background: color-mix(in lch, currentColor 12%, transparent);
    });
}
