<tui-doc-page header="RadioLabeled" package="KIT" type="components">
    <ng-template pageTab>
        <p i18n>
            <code>RadioLabeled</code> is a radio and a label. Label click
            changes form value. Without label:
            <a tuiLink routerLink="/components/radio"><code>Radio</code></a
            >.
        </p>

        <tui-doc-example
            id="base"
            i18n-heading
            heading="Label without formatting"
            [content]="example1"
        >
            <tui-radio-labeled-example-1></tui-radio-labeled-example-1>
        </tui-doc-example>

        <tui-doc-example
            id="custom"
            i18n-heading
            heading="Label with formatting"
            [content]="example2"
        >
            <tui-radio-labeled-example-2></tui-radio-labeled-example-2>
        </tui-doc-example>

        <tui-doc-example
            id="large"
            i18n-heading
            heading="Big size"
            [content]="example3"
        >
            <tui-radio-labeled-example-3></tui-radio-labeled-example-3>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-radio-labeled
                    class="tui-space_bottom-3"
                    [formControl]="control"
                    [item]="items[0]"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [pseudoDisabled]="pseudoDisabled"
                    [size]="size"
                    [focusable]="focusable"
                    [readOnly]="readOnly"
                >
                    One
                </tui-radio-labeled>
                <tui-radio-labeled
                    class="tui-space_bottom-3"
                    [formControl]="control"
                    [item]="items[1]"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [pseudoDisabled]="pseudoDisabled"
                    [size]="size"
                    [focusable]="focusable"
                    [readOnly]="readOnly"
                >
                    Two
                </tui-radio-labeled>
                <tui-radio-labeled
                    class="tui-space_bottom-3"
                    [formControl]="control"
                    [item]="items[2]"
                    [pseudoInvalid]="pseudoInvalid"
                    [pseudoFocused]="pseudoFocused"
                    [pseudoHovered]="pseudoHovered"
                    [pseudoPressed]="pseudoPressed"
                    [pseudoDisabled]="pseudoDisabled"
                    [size]="size"
                    [focusable]="focusable"
                    [readOnly]="readOnly"
                >
                    Three
                </tui-radio-labeled>
            </ng-template>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use <code>formControl.disable()</code>)
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="identityMatcher"
                documentationPropertyMode="input"
                documentationPropertyType="TuiIdentityMatcher"
            >
                Function that matches value and items, e.g. if objects are
                copied. Uses <code>===</code> by default.

                <strong>Must be a pure function</strong>
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="pseudoDisabled"
                documentationPropertyMode="input"
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="pseudoDisabled"
            >
                Emulates disabled state without disabling a form
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="size"
                documentationPropertyMode="input"
                documentationPropertyType="TuiSizeL"
                [documentationPropertyValues]="sizeVariants"
                [(documentationPropertyValue)]="size"
            >
                Size
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiRadioLabeledModule</code> in the same module where
                    you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleImportModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>
                    Declare a form (<code>FormGroup</code>) or a control
                    (<code>FormControl</code>) in your component:
                </p>

                <tui-doc-code
                    filename="myComponent.component.ts"
                    [code]="exampleDeclareForm"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleInsertTemplate"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
