.tui-player {
    display: flex;
    width: 320px;
    border-radius: 100px;
    background: var(--tui-secondary);

    --tui-primary: var(--tui-link);
    --tui-primary-hover: var(--tui-link-hover);
    --tui-primary-active: var(--tui-link-hover);

    & > div {
        flex: 1;
        margin: 6px 28px 0 6px;
    }
}
