@import '@taiga-ui/core/styles/taiga-ui-local';

@size-xs: 2rem;
@size-s: 3rem;
@size-m: 4rem;
@size-l: 6rem;
@size-xl: 8rem;

:host {
    .transition();

    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--tui-base-02);
    background-size: cover !important;
    color: var(--tui-text-03);
    transition-property: color, background-color;

    &[data-size='xs'] {
        width: @size-xs;
        height: @size-xs;
    }

    &[data-size='s'] {
        width: @size-s;
        height: @size-s;
    }

    &[data-size='m'] {
        width: @size-m;
        height: @size-m;
    }

    &[data-size='l'] {
        width: @size-l;
        height: @size-l;
    }

    &[data-size='xl'] {
        width: @size-xl;
        height: @size-xl;
    }

    &[new] {
        &[data-size='xxs'] {
            width: 1.5rem;
            height: 1.5rem;

            .t-icon {
                transform: scale(0.58);
            }
        }

        &[data-size='xs'] {
            width: 2rem;
            height: 2rem;

            .t-icon {
                transform: scale(0.83);
            }
        }

        &[data-size='s'] {
            width: 2.5rem;
            height: 2.5rem;

            .t-icon {
                transform: scale(1);
            }
        }

        &[data-size='m'] {
            width: 3rem;
            height: 3rem;

            .t-icon {
                transform: scale(1);
            }
        }

        &[data-size='l'] {
            width: 4rem;
            height: 4rem;

            .t-icon {
                transform: scale(1.33);
            }
        }

        &[data-size='xl'] {
            width: 6rem;
            height: 6rem;

            .t-icon {
                transform: scale(2.33);
            }
        }

        &[data-size='xxl'] {
            width: 8rem;
            height: 8rem;

            .t-icon {
                transform: scale(3.33);
            }
        }
    }

    &[data-mode='onDark']:not([data-marker-mode]) {
        background-color: var(--tui-clear-inverse);
        color: var(--tui-base-01);
    }

    &[data-marker-mode='primary'] {
        background-color: var(--tui-primary);
        color: var(--tui-primary-text);
    }

    &[data-marker-mode='white'] {
        background-color: var(--tui-base-01);
        color: var(--tui-text-03);
    }

    &[data-marker-mode='warning'] {
        background-color: var(--tui-warning-bg);
        color: var(--tui-warning-fill);
    }

    &[data-marker-mode='secondary'] {
        background-color: var(--tui-info-fill);
        color: var(--tui-base-01);
    }

    &[data-marker-mode='error'] {
        background-color: var(--tui-error-bg);
        color: var(--tui-error-fill);
    }

    &[data-marker-mode='success'] {
        background-color: var(--tui-success-bg);
        color: var(--tui-success-fill);
    }

    &[data-marker-mode='link'] {
        .transition(color);

        background-color: var(--tui-secondary);
        color: var(--tui-link);

        a&,
        button& {
            cursor: pointer;

            &:hover {
                background-color: var(--tui-secondary-hover);
                color: var(--tui-link-hover);
            }

            &:active {
                background-color: var(--tui-secondary-active);
                color: var(--tui-link-hover);
            }
        }
    }
}

.t-icon {
    width: 1.5rem;
    height: 1.5rem;

    :host[data-size='xs'] & {
        transform: scale(1);
    }

    :host[data-size='s'] & {
        transform: scale(1);
    }

    :host[data-size='m'] & {
        transform: scale(1.33);
    }

    :host[data-size='l'] & {
        transform: scale(2);
    }

    :host[data-size='xl'] & {
        transform: scale(2.67);
    }
}
