<tui-doc-page
    header="Range"
    package="KIT"
    type="components"
>
    <ng-template pageTab>
        <div>A two-thumb slider for selecting a range of values</div>

        @for (example of examples; track example) {
            <tui-doc-example
                [component]="$index + 1 | tuiComponent"
                [content]="$index + 1 | tuiExample"
                [description]="description"
                [heading]="example"
            >
                <ng-template #description>
                    @switch ($index) {
                        @case (0) {
                            Use css-variable
                            <code>--tui-thumb-size</code>
                            to customize radius of the thumb and track thickness.
                        }
                        @case (1) {
                            Use mixin
                            <code>tui-slider-ticks-labels</code>
                            to place labels strictly below ticks
                        }
                        @case (2) {
                            <strong>Key steps</strong>
                            – anchor points of non-uniform format between control's value and slider's position.

                            <p class="tui-space_bottom-0">
                                When
                                <code>[keySteps]</code>
                                property is enabled,
                                <code>[step]</code>
                                means percentage of total track length.
                            </p>
                        }
                    }
                </ng-template>
            </tui-doc-example>
        }
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo [control]="control">
            <ng-template>
                <tui-range
                    [formControl]="control"
                    [keySteps]="keySteps || undefined"
                    [limit]="limit"
                    [margin]="margin"
                    [max]="max"
                    [min]="min"
                    [segments]="segments"
                    [step]="step"
                    [style.--tui-thumb-size.px]="thumbSize"
                />
            </ng-template>
        </tui-doc-demo>
        <table tuiDocAPI>
            <tr
                name="[disabled]"
                tuiDocAPIItem
                type="boolean"
                [(value)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </tr>
            <tr
                name="[min]"
                tuiDocAPIItem
                type="number"
                [(value)]="min"
            >
                The lowest value in the range of permitted values.
                <p>
                    The default is
                    <code>0</code>
                    .
                </p>
            </tr>
            <tr
                name="[max]"
                tuiDocAPIItem
                type="number"
                [(value)]="max"
            >
                The greatest value in the range of permitted values.
                <p>
                    The default is
                    <code>100</code>
                    .
                </p>
            </tr>
            <tr
                name="[step]"
                tuiDocAPIItem
                type="number"
                [(value)]="step"
            >
                Granularity of each discrete slider step and value of increase/decrease on keyboard arrows.

                <p>
                    For non-linear slider (
                    <code>[keySteps]</code>
                    property is enabled)
                    <code>[step]</code>
                    means percentage of total track length.
                </p>
            </tr>
            <tr
                name="[segments]"
                tuiDocAPIItem
                type="number"
                [(value)]="segments"
            >
                A number of visual segments.
                <p>
                    The default is
                    <code>1</code>
                    (no ticks).
                </p>
            </tr>
            <tr
                name="[keySteps]"
                tuiDocAPIItem
                type="TuiKeySteps | null"
                [items]="keyStepsVariants"
                [(value)]="keySteps"
            >
                Anchor points of non-uniform format between value and position.
                <p>
                    The default is
                    <code>null</code>
                    .
                </p>
            </tr>
            <tr
                name="[limit]"
                tuiDocAPIItem
                type="number"
                [items]="limitVariants"
                [(value)]="limit"
            >
                Limiting the maximum distance between two thumbs.
                <p>
                    The default is
                    <code>Infinity</code>
                    .
                </p>
            </tr>
            <tr
                name="[margin]"
                tuiDocAPIItem
                type="number"
                [(value)]="margin"
            >
                Limiting the minimum distance between two thumbs.
                <p>
                    The default is
                    <code>0</code>
                    .
                </p>
            </tr>
            <tbody>
                <tr>
                    <td colspan="3">
                        <span tuiTitle>
                            <strong>CSS customization</strong>
                        </span>
                    </td>
                </tr>

                <tr
                    name="[style.--tui-thumb-size.px]"
                    tuiDocAPIItem
                    type="number"
                    [(value)]="thumbSize"
                >
                    Size of thumb
                </tr>
            </tbody>
        </table>
    </ng-template>
</tui-doc-page>
