@import 'taiga-ui-local';

.description {
    margin-bottom: 2rem;
}

.steps {
    list-style-type: disc;
    padding-left: 0.9375rem;
    margin: 1rem 0;

    &_optional {
        list-style-type: circle;
    }
}
