@import '@taiga-ui/styles/utils';

.footer {
    position: relative;
    display: flex;
    inline-size: 100%;
    block-size: var(--tui-height-m);
    align-items: center;
    color: var(--tui-text-secondary);
}

.counter {
    .transition(inline-size);

    position: absolute;
    inline-size: 100%;
    min-inline-size: var(--tui-height-m);
    inset-inline-end: 0;
    overflow: hidden;

    &_minimized {
        inline-size: var(--tui-height-m);
        color: transparent;
    }
}
