<tui-doc-page
    header="Editor"
    package="ADDON-EDITOR"
    type="components"
>
    <ng-template pageTab>
        <p i18n>
            Rich Text Editor for using with Angular forms. For safety reasons use a
            <a
                tuiLink
                routerLink="/icon-set"
                fragment="sanitizer"
            >
                sanitizer
            </a>
            with this component.
        </p>

        <tui-notification
            i18n
            status="warning"
            class="tui-space_top-4"
        >
            This component is experimental. Use it with caution.
        </tui-notification>

        <tui-doc-example
            id="basic"
            i18n-heading
            heading="Basic"
            [content]="example1"
        >
            <tui-editor-example-1></tui-editor-example-1>
        </tui-doc-example>
    </ng-template>

    <ng-template pageTab>
        <tui-doc-demo>
            <tui-editor
                [formControl]="control"
                [focusable]="focusable"
                [exampleText]="exampleText"
                [readOnly]="readOnly"
                [tools]="tools"
                [pseudoInvalid]="pseudoInvalid"
                [pseudoFocused]="pseudoFocused"
                [pseudoHovered]="pseudoHovered"
            >
                Start typing
            </tui-editor>
        </tui-doc-demo>
        <tui-doc-documentation>
            <ng-template
                i18n
                documentationPropertyName=""
                documentationPropertyType="boolean"
                [(documentationPropertyValue)]="disabled"
            >
                Disabled state (use
                <code>formControl.disable()</code>
                )
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="exampleText"
                documentationPropertyMode="input"
                documentationPropertyType="string"
                [(documentationPropertyValue)]="exampleText"
            >
                Example text shown on empty focused input
            </ng-template>
            <ng-template
                i18n
                documentationPropertyName="tools"
                documentationPropertyMode="input"
                documentationPropertyType="ReadonlyArray<TuiEditorTool>"
                [documentationPropertyValues]="toolsVariants"
                [(documentationPropertyValue)]="tools"
            >
                Allowed edit tools
            </ng-template>
        </tui-doc-documentation>
        <inherited-documentation></inherited-documentation>
    </ng-template>

    <ng-template pageTab>
        <ol class="b-demo-steps">
            <li>
                <p i18n>
                    Import an Angular module for forms and
                    <code>TuiEditorModule</code>
                    in the same module where you want to use our component:
                </p>

                <tui-doc-code
                    filename="myComponent.module.ts"
                    [code]="exampleModule"
                ></tui-doc-code>
            </li>

            <li>
                <p i18n>Add to the template:</p>

                <tui-doc-code
                    filename="myComponent.template.html"
                    [code]="exampleHtml"
                ></tui-doc-code>
            </li>
        </ol>
    </ng-template>
</tui-doc-page>
