:host {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.blue,
.yellow,
.green,
.red {
    height: 1rem;
    width: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background: #428bf9;
    border: 2px solid var(--tui-base-02);
    box-shadow: none;
}

.yellow {
    background: #ffdd2d;
}

.green {
    background: #00b92d;
}

.red {
    background: #f52222;
}
