:host {
    display: flex;
    gap: 2rem;
    background: var(--tui-base-02);
    box-shadow: 0 0 0 2rem var(--tui-base-02);
    padding: 0.375rem 0 0 0.375rem;
    margin-bottom: -0.375rem;
}

.blue {
    background: #428bf9;
}

.yellow {
    background: #ffdd2d;
}

.green {
    background: #00b92d;
}

.red {
    background: #f52222;
}
