@import '@taiga-ui/core/styles/taiga-ui-local';

input {
    .fullsize();

    opacity: 0;
    pointer-events: auto;
    cursor: pointer;

    &:hover + tui-icon {
        opacity: 0.65;
    }
}

hr {
    position: absolute;
    bottom: -0.4rem;
    inline-size: 1.4rem;
    block-size: 0.3rem;
    border-radius: 0.125rem;
}
