.surface {
    margin: 1.5rem 1rem;
    min-width: 20rem;
    padding: 0.75rem 1rem;
    box-shadow: var(--tui-shadow);

    &:active {
        transform: scale(0.95);
    }
}

button[tuiSwipeAction] {
    border-radius: 100%;
}
