// This is used to trigger checkmark check when virtual scroll moves nodes around
@keyframes retrigger {
    from {
        left: 1px;
    }

    to {
        left: 2px;
    }
}

:host {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 100%;
    animation: retrigger 1s;
}

.t-checkmark {
    margin: 0 -0.375rem 0 auto;
    border-left: 5px solid transparent;
}

.t-dummy {
    width: 1.5rem;
}
